{% extends "dashboard/base_datatable.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Waiter Device" %}{% endblock %}

{% block datatable_title %}{% trans "Waiter Management" %}{% endblock datatable_title %}
{% block tab_div_style %}background: white; border-bottom: 1px solid #d7d7db;{% endblock %}

{% block applications_active_class %}active{% endblock %}
{% block mobile_applications_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_applications_show %}show{% endblock %}
{% block applications_waiter_management_class %}submenu-active{% endblock %}
{% block mobile_applications_waiter_management_class %}submenu-active{% endblock %}

{% block content_class %}fixed-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important; width:87%;{% endblock %}
{% block tab_section_style %}border-bottom: 1px solid #d7d7db;{% endblock %}

{% block datatable_id %}tbl_product{% endblock datatable_id %}

{% block css %}
  {{ block.super }}
  <!-- Your stuff: Third-party css libraries go here -->

  <style>
    .switch {
      margin-top: 3px;
      position: relative;
      display: inline-block;
      width: 40px;
      height: 20px;
    }

    .switch input {display:none;}

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 12px;
      width: 12px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    .switch input:checked + .slider {
      background-color: #2196F3;
    }

    .switch input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    .switch input:checked + .slider:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
  </style>
{% endblock %}

{% block enable_settings %}
<div id="div_id_is_enabled" class="form-check d-flex m-0 p-0"> <label class="switch mt-2">
    <input type="checkbox" name="is_enabled" id="id_is_enabled" {% if request.user.account.waitersettings_set.first.is_enabled == True  %} checked{% endif %}>
    <span class="slider round"></span></label>
</div>
{% endblock %}

{% block tab_list %}
  <ul class="nav nav-tabs pt-2" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'waiters:list' %}" >{% trans "List" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" id="waiter-management-tab" data-toggle="tab" href="#waiter-management"
         role="tab" aria-controls="waiter-management" aria-selected="true" >{% trans "Devices" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'waiters:settings' %}" >{% trans "Outlet" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'waiters:steps' %}" >{% trans "How To" %}</a>
    </li>
  </ul>
{% endblock %}

{% block datatable_thead_tr %}
<th>{% trans "Device Name" %}</th>
<th>{% trans "Last User Login" %}</th>
<th>{% trans "Last Login" %}</th>
<th class="no-sort">{% trans "Status" %}</th>
{% endblock datatable_thead_tr %}

{% block datatable_filter %}
<tr class='datatable-filter'>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td></td>
  <td></td>
</tr>
{% endblock datatable_filter %}

{% block javascript %}
{{ block.super }}
<script>
  $(document).ready(function () {
    base_url = "{% url 'waiters:device-data' %}";
    var setting_enable_url = "{% url 'waiters:settings_enable' %}";
    var checked = $('.switch #id_is_enabled').is(':checked');
    enable_status ='{{ request.user.account.waitersettings_set.first.is_enabled }}';

    function enable_waitersettings(){
        $.ajax({
          type: 'POST',
          url: setting_enable_url,
          dataType: 'json',
          data: {
            is_enabled : $('.switch #id_is_enabled').is(':checked') ? true : false,
          },

          beforeSend: function(jqXHR, settings){
            jqXHR.setRequestHeader("x-csrftoken", '{{ csrf_token }}');
          },
          success: function(response){
             if (response.data == false){
                var url = "{% url 'waiters:settings_disable' %}";
                document.location.href = url ;
             }
          }
        });
      }

      $('.switch #id_is_enabled').on('change', function(){
          enable_waitersettings()
      });

      if (enable_status == 'False'){
          var url = "{% url 'waiters:settings_disable' %}";
          document.location.href = url ;
    }

    tableOptions = {
      columnDefs: [
        {targets: 'no-sort', orderable: false},
        {
          targets: [2],
          render: function (data, type, full, meta) {
            var data_date = data;
            if (data_date != "" ) {
                var new_date = moment(data_date);
                date = new_date.format('DD/MM/YYYY HH:mm:ss');
                return date;
            }
            return data_date;
          },
        },
        {
          targets: [3],
          render: function (data, type, full, meta) {
            var data_date = data;
            var new_date = moment(data_date);
            date = new_date.format('DD/MM/YYYY HH:mm:ss');
            last_activity = "{% trans 'last activity on' %} "+ date;

            if(data.is_active) {
              data = "<h5><span title='"+ last_activity +"' class='badge badge-primary'>{% trans 'Active' %}</span></h5>";
            } else {
              data = "<h5><span title='"+ last_activity +"' class='badge badge-info'>{% trans 'Inactive' %}</span></h5>";
            }
            return data;
          },
        }
      ],
    }

    function tog(v){return v?'addClass':'removeClass';}

    $('#delete-waiter-modal').on('show.bs.modal', function(e) {
      var id = $(e.relatedTarget).data('id');
      $(this).find('.delete').data('id', id);
    });

    $(document).on('input', '.clearable', function(){
        $(this)[tog(this.value)]('x');
    }).on('mousemove', '.x', function( e ){
        $(this)[tog(this.offsetWidth-18 < e.clientX-this.getBoundingClientRect().left)]('onX');
    }).on('touchstart click', '.onX', function( ev ){
        ev.preventDefault();
        $(this).removeClass('x onX').val('').change();
    });

  });
</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
{% endblock %}
