{% extends "dashboard/base_datatable.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Outlet Waiter" %}{% endblock %}

{% block datatable_title %}{% trans "Waiter Management" %}{% endblock datatable_title %}
{% block tab_div_style %}background: white; border-bottom: 1px solid #d7d7db;{% endblock %}

{% block applications_active_class %}active{% endblock %}
{% block mobile_applications_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_applications_show %}show{% endblock %}

{% block content_class %}fixed-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important; width:87%;{% endblock %}
{% block applications_waiter_management_class %}submenu-active{% endblock %}
{% block mobile_applications_waiter_management_class %}submenu-active{% endblock %}
{% block tab_section_style %}border-bottom: 1px solid #d7d7db;{% endblock %}

{% block datatable_id %}tbl_product{% endblock datatable_id %}

{% block css %}
  {{ block.super }}
  <!-- Your stuff: Third-party css libraries go here -->

  <style>
    .switch {
      margin-top: 3px;
      position: relative;
      display: inline-block;
      width: 40px;
      height: 20px;
    }

    .switch input {display:none;}

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 12px;
      width: 12px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    .switch input:checked + .slider {
      background-color: #2196F3;
    }

    .switch input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    .switch input:checked + .slider:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
  </style>
{% endblock %}

{% block tab_list %}
  <ul class="nav nav-tabs pt-2" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="waiter-management-tab" data-toggle="tab" href="#waiter-management"
         role="tab" aria-controls="waiter-management" aria-selected="true">{% trans "List" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'waiters:device-list' %}" >{% trans "Devices" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'waiters:settings' %}" >{% trans "Outlet" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'waiters:steps' %}" >{% trans "How To" %}</a>
    </li>
  </ul>
{% endblock %}

{% block action_button %}
<div class="p-0 position-fixed" style="right:20px;">
  <a href="{% url 'waiters:create' %}" class="btn btn-primary btn-lg fixed-top-content">{% trans "Add New Waiter" %}</a>
</div>
{% endblock action_button %}
{% block enable_settings %}
<div id="div_id_is_enabled" class="form-check d-flex m-0 p-0"> <label class="switch mt-2">
    <input type="checkbox" name="is_enabled" id="id_is_enabled" {% if request.user.account.waitersettings_set.first.is_enabled == True  %} checked{% endif %}>
    <span class="slider round"></span></label>
</div>
{% endblock %}

{% block datatable_thead_tr %}
<th>{% trans "Username" %}</th>
<th>{% trans "Name" %}</th>
<th class="no-sort">{% trans "Status" %}</th>
<th>{% trans "Outlet" %}</th>
<th class="no-sort">{% trans "Actions" %}</th>
{% endblock datatable_thead_tr %}
{% block datatable_filter %}
<tr class='datatable-filter'>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td></td>
  <td></td>
  <td></td>
</tr>
{% endblock datatable_filter %}

{% block modal %}
  <div class="modal fade" id="delete-waiter-modal" tabindex="-1" role="dialog" aria-labelledby="removeWaiterModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">{% trans "Delete Waiter" %}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p>{% trans "This action will delete selected waiter." %}</p>
            <p>{% trans "Are you sure you want to continue ?" %}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-submit-close" data-dismiss="modal">{% trans "Close" %}</button>
          <button type="button" class="btn btn-primary delete" data-url="{% url 'waiters:delete' %}">
            <span id="delete-text">{% trans "Delete" %}</span>
            <i id="delete-icon" class=""></i>
          </button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block javascript %}
{{ block.super }}
<script>
  $(document).ready(function () {
    base_url = "{% url 'waiters:data' %}";
    var setting_enable_url = "{% url 'waiters:settings_enable' %}";
    var checked = $('.switch #id_is_enabled').is(':checked');
    enable_status ='{{ request.user.account.waitersettings_set.first.is_enabled }}';

    function enable_waitersettings(){
        $.ajax({
          type: 'POST',
          url: setting_enable_url,
          dataType: 'json',
          data: {
            is_enabled : $('.switch #id_is_enabled').is(':checked') ? true : false,
          },

          beforeSend: function(jqXHR, settings){
            jqXHR.setRequestHeader("x-csrftoken", '{{ csrf_token }}');
          },
          success: function(response){
             if (response.data == false){
                var url = "{% url 'waiters:settings_disable' %}";
                document.location.href = url ;
             }
          }
        });
      }

      $('.switch #id_is_enabled').on('change', function(){
          enable_waitersettings()
      });

      if (enable_status == 'False'){
          var url = "{% url 'waiters:settings_disable' %}";
          document.location.href = url ;
      }

    tableOptions = {
      columnDefs: [
        {targets: "_all", className: "align-middle"},
        {targets: 'no-sort', orderable: false},
        {targets: [3], visible: false},
        {
          targets: [0],
          width: "30%",
          render: function(data, type, full, meta) {
            if (data.image) {
              image_url = data.image;
            } else {
              image_url = "{% static '/images/user-icon.jpg' %}";
            }
            html = '\
            <img src="'+ image_url +'" style="height: 45px;" class="img-thumbnail img-fluid"/> \
            <a href="'+ data.url +'">' + data.username +"</a>";
            return html;
          }
        },
        {
          'targets': [4],
          'render': function (data, type, full, meta) {
            menu_toggle = '';
            data_modal = '';
            data = '<a class="action-toggle" id="waiter-'+data.id+'-dropdown" href="#" data-toggle="dropdown"> \
                      <i class="fa fa-ellipsis-h" aria-hidden="true"></i> \
                    </a>\
                    <div class="dropdown-menu action-toggle-menu" aria-labelledby="waiter-'+data.id+'-dropdown">\
                      <a class="dropdown-item" href="'+ data.edit +'"> \
                        Edit \
                      </a>\
                      '+menu_toggle+'\
                      <a class="dropdown-item" href="#" data-toggle="modal" data-id='+data.id+' data-target="#delete-waiter-modal"> \
                        {% trans "Delete" %} \
                      </a> \
                    </div>';
            return data;
          },
        },
      ],
    }

    function tog(v){return v?'addClass':'removeClass';}

    $('#delete-waiter-modal').on('show.bs.modal', function(e) {
      var id = $(e.relatedTarget).data('id');
      $(this).find('.delete').data('id', id);
    });

    $(document).on('input', '.clearable', function(){
        $(this)[tog(this.value)]('x');
    }).on('mousemove', '.x', function( e ){
        $(this)[tog(this.offsetWidth-18 < e.clientX-this.getBoundingClientRect().left)]('onX');
    }).on('touchstart click', '.onX', function( ev ){
        ev.preventDefault();
        $(this).removeClass('x onX').val('').change();
    });

    $(document).on('click', '.delete', function(e){
      e.preventDefault();
      var id = $(this).data("id");
      var url = $(this).data("url");

      $.ajax({
        type: 'POST',
          url: url,
          dataType: 'json',
          data: {
            id:id
          },
          beforeSend: function(jqXHR, settings){
            jqXHR.setRequestHeader("x-csrftoken", '{{ csrf_token }}');
            $(".btn-submit-close").attr("disabled", "disabled");
            $(".delete").attr("disabled", "disabled");
            $("#delete-text").html("Loading");
            $("#delete-icon").addClass("fa fa-spinner fa-spin");
          },
          success: function(result){
            if(result.status == 'success'){
              $(".btn-submit-close").attr("disabled", "disabled");
              $(".delete").attr("disabled", "disabled");
              $("#delete-text").html("Refreshing Page");
              $("#delete-icon").addClass("fa fa-spinner fa-spin");
                setTimeout(function(){
                  window.location.href = '{% url "waiters:list" %}';
                }, 3000);
            }
          }
      });
    });

  });
</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
{% endblock %}
