{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Device User" %}{% endblock %}

{% block applications_active_class %}active{% endblock %}
{% block mobile_applications_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_applications_show %}show{% endblock %}
{% block applications_waiter_management_class %}submenu-active{% endblock %}
{% block mobile_applications_waiter_management_class %}submenu-active{% endblock %}

{% block content_class %}fixed-tab-content{% endblock %}
{% block tab_div_style %}background: white; border-bottom: 1px solid #d7d7db;{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block tab_section_style %}border-bottom: 1px solid #d7d7db;{% endblock %}
{% block content_header %}{% trans "Waiter Management" %}{% endblock %}

{% block css %}
  {{ block.super }}
  <!-- Your stuff: Third-party css libraries go here -->
  <style>
    .switch {
      margin-top: 3px;
      position: relative;
      display: inline-block;
      width: 40px;
      height: 20px;
    }

    .switch input {display:none;}

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 12px;
      width: 12px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    .switch input:checked + .slider {
      background-color: #2196F3;
    }

    .switch input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    .switch input:checked + .slider:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
  </style>
{% endblock %}

{% block enable_settings %}
<div id="div_id_is_enabled" class="form-check col-2 mb-0 p-0" style="margin-top: -3px;"> <label class="switch">
    <input type="checkbox" name="is_enabled" id="id_is_enabled" {% if request.user.account.waitersettings_set.first.is_enabled == True  %} checked{% endif %}>
    <span class="slider round"></span> </label>
</div>
{% endblock %}

{% block tab_list %}
  <ul class="nav nav-tabs pt-2" id="myTab">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'waiters:list' %}" >{% trans "List" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'waiters:device-list' %}">{% trans "Devices" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'waiters:settings' %}" >{% trans "Outlet" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" id="waiter-management-tab" data-toggle="tab" href="#waiter-management"
         role="tab" aria-controls="waiter-management" aria-selected="true" >{% trans "How To" %}</a>
    </li>
  </ul>
{% endblock %}

{% block sub_content %}
<div class="tab-content pt-1" id="waiter-management-tab-content">
 <div class="tab-pane show active" id="waiter-management" role="waiter-management" aria-labelledby="waiter-management-tab">
  <div class="w-100 row">
    <div class="col-lg-3 d-flex align-items-stretch">
      <div class="card">
        <img class="card-img-top" src="{% static 'images/waiter/Artboard 5@4x.png' %}" alt="Card image cap">
        <div class="card-body text-center">
          <h4 class="card-title font-weight-bold">{% trans "Download" %}</h4>
          <p class="card-text">{% trans "Download apps waiters in playstore" %}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 d-flex align-items-stretch">
      <div class="card">
        <img class="card-img-top" src="{% static 'images/waiter/Artboard 8@4x.png' %}" alt="Card image cap">
        <div class="card-body text-center">
          <h4 class="card-title font-weight-bold">{% trans "Scan" %}</h4>
          <p class="card-text">{% trans "Scan QR Code that appears on cashier apps using waiter apps" %}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 d-flex align-items-stretch">
      <div class="card">
        <img class="card-img-top" src="{% static 'images/waiter/Artboard 3@4x.png' %}" alt="Card image cap">
        <div class="card-body text-center">
          <h4 class="card-title font-weight-bold">{% trans "Choose User" %}</h4>
          <p class="card-text">{% trans "After Scanning devices, pick registered waiter from the list on waiter apps, and then enter the right PIN" %}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 d-flex align-items-stretch">
      <div class="card">
        <img class="card-img-top" src="{% static 'images/waiter/Artboard 6@4x.png' %}" alt="Card image cap">
        <div class="card-body text-center">
          <h4 class="card-title font-weight-bold">{% trans "Ready !" %}</h4>
          <p class="card-text">{% trans "You will be redirected to the homepage if the information is correct" %}</p>
        </div>
      </div>
    </div>
  </div>
 </div>
</div>
{% endblock %}
{% block javascript %}
  {{ block.super }}
  <script>
    $(document).ready(function($){
    var setting_enable_url = "{% url 'waiters:settings_enable' %}";
    var checked = $('.switch #id_is_enabled').is(':checked');
    enable_status ='{{ request.user.account.waitersettings_set.first.is_enabled }}';

    function enable_waitersettings(){
        $.ajax({
          type: 'POST',
          url: setting_enable_url,
          dataType: 'json',
          data: {
            is_enabled : $('.switch #id_is_enabled').is(':checked') ? true : false,
          },

          beforeSend: function(jqXHR, settings){
            jqXHR.setRequestHeader("x-csrftoken", '{{ csrf_token }}');
          },
          success: function(response){
             if (response.data == false){
                var url = "{% url 'waiters:settings_disable' %}";
                document.location.href = url ;
             }
          }
        });
      }

      $('.switch #id_is_enabled').on('change', function(){
          enable_waitersettings()
      });

      if (enable_status == 'False'){
          var url = "{% url 'waiters:settings_disable' %}";
          document.location.href = url ;
      }
    });
  </script>
{% endblock %}
