{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Update Waiter" %}{% endblock %}

{% block applications_active_class %}active{% endblock %}
{% block mobile_applications_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_applications_show %}show{% endblock %}
{% block applications_waiter_management_class %}submenu-active{% endblock %}
{% block mobile_applications_waiter_management_class %}submenu-active{% endblock %}

{% block css %}
  {{ block.super }}
  <!-- Your stuff: Third-party css libraries go here -->
  {{ form.media.css }}
  <style>
    #div_id_username{
      max-width: 50%;
    }
    #div_id_pin {
      padding-left: 16px !important;
      max-width: 50%;
    }

    #div_id_email,
    #div_id_permission {
      padding-left: 16px !important;
      max-width: 50%;
    }
    .flex {
      display: flex;
    }
  </style>
{% endblock %}

{% block content_class %}col-lg-12 fixed-no-tab-content p-0{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block tab_div2_class %}px-2{% endblock %}
{% block action_div_style %}background: white; border-top: 1px solid #d7d7db;{% endblock %}
{% block content_header %}{% trans "Update Waiter" %}{% endblock %}

{% block submit_form %}
<div id="fixed-bottom-button" class="justify-content-end d-flex">
  <a href="{% url 'waiters:list' %}"  class="btn btn-secondary">{% trans "Back" %}</a>
  <input type="submit" class="btn btn-primary ml-1" id="submitBtn" value="{% trans 'Update' %}"/>
</div>
{% endblock %}
{% block sub_content %}
  <div class="w-100 pt-1">
    <form method="post" action="." enctype='multipart/form-data' id="form-content">
      {% crispy form %}
      <div class="justify-content-end col-6 p-0" id="fixed-button-content" style="display: flex;">
        <a href="{% url 'waiters:list' %}"  class="btn btn-secondary">{% trans "Back" %}</a>
        <input type="submit" class="btn btn-primary ml-1" value="{% trans "Update" %}"/>
      </div>
    </form>
  </div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  {{ form.media.js }}
  <script src="{% static '/js/button-scrollbar.js' %}"></script>
  <script>
    function preview_image(src){
      $('.dropzone-wrapper').css("background", "url({% get_media_prefix %}" + src +") no-repeat center");
      $('.dropzone-wrapper').css("background-size", "contain");
      $('.dropzone-wrapper').css('border', '0');
      $('.dropzone-desc').hide();
    }
  </script>
  <script>
    var srcImage = "{{ object.device_user_image }}";
  </script>
  <script>
    $(document).ready(function(){
      $("#submitBtn").click(function () {
         $("#form-content").submit();
      });
      if(srcImage != ""){
        preview_image(srcImage);
      }
      if($('#id_device_user_image').hasClass('is-invalid')){
        $('.dropzone-box').css('border', '1px solid #dc3545', "!important");
      }

      function show_all_office(input){
        if(input.is(':checked')){
          $('#div_id_outlet').hide();
          $('#div_id_outlet input[type="checkbox"]').prop('checked', true);
        }else{
          $('#div_id_outlet').show();
        }
      }

      show_all_office($('#id_all_outlet'));
      $('#id_all_outlet').on('change', function(){
        if($(this).is(':checked')){
          $('#div_id_outlet ').hide();
          $('#div_id_outlet  input[type="checkbox"]').prop('checked', true);
        }else{
          $('#div_id_outlet ').show();
          $('#div_id_outlet input[type="checkbox"]').prop('checked', false);
        }
      });
    });
  </script>
{% endblock %}
