{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Outlet" %}{% endblock %}


{% block css %}
  {{ block.super }}
  <!-- Your stuff: Third-party css libraries go here -->
  {{ form.media.css }}

{% endblock %}

{% block settings_active_class %}active{% endblock %}
{% block mobile_settings_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_settings_show %}show{% endblock %}
{% block settings_outlets_active_class %}submenu-active{% endblock %}
{% block mobile_settings_outlets_active_class %}submenu-active{% endblock %}
{% block content_header %}{% trans "Create Outlet" %}{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}

{% block sub_content %}
  <div class="w-100 pt-3">
    <form method="post" action="." enctype='multipart/form-data'>
      {{ wizard.management_form }}
      {% crispy wizard.form %}
      {{ wizard.form.management_form }}
      <div class="d-flex justify-content-end">
        {% if wizard.steps.step1 == wizard.steps.count %}
          <a href="{% url 'outlet:outlet_create' %}" class="btn btn-light">
            <i class="icon-arrow-left"></i>&nbsp;{% trans "Back" %}
          </a>
          <button type="submit" class="btn btn-primary ml-1">{% trans "Create" %}</button>
        {% else %}
          <a href="{% url 'outlet:outlet_list' %}" class="btn btn-light">
            <i class="icon-arrow-left"></i>{% trans "Back" %}
          </a>
          <button type="submit" class="btn btn-primary ml-1">{% trans "Next" %}</button>
        {% endif %}
      </div>
    </form>
  </div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  {{ form.media.js }}

<script>
$(document).ready(function($){

  if($('#id_outlet_image').hasClass('is-invalid')){
    $('.dropzone-box').css('border', '1px solid #dc3545', "!important");
  }

  $('#id_transaction_code_prefix').on('keypress', function(e){
    if(!/[0-9a-zA-Z-]/.test(String.fromCharCode(e.which)))
        return false;
  });
});
</script>
{% endblock %}
