{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Outlet" %}{% endblock %}


{% block css %}
  {{ block.super }}
  <!-- Your stuff: Third-party css libraries go here -->
  {{ form.media.css }}

{% endblock %}

{% block settings_active_class %}active{% endblock %}
{% block mobile_settings_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_settings_show %}show{% endblock %}
{% block settings_outlets_active_class %}submenu-active{% endblock %}
{% block mobile_settings_outlets_active_class %}submenu-active{% endblock %}
{% block content_header %}{% trans "Update Outlet" %}{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}

{% block sub_content %}
  <div class="w-100 pt-3">
    <form method="post" action="." enctype='multipart/form-data'>
      {% crispy form %}
    </form>
  </div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  {{ form.media.js }}
<script>
  function preview_image(src){
    $('.dropzone-wrapper').css("background", "url({% get_media_prefix %}" + src +") no-repeat center");
    $('.dropzone-wrapper').css("background-size", "contain");
    $('.dropzone-wrapper').css('border', '0');
    $('.dropzone-desc').hide();
  }
</script>
<script>
  var srcImage = "{{ outlet.outlet_image }}";
</script>
<script>
$(document).ready(function($){
  if($('#id_outlet_image').hasClass('is-invalid')){
    $('.dropzone-box').css('border', '1px solid #dc3545', "!important");
  }

  if(srcImage != ""){
    preview_image(srcImage);
  }

  $('#id_transaction_code_prefix').on('keypress', function(e){
    if(!/[0-9a-zA-Z-]/.test(String.fromCharCode(e.which)))
        return false;
  });
});
</script>
{% endblock %}
