{% extends "dashboard/base_datatable.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block settings_active_class %}active{% endblock %}
{% block mobile_settings_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_settings_show %}show{% endblock %}
{% block settings_outlets_active_class %}submenu-active{% endblock %}
{% block mobile_settings_outlets_active_class %}submenu-active{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}
{% block datatable_title %}{% trans "Outlet" %}{% endblock datatable_title %}

{% block action_button %}
<div class="p-0 position-fixed" style="right:20px;">
  <a href="{% url 'outlet:outlet_create' %}" class="btn btn-primary btn-lg fixed-top-content">{% trans "Add Outlet" %}</a>
</div>
{% endblock action_button %}

{% block datatable_id %}tbl_outlet{% endblock datatable_id %}

{% block datatable_thead_tr %}
    <th>{% trans "Name" %}</th>
    <th>{% trans "Kode Outlet" %}</th>
    <th>{% trans "Province" %}</th>
    <th>{% trans "City" %}</th>
    <th>{% trans "Phone" %}</th>
    <th class="text-right">{% trans "Taxes" %}</th>
    <th class="text-right">{% trans "Gratuity" %}</th>
    <th class="no-sort">{% trans "Actions" %}</th>
{% endblock datatable_thead_tr %}

{% block datatable_filter %}
<tr class='datatable-filter'>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
        <input type="text" class="form-control extra-table-control" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
        <input type="text" class="form-control extra-table-control" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td></td>
</tr>
{% endblock datatable_filter %}

{% block javascript %}
{{ block.super }}
<!-- place project specific Javascript in this file -->
<script>
  $(document).ready(function () {
    base_url = "{% url 'outlet:data_outlet' %}";
    tableOptions = {
      pageLength: 25,
      columnDefs: [
        {targets: 'no-sort', orderable: false},
        {targets: 'text-right',  className: 'text-right'},
        {
          'targets': [7],
          'render': function (data, type, full, meta) {
            data = '<a class="action-toggle" id="outlet-'+data.id+'-dropdown" href="#" data-toggle="dropdown"> \
                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i> \
                  </a>\
                  <div class="dropdown-menu action-toggle-menu" aria-labelledby="outlet-'+data.id+'-dropdown">\
                    <a class="dropdown-item" href="'+ data.edit +'"> \
                      Edit \
                    </a>\
                  </div>';
            return data;
          },
        },
      ],
    }
  });
</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>

{% endblock %}
