{% extends "dashboard/receipt/email/base_email.html" %}
{% load i18n %}
{% load visibility_contains %}

{% block email_content%}

	<tr>
		<td valign="top" class="textContent">
      {% if receipt|receipt_visibility_contains:'outlet' %}
      <h2 style="text-align:center;font-family:Helvetica,Arial,sans-serif;margin-bottom:0;color:#5F5F5F;line-height:135%;padding-top:8px;">
        {% if object.outlet.receipt.receipt_header %}
          {{ object.outlet.receipt.receipt_header }}
        {% else %}
          {{ object.account.brand_name }}<br/>
          {{ object.outlet.name }}
        {% endif %}
      </h2>
      {% endif %}
      {% if receipt|receipt_visibility_contains:'address' %}
      <h3 style="text-align:center;font-family:Helvetica,Arial,sans-serif;margin-bottom:0;color:#5F5F5F;line-height:135%;padding-top:8px;">
        {{ object.outlet.address }}
      </h3>
      {% endif %}
      {% if receipt|receipt_visibility_contains:'city' %}
      <h3 style="text-align:center;font-family:Helvetica,Arial,sans-serif;margin-bottom:0;color:#5F5F5F;line-height:135%;padding-top:8px;">
        {{ object.outlet.city }}
      </h3>
      {% endif %}
      {% if receipt|receipt_visibility_contains:'province' %}
      <h3 style="text-align:center;font-family:Helvetica,Arial,sans-serif;margin-bottom:0;color:#5F5F5F;line-height:135%;padding-top:8px;">
        {{ object.outlet.province }} {% if object.outlet.postal_code %} - {{ object.outlet.postal_code }} {% endif %}
      </h3>
      {% endif %}
      {% if receipt|receipt_visibility_contains:'phone' %}
      <h3 style="text-align:center;font-family:Helvetica,Arial,sans-serif;margin-bottom:0;color:#5F5F5F;line-height:135%;padding-top:8px;">
        {{ object.outlet.phone }}
      </h3>
      {% endif %}
		</td>
	</tr>
  <tr>
      <td valign="top" class="textContent">
        <div mc:edit="body" style="text-align:left;font-family:Helvetica,Arial,sans-serif;font-size:14px;margin-bottom:0;color:#5F5F5F;line-height:135%;">
          <p>{% trans "Kode Struk" %} : {{ object.code }}</p>
          <p>{% trans "Tanggal" %} : {{ object.transaction_date|date:"d/m/Y H:i" }}</p>
          <p>Order : {{ object.order_name }}</p>
          {% if object.table.name %}
          <p>{% trans "Meja" %} : {{ object.table.name }}{{ object.table.suffix }}</p>
          {% endif %}
          {% if object.customer.name %}
          <p>{% trans "Pelanggan" %} : {{ object.customer.name }}</p>
          {% endif %}
          <p>{% trans "Tipe" %} : {{ object.order_option.name }}</p>
          <p>{% trans "Kasir" %} : {% if object.cashier_name %}{{ object.cashier_name }}{% else %}{{ object.served_by }}{% endif %}</p>
          {% if object.transaction_type %}
            {% if object.transaction_type.transaction_type == "city_ledger" %}
              <p>City Ledger : {{ object.transaction_type.name }}</p>
            {% elif object.transaction_type.transaction_type == "foc" %}
              <p>FOC : {{ object.transaction_type.name }}</p>
            {% endif %}
          {% endif %}
         </div>
      </td>
    </tr>
	<tr>
    <td valign="top" class="textContent">
      <div mc:edit="body" style="text-align:center;font-family:Helvetica,Arial,sans-serif;font-size:15px;margin-bottom:0;color:#5F5F5F;line-height:135%;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="emailButton">
            <tr style="background-color: #EB9928;">
              <td align="center" colspan=2 valign="middle" class="buttonContent" style="padding-top:15px;padding-bottom:15px;padding-right:15px;padding-left:15px;">
                {% trans "Detail Item" %}
              </td>
            </tr>
            {% for item in object.items.all %}
            <tr style="color:#5F5F5F">
                <td align="left" valign="middle" style="padding-top:15px;padding-bottom:15px;padding-right:15px;padding-left:15px;">
                    {{ item.product.name }}<br/>
                    @{{ item.base_cost }} x {{ item.quantity }}<br/>
                    {% for composite_detail in item.composite_detail.all %}
                    <small><i>{{ composite_detail.product.name }} x {{ composite_detail.product_quantity }}</i></small><br/>
                    {% endfor %}
                    {% if receipt|receipt_visibility_contains:'product_notes' and item.modifier_selected %}
                    <small>
                      <small>{{ item.modifier_selected }}</small>
                    </small><br/>
                    {% endif %}
                </td>
                <td align="right" valign="top" style="padding-top:15px;padding-bottom:15px;padding-right:15px;padding-left:15px;">
                    {{ item.total_cost }}
                </td>
            </tr>
              {% if item.modifier_detail.exists %}
              <tr style="color:#5F5F5F">
                <td align="left" colspan=1 valign="middle" style="padding-right:15px;padding-left:15px;">
                  <small>{% trans "Modifier(s)" %}</small>
                </td>
              </tr>
                {% for modifier in item.modifier_detail.all %}
                <tr style="color:#5F5F5F">
                  <td align="left" valign="middle" style="padding-top:5px;padding-bottom:5px;padding-right:15px;padding-left:15px;">
                      <small style="margin-left:10px;"><i>{{ modifier.option.product_modifier.name }} : {{ modifier.option.value }}</i></small><br/>
                  </td>
                </tr>
                {% endfor %}
              {% endif %}
              {% if item.addon_detail.exists %}
              <tr style="color:#5F5F5F">
                <td align="left" colspan=2 valign="middle" style="padding-right:15px;padding-left:15px;">
                  <small>{% trans "Addon(s)" %}</small>
                </td>
              </tr>
                {% for addon in item.addon_detail.all %}
                <tr style="color:#5F5F5F">
                  <td align="left" valign="middle" style="padding-top:5px;padding-bottom:5px;padding-right:15px;padding-left:15px;">
                      <small style="margin-left:10px;"><i>{{ addon.product.name }}</i></small><br/>
                      <small style="margin-left:10px;"><i>@{{ addon.base_cost }} x {{ addon.quantity }}</i></small><br/>
                  </td>
                  <td align="right" valign="top" style="padding-top:5px;padding-bottom:5px;padding-right:15px;padding-left:15px;">
                      {{ addon.sub_total }}
                  </td>
                </tr>
                {% endfor %}
              {% endif %}
            {% endfor %}
        </table>
      </div>
    </td>
  </tr>
  <tr style="border-top: 4px solid #EB9928;">
    <td valign="top" class="textContent">
      <div mc:edit="body" style="text-align:right;font-family:Helvetica,Arial,sans-serif;font-size:15px;margin-bottom:0;color:#5F5F5F;line-height:135%;">
        <p>{% trans "Sub Total" %} : {{ object.sub_total }}</p>
        {% if object.global_discount_price %}
        <p>{% trans "Dicount" %} {% if object.global_discount_percentage %}({{ object.global_discount_percentage }}%){% endif %} : {{ object.global_discount_price }}</p>
        {% endif %}
        {% if object.gratuity %}
        <p>{% trans "Service" %} {% if object.global_discount_percentage %}({{ object.gratuity }}%){% endif %} : {{ object.calculate_service_charge }}</p>
        {% endif %}
        <p>{% trans "PPN" %} ({{object.tax}}%) : {{ object.calculate_tax }}</p>
        <p>{% trans "Total" %} :  {{ object.total_cost }}</p>
      </div>
    </td>
  </tr>
  <tr style="border-top: 4px solid #EB9928;">
    <td valign="top" class="textContent">
      <div mc:edit="body" style="text-align:right;font-family:Helvetica,Arial,sans-serif;font-size:15px;margin-bottom:0;color:#5F5F5F;line-height:135%;">
        <p>{% trans "Dibayar" %} :  {{ object.tendered_amount }}</p>
        {% for payment_detail in object.payment_detail.all %}
        <p>
          <small>
            {{ payment_detail.payment_method }} :  {{ payment_detail.amount }}
          {% if payment_detail.description %}
            <small><br/>{{ payment_detail.description }}</small>
          {% endif %}
          </small>
        </p>
        {% endfor %}
        <p>{% trans "Kembali" %} :  {{ object.change }}</p>
      </div>
    </td>
  </tr>
  <tr>
    {% if receipt|receipt_visibility_contains:'notes' %}
    <td valign="top" class="textContent">
      <div mc:edit="body" style="text-align:center;font-family:Helvetica,Arial,sans-serif;font-size:15px;margin-bottom:0;color:#5F5F5F;line-height:135%;">
        <p>{{ object.outlet.receipt.notes }}</p>
      </div>
    </td>
    {% endif %}
  </tr>
{% endblock %}
