/* These styles are generated from project.scss. */
/* line 2, ../sass/auth.scss */
html, body {
  height: 100%;
  font-family: Nunito;
  font-size: 14px;
  color: #A5A5A5;
  letter-spacing: 0;
}

/* line 10, ../sass/auth.scss */
.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

/* line 16, ../sass/auth.scss */
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

/* line 22, ../sass/auth.scss */
.btn-primary {
  background: #0094C9;
  color: #FFF;
  border-color: #0094C9;
}

/* line 31, ../sass/auth.scss */
#login-page .login-form input[type=email] {
  height: 44px;
}
/* line 34, ../sass/auth.scss */
#login-page .login-form input[type=password] {
  height: 44px;
}
/* line 37, ../sass/auth.scss */
#login-page .login-form input[type=text] {
  height: 44px;
}
/* line 40, ../sass/auth.scss */
#login-page .login-form button {
  height: 44px;
  font-size: 14px;
  margin-top: 20px;
}
/* line 45, ../sass/auth.scss */
#login-page .login-form input::-webkit-input-placeholder {
  opacity: 0.4;
  text-indent: 10;
}
/* line 49, ../sass/auth.scss */
#login-page .login-form input::-moz-placeholder {
  opacity: 0.4;
  text-indent: 10;
}
/* line 53, ../sass/auth.scss */
#login-page .login-form input:-ms-input-placeholder {
  opacity: 0.4;
  text-indent: 10;
}

/* line 61, ../sass/auth.scss */
#sign-up-page #sign-up-form input {
  height: 44px;
}
/* line 64, ../sass/auth.scss */
#sign-up-page #sign-up-form button {
  height: 44px;
  font-size: 14px;
  margin-top: 20px;
}
/* line 69, ../sass/auth.scss */
#sign-up-page #sign-up-form input::-webkit-input-placeholder {
  opacity: 0.4;
  text-indent: 10;
}
/* line 73, ../sass/auth.scss */
#sign-up-page #sign-up-form input::-moz-placeholder {
  opacity: 0.4;
  text-indent: 10;
}
/* line 77, ../sass/auth.scss */
#sign-up-page #sign-up-form input:-ms-input-placeholder {
  opacity: 0.4;
  text-indent: 10;
}
/* line 81, ../sass/auth.scss */
#sign-up-page #sign-up-form .select2-container .select2-selection--single {
  height: 44px !important;
}
/* line 84, ../sass/auth.scss */
#sign-up-page #sign-up-form .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 44px !important;
}
/* line 87, ../sass/auth.scss */
#sign-up-page #sign-up-form .select2-container .select2-selection--single .select2-selection__rendered {
  padding-right: 35px;
}
/* line 90, ../sass/auth.scss */
#sign-up-page #sign-up-form .select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 10px;
  right: 10px;
}

/* line 99, ../sass/auth.scss */
#password-reset-page .password_reset input {
  height: 44px;
}
/* line 102, ../sass/auth.scss */
#password-reset-page .password_reset button {
  height: 44px;
  font-size: 14px;
  margin-top: 20px;
}
/* line 107, ../sass/auth.scss */
#password-reset-page .password_reset a {
  font-size: 14px;
}
/* line 112, ../sass/auth.scss */
#password-reset-page .password-reset-change input {
  height: 44px;
}
/* line 115, ../sass/auth.scss */
#password-reset-page .password-reset-change button {
  height: 44px;
  font-size: 14px;
  margin-top: 20px;
}

/* line 140, ../sass/auth.scss */
#subscription-box label {
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  min-height: 200px;
}
/* line 146, ../sass/auth.scss */
#subscription-box label .subscription-body {
  font-size: 12px;
}
/* line 147, ../sass/auth.scss */
#subscription-box label .subscription-body .description {
  color: #7B8E9C;
}
/* line 150, ../sass/auth.scss */
#subscription-box label .subscription-body .price {
  font-size: 16px;
}
/* line 155, ../sass/auth.scss */
#subscription-box label .subscription-label {
  color: #7B8E9C;
  border-bottom: 1px solid #D8D8D8;
}
/* line 160, ../sass/auth.scss */
#subscription-box label:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
/* line 163, ../sass/auth.scss */
#subscription-box input {
  visibility: hidden;
}

@media screen and (max-width: 991px) {
  /* line 168, ../sass/auth.scss */
  .container-fluid {
    overflow-y: scroll;
  }
}
/* line 173, ../sass/auth.scss */
h3 {
  font-family: Nunito;
  font-size: 24px;
  color: #485D6E;
  letter-spacing: 0;
  text-align: center;
}

/* line 181, ../sass/auth.scss */
.invalid-feedback {
  margin-bottom: 0;
  color: #dc3545;
}

/* line 186, ../sass/auth.scss */
p {
  font-family: Nunito;
  font-size: 14px;
  color: #485D6E;
  letter-spacing: 0;
  text-align: center;
}

/* line 194, ../sass/auth.scss */
input.is-invalid, textarea.is-invalid {
  border: 1px solid #dc3545;
}

/* line 198, ../sass/auth.scss */
.privacy-term-condition a {
  color: #0094C9;
}

/* line 202, ../sass/auth.scss */
.privacy-term-condition a:hover {
  color: #006e96;
}

/* line 206, ../sass/auth.scss */
.btn-primary:hover {
  background: #006e96;
  border-color: #006e96;
}

/* line 211, ../sass/auth.scss */
input::placeholder {
  opacity: 0.4 !important;
}

/* line 214, ../sass/auth.scss */
input:active {
  border-color: #0094C9;
}

/* line 218, ../sass/auth.scss */
.blur {
  opacity: 0.4;
}

/* line 222, ../sass/auth.scss */
.link {
  color: #0094C9;
}

/* line 225, ../sass/auth.scss */
.select2-selection__clear {
  display: none;
}

/* line 228, ../sass/auth.scss */
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #0094C9 !important;
}

/* line 231, ../sass/auth.scss */
.form-control:focus {
  border-color: #0094C9;
}
