body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background: #FBFCFE;
}

.form-control,
.form-control:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.form-control {
  box-shadow: none;
}

.form-control:focus {
  outline: 0;
  box-shadow: none;
}
a{
  color: #0094C9;
}

a,
div,
h1,
h2,
h3,
h4,
h5,
p,
span {
  text-shadow: none;
}

[type=button]:focus,
a:active,
a:focus,
a:visited,
button::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner,
input[type=file] > input[type=button]::-moz-focus-inner,
select::-moz-focus-inner {
  outline: 0;
}

input,
.form-control:focus,
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
  outline-width: 0;
  outline-color: transparent;
  box-shadow: none;
  outline-style: none;
}

textarea {
  resize: none;
  overflow-x: hidden;
}

.btn,
.btn-group.open .dropdown-toggle,
.btn:active,
.btn:focus,
.btn:hover,
.btn:visited,
a,
a:active,
a:checked,
a:focus,
a:hover,
a:visited,
body,
button,
button:active,
button:hover,
button:visited,
div,
input,
input:active,
input:focus,
input:hover,
input:visited,
select,
select:active,
select:focus,
select:visited,
textarea,
textarea:active,
textarea:focus,
textarea:hover,
textarea:visited {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
button,
button:active,
button:checked,
button:focus,
button:hover,
button:visited {
  outline: 0;
  outline-offset: 0;
}

.bootstrap-select .dropdown-toggle:focus {
  outline: 0;
  outline-offset: 0;
}

.dropdown-menu > li > a:active,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:visited {
  outline: 0;
}

a:focus,
input:focus {
  border-color: transparent;
  outline: none;
}

.sidebar-grdient-dark {
  background: #6a008a;
  background: -moz-linear-gradient(top, #6a008a 0%, #6a008a 20%, #fa0053 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #6a008a), color-stop(20%, #6a008a), color-stop(100%, #fa0053));
  background: -webkit-linear-gradient(top, #6a008a 0%, #6a008a 20%, #fa0053 100%);
  background: -o-linear-gradient(top, #6a008a 0%, #6a008a 20%, #fa0053 100%);
  background: -ms-linear-gradient(top, #6a008a 0%, #6a008a 20%, #fa0053 100%);
  background: linear-gradient(to bottom, #6a008a 0%, #6a008a 20%, #fa0053 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a008a', endColorstr='#fa0053', GradientType=0 );
  color: #ffffff;
}


.secondary-sidebar{
  position: fixed;
  top: 0px;
  left: 250px;
  width: 0px;
  font-family: Nunito;
  display: table-cell;
  min-height: 100%;
  background: #FBFCFE;
  border-right: #E8E9ED 1px solid;
  visibility: hidden;
  z-index: 1035;
  display: table-cell;
  transition: width 0.25s ease, margin 0.25s ease, visibility 0.25s ease;
  -webkit-transition: width 0.25s ease, margin 0.25s ease, visibility 0.25s ease;
  -moz-transition:width 0.25s ease, margin 0.25s ease, visibility 0.25s ease;
  -ms-transition: width 0.25s ease, margin 0.25s ease, visibility 0.25s ease;
}
.secondary-sidebar.subscription-info-appears{
  position: fixed;
  top: 40px;
  left: 250px;
  width: 0px;
  font-family: Nunito;
  display: table-cell;
  min-height: 100%;
  background: #FBFCFE;
  border-right: #E8E9ED 1px solid;
  visibility: hidden;
  z-index: 1035;
  display: table-cell;
  transition: width 0.25s ease, margin 0.25s ease, visibility 0.25s ease;
  -webkit-transition: width 0.25s ease, margin 0.25s ease, visibility 0.25s ease;
  -moz-transition:width 0.25s ease, margin 0.25s ease, visibility 0.25s ease;
  -ms-transition: width 0.25s ease, margin 0.25s ease, visibility 0.25s ease;
}
.secondary-sidebar span{
  display: none;
}

.secondary-sidebar .show{
  display: inline;
}

.secondary-sidebar.expand{
  visibility: visible;
  width: 195px;
  margin-left: -195px;
}

.sidebar {
  min-height: calc(100vh - 50px);
  position: fixed;
  left: 0px;
  top: 50px;
  overflow: hidden;
  background: #ffffff;
  font-family: Nunito;
  border-right: #E8E9ED 1px solid;
  width: 250px !important;
  z-index: 11;
  transition: width 0.25s ease, background 0.25s ease, visibility 1s;
  -webkit-transition: width 0.25s ease, background 0.25s ease;
  -moz-transition: width 0.25s ease, background 0.25s ease;
  -ms-transition: width 0.25s ease, background 0.25s ease; 
}

.sidebar.subscription-info-appears {
  min-height: calc(100vh - 50px);
  position: fixed;
  left: 0px;
  top: 90px;
  overflow: hidden;
  background: #ffffff;
  font-family: Nunito;
  border-right: #E8E9ED 1px solid;
  width: 250px !important;
  z-index: 11;
  transition: width 0.25s ease, background 0.25s ease, visibility 1s;
  -webkit-transition: width 0.25s ease, background 0.25s ease;
  -moz-transition: width 0.25s ease, background 0.25s ease;
  -ms-transition: width 0.25s ease, background 0.25s ease; 
  margin: 0;

}

.secondary-menu .nav,
.sidebar .nav {
  overflow: hidden;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-bottom: 40px;
}

.secondary-menu .nav-header{
  min-height: 50px;
  display: inline-block;
  padding-top: 10px;
  padding-left: 30px;
  width: 100%;
  border-bottom: #E8E9ED 1px solid;
}

.secondary-menu .nav .nav-item,
.sidebar .nav .nav-item {
  padding: 0 2.25rem;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  transition-property: background;
  -webkit-transition-property: background;
}

.secondary-list{
  width: 100%;
  position: absolute;
  bottom:0 !important;
}
.sidebar .nav .nav-item .collapse {
  z-index: 999;
}
.secondary-menu .nav .nav-item .nav-link,
.sidebar .nav .nav-item .nav-link {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  white-space: nowrap;
  padding: 12px 0 12px 0;
  color: #3e4b5b;
  -webkit-transition-duration: 0.45s;
  -moz-transition-duration: 0.45s;
  -o-transition-duration: 0.45s;
  transition-duration: 0.45s;
  transition-property: color;
  -webkit-transition-property: color;
}

.sidebar .nav .nav-item .nav-link i {
  color: inherit;
}

.sidebar .nav .nav-item .nav-link i.menu-icon {
  width: 55px;
  font-size: 18px;
  margin-left: 5px;
  color: #bba8bff5;
}

.sidebar .nav .nav-item .nav-link i.menu-icon:before {
  vertical-align: middle;
}

.sidebar .nav .nav-item .nav-link i.menu-arrow {
  text-align: right;
  padding-right: 1rem;
  font-size: 14px;
  margin-left: auto;
  color: #9e9da0;
}

.sidebar .nav .nav-item .nav-link i.menu-arrow:before {
  content: "\f105";
  font-size: inherit;
  color: inherit;
}

.sidebar .nav .nav-item .nav-link i.menu-arrow + .menu-icon {
  margin-left: .25rem;
}

.secondary-menu .nav .nav-item .nav-link .menu-title,
.sidebar .nav .nav-item .nav-link .menu-title {
  color: inherit;
  display: inline-block;
  vertical-align: middle;
  font-family: Nunito;
  font-size: 14px;
}
.secondary-menu .nav .nav-item .nav-link .menu-title{
  padding-left: 15px;
}

.sidebar .nav .nav-item .nav-link .badge {
  margin-right: auto;
  margin-left: 1rem;
}

.sidebar .nav .nav-item .nav-link[aria-expanded="true"] .menu-arrow:before {
  content: "\f105";
}

.secondary-menu .nav .nav-item.submenu-active{
  background: #EDFBFF;
}

.sidebar .nav .nav-item.active {
  background: #EDFBFF;
  border-left: #0094C9 3px solid;
  padding-left: 12px;
}

.sidebar .nav .nav-item.active > .nav-link .menu-title {
  color: #0094C9;
  font-family: Nunito;
}

.sidebar .nav .nav-item.active > .nav-link i {
  color: #0094C9;
}

.secondary-menu .nav .nav-item:hover > .nav-link .menu-title,
.secondary-menu .nav .nav-item:hover > .nav-link i,
.sidebar .nav .nav-item:hover > .nav-link .menu-title,
.sidebar .nav .nav-item:hover > .nav-link i {
  color: #0094C9;
}

.sidebar .nav .nav-item.nav-profile .nav-link {
  height: auto;
  line-height: 1;
  border-top: 0;
  padding: 1.25rem 0;
}

.sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-image {
  width: 44px;
  height: 44px;
}

.sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-image img {
  width: 44px;
  height: 44px;
  border-radius: 100%;
}

.sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-text {
  margin-left: 1.5rem;
}

.sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-badge {
  font-size: 1.125rem;
  margin-left: auto;
}

.sidebar .nav .nav-item.sidebar-actions {
  margin-top: 1rem;
}

.sidebar .nav .nav-item.sidebar-actions .nav-link {
  border-top: 0;
  display: block;
  height: auto;
}

.sidebar .nav .nav-item.sidebar-actions:hover {
  background: initial;
}

.sidebar .nav .nav-item.sidebar-actions:hover .nav-link {
  color: initial;
}

.sidebar .nav:not(.sub-menu) > .nav-item:hover:not(.nav-category):not(.nav-profile) > .nav-link {
  color: #29323d;
}

.sidebar .nav.sub-menu {
  margin-bottom: 20px;
  margin-top: 0;
  list-style: none;
}

.sidebar .nav.sub-menu .nav-item {
  padding: 0;
}

.sidebar .nav.sub-menu .nav-item .nav-link {
  color: #888;
  padding: 0.75rem 2rem 0.75rem 2rem;
  position: relative;
  font-size: 0.8125rem;
  line-height: 1;
  height: auto;
  border-top: 0;
}

.sidebar .nav.sub-menu .nav-item .nav-link:before {
  content: "\F054";
  font-family: "Material Design Icons";
  display: block;
  position: absolute;
  left: 0px;
  top: 50%;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #a2a2a2;
  font-size: .75rem;
}

.sidebar .nav.sub-menu .nav-item .nav-link.active {
  color: #b66dff;
  background: transparent;
}

.sidebar .nav.sub-menu .nav-item .nav-link:hover {
  color: #555555;
}

.sidebar .nav.sub-menu .nav-item:hover {
  background: transparent;
}

@media screen and (max-width: 991px) {
  .sidebar-offcanvas {
    position: fixed;
    max-height: calc(100vh - 70px);
    top: 70px;
    bottom: 0;
    overflow: auto;
    right: -260px;
    -webkit-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .sidebar-offcanvas.active {
    right: 0;
  }
}

/* Navbar */
.navbar .navbar-brand-wrapper .navbar-brand.brand-logo-mini {
  display: none;
}

.navbar .navbar-menu-wrapper .count-indicator {
  position: relative;
}

.navbar .navbar-menu-wrapper .count-indicator .count-symbol,
.navbar .navbar-menu-wrapper .count-indicator .count-number {
  position: absolute;
  border-radius: 100%;
  border: 2px solid #ffffff;
}

.navbar .navbar-menu-wrapper .count-indicator .count-symbol {
  top: 24px;
  right: -1px;
  width: 10px;
  height: 10px;
}

.navbar .navbar-menu-wrapper .count-indicator .count-number {
  min-width: 14px;
  height: 14px;
  font-size: .5rem;
  color: #ffffff;
  bottom: 16px;
  right: -5px;
  line-height: 1;
  text-align: center;
}

.navbar .navbar-menu-wrapper .count-indicator:after {
  display: none;
}

.navbar .navbar-menu-wrapper .dropdown .dropdown-toggle:after {
  color: #353749;
  font-size: 1rem;
}

.navbar .navbar-menu-wrapper .navbar-nav {
  flex-direction: row;
  align-items: center;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown {
  position: absolute;
  font-size: 0.9rem;
  margin-top: 0;
  right: 0;
  left: auto;
  padding: 0;
}

.rtl .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown {
  right: auto;
  left: 0;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item {
  margin-bottom: 0;
  padding: 4px;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item i {
  font-size: 17px;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item .ellipsis {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rtl .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item i {
  margin-left: 10px;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-divider {
  margin: 0;
}

@media (max-width: 991px) {
  .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown {
    position: static;
  }
  .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown {
    left: 20px;
    right: 20px;
    top: 70px;
    width: calc(100% - 40px);
  }
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link .nav-profile-img {
  position: relative;
  width: 32px;
  height: 32px;
  margin-right: 1.25rem;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link .nav-profile-img img {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link .nav-profile-img .availability-status {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 2px solid #ffffff;
  bottom: 5px;
  right: -5px;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link .nav-profile-img .availability-status.online {
  background: #1bcfb4;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link .nav-profile-img .availability-status.offline {
  background: #fe7c96;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link .nav-profile-img .availability-status.busy {
  background: #fed713;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link .nav-profile-text {
  margin-right: 1.25rem;
}

.rtl .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link .nav-profile-text {
  margin-left: 0;
  margin-right: 1.25rem;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link .nav-profile-text p {
  color: #353749;
  line-height: 1;
  font-size: 14px;
  font-family: Nunito;
}

@media (max-width: 767px) {
  .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link .nav-profile-text {
    display: none;
  }
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link.dropdown-toggle:after {
  line-height: 2;
}

@media (min-width: 992px) {
  .navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right {
    margin-left: auto;
    
  }
  .rtl .navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right {
    margin-left: 0;
    margin-right: auto;
  }
}

.navbar.default-layout-navbar {
  font-family: Nunito;
  background: #FBFCFE;
  transition: background 0.25s ease;
  -webkit-transition: background 0.25s ease;
  -moz-transition: background 0.25s ease;
  -ms-transition: background 0.25s ease;
}

.navbar.default-layout-navbar .navbar-brand-wrapper {
  transition: width 0.25s ease, background 0.25s ease;
  -webkit-transition: width 0.25s ease, background 0.25s ease;
  -moz-transition: width 0.25s ease, background 0.25s ease;
  -ms-transition: width 0.25s ease, background 0.25s ease;
  border-right: #E8E9ED 1px solid;
  border-bottom: #E8E9ED 1px solid;
  background: #ffffff;
  padding-left: 8px;
  width: 250px;
  height: 50px;
}

.sidebar-light .navbar.default-layout-navbar .navbar-brand-wrapper {
  background: #ffffff;
}

.navbar.default-layout-navbar .navbar-brand-wrapper .navbar-brand {
  color: #27367f;
  font-size: 1.5rem;
  line-height: 48px;
  margin-right: 0;
  padding: .25rem 0;
  width: 100%;
}

.navbar.default-layout-navbar .navbar-brand-wrapper .navbar-brand:active, .navbar.default-layout-navbar .navbar-brand-wrapper .navbar-brand:focus, .navbar.default-layout-navbar .navbar-brand-wrapper .navbar-brand:hover {
  color: #1b2658;
}

.navbar.default-layout-navbar .navbar-brand-wrapper .navbar-brand img {
  /* width: calc(260px - 120px); */
  max-width: 100%;
  height: 28px;
  margin-left: 8px;
  vertical-align: middle;
}
.navbar.default-layout-navbar .navbar-brand-wrapper .navbar-brand .logo-text{
  height: 20px !important;
  margin-left: 30px !important;
}

.navbar.default-layout-navbar .navbar-brand-wrapper .brand-logo-mini img {
  width: calc(70px - 50px);
  max-width: 100%;
  height: 28px;
  margin: auto;
}
/* HEADER */
.navbar.default-layout-navbar .navbar-menu-wrapper {
  transition: width 0.25s ease;
  -webkit-transition: width 0.25s ease;
  -moz-transition: width 0.25s ease;
  -ms-transition: width 0.25s ease;
  color: #9c9fa6;
  padding-left: 30px;
  padding-right: 60px;
  width: calc(100% - 250px);
  height: 50px;
  background: #FBFCFE;
}

@media (max-width: 991px) {
  .navbar.default-layout-navbar .navbar-menu-wrapper {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.navbar.default-layout-navbar .navbar-menu-wrapper .navbar-toggler {
  border: 0;
  color: inherit;
  height: 70px;
  border-radius: 0px;
  padding-left: 5px;
  padding-right: 20px;
}

.navbar.default-layout-navbar .navbar-menu-wrapper .navbar-toggler:not(.navbar-toggler-right) {
  font-size: 1.5rem;
}

@media (max-width: 991px) {
  .navbar.default-layout-navbar .navbar-menu-wrapper .navbar-toggler:not(.navbar-toggler-right) {
    display: none;
  }
}

@media (max-width: 991px) {
  .navbar.default-layout-navbar .navbar-menu-wrapper .navbar-toggler.navbar-toggler-right {
    padding-left: 15px;
    padding-right: 11px;
    border-right: none;
  }
}

.navbar.default-layout-navbar .navbar-menu-wrapper .search-field{
  padding-left: 30px;
  width: 35%;
}
.navbar.default-layout-navbar .navbar-menu-wrapper .search-field .input-group input {
  font-size: 14px;
  font-family: Nunito !important;
  font-style: normal;
  border: 0;
  font-weight: normal;
  box-shadow: none;
  color: #000;
  height: 32px;
}

.navbar.default-layout-navbar .navbar-menu-wrapper .search-field .input-group input:-ms-input-placeholder {
  padding-left: 5px;
  font-size: 14px;
  color: #9c9fa6;
  font-family: Nunito, FontAwesome;
}

.navbar.default-layout-navbar .navbar-menu-wrapper .search-field .input-group input:-moz-placeholder {
  font-size: 14px;
  color: #9c9fa6;
  font-family: Nunito, FontAwesome;
}

.navbar.default-layout-navbar .navbar-menu-wrapper .search-field .input-group input::-moz-placeholder {
  font-size: 14px;
  color: #9c9fa6;
  font-family: Nunito, FontAwesome;
}

.navbar.default-layout-navbar .navbar-menu-wrapper .search-field .input-group input::-webkit-input-placeholder {
  font-size: 14px;
  color: #9c9fa6;
  font-family: Nunito, FontAwesome;
}

.navbar.default-layout-navbar .navbar-menu-wrapper .search-field .input-group i {
  font-size: 17px;
  color: #000;
}

.navbar.default-layout-navbar .navbar-menu-wrapper .search-field .input-group .input-group-text {
  background: transparent;
}

.navbar.default-layout-navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link {
  color: inherit;
  font-size: 0.875rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  height: 70px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

@media (max-width: 767px) {
  .navbar.default-layout-navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link {
    margin-left: .8rem;
    margin-right: .8rem;
  }
}

.navbar.default-layout-navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link i {
  font-size: 1.25rem;
}

.navbar.default-layout-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-settings {
  padding-left: 20px;
  padding-right: 5px;
}

.navbar.default-layout-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-settings .nav-link {
  margin-right: 0;
  margin-left: 0;
}

.navbar.default-layout-navbar .navbar-menu-wrapper .dropdown-menu {
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 991px) {
  .navbar {
    flex-direction: row;
  }
  .navbar .navbar-brand-wrapper {
    width: 75px;
  }
  .navbar .navbar-brand-wrapper .navbar-brand.brand-logo-mini {
    display: inline-block;
  }
  .navbar-collapse {
    display: flex;
    margin-top: 0.5rem;
  }
}

@media (max-width: 480px) {
  .navbar .navbar-brand-wrapper {
    width: 55px;
  }
  .navbar .navbar-brand-wrapper .brand-logo-mini {
    padding-top: 0px;
  }
}

/* Typography */
body {
  font-weight: initial;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Nunito;
}

p {
  font-size: 0.875rem;
}

h1,
.h1 {
  font-size: 2.19rem;
}

h2,
.h2 {
  font-size: 1.88rem;
}

h3,
.h3 {
  font-size: 1.56rem;
}

h4,
.h4 {
  font-size: 1.13rem;
}

h5,
.h5 {
  font-size: 1rem;
}

h6,
.h6 {
  font-size: .9375rem;
}

p {
  font-size: .9375rem;
  line-height: 1.5;
}

.display-1 {
  font-size: 3.75rem;
}

@media (max-width: 991px) {
  .display-1 {
    font-size: 3rem;
  }
}

.display-2 {
  font-size: 3.125rem;
}

@media (max-width: 991px) {
  .display-2 {
    font-size: 2.5rem;
  }
}

.display-3 {
  font-size: 2.5rem;
}

@media (max-width: 991px) {
  .display-3 {
    font-size: 2rem;
  }
}

.display-4 {
  font-size: 1.875rem;
}

@media (max-width: 991px) {
  .display-4 {
    font-size: 1.5rem;
  }
}

.display-5 {
  font-size: 1.25rem;
}

@media (max-width: 991px) {
  .display-5 {
    font-size: 1rem;
  }
}

.blockquote {
  padding: 1.25rem;
  border: 1px solid #ebedf2;
}

address p {
  margin-bottom: 0;
}

.blockquote-primary {
  border-color: #b66dff;
}

.blockquote-primary .blockquote-footer {
  color: #b66dff;
}

.blockquote-secondary {
  border-color: #d8d8d8;
}

.blockquote-secondary .blockquote-footer {
  color: #d8d8d8;
}

.blockquote-success {
  border-color: #1bcfb4;
}

.blockquote-success .blockquote-footer {
  color: #1bcfb4;
}

.blockquote-info {
  border-color: #198ae3;
}

.blockquote-info .blockquote-footer {
  color: #198ae3;
}

.blockquote-warning {
  border-color: #fed713;
}

.blockquote-warning .blockquote-footer {
  color: #fed713;
}

.blockquote-danger {
  border-color: #fe7c96;
}

.blockquote-danger .blockquote-footer {
  color: #fe7c96;
}

.blockquote-light {
  border-color: #f8f9fa;
}

.blockquote-light .blockquote-footer {
  color: #f8f9fa;
}

.blockquote-dark {
  border-color: #3e4b5b;
}

.blockquote-dark .blockquote-footer {
  color: #3e4b5b;
}

.error-page h1 {
  font-size: 12rem;
}

@media (max-width: 991px) {
  .error-page h1 {
    font-size: 8rem;
  }
}

.icon-lg {
  font-size: 3.438rem;
}

.icon-md {
  font-size: 1.875rem;
}

.icon-sm {
  font-size: 1rem;
}

/* Miscellanoeous */
body,
html {
  overflow-x: hidden;
  padding-right: 0 !important;
}

*:-moz-full-screen,
*:-webkit-full-screen,
*:fullscreen *:-ms-fullscreen {
  overflow: auto;
}

.page-body-wrapper.subscription-info-appears {
  min-height: calc(100vh - 110px);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  padding-left: 0;
  padding-right: 0;
  padding-top: 110px;
}

.page-body-wrapper {
  min-height: calc(100vh - 70px);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  padding-left: 0;
  padding-right: 0;
  padding-top: 70px;
}

.page-body-wrapper.full-page-wrapper {
  width: 100%;
  min-height: 100vh;
  padding-top: 0;
}

.main-panel {
  transition: width 0.25s ease, margin 0.25s ease;
  margin-left: 250px;
  width: calc(100% - 250px);
  min-height: calc(100vh - 20px);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

@media (max-width: 991px) {
  .main-panel {
    margin-left: 0;
    width: calc(100% - 250px);

  }
}

.content-wrapper {
  background: #FBFCFE;
  padding: 0 55px 55px 55px;
  width: 100%;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.container-fluid{
  padding-left:0;
  padding-right: 0;
}
.container-scroller {
  overflow: hidden;
}
@media (min-width: 1200px){
  .container{
    max-width: 1440px;
  }
}
@media (min-width: 2000px){
  .container{
    max-width: 2240px;
  }
}

pre {
  background: #e8eff4;
  padding: 15px;
  font-size: 14px;
}

code {
  padding: 5px;
  color: #fe7c96;
  font-family: Nunito;
  font-size: 0.875rem;
  border-radius: 4px;
}

.page-header {
  margin: 0 0 1.5rem 0;
}
  
.page-header .breadcrumb {
  border: 0;
  margin-bottom: 0;
  font-size: 14px;
}
.breadcrumb{
  background: transparent;
}

.page-title {
  color: #000;
  font-size: 1.125rem;
  margin-bottom: 0;
}

.page-title .page-title-icon {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0px 3px 8.3px 0.7px rgba(163, 93, 255, 0.35);
}

.page-title .page-title-icon i {
  font-size: .9375rem;
  line-height: 36px;
}

/* Footer */
.footer {
  background: #f2edf3;
  padding: 30px 1rem;
  transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  font-size: calc(0.875rem - 0.05rem);
  font-family: Nunito;
  border-top: 1px solid #dccedf;
}

.footer a {
  color: #1bcfb4;
  font-size: inherit;
}

@media (max-width: 991px) {
  .footer {
    margin-left: 0;
    width: 100%;
  }
}

/* Utilities */
.grid-margin, .purchase-popup {
  margin-bottom: 2.5rem;
}

@media (min-width: 576px) {
  .grid-margin-sm-0 {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .grid-margin-md-0 {
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .grid-margin-lg-0 {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .grid-margin-xl-0 {
    margin-bottom: 0;
  }
}

.img-lg {
  width: 92px;
  height: 92px;
}

.img-sm {
  width: 43px;
  height: 43px;
}

.img-xs {
  width: 37px;
  height: 37px;
}

.img-ss {
  width: 26px;
  height: 26px;
}

.stretch-card {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: stretch;
  justify-content: stretch;
}

.stretch-card > .card {
  width: 100%;
  min-width: 100%;
}

@media (min-width: 576px) {
  .border-right-sm {
    border-right: 1px solid #ebedf2;
  }
}

@media (min-width: 768px) {
  .border-right-md {
    border-right: 1px solid #ebedf2;
  }
}

@media (min-width: 992px) {
  .border-right-lg {
    border-right: 1px solid #ebedf2;
  }
}

@media (min-width: 576px) {
  .border-left-sm {
    border-left: 1px solid #ebedf2;
  }
}

@media (min-width: 768px) {
  .border-left-md {
    border-left: 1px solid #ebedf2;
  }
}

@media (min-width: 992px) {
  .border-left-lg {
    border-left: 1px solid #ebedf2;
  }
}

.text-gray, .card .card-subtitle {
  color: #8c8c8c;
}

.text-black {
  color: #000;
}

.text-small {
  font-size: 12px;
}

.flex-grow {
  flex-grow: 1;
}

.font-weight-light {
  font-family: Nunito;
}

.font-weight-bold {
  font-family: Nunito;
}

.font-weight-normal {
  font-family: Nunito;
}

/*-------------------------------------------------------------------*/
/* === Components === */
/* Badges */
.badge {
  border-radius: .125rem;
  font-size: 11px;
  font-weight: initial;
  line-height: 1;
  padding: .375rem .5625rem;
  font-family: Nunito;
}

.badge.badge-pill {
  border-radius: 10rem;
}

/* Buttons */
.btn {
  font-size: 0.875rem;
  line-height: 1;
  font-family: Nunito;
  height: 32px;
  font-size: 14px;
  padding: 8px;
}
.btn-primary {
  background: #0094C9;
  color: #FFF;
  border-color: #0094C9;
}
.btn-light {
  background: #FBFCFE;
  color: #7B8E9C;
  border: 1px solid #E0E0E0;
}

/* Checkboxes and Radios */
.form-check {
  position: relative;
  display: block;
  margin-top: 15px;
  margin-bottom: 10px;
  padding-left: 0;
}

.form-check .form-check-label {
  display: block;
  font-size: 0.875rem;
  line-height: 1.5;
}

.rtl .form-check .form-check-label {
  margin-left: 0;
  margin-right: 1.75rem;
}

.form-check .form-check-label input {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 0;
  margin-top: 5px;
  z-index: 1;
  cursor: pointer;
}

.rtl .form-check .form-check-label input {
  left: auto;
  right: 0;
}

.form-check .form-check-label input[type="checkbox"] + .input-helper:before, .form-check .form-check-label input[type="checkbox"] + .input-helper:after {
  position: absolute;
  top: 0;
  left: 0;
}

.rtl .form-check .form-check-label input[type="checkbox"] + .input-helper:before, .rtl .form-check .form-check-label input[type="checkbox"] + .input-helper:after {
  left: auto;
  right: 0;
}

.form-check .form-check-label input[type="checkbox"] + .input-helper:before {
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 2px;
  border: solid #b66dff;
  border-width: 2px;
  -webkit-transition: all;
  -moz-transition: all;
  -ms-transition: all;
  -o-transition: all;
  transition: all;
  transition-duration: 0s;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
}

.form-check .form-check-label input[type="checkbox"] + .input-helper:after {
  -webkit-transition: all;
  -moz-transition: all;
  -ms-transition: all;
  -o-transition: all;
  transition: all;
  transition-duration: 0s;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  font-family: Material Design Icons;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  content: '\F12C';
  font-size: .9375rem;
  font-weight: bold;
  color: #ffffff;
}

.form-check .form-check-label input[type="checkbox"]:checked + .input-helper:before {
  background: linear-gradient(to right, #da8cff, #9a55ff);
  border-width: 0;
}

.form-check .form-check-label input[type="checkbox"]:checked + .input-helper:after {
  width: 18px;
  opacity: 1;
  line-height: 18px;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.form-check .form-check-label input[type="checkbox"]:disabled + .input-helper:before {
  border-color: #ebedf2;
}

.form-check .form-check-label input[type="checkbox"]:disabled:checked + .input-helper:after {
  background: #ebedf2;
  color: #ffffff;
}

.form-check .form-check-label input[type="radio"] + .input-helper:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  border: solid #b66dff;
  border-width: 2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-transition: all;
  -moz-transition: all;
  -ms-transition: all;
  -o-transition: all;
  transition: all;
  transition-duration: 0s;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
}

.rtl .form-check .form-check-label input[type="radio"] + .input-helper:before {
  left: auto;
  right: 0;
}

.form-check .form-check-label input[type="radio"] + .input-helper:after {
  content: "";
  width: 8px;
  height: 8px;
  background: #ffffff;
  border-radius: 50%;
  top: 6px;
  left: 6px;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  transition-duration: 0s;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  position: absolute;
}

.rtl .form-check .form-check-label input[type="radio"] + .input-helper:after {
  left: auto;
  right: 6px;
}

.form-check .form-check-label input[type="radio"]:checked + .input-helper:before {
  background: linear-gradient(to right, #da8cff, #9a55ff);
  border-width: 0;
}

.form-check .form-check-label input[type="radio"]:checked + .input-helper:after {
  opacity: 1;
  line-height: 1.5;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.form-check .form-check-label input[type="radio"]:disabled + .input-helper:before {
  border-color: #ebedf2;
}

.form-check .form-check-label input[type="radio"]:disabled:checked + .input-helper:before {
  background: #ebedf2;
}

.form-check .form-check-label input[type="radio"]:disabled:checked + .input-helper:after {
  background: #ffffff;
}

.form-check-primary.form-check label input[type="checkbox"] + .input-helper:before,
.form-check-primary.form-check label input[type="radio"] + .input-helper:before {
  border-color: #b66dff;
}

.form-check-primary.form-check label input[type="checkbox"]:checked + .input-helper:before,
.form-check-primary.form-check label input[type="radio"]:checked + .input-helper:before {
  background: linear-gradient(to right, #da8cff, #9a55ff);
}

.form-check-secondary.form-check label input[type="checkbox"] + .input-helper:before,
.form-check-secondary.form-check label input[type="radio"] + .input-helper:before {
  border-color: #d8d8d8;
}

.form-check-secondary.form-check label input[type="checkbox"]:checked + .input-helper:before,
.form-check-secondary.form-check label input[type="radio"]:checked + .input-helper:before {
  background: linear-gradient(to right, #e7ebf0, #868e96);
}

.form-check-success.form-check label input[type="checkbox"] + .input-helper:before,
.form-check-success.form-check label input[type="radio"] + .input-helper:before {
  border-color: #1bcfb4;
}

.form-check-success.form-check label input[type="checkbox"]:checked + .input-helper:before,
.form-check-success.form-check label input[type="radio"]:checked + .input-helper:before {
  background: linear-gradient(to right, #84d9d2, #07cdae);
}

.form-check-info.form-check label input[type="checkbox"] + .input-helper:before,
.form-check-info.form-check label input[type="radio"] + .input-helper:before {
  border-color: #198ae3;
}

.form-check-info.form-check label input[type="checkbox"]:checked + .input-helper:before,
.form-check-info.form-check label input[type="radio"]:checked + .input-helper:before {
  background: linear-gradient(to right, #90caf9, #047edf 99%);
}

.form-check-warning.form-check label input[type="checkbox"] + .input-helper:before,
.form-check-warning.form-check label input[type="radio"] + .input-helper:before {
  border-color: #fed713;
}

.form-check-warning.form-check label input[type="checkbox"]:checked + .input-helper:before,
.form-check-warning.form-check label input[type="radio"]:checked + .input-helper:before {
  background: linear-gradient(to right, #f6e384, #ffd500);
}

.form-check-danger.form-check label input[type="checkbox"] + .input-helper:before,
.form-check-danger.form-check label input[type="radio"] + .input-helper:before {
  border-color: #fe7c96;
}

.form-check-danger.form-check label input[type="checkbox"]:checked + .input-helper:before,
.form-check-danger.form-check label input[type="radio"]:checked + .input-helper:before {
  background: linear-gradient(to right, #ffbf96, #fe7096);
}

.form-check-light.form-check label input[type="checkbox"] + .input-helper:before,
.form-check-light.form-check label input[type="radio"] + .input-helper:before {
  border-color: #f8f9fa;
}

.form-check-light.form-check label input[type="checkbox"]:checked + .input-helper:before,
.form-check-light.form-check label input[type="radio"]:checked + .input-helper:before {
  background: linear-gradient(to bottom, #f4f4f4, #e4e4e9);
}

.form-check-dark.form-check label input[type="checkbox"] + .input-helper:before,
.form-check-dark.form-check label input[type="radio"] + .input-helper:before {
  border-color: #3e4b5b;
}

.form-check-dark.form-check label input[type="checkbox"]:checked + .input-helper:before,
.form-check-dark.form-check label input[type="radio"]:checked + .input-helper:before {
  background: linear-gradient(89deg, #5e7188, #3e4b5b);
}

/* Dropdowns */
.dropdown .dropdown-toggle::after {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 0;
  width: auto;
  height: auto;
  vertical-align: baseline;
  font-size: .75rem;
}

.dropdown .dropdown-menu {
  margin-top: .75rem;
  box-shadow: 0px 1px 15px 1px rgba(230, 234, 236, 0.35);
}
.dropdown-menu.navbar-dropdown{
  top: 80%;
}
.dropdown-toggle .icons i {
  position: absolute;
  top: 27px;
  right: 27px;

  display: block;
}
.dropdown-toggle[aria-expanded="true"] .icons .icon-default{
  transform: rotate(180deg) scale(.5);
  opacity: 0;
}
.dropdown-toggle[aria-expanded="true"] .icons .icon-open{
  transform: rotate(0deg) scale(1);
  opacity: 1;
}
.dropdown-toggle .icons .icon-default{
  transition: opacity .3s, transform .3s;
}
.dropdown-toggle .icons .icon-open{
  transition: opacity .3s, transform .3s;
  transform: rotate(-180deg) scale(.5);
  opacity: 0;
}

.dropdown .dropdown-menu .dropdown-item {
  font-family: Nunito;
  font-size: 14px;
  padding: .15rem .15rem;
}

.dropdown .dropdown-menu .dropdown-item:active {
  background: initial;
}

/* Forms */

.input-group-append,
.input-group-prepend {
  color: #c9c8c8;
  width: auto;
  border: 1px solid #ebedf2;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  font-size: 10px;
  
}

.input-group > .input-group-append,
.input-group > .input-group-prepend {
  border-color: #ebedf2;
  padding: 8px;
  background: #ebedf2;
}

.form-control {
  border: 1px solid #ebedf2;
  font-family: Nunito;
  font-size: 14px;
  height: 32px;
}
.col-form-label{
  font-size: 14px;
  font-family: Nunito;
  color: #9AA1A6;
}
.form-check-label{
  font-family: Nunito;
  color: #9AA1A6;
}

select.form-control.custom-select {
  height: 32px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 14px;
  background-image: none;
  -ms-word-break: normal;
  word-break: normal;
  padding: 4px 12px;
  background-image:
    linear-gradient(45deg, transparent 50%,#485D6E 50%),
    linear-gradient(135deg, #485D6E 50%, transparent 50%),
    linear-gradient(to right, #FFF, #FFF);
  background-position:
    calc(100% - 12px) calc(1em),
    calc(100% - 7px) calc(1em),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
}

select.form-control {
  height: 32px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 10px;
  background-image: none;
  -ms-word-break: normal;
  word-break: normal;
  padding: 0.5em 5em 0.5em 1em;
}

#date_filter a{
  margin-bottom: 8px;
}
.form-group.formset{
  margin-bottom: 2px;
}
#modifiers_formset .form-group,
#varaint_formset .form-group{
  margin-bottom: 2px;
}
.form-group label {
  font-size: 14px;
  line-height: 1;
  vertical-align: top;
  margin-bottom: 4px;
}

.form-group.has-danger .form-control {
  border-color: #fe7c96;
}

.form-group .file-upload-default {
  visibility: hidden;
  position: absolute;
}

.form-group .file-upload-info {
  background: transparent;
}

/* Icons */
.icons-list {
  border-left: 1px solid #ebedf2;
  border-top: 1px solid #ebedf2;
  margin-left: 0;
  margin-right: 0;
}

.icons-list > div {
  background: #ffffff;
  border-bottom: 1px solid #ebedf2;
  border-right: 1px solid #ebedf2;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  padding: 15px 15px;
  font-family: Nunito;
  font-size: 0.875rem;
}

.icons-list > div i {
  display: inline-block;
  font-size: 20px;
  width: 40px;
  text-align: left;
  color: #b66dff;
}

/* Lists */
ul,
ol,
dl {
  padding-left: 1rem;
  font-size: 0.875rem;
}

ul li,
ol li,
dl li {
  line-height: 1.8;
}

/* Preview */
.preview-list .preview-item {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  padding: .75rem 1.5rem;
  font-size: .875rem;
}

.preview-list .preview-item:last-child {
  border-bottom: 0;
}

.preview-list .preview-item:hover {
  background: #f8f9fa;
}

.preview-list .preview-item .form-check {
  margin-top: 8px;
  margin-right: 1rem;
}

.preview-list .preview-item .preview-thumbnail {
  color: #ffffff;
  position: relative;
}

.preview-list .preview-item .preview-thumbnail img,
.preview-list .preview-item .preview-thumbnail .preview-icon {
  width: 36px;
  height: 36px;
  border-radius: 100%;
}

.preview-list .preview-item .preview-thumbnail .preview-icon {
  padding: 6px;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.preview-list .preview-item .preview-thumbnail .preview-icon i {
  font-size: 1.125rem;
  margin: 0;
}

.preview-list .preview-item .preview-thumbnail .badge {
  border: 2px solid #ffffff;
  border-radius: 100%;
  bottom: 5px;
  display: block;
  height: 14px;
  left: -5px;
  padding: 0;
  position: absolute;
  width: 14px;
}

.preview-list .preview-item .preview-item-content {
  line-height: 1;
  padding-left: 15px;
}

.preview-list .preview-item .preview-item-content:first-child {
  padding-left: 0;
}

.preview-list .preview-item .preview-item-content p {
  margin-bottom: 10px;
}

.preview-list .preview-item .preview-item-content p .content-category {
  font-family: 'source-sans-pro-semibold', sans-serif;
  padding-right: 15px;
  border-right: 1px solid #ebedf2;
}

.rtl .preview-list .preview-item .preview-item-content {
  padding-left: 0;
  padding-right: 1rem;
  margin-right: 0;
  margin-left: auto;
}

.preview-list .preview-item .preview-actions {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.preview-list .preview-item .preview-actions i {
  width: 29px;
  color: #e6e9ed;
  height: 29px;
  border: 2px solid #e6e9ed;
  border-radius: 100%;
  padding: 3px 6px;
  display: inline-block;
}

.preview-list .preview-item .preview-actions i:first-child {
  margin-right: 10px;
}

.preview-list.comment-preview .preview-item {
  padding: .87rem 0;
}

.preview-list.comment-preview .preview-item:first-child {
  padding-top: 0;
}

.preview-list.comment-preview .preview-item p {
  line-height: 27px;
}

.preview-list.bordered .preview-item {
  border-bottom: 1px solid #ebedf2;
}

.preview-list.bordered .preview-item:last-child {
  border-bottom: 0;
}

/*-------------------------------------------------------------------*/
/* === Landing screens === */
/* Auth */
.auth .auth-form-light {
  background: #ffffff;
}

.auth .auth-form-light select {
  color: #c9c8c8;
}

.auth .auth-form-light .input-group .form-control:focus, .auth .auth-form-light .input-group .form-control:active {
  border-color: #ebedf2;
}

.auth .brand-logo {
  margin-bottom: 2rem;
}

.auth .brand-logo img {
  width: 150px;
}
.auth form .form-group {
  margin-bottom: 1.5rem;
}


.auth form .form-group label {
  font-size: .8125rem;
}

.auth form .form-group .form-control {
  background: transparent;
  border-radius: 0;
  font-size: .9375rem;
}

.auth form .auth-form-btn {
  height: 50px;
  line-height: 1.5;
}

.auth form .auth-link {
  font-size: 0.875rem;
}

.auth form .auth-link:hover {
  color: initial;
}

.subscription {
  width: 100%;
  height: 40px;
  font-family: Nunito;
  font-size: 10px;
  letter-spacing: 1;
  color: #FFF;
  background:#00D8A1;
  z-index: 1034;
}
.subscription-expired{
  width: 100%;
  height: 40px;
  font-family: Nunito;
  font-size: 10px;
  letter-spacing: 1;
  color: #FFF;
  background: #ff5e4c;
  z-index: 1034;
}
.subscription-info{
  padding: 8px;
}
.plan-btn{
  margin: 5px;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  padding:7px;
}

table {
  font-family: Nunito;
  font-size: 14px;
  padding: 5px;
  background-color: #FFF !important;
  border: #E8E9ED 1px solid;
  max-width: 100%;
}
.subscription .container,
.subscription-expired .container{
  width: 100%;
}

.subscription .container .row,
.subscription-expired .container .row{
  max-height: 40px;
}

.table th {
  text-align: center;
  border-top: 0;
}
.pagination{
  padding-right: 5px;
}
.pagination .previous,
.pagination .next{
  padding: 5px;
}

div.dataTables_wrapper div.dataTables_info{
  font-family: Nunito;
  font-size: 14px !important;
}

.table thead th{
  border-bottom: 0;
}

.datatable-filter td .datatable-filter-input-group label,
.datatable-filter td .datatable-filter-input-group select,
.datatable-filter td .datatable-filter-input-group .btn,
.datatable-filter td .datatable-filter-input-group input{
  height: 32px;
  min-width: 65px;
}
#companyBranch,
.datatable-filter td .datatable-filter-input-group select{
  height: 32px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 14px;
  word-break: normal;
  padding: 5px;
  background-image:
    linear-gradient(45deg, transparent 50%,#485D6E 50%),
    linear-gradient(135deg, #485D6E 50%, transparent 50%),
    linear-gradient(to right, #FFF, #FFF);
  background-position:
    calc(100% - 12px) calc(1em),
    calc(100% - 7px) calc(1em),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
}

.btn-outline-primary:not([disabled]):not(.disabled):active, .btn-outline-primary:not([disabled]):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle{
  box-shadow: none;
}

.p-0{
  padding-left: 0;
  padding-right: 0;
}

#div_id_image_location input{
  outline: none;
  height: 180px;
  width: 180px;
  opacity: 0;
}

@media (min-width: 2000px){
  #div_id_image_location input{
    outline: none;
    height: 300px;
    width: 300px;
    opacity: 0;
  }
}

#div_id_image_location .upload_box{
  border: 1px solid #ebedf2;
  padding: 5px;
  border-radius: 3px;
}
.upload_box .image_box{
  border: 1px dashed #ebedf2;
  border-radius: 3px;
  background: url("/static/images/cloud-upload.png") no-repeat;
  background-size: 50px;
  background-position: center;
}
.card{
  margin-bottom: 2rem;
}
.card-body{
  padding: 30px;
}
.upload-instruction{
  color: #9AA1A6;
  font-family: Nunito;
  font-size: 14px;
  text-align: center;
}

.sales-card .card .card-body{
  padding: 1.5rem;
}
.report .card .card-body{
  padding: 1.5rem;
}

#div_id_promo_type-promo_type .form-check{
  display: inline;
  margin: 10px;
  cursor: pointer;
}

#div_id_promo_type-promo_type .form-check label{
  cursor: pointer;
  display: inline;
  padding: 25px;
  border: 2px solid #9AA1A6;
  border-radius: 3px;
}
.form-check{
  margin-top: 5px;
}
#div_id_promo_type-promo_type .form-check input{
  visibility: hidden;
}

.check-all{
  color: #CCD6DD;
  font-size: 12px;
}
#div_id_promo_configuration_form-outlet,
#div_id_promo_configuration_form-allow_days{
  display: none;
}

.action-toggle{
  color: #212529;
  font-size: 16px;
}
.action-toggle-menu{
  font-size: 14px;
}

#variant_products,
#modifier_products{
  border-top: 1px solid #ebedf2;
}

#card_header{
  max-height: 40px;
}
.btn#delete-item-modifier,
.btn#delete-item-variant{
  margin-bottom: 2px;
}
.variants-field{
  -ms-flex: 0 0 76%;
  flex: 0 0 76%;
  max-width: 76%;
}
.values-field{
  -ms-flex: 0 0 92%;
  flex: 0 0 92%;
  max-width: 92%;
}
.delete-variant-btn{
  -ms-flex: 0 0 24%;
  flex: 0 0 24%;
  max-width: 24%;
  
}

.delete-btn{
  -ms-flex: 0 0 8%;
  flex: 0 0 8%;
  max-width: 8%;
}

#product-summary{
  font-family: Nunito;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0 !important;
}
.card .card-body #summary{
  border-bottom: #E8E9ED 1px solid;
}
