/* line 33, ../sass/main.scss */
html {
  scroll-behavior: smooth;
}

/* line 37, ../sass/main.scss */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Nunito Sans', sans-serif;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

/* line 45, ../sass/main.scss */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Nunito Sans', sans-serif;
}

/* line 49, ../sass/main.scss */
.navbar-brand {
  display: flex;
  align-items: center;
}
/* line 52, ../sass/main.scss */
.navbar-brand img {
  height: 60px;
}

/* line 56, ../sass/main.scss */
.btn-primary {
  background-color: #EB9928;
  border-color: #EB9928;
}
/* line 59, ../sass/main.scss */
.btn-primary:hover, .btn-primary:focus, .btn-primary:visited {
  background-color: #d98614;
  border-color: #cd7f13;
}

/* line 64, ../sass/main.scss */
.navbar-custom {
  transition: 0.2s ease-out;
  font-weight: 600;
}
/* line 67, ../sass/main.scss */
.navbar-custom .navbar-toggler {
  background-color: #fff;
}
/* line 70, ../sass/main.scss */
.navbar-custom .logo-text {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}
/* line 77, ../sass/main.scss */
.navbar-custom .navbar-nav .nav-item.active > .nav-link {
  color: #0094c9;
}
/* line 80, ../sass/main.scss */
.navbar-custom .navbar-nav .nav-link-menu:hover {
  color: #EB9928 !important;
}
/* line 83, ../sass/main.scss */
.navbar-custom .navbar-nav .nav-link-menu.active {
  color: #EB9928 !important;
}
/* line 86, ../sass/main.scss */
.navbar-custom .navbar-nav .nav-link:hover {
  color: #fff;
}

/* line 91, ../sass/main.scss */
.fixed-top.scrolled {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0094c9+0,0094c9+100&0.5+0,0.5+100 */
  background: -moz-linear-gradient(left, #7fd3e5 0%, #7fdae6 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #7fd3e5 0%, #7fdae6 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #7fd3e5 0%, #7fdae6 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  transition: background-color 200ms linear;
}

/* line 98, ../sass/main.scss */
p {
  color: #6c757d;
}

/* line 102, ../sass/main.scss */
.btn-outline-custom {
  text-transform: capitalize;
  color: #9BAEBC;
  border: 2px solid #fff;
}
/* line 106, ../sass/main.scss */
.btn-outline-custom:hover {
  background: transparent;
  color: #EB9928;
  background-color: #EB9928;
  border: 2px solid #EB9928;
}

/* line 114, ../sass/main.scss */
.btn-custom {
  border-radius: 3rem;
  color: #fff;
  padding: .7em 3em;
}
/* line 118, ../sass/main.scss */
.btn-custom:hover {
  color: #fff;
}

/* line 123, ../sass/main.scss */
.badge-custom {
  background-color: #EB9928;
  font-size: 15px;
  line-height: 34px;
  padding: 0 1.5em;
  border-radius: 25px;
}

/* line 130, ../sass/main.scss */
.overlay {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
/* line 135, ../sass/main.scss */
.overlay .banner-content {
  padding-top: 2%;
}

/* line 139, ../sass/main.scss */
.main-header-part, .features-header-part {
  margin-top: -90px;
  align-items: center;
  height: 940px;
  background: url("../images/marketing_page/main-bg.png") no-repeat;
  background-size: cover;
  background-position: center -90px;
}
/* line 146, ../sass/main.scss */
.main-header-part h1, .features-header-part h1 {
  font-size: 48px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  color: #fff;
}
/* line 152, ../sass/main.scss */
.main-header-part h5, .features-header-part h5 {
  font-size: 20px;
  font-family: "Nunito Sans", sans-serif;
  color: #fff;
}
/* line 157, ../sass/main.scss */
.main-header-part .main-header-text, .features-header-part .main-header-text {
  padding-right: 90px;
  color: #fff;
}
/* line 161, ../sass/main.scss */
.main-header-part a.play-btn, .features-header-part a.play-btn {
  padding: .6em 1.8em;
  margin-left: 1.5em;
  border-radius: 2em;
}
/* line 166, ../sass/main.scss */
.main-header-part a, .features-header-part a {
  color: #fff;
}
/* line 168, ../sass/main.scss */
.main-header-part a:hover, .features-header-part a:hover {
  color: #fff;
}

/* line 173, ../sass/main.scss */
.features-header-part {
  background: url("../images/marketing_page/main-bg2.png") no-repeat;
  background-position: right;
  background-size: cover;
}

/* line 180, ../sass/main.scss */
.navbar-custom .nav-item .nav-link {
  color: #fff;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* line 188, ../sass/main.scss */
.about-part h3, .visi-part h3, .privacy-part h3 {
  font-size: 2.25rem;
  color: #374955;
}
/* line 192, ../sass/main.scss */
.about-part p, .about-part li, .visi-part p, .visi-part li, .privacy-part p, .privacy-part li {
  line-height: 27px;
  color: #9BAEBC;
  padding-top: 1rem;
}
/* line 198, ../sass/main.scss */
.about-part .about-icon-part .privacy-icon-part h4, .visi-part .about-icon-part .privacy-icon-part h4, .privacy-part .about-icon-part .privacy-icon-part h4 {
  color: #374955;
}
/* line 201, ../sass/main.scss */
.about-part .about-icon-part .privacy-icon-part img, .visi-part .about-icon-part .privacy-icon-part img, .privacy-part .about-icon-part .privacy-icon-part img {
  height: 96px;
  box-shadow: 0px 2px 20px rgba(74, 144, 226, 0.16);
  padding: 1.4em;
}

/* line 209, ../sass/main.scss */
.why-part, .why-part-xs {
  position: relative;
}
/* line 211, ../sass/main.scss */
.why-part .bg-skew-part, .why-part-xs .bg-skew-part {
  height: 100%;
  width: 100%;
  position: absolute;
  transform: skewy(-15deg);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edfbff+0,edfbff+100&0.5+0,1+100 */
  background: -moz-linear-gradient(left, rgba(237, 251, 255, 0.5) 0%, #edfbff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(237, 251, 255, 0.5) 0%, #edfbff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(237, 251, 255, 0.5) 0%, #edfbff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80edfbff', endColorstr='#edfbff',GradientType=1 );
  /* IE6-9 */
  z-index: -3;
}
/* line 223, ../sass/main.scss */
.why-part .inner-why-part, .why-part-xs .inner-why-part {
  position: relative;
}
/* line 225, ../sass/main.scss */
.why-part .inner-why-part .row, .why-part-xs .inner-why-part .row {
  align-items: center;
  padding: 2em 0 0;
}
/* line 228, ../sass/main.scss */
.why-part .inner-why-part .row .img-text-contain-left,
.why-part .inner-why-part .row .img-text-contain-right, .why-part-xs .inner-why-part .row .img-text-contain-left,
.why-part-xs .inner-why-part .row .img-text-contain-right {
  padding: 4em 2em;
  background-color: #fff;
  box-shadow: 0px 0px 15px #ddd;
}
/* line 234, ../sass/main.scss */
.why-part .inner-why-part .row .img-text-contain-left, .why-part-xs .inner-why-part .row .img-text-contain-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
/* line 238, ../sass/main.scss */
.why-part .inner-why-part .row .img-text-contain-right, .why-part-xs .inner-why-part .row .img-text-contain-right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: -2;
}
/* line 243, ../sass/main.scss */
.why-part .inner-why-part .row img, .why-part-xs .inner-why-part .row img {
  border-radius: 4%;
}
/* line 247, ../sass/main.scss */
.why-part .inner-why-part h3, .why-part-xs .inner-why-part h3 {
  font-size: 2.25rem;
  color: #374955;
}
/* line 251, ../sass/main.scss */
.why-part .inner-why-part p, .why-part-xs .inner-why-part p {
  line-height: 27px;
  color: #9BAEBC;
  padding-top: 1rem;
}
/* line 256, ../sass/main.scss */
.why-part .inner-why-part .c-pad-img1, .why-part-xs .inner-why-part .c-pad-img1 {
  padding-left: 0;
}
/* line 259, ../sass/main.scss */
.why-part .inner-why-part .c-pad-img2, .why-part-xs .inner-why-part .c-pad-img2 {
  padding-right: 0;
  text-align: right;
}

/* line 267, ../sass/main.scss */
.harga-part h3, .harga-hardware h3 {
  font-size: 2em;
  color: #374955;
  font-weight: 600;
}
/* line 274, ../sass/main.scss */
.harga-part .card, .harga-hardware .card {
  border: 0;
  border-radius: 0px;
  -webkit-box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.08);
  transition: all .3s ease-in-out;
  padding: 2.25rem 0;
  position: relative;
  will-change: transform;
}
/* line 284, ../sass/main.scss */
.harga-part .card:after, .harga-hardware .card:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 5px;
  background-color: #EB9928;
  transition: 0.5s;
}
/* line 295, ../sass/main.scss */
.harga-part .card:hover, .harga-hardware .card:hover {
  transform: scale(1.05);
  -webkit-box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
}
/* line 300, ../sass/main.scss */
.harga-part .card:hover:after, .harga-hardware .card:hover:after {
  width: 100%;
}
/* line 305, ../sass/main.scss */
.harga-part .card .card-header, .harga-hardware .card .card-header {
  background-color: white;
  padding-left: 2rem;
  border-bottom: 2px solid #ddd;
  margin-bottom: 1em;
}
/* line 311, ../sass/main.scss */
.harga-part .card .card-title, .harga-hardware .card .card-title {
  margin-bottom: 1rem;
}
/* line 314, ../sass/main.scss */
.harga-part .card .card-block, .harga-hardware .card .card-block {
  padding-top: 0;
  min-height: 230px;
}
/* line 317, ../sass/main.scss */
.harga-part .card .card-block p, .harga-hardware .card .card-block p {
  padding: 1em;
}
/* line 319, ../sass/main.scss */
.harga-part .card .card-block p span, .harga-hardware .card .card-block p span {
  color: #da6664;
}
/* line 324, ../sass/main.scss */
.harga-part .card .list-group-item, .harga-hardware .card .list-group-item {
  border: 0px;
  padding: .25rem;
  color: #808080;
  font-weight: 300;
}
/* line 333, ../sass/main.scss */
.harga-part .display-2, .harga-hardware .display-2 {
  font-size: 1.5em;
  letter-spacing: normal;
  color: #aaa;
  font-weight: 600;
}
/* line 338, ../sass/main.scss */
.harga-part .display-2 .currency, .harga-hardware .display-2 .currency {
  font-size: 2.75rem;
  position: relative;
  font-weight: 400;
  top: -45px;
  letter-spacing: 0px;
}
/* line 345, ../sass/main.scss */
.harga-part .display-2 .period, .harga-hardware .display-2 .period {
  font-size: 1rem;
  color: #b3b3b3;
  letter-spacing: 0px;
}
/* line 353, ../sass/main.scss */
.harga-part .btn, .harga-hardware .btn {
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 500;
  color: #a6a6a6;
  border-radius: 0;
  padding: .75rem 1.25rem;
  letter-spacing: 1px;
}
/* line 363, ../sass/main.scss */
.harga-part .btn-gradient, .harga-hardware .btn-gradient {
  background-color: #f2f2f2;
  transition: background .3s ease-in-out;
}
/* line 367, ../sass/main.scss */
.harga-part .btn-gradient:hover, .harga-hardware .btn-gradient:hover {
  color: white;
  background-color: #EB9928;
}

/* line 375, ../sass/main.scss */
.harga-hardware .card .card-block {
  min-height: 600px;
}
/* line 377, ../sass/main.scss */
.harga-hardware .card .card-block .list-group {
  text-align: left;
}
/* line 380, ../sass/main.scss */
.harga-hardware .card .card-block .btn {
  padding: .75em 4.50em;
}

/* line 387, ../sass/main.scss */
.trial-box {
  padding: 2em 0 3em;
}
/* line 389, ../sass/main.scss */
.trial-box .trial-content {
  color: #fff;
  padding: 2em;
  background-image: linear-gradient(45deg, #0094C9 0%, #00DBD2 100%);
  border-radius: 20px;
}
/* line 394, ../sass/main.scss */
.trial-box .trial-content h3 {
  padding-bottom: 1em;
  font-size: 2.2em;
  font-weight: 700;
}
/* line 399, ../sass/main.scss */
.trial-box .trial-content p {
  color: #fff;
  padding-bottom: 1.5em;
}
/* line 403, ../sass/main.scss */
.trial-box .trial-content form {
  padding-bottom: 1em;
  display: inline-flex;
}
/* line 406, ../sass/main.scss */
.trial-box .trial-content form input {
  height: 65px;
  width: 500px;
  border-radius: 8px;
}
/* line 411, ../sass/main.scss */
.trial-box .trial-content form button {
  height: 65px;
  border-radius: 8px;
  line-height: 65px;
  padding: 0 3em;
}

/* line 421, ../sass/main.scss */
.page-footer {
  background-color: #fff;
  box-shadow: 0px -5px 10px #eee;
}
/* line 424, ../sass/main.scss */
.page-footer hr {
  margin: 0px;
}
/* line 427, ../sass/main.scss */
.page-footer .row {
  height: 100px;
}
/* line 429, ../sass/main.scss */
.page-footer .row .img-logo1 {
  height: 80px;
}
/* line 432, ../sass/main.scss */
.page-footer .row .img-logo2 {
  height: 25px;
}
/* line 436, ../sass/main.scss */
.page-footer p {
  color: #9BAEBC;
  margin: 0;
  align-items: center;
  display: flex;
  text-align: left;
}
/* line 444, ../sass/main.scss */
.page-footer ul li {
  color: #374955;
}
/* line 446, ../sass/main.scss */
.page-footer ul li .nav-link {
  padding: 0.5rem 1.2rem;
  color: inherit;
}
/* line 450, ../sass/main.scss */
.page-footer ul li a {
  color: #374955;
  font-weight: 700;
}
/* line 453, ../sass/main.scss */
.page-footer ul li a:hover {
  color: #EB9928;
  transition: all .3s ease-in-out;
}

/* line 462, ../sass/main.scss */
.about-main-header, .pricing-main-header, .privacy-main-header {
  height: 420px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0094c9+0,0094c9+100&0.5+0,0.5+100 */
  background: -moz-linear-gradient(left, #7fd3e5 0%, #7fdae6 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #7fd3e5 0%, #7fdae6 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #7fd3e5 0%, #7fdae6 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  align-items: center;
  background-size: cover;
}
/* line 470, ../sass/main.scss */
.about-main-header h1, .pricing-main-header h1, .privacy-main-header h1 {
  font-size: 48px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  color: #fff;
}
/* line 476, ../sass/main.scss */
.about-main-header h5, .pricing-main-header h5, .privacy-main-header h5 {
  font-size: 20px;
  font-family: "Nunito Sans", sans-serif;
  color: #fff;
}

/* line 484, ../sass/main.scss */
.features-container {
  padding: 0 0 3em;
  position: relative;
}
/* line 487, ../sass/main.scss */
.features-container .features-nav {
  margin-top: 3em;
}
/* line 489, ../sass/main.scss */
.features-container .features-nav #side {
  padding-top: 7em;
}
/* line 492, ../sass/main.scss */
.features-container .features-nav .nav-link {
  padding: 1.5em 1.5em;
  margin-bottom: .5em;
  color: #374955;
  border-radius: 10px;
}
/* line 497, ../sass/main.scss */
.features-container .features-nav .nav-link:hover {
  background-color: #fff;
  color: #EB9928;
  box-shadow: 0px 0px 20px rgba(74, 144, 226, 0.16);
}
/* line 502, ../sass/main.scss */
.features-container .features-nav .nav-link h3 {
  margin-bottom: 0;
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 510, ../sass/main.scss */
.features-container .features-nav .nav-link.active {
  background-color: #fff;
  color: #EB9928;
  box-shadow: 0px 0px 20px rgba(74, 144, 226, 0.16);
}
/* line 516, ../sass/main.scss */
.features-container .features-content {
  position: relative;
  text-align: center;
  margin-top: 3em;
}
/* line 520, ../sass/main.scss */
.features-container .features-content h2 {
  font-size: 36px;
  padding: 3em 0 1em 0;
}
/* line 524, ../sass/main.scss */
.features-container .features-content #list-1, .features-container .features-content #list-2, .features-container .features-content #list-3, .features-container .features-content #list-4, .features-container .features-content #list-5 {
  padding: 0 1.5em;
  height: 100%;
}
/* line 527, ../sass/main.scss */
.features-container .features-content #list-1 img, .features-container .features-content #list-2 img, .features-container .features-content #list-3 img, .features-container .features-content #list-4 img, .features-container .features-content #list-5 img {
  max-height: 295px;
  padding-bottom: 2em;
}

/* line 535, ../sass/main.scss */
.contact-form-sec {
  padding: 0 1em;
}
/* line 537, ../sass/main.scss */
.contact-form-sec .contact-form-content {
  background-color: #fff;
  box-shadow: 0 2px 20px 0 rgba(74, 144, 226, 0.16);
  border-radius: 20px;
  top: -5em;
  position: relative;
}
/* line 543, ../sass/main.scss */
.contact-form-sec .contact-form-content a {
  color: #fff !important;
}

/* line 552, ../sass/main.scss */
body.error-page-404 {
  background-image: url(../images/404_imga.png);
}

/* line 555, ../sass/main.scss */
body.error-page-403 {
  background-image: url(../images/403_imga.png);
}

/* line 558, ../sass/main.scss */
body.error-page-500 {
  background-image: url(../images/500_imga.png);
}

/* line 561, ../sass/main.scss */
.error-page-404, .error-page-403, .error-page-500 {
  background-position: center 20%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #7fd7e6;
}
/* line 567, ../sass/main.scss */
.error-page-404 .error-content, .error-page-403 .error-content, .error-page-500 .error-content {
  height: 100%;
  width: 100%;
  color: #fff;
}
/* line 571, ../sass/main.scss */
.error-page-404 .error-content h1, .error-page-403 .error-content h1, .error-page-500 .error-content h1 {
  font-size: 96px;
  padding: .3em 0 .1em;
}
/* line 575, ../sass/main.scss */
.error-page-404 .error-content h3, .error-page-403 .error-content h3, .error-page-500 .error-content h3 {
  font-size: 36px;
  padding-bottom: .3em;
}

@media (max-width: 991.98px) {
  /* line 585, ../sass/main.scss */
  .main-header-part {
    height: 785px;
    background-position: -220px -70px;
  }
  /* line 588, ../sass/main.scss */
  .main-header-part h1 {
    font-size: 40px;
  }
  /* line 591, ../sass/main.scss */
  .main-header-part h5 {
    font-size: 18px;
  }

  /* line 598, ../sass/main.scss */
  .why-part-xs .inner-why-part .row h3 {
    font-size: 1.8em;
  }
  /* line 601, ../sass/main.scss */
  .why-part-xs .inner-why-part .row .img-text-contain-left, .why-part-xs .inner-why-part .row .img-text-contain-right {
    padding: 1em;
  }

  /* line 609, ../sass/main.scss */
  .trial-box .trial-content h3 {
    font-size: 2em;
  }
}
@media (max-width: 1199.98px) {
  /* line 620, ../sass/main.scss */
  .why-part .inner-why-part .row h3 {
    font-size: 1.8em;
  }
  /* line 623, ../sass/main.scss */
  .why-part .inner-why-part .row .img-text-contain-left, .why-part .inner-why-part .row .img-text-contain-right {
    padding: 2em;
  }

  /* line 632, ../sass/main.scss */
  .why-part-xs .inner-why-part .row h3 {
    font-size: 1.8em;
  }
  /* line 635, ../sass/main.scss */
  .why-part-xs .inner-why-part .row .img-text-contain-left, .why-part-xs .inner-why-part .row .img-text-contain-right {
    padding: 1em;
  }
  /* line 638, ../sass/main.scss */
  .why-part-xs .inner-why-part .row p {
    line-height: 22px;
    padding-top: .6rem;
  }
}
/* line 648, ../sass/main.scss */
.error-page-404, .error-page-403, .error-page-500 {
  background-position: center 33%;
}

@media (min-width: 992px) {
  /* line 654, ../sass/main.scss */
  .why-part, .part-others-about {
    display: block;
  }

  /* line 657, ../sass/main.scss */
  .why-part-xs, .part-xs-about {
    display: none;
  }

  /* line 660, ../sass/main.scss */
  .navbar-nav .nav-item {
    align-self: center;
  }

  /* line 664, ../sass/main.scss */
  .page-footer .nav {
    justify-content: flex-end;
  }
}
@media (max-width: 991.98px) {
  /* line 671, ../sass/main.scss */
  .why-part, .part-others-about {
    display: none;
  }

  /* line 674, ../sass/main.scss */
  .why-part-xs, .part-xs-about {
    display: block;
  }

  /* line 678, ../sass/main.scss */
  .trial-box .trial-content form input {
    width: 325px;
  }

  /* line 682, ../sass/main.scss */
  .error-page-404, .error-page-403, .error-page-500 {
    background-position: center 10%;
  }
}
@media (max-width: 767.98px) {
  /* line 690, ../sass/main.scss */
  .error-page-404 .error-content h1, .error-page-403 .error-content h1, .error-page-500 .error-content h1 {
    font-size: 40px;
  }
  /* line 693, ../sass/main.scss */
  .error-page-404 .error-content h3, .error-page-403 .error-content h3, .error-page-500 .error-content h3 {
    font-size: 18px;
  }

  /* line 698, ../sass/main.scss */
  .why-part, .part-others-about {
    display: none;
  }

  /* line 701, ../sass/main.scss */
  .why-part-xs, .part-xs-about {
    display: block;
  }

  /* line 704, ../sass/main.scss */
  .main-header-part, .features-header-part {
    margin-top: 85px;
    background-position: -250px -20px;
  }
  /* line 707, ../sass/main.scss */
  .main-header-part .overlay, .features-header-part .overlay {
    height: 100%;
  }
  /* line 709, ../sass/main.scss */
  .main-header-part .overlay .mesin-kawn, .features-header-part .overlay .mesin-kawn {
    padding-top: 2em;
  }

  /* line 714, ../sass/main.scss */
  .features-header-part {
    background-position: right;
  }

  /* line 718, ../sass/main.scss */
  .features-container .features-nav {
    display: none;
  }
  /* line 721, ../sass/main.scss */
  .features-container .features-content {
    height: 100%;
  }

  /* line 725, ../sass/main.scss */
  .trial-box .trial-content form {
    flex-flow: column;
  }
  /* line 727, ../sass/main.scss */
  .trial-box .trial-content form input {
    width: 100%;
  }

  /* line 731, ../sass/main.scss */
  .navbar-custom {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0094c9+0,0094c9+100&0.5+0,0.5+100 */
    background: -moz-linear-gradient(left, #7fd3e5 0%, #7fdae6 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #7fd3e5 0%, #7fdae6 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #7fd3e5 0%, #7fdae6 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }

  /* line 737, ../sass/main.scss */
  .pricing-main-header, .about-main-header {
    margin-top: 85px;
  }

  /* line 741, ../sass/main.scss */
  .page-footer .row {
    height: 100%;
    padding-bottom: 1em;
  }
  /* line 744, ../sass/main.scss */
  .page-footer .row .icon-nav {
    display: inline-flex;
  }
  /* line 747, ../sass/main.scss */
  .page-footer .row .img-logo2 {
    height: 25px;
    margin: 1em 0;
  }
  /* line 751, ../sass/main.scss */
  .page-footer .row ul {
    display: inline-flex;
  }
}
@media (max-width: 575.98px) {
  /* line 761, ../sass/main.scss */
  .error-page-404 .error-content h1, .error-page-403 .error-content h1, .error-page-500 .error-content h1 {
    font-size: 40px;
    padding: .5em 0 .1em;
  }
  /* line 765, ../sass/main.scss */
  .error-page-404 .error-content h3, .error-page-403 .error-content h3, .error-page-500 .error-content h3 {
    font-size: 18px;
    padding-bottom: .5em;
  }

  /* line 771, ../sass/main.scss */
  .why-part, .part-others-about {
    display: none;
  }

  /* line 774, ../sass/main.scss */
  .why-part-xs, .part-xs-about {
    display: block;
  }

  /* line 777, ../sass/main.scss */
  .navbar-custom {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0094c9+0,0094c9+100&0.5+0,0.5+100 */
    background: -moz-linear-gradient(left, #7fd3e5 0%, #7fdae6 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #7fd3e5 0%, #7fdae6 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #7fd3e5 0%, #7fdae6 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }

  /* line 784, ../sass/main.scss */
  .main-header-part a.play-btn, .features-header-part a.play-btn {
    padding: .6em .8em;
  }

  /* line 789, ../sass/main.scss */
  .features-container .features-nav {
    display: none;
  }
  /* line 792, ../sass/main.scss */
  .features-container .features-content {
    height: 100%;
  }

  /* line 796, ../sass/main.scss */
  .trial-box .trial-content form {
    flex-flow: column;
  }
  /* line 798, ../sass/main.scss */
  .trial-box .trial-content form input {
    width: 100%;
  }

  /* line 803, ../sass/main.scss */
  .page-footer .row {
    height: 100%;
    padding-bottom: 1em;
  }
  /* line 806, ../sass/main.scss */
  .page-footer .row p {
    font-size: 12px;
  }
  /* line 809, ../sass/main.scss */
  .page-footer .row .icon-nav {
    display: inline-flex;
  }
  /* line 812, ../sass/main.scss */
  .page-footer .row .img-logo2 {
    height: 25px;
    margin: 1em 0;
  }
  /* line 817, ../sass/main.scss */
  .page-footer .row ul li .nav-link {
    padding: 0.5rem .8rem;
    font-size: 10px;
  }
}
/* line 826, ../sass/main.scss */
.navbar-custom .navbar-toggler {
  background-color: transparent;
}

/* line 832, ../sass/main.scss */
.navbar-light .navbar-toggler {
  color: #fff;
  border-color: #fff;
}
/* line 836, ../sass/main.scss */
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
