/* line 1, ../sass/project.scss */
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background: #FBFCFE;
  font-weight: initial;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
}

/* line 11, ../sass/project.scss */
.form-control,
.form-control:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

/* line 17, ../sass/project.scss */
.form-control {
  box-shadow: none;
}

/* line 21, ../sass/project.scss */
.form-control:focus {
  outline: 0;
  box-shadow: none;
}

/* line 25, ../sass/project.scss */
a {
  color: #0094C9;
}

/* line 29, ../sass/project.scss */
.container-fluid {
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden;
}

/* line 35, ../sass/project.scss */
a,
div,
h1,
h2,
h3,
h4,
h5,
p,
span {
  text-shadow: none;
}

/* line 47, ../sass/project.scss */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Nunito;
}

/* line 62, ../sass/project.scss */
p {
  font-size: 0.875rem;
}

/* line 66, ../sass/project.scss */
h1,
.h1 {
  font-size: 2.19rem;
}

/* line 71, ../sass/project.scss */
h2,
.h2 {
  font-size: 1.88rem;
}

/* line 76, ../sass/project.scss */
h3,
.h3 {
  font-size: 1.56rem;
}

/* line 81, ../sass/project.scss */
h4,
.h4 {
  font-size: 1.13rem;
}

/* line 86, ../sass/project.scss */
h5,
.h5 {
  font-size: 1rem;
}

/* line 91, ../sass/project.scss */
h6,
.h6 {
  font-size: .9375rem;
}

/* line 96, ../sass/project.scss */
p {
  font-size: .9375rem;
  line-height: 1.5;
}

/* line 101, ../sass/project.scss */
[type=button]:focus,
a:active,
a:focus,
a:visited,
button::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner,
input[type=file] > input[type=button]::-moz-focus-inner,
select::-moz-focus-inner {
  outline: 0;
}

/* line 114, ../sass/project.scss */
input,
.form-control:focus,
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
  outline-width: 0;
  outline-color: transparent;
  box-shadow: none;
  outline-style: none;
}

/* line 127, ../sass/project.scss */
textarea {
  resize: none;
  overflow-x: hidden;
}

/* line 132, ../sass/project.scss */
.btn,
.btn-group.open .dropdown-toggle,
.btn:active,
.btn:focus,
.btn:hover,
.btn:visited,
a,
a:active,
a:checked,
a:focus,
a:hover,
a:visited,
body,
button,
button:active,
button:hover,
button:visited,
div,
input,
input:active,
input:focus,
input:hover,
input:visited,
select,
select:active,
select:focus,
select:visited,
textarea,
textarea:active,
textarea:focus,
textarea:hover,
textarea:visited {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 169, ../sass/project.scss */
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
button,
button:active,
button:checked,
button:focus,
button:hover,
button:visited {
  outline: 0;
  outline-offset: 0;
}

/* line 185, ../sass/project.scss */
.bootstrap-select .dropdown-toggle:focus {
  outline: 0;
  outline-offset: 0;
}

/* line 190, ../sass/project.scss */
.dropdown-menu > li > a:active,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:visited {
  outline: 0;
}

/* line 197, ../sass/project.scss */
a:focus,
input:focus {
  border-color: transparent;
  outline: none;
}

/* Sidebar */
/* line 204, ../sass/project.scss */
.sidebar {
  min-height: calc(100vh - 40px);
  position: fixed;
  left: 0;
  overflow: hidden;
  background: #ffffff;
  font-family: Nunito;
  border-right: #E8E9ED 1px solid;
  width: 250px !important;
  z-index: 11;
  transition: width 0.25s ease, background 0.25s ease, visibility 1s;
  -webkit-transition: width 0.25s ease, background 0.25s ease;
  -moz-transition: width 0.25s ease, background 0.25s ease;
  -ms-transition: width 0.25s ease, background 0.25s ease;
}
/* line 218, ../sass/project.scss */
.sidebar .nav {
  overflow: hidden;
  flex-wrap: nowrap;
  flex-direction: column;
}
/* line 222, ../sass/project.scss */
.sidebar .nav .sidebar-header {
  border-bottom: #E8E9ED 1px solid;
  height: 50px;
}
/* line 226, ../sass/project.scss */
.sidebar .nav .sidebar-header .navbar-brand img {
  height: 28px;
  margin-left: 16px;
  vertical-align: middle;
  max-width: 100%;
}
/* line 231, ../sass/project.scss */
.sidebar .nav .sidebar-header .navbar-brand img.logo-text {
  height: 20px;
  margin-left: 30px;
}
/* line 238, ../sass/project.scss */
.sidebar .nav .nav-item {
  padding: 0 2.25rem;
  padding-left: 13px;
  padding-right: 15px;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  transition-property: background;
  -webkit-transition-property: background;
}
/* line 248, ../sass/project.scss */
.sidebar .nav .nav-item.account-menu {
  background: transparent;
}
/* line 251, ../sass/project.scss */
.sidebar .nav .nav-item.active {
  background: #EDFBFF;
  border-left: #0094C9 3px solid;
  padding-left: 10px;
}
/* line 256, ../sass/project.scss */
.sidebar .nav .nav-item .nav-link {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  white-space: nowrap;
  color: #3e4b5b;
  -webkit-transition-duration: 0.45s;
  -moz-transition-duration: 0.45s;
  -o-transition-duration: 0.45s;
  transition-duration: 0.45s;
  transition-property: color;
  -webkit-transition-property: color;
  padding: 12px 0;
}
/* line 270, ../sass/project.scss */
.sidebar .nav .nav-item .nav-link i {
  color: inherit;
}
/* line 273, ../sass/project.scss */
.sidebar .nav .nav-item .nav-link i.menu-icon {
  width: 55px;
  font-size: 18px;
  margin-left: 5px;
  color: #bba8bff5;
}
/* line 278, ../sass/project.scss */
.sidebar .nav .nav-item .nav-link i.menu-icon:before {
  vertical-align: middle;
}
/* line 282, ../sass/project.scss */
.sidebar .nav .nav-item .nav-link i.menu-arrow {
  text-align: right;
  padding-right: 1rem;
  font-size: 14px;
  margin-left: auto;
  color: #9e9da0;
}
/* line 288, ../sass/project.scss */
.sidebar .nav .nav-item .nav-link i.menu-arrow:before {
  content: "\f105";
  font-size: inherit;
  color: inherit;
}
/* line 294, ../sass/project.scss */
.sidebar .nav .nav-item .nav-link i.menu-arrow + .menu-icon {
  margin-left: .25rem;
}
/* line 299, ../sass/project.scss */
.sidebar .nav .nav-item .nav-link .menu-title {
  color: inherit;
  display: inline-block;
  vertical-align: middle;
  font-family: Nunito;
  font-size: 14px;
}
/* line 306, ../sass/project.scss */
.sidebar .nav .nav-item .nav-link .badge {
  margin-right: auto;
  margin-left: 1rem;
}
/* line 311, ../sass/project.scss */
.sidebar .nav .nav-item .collapse {
  z-index: 999;
}
/* line 316, ../sass/project.scss */
.sidebar .nav .nav-item .nav-link[aria-expanded="true"] .menu-arrow::before {
  content: "\f107";
}
/* line 323, ../sass/project.scss */
.sidebar .nav .nav-item:hover > .nav-link .menu-title {
  color: #0094C9;
}
/* line 326, ../sass/project.scss */
.sidebar .nav .nav-item:hover > .nav-link i {
  color: #0094C9;
}
/* line 334, ../sass/project.scss */
.sidebar .nav .nav-item.active > .nav-link .menu-title {
  color: #0094C9;
  font-family: Nunito;
}
/* line 338, ../sass/project.scss */
.sidebar .nav .nav-item.active > .nav-link i {
  color: #0094C9;
}
/* line 344, ../sass/project.scss */
.sidebar .nav .nav-item.nav-profile .nav-link {
  height: auto;
  line-height: 1;
  border-top: 0;
  padding: 1.25rem 0;
}
/* line 349, ../sass/project.scss */
.sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-image {
  width: 44px;
  height: 44px;
}
/* line 352, ../sass/project.scss */
.sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-image img {
  width: 44px;
  height: 44px;
  border-radius: 100%;
}
/* line 358, ../sass/project.scss */
.sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-text {
  margin-left: 1.5rem;
}
/* line 361, ../sass/project.scss */
.sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-badge {
  font-size: 1.125rem;
  margin-left: auto;
}
/* line 367, ../sass/project.scss */
.sidebar .nav .nav-item.sidebar-actions {
  margin-top: 1rem;
}
/* line 369, ../sass/project.scss */
.sidebar .nav .nav-item.sidebar-actions .nav-link {
  border-top: 0;
  display: block;
  height: auto;
}
/* line 374, ../sass/project.scss */
.sidebar .nav .nav-item.sidebar-actions:hover {
  background: initial;
}
/* line 376, ../sass/project.scss */
.sidebar .nav .nav-item.sidebar-actions:hover .nav-link {
  color: initial;
}
/* line 386, ../sass/project.scss */
.sidebar .nav:not(.sub-menu) > .nav-item:hover:not(.nav-category):not(.nav-profile) > .nav-link {
  color: #29323d;
}
/* line 395, ../sass/project.scss */
.sidebar .nav.sub-menu {
  margin-bottom: 20px;
  margin-top: 0;
  list-style: none;
}
/* line 399, ../sass/project.scss */
.sidebar .nav.sub-menu .nav-item {
  padding: 0;
}
/* line 401, ../sass/project.scss */
.sidebar .nav.sub-menu .nav-item .nav-link {
  color: #888;
  padding: 0.75rem 2rem 0.75rem 2rem;
  position: relative;
  font-size: 0.8125rem;
  line-height: 1;
  height: auto;
  border-top: 0;
}
/* line 409, ../sass/project.scss */
.sidebar .nav.sub-menu .nav-item .nav-link:hover {
  color: #555555;
}
/* line 413, ../sass/project.scss */
.sidebar .nav.sub-menu .nav-item:hover {
  background: transparent;
}

/* line 419, ../sass/project.scss */
.secondary-sidebar {
  position: fixed;
  left: 250px;
  width: 0px;
  font-family: Nunito;
  display: table-cell;
  min-height: 100%;
  background: #FBFCFE;
  border-right: #E8E9ED 1px solid;
  visibility: hidden;
  z-index: 1035;
  display: table-cell;
  transition: width 0.25s ease, margin 0.25s ease, visibility 0.25s ease;
  -webkit-transition: width 0.25s ease, margin 0.25s ease, visibility 0.25s ease;
  -moz-transition: width 0.25s ease, margin 0.25s ease, visibility 0.25s ease;
  -ms-transition: width 0.25s ease, margin 0.25s ease, visibility 0.25s ease;
}
/* line 435, ../sass/project.scss */
.secondary-sidebar span {
  display: none;
}
/* line 438, ../sass/project.scss */
.secondary-sidebar .show {
  display: inline;
}
/* line 441, ../sass/project.scss */
.secondary-sidebar .nav {
  overflow: hidden;
  flex-wrap: nowrap;
  flex-direction: column;
}
/* line 445, ../sass/project.scss */
.secondary-sidebar .nav .nav-item {
  padding: 0 2.25rem;
  padding-left: 13px;
  padding-right: 15px;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  transition-property: background;
  -webkit-transition-property: background;
}
/* line 455, ../sass/project.scss */
.secondary-sidebar .nav .nav-item .nav-link {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  white-space: nowrap;
  color: #3e4b5b;
  -webkit-transition-duration: 0.45s;
  -moz-transition-duration: 0.45s;
  -o-transition-duration: 0.45s;
  transition-duration: 0.45s;
  transition-property: color;
  -webkit-transition-property: color;
}
/* line 468, ../sass/project.scss */
.secondary-sidebar .nav .nav-item .nav-link .menu-title {
  color: inherit;
  display: inline-block;
  vertical-align: middle;
  font-family: Nunito;
  font-size: 14px;
}
/* line 477, ../sass/project.scss */
.secondary-sidebar .nav .nav-item.submenu-active {
  background: #EDFBFF;
}
/* line 481, ../sass/project.scss */
.secondary-sidebar .nav-header {
  min-height: 50px;
  display: inline-block;
  padding-top: 10px;
  padding-left: 30px;
  width: 100%;
  border-bottom: #E8E9ED 1px solid;
}

/* line 490, ../sass/project.scss */
.secondary-sidebar.expand {
  visibility: visible;
  width: 195px;
  margin-left: -195px;
}

/* line 495, ../sass/project.scss */
.trial {
  padding-top: 40px;
}
/* line 497, ../sass/project.scss */
.trial .secondary-sidebar {
  top: 40px;
}

/* line 501, ../sass/project.scss */
.expired {
  padding-top: 40px;
}
/* line 503, ../sass/project.scss */
.expired .secondary-sidebar {
  top: 40px;
}

/* line 508, ../sass/project.scss */
.subscribe .secondary-sidebar {
  top: 0;
}
/* line 511, ../sass/project.scss */
.subscribe .sidebar {
  height: 100%;
}

/* line 515, ../sass/project.scss */
.secondary-list {
  width: 100%;
  position: absolute;
  bottom: 0 !important;
}

/* line 523, ../sass/project.scss */
.secondary-menu .nav .nav-item .nav-link {
  padding: 13.5px 0;
}
/* line 525, ../sass/project.scss */
.secondary-menu .nav .nav-item .nav-link .menu-title {
  padding-left: 15px;
}
/* line 531, ../sass/project.scss */
.secondary-menu .nav .nav-item:hover > .nav-link .menu-title {
  color: #0094C9;
}
/* line 534, ../sass/project.scss */
.secondary-menu .nav .nav-item:hover > .nav-link i {
  color: #0094C9;
}

/* line 543, ../sass/project.scss */
.logout-menu {
  background: #FBFCFE;
}

/* Sidebar End */
/* Navbar */
/* line 554, ../sass/project.scss */
.navbar .navbar-brand-wrapper .navbar-brand.brand-logo-mini {
  display: none;
}
/* line 559, ../sass/project.scss */
.navbar .navbar-menu-wrapper .count-indicator {
  position: relative;
}
/* line 561, ../sass/project.scss */
.navbar .navbar-menu-wrapper .count-indicator .count-symbol {
  position: absolute;
  border-radius: 100%;
  border: 2px solid #ffffff;
  top: 24px;
  right: -1px;
  width: 10px;
  height: 10px;
}
/* line 570, ../sass/project.scss */
.navbar .navbar-menu-wrapper .count-indicator .count-number {
  position: absolute;
  border-radius: 100%;
  border: 2px solid #ffffff;
  min-width: 14px;
  height: 14px;
  font-size: .5rem;
  color: #ffffff;
  bottom: 16px;
  right: -5px;
  line-height: 1;
  text-align: center;
}
/* line 583, ../sass/project.scss */
.navbar .navbar-menu-wrapper .count-indicator:after {
  display: none;
}
/* line 589, ../sass/project.scss */
.navbar .navbar-menu-wrapper .dropdown .dropdown-toggle:after {
  color: #353749;
  font-size: 1rem;
}
/* line 595, ../sass/project.scss */
.navbar .navbar-menu-wrapper .navbar-nav {
  flex-direction: row;
  align-items: center;
}
/* line 599, ../sass/project.scss */
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown {
  position: absolute;
  font-size: 0.9rem;
  margin-top: 0;
  right: 0;
  left: auto;
  padding: 0;
}
/* line 606, ../sass/project.scss */
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item {
  margin-bottom: 0;
  padding: 4px;
}
/* line 609, ../sass/project.scss */
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item i {
  font-size: 17px;
}
/* line 612, ../sass/project.scss */
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item .ellipsis {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 618, ../sass/project.scss */
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-divider {
  margin: 0;
}
/* line 625, ../sass/project.scss */
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link .nav-profile-img {
  position: relative;
  width: 32px;
  height: 32px;
  margin-right: 1.25rem;
}
/* line 630, ../sass/project.scss */
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link .nav-profile-img img {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}
/* line 635, ../sass/project.scss */
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link .nav-profile-img .availability-status {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 2px solid #ffffff;
  bottom: 5px;
  right: -5px;
}
/* line 644, ../sass/project.scss */
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link .nav-profile-img .availability-status.online {
  background: #1bcfb4;
}
/* line 647, ../sass/project.scss */
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link .nav-profile-img .availability-status.offline {
  background: #fe7c96;
}
/* line 650, ../sass/project.scss */
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link .nav-profile-img .availability-status.busy {
  background: #fed713;
}
/* line 654, ../sass/project.scss */
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link .nav-profile-text {
  margin-right: 1.25rem;
}
/* line 656, ../sass/project.scss */
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link .nav-profile-text p {
  color: #353749;
  line-height: 1;
  font-size: 14px;
  font-family: Nunito;
}
/* line 665, ../sass/project.scss */
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link.dropdown-toggle:after {
  line-height: 2;
}

/* line 678, ../sass/project.scss */
.rtl .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown {
  right: auto;
  left: 0;
}
/* line 682, ../sass/project.scss */
.rtl .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item i {
  margin-left: 10px;
}
/* line 690, ../sass/project.scss */
.rtl .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link .nav-profile-text {
  margin-left: 0;
  margin-right: 1.25rem;
}

/* line 700, ../sass/project.scss */
.navbar.default-layout-navbar {
  font-family: Nunito;
  background: #FBFCFE;
  transition: background 0.25s ease;
  -webkit-transition: background 0.25s ease;
  -moz-transition: background 0.25s ease;
  -ms-transition: background 0.25s ease;
}
/* line 707, ../sass/project.scss */
.navbar.default-layout-navbar .navbar-brand-wrapper {
  transition: width 0.25s ease, background 0.25s ease;
  -webkit-transition: width 0.25s ease, background 0.25s ease;
  -moz-transition: width 0.25s ease, background 0.25s ease;
  -ms-transition: width 0.25s ease, background 0.25s ease;
  border-right: #E8E9ED 1px solid;
  border-bottom: #E8E9ED 1px solid;
  background: #ffffff;
  padding-left: 8px;
  width: 250px;
  height: 50px;
}
/* line 718, ../sass/project.scss */
.navbar.default-layout-navbar .navbar-brand-wrapper .navbar-brand {
  color: #27367f;
  font-size: 1.5rem;
  line-height: 48px;
  margin-right: 0;
  padding: .25rem 0;
}
/* line 724, ../sass/project.scss */
.navbar.default-layout-navbar .navbar-brand-wrapper .navbar-brand:active {
  color: #1b2658;
}
/* line 727, ../sass/project.scss */
.navbar.default-layout-navbar .navbar-brand-wrapper .navbar-brand:focus {
  color: #1b2658;
}
/* line 730, ../sass/project.scss */
.navbar.default-layout-navbar .navbar-brand-wrapper .navbar-brand:hover {
  color: #1b2658;
}
/* line 733, ../sass/project.scss */
.navbar.default-layout-navbar .navbar-brand-wrapper .navbar-brand img {
  max-width: 100%;
  height: 28px;
  margin-left: 8px;
  vertical-align: middle;
}
/* line 739, ../sass/project.scss */
.navbar.default-layout-navbar .navbar-brand-wrapper .navbar-brand .logo-text {
  height: 20px !important;
  margin-left: 30px !important;
}
/* line 745, ../sass/project.scss */
.navbar.default-layout-navbar .navbar-brand-wrapper .brand-logo-mini img {
  width: calc(70px - 50px);
  max-width: 100%;
  height: 28px;
  margin: auto;
}
/* line 753, ../sass/project.scss */
.navbar.default-layout-navbar .navbar-menu-wrapper {
  transition: width 0.25s ease;
  -webkit-transition: width 0.25s ease;
  -moz-transition: width 0.25s ease;
  -ms-transition: width 0.25s ease;
  color: #9c9fa6;
  padding-left: 30px;
  padding-right: 60px;
  width: calc(100% - 250px);
  height: 50px;
  background: #FBFCFE;
}
/* line 764, ../sass/project.scss */
.navbar.default-layout-navbar .navbar-menu-wrapper .navbar-toggler {
  border: 0;
  color: inherit;
  height: 70px;
  border-radius: 0px;
  padding-left: 5px;
  padding-right: 20px;
}
/* line 771, ../sass/project.scss */
.navbar.default-layout-navbar .navbar-menu-wrapper .navbar-toggler:not(.navbar-toggler-right) {
  font-size: 1.5rem;
}
/* line 775, ../sass/project.scss */
.navbar.default-layout-navbar .navbar-menu-wrapper .search-field {
  padding-left: 30px;
  width: 35%;
}
/* line 779, ../sass/project.scss */
.navbar.default-layout-navbar .navbar-menu-wrapper .search-field .input-group input {
  font-size: 14px;
  font-family: Nunito !important;
  font-style: normal;
  border: 0;
  font-weight: normal;
  box-shadow: none;
  color: #000;
  height: 32px;
}
/* line 788, ../sass/project.scss */
.navbar.default-layout-navbar .navbar-menu-wrapper .search-field .input-group input:-ms-input-placeholder {
  padding-left: 5px;
  font-size: 14px;
  color: #9c9fa6;
  font-family: Nunito, FontAwesome;
}
/* line 794, ../sass/project.scss */
.navbar.default-layout-navbar .navbar-menu-wrapper .search-field .input-group input:-moz-placeholder {
  font-size: 14px;
  color: #9c9fa6;
  font-family: Nunito, FontAwesome;
}
/* line 799, ../sass/project.scss */
.navbar.default-layout-navbar .navbar-menu-wrapper .search-field .input-group input::-moz-placeholder {
  font-size: 14px;
  color: #9c9fa6;
  font-family: Nunito, FontAwesome;
}
/* line 804, ../sass/project.scss */
.navbar.default-layout-navbar .navbar-menu-wrapper .search-field .input-group input::-webkit-input-placeholder {
  font-size: 14px;
  color: #9c9fa6;
  font-family: Nunito, FontAwesome;
}
/* line 810, ../sass/project.scss */
.navbar.default-layout-navbar .navbar-menu-wrapper .search-field .input-group i {
  font-size: 17px;
  color: #000;
}
/* line 814, ../sass/project.scss */
.navbar.default-layout-navbar .navbar-menu-wrapper .search-field .input-group .input-group-text {
  background: transparent;
}
/* line 821, ../sass/project.scss */
.navbar.default-layout-navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link {
  color: inherit;
  font-size: 0.875rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  height: 70px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
/* line 831, ../sass/project.scss */
.navbar.default-layout-navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link i {
  font-size: 1.25rem;
}
/* line 836, ../sass/project.scss */
.navbar.default-layout-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-settings {
  padding-left: 20px;
  padding-right: 5px;
}
/* line 839, ../sass/project.scss */
.navbar.default-layout-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-settings .nav-link {
  margin-right: 0;
  margin-left: 0;
}
/* line 845, ../sass/project.scss */
.navbar.default-layout-navbar .navbar-menu-wrapper .dropdown-menu {
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
}

/* line 856, ../sass/project.scss */
.sidebar-light .navbar.default-layout-navbar .navbar-brand-wrapper {
  background: #ffffff;
}

@media (max-width: 991px) {
  /* line 862, ../sass/project.scss */
  .navbar {
    flex-direction: row;
  }
  /* line 865, ../sass/project.scss */
  .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown {
    position: static;
  }
  /* line 867, ../sass/project.scss */
  .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown {
    left: 20px;
    right: 20px;
    top: 70px;
    width: calc(100% - 40px);
  }
  /* line 877, ../sass/project.scss */
  .navbar .navbar-brand-wrapper {
    width: 75px;
  }
  /* line 879, ../sass/project.scss */
  .navbar .navbar-brand-wrapper .navbar-brand.brand-logo-mini {
    display: inline-block;
  }

  /* line 885, ../sass/project.scss */
  .navbar.default-layout-navbar .navbar-menu-wrapper {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  /* line 890, ../sass/project.scss */
  .navbar.default-layout-navbar .navbar-menu-wrapper .navbar-toggler:not(.navbar-toggler-right) {
    display: none;
  }
  /* line 894, ../sass/project.scss */
  .navbar.default-layout-navbar .navbar-menu-wrapper .navbar-toggler.navbar-toggler-right {
    padding-left: 15px;
    padding-right: 11px;
    border-right: none;
  }

  /* line 901, ../sass/project.scss */
  .navbar-collapse {
    display: flex;
    margin-top: 0.5rem;
  }
}
@media (min-width: 992px) {
  /* line 909, ../sass/project.scss */
  .navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right {
    margin-left: auto;
  }

  /* line 917, ../sass/project.scss */
  .rtl .navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right {
    margin-left: 0;
    margin-right: auto;
  }
}
@media (max-width: 767px) {
  /* line 930, ../sass/project.scss */
  .navbar.default-layout-navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link {
    margin-left: .8rem;
    margin-right: .8rem;
  }
}
@media (max-width: 480px) {
  /* line 941, ../sass/project.scss */
  .navbar .navbar-brand-wrapper {
    width: 55px;
  }
  /* line 943, ../sass/project.scss */
  .navbar .navbar-brand-wrapper .brand-logo-mini {
    padding-top: 0px;
  }
}
/* Navbar End */
/* Miscellanoeous */
/* line 953, ../sass/project.scss */
.page-body-wrapper {
  min-height: calc(100vh - 70px);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  padding-left: 0;
  padding-right: 0;
}

/* line 962, ../sass/project.scss */
.page-body-wrapper.full-page-wrapper {
  width: 100%;
  min-height: 100vh;
  padding-top: 0;
}

/* line 967, ../sass/project.scss */
.content-wrapper {
  background: #FBFCFE;
  padding: 0 25px 25px 25px;
  width: 100%;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  overflow-x: hidden;
}

/* line 975, ../sass/project.scss */
.container-scroller {
  overflow: hidden;
}

/* line 978, ../sass/project.scss */
pre {
  background: #e8eff4;
  padding: 15px;
  font-size: 14px;
}

/* line 983, ../sass/project.scss */
code {
  padding: 5px;
  color: #fe7c96;
  font-family: Nunito;
  font-size: 0.875rem;
  border-radius: 4px;
}

/* line 990, ../sass/project.scss */
.page-header {
  margin: 0 0 1.5rem 0;
}
/* line 992, ../sass/project.scss */
.page-header .breadcrumb {
  border: 0;
  margin-bottom: 0;
  font-size: 14px;
}

/* line 998, ../sass/project.scss */
.breadcrumb {
  background: transparent;
  margin: 0 !important;
  padding: 1.25rem 1rem !important;
}

/* line 1003, ../sass/project.scss */
.page-title {
  color: #000;
  font-size: 1.125rem;
  margin-bottom: 0;
}
/* line 1007, ../sass/project.scss */
.page-title .page-title-icon {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0px 3px 8.3px 0.7px rgba(163, 93, 255, 0.35);
}
/* line 1014, ../sass/project.scss */
.page-title .page-title-icon i {
  font-size: .9375rem;
  line-height: 36px;
}

@media (min-width: 1200px) {
  /* line 1021, ../sass/project.scss */
  .container {
    max-width: 1440px;
  }
}
@media (min-width: 2000px) {
  /* line 1026, ../sass/project.scss */
  .container {
    max-width: 2240px;
  }
}
/* Miscellanoeous End */
/* Buttons */
/* line 1034, ../sass/project.scss */
.btn {
  font-size: 0.875rem;
  line-height: 1;
  font-family: Nunito;
  height: 32px;
  font-size: 14px;
  padding: 8px;
}

/* line 1042, ../sass/project.scss */
.btn-primary {
  background: #0094C9;
  color: #FFF;
  border-color: #0094C9;
}
/* line 1046, ../sass/project.scss */
.btn-primary:hover {
  background: #006e96 !important;
  border-color: #006e96 !important;
}

/* line 1053, ../sass/project.scss */
.btn-block + .btn-block {
  margin-top: 0;
}

/* line 1058, ../sass/project.scss */
.btn-outline-primary {
  color: #AAAAAA;
  border-color: #AAAAAA;
}
/* line 1063, ../sass/project.scss */
.btn-outline-primary:not([disabled]):not(.disabled):active {
  background: #EDFBFF;
  color: #0094C9;
  border-color: #0094C9;
}
/* line 1068, ../sass/project.scss */
.btn-outline-primary:not([disabled]):not(.disabled):focus {
  background: #EDFBFF;
  color: #0094C9;
  border-color: #0094C9;
}
/* line 1074, ../sass/project.scss */
.btn-outline-primary:not([disabled]):not(.disabled).active {
  background: #EDFBFF;
  color: #0094C9;
  border-color: #0094C9;
}
/* line 1080, ../sass/project.scss */
.btn-outline-primary:hover {
  background: #EDFBFF;
  color: #0094C9;
  border-color: #0094C9;
}

/* line 1086, ../sass/project.scss */
.btn-outline-primary.disabled {
  color: #AAAAAA;
  border-color: #AAAAAA;
}
/* line 1089, ../sass/project.scss */
.btn-outline-primary.disabled:hover {
  color: #AAAAAA;
  border-color: #AAAAAA;
  background-color: transparent;
}

/* line 1096, ../sass/project.scss */
.show > .btn-outline-primary.dropdown-toggle {
  background: #EDFBFF;
  color: #0094C9;
  border-color: #0094C9;
}

/* line 1102, ../sass/project.scss */
.btn-light {
  background: #FBFCFE;
  color: #7B8E9C;
  border: 1px solid #E0E0E0;
}

/* Buttons End */
/* Checkboxes and Radios */
/* line 1111, ../sass/project.scss */
.form-check {
  position: relative;
  display: block;
  margin-top: 15px;
  margin-bottom: 10px;
  padding-left: 0;
}
/* line 1117, ../sass/project.scss */
.form-check .form-check-label {
  display: block;
  font-size: 0.875rem;
  line-height: 1.5;
}

/* line 1124, ../sass/project.scss */
.form-check-input.subscriptions {
  margin-left: 0 !important;
}

/* Checkboxes and Radios  End*/
/* Dropdowns */
/* line 1134, ../sass/project.scss */
.dropdown .dropdown-toggle::after {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 0;
  width: auto;
  height: auto;
  vertical-align: baseline;
  font-size: .75rem;
}
/* line 1145, ../sass/project.scss */
.dropdown .dropdown-menu {
  margin-top: .75rem;
  box-shadow: 0px 1px 15px 1px rgba(230, 234, 236, 0.35);
}
/* line 1148, ../sass/project.scss */
.dropdown .dropdown-menu .dropdown-item {
  font-family: Nunito;
  font-size: 14px;
  padding: .15rem .15rem;
}
/* line 1152, ../sass/project.scss */
.dropdown .dropdown-menu .dropdown-item:active {
  background: initial;
}

/* line 1158, ../sass/project.scss */
.dropdown-menu.navbar-dropdown {
  top: 80%;
}

/* line 1162, ../sass/project.scss */
.dropdown-toggle::after {
  display: none;
}
/* line 1166, ../sass/project.scss */
.dropdown-toggle .icons i {
  position: absolute;
  right: 30px;
  bottom: 20px;
  display: block;
}
/* line 1172, ../sass/project.scss */
.dropdown-toggle .icons .icon-default {
  transition: opacity .3s, transform .3s;
}
/* line 1175, ../sass/project.scss */
.dropdown-toggle .icons .icon-open {
  transition: opacity .3s, transform .3s;
  transform: rotate(-180deg) scale(0.5);
  opacity: 0;
}

/* line 1184, ../sass/project.scss */
.dropdown-toggle[aria-expanded="true"] .icons .icon-default {
  transform: rotate(180deg) scale(0.5);
  opacity: 0;
}
/* line 1188, ../sass/project.scss */
.dropdown-toggle[aria-expanded="true"] .icons .icon-open {
  transform: rotate(0deg) scale(1);
  opacity: 1;
}

/* line 1194, ../sass/project.scss */
.dropdown-item:focus, .dropdown-item:hover {
  background: transparent;
}

/* Dropdowns End */
/* Forms */
/* line 1203, ../sass/project.scss */
.input-group-append {
  color: #c9c8c8;
  width: auto;
  border: 1px solid #ebedf2;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  font-size: 10px;
}

/* line 1211, ../sass/project.scss */
.input-group-prepend {
  color: #c9c8c8;
  width: auto;
  border: 1px solid #ebedf2;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  font-size: 10px;
}

/* line 1220, ../sass/project.scss */
.input-group > .input-group-append {
  border-color: #ebedf2;
  padding: 8px;
  background: #ebedf2;
}
/* line 1225, ../sass/project.scss */
.input-group > .input-group-prepend {
  border-color: #ebedf2;
  padding: 8px;
  background: #ebedf2;
}

/* line 1231, ../sass/project.scss */
input.form-control {
  border: 1px solid #ebedf2;
  font-family: Nunito;
  font-size: 14px;
  height: 32px;
}

/* line 1237, ../sass/project.scss */
select.form-control {
  border: 1px solid #ebedf2;
  font-family: Nunito;
  font-size: 14px;
  height: 32px;
  height: 32px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 10px;
  background-image: none;
  -ms-word-break: normal;
  word-break: normal;
  padding: 0.5em 5em 0.5em 1em;
}

/* line 1252, ../sass/project.scss */
textarea.form-control {
  border: 1px solid #ebedf2;
  font-family: Nunito;
  font-size: 14px;
}

/* line 1257, ../sass/project.scss */
.col-form-label {
  font-size: 14px;
  font-family: Nunito;
  color: #9AA1A6;
}

/* line 1262, ../sass/project.scss */
.form-check-label {
  font-family: Nunito;
  color: #9AA1A6;
}

/* line 1266, ../sass/project.scss */
select.form-control.custom-select {
  height: 32px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 14px;
  background-image: none;
  -ms-word-break: normal;
  word-break: normal;
  padding: 4px 12px;
  background-image: linear-gradient(45deg, transparent 50%, #485D6E 50%), linear-gradient(135deg, #485D6E 50%, transparent 50%), linear-gradient(to right, #FFF, #FFF);
  background-position: calc(100% - 12px) calc(1em), calc(100% - 7px) calc(1em), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
}

/* line 1281, ../sass/project.scss */
#date_filter a {
  margin-bottom: 8px;
}

/* line 1285, ../sass/project.scss */
.form-group.formset {
  margin-bottom: 2px;
}

/* line 1289, ../sass/project.scss */
#modifiers_formset .form-group {
  margin-bottom: 2px;
}

/* line 1294, ../sass/project.scss */
#varaint_formset .form-group {
  margin-bottom: 2px;
}

/* line 1299, ../sass/project.scss */
.form-group label {
  font-size: 14px;
  line-height: 1;
  vertical-align: top;
  margin-bottom: 4px;
}
/* line 1305, ../sass/project.scss */
.form-group .file-upload-default {
  visibility: hidden;
  position: absolute;
}
/* line 1309, ../sass/project.scss */
.form-group .file-upload-info {
  background: transparent;
}

/* Forms End */
/* List */
/* line 1318, ../sass/project.scss */
ul {
  padding-left: 1rem;
  font-size: 0.875rem;
}
/* line 1321, ../sass/project.scss */
ul li {
  line-height: 1.8;
}

/* line 1325, ../sass/project.scss */
ol {
  padding-left: 1rem;
  font-size: 0.875rem;
}
/* line 1328, ../sass/project.scss */
ol li {
  line-height: 1.8;
}

/* line 1332, ../sass/project.scss */
dl {
  padding-left: 1rem;
  font-size: 0.875rem;
}
/* line 1335, ../sass/project.scss */
dl li {
  line-height: 1.8;
}

/* List End */
/* Custom SCSS */
/* line 1360, ../sass/project.scss */
.nav-item.active .nav-link .menu-title .icon-menu.icon-dashboard {
  float: left;
  margin-left: 4px;
  margin-right: 30px;
  width: 28px;
  height: 28px;
  background: url("../icons/ic_dashboard/active.svg");
  background-repeat: no-repeat;
  background-position: center;
}
/* line 1363, ../sass/project.scss */
.nav-item.active .nav-link .menu-title .icon-menu.icon-library {
  float: left;
  margin-left: 4px;
  margin-right: 30px;
  width: 28px;
  height: 28px;
  background: url("../icons/ic_library/active.svg");
  background-repeat: no-repeat;
  background-position: center;
}
/* line 1366, ../sass/project.scss */
.nav-item.active .nav-link .menu-title .icon-menu.icon-promo {
  float: left;
  margin-left: 4px;
  margin-right: 30px;
  width: 28px;
  height: 28px;
  background: url("../icons/ic_promo/active.svg");
  background-repeat: no-repeat;
  background-position: center;
}
/* line 1369, ../sass/project.scss */
.nav-item.active .nav-link .menu-title .icon-menu.icon-sales {
  float: left;
  margin-left: 4px;
  margin-right: 30px;
  width: 28px;
  height: 28px;
  background: url("../icons/ic_sales/active.svg");
  background-repeat: no-repeat;
  background-position: center;
}
/* line 1372, ../sass/project.scss */
.nav-item.active .nav-link .menu-title .icon-menu.icon-report {
  float: left;
  margin-left: 4px;
  margin-right: 30px;
  width: 28px;
  height: 28px;
  background: url("../icons/ic_report/active.svg");
  background-repeat: no-repeat;
  background-position: center;
}
/* line 1375, ../sass/project.scss */
.nav-item.active .nav-link .menu-title .icon-menu.icon-employees {
  float: left;
  margin-left: 4px;
  margin-right: 30px;
  width: 28px;
  height: 28px;
  background: url("../icons/ic_employees/active.svg");
  background-repeat: no-repeat;
  background-position: center;
}
/* line 1378, ../sass/project.scss */
.nav-item.active .nav-link .menu-title .icon-menu.icon-table-management {
  float: left;
  margin-left: 4px;
  margin-right: 30px;
  width: 28px;
  height: 28px;
  background: url("../icons/ic_table/active.svg");
  background-repeat: no-repeat;
  background-position: center;
}
/* line 1381, ../sass/project.scss */
.nav-item.active .nav-link .menu-title .icon-menu.icon-settings {
  float: left;
  margin-left: 4px;
  margin-right: 30px;
  width: 28px;
  height: 28px;
  background: url("../icons/ic_settings/active.svg");
  background-repeat: no-repeat;
  background-position: center;
}
/* line 1384, ../sass/project.scss */
.nav-item.active .nav-link .menu-title .icon-menu.icon-logout {
  float: left;
  margin-left: 4px;
  margin-right: 30px;
  width: 28px;
  height: 28px;
  background: url("../icons/ic_logout/active.svg");
  background-repeat: no-repeat;
  background-position: center;
}
/* line 1387, ../sass/project.scss */
.nav-item.active .nav-link .menu-title .icon-menu.icon-user {
  float: left;
  margin-left: 4px;
  margin-right: 30px;
  width: 28px;
  height: 28px;
  background: url("../icons/ic_user/active.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* line 1400, ../sass/project.scss */
.nav-item .nav-link .menu-title .icon-menu.icon-dashboard {
  float: left;
  margin-left: 4px;
  margin-right: 30px;
  width: 28px;
  height: 28px;
  background: url("../icons/ic_dashboard/inactive.svg");
  background-repeat: no-repeat;
  background-position: center;
}
/* line 1403, ../sass/project.scss */
.nav-item .nav-link .menu-title .icon-menu.icon-library {
  float: left;
  margin-left: 4px;
  margin-right: 30px;
  width: 28px;
  height: 28px;
  background: url("../icons/ic_library/inactive.svg");
  background-repeat: no-repeat;
  background-position: center;
}
/* line 1406, ../sass/project.scss */
.nav-item .nav-link .menu-title .icon-menu.icon-promo {
  float: left;
  margin-left: 4px;
  margin-right: 30px;
  width: 28px;
  height: 28px;
  background: url("../icons/ic_promo/inactive.svg");
  background-repeat: no-repeat;
  background-position: center;
}
/* line 1409, ../sass/project.scss */
.nav-item .nav-link .menu-title .icon-menu.icon-sales {
  float: left;
  margin-left: 4px;
  margin-right: 30px;
  width: 28px;
  height: 28px;
  background: url("../icons/ic_sales/inactive.svg");
  background-repeat: no-repeat;
  background-position: center;
}
/* line 1412, ../sass/project.scss */
.nav-item .nav-link .menu-title .icon-menu.icon-report {
  float: left;
  margin-left: 4px;
  margin-right: 30px;
  width: 28px;
  height: 28px;
  background: url("../icons/ic_report/inactive.svg");
  background-repeat: no-repeat;
  background-position: center;
}
/* line 1415, ../sass/project.scss */
.nav-item .nav-link .menu-title .icon-menu.icon-employees {
  float: left;
  margin-left: 4px;
  margin-right: 30px;
  width: 28px;
  height: 28px;
  background: url("../icons/ic_employees/inactive.svg");
  background-repeat: no-repeat;
  background-position: center;
}
/* line 1418, ../sass/project.scss */
.nav-item .nav-link .menu-title .icon-menu.icon-table-management {
  float: left;
  margin-left: 4px;
  margin-right: 30px;
  width: 28px;
  height: 28px;
  background: url("../icons/ic_table/inactive.svg");
  background-repeat: no-repeat;
  background-position: center;
}
/* line 1421, ../sass/project.scss */
.nav-item .nav-link .menu-title .icon-menu.icon-settings {
  float: left;
  margin-left: 4px;
  margin-right: 30px;
  width: 28px;
  height: 28px;
  background: url("../icons/ic_settings/inactive.svg");
  background-repeat: no-repeat;
  background-position: center;
}
/* line 1424, ../sass/project.scss */
.nav-item .nav-link .menu-title .icon-menu.icon-logout {
  float: left;
  margin-left: 4px;
  margin-right: 30px;
  width: 28px;
  height: 28px;
  background: url("../icons/ic_logout/inactive.svg");
  background-repeat: no-repeat;
  background-position: center;
}
/* line 1427, ../sass/project.scss */
.nav-item .nav-link .menu-title .icon-menu.icon-user {
  float: left;
  margin-left: 4px;
  margin-right: 30px;
  width: 28px;
  height: 28px;
  background: url("../icons/ic_user/active.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* line 1437, ../sass/project.scss */
.dataTables_wrapper .dataTables_processing {
  position: absolute;
  top: 97% !important;
  width: 30%;
  border: 0;
  text-align: center;
  font-size: 15px;
  background: None;
  z-index: 1500 !important;
}
/* line 1447, ../sass/project.scss */
.dataTables_wrapper .dataTables_info {
  font-family: Nunito;
  font-size: 14px !important;
}
/* line 1453, ../sass/project.scss */
.dataTables_wrapper .dataTable thead.bg-default th[aria-label="Status"] {
  min-width: 85px;
}

/* line 1461, ../sass/project.scss */
.dataTables_paginate .pagination {
  padding: 0;
}
/* line 1463, ../sass/project.scss */
.dataTables_paginate .pagination .previous {
  padding-left: 0;
}
/* line 1466, ../sass/project.scss */
.dataTables_paginate .pagination .next {
  padding-right: 0;
}

@media screen and (max-width: 991px) {
  /* line 1476, ../sass/project.scss */
  .sidebar-offcanvas {
    position: fixed;
    max-height: calc(100vh - 70px);
    bottom: 0;
    overflow: auto;
    left: -260px;
    -webkit-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  /* line 1488, ../sass/project.scss */
  .page-body-wrapper.subscribe .sidebar-offcanvas {
    top: 50px;
  }
  /* line 1493, ../sass/project.scss */
  .page-body-wrapper.trial .sidebar-offcanvas {
    top: 90px;
  }
  /* line 1498, ../sass/project.scss */
  .page-body-wrapper.expired .sidebar-offcanvas {
    top: 90px;
  }

  /* line 1504, ../sass/project.scss */
  .secondary-sidebar {
    left: 0;
  }

  /* line 1508, ../sass/project.scss */
  .sidebar-offcanvas.active {
    left: 0;
  }

  /* line 1511, ../sass/project.scss */
  .navbar.default-layout-navbar {
    background: #fff;
    border-bottom: #E8E9ED 1px solid;
  }
  /* line 1514, ../sass/project.scss */
  .navbar.default-layout-navbar .navbar-brand-wrapper {
    width: auto;
    border-right: 0;
    border-bottom: 0;
  }
  /* line 1519, ../sass/project.scss */
  .navbar.default-layout-navbar .navbar-menu-wrapper {
    width: auto;
    background: #fff;
  }
  /* line 1522, ../sass/project.scss */
  .navbar.default-layout-navbar .navbar-menu-wrapper .navbar-toggler.navbar-toggler-right {
    padding-right: 8px;
    border-right: none;
  }
  /* line 1527, ../sass/project.scss */
  .navbar.default-layout-navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right {
    width: 80%;
  }
  /* line 1530, ../sass/project.scss */
  .navbar.default-layout-navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right .nav-item.nav-profile {
    width: 100%;
  }
  /* line 1538, ../sass/project.scss */
  .navbar.default-layout-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link .nav-profile-text {
    margin-right: .5rem;
  }

  /* line 1549, ../sass/project.scss */
  .dropdown-toggle .icons i {
    top: 15px;
    right: auto;
  }

  /* line 1555, ../sass/project.scss */
  .subscription-info {
    padding: 2px !important;
  }

  /* line 1558, ../sass/project.scss */
  .subscription-info {
    font-size: 12px;
  }

  /* line 1561, ../sass/project.scss */
  .main-panel {
    margin-left: 0 !important;
  }

  /* line 1564, ../sass/project.scss */
  .content-wrapper {
    padding: 0 15px 15px 15px !important;
  }

  /* line 1567, ../sass/project.scss */
  .desktop {
    display: none;
  }

  /* line 1570, ../sass/project.scss */
  .mobile {
    display: block !important;
    margin-bottom: 40px;
  }

  /* line 1574, ../sass/project.scss */
  .mobile-filter {
    display: block !important;
  }

  /* line 1577, ../sass/project.scss */
  .trial {
    padding-top: 90px;
  }

  /* line 1580, ../sass/project.scss */
  .expired {
    padding-top: 90px;
  }
}
/* line 1585, ../sass/project.scss */
.collapse .nav .nav-item.submenu-active a {
  color: #0094C9 !important;
}

@media (max-width: 991px) {
  /* line 1590, ../sass/project.scss */
  .main-panel {
    margin-left: 0;
    width: 100%;
  }
}
/* line 1596, ../sass/project.scss */
.mobile, .mobile-filter {
  display: none;
}

/* line 1600, ../sass/project.scss */
.main-panel {
  margin-left: 250px;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  overflow-x: hidden;
}

/* line 1614, ../sass/project.scss */
#filters select.form-control {
  border-color: 1px solid #AAAAAA !important;
  background-image: linear-gradient(45deg, transparent 50%, #AAA 50%), linear-gradient(135deg, #AAA 50%, transparent 50%), linear-gradient(to right, transparent, transparent);
  background-position: calc(100% - 12px) calc(1em), calc(100% - 7px) calc(1em), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
}
/* line 1629, ../sass/project.scss */
#filters .form-control {
  border: 1px solid #AAAAAA !important;
}

/* line 1634, ../sass/project.scss */
.heading-1 {
  color: #0094C9;
  font-family: Nunito;
  letter-spacing: 0;
  font-weight: 100;
}

/* line 1641, ../sass/project.scss */
.dataTables_scrollFoot {
  display: none;
}

/* line 1646, ../sass/project.scss */
#subscription-box label {
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  min-height: 200px;
}
/* line 1652, ../sass/project.scss */
#subscription-box label .subscription-body {
  font-size: 12px;
}
/* line 1653, ../sass/project.scss */
#subscription-box label .subscription-body .description {
  color: #7B8E9C;
}
/* line 1656, ../sass/project.scss */
#subscription-box label .subscription-body .price {
  font-size: 16px;
}
/* line 1661, ../sass/project.scss */
#subscription-box label .subscription-label {
  color: #7B8E9C;
  border-bottom: 1px solid #D8D8D8;
}
/* line 1666, ../sass/project.scss */
#subscription-box label:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
/* line 1669, ../sass/project.scss */
#subscription-box input {
  visibility: hidden;
}

/* line 1674, ../sass/project.scss */
.subscription {
  width: 100%;
  height: 40px;
  font-family: Nunito;
  font-size: 10px;
  letter-spacing: 1;
  color: #FFF;
  background: #00D8A1;
  z-index: 1034;
}
/* line 1683, ../sass/project.scss */
.subscription .container {
  width: 100%;
}
/* line 1685, ../sass/project.scss */
.subscription .container .row {
  max-height: 40px;
}

/* line 1690, ../sass/project.scss */
.subscription-expired {
  width: 100%;
  height: 40px;
  font-family: Nunito;
  font-size: 10px;
  letter-spacing: 1;
  color: #FFF;
  background: #ff5e4c;
  z-index: 1034;
}
/* line 1699, ../sass/project.scss */
.subscription-expired .container {
  width: 100%;
}
/* line 1701, ../sass/project.scss */
.subscription-expired .container .row {
  max-height: 40px;
}

/* line 1706, ../sass/project.scss */
.subscription-info {
  padding: 8px;
}

/* line 1709, ../sass/project.scss */
.subscription-link {
  padding: 8px;
  font-size: 14px;
  color: #fff;
}
/* line 1713, ../sass/project.scss */
.subscription-link:hover {
  color: #fff;
}

/* line 1719, ../sass/project.scss */
table {
  font-family: Nunito;
  font-size: 14px;
  padding: 5px;
  background-color: #FFF !important;
  border: #E8E9ED 1px solid;
  max-width: 100%;
}

/* line 1728, ../sass/project.scss */
.table th {
  text-align: center;
  border-top: 0;
}
/* line 1733, ../sass/project.scss */
.table thead th {
  border-bottom: 0;
}

/* line 1738, ../sass/project.scss */
.pagination {
  padding-right: 5px;
}
/* line 1740, ../sass/project.scss */
.pagination .previous {
  padding: 5px;
}
/* line 1743, ../sass/project.scss */
.pagination .next {
  padding: 5px;
}

/* line 1750, ../sass/project.scss */
.datatable-filter td .datatable-filter-input-group label {
  height: 32px;
  min-width: 65px;
}
/* line 1754, ../sass/project.scss */
.datatable-filter td .datatable-filter-input-group select {
  height: 32px;
  min-width: 65px;
  height: 32px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 14px;
  word-break: normal;
  padding: 5px;
  background-image: linear-gradient(45deg, transparent 50%, #485D6E 50%), linear-gradient(135deg, #485D6E 50%, transparent 50%), linear-gradient(to right, #FFF, #FFF);
  background-position: calc(100% - 12px) calc(1em), calc(100% - 7px) calc(1em), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
}
/* line 1768, ../sass/project.scss */
.datatable-filter td .datatable-filter-input-group .btn {
  border: 1px solid #ebedf2;
  height: 32px;
  min-width: 65px;
}
/* line 1773, ../sass/project.scss */
.datatable-filter td .datatable-filter-input-group input {
  height: 32px;
  min-width: 65px;
}

/* line 1780, ../sass/project.scss */
#companyBranch {
  border: 1px solid #AAA;
  height: 32px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 14px;
  word-break: normal;
  padding: 5px;
  background-image: linear-gradient(45deg, transparent 50%, #485D6E 50%), linear-gradient(135deg, #485D6E 50%, transparent 50%), linear-gradient(to right, #FFF, #FFF);
  background-position: calc(100% - 12px) calc(1em), calc(100% - 7px) calc(1em), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
}

/* line 1796, ../sass/project.scss */
.btn-outline-primary:not([disabled]):not(.disabled):active {
  box-shadow: none;
}
/* line 1800, ../sass/project.scss */
.btn-outline-primary:not([disabled]):not(.disabled).active {
  box-shadow: none;
}

/* line 1806, ../sass/project.scss */
.show > .btn-outline-primary.dropdown-toggle {
  box-shadow: none;
}

/* line 1810, ../sass/project.scss */
.p-0 {
  padding-left: 0;
  padding-right: 0;
}

/* line 1814, ../sass/project.scss */
.dropzone-box {
  border: 1px solid #ebedf2;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
}

/* line 1820, ../sass/project.scss */
.dropzone-wrapper {
  border: 1px dashed #ebedf2;
  color: #9AA1A6;
  position: relative;
  width: 100%;
  padding: 1px;
}
/* line 1826, ../sass/project.scss */
.dropzone-wrapper.grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/* line 1831, ../sass/project.scss */
.dropzone-desc {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 35%;
  font-size: 16px;
  width: 100%;
}
/* line 1840, ../sass/project.scss */
.dropzone-desc p {
  font-family: Nunito;
  font-size: 14px;
  color: #9AA1A6;
}
/* line 1845, ../sass/project.scss */
.dropzone-desc i {
  font-size: 60px;
}

/* line 1849, ../sass/project.scss */
.dropzone {
  padding: 5px;
  position: absolute;
  outline: none !important;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}
/* line 1856, ../sass/project.scss */
.dropzone:focus {
  padding: 5px;
  position: absolute;
  outline: none !important;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}

/* line 1865, ../sass/project.scss */
.card {
  margin-bottom: 1rem;
}
/* line 1868, ../sass/project.scss */
.card .card-body #summary {
  border-bottom: #E8E9ED 1px solid;
}
/* line 1871, ../sass/project.scss */
.card .card-body.p-8 {
  padding: 8px !important;
}

/* line 1876, ../sass/project.scss */
.card-body {
  padding: 30px;
}

/* line 1879, ../sass/project.scss */
.upload-instruction {
  color: #9AA1A6;
  font-family: Nunito;
  font-size: 13px;
  text-align: center;
  line-height: 1.25;
}

/* line 1888, ../sass/project.scss */
.sales-card .card .card-body {
  padding: 1.5rem;
}

/* line 1895, ../sass/project.scss */
.report .card .card-body {
  padding: 1.5rem;
}

/* line 1901, ../sass/project.scss */
#div_id_promo_type-promo_type .form-check {
  display: inline;
  margin: 10px;
  cursor: pointer;
}
/* line 1905, ../sass/project.scss */
#div_id_promo_type-promo_type .form-check label {
  cursor: pointer;
  display: inline;
  padding: 25px;
  border: 2px solid #9AA1A6;
  border-radius: 3px;
}
/* line 1912, ../sass/project.scss */
#div_id_promo_type-promo_type .form-check input {
  visibility: hidden;
}

/* line 1917, ../sass/project.scss */
.form-check {
  margin-top: 5px;
}

/* line 1920, ../sass/project.scss */
.check-all {
  color: #CCD6DD;
  font-size: 12px;
}

/* line 1924, ../sass/project.scss */
#div_id_promo_configuration_form-outlet {
  display: none;
}

/* line 1927, ../sass/project.scss */
#div_id_promo_configuration_form-allow_days {
  display: none;
}

/* line 1930, ../sass/project.scss */
.action-toggle {
  color: #212529;
  font-size: 16px;
}

/* line 1934, ../sass/project.scss */
.action-toggle-menu {
  font-size: 14px;
}

/* line 1937, ../sass/project.scss */
#variant_products {
  border-top: 1px solid #ebedf2;
}

/* line 1940, ../sass/project.scss */
#products_header {
  border-top: 1px solid #ebedf2;
}

/* line 1943, ../sass/project.scss */
#modifier_products {
  border-top: 1px solid #ebedf2;
}

/* line 1946, ../sass/project.scss */
#card_header {
  max-height: 40px;
}

/* line 1949, ../sass/project.scss */
.btn#delete-item-modifier {
  margin-bottom: 2px;
}

/* line 1952, ../sass/project.scss */
.btn#delete-item-variant {
  margin-bottom: 2px;
}

/* line 1955, ../sass/project.scss */
.variants-field {
  -ms-flex: 0 0 76%;
  flex: 0 0 76%;
  max-width: 76%;
}

/* line 1960, ../sass/project.scss */
.values-field {
  -ms-flex: 0 0 92%;
  flex: 0 0 92%;
  max-width: 92%;
}

/* line 1965, ../sass/project.scss */
.delete-variant-btn {
  -ms-flex: 0 0 24%;
  flex: 0 0 24%;
  max-width: 24%;
}

/* line 1970, ../sass/project.scss */
.delete-btn {
  -ms-flex: 0 0 8%;
  flex: 0 0 8%;
  max-width: 8%;
}

/* line 1975, ../sass/project.scss */
#product-summary {
  font-family: Nunito;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0 !important;
}

/* line 1981, ../sass/project.scss */
.clearable {
  background: #fff url("../images/close.gif") no-repeat right -10px center;
  padding: 3px 18px 3px 4px;
  border-radius: 3px;
  transition: background 0.4s;
}
/* line 1986, ../sass/project.scss */
.clearable::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

/* line 1992, ../sass/project.scss */
.clearable.x {
  background-position: right 5px center;
  direction: unset;
}

/* line 1996, ../sass/project.scss */
.clearable.onX {
  cursor: pointer;
}

/* line 1999, ../sass/project.scss */
.modal-open {
  overflow: scroll;
}

/* line 2002, ../sass/project.scss */
.add-product {
  cursor: pointer;
}

/* line 2005, ../sass/project.scss */
.add-variants {
  cursor: pointer;
}

/* line 2008, ../sass/project.scss */
.add-modifiers {
  cursor: pointer;
}

/* line 2011, ../sass/project.scss */
#delete-item-product {
  cursor: pointer;
  color: #FF4C4C;
}
/* line 2014, ../sass/project.scss */
#delete-item-product:hover {
  color: #ff3232;
  text-decoration: none;
}

/* line 2019, ../sass/project.scss */
#delete-item-modifier {
  cursor: pointer;
  color: #FF4C4C;
}
/* line 2022, ../sass/project.scss */
#delete-item-modifier:hover {
  color: #ff3232;
  text-decoration: none;
}

/* line 2027, ../sass/project.scss */
#delete-item-variant {
  cursor: pointer;
  color: #FF4C4C;
}
/* line 2030, ../sass/project.scss */
#delete-item-variant:hover {
  color: #ff3232;
  text-decoration: none;
}

/* line 2035, ../sass/project.scss */
.content {
  overflow-x: hidden;
}

/* line 2038, ../sass/project.scss */
.invalid-feedback {
  display: inline;
  font-size: 12px;
}

/* line 2042, ../sass/project.scss */
.warning-sign {
  color: #8a6d3b;
  visibility: hidden;
}

/* line 2046, ../sass/project.scss */
.tt-menu {
  text-align: left;
  width: 100%;
  margin: 12px 0;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ebedf2;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* line 2061, ../sass/project.scss */
.gist {
  text-align: left;
  font-size: 14px;
}

/* line 2066, ../sass/project.scss */
.table-of-contents li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
/* line 2070, ../sass/project.scss */
.table-of-contents li a {
  font-size: 16px;
  color: #999;
}

/* line 2076, ../sass/project.scss */
.title {
  margin: 20px 0 0 0;
  font-size: 64px;
}

/* line 2080, ../sass/project.scss */
.example {
  padding: 30px 0;
}

/* line 2083, ../sass/project.scss */
.example-name {
  margin: 20px 0;
  font-size: 32px;
}

/* line 2087, ../sass/project.scss */
.demo {
  position: relative;
  *z-index: 1;
  margin: 50px 0;
}

/* line 2092, ../sass/project.scss */
.tt-input {
  width: 100%;
}

/* line 2095, ../sass/project.scss */
.typeahead {
  width: 100%;
  height: 32px;
  padding: 8px 12px;
  font-family: Nunito;
  font-size: 14px;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
}
/* line 2107, ../sass/project.scss */
.typeahead:focus {
  border: 1px solid #80bdff;
}

/* line 2111, ../sass/project.scss */
.tt-query {
  width: 100%;
  height: 32px;
  padding: 8px 12px;
  font-family: Nunito;
  font-size: 14px;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  outline: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* line 2126, ../sass/project.scss */
.tt-hint {
  width: 100%;
  height: 32px;
  padding: 8px 12px;
  font-family: Nunito;
  font-size: 14px;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  outline: none;
  color: #999;
}

/* line 2139, ../sass/project.scss */
.twitter-typeahead {
  width: 100%;
}

/* line 2142, ../sass/project.scss */
.tt-suggestion {
  padding: 3px 20px;
  line-height: 20px;
  font-family: Nunito;
  font-size: 14px;
}
/* line 2147, ../sass/project.scss */
.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}
/* line 2152, ../sass/project.scss */
.tt-suggestion p {
  margin: 0;
}

/* line 2156, ../sass/project.scss */
.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}

/* line 2161, ../sass/project.scss */
#custom-templates .empty-message {
  padding: 5px 10px;
  text-align: center;
}

/* line 2167, ../sass/project.scss */
#multiple-datasets .league-name {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}

/* line 2174, ../sass/project.scss */
#scrollable-dropdown-menu .tt-menu {
  max-height: 150px;
  overflow-y: auto;
}

/* line 2180, ../sass/project.scss */
#rtl-support .tt-menu {
  text-align: right;
}

/* line 2184, ../sass/project.scss */
.image {
  min-height: 150px;
}

/* line 2187, ../sass/project.scss */
.image-detail {
  width: 100%;
}

/* line 2190, ../sass/project.scss */
.default-image-none {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 35%;
  width: 100%;
}
/* line 2198, ../sass/project.scss */
.default-image-none i {
  font-size: 60px;
  color: #9AA1A6;
}

/* line 2203, ../sass/project.scss */
.preview-image {
  max-height: 96px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/* line 2208, ../sass/project.scss */
.preview {
  background: #FBFCFE;
  padding: 0;
}
/* line 2211, ../sass/project.scss */
.preview .preveiw-header {
  padding: 30px 30px 5px 30px;
  background: #fff;
  margin-bottom: 1rem;
}
/* line 2216, ../sass/project.scss */
.preview .struk-preview {
  margin: 30px;
  background: #fff;
}

/* line 2221, ../sass/project.scss */
.receipt-header {
  border-bottom: 1px solid #E8E9ED;
  margin-bottom: 1rem;
}

/* line 2225, ../sass/project.scss */
.struk-preview {
  font-size: 12px;
  font-family: Nunito;
}
/* line 2228, ../sass/project.scss */
.struk-preview p {
  font-size: 12px;
  font-family: Nunito;
}

/* line 2233, ../sass/project.scss */
.receipt-info {
  border-bottom: 1px dashed #ccc;
}

/* line 2236, ../sass/project.scss */
.purchase-detail {
  border-bottom: 1px dashed #ccc;
}

/* line 2239, ../sass/project.scss */
.subtotal-detail {
  border-bottom: 1px dashed #ccc;
}

/* line 2242, ../sass/project.scss */
.addons {
  color: #B0C4D2;
}

/* line 2245, ../sass/project.scss */
.modifiers {
  color: #B0C4D2;
}

/* line 2248, ../sass/project.scss */
.social-icon {
  background: #7B8E9C;
  height: 25px;
  width: 25px;
  font-size: 14px;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
}

/* line 2259, ../sass/project.scss */
.receipt-image-upload {
  color: #7B8E9C;
  font-family: Nunito;
  font-size: 14px;
}

/* line 2264, ../sass/project.scss */
.heading-3 {
  font-size: 1.2rem;
}

/* line 2267, ../sass/project.scss */
.heading-2 {
  font-size: 1.75rem;
}

/* line 2270, ../sass/project.scss */
.card-bar-line {
  height: 280px;
}

/* line 2273, ../sass/project.scss */
.card-bar {
  height: 595px;
}

/* line 2276, ../sass/project.scss */
#header {
  border-bottom: #ccc 1px solid;
}

/* line 2280, ../sass/project.scss */
.divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #E8E9ED;
}

/* line 2286, ../sass/project.scss */
#report-table-header {
  color: #AAA;
  border-bottom: 1px solid #E8E9ED;
}

/* line 2290, ../sass/project.scss */
#report-table {
  border-bottom: 1px solid #E8E9ED;
}

/* line 2293, ../sass/project.scss */
#cash-balance {
  border: 0;
  text-align: center;
}

/* line 2297, ../sass/project.scss */
.no-data {
  color: #AAAAAA;
}

/* line 2300, ../sass/project.scss */
.no-data-icon {
  font-size: 84px;
}

/* line 2306, ../sass/project.scss */
.daterangepicker .ranges li.active {
  background-color: #0094C9 !important;
}
/* line 2311, ../sass/project.scss */
.daterangepicker td.active {
  background-color: #0094C9 !important;
}
/* line 2313, ../sass/project.scss */
.daterangepicker td.active:hover {
  background-color: #0094C9 !important;
}
/* line 2317, ../sass/project.scss */
.daterangepicker td.off {
  background-color: #fff !important;
  border-color: transparent !important;
  color: #999;
}
/* line 2321, ../sass/project.scss */
.daterangepicker td.off.in-range {
  background-color: #fff !important;
  border-color: transparent !important;
  color: #999;
}
/* line 2326, ../sass/project.scss */
.daterangepicker td.off.start-date {
  background-color: #fff !important;
  border-color: transparent !important;
  color: #999;
}
/* line 2331, ../sass/project.scss */
.daterangepicker td.off.end-date {
  background-color: #fff !important;
  border-color: transparent !important;
  color: #999;
}

/* line 2340, ../sass/project.scss */
.switch {
  margin-top: 3px;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}
/* line 2346, ../sass/project.scss */
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
/* line 2356, ../sass/project.scss */
.switch .slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
/* line 2367, ../sass/project.scss */
.switch .slider .round {
  border-radius: 34px;
}
/* line 2369, ../sass/project.scss */
.switch .slider .round:before {
  border-radius: 50%;
}
/* line 2374, ../sass/project.scss */
.switch input {
  display: none;
}
/* line 2376, ../sass/project.scss */
.switch input:checked + .slider {
  background-color: #2196F3;
}
/* line 2379, ../sass/project.scss */
.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
/* line 2382, ../sass/project.scss */
.switch input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* line 2390, ../sass/project.scss */
.device-user-info,
.detail-cash-balance,
.cash-balance-summary {
  border-bottom: 1px solid #CCD6DD;
}

/* line 2395, ../sass/project.scss */
.gray {
  color: #8996A0;
}

/* line 2399, ../sass/project.scss */
.detail-payment {
  border-left: 1px solid #E8E9ED;
}

/* line 2402, ../sass/project.scss */
.billing-header,
#detail-billing,
.header-detail-subscription {
  border-bottom: 1px solid #E8E9ED;
}

/* line 2408, ../sass/project.scss */
.total-amount {
  color: #0094C9;
}

/* line 2411, ../sass/project.scss */
.next-billing {
  font-size: 12px;
}

/* line 2414, ../sass/project.scss */
#id_voucher_code {
  text-transform: uppercase;
}

/* line 2417, ../sass/project.scss */
.info-discount {
  color: #00D8A1;
  font-size: 12px;
}

/* line 2421, ../sass/project.scss */
.voucher-applied {
  border-color: #00D8A1 !important;
}

/* line 2424, ../sass/project.scss */
.voucher-discount {
  color: red;
}

/* line 2428, ../sass/project.scss */
.borderless {
  border: none;
}
/* line 2430, ../sass/project.scss */
.borderless td {
  border: none;
}
/* line 2433, ../sass/project.scss */
.borderless th {
  border: none;
}

/* line 2437, ../sass/project.scss */
.devider-border-bottom {
  border-bottom: 1px solid #E8E9ED;
}

/* line 2440, ../sass/project.scss */
.devider-border-top {
  border-top: 1px solid #E8E9ED;
}

/* line 2443, ../sass/project.scss */
#checkout-button {
  height: 40px;
}

/* line 2446, ../sass/project.scss */
#cancel-payment {
  height: 40px;
  padding: 12px;
}

/* line 2450, ../sass/project.scss */
.link-off {
  pointer-events: none;
}

/* Custom SCSS End */
