{% extends "dashboard/base.html" %}
{% load static i18n %}
{% block title %}{% trans "Dashboard" %}{% endblock %}


{% block content %}
    <div class="content">
        <section
                class="page-title">
            <div class="container">
                <h1 class="pull-left">
                    <span class="fa fa-user"></span> {% trans "User" %}
                </h1>
            </div>
        </section>
        <section
                class="page-breadcrumb">
            <div class="container">
                <ol class="breadcrumb">
                    <li>
                        <a href="{% url 'home' %}"
                           class="text-link">Home</a>
                    </li>
                    <li class="active">
                        User
                    </li>
                </ol>
            </div>
        </section>
        <section
                class="messages">
            <div class="clearfix"></div>
        </section>
        <section
                class="main-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h2 class="panel-title"><span class="fa fa-user"></span> User Detail</h2>
                            </div>
                            <div class="panel-body">
                                <form method="post" action=".">
                                    {% csrf_token %}
                                    <p class="text-warning">Are you sure you want to delete {{ object.username }}?</p>
                                    <input type="submit" class="btn btn-danger" value="yes"/>
                                    <a href="{% url 'users:user_list_dashboard' %}" class="btn btn-primary">no</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}
