{% extends "dashboard/base_datatable.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Account Management" %}{% endblock %}

{% block employees_active_class %}active{% endblock %}
{% block mobile_employees_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_employees_show %}show{% endblock %}
{% block employees_staff_active_class %}submenu-active{% endblock %}
{% block mobile_employees_staff_active_class %}submenu-active{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}
{% block datatable_title %}{% trans "Account Management" %}{% endblock datatable_title %}

{% block datatable_panel_title %}
  {% trans "Account Management" %}
{% endblock datatable_panel_title %}


{% block action_button %}
  {% if request.user.is_owner %}
    <div class="p-0 position-fixed" style="right:20px;">
      <a href="{% url 'device:device_user_manager_create' %}" class="btn btn-primary btn-lg fixed-top-content">{% trans "Manage Account" %}</a>
    </div>
  {% endif %}
{% endblock action_button %}

{% block group_list %}
  <form id='deactivate-user-form' class="hide form-horizontal" action="url 'users:user_deactivate_dashboard'" method='POST'>
    {% csrf_token %}
    <input name='user_list' type=hidden />
  </form>
{% endblock %}

{% block datatable_id %}tab_user_list{% endblock datatable_id %}

{% block datatable_thead_tr %}
  <th>{% trans "Email" %}</th>
  <th>{% trans "Name" %}</th>
  <th>{% trans "Status" %}</th>
  <th class="no-sort">{% trans "Actions" %}</th>
{% endblock datatable_thead_tr %}

{% block datatable_filter %}
<tr class='datatable-filter'>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td></td>
  <td></td>
  <td></td>
</tr>
{% endblock datatable_filter %}

{% block modal %}
  <div class="modal fade" id="remove-owner-modal" tabindex="-1" role="dialog" aria-labelledby="removeOwnerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">{% trans "Remove Owner Status" %}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p>{% trans "This action will remove selected user from owner." %}</p>
            <p>{% trans "Are you sure you want to continue ?" %}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-submit-close" data-dismiss="modal">{% trans "Close" %}</button>
          <button type="button" class="btn btn-primary delete" data-url="{% url 'accounts:remove-owner' %}">
            <span id="delete-text">{% trans "Remove" %}</span>
            <i id="delete-icon" class=""></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="assign-owner-modal" tabindex="-1" role="dialog" aria-labelledby="assignOwnerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">{% trans "Assign Owner Status" %}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p>{% trans "This action will assign selected user as owner." %}</p>
            <p> {% trans "Are you sure you want to continue ?" %}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-submit-close" data-dismiss="modal">{% trans "Close" %}</button>
          <button type="button" class="btn btn-primary delete" data-url="{% url 'accounts:assign-owner' %}">
            <span id="delete-text">{% trans "Assign" %}</span>
            <i id="delete-icon" class=""></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">{% trans "Delete User" %}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p>{% trans "You will permanently delete these user from your KAWN channel." %}</p>
            <p>{% trans "Are you sure you want to continue ?" %}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-submit-close" data-dismiss="modal">{% trans "Close" %}</button>
          <button type="button" class="btn btn-primary delete" data-url="{% url 'invitation:invitation_delete_dashboard' %}">
            <span id="delete-text">{% trans "Delete" %}</span>
            <i id="delete-icon" class=""></i>
          </button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block javascript %}
{{ block.super }}
<script>

  $(document).ready(function() {
    base_url = "{% url 'invitation:data_user' %}";

    tableOptions = {
      pageLength: 25,
      order: [[ 1, "desc" ]],
      columnDefs: [
        {targets: 'no-sort', orderable: false},
        {
          'targets': [2],
          'render': function (data, type, full, meta) {
            if(data == true){
              data = "{% trans 'Owner' %}";
            }else{
              data = "{% trans 'Member' %}";;
            }
            return data;
          },
        },
        {
          'targets': [3],
          'render': function (data, type, full, meta) {
            if(data.request_is_founder){
              if(data.is_founder && !data.is_self){
                data = '<a class="action-toggle" id="user-'+data.id+'-dropdown" href="#" data-toggle="dropdown"> \
                          <i class="fa fa-ellipsis-h" aria-hidden="true"></i> \
                        </a>\
                        <div class="dropdown-menu action-toggle-menu" aria-labelledby="user-'+data.id+'-dropdown">\
                          <a class="dropdown-item" href="#" data-toggle="modal" data-id='+data.id+' data-target="#remove-owner-modal"> \
                            {% trans "Remove from owner" %} \
                          </a> \
                        </div>';
              }else if(!data.is_self){
                data = '<a class="action-toggle" id="outlet-'+data.id+'-dropdown" href="#" data-toggle="dropdown"> \
                          <i class="fa fa-ellipsis-h" aria-hidden="true"></i> \
                        </a>\
                        <div class="dropdown-menu action-toggle-menu" aria-labelledby="outlet-'+data.id+'-dropdown">\
                          <a class="dropdown-item" href="#" data-toggle="modal" data-id='+data.id+' data-target="#delete-modal"> \
                            {% trans "Delete" %} \
                          </a> \
                          <a class="dropdown-item" href="#" data-toggle="modal" data-id='+data.id+' data-target="#assign-owner-modal"> \
                            {% trans "Assign as owner" %} \
                          </a> \
                        </div>';
              } else {
                data = "";
              }
            }else{
              data = "";
            }
            return data;
          },
        },
      ],
    }

    function tog(v){return v?'addClass':'removeClass';}

    $('#remove-owner-modal, #assign-owner-modal, #delete-modal').on('show.bs.modal', function(e) {
      var id = $(e.relatedTarget).data('id');
      $(this).find('.delete').data('id', id);
    });

    $(document).on('input', '.clearable', function(){
        $(this)[tog(this.value)]('x');
    }).on('mousemove', '.x', function( e ){
        $(this)[tog(this.offsetWidth-18 < e.clientX-this.getBoundingClientRect().left)]('onX');
    }).on('touchstart click', '.onX', function( ev ){
        ev.preventDefault();
        $(this).removeClass('x onX').val('').change();
    });

    $(document).on('click', '.delete', function(e){
      var id = $(this).data("id");
      e.preventDefault();
      url = $(this).data("url")
      $.ajax({
        type: 'POST',
          url: url,
          dataType: 'json',
          data: {
            id:id
          },
          beforeSend: function(jqXHR, settings){
            jqXHR.setRequestHeader("x-csrftoken", '{{ csrf_token }}');
            $(".btn-submit-close").attr("disabled", "disabled");
            $(".delete").attr("disabled", "disabled");
            $("#delete-text").html("Loading");
            $("#delete-icon").addClass("fa fa-spinner fa-spin");
          },
          success: function(result){
            if(result.status == 'success'){
              $(".btn-submit-close").attr("disabled", "disabled");
              $(".delete").attr("disabled", "disabled");
              $("#delete-text").html("Refreshing Page");
              $("#delete-icon").addClass("fa fa-spinner fa-spin");
                setTimeout(function(){
                  window.location.href = '{% url "invitation:user_list_dashboard" %}'
                }, 3000);
            }
          }
      });
    });
  })

</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
{% endblock %}
