{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item"><a href="{% url 'users:user_list_dashboard' %}">User</a></li>
  <li class="breadcrumb-item active">Create User</li>
{% endblock %}

{% block sub_content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              {% if object %}
                <h2 class="panel-title"><span class="fa fa-user"></span>{% trans "Edit" %} {{ object.username }}
                  </h2>
              {% else %}
                <h2 class="panel-title"><span class="fa fa-user"></span>{% trans "Create New User" %}</h2>
              {% endif %}
            </div>
            <div>
              <form method="post" action=".">
                {% csrf_token %}
                {{ form|crispy }}
                {% if object %}
                  <input type="submit" class="btn btn-success" value="Edit">
                {% else %}
                  <input type="submit" class="btn btn-primary" value="Add"/>
                {% endif %}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}