{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% block title %}{% trans "Dashboard" %}{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item active">My Profile</li>
{% endblock %}

{% block sub_content %}
  <div class="container mb-3">
    <div class="row">
      <div class="col">
        <h3 class="heading-3 font-weight-thin my-3">{% trans "User Detail" %}</h3>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h2 class="text-primary">{{ object.username }}</h2>

            <p class="text-primary"><em>Full name
                : {{ object.firstname }} {{ object.lastname }}</em></p>
            <p class="text-primary"><em>Company Name
                : {{ object.firstname }} {{ object.lastname }}</em></p>
            <p class="text-primary">{{ object.email }}</p>

             {% if edit_menu == True %}
              <a href="{% url 'users:user_update_dashboard' object.id %}" class="btn btn-success"> Edit</a>
             {% endif %}

             {% if delete_menu == True %}
              <a href="{% url 'users:user_delete_dashboard' object.id %}" class="btn btn-danger"> Delete</a>
             {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock sub_content %}
