{% extends "base_email.html" %}
{% load account %}

{% block email_content %}
	{% user_display user as user_display %}
	<tr>
		<td valign="top" class="textContent">
			<h2 style="text-align:center;font-family:Helvetica,Arial,sans-serif;margin-bottom:0;color:#5F5F5F;line-height:135%;padding-top:1em;">KAWN Verifikasi Pendaftaran
			</h2>
		</td>
	</tr>

	<tr>
		<td valign="top" class="textContent">
			<div mc:edit="body" style="text-align:center;font-family:Helvetica,Arial,sans-serif;font-size:15px;margin-bottom:0;color:#5F5F5F;line-height:135%;padding-bottom:3em;">Halo, {{ user_display }}! Satu langkah lagi untuk menyelesaikan pendaftaran akun KAWN Anda!</div>
		</td>
	</tr>

	<tr>
		<td valign="top" class="textContent">
			<div mc:edit="body" style="text-align:center;font-family:Helvetica,Arial,sans-serif;font-size:15px;margin-bottom:0;color:#5F5F5F;line-height:135%;">Verifikasi email yang Anda daftarkan dengan mengakses tombol di bawah ini</div>
		</td>
	</tr>

	<tr>
		<td align="center" valign="top">
			<!-- CONTENT TABLE // -->
			<table border="0" cellpadding="0" cellspacing="0" width="50%" class="emailButton" style="background-color: #EB9928;">
				<tr>
					<td align="center" valign="middle" class="buttonContent" style="padding-top:15px;padding-bottom:15px;padding-right:15px;padding-left:15px;">
						<a style="color:#FFFFFF;text-decoration:none;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:135%;" href="{{ activate_url }}" target="_blank">Klik di Sini!</a>
					</td>
				</tr>
			</table>
			<!-- // CONTENT TABLE -->
		</td>
	</tr>
{% endblock %}