{% extends "base_email.html" %}
{% load account %}
{% load i18n %}

{% block email_content %}
	<tr>
		<td valign="top" class="textContent">
			<h2 style="text-align:center;font-family:Helvetica,Arial,sans-serif;margin-bottom:0;color:#5F5F5F;line-height:135%;padding-top:1em;">KAWN Password Reset</h2>
		</td>
	</tr>

	<tr>
		<td valign="top" class="textContent">
			<div mc:edit="body" style="text-align:center;font-family:Helvetica,Arial,sans-serif;font-size:15px;margin-bottom:0;color:#5F5F5F;line-height:135%;padding-bottom:3em;">

				{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}Salam dari {{ site_name }}!

				Anda menerima email ini karena Anda atau sesorang ingin melakukan perubahan password yang hilang.

				Abaikan email ini apabila Anda tidak pernah meminta perubahan password yang hilang.{% endblocktrans %}

				{% if username %}{% blocktrans %}Apabila anda lupa, nama pengguna anda adalah {{ username }}.{% endblocktrans %}{% endif %}
		</td>
	</tr>

	<tr>
		<td valign="top" class="textContent">
			<div mc:edit="body" style="text-align:center;font-family:Helvetica,Arial,sans-serif;font-size:15px;margin-bottom:0;color:#5F5F5F;line-height:135%;">Anda bisa melakukan perubahan password dengan mengakses tombol di bawah ini</div>
		</td>
	</tr>

	<tr>
		<td align="center" valign="top">
			<!-- CONTENT TABLE // -->
			<table border="0" cellpadding="0" cellspacing="0" width="50%" class="emailButton" style="background-color: #EB9928;">
				<tr>
					<td align="center" valign="middle" class="buttonContent" style="padding-top:15px;padding-bottom:15px;padding-right:15px;padding-left:15px;">
						<a style="color:#FFFFFF;text-decoration:none;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:135%;" href="{{ password_reset_url }}" target="_blank">Link Button</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
{% endblock %}