{% load i18n %}
{% load crispy_forms_field crispy_forms_filters %}
{% load humanize %}

<div class="div_id_customer_eligibility">
{% include 'bootstrap4/layout/field_errors_block.html' %}
  <label for="{{ field.id_for_label }}" class="col-form-label {{ label_class }}{% if field.field.required %} requiredField{% endif %} pt-0">
                {{ field.label|safe }}
            </label>
  <div class="{{ field_class }}">
   {% for choice in field.field.choices %}
      {% if not inline_class %}
  <div class="custom-control custom-radio custom-control-inline p-0">{% endif %}
       <input type="radio" class="form-check-input custom-control-input"{% if choice.0|stringformat:"s" == field.value|default_if_none:""|stringformat:"s" %} checked="checked"{% endif %} name="customerRadio" id="id_id_customer_eligibility_{{ forloop.counter }}" value="{{ choice.0 }}" {{ field.field.widget.attrs|flatatt }}>
  <label for="id_id_customer_eligibility_{{ forloop.counter }}" class="form-check-{% if inline_class %}{{ inline_class }}{% else %}label{% endif %} custom-control custom-control-label">
    <span class="custom-control-indicator"></span>
    <div class="input-group">
      <p class="custom-control-description mb-0 mr-2">{{ choice.1 }}</p>
    </div>
   </label>
      {% if not inline_class %}</div>{% endif %}
    {% endfor %}

    {% include 'bootstrap4/layout/help_text.html' %}
  </div>
</div>
