{% load i18n %}
{% load crispy_forms_field crispy_forms_filters %}
{% load humanize %}

<div id="div_id_discount_type" class="btn-group-toggle d-flex" data-toggle="buttons">
  {% for choice in field.field.choices %}
  <label class="btn btn-outline-primary col-4 small-custom-radio {% if field.value == choice.0 %}active{% endif %}" style="max-width: 13.8%; font-weight: 900 !important;">
    <input
      type="radio" class="form-check-input" name="{{ field.html_name }}"
      id='id_id_discount_type_{{forloop.counter}}' value="{{ choice.0 }}" {% if field.value == choice.0 %}checked=""{% endif %}/>
      {{ choice.1 }}
  </label>
  {% endfor %}
  {% if form_show_errors %}
    {% if field.errors %}
    <span id="error_1_id_{{field.name}}" class="invalid-feedback">
        {% for error in field.errors %}
        <strong>{{ error }}</strong>
        {% endfor %}
    </span>
    {% endif %}
  {% endif %}
</div>

<div id="div_id_discount_type" class="form-group col-lg-12 px-0 mb-0"> <label for="id_discount_type_0" class="col-form-label  requiredField">
                Discount Type<span class="asteriskField">*</span> </label>
  <div class=" p-0 mb-3">
    <div class="form-check">
      <label for="id_id_discount_type_0_1" class="form-check-label">
        <input type="radio" class="form-check-input" name="discount_type" id="id_id_discount_type_0_1" value="percentage">
            Persen
        </label> </div> <div class="form-check"> <label for="id_id_discount_type_0_2" class="form-check-label"> <input type="radio" class="form-check-input" name="discount_type" id="id_id_discount_type_0_2" value="fixed_price">
            Fixed amount
        </label> </div> <div class="form-check"> <label for="id_id_discount_type_0_3" class="form-check-label"> <input type="radio" class="form-check-input" name="discount_type" id="id_id_discount_type_0_3" value="specified_amount">
            Specified amount
        </label> </div> </div> </div>
