{% load i18n %}
{% load crispy_forms_field crispy_forms_filters %}
{% load humanize %}

<div>
  {% if field.label and not field|is_checkbox and form_show_labels %}
    <label for="{{ field.id_for_label }}" class="col-form-label {{ label_class }}{% if field.field.required %} requiredField{% endif %} pb-1">
      {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
    </label>
  {% endif %}
<div id="div_id_gender" class="form-group input-group btn-group-toggle d-flex" data-toggle="buttons">
  {% for choice in field.field.choices %}
  <label class="btn btn-outline-primary col-6 small-custom-radio {% if field.value == choice.0 %}active{% endif %}" style="">
    <input
      type="radio" class="custom-input" name="{{ field.html_name }}"
      id='id_id_discount_type_{{forloop.counter}}' value="{{ choice.0 }}" {% if field.value == choice.0 %}checked=""{% endif %}/>
      {{ choice.1 }}
  </label>
  {% endfor %}
  {% if form_show_errors %}
    {% if field.errors %}
    <div class="invalid-feedback">
      <span id="error_1_id_{{field.name}}" class="invalid-feedback">
        {% for error in field.errors %}
        <strong>{{ error }}</strong>
        {% endfor %}
      </span>
    </div>
    {% endif %}
  {% endif %}

  </div>
</div>
