{% load crispy_forms_field i18n %}

<{% if tag %}{{ tag }}{% else %}div{% endif %} id="div_{{ field.auto_id }}" class="{% if not field|is_checkbox %}form-group {% if 'form-horizontal' in form_class %} row {% else %}{{ form_class }}{% endif %}{% else %}form-check{% endif %}{% if wrapper_class %} {{ wrapper_class }}{% endif %}{% if field.css_classes %} {{ field.css_classes }}{% endif %}">
  <label for="{{ field.id_for_label }}" class="col-form-label {{ label_class }}{% if field.field.required %} requiredField{% endif %}">
      {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
  </label>
  <div class="{{ field_class }}">
    <p>
      <a href='#' class='select-all'>{% trans "Select all" %}</a> |
      <a href='#' class='deselect-all'>{% trans "Deselect all" %}</a>
    </p>

    {% crispy_field field %}
    {% include 'bootstrap4/layout/help_text_and_errors.html' %}
  </div>
</{% if tag %}{{ tag }}{% else %}div{% endif %}>
