{% load i18n %}
{% load crispy_forms_field crispy_forms_filters %}
{% load humanize %}


<div id="div_id_promo_rule" class="btn-group-toggle col-lg-12 p-0 d-flex justify-content-between" data-toggle="buttons">
  {% for choice in field.field.choices %}
  <label class="btn btn-outline-primary col-lg-4 mx-2 custom-radio-button {% if field.value == choice.0 %}active{% endif %}" style="max-width: 23.5%">
    <input
      type="radio" class="custom-input" name="{{ field.html_name }}"
      id='id_id_promo_rule_{{forloop.counter}}' value="{{ choice.0 }}" {% if field.value == choice.0 %}checked=""{% endif %}/>
      {{ choice.1 }}
  </label>
  {% endfor %}
  {% if form_show_errors %}
    {% if field.errors %}
    <span id="error_1_id_{{field.name}}" class="invalid-feedback">
        {% for error in field.errors %}
        <strong>{{ error }}</strong>
        {% endfor %}
    </span>
    {% endif %}
  {% endif %}
</div>
