{% load i18n %}
{% load crispy_forms_field crispy_forms_filters %}
{% load humanize %}

<div id="div_id_surcharge_type" class="btn-group-toggle d-flex" data-toggle="buttons">
  {% for choice in field.field.choices %}
  <label class="btn btn-outline-primary col-4 small-custom-radio {% if field.value == choice.0 %}active{% endif %}" style="max-width: 32.8%; font-weight: 900 !important;">
    <input
      type="radio" class="custom-input" name="{{ field.html_name }}"
      id='id_id_surcharge_type_{{forloop.counter}}' value="{{ choice.0 }}" {% if field.value == choice.0 %}checked=""{% endif %}/>
      {{ choice.1 }}
  </label>
  {% endfor %}
  {% if form_show_errors %}
    {% if field.errors %}
    <span id="error_1_id_{{field.name}}" class="invalid-feedback">
        {% for error in field.errors %}
        <strong>{{ error }}</strong>
        {% endfor %}
    </span>
    {% endif %}
  {% endif %}
</div>
