{% load i18n %}

{% load crispy_forms_field %}

<div class="form-group mb-0">
    <div id="div_id_{{ field.name }}" class="form-check">
        <label class="switch">
            {% if field.initial %}
                <input type="checkbox" name="{{ field.name }}" id="id_{{ field.name }}" checked>
            {% else %}
                <input type="checkbox" name="{{ field.name }}" id="id_{{ field.name }}">
            {% endif %}
            <span class="slider round"></span>
        </label>
        <label class="col-form-label">{{ field.label }}</label>
    </div>
    {% include 'bootstrap4/layout/help_text_and_errors.html' %}
</div>
