{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Order Option" %}{% endblock %}

{% block settings_active_class %}active{% endblock %}
{% block mobile_settings_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_settings_show %}show{% endblock %}
{% block settings_order_option_active_class %}submenu-active{% endblock %}
{% block mobile_settings_order_option_active_class %}submenu-active{% endblock %}

{% block content_header %}{% trans "Add Order Option" %}{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}

{% block sub_content %}
  <div class="w-100 pt-3">
    <form method="post" action="." id="product-modifier">
      {% crispy form %}
      <div class="justify-content-end {% if grid %}{{ grid}}{% else %}col-6{% endif %} p-0" id="fixed-button-content" style="display: flex;">
        <a href="{% url 'sales:sales_order_option_list' %}"  class="btn btn-light">{% trans "Back" %}</a>
        <input type="submit" class="btn btn-primary ml-1" value="{% trans 'Create' %}"/>
      </div>
    </form>
  </div>
{% endblock %}
