{% extends "dashboard/base_datatable.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Sales Order Option" %}{% endblock %}


{% block settings_active_class %}active{% endblock %}
{% block mobile_settings_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_settings_show %}show{% endblock %}
{% block settings_order_option_active_class %}submenu-active{% endblock %}
{% block mobile_settings_order_option_active_class %}submenu-active{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}
{% block datatable_title %}{% trans "Sales Order Option" %}{% endblock datatable_title %}

{% block css %}
  {{ block.super }}
  <style>
    #tables {
      max-width: 50% !important;
      padding: 0px !important;
    }
  </style>
{% endblock %}

{% block datatable_panel_title %}
{% trans "Sales Order Option" %}
{% endblock datatable_panel_title %}


{% block xml_export %}
<!--a id="xmlExport" target="_blank" onclick="table.export_file('xml')" class="btn btn-success">Export
  XML</a-->
{% endblock xml_export %}


{% block action_button %}
<div class="p-0 position-fixed" style="right:20px;">
    <a href="{% url 'sales:sales_order_option_create' %}" class="btn btn-primary btn-lg fixed-top-content">{% trans "Add Order Option" %}</a>
</div>
{% endblock action_button %}


{% block datatable_id %}sales_order_option_list{% endblock datatable_id %}

{% block datatable_thead_tr %}
<th class="">{% trans "Name" %}</th>
<th class="no-sort"></th>
{% endblock datatable_thead_tr %}

{% block datatable_filter %}
<tr class='datatable-filter'>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
  </td>
</tr>
{% endblock datatable_filter %}

{% block javascript %}
{{ block.super }}
<script>
  function isNumberKey(evt){
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57))
        return false;
    return true;
  }
</script>
<script>
  $(document).ready(function() {
    base_url = "{% url 'sales:sales_order_option_data' %}"
    delete_url = "{% url 'sales:sales_order_option_delete' %}";

    tableOptions = {
      pageLength: 25,
      order: [[ 0, "desc" ]],
      columnDefs: [
        {targets: 'no-sort', orderable: false},
        {
          targets: [1],
          render: function (data, type, full, meta) {
            menu_toggle = '';
            data_modal = '';
            data = '<a class="action-toggle" id="product-'+data.id+'-dropdown" href="#" data-toggle="dropdown"> \
                      <i class="fa fa-ellipsis-h" aria-hidden="true"></i> \
                    </a>\
                    <div class="dropdown-menu action-toggle-menu" aria-labelledby="product-'+data.id+'-dropdown">\
                      <a class="dropdown-item" href="'+ data.edit +'"> \
                        Edit \
                      </a>\
                      '+menu_toggle+'\
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete-'+data.id+'-Modal"> \
                        {% trans "Delete" %} \
                      </a> \
                    </div>'+ data_modal+ '\
                    <div class="modal fade" id="delete-'+data.id+'-Modal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true"> \
                      <div class="modal-dialog" role="document"> \
                        <div class="modal-content"> \
                          <div class="modal-header"> \
                            <h5 class="modal-title" id="deleteModalLabel">Delete Variant</h5> \
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"> \
                              <span aria-hidden="true">&times;</span> \
                            </button> \
                          </div> \
                          <div class="modal-body"> \
                              <p>{% trans "You will permanently delete these order option from your KAWN channel." %}</p> \
                              <p> {% trans "Are you sure to delete" %} <b>'+data.name+'</b>?</p>\
                          </div> \
                          <div class="modal-footer"> \
                            <button type="button" class="btn btn-secondary btn-submit-close" data-dismiss="modal">{% trans "Close" %}</button> \
                            <button type="button" class="btn btn-primary delete" data-id="'+data.id+'"> \
                              <span id="delete-text">{% trans "Delete" %}</span> \
                              <i id="delete-icon" class=""></i> \
                            </button> \
                          </div> \
                        </div> \
                      </div> \
                    </div>';
            return data;
          },
        },
      ],
    }

    $(document).on('click', '.delete', function(e){
      var id = $(this).attr("data-id");
      e.preventDefault();

      $.ajax({
        type: 'POST',
          url: delete_url,
          dataType: 'json',
          data: {
            id:id
          },
          beforeSend: function(jqXHR, settings){
            jqXHR.setRequestHeader("x-csrftoken", '{{ csrf_token }}');
            $(".btn-submit-close").attr("disabled", "disabled");
            $(".delete").attr("disabled", "disabled");
            $("#delete-text").html("Loading");
            $("#delete-icon").addClass("fa fa-spinner fa-spin");
          },
          success: function(result){
            if(result.status == 'success'){
              $(".btn-submit-close").attr("disabled", "disabled");
              $(".delete").attr("disabled", "disabled");
              $("#delete-text").html("Refreshing Page");
              $("#delete-icon").addClass("fa fa-spinner fa-spin");
                setTimeout(function(){
                  window.location.href = '{% url "sales:sales_order_option_list" %}'
                }, 3000);
            }
          }
      });
    });

  })
</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
{% endblock %}
