{% load i18n %}

{% load crispy_forms_field %}

<div class="col-md-2 text-right p-0">
  <div class="form-check my-0 mr-4">
    <label id="div_id_{{ field.name }}" class="switch py-0 my-3">
      {% crispy_field field %}
      {% include 'bootstrap4/layout/help_text_and_errors.html' %}
      <span class="slider round"></span>
    </label>
  </div>
</div>
