{% load i18n %}

{% load crispy_forms_field %}

<div class="col-md-3 text-right p-0">
  <div class="form-check my-0">
    <label id="div_id_{{ field.name }}" class="py-0 my-3">
      {% crispy_field field %}
      {% include 'bootstrap4/layout/help_text_and_errors.html' %}
    </label>
  </div>
</div>
<div class="col-md-3 text-center p-0">
  <div class="mt-4">
    <label id="{{ field.id_for_label }}_cost" class="product-cost-diff" data-input="{{field.id_for_label}}" data-price="{{small_form.instance.product.price.amount.to_integral}}" class="py-0 my-3">
    </label>
  </div>
</div>


