{% load i18n %}

{% load crispy_forms_field %}

<div class="form-group mb-0">
    <div id="div_id_{{ field.name }}" class="form-check d-flex justify-content-between my-0" style="border-bottom: 1px solid #dee2e6;">
        <label class="col-form-label my-3 mx-0 p-0">{{ small_form.instance.outlet }}</label>
        <label class="switch my-3 mr-0">
            {% crispy_field field %}
            <span class="slider round"></span>
        </label>
    </div>
</div>
