{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block customer_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_customer_show %}show{% endblock %}
{% block customer_group_active_class %}submenu-active{% endblock %}

{% block title %}{% trans "Customer Group" %}{% endblock %}

{% block css %}
  {{ block.super }}
  {{ form.media.css }}
  <style>
    .card {
      display: block;
    }
  </style>
{% endblock %}

{% block content_header %}{% trans "Update Customer Group" %}{% endblock %}
{% block content_class %}col-lg-12 px-0{% endblock %}
{% block action_div_style %}background: white; border-top: 1px solid #d7d7db;{% endblock %}

{% block submit_form %}
      <div class="d-flex justify-content-end" id="fixed-bottom-button">
        <a href="{% url 'customers:customer_group_list' %}"  class="btn btn-light">{% trans "Back" %}</a>
        <input type="submit" class="btn btn-primary ml-1" id="submitBtn" value="{% trans 'Save' %}"/>
      </div>
{% endblock %}

{% block sub_content %}
  <div class="w-100 pt-1">
    <form method="post" action="." enctype='multipart/form-data' id="form-content">
      {% crispy form %}
      <div class="justify-content-end col-6 p-0" id="fixed-button-content" style="display: flex;">
        <a href="{% url 'customers:customer_group_list' %}"  class="btn btn-light">{% trans "Back" %}</a>
        <input type="submit" class="btn btn-primary ml-1" value="{% trans 'Save' %}"/>
      </div>
    </form>
  </div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  {{ form.media.js }}
    {{ form.media.js }}
    <script src="{% static '/js/button-scrollbar.js' %}"></script>
    <script>
    $(document).ready(function(){
      $("#submitBtn").click(function () {
         $("#form-content").submit();
      });
    });
    </script>
{% endblock javascript %}

