{% extends "dashboard/base_datatable.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Customers Report" %}{% endblock %}

{% block reports_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_reports_show %}show{% endblock %}
{% block customer_report_active_class %}submenu-active{% endblock %}
{% block mobile_customer_report_active_class %}submenu-active{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}
{% block datatable_title %}{% trans "Customers Report" %}{% endblock datatable_title %}


{% block datatable_panel_title %}
{% trans "Customers Report" %}
{% endblock datatable_panel_title %}

{% block datatable_dummy_url %}
{% endblock datatable_dummy_url %}

{% block datatable_action %}
<div id="sales-card" class="row">
  <div class="col-md-12 col-lg-4 pr-0">
    <div class="card">
      <div class="card-body pb-3">
        <h3 class="heading-3 card-title mb-4 font-weight-thin">{% trans "New Customer" %}</h3>
        <h2 id="customer-count" class="heading-2 card-text font-weight-thin">0</h2>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-4 pr-0">
    <div class="card">
      <div class="card-body pb-3">
        <h3 class="heading-3 card-title mb-4 font-weight-thin">{% trans "Transaction Count" %}</h3>
        <h2 id="transaction-count" class="heading-2 card-text font-weight-thin">0</h2>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-4">
    <div class="card">
      <div class="card-body pb-3">
        <h3 class="heading-3 card-title mb-4 font-weight-thin">{% trans "Total Transaction" %}</h3>
        <h2 id="total-transaction" class="heading-2 card-text font-weight-thin">Rp. 0</h2>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block date_range %}
<div id="filters" class="mb-3">
  {% include "partials/datatable_filters.html" with view_name="customers:customer_report_data" %}
</div>
{% endblock %}

{% block datatable_id %}customers_list{% endblock datatable_id %}

{% block datatable_thead_tr %}
<th>{% trans "Name" %}</th>
<th class="text-right">{% trans "Transactions" %}</th>
<th class="text-right">{% trans "Total Transactions" %}</th>
{% endblock datatable_thead_tr %}

{% block datatable_filter %}
<tr class='datatable-filter'>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
</tr>
{% endblock datatable_filter %}

{% block javascript %}
{{ block.super }}
<script>
  base_url = "{% url 'customers:customer_report_data' %}"; 

  $(document).ready(function () {
    tableOptions = {
      order: [[ 2, "desc" ]],
      columnDefs: [
        {targets: 'text-center',  className: 'text-center'},
        {targets: 'no-sort', orderable: false},
        {
          targets: 'text-right', className: 'text-right',
          render: function (data, type, full, meta) {
            return  parseInt(data).toLocaleString('id')
          }
        },
      ],
    }
    function tog(v){return v?'addClass':'removeClass';}
    $(document).on('input', '.clearable', function(){
        $(this)[tog(this.value)]('x');
    }).on('mousemove', '.x', function( e ){
        $(this)[tog(this.offsetWidth-18 < e.clientX-this.getBoundingClientRect().left)]('onX');
    }).on('touchstart click', '.onX', function( ev ){
        ev.preventDefault();
        $(this).removeClass('x onX').val('').change();
    });

  });
</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
<script type="text/javascript">
  $("#companyBranch").change(function() {
    table.ajax.url(this.value).load();
  });
  $('#companyBranchClear > .datatable-clearfilter').click(function(e){
    e.preventDefault();
    table.ajax.url(base_url);
  });
  $(".selector-datatable").on('xhr.dt', function ( e, settings, json, xhr ) {
    $("#customer-count").html(json.total_new_customer);
    $("#transaction-count").html(json.total_transaction_count);
    $("#total-transaction").html("Rp. " + json.total_transaction);
  });
</script>
{% endblock %}
