{% extends "dashboard/base_datatable.html" %}
{% load static i18n humanize %}
{% load crispy_forms_tags %}

{% block customer_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_customer_show %}show{% endblock %}
{% block customer_list_active_class %}submenu-active{% endblock %}
{% block datatable_title %}{{ object.customer.name }} - {% trans "Sales Order Detail" %} {% endblock datatable_title %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}

{% block datatable_panel_title %}
  {% trans "Customer Sales Order Detail" %}
{% endblock datatable_panel_title %}

{% block sub_content %}
<div class="w-100">
  <div title='sales-detail' class="report mb-4">
    <h4>{% trans "Item(s) Detail" %}</h4>

    {% if object.items.exists %}
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="text-left m-3">{% trans "Code" %}</th>
            <th class="text-left m-3">{% trans "Transaction Date" %}</th>
            <th class="text-left m-3">{% trans "Outlet" %}</th>
            <th class="text-left m-3">{% trans "Product" %}</th>
            <th class="text-right m-3">{% trans "Base Cost" %}</th>
            <th class="text-right m-3">{% trans "Quantity" %}</th>
            <th class="text-right m-3">{% trans "Sub Total" %}</th>
            <th class="text-right m-3">{% trans "Surcharge" %}</th>
            <th class="text-right m-3">{% trans "AddOn Cost" %}</th>
            <th class="text-right m-3">{% trans "Discount" %}</th>
            <th class="text-right m-3">{% trans "Total Cost" %}</th>
          </tr>
        </thead>
        <tbody class="text-center">
          {% for obj in object.items.all %}
          <tr>
            <td class="text-left m-4">{{ obj.sales_order.small_code }}</td>
            <td class="text-left m-3">{{ obj.sales_order.transaction_date|date:"d/m/Y g:i" }}</td>
            <td class="text-left m-3">{{ obj.sales_order.outlet.name }}</td>
            <td class="text-left m-3">{{ obj.product.name }}</td>
            <td class="text-right m-3">{{ obj.base_cost.amount|intcomma }}</td>
            <td class="text-right m-3">{{ obj.quantity }}</td>
            <td class="text-right m-3">{{ obj.sub_total.amount|intcomma }}</td>
            <td class="text-right m-3">{{ obj.surcharge_price.amount|intcomma }}</td>
            <td class="text-right m-3">{{ obj.addon_cost.amount|intcomma }}</td>
            <td class="text-right m-3">{{ obj.discount_price.amount|intcomma }}</td>
            <td class="text-right m-3">{{ obj.total_cost.amount|intcomma }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    <div class="card">
      <div class="card-body">
        <div class="text-center margin-100">
          <img alt="disable" src="{% static 'images/data_not_found.svg' %}" style="width: 160px">
            <div style="margin-top:32px; margin-bottom:32px;">
                 <h3 class="mb-3">Oops</h3>
                 <p class="text-muted text-center my-0">Data Penjualan tidak ada.</p>
            </div>
        </div>
      </div>
    </div>
    {% endif %}

    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between" id='report-table'>
          <p class="m-3">{% trans "Sub Total" %}</p>
          <p class="m-3">{{ object.sub_total.amount|intcomma }}</p>
        </div>
        <div class="d-flex justify-content-between" id='report-table'>
          <p class="m-3">{% trans "Diskon" %}</p>
          <p class="m-3">{{ object.global_discount_price.amount|intcomma }}</p>
        </div>
        {% if object.gratuity %}
        <div class="d-flex justify-content-between" id='report-table'>
          <p class="m-3">{% trans "Service Charge" %}</p>
          <p class="m-3">{{ object.calculate_service_charge.amount|intcomma }}</p>
        </div>
        {% endif %}
        <div class="d-flex justify-content-between" id='report-table'>
          <p class="m-3">{% trans "Tax" %}</p>
          <p class="m-3">{{ object.calculate_tax.amount|intcomma }}</p>
        </div>
        <div class="d-flex justify-content-between" id='report-table'>
          <p class="m-3">{% trans "Total Cost" %}</p>
          <p class="m-3">{{ object.total_cost.amount|intcomma }}</p>
        </div>
      </div>
    </div>

    <h4>{% trans "Payment(s) Detail" %}</h4>
    <div class="card">
      <div class="card-body">
        {% for obj in object.payment_detail.all %}
          {% if forloop.counter == 1 %}
            <div class="d-flex justify-content-between" id='report-table'>
              <p class="m-3">{% trans "Payment" %}</p>
              <p class="m-3">{% trans "Amount" %}</p>
            </div>
          {% endif %}
          <div class="d-flex justify-content-between" id='report-table'>
            <p class="m-3">{{ obj.payment_method }}</p>
            <p class="m-3">{{ obj.amount.amount|intcomma }}</p>
          </div>
          {% empty %}
           <div class="text-center margin-100">
            <img alt="disable" src="{% static 'images/data_not_found.svg' %}" style="width: 160px">
              <div style="margin-top:32px; margin-bottom:32px;">
                   <h3 class="mb-3">Oops</h3>
                   <p class="text-muted text-center my-0">Data Penjualan tidak ada.</p>
              </div>
          </div>
        {% endfor %}
      </div>
    </div>

    {% if object.promo_list.exists %}
    <h4>{% trans "Promo" %}</h4>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="text-left m-3">{% trans "Promo" %}</th>
            <th class="text-center m-3">{% trans "Affected Product" %}</th>
            <th class="text-right m-3">{% trans "Promo Value" %}</th>
          </tr>
        </thead>
        <tbody class="text-center">
          {% for obj in object.promo_list.all %}
          <tr>
            <td class="text-left m-3">{{ obj.promo.name|title }}</td>
            {% if obj.product_quantity %}
              <td class="text-center m-3">{{ obj.affected_product.name|title }} @{{ obj.affected_value.amount|intcomma }} x{{ obj.product_quantity }}</td>
            {% else %}
              <td class="text-center m-3">-</td>
            {% endif %}
            
            <td class="text-right m-3">{{ obj.total_discount.amount|intcomma }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}

    {% if object.transaction_type %}
    <h4>{% trans "Transaction Type" %}</h4>
    <div class="card">
      <div class="card-body">
          <div class="d-flex justify-content-between" id='report-table'>
            <p class="m-3">{% trans "Type" %}</p>
            <p class="m-3">{{ object.transaction_type.get_transaction_type_display }}</p>
          </div>
          <div class="d-flex justify-content-between" id='report-table'>
            <p class="m-3">{% trans "Name" %}</p>
            <p class="m-3">{{ object.transaction_type.name }}</p>
          </div>
      </div>
    </div>
    {% endif %}

    {% if cashier_activity %}
    <h4>{% trans "Cashier Activity" %}</h4>
    <div class="card">
      <div class="card-body">
          <div class="d-flex justify-content-between" id='report-table'>
              <p class="m-3">{% trans "Activity" %}</p>
              <p class="m-3">{{ cashier_activity.activity_type }}</p>
            </div>
          <div class="d-flex justify-content-between" id='report-table'>
            <p class="m-3">{% trans "Supervised by" %}</p>
            <p class="m-3">{{ cashier_activity.user }}</p>
          </div>
          <div class="d-flex justify-content-between" id='report-table'>
            <p class="m-3">{% trans "Description" %}</p>
            <p class="m-3">{{ cashier_activity.display_reason }}</p>
          </div>
      </div>
    </div>
    {% endif %}

  </div>
</div>
{% endblock sub_content %}

{% block javascript %}
{{ block.super }}
<!-- place project specific Javascript in this file -->
<script>
  $(document).ready(function () {
    tableOptions = {
        ajax : "",
        serverSide: false,
        deferRender: true,
        columnDefs: [
          {
            'targets': [2],
            'render': function (data, type, row) {
                var SaveTemp = data.split(' - ');
                return SaveTemp[0];
            },
            'visible': true,
            'searchable': false
          },
        ],
    }
  });
</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
{% endblock %}
