{% extends "dashboard/base_datatable.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Customers Sales Order" %}{% endblock %}

{% block customer_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_customer_show %}show{% endblock %}
{% block customer_list_active_class %}submenu-active{% endblock %}

{% block content_class %}fixed-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}
{% block tab_div_style %}background: white; border-bottom: 1px solid #d7d7db;{% endblock %}
{% block tab_section_style %}border-bottom: 1px solid #d7d7db;{% endblock %}
{% block datatable_title %}{{ customer.name }} - {% trans "Sales Order" %}{% endblock datatable_title %}


{% block datatable_panel_title %}
{% trans "Customers Sales Order" %}
{% endblock datatable_panel_title %}

{% block datatable_dummy_url %}
<a href="{% url 'dummy:dummy_salesOrder' %}" class="btn btn-success">Dummy Create</a>
{% endblock datatable_dummy_url %}

{% block xml_export %}
<!--a id="xmlExport" target="_blank" onclick="table.export_file('xml')" class="btn btn-success">Export
  XML</a-->
{% endblock xml_export %}


{% block action_button %}
<!--<div class="p-0 position-fixed" style="right:20px;">-->
  <!--<label id="exportcsvrange" class="btn btn-primary btn-lg fixed-top-content export-date-calendar" style="width: 150px;">-->
        <!--&nbsp;<span>-->
            <!--{% trans "Export CSV" %}-->
        <!--</span>-->
        <!--&nbsp;<i class="fa fa-angle-down"></i>-->
  <!--</label>-->
<!--</div>-->
{% endblock action_button %}

{% block tab_list %}
  <ul class="nav nav-tabs pt-2" id="myTab" role="tablist">
    <li class="nav-item" id="customer">
      <a class="nav-link" href="{% url 'customers:customer_update' customer.pk %}"
         >{% trans "Detail" %}</a>
    </li>
    <li class="nav-item tab-disabled">
      <a class="nav-link active" href="#" >{% trans "Transaction" %}</a>
    </li>
  </ul>
{% endblock %}


{% block datatable_id %}customer_sales_list{% endblock datatable_id %}

{% block datatable_thead_tr %}
<th class="no-sort">{% trans "Code" %}</th>
<th class="">{% trans "Date" %}</th>
<th class="">{% trans "Outlet" %}</th>
<th class="no-sort">{% trans "Sub Total" %}</th>
<th class="no-sort">{% trans "Discount" %}</th>
<th class="">{% trans "Total Cost" %}</th>
<th class="no-sort"></th>
{% endblock datatable_thead_tr %}

{% block datatable_filter %}
<tr class='datatable-filter'>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <label id="reportrange" class="form-control extra-table-control btn btn-default btn-lg date-calendar">
        &nbsp;<span>{% trans "Filter by Date" %}</span>
        &nbsp;<i class="fa fa-angle-down"></i>
      </label>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group mtm">
      <div class="selectdiv">
      <label class="input-group">
      <select class="form-control form-control-sm custom-select extra-table-control">
        <option>{% trans "All" %}</option>
        {% if request.user.is_owner %}
          {% for outlet in request.user.account.outlet_set.all %}
            <option value={{outlet.pk}}>{{outlet.name}}</option>
          {% endfor %}
        {% else %}
          {% for outlet in request.user.device_user.outlet.all %}
            <option value={{outlet.pk}}>{{outlet.name}}</option>
          {% endfor %}
        {% endif %}
      </select>
      </label>
      </div>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
  </td>
</tr>
{% endblock datatable_filter %}

{% block datatable_tfoot_tr %}
<th colspan="5" style="text-align:right"></th>
<th class='text-center'></th>

{% endblock datatable_tfoot_tr %}

{% block javascript %}
{{ block.super }}
<script>
  $(document).ready(function() {
    base_url = "{% url 'customers:customer_sales_data' customer.pk %}"


    tableOptions = {
      pageLength: 25,
      order: [[ 1, "desc" ]],
      columnDefs: [
        {
          'targets': [-1],
          "visible": false,
          "searchable": false
        },
        {
          'targets': [3,4,5],
          'searchable': false,
        },
        {
          'targets': [0],
          'render': function (data, type, row) {
            var value = row[0];
            var url = row[6];
            return '<a href="' + url + '" >' + value + '</a>'
          },
        },
        {
          'targets': [3, 4, 5],
          'render': function (data, type, full, meta) {
            return "IDR " + parseInt(data).toLocaleString('id')
          }
        },
        {
          'targets': [1],
          'render': function (data, type, full, meta) {
            var data_date = data;
            if (type == 'display') {
                var new_date = moment(data_date);
                date = new_date.format('DD/MM/YYYY HH:mm:ss');
                return date;
            }
            return data_date;
          },
          'orderData':[1],
        },
      ],
      footerCallback: function (row, data, start, end, display) {
        var api = this.api(), data;
        var intVal = function (i) {
            return typeof i === 'string' ? i.replace(/[\$,IDR]/g, '') * 1 :
                    typeof i === 'number' ? i : 0;
        };

        pageTotalCost = api.column(5, {page: 'current'})
                .data()
                .reduce(
                function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);
        $(api.column(5)
                .footer()).html(
                'Total Cost : ' + "<br/>IDR " + parseInt(pageTotalCost).toLocaleString('id')
        )
      }
    }
  });
</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
{% endblock %}
