{% extends "dashboard/base.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Dashboard" %}{% endblock %}

{% block css %}
  {{ block.super }}
  <!-- Your stuff: Third-party css libraries go here -->

  <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.3/daterangepicker.css"/>
  <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css"/>

  <style type="text/css">
    .form-inline label { margin-bottom: 0px; }
  </style>
{% endblock %}

{% block tabs %}
   <div class="{% block tab_div_class %}{% endblock %} main-tab" style="background: white; border-bottom: 1px solid #d7d7db;">
     <section class="page-title-content {% block pagetitle_class %}{% endblock %}" style="{% block tab_section_style %}{% endblock %}">
        <div class="w-100 mt-3 pl-4 pr-0 row {% block tab_header_class %}{% endblock %}" style="{% block tab_header_style %}{% endblock %}">
          <h3 class="heading-3 font-weight-thin px-3 d-flex" style="margin-bottom: 10px; max-width: fit-content; {% block title_style %}{% endblock %}">{% block datatable_title %}{% endblock datatable_title %}</h3>
          {% block enable_settings %}{% endblock %}
          {% block action_button %}{% endblock %}
        </div>
     </section>
     <section class="page-tabs px-4">
         {% block tab_list %}{% endblock %}
     </section>
   </div>
{% endblock tabs %}
{% block content %}
<div class="content {% block content_class %}{% endblock %}">
  <section class="main-content">
    <div class="w-100 mb-3" id="heading">
      {% for message in messages %}
        <div class="row">
          <div class="col-lg-12">
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="close p-2" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="w-100" id="filters">
      {% block summary %}{% endblock %}
      <div class="mb-2">
        {% block date_range %}{% endblock %}
        {% block add_user %}{% endblock %}
        {% block group_list %}{% endblock %}
        {% block datatable_action %}{% endblock %}
        {% block csv_export %}
        {% endblock csv_export %}
        {% block installment_right_sidebar %}{% endblock %}
      </div>
    </div>
    <div class="w-100 {% block datatable_extra_class %}{% endblock %}" id="tables">
      {% block sub_content %}
        <table id="{% block datatable_id %}{% endblock datatable_id %}" class="table table-no-border table-borderless table-striped selector-datatable pb-0" cellspacing="0" width="100%">
          <thead class="bg-default">
            <tr>
              {% block datatable_thead_tr %}
              {% endblock datatable_thead_tr %}
            </tr>
            {% block datatable_filter %}
            {% endblock datatable_filter %}
          </thead>
          <tbody>
              {% block datatable_tbody_tr %}
              {% endblock datatable_tbody_tr %}
          </tbody>
          <tfoot>
            <tr>
            {% block datatable_tfoot_tr %}
            {% endblock datatable_tfoot_tr %}
            </tr>
          </tfoot>
        </table>
      {% endblock sub_content %}
    </div>
  </section>
</div>
{% endblock content %}

{% block javascript %}
  {{ block.super }}
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.16/sorting/formatted-numbers.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <!--script src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.3/daterangepicker.js"></script>
    <!-- place project specific Javascript in this file -->
    <script>

      var startDate;
      var endDate;
      var dateUrlExtra = "";

      {% if start_date and end_date %}
        startDate = "{{start_date|date:'Y-n-j H:i:s'}}";
        endDate = "{{end_date|date:'Y-n-j  H:i:s'}}";
        startDateMobile = "{{start_date|date:'m/d/Y'}}";
        endDateMobile = "{{end_date|date:'m/d/Y'}}";
      {% endif %}
      if ( startDate != null && endDate != null) {
        dateUrlExtra = "?date={{ request.GET.date }}&startdate=" + startDate + "&enddate=" + endDate
      };
    </script>
{% endblock javascript %}
