{% extends "dashboard/base.html" %}
{% load static i18n humanize tz %}
{% load rules %}
{% block title %}{% trans "Dashboard" %}{% endblock %}
{% block dashboard_active_class %}active{% endblock %}
{% block mobile_dashboard_active_class %}active{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.3/daterangepicker.css"/>
  <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.18/c3.min.css"/>
{% endblock %}

{% block content %}
  <!--BEGIN CONTENT-->
  {% test_rule 'can_access_view' user 'dashboard' as can_access_dashboard %}

  {% if not user.account.catalogue_set.exists %}
  <div class="tab-content pt-5 mt-5" id="table-management-tab-content">
    <div class="tab-pane show active" id="table-management" role="table-management" aria-labelledby="table-management-tab">
    <div class="w-100">
        <div class="card-body py-0 px-3">
          <div class="text-center">
            <img alt="disable" src="{% static 'images/dashboard.svg' %}" style="width: 160px">
          <div style="margin-top:32px; margin-bottom:32px;">
               <h3 class="mb-3">{% trans "Start building your dashboard!" %}</h3>
               <p class="text-muted text-center my-0">{% trans "Before we show any charts, we'll first need to get some deta in here!" %}</p>
          </div>
          <a class="btn btn-primary my-3" href="{% url 'catalogue:product_list' %}">{% trans "Add Product" %}</a>
          </div>
      </div>
    </div>
    </div>
  </div>
  {% else %}
  <div class="content pt-3">
    <section class="main-content">
      <div class="w-100 mb-4" id="heading">
        <h2 class="heading-1"><span class="font-weight-thin">Halo</span>, <span
            class="username">{{ request.user.get_name }}!</span></h2>
        <h4 class="font-weight-thin">{% trans "Welcome to KAWN POS Dashboard" %}</h4>
      </div>
      {% if can_access_dashboard %}

        <div id="filters" class="w-100 mb-3">
          {% include "partials/non_ajax_filters.html" with view_name="dashboard" %}
        </div>

        <div class="w-100" id="dashboard-content">
          <div id="sales-card" class="row">
            <div class="col-md-12 col-lg-4 pr-0">
              <div class="card">
                <div class="card-body pb-3">
                  <h3 class="heading-3 card-title mb-4 font-weight-thin">{% trans "Revenue" %}</h3>
                  <h2 class="heading-2 card-text font-weight-thin">Rp. {{ sales_summary.amount|intcomma }}</h2>
                  <hr/>
                  <p class="heading-4 mb-0"><i title="{% trans 'From' %} Rp. {{ previous_sales_summary.amount|intcomma }}"
                                               class="fa {% if sales_summary.amount > previous_sales_summary.amount %}fa-caret-up{% else %}fa-caret-down{% endif %} text-success pr-2"></i> {{ sales_summary_diff.amount }}%
                    <span class=text-muted>
                      {% if sales_summary.amount > previous_sales_summary.amount %}{% trans "increase" %}
                      {% else %}{% trans "decrease" %}{% endif %}
                    </span></p>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-4 pr-0">
              <div class="card">
                <div class="card-body pb-3">
                  <h3 class="heading-3 card-title mb-4 font-weight-thin">{% trans "Average per Transaction" %}</h3>
                  <h2 class="heading-2 card-text font-weight-thin">Rp. {{ sales_summary.average|intcomma }}</h2>
                  <hr/>
                  <p class="heading-4 mb-0"><i title="{% trans 'From' %} Rp. {{ previous_sales_summary.average|intcomma }}"
                                               class="fa {% if sales_summary.average > previous_sales_summary.average %}fa-caret-up{% else %}fa-caret-down{% endif %} text-success pr-2"></i> {{ sales_summary_diff.average }}%
                    <span class=text-muted>{% if sales_summary.average > previous_sales_summary.average %}
                      {% trans "increase" %}{% else %}{% trans "decrease" %}{% endif %}</span></p>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-4">
              <div class="card">
                <div class="card-body pb-3">
                  <h3 class="heading-3 card-title mb-4 font-weight-thin">{% trans "Transaction" %}</h3>
                  <h2 class="heading-2 card-text font-weight-thin">{{ sales_summary.count }}</h2>
                  <hr/>
                  <p class="heading-4 mb-0"><i title="{% trans 'From' %} {{ previous_sales_summary.count|intcomma }}"
                                               class="fa {% if sales_summary.count > previous_sales_summary.count %}fa-caret-up{% else %}fa-caret-down{% endif %} text-success pr-2"></i> {{ sales_summary_diff.count }}%
                    <span class=text-muted>{% if sales_summary.count > previous_sales_summary.count %}
                      {% trans "increase" %}{% else %}{% trans "decrease" %}{% endif %}</span></p>
                </div>
              </div>
            </div>
          </div>
          <div id="sales-plot" class="row">
            <div class="col-md-6 pr-0">
              <div class="card">
                <div class="card-body">
                  <h3 class="heading-3 font-weight-thin card-title mb-4">Grafik Penjualan</h3>
                  <div id="flot-line" style="width: 100%; height: 200px"></div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <div class="card-body">
                  <h3 class="heading-3 font-weight-thin card-title mb-4">Grafik Transaksi</h3>
                  <div id="flot-line-2" style="width: 100%; height: 200px"></div>
                </div>
              </div>
            </div>
          </div>
          <div id="sales-chart" class="row mb-4">
            <div class="col-md-6 pr-0">
              <div class="mb-3">
                <div class="card">
                  <div class="card-body card-bar-line">
                    <h3 class="heading-3 font-weight-thin card-title mb-4">5 Produk Teratas Berdasarkan Penjualan </h3>
                    <div id="product-sales-chart" style="width: 100%; height: 180px"></div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-body card-bar pb-0">
                  <h3 class="heading-3 font-weight-thin card-title mb-4">Penjualan Berdasarkan Kategori</h3>
                  <div id="category-sales-chart" style="width: 100%; height: 470px"></div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <div class="card-body card-bar-line">
                  <h3 class="heading-3 font-weight-thin card-title mb-4">5 Produk Teratas Berdasarkan Transaksi</h3>
                  <div id="product-transaction-chart" style="width: 100%; height: 180px"></div>
                </div>
              </div>
              <div class="card">
                <div class="card-body card-bar pb-0">
                  <h3 class="heading-3 font-weight-thin card-title mb-4">Transaksi Berdasarkan Kategori</h3>
                  <div id="category-transaction-chart" style="width: 100%; height: 470px"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </section>
  </div>
  {% endif %}
  <!--END CONTENT-->
{% endblock content %}

{% block javascript %}
  {{ block.super }}

  {% test_rule 'can_access_view' user 'dashboard' as can_access_dashboard %}
  {% if can_access_dashboard %}
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.18/c3.min.js"></script>
    <script type="text/javascript" src="{% static 'js/moment.js' %}"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.3/daterangepicker.js"></script>

    <script type="text/javascript">
    let baseURL = "{% if outlet %}{% url 'dashboard' outlet.pk %}{% else %}{% url 'dashboard' %}{% endif %}";

    let startDate;
    let endDate;
    let dateUrlExtra = "";

    {% if start_date and end_date %}
    startDate = "{{start_date|date:'Y-n-j H:i:s'}}";
    endDate = "{{end_date|date:'Y-n-j  H:i:s'}}";
    startDateMobile = "{{ start_date|date:'m/d/Y' }}"
    endDateMobile = "{{end_date|date:'m/d/Y'}}";
    {% endif %}

    if (startDate != null && endDate != null) {
      dateUrlExtra = "?date={{ request.GET.date }}&startdate=" + startDate + "&enddate=" + endDate
    };
    </script>
    <script type="text/javascript" src="{% static "js/dashboard.js" %}"></script>
    <script type="text/javascript" src="{% static "js/dashboard_sales_chart.js" %}"></script>
    <script type="text/javascript" src="{% static "js/dashboard_extra_chart.js" %}"></script>
    <script>
    chartBaseURL = "{% if branch_pk %}{% url 'dashboard-chart' branch_pk %}{% else %}{% url 'dashboard-chart' %}{% endif %}";
    chartURL = chartBaseURL + dateUrlExtra;
    
    categoryChartBaseURL = "{% if branch_pk %}{% url 'dashboard-category-chart' branch_pk %}{% else %}{% url 'dashboard-category-chart' %}{% endif %}";
    categoryChartURL = categoryChartBaseURL + dateUrlExtra;

    salesChartBaseURL = "{% if branch_pk %}{% url 'summary-chart' branch_pk %}{% else %}{% url 'summary-chart' %}{% endif %}";
    salesChartURL = salesChartBaseURL + dateUrlExtra;

    var dataColor = [
      "#3CE2B4", "#8473F0", "#FFD72F", "#FF8839", "#9EC5F4"
    ];

    $.get( chartURL, function( data ) {
      generateProductTransactionChart(data["product_sales_data"]["by_count"]);
      generateProductSalesChart(data["product_sales_data"]["by_amount"]);
    });
    $.get( categoryChartURL, function( data ) {
      generateCategorySalesChart(data["category_sales_data"]["by_amount"]);
      generateCategoryTransactionChart(data["category_sales_data"]["by_count"]);
    });
    $.get( salesChartURL, function( data ) {
      generateSalesSummaryChart(data["sales_data"]);
    });
    
    $("option[data-pk='{{ branch_pk }}']").prop("selected", true);
    $("#companyBranch").attr('title', $("option[data-pk='{{ branch_pk }}']").text());
    
    </script>
  {% endif %}
{% endblock javascript %}
