{% extends "dashboard/base.html" %}
{% load static i18n %}

{% block tabs %}
   <div class="{% block tab_div_class %}{% endblock %} main-tab" style="background: white; border-bottom: 1px solid #d7d7db;">
     <section class="page-title-content {% block pagetitle_class %}{% endblock %}" style="{% block tab_section_style %}{% endblock %}">
        <div class="w-100 mt-3 px-4 row" style="{% block tab_header_style %}{% endblock %}">
          <h3 class="heading-3 font-weight-thin px-3 d-flex" style="margin-bottom: 10px; max-width: fit-content;{% block title_style %}{% endblock %}">{% block content_header %}{% endblock %}</h3>
          {% block enable_settings %}{% endblock%}
        </div>
     </section>
     <section class="page-tabs px-4">
         {% block tab_list %}{% endblock %}
     </section>
   </div>
{% endblock tabs %}
{% block content %}
<div class="content pt-3 {% block content_class %}{% endblock %}" style="{% block content_style %}{% endblock %}">
  <section class="main-content">
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close p-2" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}

    {% block sub_content %}
    {% endblock %}
  </section>
</div>
{% endblock content %}
{% block action_form %}
   <div class="fixed-bottom-content" style="{% block action_div_style %}{% endblock %} display:none;">
     <section class="action-button-content" >
        <div class="w-100 mt-3 px-4 row">
          {% block submit_form %}{% endblock%}
        </div>
     </section>
   </div>
{% endblock %}
