@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');

body {
  background: #FBFCFE;
  font-family: Nunito;
}

.title {
  font-size: 18px;
  color: #353749;
  letter-spacing: 0;
  float: left;
  margin-right: 16px;
  font-weight: 600;
}

.sub-title {
  font-size: 18px;
  color: #9AA1A6;
  letter-spacing: 0;
}

.table-container {
  margin: 20px 20px;
}

.action {
  width: 164px;
}

.btn-success {
  color: #fff;
  background-color: #00D8A1;
  border-color: #00D8A1;
}

.btn-success:hover {
  color: #fff;
  background-color: #00906b;
  border-color: #00906b;
}

.btn-primary {
  background: #0094C9;
  color: #FFF;
  border-color: #0094C9;
}

.display-inline {
  display: block;
}

.action-group {
  margin-top: 150px;
}

.table-label {
  margin-top: 10px;
}

.checkbox-table {
  margin-top: 16px;
}

.table thead th {
  border: none;
}

.show {
  min-width: 0 !important;
  margin-top: -0.7rem;
  margin-left: -70px;
}

.quick-add-table {
  border-bottom: 1px solid #dee2e6;
}

.slide-table-group-container {
  display: flex;
}

.header-table-group {
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  color: #353749;
  letter-spacing: 0;
  height: 51px;
  line-height: 51px;
  margin-bottom: 0;
}

.form-table-group {
  margin-top: 74px;
}

/**
* Style for DivTable
*/

.tr {
  width: 100%;
  display: inline-block;
}

.td {
  float: left;
  margin: 0 10px;
}

/**
* This is css only for floorplan
*/

.ui-widget-content {
  width: 40px;
  height: 40px;
  padding: 0.5em;
  float: left;
  border: none;
  position: relative;
  background: #0294C9;
}

.ui-resizable-se {
  cursor: se-resize;
  right: -5px;
  bottom: -5px;
}

.ui-widget-content-circle {
  width: 80px;
  height: 80px;
  padding: 0.5em;
  float: left;
  margin: 0 10px 10px 0;
  border: 1px solid #485D6E;
  position: absolute;
}

.ui-widget-content-rectangle {
  width: 80px;
  height: 80px;
  padding: 0.5em;
  float: left;
  margin: 0 10px 10px 0;
  border: 1px solid #485D6E;
  position: absolute;
}

.ui-color-available {
  background-color: #4CAF50;
}

.tool-editor-container {
  float: left;
  max-width: 250px;
  flex: 0 0 100%;
}

.tool-editor.card {
  width: 250px;
  order: 2;
}

.canvas-editor-container {
  display: flex;
}

.col-md-9.col-sm-12.a {
  max-width: 500px;
  float: left;
}

.ui-square {
  margin: 18px 18px 43px 0;
}

.ui-rounded {
  margin: 18px 18px 43px 0;
}

.border-radius-50 {
  border-radius: 50%;
}

.ui-rectangle {
  height: 55px;
  margin: 18px 18px 28px 0;
}

.top-bar {
  border: 1px solid black;
  position: absolute;
  font-size: 0.1px;
  display: block;
  top: -8px;
  width: 10px;
  height: 5px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}


.close-bar {
  position: absolute;
  // display: block;
  top: -22px;
  width: 10px;
  height: 5px;
  color: red;
  right: -15px;
  display: none;
  cursor: pointer;
}

.close-bar.active {
  display: block;
}

.bottom-bar {
  border: 1px solid black;
  position: absolute;
  font-size: 0.1px;
  display: block;
  bottom: -8px;
  height: 5px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 10px;
}

.left-sq-bar {
  border: 1px solid black;
  position: absolute;
  font-size: 0.1px;
  display: block;
  top: 0;
  bottom: 0;
  width: 5px;
  height: 10px;
  left: -9px;
  margin-top: auto;
  margin-bottom: auto;
}

.right-sq-bar {
  border: 1px solid black;
  position: absolute;
  font-size: 0.1px;
  display: block;
  top: 0;
  bottom: 0;
  width: 5px;
  height: 10px;
  right: -9px;
  margin-top: auto;
  margin-bottom: auto;
}

.table-name {
  font-size: 10px;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.canvas-editor-wrapper {
  // float: left;
  margin-right: 10px;
  order: 1;
}

.ui-widget-content p {
  color: #000000;
}

.ui-resizable-handle {
  background: rgb(60, 60, 60);
  border: 1px solid #FFF;
  width: 9px;
  height: 9px;
  z-index: 2;
}

.top-chairs {
  position: absolute;
  top: -20px;
  left: 0;
  text-align: center;
  height: 20px;
  width: 100%;
  right: 0;
}

.right-chairs {
  position: absolute;
  text-align: center;
  height: 100%;
  width: 20px;
  right: -20px;
  top: 0;
}

.bottom-chairs {
  position: absolute;
  bottom: -20px;
  left: 0;
  text-align: center;
  height: 20px;
  width: 100%;
  right: 0;
}

.left-chairs {
  position: absolute;
  text-align: center;
  height: 100%;
  width: 20px;
  left: -20px;
}

.chair {
  width: 20px;
  height: 20px;
  background: #0336FF;
  border-radius: 50%;
  text-align: center;
  position: relative;
  display: inline-block;
  margin: 0 1px;
}

.disabled-div {
  pointer-events: none;
  opacity: 0.4;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.parsley-error {
  border-color: #f05050 !important;
}

.parsley-errors-list.filled {
  position: relative;
  display: block;
  margin-top: -38px;
  height: 38px;
  padding: .375rem .75rem;
}

.tg-errors-list.filled {
  position: relative;
  display: block;
  padding: .375rem .75rem;
}

.parsley-errors-list > li {
  font-size: 1rem;
  list-style: none;
  color: #f6504d;
}

.tg-errors-list > li {
  font-size: 1rem;
  list-style: none;
  color: #f6504d;
}

.parsley-errors-list {
  display: none;
  margin: 0;
  padding: 0;
}

.btn-delete {
  transition-property: visibility, width;
  transition-duration: 0, 0.25s;
  position: relative;
  width: 150px;
  margin-left: -15px;
  margin-bottom: 10px;
}

.btn-delete-hidden {
  opacity: 0;
  width: 140px;
  visibility: hidden;
  transition-property: width, visibility;
  transition-duration: 0.25s, 0s;
  position: relative;
  left: -185px;
}

.table-toolbox-body {
  padding: .8rem;
  height: 260px;
  overflow-y: auto;
}

.table-toolbox {
  margin-bottom: 1rem;
}

div.info-bar {
  .outlet {
    width: 614px;
    float: left;
    padding: 0 20px 0 20px;
  }

  .tg {
    float: left;
    width: 619px;
  }
}

#canvas-editor {
  padding: 0;
}

.show {
  min-width: 0 !important;
  margin-top: 0;
  margin-left: 0;
}

.table {
  border: none;
}

.btn-radius {
  border-radius: 20px;
}

.filled-outlet {
  position: relative;
  display: block;
}

.margin-bottom-02 {
  margin-bottom: 0.2rem;
}

.bulk-delete-container {
  margin-bottom: 0.2rem;
  margin-top: 1rem;
}

.no-table-data-container {
  margin: 0 auto;
}

.no-table-image {
  height: 200px;
}

.table-header {
  display: flex;
}

.tab-content {
  float: left;
  width: 100%;
  margin-left: -5px;
}

ul#nav-tab {
  float: left;
}

.nav-pill-wrapper {
  float: left;
  width: 100%;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1294C5;
}

.content.not-hidden {
  overflow-x: auto;
  height: auto;
  margin-left: -20px;
  margin-right: -20px;
}

@media screen and (max-width: 1366px) {  
  .canvas-editor-container {
    display: flex;
    flex-direction: column;
  }
  .tool-editor {
    width: 1000px !important;
    order: 1 !important;
  }
  .canvas-editor-wrapper {
    margin-right: 10px;
    order: 2 !important;
  }
}