
/* Buttons */
.btn {
	// font-size: 0.875rem;
	line-height: 1;
	font-family: $font-family-nunito !important;
	font-size: $font-size-14px;
	padding: 10px 20px;
}
.btn-primary {
	background: $primary-blue;
	color: $button-primary-font-color;
	border-color: $primary-blue;
	&:hover {
		background: $button-primary-background-color !important;
		border-color: $button-primary-border-color !important;
	}
	&.disabled{
    color: $charcoal-40;
    background-color: $charcoal-20;
    border-color: $charcoal-20;
	}
}
.btn-block {
	+ {
		.btn-block {
			margin-top: 0;
		}
	}
}
.btn-outline-primary {
	color: $button-outline-primary-font-color;
	border-color: $button-outline-primary-border-color;
	&:not([disabled]) {
		&:not(.disabled) {
			&:active {
				background: $button-outline-primarry-background-color;
				color: $primary-blue;
				border-color: $primary-blue;
			}
			&:focus {
				background: $button-outline-primarry-background-color;
				color: $primary-blue;
				border-color: $primary-blue;
			}
		}
		&:not(.disabled).active {
			background: $button-outline-primarry-background-color;
			color: $primary-blue;
			border-color: $primary-blue;
		}
	}
	&:hover {
		background: $button-outline-primarry-background-color;
		color: $primary-blue;
		border-color: $primary-blue;
	}
}
.btn-outline-primary.disabled {
	color: $button-outline-primary-font-color;
	border-color: $button-outline-primary-border-color;
	&:hover {
		color: $button-outline-primary-font-color;
		border-color: $button-outline-primary-border-color;
		background-color: transparent;
	}
}
.show {
	>.btn-outline-primary.dropdown-toggle {
		background: $button-outline-primarry-background-color;
		color: $primary-blue;
		border-color: $primary-blue;
	}
}
.btn-light {
	background: $alice-blue;
	color: $button-light-font-color;
	border: $button-light-border;
}
/* Buttons End */
