.dataTables_wrapper{
	.dataTables_processing{
		position: absolute;
		top: 97% !important;
		width: 30%;
		border: 0;
		text-align: center;
		font-size: 15px;
		background:None;
		z-index: 1500 !important;
	}
	.dataTables_info{
		font-family: $font-family-nunito !important;
		font-size: $font-size-14px !important;
	}
	.dataTable{
		thead.bg-default{
			th[aria-label="Status"]{
			min-width: 85px;
			}
		}
	}
  }

.dataTables_paginate {
	.pagination {
		padding: 0;
		.previous {
			padding-left: 0;
		}
		.next {
			padding-right: 0;
		}
	}
}
.dataTables_scrollFoot {
	display: none;
}

.datatable-filter {
	td {
		.datatable-filter-input-group {
			label {
				height: $datatable-label-height;
				min-width: $datatables-label-min-width;
			}
			select {
				min-width: $datatables-filter-min-width;
				height: $datatable-filter-height !important;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				font-size: $font-size-14px;
				word-break: normal;
				padding: 5px;
				background-image: linear-gradient(45deg, transparent 50%, $custom-select-arrow-color 50%), linear-gradient(135deg, $custom-select-arrow-color 50%, transparent 50%), linear-gradient(to right, $white, $white);
				background-position: calc(100% - 12px) calc(1em), calc(100% - 7px) calc(1em), 100% 0;
				background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
			}
			.btn {
				border: 1px solid $charcoal-20;
				height: $datatable-btn-height;
				min-width: $datatables-btn-min-width;
			}
			input {
				height: $datatable-filter-height;
				min-width: $datatables-filter-min-width;
			}
		}
	}
}

th {
  font-weight: $font-weight-semibold;
}

.dataTables_scrollBody {
  position: static !important;
  overflow-y: visible !important;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
  line-height: 0.75rem;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  line-height: 0.75rem;
}
