.daterangepicker {
	.ranges {
		li.active {
			background-color: $primary-blue !important;
		}
	}
	td{
		&.active{
			background-color: $primary-blue !important;
			&:hover {
				background-color: $primary-blue !important;
			}
		}
		&.off{
			background-color: $white !important;
			border-color: transparent !important;
			color: $nobel;
			&.in-range{
				background-color: $white !important;
				border-color: transparent !important;
				color: $nobel;
			}
			&.start-date{
				background-color: $white !important;
				border-color: transparent !important;
				color: $nobel;
			}
			&.end-date{
				background-color: $white !important;
				border-color: transparent !important;
				color: $nobel;
			}
		}
	}
}