/* Dropdowns */
.dropdown {
	.dropdown-toggle {
		&::after {
			border-top: 0;
			border-right: 0;
			border-left: 0;
			border-bottom: 0;
			width: auto;
			height: auto;
			vertical-align: baseline;
			font-size: .75rem;
		}
	}
	.dropdown-menu {
		margin-top: .75rem;
		box-shadow: 0px 1px 15px 1px rgba(230, 234, 236, 0.35);
		.dropdown-item {
			font-family: $font-family-nunito !important;
			font-size: $font-size-14px;
			padding: .15rem .15rem;
			&:active {
				background: initial;
			}
		}
	}
}
.dropdown-menu.navbar-dropdown {
	top: 80%;
}
.dropdown-toggle {
	&::after {
		display: none;
	}
	.icons {
		i {
			position: absolute;
			right: 30px;
			bottom: 20px;
			display: block;
		}
		.icon-default {
			transition: opacity .3s, transform .3s;
		}
		.icon-open {
			transition: opacity .3s, transform .3s;
			transform: rotate(-180deg) scale(0.5);
			opacity: 0;
		}
	}
}
.dropdown-toggle[aria-expanded="true"] {
	.icons {
		.icon-default {
			transform: rotate(180deg) scale(0.5);
			opacity: 0;
		}
		.icon-open {
			transform: rotate(0deg) scale(1);
			opacity: 1;
		}
	}
}
.dropdown-item:focus, .dropdown-item:hover {
	background: transparent;
}
/* Dropdowns End */

/* Custom Box DropDown */

.box-custom-select::before {
    content: "\f107";
    font-family: FontAwesome;
    font-weight: 100;
    position: absolute;
    top: 2px;
    right: 36px;
    font-size: 14px;
    line-height: 33px;
    color: #2e3030;
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}

