/* Forms */

.input-group {
	>.input-group-append {
		height: 32px;
		background: $input-group-append-background;
		border: 1px solid $charcoal-20;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		.input-group-text {
			color: $input-group-text-append-color;
			border: 0;
			font-size: $input-group-append-font-size;
		}
	}
	>.input-group-prepend {
		height: 32px;
		background: $input-group-prepend-background;
		border: 1px solid $charcoal-20;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		.input-group-text {
			color: $input-group-text-prepend-color;
			border: 0;
			font-size: $input-group-prepend-font-size;
		}
	}
}

input.form-control {
	border: 1px solid $charcoal-20;
	font-family: $font-family-nunito !important;
	font-size: $font-size-14px;
	height: $form-height;
}
select{
	&.form-control {
		border: 1px solid $border-color;
		font-family: $font-family-nunito !important;
		height: $form-height !important;
		-webkit-appearance: none;
		-moz-appearance: none;
		background-image: none;
		-ms-word-break: normal;
		word-break: normal;
		font-size: 14px !important;
		&.custom-select {
			font-size: $font-size-14px;
			word-break: normal;
			padding: 4px 12px;
			background-image: linear-gradient(45deg, transparent 50%, $custom-select-arrow-color 50%), linear-gradient(135deg, $custom-select-arrow-color 50%, transparent 50%), linear-gradient(to right, $white, $white);
			background-position: calc(100% - 12px) calc(1em), calc(100% - 7px) calc(1em), 100% 0;
			background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
		}
	}

}
textarea.form-control {
	border: 1px solid $border-color;
	font-family: $font-family-nunito !important;
	font-size: $font-size-14px;
}
.col-form-label {
	font-size: $font-size-14px;
	font-family: $font-family-nunito !important;
	color: $light-grey;
}
.form-check-label {
	font-family: $font-family-nunito !important;
	color: $light-grey;
}

.custom-select {
	height: $form-height !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	font-size: $font-size-14px;
	-ms-word-break: normal;
	word-break: normal;
	padding: 4px 12px;
	background-image: linear-gradient(45deg, transparent 50%, $custom-select-arrow-color 50%), linear-gradient(135deg, $custom-select-arrow-color 50%, transparent 50%), linear-gradient(to right, $white, $white);
	background-position: calc(100% - 12px) calc(1em), calc(100% - 7px) calc(1em), 100% 0;
	background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
}

.form-group {
	label {
		font-size: $font-size-14px;
		line-height: 1;
		vertical-align: top;
		margin-bottom: 4px;
	}
	.file-upload-default {
		visibility: hidden;
		position: absolute;
	}
	.file-upload-info {
		background: transparent;
	}
}

/* Checkboxes and Radios */
.form-check {
	position: relative;
	display: block;
	margin-top: 8px;
	margin-bottom: 8px;
	padding-left: 0px;
	.form-check-label{
		padding-left: 20px;
	}
	.form-check-label {
		display: block;
		font-size: 0.875rem;
		line-height: 1.5;
	}
}
.form-check-input {
	&.subscriptions {
		margin-left: 0 !important;
	}
}

.custom-radio-button {
	height: 50px;
	align-items: center;
	display: flex;
	justify-content: center;
}

.small-custom-radio {
  height: 32px;
	align-items: center;
	display: flex;
	justify-content: center;
}
  /* Checkboxes and Radios  End*/


.legend-small::after {
	content: attr(small-description);
}

  /* Navigation Tabs */

.nav-tabs .nav-link {
    color: $charcoal-70;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    color: $primary-blue;
    background-color: transparent;
    border-color: transparent transparent white;
    border-bottom: 2px solid $primary-blue;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: $primary-blue;
    background-color: transparent;
    border-color: transparent transparent white;
    border-bottom: 2px solid $primary-blue;
}

  /* Navigation Tabs End*/

  /* Date Range Picker */
.daterangepicker .ranges li {
  font-family: Nunito;
}

/* Custom Select2 MultiValue */
.select2-selection__choice__remove {
   float: right;
   margin-right: 0;
   margin-left: 8px;
   color: $primary-blue !important;
}

.select2-selection__choice {
  padding-right: 8px !important;
  padding-left: 8px !important;
  background-color: #edf8fb !important;
  color: $primary-blue !important;
  border: 1px solid $primary-blue !important;
  border-radius: 15px !important;
}
.select2-container {
	min-width: 15rem !important;
	.selection{
		.select2-selection{
			min-height: 32px;
			.select2-selection__rendered{
				line-height: 32px;
				padding-left: 0.75rem;
			}
			.select2-selection__arrow {
				height: 32px;
			}
			&.is-invalid {
				border-color: $amaranth;
			}
		}
	}
}
