.dropzone-box {
	border: 1px solid $charcoal-20;
	padding: 5px;
	border-radius: 5px;
	width: 100%;
}
.dropzone-wrapper {
	border: 1px dashed $charcoal-20;
	color: $charcoal-90;
	position: relative;
	width: 100%;
	padding: 1px;
	&.vertical-dropzone {
		width: 120px;
	}
	&.medium-vertical-dropzone {
	  width: 132px;
	}
	&.grayscale {
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
	}
}
.dropzone-desc {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	text-align: center;
	top: 35%;
	font-size: $upload-description-font-size;
	width: 100%;
	p {
		font-family: $font-family-nunito;
		font-size: $font-size-14px;
		color: $charcoal-90;
	}
	i {
		font-size: $icon-upload-font-size;
	}
}
.dropzone {
	padding: 5px;
	position: absolute;
	outline: none !important;
	width: 100%;
	cursor: pointer;
	opacity: 0;
	&:focus {
		padding: 5px;
		position: absolute;
		outline: none !important;
		width: 100%;
		cursor: pointer;
		opacity: 0;
	}
}

.dash-border {
  border: 1px dashed #d7d7db;
  border-radius: 5px;
}

/* Upload File Styling */

#drop-zone {
  width: 100%;
  min-height: 150px;
  border: 1px dashed $charcoal-20;
  border-radius: 3px;
  text-align: center;
  position: relative;
  font-size: 20px;
  padding: 50px 20px;

  input {
    position: absolute;
    left: 60px;
    top: 0px;
    left: 0px;
    cursor: pointer;
    opacity: 0;
    height: 84%;
    width: 100%;
  }
}

#clickHere {
  display: inline-block;
  cursor: pointer;
  color: $primary-blue;
  border: 1px solid $primary-blue;
  font-size: 17px;
  width: 150px;
  border-radius: 4px;
  background-color: white;
  padding: 10px;

}

