@mixin icon-menu($url){
    float: left;
    margin-left: 4px;
    margin-right: 30px;
    width: 28px;
    height: 28px;
    background: url($url);
    background-repeat: no-repeat;
    background-position: center;
  }

.nav-item {
  &.active{
    .nav-link {
      .menu-title {
        .icon-menu {
          &.icon-dashboard{
            @include icon-menu('../icons/ic_dashboard/active.svg');
          }
          &.icon-library {
            @include icon-menu('../icons/ic_library/active.svg');
					}
					&.icon-promo {
            @include icon-menu('../icons/ic_promo/active.svg');
          }
          &.icon-sales {
            @include icon-menu('../icons/ic_sales/white.svg');
          }
          &.icon-inventory{
            @include icon-menu('../icons/ic_inventory/active.svg');
          }
          &.icon-productions{
            @include icon-menu('../icons/ic_productions/active.svg');
          }
          &.icon-report{
            @include icon-menu('../icons/ic_report/active.svg');
          }
          &.icon-employees{
            @include icon-menu('../icons/ic_employees/active.svg');
          }
          &.icon-table-management{
            @include icon-menu('../icons/ic_table/active.svg');
          }
          &.icon-settings{
            @include icon-menu('../icons/ic_settings/active.svg');
          }
          &.icon-logout {
            @include icon-menu('../icons/ic_logout/active.svg');
          }
          &.icon-user {
            @include icon-menu('../icons/ic_user/active.svg');
          }
          &.icon-waiter {
            @include icon-menu('../icons/ic_waiter/blue.svg');
          }
          &.icon-kitchen {
            @include icon-menu('../icons/ic_kitchen/active@2x.svg');
          }
          &.icon-cash-balance {
            @include icon-menu('../icons/ic_cash_balance/active.svg');
          }
          &.icon-applications {
            @include icon-menu('../icons/ic_app/white.svg');
          }
        }
      }
    }
  }
}

.nav-item {
  .nav-link {
    .menu-title {
      .icon-menu {
        &.icon-dashboard{
          @include icon-menu('../icons/ic_dashboard/active.svg');
        }
        &.icon-library{
          @include icon-menu('../icons/ic_library/active.svg');
				}
				&.icon-promo {
					@include icon-menu('../icons/ic_promo/active.svg');
				}
        &.icon-sales{
          @include icon-menu('../icons/ic_sales/white.svg');
        }
        &.icon-inventory{
          @include icon-menu('../icons/ic_inventory/active.svg');
        }
        &.icon-productions{
          @include icon-menu('../icons/ic_productions/active.svg');
        }
        &.icon-report{
          @include icon-menu('../icons/ic_report/active.svg');
        }
        &.icon-employees{
          @include icon-menu('../icons/ic_employees/active.svg');
        }
        &.icon-table-management{
          @include icon-menu('../icons/ic_table/inactive.svg');
        }
        &.icon-settings{
          @include icon-menu('../icons/ic_settings/active.svg');
        }
        &.icon-logout {
          @include icon-menu('../icons/ic_logout/active.svg');
        }
        &.icon-user {
          @include icon-menu('../icons/ic_user/active.svg');
        }
        &.icon-waiter {
          @include icon-menu('../icons/ic_waiter/inactive.svg');
        }
        &.icon-kitchen {
          @include icon-menu('../icons/ic_kitchen/inactive@2x.svg');
        }
        &.icon-cash-balance {
          @include icon-menu('../icons/ic_cash_balance/active.svg');
        }
        &.icon-applications {
          @include icon-menu('../icons/ic_app/white.svg');
        }
      }
    }
  }
}



.table-not-found {
    vertical-align: middle;
    margin: auto;
    width: 160px;
    height: 160px;
    background: url('../images/table_not_found.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

.initial-image {
   width: 28px;
   height: 28px;
   border: 0px;
   margin-left: 4px;
   margin-right: 24px;
   background: white;
}
