
/* Miscellanoeous */
.page-body-wrapper {
	min-height: calc(100vh - 70px);
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	padding-left: 0;
	padding-right: 0;
}
.page-body-wrapper.full-page-wrapper {
	width: 100%;
	min-height: 100vh;
	padding-top: 0;
}
.content-wrapper {
	background: $background-color;
	padding: 0 25px 25px 25px;
	width: 100%;
	-webkit-flex-grow: 1;
	flex-grow: 1;
	overflow-x: hidden;
}
.container-scroller {
	overflow: hidden;
}
.page-header {
	margin: 0 0 1.5rem 0;
	.breadcrumb {
		border: 0;
		margin-bottom: 0;
		font-size: $font-size-14px;
	}
}
.breadcrumb {
	background: transparent;
	margin: 0 !important;
	padding: 1.25rem 1rem !important;
}
.breadcrumb-tabs {
	background: transparent;
	margin: 0 !important;
	padding: 1.25rem 1rem 0rem 1rem !important;
}
.breadcrumb-center {
	background: transparent;
	margin: 0 !important;
	padding: 1.25rem 0.5rem !important;
}
.page-title {
	color: $black;
	font-size: 1.125rem;
	margin-bottom: 0;
	.page-title-icon {
		display: inline-block;
		width: 36px;
		height: 36px;
		border-radius: 4px;
		text-align: center;
		box-shadow: 0px 3px 8.3px 0.7px rgba(163, 93, 255, 0.35);
		i {
			font-size: .9375rem;
			line-height: 36px;
		}
	}
}
@media (min-width: 1200px) {
	.container {
		max-width: 1440px;
	}
}
@media (min-width: 2000px) {
	.container {
		max-width: 2240px;
	}
}
/* Miscellanoeous End */
