
.navbar {
	.navbar-brand-wrapper {
		.navbar-brand.brand-logo-mini {
			display: none;
		}
	}
	.navbar-menu-wrapper {
		.count-indicator {
			position: relative;
			.count-symbol {
				position: absolute;
				border-radius: 100%;
				border: 2px solid $white;
				top: 24px;
				right: -1px;
				width: 10px;
				height: 10px;
			}
			.count-number {
				position: absolute;
				border-radius: 100%;
				border: 2px solid $white;
				min-width: 14px;
				height: 14px;
				font-size: .5rem;
				color: $white;
				bottom: 16px;
				right: -5px;
				line-height: 1;
				text-align: center;
			}
			&:after {
				display: none;
			}
		}
		.dropdown {
			.dropdown-toggle {
				&:after {
					color: $paynes-grey;
					font-size: 1rem;
				}
			}
		}
		.navbar-nav {
			flex-direction: row;
			align-items: center;
			.nav-item.dropdown {
				.navbar-dropdown {
					position: absolute;
					font-size: 0.9rem;
					margin-top: 0;
					right: 0;
					left: auto;
					padding: 0;
					.dropdown-item {
						margin-bottom: 0;
						padding: 4px;
						i {
							font-size: 17px;
						}
						.ellipsis {
							max-width: 200px;
							overflow: hidden;
							text-overflow: ellipsis;
						}
					}
					.dropdown-divider {
						margin: 0;
					}
				}
			}
			.nav-item.nav-profile {
				.nav-link {
					.nav-profile-img {
						position: relative;
						width: 32px;
						height: 32px;
						margin-right: 1.25rem;
						img {
							width: 32px;
							height: 32px;
							border-radius: 100%;
						}
						.availability-status {
							position: absolute;
							width: 10px;
							height: 10px;
							border-radius: 100%;
							border: 2px solid $white;
							bottom: 5px;
							right: -5px;
						}
						.availability-status.online {
							background: $light-sea-green;
						}
						.availability-status.offline {
							background: $tickle-me-pink;
						}
						.availability-status.busy {
							background: $gold;
						}
					}
					.nav-profile-text {
						margin-right: 1.25rem;
						p {
							color: $paynes-grey;
							line-height: 1;
							font-size: $font-size-14px;
							font-family: $font-family-nunito;
						}
					}
				}
				.nav-link.dropdown-toggle {
					&:after {
						line-height: 2;
					}
				}
			}
		}
	}
}
.rtl {
	.navbar {
		.navbar-menu-wrapper {
			.navbar-nav {
				.nav-item.dropdown {
					.navbar-dropdown {
						right: auto;
						left: 0;
						.dropdown-item {
							i {
								margin-left: 10px;
							}
						}
					}
				}
				.nav-item.nav-profile {
					.nav-link {
						.nav-profile-text {
							margin-left: 0;
							margin-right: 1.25rem;
						}
					}
				}
			}
		}
	}
}
.navbar.default-layout-navbar {
	font-family: $font-family-nunito;
	background: $alice-blue;
	transition: background 0.25s ease;
	-webkit-transition: background 0.25s ease;
	-moz-transition: background 0.25s ease;
	-ms-transition: background 0.25s ease;
	.navbar-brand-wrapper {
		transition: width 0.25s ease, background 0.25s ease;
		-webkit-transition: width 0.25s ease, background 0.25s ease;
		-moz-transition: width 0.25s ease, background 0.25s ease;
		-ms-transition: width 0.25s ease, background 0.25s ease;
		border-right: $solitude 1px solid;
		border-bottom: $solitude 1px solid;
		background: $primary-blue;
		padding-left: 8px;
		width: 250px;
		height: 50px;
		.navbar-brand {
			color: $resolution-blue;
			font-size: 1.5rem;
			line-height: 48px;
			margin-right: 0;
			padding: .25rem 0;
			&:active {
				color: $lucky-point;
			}
			&:focus {
				color: $lucky-point;
			}
			&:hover {
				color: $lucky-point;
			}
			img {
				max-width: 100%;
				height: 28px;
				margin-left: 8px;
				vertical-align: middle;
			}
			.logo-text {
				height: 20px !important;
				margin-left: 30px !important;
			}
		}
		.brand-logo-mini {
			img {
				width: calc(70px - 50px);
				max-width: 100%;
				height: 28px;
				margin: auto;
			}
		}
	}
	.navbar-menu-wrapper {
		transition: width 0.25s ease;
		-webkit-transition: width 0.25s ease;
		-moz-transition: width 0.25s ease;
		-ms-transition: width 0.25s ease;
		color: $grey-chateau;
		padding-left: 30px;
		padding-right: 60px;
		width: calc(100% - 250px);
		height: 50px;
		background: $alice-blue;
		.navbar-toggler {
			border: 0;
			color: inherit;
			height: 70px;
			border-radius: 0px;
			padding-left: 5px;
			padding-right: 20px;
			&:not(.navbar-toggler-right) {
				font-size: 1.5rem;
			}
		}
		.search-field {
			padding-left: 30px;
			width: 35%;
			.input-group {
				input {
					font-size: $font-size-14px;
					font-family: $font-family-nunito !important;
					font-style: normal;
					border: 0;
					font-weight: normal;
					box-shadow: none;
					color: $charcoal-100;
					height: 32px;
					&:-ms-input-placeholder {
						padding-left: 5px;
						font-size: $font-size-14px;
						color: $grey-chateau;
						font-family: $font-family-nunito, FontAwesome;
					}
					&:-moz-placeholder {
						font-size: $font-size-14px;
						color: $grey-chateau;
						font-family: $font-family-nunito, FontAwesome;
					}
					&::-moz-placeholder {
						font-size: $font-size-14px;
						color: $grey-chateau;
						font-family: $font-family-nunito, FontAwesome;
					}
					&::-webkit-input-placeholder {
						font-size: $font-size-14px;
						color: $grey-chateau;
						font-family: $font-family-nunito, FontAwesome;
					}
				}
				i {
					font-size: 17px;
					color: $black;
				}
				.input-group-text {
					background: transparent;
				}
			}
		}
		.navbar-nav {
			.nav-item {
				.nav-link {
					color: inherit;
					font-size: 0.875rem;
					margin-left: 1.5rem;
					margin-right: 1.5rem;
					height: 70px;
					display: -webkit-flex;
					display: flex;
					-webkit-align-items: center;
					align-items: center;
					i {
						font-size: 1.25rem;
					}
				}
			}
			.nav-item.nav-settings {
				padding-left: 20px;
				padding-right: 5px;
				.nav-link {
					margin-right: 0;
					margin-left: 0;
				}
			}
		}
		.dropdown-menu {
			border: none;
			border-radius: 5px;
			-webkit-box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
			-moz-box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
			box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
		}
	}
}
.sidebar-light {
	.navbar.default-layout-navbar {
		.navbar-brand-wrapper {
			background: $white;
		}
	}
}

.nav-tabs {
  border-bottom: 0px;
}
@media (max-width: 991px) {
	.navbar {
		.navbar-menu-wrapper {
			.navbar-nav {
				.nav-item.dropdown {
					position: static;
					.navbar-dropdown {
						left: 20px;
						right: 20px;
						top: 70px;
						width: calc(100% - 40px);
					}
				}
			}
		}
		flex-direction: row;
		.navbar-brand-wrapper {
			width: 75px;
			.navbar-brand.brand-logo-mini {
				display: inline-block;
			}
		}
	}
	.navbar.default-layout-navbar {
		.navbar-menu-wrapper {
			width: auto;
			padding-left: 15px;
			padding-right: 15px;
			.navbar-toggler {
				&:not(.navbar-toggler-right) {
					display: none;
				}
			}
			.navbar-toggler.navbar-toggler-right {
				padding-left: 15px;
				padding-right: 11px;
				border-right: none;
			}
		}
	}
	.navbar-collapse {
		display: flex;
		margin-top: 0.5rem;
	}
}
@media (min-width: 992px) {
	.navbar {
		.navbar-menu-wrapper {
			.navbar-nav.navbar-nav-right {
				margin-left: auto;
			}
		}
	}
	.rtl {
		.navbar {
			.navbar-menu-wrapper {
				.navbar-nav.navbar-nav-right {
					margin-left: 0;
					margin-right: auto;
				}
			}
		}
	}
}
@media (max-width: 767px) {
	.navbar.default-layout-navbar {
		.navbar-menu-wrapper {
			.navbar-nav {
				.nav-item {
					.nav-link {
						margin-left: .8rem;
						margin-right: .8rem;
					}
				}
			}
		}
	}
}
@media (max-width: 480px) {
	.navbar {
		.navbar-brand-wrapper {
			width: 55px;
			.brand-logo-mini {
				padding-top: 0px;
			}
		}
	}
}
