.sidebar {
	min-height: calc(100vh - 150px);
	position: fixed;
	left: $sidebar-position-left;
	overflow: hidden;
	background: $primary-blue;
	font-family: $font-family-nunito !important;
	border-right: $secondary-sidebar-blue 1px solid;
	width: $sidebar-width !important;
	z-index: 11;
	transition: width 0.25s ease, background 0.25s ease, visibility 1s;
	-webkit-transition: width 0.25s ease, background 0.25s ease;
	-moz-transition: width 0.25s ease, background 0.25s ease;
	-ms-transition: width 0.25s ease, background 0.25s ease;
	.nav {
		overflow: hidden;
		flex-wrap: nowrap;
		flex-direction: column;
		.sidebar-header {
			border-bottom: $secondary-sidebar-blue 1px solid;
			height: 50px;
			.navbar-brand {
				img{
					height: 28px;
					margin-left: 16px;
					vertical-align: middle;
					max-width: 100%;
					&.logo-text {
						height: 20px;
						margin-left: 30px;
					}
				}
			}
		}
		.nav-item {
			padding: 0 2.25rem;
			padding-left: 13px;
			padding-right: 15px;
			-webkit-transition-duration: 0.25s;
			-moz-transition-duration: 0.25s;
			-o-transition-duration: 0.25s;
			transition-duration: 0.25s;
			transition-property: background;
			-webkit-transition-property: background;
			&.account-menu {
				background: transparent;
			}
			&.active {
				background: $secondary-sidebar-blue;
				border-left: $left-sidebar-border 3px solid;
				padding-left: 10px;
			}
			.nav-link {
				display: -webkit-flex;
				display: flex;
				-webkit-align-items: center;
				align-items: center;
				white-space: nowrap;
				color: $nav-text-color;
				-webkit-transition-duration: 0.45s;
				-moz-transition-duration: 0.45s;
				-o-transition-duration: 0.45s;
				transition-duration: 0.45s;
				transition-property: color;
				-webkit-transition-property: color;
				padding: 12px 0;
				i {
					color: inherit;
				}
				i.menu-icon {
					width: 55px;
					font-size: 18px;
					font-weight: $font-weight-semibold;
					margin-left: 5px;
					color: #bba8bff5;
					&:before {
						vertical-align: middle;
					}
				}
				i.menu-arrow {
					text-align: right;
					padding-right: 1rem;
					font-size: $font-size-14px;
					margin-left: auto;
					color: $nav-text-color;
					&:before {
						content: "\f105";
						font-size: inherit;
						color: inherit;
					}
					+ {
						.menu-icon {
							margin-left: .25rem;
						}
					}
				}
				.menu-title {
					color: inherit;
					display: inline-block;
					vertical-align: middle;
					font-family: $font-family-nunito !important;
					font-size: $font-size-14px;
					font-weight: $font-weight-semibold;
					line-height: 2;
				}
				.badge {
					margin-right: auto;
					margin-left: 1rem;
				}
			}
			.collapse {
				z-index: 999;
			}
			.nav-link[aria-expanded="true"] {
				.menu-arrow {
					&::before {
						content: "\f107";
					}
				}
			}
			&:hover {
				>.nav-link {
					.menu-title {
						color: white;
					}
					i {
						color: white;
					}
				}
			}
		}
		.nav-item.active {
			>.nav-link {
				.menu-title {
					color: white;
					font-family: $font-family-nunito !important;
				}
				i {
					color: white;
				}
			}
		}
		.nav-item.nav-profile {
			.nav-link {
				height: auto;
				line-height: 1;
				border-top: 0;
				padding: 1.25rem 0;
				.nav-profile-image {
					width: 44px;
					height: 44px;
					img {
						width: 44px;
						height: 44px;
						border-radius: 100%;
					}
				}
				.nav-profile-text {
					margin-left: 1.5rem;
				}
				.nav-profile-badge {
					font-size: 1.125rem;
					margin-left: auto;
				}
			}
		}
		.nav-item.sidebar-actions {
			margin-top: 1rem;
			.nav-link {
				border-top: 0;
				display: block;
				height: auto;
			}
			&:hover {
				background: initial;
				.nav-link {
					color: initial;
				}
			}
		}
		&:not(.sub-menu) {
			>.nav-item {
				&:hover {
					&:not(.nav-category) {
						&:not(.nav-profile) {
							>.nav-link {
								color: $midnight;
							}
						}
					}
				}
			}
		}
	}
	.nav.sub-menu {
		margin-bottom: 20px;
		margin-top: 0;
		list-style: none;
		.nav-item {
			padding: 0;
			.nav-link {
				color: $nav-text-color;
				padding: 0.75rem 2rem 0.75rem 2rem;
				position: relative;
				font-size: 0.8125rem;
				line-height: 1;
				height: auto;
				border-top: 0;
				&:hover {
					color: white;
				}
			}
			&:hover {
				background: transparent;
			}
		}
	}
}
.secondary-sidebar {
	position: fixed;
	left: $secondary-sidebar-position-left;
	width: $secondary-sidebar-width;
	font-family: $font-family-nunito !important;
	display: table-cell;
	height: 100%;
	background: $secondary-sidebar-blue;
	border-right: $secondary-sidebar-blue 1px solid;
	visibility: hidden;
	z-index: 1035;
	display: table-cell;
	transition: width 0.25s ease, margin 0.25s ease, visibility 0.25s ease;
	-webkit-transition: width 0.25s ease, margin 0.25s ease, visibility 0.25s ease;
	-moz-transition: width 0.25s ease, margin 0.25s ease, visibility 0.25s ease;
	-ms-transition: width 0.25s ease, margin 0.25s ease, visibility 0.25s ease;
	span {
		display: none;
	}
	.show {
		display: inline;
	}
	.secondary-menu{
		overflow-x: hidden;
		overflow-y: auto;
		max-height: 95%;
		.nav {
			flex-wrap: nowrap;
			flex-direction: column;
			.nav-item {
				padding: 0 2.25rem;
				padding-left: 13px;
				padding-right: 15px;
				-webkit-transition-duration: 0.25s;
				-moz-transition-duration: 0.25s;
				-o-transition-duration: 0.25s;
				transition-duration: 0.25s;
				transition-property: background;
				-webkit-transition-property: background;
				.nav-link {
					display: -webkit-flex;
					display: flex;
					-webkit-align-items: center;
					align-items: center;
					white-space: nowrap;
					color: $nav-text-color;
					-webkit-transition-duration: 0.45s;
					-moz-transition-duration: 0.45s;
					-o-transition-duration: 0.45s;
					transition-duration: 0.45s;
					transition-property: color;
					-webkit-transition-property: color;
					.menu-title {
						color: inherit;
						display: inline-block;
						vertical-align: middle;
						font-family: $font-family-nunito !important;
						font-size: $font-size-14px;
						font-weight: $font-weight-semibold;
					}
				}
			}
			.nav-item.submenu-active {
				background: $secondary-active-sidebar-blue;
			}
		}
	}
	
	.nav-header {
		min-height: 50px;
		display: inline-block;
		padding-top: 10px;
		padding-left: 30px;
		width: 100%;
		color: white;
		background: $primary-blue;
		border-bottom: $secondary-sidebar-blue 1px solid;
	  h4 {
	    font-weight: $font-weight-semibold;
	  }
	}
}
.secondary-sidebar.expand {
	visibility: visible;
	width: $secondary-sidebar-width-expand;
	margin-left: $secondary-sidebar-margin-left-expand;
}
.trial {
	padding-top: 40px;
	.secondary-sidebar {
		top: 40px;
	}
	.sidebar {
		height: 96%;
		min-height: calc(100vh - 180px);
	}
	.fixed-header-tab {
	  top: 40px !important;
	}
}
.expired {
	padding-top: 40px;
	.secondary-sidebar {
		top: 40px;
	}
	.sidebar {
		height: 95%;
		min-height: calc(100vh - 180px);
	}
	.fixed-header-tab {
	  top: 40px !important;
	}
}
.subscribe {
	.secondary-sidebar {
		top: 0;
	}
	.sidebar {
		height: 100%;
	}
}
.secondary-list {
	width: 100%;
	position: absolute;
	bottom: 0 !important;
	color: white;
	background: $primary-blue;
	z-index: 99;
}
.secondary-menu {
	.nav {
		.nav-item {
			.nav-link {
				padding: 13.5px 0;
				.menu-title {
					padding-left: 15px;
				}
			}
			&:hover {
				>.nav-link {
					.menu-title {
						color: white;
					}
					i {
						color: white;
					}
				}
			}
		}
	}
}

.logout-menu {
	background: $secondary-sidebar-blue;
	color: white;
}
