#subscription-box {
    label{
      border: 1px solid $charcoal-20;
      border-radius: 5px;
      cursor: pointer;
      width: 100%;
      min-height: 200px;
      .subscription-body{
        .description{
          color: $light-slate-grey;
        }
        .price{
          font-size: 16px;
        }
        font-size: 12px;
      }
      .subscription-label{
        color: $light-slate-grey;
        border-bottom: 1px solid $gainsboro-2;
      }
    }
    label:hover{
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
    input{
      visibility: hidden;
    }
  }

  .subscription {
      width: 100%;
      height: 40px;
      font-family: $font-family-nunito;
      font-size: 10px;
      letter-spacing: 1;
      color: $white;
      background: $caribbean-green;
      z-index: 1034;
      .container {
          width: 100%;
          .row {
              max-height: 40px;
          }
      }
  }
  .subscription-expired {
      width: 100%;
      height: 40px;
      font-family: $font-family-nunito;
      font-size: 10px;
      letter-spacing: 1;
      color: $white;
      background: $tomato;
      z-index: 1034;
      .container {
          width: 100%;
          .row {
              max-height: 40px;
          }
      }
  }
  .subscription-info {
      padding: 8px;
  }
  .subscription-link {
      padding: 8px;
      font-size: $font-size-14px;
      color: $white;
      &:hover{
          color: $white;
      }
  }
