.switch {
	margin-top: 3px;
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: $very-light-grey-2;
		-webkit-transition: .4s;
		transition: .4s;
		&:before {
			position: absolute;
			content: "";
			height: 12px;
			width: 12px;
			left: 4px;
			bottom: 4px;
			background-color: white;
			-webkit-transition: .4s;
			transition: .4s;
		}
		.round {
			border-radius: 34px;
			&:before {
				border-radius: 50%;
			}
		}
	}
	input {
		display:none;
		&:checked + .slider {
			background-color: $dodger-blue;
		}
		&:focus + .slider {
			box-shadow: 0 0 1px $dodger-blue;
		}
		&:checked + .slider:before {
			-webkit-transform: translateX(20px);
			-ms-transform: translateX(20px);
			transform: translateX(20px);
		}
	}
}