table {
	font-family: $font-family-nunito;
	font-size: $font-size-14px;
	padding: 0;
	background-color: $white !important;
	border: $solitude 1px solid;
	max-width: 100%;
}
.table {
	th {
		text-align: left;
		border-top: 0;
	}
	td {
	  vertical-align: middle;
    border-top: 0 !important;
	}
	thead {
		th {
      border-bottom: 1px solid #dee2e6;
		}
	}
}
.pagination {
	padding-right: 5px;
	
	.paginate_button {
		padding: 5px;
		.page-link {
			line-height: 1;
			border: 0 !important;
			background-color: transparent !important;
		}
		&.active {
			.page-link {
				line-height: 1;
				background-color: #0094C9 !important;
				border-radius: 25px;
			}
		}
	}
}

.datatable-filter-input-group {
  label {
      margin-bottom: 0;
  }
}
