
// Typeahead
.warning-sign {
	color: $mckenzie;
	visibility: hidden;
}
.tt-menu {
	text-align: left;
	width: 100%;
	margin: 12px 0;
	padding: 4px 0;
	background-color: $white;
	border: 1px solid $solitude-2;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.gist {
	text-align: left;
	font-size: $font-size-14px;
}
.table-of-contents {
	li {
		display: inline-block;
		*display: inline;
		zoom: 1;
		a {
			font-size: 16px;
			color: $nobel;
		}
	}
}
.title {
	margin: 20px 0 0 0;
	font-size: 64px;
}
.example {
	padding: 30px 0;
}
.example-name {
	margin: 20px 0;
	font-size: 32px;
}
.demo {
	position: relative;
	*z-index: 1;
	margin: 50px 0;
}
.tt-input {
	width: 100%;
}
.typeahead {
	width: 100%;
	height: 32px;
	padding: 8px 12px;
	font-family: $font-family-nunito;
	font-size: $font-size-14px;
	border: 1px solid $very-light-grey-2;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	outline: none;
	background-color: $white;
	&:focus {
		border: 1px solid $maya-blue;
	}
}
.tt-query {
	width: 100%;
	height: 32px;
	padding: 8px 12px;
	font-family: $font-family-nunito;
	font-size: $font-size-14px;
	border: 1px solid $very-light-grey-2;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	outline: none;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.tt-hint {
	width: 100%;
	height: 32px;
	padding: 8px 12px;
	font-family: $font-family-nunito;
	font-size: $font-size-14px;
	border: 1px solid $very-light-grey-2;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	outline: none;
	color: $nobel;
}
.twitter-typeahead {
	width: 100%;
}
.tt-suggestion {
	padding: 3px 20px;
	line-height: 20px;
	font-family: $font-family-nunito;
	font-size: $font-size-14px;
	&:hover {
		cursor: pointer;
		color: $white;
		background-color: $pasific-blue-2;
	}
	p {
		margin: 0;
	}
}
.tt-suggestion.tt-cursor {
	color: $white;
	background-color: $pasific-blue-2;
}
#custom-templates {
	.empty-message {
		padding: 5px 10px;
		text-align: center;
	}
}
#multiple-datasets {
	.league-name {
		margin: 0 20px 5px 20px;
		padding: 3px 0;
		border-bottom: 1px solid #ccc;
	}
}
#scrollable-dropdown-menu {
	.tt-menu {
		max-height: 150px;
		overflow-y: auto;
	}
}
#rtl-support {
	.tt-menu {
		text-align: right;
	}
}
.text-primary {
  color: $primary-blue !important;
}
.text-muted {
  color: $charcoal-70 !important;
}

.date-label {

  font-size: 16px;
  color: $charcoal-90 !important;
}
//typeahead
