//
// Font
//
$nunito: Nunito;
$font-family-nunito: $nunito !default;
$font-size-14px: 14px !default;

//
// Color
//
$primary-blue: #0094C9;
$secondary-sidebar-blue: #0082b0;
$secondary-active-sidebar-blue: #007ca9;
$nav-text-color: #edf8fb;
$left-sidebar-border: #eb9928;

$pasific-blue-2: #0097cf;
$secondary-blue: #006e96;
$dodger-blue: #2196F3;
$azure: #EDFBFF;
$resolution-blue: #27367f;
$lucky-point: #1b2658;
$alice-blue: #FBFCFE;
$light-sea-green: #1bcfb4;
$tickle-me-pink: #fe7c96;
$gold: #fed713;
$midnight: #29323d;
$grey-chateau:#9C9FA6;
$rhino: #3e4b5b;
$grey: #888;
$grey-suit: #9e9da0;
$fiord: #485D6E;
$solitude-2: #ebedf2;
$very-light-grey: #c9c8c8;
$very-light-grey-2: #ccc;
$grey-chateau-2: #9AA1A6;
$dark-grey: #AAA;
$nobel: #999;
$light-slate-grey: #7B8E9C;
$link-water: #CCD6DD;
$matterhorn: #555;
$gainsboro: #E0E0E0;
$gainsboro-2: #D8D8D8;
$caribbean-green: #00aa55;
$tomato: #ef3f3a;
$mckenzie: #8a6d3b;
$maya-blue: #80bdff;


// Auth color
$dark-gray: #A5A5A5;
$frostee: #d6e9c6;
$chestnut: #b94a48;
$soft-peach: #f2dede;
$pale-rose: #eed3d7;
$amaranth: #dc3545;

//
// New Color
//

$disabled-light-grey: #e6e7e9;


// sidebar 223, 258

  // Charcoal 100 (Usage: Main headings, active text)
  $charcoal-100 : #353749;

  // Charcoal 90 (Usage: Description, active icons and input labels)
  $charcoal-90  : #494b5b;

  // Charcoal 70 (Usage: Disabled Text and inactive icons)
  $charcoal-70  : #71737f;

  // Charcoal 40 (Usage: Default texts in text field, disable icons)
  $charcoal-40  : #aeafb6;

  // Charcoal 20 (Usage: Dividers, borders & disable buttons)
  $charcoal-20  : #d7d7db;

  // Charcoal 10 (Usage: background)
  $charcoal-10  : #f7f7f7;

$background-color: $charcoal-10;
$paynes-grey: $charcoal-100;
$light-grey: $charcoal-90;
$disabled-dark-grey: $charcoal-40;
$solitude: $charcoal-20;



//
// Sidebar Elements
//
$sidebar-width: 250px !default;
$sidebar-position-left: 0 !default;
$sidebar-border-color: $charcoal-20;

$secondary-sidebar-width:  0 !default;
$secondary-sidebar-position-left: 250px !default;
$secondary-sidebar-width-expand: 195px;
$secondary-sidebar-margin-left-expand: -195px;

//
// Button Elements
//
$button-height: 32px;

$button-primary-font-color: $white !default;
$button-primary-background-color: $secondary-blue !default;
$button-primary-border-color: $secondary-blue !default;

$button-outline-primary-font-color: $dark-grey !default;
$button-outline-primarry-background-color: $azure !default;
$button-outline-primary-border-color: $dark-grey !default;

$button-light-font-color: $light-slate-grey;
$button-light-border: 1px solid #E0E0E0;

//
// Forms Elements
//
$form-height: 32px;
$border-color: $solitude-2;
$col-label-form-color: $grey-chateau-2;

$input-group-append-height: $form-height;
$input-group-append-font-size: 12px;
$input-group-append-background: $solitude-2;
$input-group-text-append-color: $midnight;

$input-group-prepend-height: $form-height;
$input-group-prepend-font-size: 12px;
$input-group-prepend-background: $solitude-2;
$input-group-text-prepend-color: $midnight;

$select-form-font-size: 10px;
$custom-select-arrow-color: $fiord;

// Auth Form Elements
$form-auth-height: 44px;



//
// Upload File Elements
//
$upload-description-font-size: 16px;
$icon-upload-font-size: 60px;

//
// Datatables Elements
//
$datatable-filter-height: 32px;
$datatables-filter-min-width: 65px;

$datatable-label-height: 32px;
$datatables-label-min-width: 65px;

$datatable-btn-height: 32px;
$datatables-btn-min-width: 65px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;


//
// Font Weight
//
// Weight
$font-weight-regular  : 400;
$font-weight-semibold : 600;
$font-weight-bold     : 700;
$font-weight-black    : 900;
