@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/root";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/transitions";
@import "bootstrap/dropdown";
@import "bootstrap/button-group";
@import "bootstrap/input-group";
@import "bootstrap/custom-forms";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/card";
@import "bootstrap/breadcrumb";
@import "bootstrap/pagination";
@import "bootstrap/badge";
@import "bootstrap/jumbotron";
@import "bootstrap/alert";
@import "bootstrap/progress";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/close";
@import "bootstrap/modal";
@import "bootstrap/tooltip";
@import "bootstrap/popover";
@import "bootstrap/carousel";
@import "bootstrap/utilities";
@import "bootstrap/print";



@import "variables";


/* These styles are generated from project.scss. */
html, body {
    height: 100%;
    font-family: $font-family-nunito;
    font-size: $font-size-14px;
    color: $charcoal-100;
    letter-spacing: 0;
  }

  .alert-debug {
    color: $black;
    background-color: $white;
    border-color: $frostee;
  }

  .alert-error {
    color: $chestnut;
    background-color: $soft-peach;
    border-color: $pale-rose;
  }

  .btn-primary {
    background: $primary-blue;
    color: $white;
    border-color: $primary-blue;
  }


  #login-page{
    .login-form{
      input[type=email]{
        height: $form-auth-height;
      }
      input[type=password]{
        height: $form-auth-height;
      }
      input[type=text]{
        height: $form-auth-height;
      }
      button{
        padding: 10px 20px;
        font-size: $font-size-14px;
        margin-top: 20px;
      }
      input::-webkit-input-placeholder {
        opacity: 0.4;
        text-indent: 10;
      }
      input::-moz-placeholder, {
        opacity: 0.4;
        text-indent: 10;
      }
      input:-ms-input-placeholder {
        opacity: 0.4;
        text-indent: 10;
      }
    }
  }
  #sign-up-page{
    #sign-up-form{
      input{
        height: $form-auth-height;
      }
      button{
        height: $form-auth-height;
        font-size: $font-size-14px;
        margin-top: 20px;
      }
      input::-webkit-input-placeholder {
        opacity: 0.4;
        text-indent: 10;
      }
      input::-moz-placeholder, {
        opacity: 0.4;
        text-indent: 10;
      }
      input:-ms-input-placeholder {
        opacity: 0.4;
        text-indent: 10;
      }
      .select2-container {
        .select2-selection--single{
          height: $form-auth-height !important;
          .select2-selection__rendered {
            padding-right: 35px;
          }
        }
      }
      .select2-container--default {
        .select2-selection--single {
          .select2-selection__rendered {
            line-height: $form-auth-height !important;
          }
          .select2-selection__arrow {
            top:10px;
            right: 10px;
          }
        }
      }
    }
  }

  #password-reset-page{
    .password_reset{
      input{
        height: $form-auth-height;
      }
      button{
        height: $form-auth-height;
        font-size: $font-size-14px;
        margin-top: 20px;
      }
      a {
        font-size: $font-size-14px;
      }
    }
    .password-reset-change{
      input{
        height: $form-auth-height;
      }
      button{
        height: $form-auth-height;
        font-size: $font-size-14px;
        margin-top: 20px;
      }
    }
  }

  h3{
    font-family: $font-family-nunito;
    font-size: 24px;
    color: $fiord;
    letter-spacing: 0;
    text-align: center;
  }

  .invalid-feedback{
    margin-bottom: 0;
    color: $amaranth;
  }

  p{
    font-family: $font-family-nunito;
    font-size: $font-size-14px;
    color: $charcoal-100;
    letter-spacing: 0;
    text-align: center;
  }

  input.is-invalid, textarea.is-invalid{
    border:1px solid $amaranth;
  }

  .privacy-term-condition a{
    color: $primary-blue;
  }

  .privacy-term-condition a:hover {
    color: $secondary-blue;
  }

  .btn-primary:hover {
    background: $secondary-blue;
    border-color: $secondary-blue;
  }

  input::placeholder {
    opacity: 0.4 !important;
  }
  input:active {
    border-color: $primary-blue;
  }

  .blur {
    opacity: 0.4;
  }

  .link {
    color: $primary-blue;
  }
  .select2-selection__clear {
    display: none;
  }
  .select2-container--default {
    .select2-results__option--highlighted[aria-selected] {
      background-color: $primary-blue !important;
    }
  }

  .form-control {
    padding: 0.75rem 0.75rem;
  }
  .form-group button {
    margin-top: 2rem !important;
  }

  .form-control:focus {
    border-color: $primary-blue;
  }
  .back-button {
    margin-top: 25px;
    color: $primary-blue;
  }

  .box {
    border: 1px rgba(165,165,165, 0.4) solid;
    padding: 25px; border-radius: 5px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
