@import "mixins/breakpoints";




// custom font
$nunito: 'Nunito Sans', sans-serif;


// Varibles
$primary:#EB9928;
$primary-blue: #0094c9;
$light-blue: #7fd7e6;
$secondary:#9BAEBC;
$tertiary:#374955;
$footer-dark: #4a4a4a;
$primary-color: #57e2b2;
$light-gray: #f8f8f8;
$main-font-color: #808080;
$main-font-weight: 300;
$white: #fff !default;
$gray-600: #6c757d !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

// custom styling
html {
    scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Nunito Sans', sans-serif;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Nunito Sans', sans-serif;
}

.navbar-brand {
  display: flex;
  align-items: center;
  img {
    height: 60px;
  }
}
.btn-primary {
  background-color: #EB9928;
  border-color: #EB9928;
  &:hover, &:focus, &:visited {
    background-color: #d98614;
    border-color: #cd7f13;
  }
}
.navbar-custom {
  transition: 0.2s ease-out;
  font-weight: 600;
  .navbar-toggler {
    background-color: $white;
  }
  .logo-text {
    font-family: $nunito;
    font-weight: 700;
    font-size: 24px;
    color: $white;  
  }
  .navbar-nav {
      .nav-item.active > .nav-link {
        color:$primary-blue;
      }
      .nav-link-menu:hover {
        color:$primary !important;
      }
      .nav-link-menu.active{
        color:$primary !important;
      }
      .nav-link:hover {
        color:$white;
      }
    }
}
.fixed-top.scrolled {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0094c9+0,0094c9+100&0.5+0,0.5+100 */
  background: -moz-linear-gradient(left, rgb(127, 211, 229) 0%, rgb(127, 218, 230) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgb(127, 211, 229) 0%, rgb(127, 218, 230) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgb(127, 211, 229) 0%, rgb(127, 218, 230) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  transition: background-color 200ms linear;
}
p {
  color: $gray-600;
}

.btn-outline-custom {
  text-transform: capitalize;
  color: $secondary;
  border: 2px solid $white;
  &:hover {
    background: transparent;
    color: $primary;
    background-color: $primary;
    border: 2px solid $primary;
  }
}

.btn-custom {
  border-radius: 3rem;
  color: $white;
  padding: .7em 3em;
  &:hover {
    color: $white;
  }
}

.badge-custom {
  background-color: $primary;
  font-size: 15px;
  line-height: 34px;
  padding: 0 1.5em;
  border-radius: 25px;
}
.overlay {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  .banner-content{
    padding-top: 2%;
  }
}
.main-header-part, .features-header-part {
  margin-top: -90px;
  align-items: center;
  height: 940px;
  background: url("../images/marketing_page/main-bg.png") no-repeat;
  background-size: cover;
  background-position: center -90px;
  h1 {
    font-size: 48px;
    font-family: $nunito;
    font-weight: 600;
    color: $white;
  }
  h5 {
    font-size: 20px;
    font-family: $nunito;
    color: $white;
  }
  .main-header-text {
    padding-right: 90px;
    color: #fff;
  }
  a.play-btn {
    padding: .6em 1.8em;
    margin-left: 1.5em;
    border-radius: 2em;
  }
  a {
    color: $white;
    &:hover {
      color: $white;
    }
  }
}
.features-header-part {
  background: url('../images/marketing_page/main-bg2.png') no-repeat;
  background-position: right;
  background-size: cover;
}

.navbar-custom {
  .nav-item .nav-link {
    color: #fff;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.about-part, .visi-part, .privacy-part {
  h3 {
    font-size: 2.25rem;
    color: $tertiary;
  }
  p, li {
    line-height: 27px;
    color: $secondary;
    padding-top: 1rem;
  }
  .about-icon-part .privacy-icon-part {
    h4 {
      color: $tertiary;
    }
    img {
      height: 96px;
      box-shadow: 0px 2px 20px rgba(74,144,226,0.16);
      padding: 1.4em;
    }
  }
}

.why-part, .why-part-xs {
  position: relative;
  .bg-skew-part {
    height: 100%;
    width: 100%;
    position: absolute;
    transform: skewy(-15deg);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edfbff+0,edfbff+100&0.5+0,1+100 */
    background: -moz-linear-gradient(left, rgba(237,251,255,0.5) 0%, rgba(237,251,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(237,251,255,0.5) 0%,rgba(237,251,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(237,251,255,0.5) 0%,rgba(237,251,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80edfbff', endColorstr='#edfbff',GradientType=1 ); /* IE6-9 */
    z-index: -3;
  }
  .inner-why-part {
    position: relative;
    .row {
      align-items: center;
      padding: 2em 0 0;
      .img-text-contain-left,
      .img-text-contain-right {
        padding: 4em 2em;
        background-color: #fff;
        box-shadow: 0px 0px 15px #ddd;
      } 
      .img-text-contain-left {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
      .img-text-contain-right {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        z-index: -2;
      }
      img {
        border-radius: 4%;;
      }
    }
    h3 {
      font-size: 2.25rem;
      color: $tertiary;
    }
    p {
      line-height: 27px;
      color: $secondary;
      padding-top: 1rem;
    }
    .c-pad-img1 {
      padding-left: 0;
    }
    .c-pad-img2 {
      padding-right: 0;
      text-align: right;
    }
  }
}

.harga-part, .harga-hardware {
  h3 {
    font-size: 2em;
    color: $tertiary;
    font-weight: 600;
  }

  // Tables
  .card {
    border: 0;
    border-radius: 0px;
    -webkit-box-shadow: 0 3px 0px 0 rgba(0, 0, 0, .08);
    box-shadow: 0 3px 0px 0 rgba(0, 0, 0, .08);
    transition: all .3s ease-in-out;
    padding: 2.25rem 0;
    position: relative;
    will-change:transform; 
    
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0%;
      height: 5px;
      background-color: $primary;
      transition: 0.5s;
    }
    
    &:hover {
      transform: scale(1.05);
      -webkit-box-shadow: 0 20px 35px 0 rgba(0, 0, 0, .08);
      box-shadow: 0 20px 35px 0 rgba(0, 0, 0, .08);
      
      &:after {
        width: 100%;
      }
      
    }
    & .card-header {
      background-color: white;
      padding-left: 2rem;
      border-bottom: 2px solid #ddd;
      margin-bottom: 1em;
    }
    & .card-title {
      margin-bottom: 1rem;
    }
    & .card-block {
      padding-top: 0;
      min-height: 230px;
      p {
        padding: 1em;
        span {
          color:#da6664;
        }
      }
    }
    & .list-group-item {
      border: 0px;
      padding: .25rem;
      color: $main-font-color;
      font-weight: $main-font-weight;
    }
  }

  // Price
  .display-2 {
    font-size: 1.5em;
    letter-spacing: normal;
    color: #aaa;
    font-weight: 600;
    & .currency {
      font-size: 2.75rem;
      position: relative;
      font-weight: $main-font-weight + 100;
      top: -45px;
      letter-spacing: 0px;
    }
    & .period {
      font-size: 1rem;
      color: lighten($main-font-color, 20%);
      letter-spacing: 0px;
    }
  }

  // Buttons
  .btn {
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: $main-font-weight + 200;
    color: lighten($main-font-color, 15%);
    border-radius: 0;
    padding: .75rem 1.25rem;
    letter-spacing: 1px;
  }

  .btn-gradient { 
    background-color: #f2f2f2;
    transition: background .3s ease-in-out;
    
    &:hover {
      color: white;
      background-color: $primary;
    }
  }
}
.harga-hardware {
  .card {
    .card-block {
      min-height: 600px;
      .list-group {
        text-align: left;
      }
      .btn {
        padding: .75em 4.50em;
      }
    }
  }
}

.trial-box {
  padding: 2em 0 3em;
  .trial-content {
    color: $white;
    padding: 2em;
    background-image: linear-gradient(45deg, #0094C9 0%, #00DBD2 100%);
    border-radius: 20px;
    h3 {
      padding-bottom: 1em;
      font-size: 2.2em;
      font-weight: 700;
    }
    p {
      color: $white;
      padding-bottom: 1.5em;
    }
    form {
      padding-bottom: 1em;
      display: inline-flex;
      input {
        height: 65px;
        width: 500px;
        border-radius: 8px;
      }
      button {
        height: 65px;
        border-radius: 8px;
        line-height: 65px;
        padding: 0 3em;
      }
    }
  }
}

.page-footer {
  background-color: $white;
  box-shadow: 0px -5px 10px #eee;
  hr {
    margin: 0px;
  }
  .row {
    height: 100px;
    .img-logo1 {
      height: 80px;
    }
    .img-logo2 {
      height: 25px;
    }
  }
  p {
    color: $secondary;
    margin: 0;
    align-items: center;
    display: flex;
    text-align: left;
  }
  ul {
    li {
      color: $tertiary;
      .nav-link {
        padding: 0.5rem 1.2rem;
        color: inherit;
      }
      a {
        color: $tertiary;
        font-weight: 700;
        &:hover {
          color: $primary;
          transition: all .3s ease-in-out;
        }
      }
    }
  }
}

.about-main-header,.pricing-main-header, .privacy-main-header {
  height: 420px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0094c9+0,0094c9+100&0.5+0,0.5+100 */
  background: -moz-linear-gradient(left, rgb(127, 211, 229) 0%, rgb(127, 218, 230) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgb(127, 211, 229) 0%, rgb(127, 218, 230) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgb(127, 211, 229) 0%, rgb(127, 218, 230) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  align-items: center;
  background-size: cover;
  h1 {
    font-size: 48px;
    font-family: $nunito;
    font-weight: 600;
    color: $white;
  }
  h5 {
    font-size: 20px;
    font-family: $nunito;
    color: $white;
  }
}


.features-container {
  padding: 0 0 3em;
  position: relative;
  .features-nav {
    margin-top: 3em;
    #side {
      padding-top: 7em;
    }
    .nav-link {
      padding: 1.5em 1.5em;
      margin-bottom: .5em;
      color: $tertiary;
      border-radius: 10px;
      &:hover {
        background-color: $white;
        color: $primary;
        box-shadow: 0px 0px 20px rgba(74,144,226,0.16);
      }
      h3 {
        margin-bottom: 0;
        font-size: 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
    .nav-link.active {
      background-color: $white;
      color: $primary;
      box-shadow: 0px 0px 20px rgba(74,144,226,0.16);
    }
  }
  .features-content {
    position: relative;
    text-align: center;
    margin-top: 3em;
    h2 {
      font-size: 36px;
      padding: 3em 0 1em 0;
    }
    #list-1, #list-2, #list-3, #list-4, #list-5 {
      padding: 0 1.5em;
      height: 100%;
      img {
        max-height: 295px;
        padding-bottom: 2em;
      }
    }
  }
}

.contact-form-sec {
  padding: 0 1em;
  .contact-form-content {
    background-color: $white;
    box-shadow: 0 2px 20px 0 rgba(74,144,226,0.16);
    border-radius: 20px;
    top: -5em;
    position: relative;
    a {
      color: $white !important;
    }
  }
}


// error page //

body.error-page-404 { 
  background-image: url(../images/404_imga.png) ;
}
body.error-page-403 { 
  background-image: url(../images/403_imga.png) ;
}
body.error-page-500 { 
  background-image: url(../images/500_imga.png) ;
}
.error-page-404, .error-page-403, .error-page-500 {
  background-position: center 20%;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: $light-blue;
  .error-content {
    height: 100%; 
    width: 100%;
    color: $white;
    h1 {
      font-size: 96px;
      padding: .3em 0 .1em;
    }
    h3 {
      font-size: 36px;
      padding-bottom: .3em;
    }
  }
}

// custom responsive

@include media-breakpoint-between(xs, md) {
  .main-header-part {
    height: 785px;
    background-position: -220px -70px;
    h1 {
      font-size: 40px;
    }
    h5 {
      font-size: 18px;
    }
  }
  .why-part-xs {
    .inner-why-part {
      .row {
        h3 {
          font-size: 1.8em;
        }
        .img-text-contain-left, .img-text-contain-right {
          padding: 1em;
        }
      }
    }
  }
  .trial-box {
    .trial-content {
      h3 {
        font-size: 2em; 
      }
    }
  }
}

@include media-breakpoint-between(xs,lg) {
  .why-part {
    .inner-why-part {
      .row {
        h3 {
          font-size: 1.8em;
        }
        .img-text-contain-left, .img-text-contain-right {
          padding: 2em;
        }
      }
    }
  }
  .why-part-xs {
    .inner-why-part {
      .row {
        h3 {
          font-size: 1.8em;
        }
        .img-text-contain-left, .img-text-contain-right {
          padding: 1em;
        }
        p {
          line-height: 22px;
          padding-top: .6rem;
        }
      }
    }
  }
}

@include media-breakpoint-down(xl) {
  .error-page-404, .error-page-403, .error-page-500 {
    background-position: center 33%;
  }
}

@include media-breakpoint-up(lg) {
  .why-part, .part-others-about {
    display: block;
  }
  .why-part-xs, .part-xs-about {
    display: none;
  }
  .navbar-nav .nav-item {
    align-self: center;
  }
  .page-footer {
    .nav {
      justify-content: flex-end;
    }
  }
}

@include media-breakpoint-down(md) {
  .why-part, .part-others-about {
    display: none;
  }
  .why-part-xs, .part-xs-about {
    display: block;
  }
  .trial-box .trial-content form {
    input {
      width: 325px;
    }
  }
  .error-page-404, .error-page-403, .error-page-500 {
    background-position: center 10%;
  }
}

@include media-breakpoint-down(sm) {
  .error-page-404, .error-page-403, .error-page-500 {
    .error-content {
      h1 {
        font-size: 40px;
      }
      h3 {
        font-size: 18px;
      }
    }
  }
  .why-part, .part-others-about {
    display: none;
  }
  .why-part-xs, .part-xs-about {
    display: block;
  }
  .main-header-part, .features-header-part {
    margin-top: 85px;
    background-position: -250px -20px;
    .overlay {
      height: 100%;
      .mesin-kawn {
        padding-top: 2em;
      }
    }
  }
  .features-header-part  {
    background-position: right;
  }
  .features-container {
    .features-nav{
      display: none;
    }
    .features-content {
      height: 100%;
    }
  }
  .trial-box .trial-content form {
    flex-flow: column;
    input {
      width: 100%;
    }
  }
  .navbar-custom {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0094c9+0,0094c9+100&0.5+0,0.5+100 */
    background: -moz-linear-gradient(left, rgb(127, 211, 229) 0%, rgb(127, 218, 230) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgb(127, 211, 229) 0%, rgb(127, 218, 230) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgb(127, 211, 229) 0%, rgb(127, 218, 230) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
  .pricing-main-header, .about-main-header {
    margin-top:85px;
  }
  .page-footer {
    .row {
      height: 100%;
      padding-bottom:1em;
      .icon-nav{
        display: inline-flex;
      }
      .img-logo2 {
        height: 25px;
        margin: 1em 0;
      }
      ul {
        display: inline-flex;
      } 
    }
  }
}

@include media-breakpoint-down(xs) {
  .error-page-404, .error-page-403, .error-page-500 {
    .error-content {
      h1 {
        font-size: 40px;
        padding: .5em 0 .1em;
      }
      h3 {
        font-size: 18px;
        padding-bottom: .5em;
      }
    }
  }
  .why-part, .part-others-about {
    display: none;
  }
  .why-part-xs, .part-xs-about {
    display: block;
  }
  .navbar-custom {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0094c9+0,0094c9+100&0.5+0,0.5+100 */
    background: -moz-linear-gradient(left, rgb(127, 211, 229) 0%, rgb(127, 218, 230) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgb(127, 211, 229) 0%, rgb(127, 218, 230) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgb(127, 211, 229) 0%, rgb(127, 218, 230) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
  .main-header-part, .features-header-part {
    a.play-btn {
      padding: .6em .8em;
    }
  }
  .features-container {
    .features-nav{
      display: none;
    }
    .features-content {
      height: 100%;
    }
  }
  .trial-box .trial-content form {
    flex-flow: column;
    input {
      width: 100%;
    }
  }
  .page-footer {
    .row {
      height: 100%;
      padding-bottom:1em;
      p {
        font-size: 12px;
      }
      .icon-nav{
        display: inline-flex;
      }
      .img-logo2 {
        height: 25px;
        margin: 1em 0;
      }
      ul li {
        .nav-link {
          padding: 0.5rem .8rem;
          font-size: 10px;
        }
      }
    }
  }
}
.navbar-custom {
  .navbar-toggler {
    background-color: transparent;
  }
}

.navbar-light {
  .navbar-toggler {
    color:#fff;
    border-color: #fff;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
  }
}