@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/root";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/transitions";
@import "bootstrap/dropdown";
@import "bootstrap/button-group";
@import "bootstrap/input-group";
@import "bootstrap/custom-forms";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/card";
@import "bootstrap/breadcrumb";
@import "bootstrap/pagination";
@import "bootstrap/badge";
@import "bootstrap/jumbotron";
@import "bootstrap/alert";
@import "bootstrap/progress";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/close";
@import "bootstrap/modal";
@import "bootstrap/tooltip";
@import "bootstrap/popover";
@import "bootstrap/carousel";
@import "bootstrap/utilities";
@import "bootstrap/print";

@import "variables";
@import "data-tables";
@import "buttons";
@import "dropdown";
@import "misc";
@import "navbar";
@import "forms";
@import "sidebar";
@import "switch-button";
@import "daterangepicker";
@import "image-upload-box";
@import "menu-icons";
@import "subscriptions";
@import "tables";
@import "typeahead";
@import "multiple_select";

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background: $background-color;
  font-weight: initial;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
}

.form-control,
.form-control:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.form-control {
  box-shadow: none;
}

.form-control:focus {
  outline: 0;
  box-shadow: none;
}
a{
  color: $primary-blue;
}

.container-fluid{
  padding-left:0;
  padding-right: 0;
  overflow-x: hidden;
}

a,
div,
h1,
h2,
h3,
h4,
h5,
p,
span {
  text-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $font-family-nunito;
}

p {
  font-size: 0.875rem;
}

h1,
.h1 {
  font-size: 2.19rem;
}

h2,
.h2 {
  font-size: 1.88rem;
}

h3,
.h3 {
  font-size: 1.56rem;
}

h4,
.h4 {
  font-size: 1.13rem;
}

h5,
.h5 {
  font-size: 1rem;
}

h6,
.h6 {
  font-size: .9375rem;
}

p {
  font-size: .9375rem;
  line-height: 1.5;
}

[type=button]:focus,
a:active,
a:focus,
a:visited,
button::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner,
input[type=file] > input[type=button]::-moz-focus-inner,
select::-moz-focus-inner {
  outline: 0;
}

input,
.form-control:focus,
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
  outline-width: 0;
  outline-color: transparent;
  box-shadow: none;
  outline-style: none;
}

textarea {
  resize: none;
  overflow-x: hidden;
}

.btn,
.btn-group.open .dropdown-toggle,
.btn:active,
.btn:focus,
.btn:hover,
.btn:visited,
a,
a:active,
a:checked,
a:focus,
a:hover,
a:visited,
body,
button,
button:active,
button:hover,
button:visited,
div,
input,
input:active,
input:focus,
input:hover,
input:visited,
select,
select:active,
select:focus,
select:visited,
textarea,
textarea:active,
textarea:focus,
textarea:hover,
textarea:visited {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
button,
button:active,
button:checked,
button:focus,
button:hover,
button:visited {
  outline: 0;
  outline-offset: 0;
}

.bootstrap-select .dropdown-toggle:focus {
  outline: 0;
  outline-offset: 0;
}

.dropdown-menu > li > a:active,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:visited {
  outline: 0;
}

a:focus,
input:focus {
  border-color: transparent;
  outline: none;
}

ul {
	padding-left: 1rem;
	font-size: 0.875rem;
	li {
		line-height: 1.8;
	}
}
ol {
	padding-left: 1rem;
	font-size: 0.875rem;
	li {
		line-height: 1.8;
	}
}
dl {
	padding-left: 1rem;
	font-size: 0.875rem;
	li {
		line-height: 1.8;
	}
}


// Filters
#date_filter {
	a {
		margin-bottom: 8px;
	}
}
#filters {
  select.form-control {
    background-image:
    linear-gradient(45deg, transparent 50%,$solitude 50%),
    linear-gradient(135deg, $solitude 50%, transparent 50%),
    linear-gradient(to right, transparent, transparent);
    background-position:
      calc(100% - 12px) calc(1em),
      calc(100% - 7px) calc(1em),
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      2.5em 2.5em;
		}
		.form-control {
			border: 1px solid $solitude !important;
		}
}

#companyBranch, #detailView, .filters {
	height: 36px !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	font-size: $font-size-14px;
	word-break: normal;
	padding: 5px 20px;
	background-image: linear-gradient(45deg, transparent 50%, $fiord 50%), linear-gradient(135deg, $fiord 50%, transparent 50%), linear-gradient(to right, $white, $white);
	background-position: calc(100% - 12px) calc(1em), calc(100% - 7px) calc(1em), 100% 0;
	background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
}

#reportrange, #dashboardrange {
	border: 1px solid $solitude;
	background-color: $white;
}

.clearable {
	background: $white url("../images/close.gif") no-repeat right -10px center;
	padding: 3px 18px 3px 4px;
	border-radius: 3px;
	transition: background 0.4s;
	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}
}
.clearable.x {
	background-position: right 5px center;
	direction: unset;
}
.clearable.onX {
	cursor: pointer;
}
// End Filters

// Custom Card
.card {
	margin-bottom: 1rem;
	.card-body {
		#summary {
			border-bottom: $solitude 1px solid;
		}
		&.p-8 {
			padding: 8px !important;
		}
	}
	.card-header {
		background-color: $white;
	}
}
.card-body {
	padding: 16px ! important;
}
.sales-card {
	.card {
		.card-body {
			padding: 1.5rem;
		}
	}
}
.report {
	.card {
		.card-body {
			padding: 1.5rem;
		}
	}
}
#card_header {
	max-height: 40px;
}
.card-bar-line {
	height: 280px;
}
.card-bar {
	height: 578px;
}
// End Custom Card

// Custom Heading
.heading-1 {
  color: $primary-blue;
  font-family: $font-family-nunito;
  letter-spacing: 0;
  font-weight: 100;
}
.heading-2 {
	font-size: 1.75rem;
}
.heading-3 {
	font-size: 1.2rem;
}
// End Custom Heading


@media screen and (max-width: 991px) {
  .sidebar-offcanvas {
    position: fixed;
    max-height: calc(100vh - 50px);
    bottom: 0;
    overflow: auto;
    z-index: 999;
    left: -260px;
    -webkit-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .page-body-wrapper {
    &.subscribe {
      .sidebar-offcanvas {
        top: 50px;
      }
    }
    &.trial {
      .sidebar-offcanvas {
        top: 90px;
      }
    }
    &.expired {
      .sidebar-offcanvas {
        top: 90px;
      }
    }
  }

  section.action-button-content {
    margin-right: 24px !important;
  }

  .secondary-sidebar {
    left: 0;
  }

  .sidebar-offcanvas.active {
    left: 0;
  }
  .navbar.default-layout-navbar {
    background: $white;
    border-bottom: $solitude 1px solid;
    .navbar-brand-wrapper {
      width: auto;
      border-right: 0;
      border-bottom: 0;
    }
    .navbar-menu-wrapper {
      width: auto;
      background: $white;
      .navbar-toggler.navbar-toggler-right {
        padding-right: 8px;
        border-right: none;
      }
      .navbar-nav {
        &.navbar-nav-right{
          width: 80%;
          .nav-item {
            &.nav-profile {
              width: 100%;
            }
          }
        }
        .nav-item {
          &.nav-profile {
            .nav-link {
              .nav-profile-text {
                margin-right: .5rem;
              }
            }
          }
        }
      }
    }
  }
  .dropdown-toggle {
    .icons {
      i {
        top: 15px;
        right: auto;
      }
    }
  }
  .subscription-info {
	  padding: 2px !important;
	}
  .subscription-info {
    font-size: 12px;
  }
  .main-panel {
    margin-left: 0 !important;
  }
  .content-wrapper {
    padding: 0 15px 15px 15px !important;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block !important;
    margin-bottom: 40px;
	}
	.mobile-filter {
		display: block !important;
	}
	.trial {
		padding-top: 90px;
	}
	.expired {
		padding-top: 90px;
	}
	.main-tab {
	  padding-top: 48px;
	}
	#date_filter {
	  padding: 16px;
	}
	#dashboardrange, #date-label, #daterange {
	  display: none !important;
	}
}


@media (max-width: 991px) {
  .main-panel {
    margin-left: 0;
    width: 100%;
  }
  .fixed-top {
    max-height: 60px;
  }
}

/* Custom SCSS */
.collapse .nav .nav-item.submenu-active a{
  color: $primary-blue !important;
}

.mobile, .mobile-filter{
  display: none;
}

.main-panel {
  // transition: width 0.25s ease, margin 0.25s ease;
  margin-left: 250px;
  width: 100%;
  // min-height: calc(100vh - 20px);
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  overflow-x: hidden;
}


.btn-outline-primary {
	&:not([disabled]) {
		&:not(.disabled) {
			&:active {
				box-shadow: none;
			}
		}
		&:not(.disabled).active {
			box-shadow: none;
		}
	}
}
.show {
	>.btn-outline-primary.dropdown-toggle {
		box-shadow: none;
	}
}
.p-0 {
	padding-left: 0;
	padding-right: 0;
}

.action-toggle {
	color: #212529;
	font-size: 16px;
}
.action-toggle-menu {
	font-size: $font-size-14px;
}

.upload-instruction {
	color: $grey-chateau-2;
	font-family: $font-family-nunito;
	font-size: 13px;
	text-align: center;
	line-height: 1.25;
}

#div_id_promo_type-promo_type {
	.form-check {
		display: inline;
		margin: 10px;
		cursor: pointer;
		label {
			cursor: pointer;
			display: inline;
			padding: 25px;
			border: 2px solid $grey-chateau-2;
			border-radius: 3px;
		}
		input {
			visibility: hidden;
		}
	}
}
.form-check {
	margin-top: 8px;
}
.check-all {
	color: $link-water;
	font-size: 12px;
}
#div_id_promo_configuration_form-outlet {
	display: none;
}
#div_id_promo_configuration_form-allow_days {
	display: none;
}

.form-group.formset {
	margin-bottom: 2px;
}
#modifiers_formset {
	.form-group {
		margin-bottom: 2px;
	}
}
#varaint_formset {
	.form-group {
		margin-bottom: 2px;
	}
}

#variant_products {
	border-top: 1px solid $solitude-2;
}
#products_header {
	border-top: 1px solid $solitude-2;
}
#modifier_products {
	border-top: 1px solid $solitude-2;
}

.btn#delete-item-modifier {
	margin-bottom: 2px;
}
.btn#delete-item-variant {
	margin-bottom: 2px;
}
.variants-field {
	-ms-flex: 0 0 76%;
	flex: 0 0 76%;
	max-width: 76%;
}
.values-field {
	-ms-flex: 0 0 92%;
	flex: 0 0 92%;
	max-width: 92%;
}
.delete-variant-btn {
	-ms-flex: 0 0 24%;
	flex: 0 0 24%;
	max-width: 24%;
}
.delete-btn {
	-ms-flex: 0 0 8%;
	flex: 0 0 8%;
	max-width: 8%;
}
#product-summary {
	font-family: $font-family-nunito;
	font-size: $font-size-14px;
	font-weight: 400;
	margin-bottom: 0 !important;
}

.modal-open {
	overflow: scroll;
}
.add-product {
	cursor: pointer;
}
.add-variants {
	cursor: pointer;
}
.add-modifiers {
	cursor: pointer;
}
#delete-item-product {
	cursor: pointer;
	color: #FF4C4C;
	&:hover {
		color: #ff3232;
		text-decoration: none;
	}
}
#delete-item-modifier {
	cursor: pointer;
	color: #FF4C4C;
	&:hover {
		color: #ff3232;
		text-decoration: none;
	}
}
#delete-item-variant {
	cursor: pointer;
	color: #FF4C4C;
	&:hover {
		color: #ff3232;
		text-decoration: none;
	}
}
.content {
	overflow-x: hidden;
}
.invalid-feedback {
	display: inline;
	font-size: 12px;
}

.image {
	min-height: 150px;
}
.image-detail {
	width: 100%;
}
.default-image-none {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	text-align: center;
	top: 35%;
	width: 100%;
	i {
		font-size: 60px;
		color: $grey-chateau-2;
	}
}
.preview-image {
	max-height: 96px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
.preview {
	background: $alice-blue;
	padding: 0;
	border-radius: .25rem;
	.preveiw-header {
		padding: 30px 30px 5px 30px;
		margin-bottom: 1rem;
		border-top-left-radius: .25rem;
		border-top-right-radius: .25rem;
	}
	.struk-preview {
		margin-top: 30px;
		margin-bottom: 30px;
		background: $white;
	}
}
.receipt-header {
	border-bottom: 1px solid $solitude;
	margin-bottom: 1rem;
}
.struk-preview {
	font-size: $font-size-14px;
	font-family: $font-family-nunito;
	p {
		font-size: $font-size-14px;
		font-family: $font-family-nunito;
	}
}
.receipt-info {
	border-bottom: 2px dashed #ccc;
}
.purchase-detail {
	border-bottom: 2px dashed #ccc;
}
.subtotal-detail {
	border-bottom: 2px dashed #ccc;
}
.social-icon {
	background: #7B8E9C;
	height: 25px;
	width: 25px;
	font-size: $font-size-14px;
	color: $white;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
	padding: 5px;
}
.receipt-image-upload {
	color: #7B8E9C;
	font-family: $font-family-nunito;
	font-size: $font-size-14px;
}

#header {
	border-bottom: #ccc 1px solid;
}

.divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid $solitude;
}
#report-table-header {
	color: $dark-grey;
	border-bottom: 1px solid $solitude;
}
#report-table {
	border-bottom: 1px solid $solitude;
}
#cash-balance {
	border:0;
	text-align: center;
}
.no-data {
	color: #AAAAAA;
}
.no-data-icon {
	font-size: 84px;
}


.device-user-info,
.detail-cash-balance,
.cash-balance-summary {
	border-bottom: 1px solid $link-water;
}
.gray {
	color: #8996A0;
}

.detail-payment {
	border-left: 1px solid $solitude;
}
.billing-header,
#detail-billing,
.header-detail-subscription {
	border-bottom: 1px solid $solitude;
}

.total-amount {
	color: $primary-blue;
}
.next-billing {
	font-size: 12px;
}
#id_voucher_code {
	text-transform: uppercase;
}
.info-discount {
	color: #00D8A1;
	font-size: 12px;
}
.voucher-applied {
	border-color: #00D8A1 !important;
}
.voucher-discount {
	color: red;
}

.borderless {
	border: none;
	td {
		border: none;
	}
	th {
		border: none;
	}
}
.devider-border-bottom {
	border-bottom: 1px solid $solitude;
}
.devider-border-top {
	border-top: 1px solid $solitude;
}
#checkout-button {
	height: 40px;
}
#cancel-payment {
	height: 40px;
	padding: 12px;
}
.link-off {
	pointer-events: none;
}

.paper-size-80 {
  width: 80%;
}
.paper-size-58 {
  width: 58%;
}

.dummy-card {
  width: 125px;
	height: 125px;
	border-bottom: 1px solid #6dcc4a;
}

.fixed-header-tab {
    position: fixed;
    top: 0 !important;
    z-index: 99;
    width: 100%;
}
.fixed-tab-content {
  margin-top: 102px;
  margin-bottom: 50px;
}

.fixed-no-tab-content {
  margin-top: 52px;
  margin-bottom: 42px;
}

.fixed-bottom-content {
    position: fixed;
    bottom: 0 !important;
    z-index: 99;
    width: 100%;
}

section.action-button-content {
    display: inline-block;
    float: right;
    margin-right: 266px;
    margin-bottom: 8px;
}

.fixed-top-content {
    margin-right: 10px;
    padding: 8px 16px;
}

.link-disabled {
  pointer-events: none;
  background-color: $disabled-light-grey;
  border-radius: 5px;
}

.card {
  border: 1px solid $solitude;
}

hr {
  border-top: 1px solid $solitude;
}
.margin-100 {
  margin: 100px auto;
}

#report p {
  font-family: Nunito;
  line-height: 1;
  strong {
    font-weight: $font-weight-bold;
  }
}

.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

/* Custom SCSS End */

.custom-card-body {
    display: flex;
    flex-wrap: wrap;
}

@include media-breakpoint-between(xs,sm) {
	.main-panel {
		padding-top: 50px;
	}
}
@include media-breakpoint-only(md) {
	.main-panel {
		padding-top: 50px;
	}
}

.form-check-label {
	&.link-red {
		cursor: pointer;
		color: #FF4C4C;
	}
}

.alert-error {
	color: $chestnut;
	background-color: $soft-peach;
	border-color: $pale-rose;
}

.select2, .modelselect2, .modelselect2multiple {
	padding: 0 !important;
}
.select2-selection--single {
	padding: 0;
}