{% extends 'base_email.html' %}
{% load account %}
{% load i18n %}

{% block email_content %}
{% user_display user as user_display %}
	<tr>
		<td valign="top" class="textContent">
			<h2 style="text-align:center;font-family:Helvetica,Arial,sans-serif;margin-bottom:0;color:#5F5F5F;line-height:135%;padding-top:1em;">Diskon Istimewa, Hanya untuk Anda</h2>
		</td>
	</tr>
	<!-- // MODULE ROW -->
	<tr>
		<td valign="top" class="textContent" style="padding-top:0;">
			<div mc:edit="body" style="text-align:center;font-family:Helvetica,Arial,sans-serif;font-size:15px;margin-bottom:0;color:#5F5F5F;line-height:160%;padding-left:20px; padding-right:20px;">{{ event_email_copy|linebreaksbr }}</div>
		</td>
	</tr>
	<tr>
		<td align="center" valign="top" >
			<!-- CONTENT TABLE // -->
			<table border="0" cellpadding="0" cellspacing="0" width="85%" class="emailButton" style="background-color: #E8E9ED;">
				<tr>
					<td valign="top" class="textContent">
						<div mc:edit="body" style="text-align:center;font-family:Helvetica,Arial,sans-serif;font-size:15px;margin-bottom:0;color:#5F5F5F;line-height:160%;padding-top:20px;padding-left:20px;padding-right:20px;">Gunakan e-voucher ini di halaman pembayaran untuk menikmati potongan langsung {{ voucher_discount }}.</div>
					</td>
				</tr>
				<tr>
					<td align="center" valign="top">
						<table border="0" cellpadding="0" cellspacing="0" width="50%" class="emailButton" style="background-color: #EB9928;margin-top:15px;margin-bottom:15px;border-radius:5px;">
							<tr>
								<td align="center" valign="middle" class="buttonContent" style="padding-top:10px;padding-bottom:10px;padding-right:15px;padding-left:15px;margin:10px;"><a style="color:#FFFFFF;text-decoration:none;font-family:Helvetica,Arial,sans-serif;font-size:15px;line-height:160%;" href="{{ activate_url }}" target="_blank">Gunakan Voucher</a></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td align="center" valign="top">
						<table border="0" cellpadding="0" cellspacing="0" width="50%" class="emailButton" style="margin-bottom:20px;">
							<tr>
								<td valign="top" class="textContent">
									<div mc:edit="body" style="text-align:left;font-family:Helvetica,Arial,sans-serif;font-size:15px;margin-bottom:0;color:#5F5F5F;line-height:135%; padding:5px;">Kode Voucher: </div>
								</td>
								<td valign="top" class="textContent" style="background-color: #fff;">
									<div mc:edit="body" style="text-align:center;font-family:Helvetica,Arial,sans-serif;font-size:15px;margin-bottom:0;color:#5F5F5F;line-height:135%; padding:5px;">{{ voucher_code }}</div>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<!-- // CONTENT TABLE -->
		</td>
	</tr>
	<tr>
		<td valign="top" class="textContent">
			<div mc:edit="body" style="text-align:center;font-family:Helvetica,Arial,sans-serif;font-size:15px;margin-bottom:0;color:#5F5F5F;line-height:160%;padding-left:20px; padding-right:20px;padding-bottom:1em;">#KAWNOnUs! KAWN siap memudahkan seluruh proses transaksi dan inventori bisnis Anda mulai hari ini!</div>
		</td>
	</tr>
{% endblock %}