{% extends "dashboard/base_datatable.html" %}
{% load static i18n humanize %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Cash Balance" %}{% endblock %}

{% block reports_active_class %}active{% endblock %}
{% block mobile_reports_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_reports_show %}show{% endblock %}
{% block cash_balance_active_class %}submenu-active{% endblock %}
{% block mobile_cash_balance_active_class %}submenu-active{% endblock %}

{% block datatable_title %}
{% trans "Cash Balance" %}
{% endblock datatable_title %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}

{% block datatable_panel_title %}
{% trans "Cash Balance" %}
{% endblock datatable_panel_title %}

{% block action_button %}
<div class="p-0 position-fixed" style="right:20px;">
  <label id="exportcsvrange" class="btn btn-primary btn-lg fixed-top-content export-date-calendar" style="width: 150px;">
        &nbsp;<span>
            {% trans "Export CSV" %}
        </span>
        &nbsp;<i class="fa fa-angle-down"></i>
  </label>
</div>
{% endblock action_button %}

{% block date_range %}
{% if has_cash_balance %}
<div id="filters" class="align-items-center">
  <div class="row">
    <div class="col-lg-10">
      {% include "partials/datatable_filters.html" with view_name="cash_balance:data_cash_balance" %}
    </div>
    <div class="col-lg-2">
      <div class="float-xl-right d-flex justify-content-between">
        <a href="{% url 'cash_balance:active_list'%}" class="btn btn-outline-primary">
          {% blocktrans with active_count=active_cash_balances.count %}You have {{active_count}} active shift{% endblocktrans %}
        </a>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}

{% block datatable_id %}cash_balance_list{% endblock datatable_id %}

{% block datatable_thead_tr %}
<th>{% trans "Device User" %}</th>
<th>{% trans "Outlet" %}</th>
<th class="text-date">{% trans "Start Shift" %}</th>
<th class="text-date">{% trans "End Shift" %}</th>
<th class="text-right">{% trans "Opening Balance" %}</th>
<th class="text-right">{% trans "System Income" %}</th>
<th class="text-right">{% trans "Closing Balance" %}</th>
<th class="text-right">{% trans "Difference" %}</th>
{% endblock datatable_thead_tr %}

{% block datatable_filter %}
{% if has_cash_balance %}
<tr class='datatable-filter'>
  <td>
    <div class="datatable-filter-input-group">
      <div class="input-group mtm">
        <input type="text" class="form-control extra-table-control" placeholder="Search...">
      </div>
    </div>
  </td>
  <td></td>
  <td>
    <div class="datatable-filter-input-group">
      <div class="input-group mtm">
        <input type="hidden" disabled class="form-control extra-table-control" placeholder="Search...">
      </div>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group">
      <div class="input-group mtm">
        <input type="hidden" disabled class="form-control extra-table-control" placeholder="Search...">
      </div>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group">
      <div class="input-group mtm">
        <input type="text" class="form-control extra-table-control" placeholder="Search...">
      </div>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group">
      <div class="input-group mtm">
        <input type="text" class="form-control extra-table-control" placeholder="Search...">
      </div>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group">
      <div class="input-group mtm">
        <input type="text" class="form-control extra-table-control" placeholder="Search...">
      </div>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group">
      <div class="input-group mtm">
        <input type="text" class="form-control extra-table-control" placeholder="Search...">
      </div>
    </div>
  </td>
</tr>
{% endif %}
{% endblock datatable_filter %}

{% block sub_content %}
{% if not has_cash_balance %}
<div class="tab-content pt-5" id="table-management-tab-content">
  <div class="tab-pane show active" id="table-management" role="table-management" aria-labelledby="table-management-tab">
  <div class="w-100">
      <div class="card-body py-0 px-3">
        <div class="text-center">
          <img alt="disable" src="{% static 'images/disable_page.svg' %}" style="width: 160px">
        <div style="margin-top:32px; margin-bottom:32px;">
             <h3 class="mb-3">Fitur ini sedang tidak aktif</h3>
             <p class="text-muted text-center my-0">Anda dapat mengaktifkan fitur Rekap Kas dengan mengikuti link dibawah ini.</p>
        </div>
        <a class="btn btn-primary my-3" href="{% url 'cash_balance:settings_disable' %}">Aktifkan Fitur</a>
        </div>
    </div>
  </div>
  </div>
</div>
{% else %}
{{ block.super }}
{% endif %}
{% endblock %}

{% block javascript %}
{{ block.super }}

<script>
  $(document).ready(function () {
    base_url = "{% url 'cash_balance:data_cash_balance' %}"

    tableOptions = {
      pageLength: 25,
      order: [[ 2, "desc" ]],
      columnDefs: [
        {
          targets: 'text-right',  className: 'text-right',
          render: function (data, type, full, meta) {
            return parseInt(data).toLocaleString('id')
          },
        },
        {
          targets: 'text-date',
          render: function (data, type, full, meta) {
            var data_date = data;
            if (type == 'display' && data_date != "") {
                var new_date = moment(data_date);
                date = new_date.format('DD/MM/YYYY HH:mm:ss');
                return date;
            }
            return "-";
          },
        },
        {
          'targets': [0,],
          'render': function (data, type, row) {

            return '<a href="' + data[0] + '" >' + data[1] + '</a>'
          },
        },
      ],
    }
  });

</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
<script type="text/javascript" src="{% static 'js/csv-export.js' %}"></script>
<script type="text/javascript">
  $("#companyBranch").change(function() {
    table.ajax.url(this.value).load();
  });
  $('#companyBranchClear > .datatable-clearfilter').click(function(e){
    e.preventDefault();
    table.ajax.url(base_url);
  });
</script>
{% endblock %}
