{% extends "dashboard/base_datatable.html" %}
{% load static i18n humanize %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Cash Balance" %}{% endblock %}

{% block reports_active_class %}active{% endblock %}
{% block mobile_reports_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_reports_show %}show{% endblock %}
{% block cash_balance_active_class %}submenu-active{% endblock %}
{% block mobile_cash_balance_active_class %}submenu-active{% endblock %}

{% block datatable_title %}
{% trans "Cash Balance" %}
{% endblock datatable_title %}

{% block datatable_breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item"><a href="{% url 'cash_balance:list' %}">{% trans "Cash Balance" %}</a></li>
  <li class="breadcrumb-item active">{{ object.device_user.name }}, {{ object.outlet.name}} - {{object.start_date}} {% if object.end_date %}s/d {{object.end_date}}{% else %}(<strong>{% trans "Not Closed" %}</strong>){% endif %}</li>
{% endblock datatable_breadcrumb %}

{% block datatable_panel_title %}
{% trans "Cash Balance" %}
{% endblock datatable_panel_title %}

{% block sub_content %}
<div class="w-100">
  <div class="report mb-4">

    {% if not object.end_date %}
    <div class="alert alert-warning" role="alert">
      {% trans "Rekap Kas ini masih Aktif. Kalkulasi data transaksi masih bisa berubah." %}
    </div>
    {% endif %}

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{% trans "Information" %}</h5>
        <div class="d-flex justify-content-between" id='report-table'>
          <p class="m-3">{% trans "Device User" %}</p>
          <p class="m-3">{{ object.device_user.name }}</p>
        </div>
        <div class="d-flex justify-content-between" id='report-table'>
          <p class="m-3">{% trans "Outlet" %}</p>
          <p class="m-3">{{object.outlet.name}}</p>
        </div>
        <div class="d-flex justify-content-between" id='report-table'>
          <p class="m-3">{% trans "Shift Time" %}</p>
          <p class="m-3">{{object.start_date}} {% if object.end_date %}s/d {{object.end_date}}{% else %}(<strong>{% trans "Not Closed" %}</strong>){% endif %}</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{% trans "Cash Flow" %}</h5>
        <div class="d-flex justify-content-between" id='report-table'>
            <p class="m-3">{% trans "Opening Balance" %}</p>
            <p class="m-3"></p>
            <p class="m-3">{{ object.opening_balance|intcomma }}</p>
          </div>
        <div class="d-flex justify-content-between" id='report-table'>
          <p class="m-3">{% trans "Transaction Balance" %}</p>
          <p class="m-3"></p>
          {% if not object.end_date %}
          <p class="m-3">{{ object.temp_transaction_balance|intcomma }}</p>
          {% else %}
          <p class="m-3">{{ object.transaction_balance|intcomma }}</p>
          {% endif %}
        </div>
        {% for payment_detail in payment_list %}
          <div class="d-flex justify-content-between" id='report-table'>
            <small class="m-3 ml-5">{{ payment_detail.payment_name|title }}</small>
            <small class="m-3 mr-5">{{ payment_detail.payment_net|intcomma }}</small>
          </div>
        {% endfor %}
        {% if voided_sales_order.exists %}
          <div class="d-flex justify-content-between" id='report-table'>
            <small class="m-3 ml-5">{% trans "Canceled Transaction" %}</small>
            <small class="m-3 mr-5">{{ total_voided_transaction|intcomma }}</small>
          </div>
        {% endif %}
        <div class="d-flex justify-content-between" id='report-table'>
          <p class="m-3">{% trans "Cash In/Cash Out" %}</p>
          <p class="m-3"></p>
          {% if not object.end_date %}
          <p class="m-3">{{ object.accumulated_balance|intcomma }}</p>
          {% else %}
          <p class="m-3">{{ object.temp_accumulated_balance|intcomma }}</p>
          {% endif %}
        </div>
        {% for cash_balance in object_list %}
          <div class="d-flex justify-content-between align-middle" id='report-table'>
              <small class="m-3 ml-5">{{ cash_balance.get_status_display|title }} <br/> ({% if cash_balance.description %}{{ cash_balance.description|title }}{% else %}{% trans "No Description" %}{% endif %})</small>
            <small class="m-3">{{ cash_balance.transaction_date|date:'Y-n-j H:i:s' }}</small>
            <small class="m-3 mr-5">{% if cash_balance.status == "cash_out" %}-{% endif %}{{ cash_balance.balance|intcomma }}</small>
          </div>
        {% endfor %}
        <div class="d-flex justify-content-between font-weight-bold" id='report-table'>
          <p class="m-3">{% trans "System Income" %}</p>
          <p class="m-3"></p>
          <p class="m-3">{{ object.cash_income|intcomma }}</p>
        </div>
        <br/>
        <div class="d-flex justify-content-between" id='report-table'>
          <p class="m-3">{% trans "Closing Balance" %}</p>
          <p class="m-3"></p>
          <p class="m-3">{{ object.closing_balance|intcomma }}</p>
        </div>
        {% for balance_detail in object.balance_list.all %}
          <div class="d-flex justify-content-between" id='report-table'>
            <small class="m-3 ml-5">{{ balance_detail.get_payment_name_display|title }}</small>
            <small class="m-3 mr-5">{{ balance_detail.balance|intcomma }}</small>
          </div>
        {% endfor %}
        <div class="d-flex justify-content-between font-weight-bold" id='report-table'>
          <p class="m-3">{% trans "Difference" %}</p>
          <p class="m-3"></p>
          <p class="m-3">{{ object.cash_difference|intcomma }}</p>
        </div>
        <hr>
        <div class="d-flex justify-content-between" id='report-table'>
            <p class="m-3">{% trans "Transaction Count" %}</p>
            <p class="m-3"></p>
            {% if not object.end_date %}
            <p class="m-3">{{ object.temp_transaction_count|intcomma }}</p>
            {% else %}
            <p class="m-3">{{ object.transaction_count|intcomma }}</p>
            {% endif %}
          </div>
      </div>
    </div>
  </div>
</div>

{% endblock sub_content %}

{% block javascript %}
{{ block.super }}

<script>
  var url = window.location.origin = window.location.protocol + "//" + window.location.hostname + (window.location.port ? ':' + window.location.port : '');

  var startDate;
  var endDate;
  var dateUrlExtra = "";

  {% if start_date and end_date %}
  startDate = "{{start_date|date:'Y-n-j H:i:s'}}";
  endDate = "{{end_date|date:'Y-n-j  H:i:s'}}";
  {% endif %}

  if ( startDate != null && endDate != null) {
    dateUrlExtra = "?date={{ request.GET.date }}&startdate=" + startDate + "&enddate=" + endDate
  };

  $(document).ready(function () {
    $('#reportrange').daterangepicker({
      'ranges': {
          'Today': [moment().format('DD/MM/YYYY 00:00:00'), moment().format('DD/MM/YYYY 23:59:59')],
          'Yesterday': [moment().subtract(1, 'days').format('DD/MM/YYYY 00:00:00'), moment().subtract(1, 'days').format('DD/MM/YYYY 23:59:59')],
          'Last 7 day': [moment().subtract(6, 'days').format('DD/MM/YYYY 00:00:00'), moment().format('DD/MM/YYYY 23:59:59')],
          'Last 30 day': [moment().subtract(29, 'days').format('DD/MM/YYYY 00:00:00'), moment().format('DD/MM/YYYY 23:59:59')],
          'Month': [moment().startOf('month').format('DD/MM/YYYY 00:00:00'), moment().endOf('month').format('DD/MM/YYYY 23:59:59')],
          'Last Month': [moment().subtract(1, 'month').startOf('month').format('DD/MM/YYYY 00:00:00'), moment().subtract(1, 'month').endOf('month').format('DD/MM/YYYY 23:59:59')]
      },
      'timePicker':true,
      'timePicker24Hour': true,
      'timePickerSeconds': true,
      'timePickerIncrement':01,
      'opens': "right",
      'locale': {
           'format': 'DD/MM/YYYY HH:mm:ss',
      },
    },
    function (start, end, label) {
      var s = moment(start.toISOString());
      var e = moment(end.toISOString());
      startDate = s.format('YYYY-MM-DD HH:mm:ss');
      endDate = e.format('YYYY-MM-DD HH:mm:ss');
      $('#reportrange span').html(s.format('DD/MM/YYYY HH:mm:ss') + ' - ' + e.format('DD/MM/YYYY HH:mm:ss'));
    });

    $('#reportrange').on('cancel.daterangepicker', function (ev, picker) {
      $(this).val('');
    });

    $('#reportrange').on('apply.daterangepicker',
      function (ev, picker) {
        base_url = "{% if outlet_pk %}{% url 'cash_balance:list' outlet_pk %}{% else %}{% url 'cash_balance:list' %}{% endif %}";
        startdate = picker.startDate.format('YYYY-MM-DD HH:mm:ss');
        enddate = picker.endDate.format('YYYY-MM-DD HH:mm:ss');

        new_url = base_url + "?date=custom&startdate=" + startdate + "&enddate=" + enddate
        window.location = new_url;
    });
    $("#companyBranch").change(function() {
      new_url = this.value + dateUrlExtra
      window.location = new_url;
    });
    $("option[data-pk='{{outlet_pk}}']").prop('selected',true);
    $("#companyBranch").attr('title', $("option[data-pk='{{outlet_pk}}']").text());
  });

</script>
{% endblock %}
