{% extends "dashboard/base_datatable.html" %}
{% load static i18n humanize %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Active Cash Balance" %}{% endblock %}

{% block reports_active_class %}active{% endblock %}
{% block mobile_reports_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_reports_show %}show{% endblock %}
{% block cash_balance_active_class %}submenu-active{% endblock %}
{% block mobile_cash_balance_active_class %}submenu-active{% endblock %}


{% block datatable_title %}
{% trans "Active Cash Balance" %}
{% endblock datatable_title %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}

{% block datatable_panel_title %}
{% trans "Active Cash Balance" %}
{% endblock datatable_panel_title %}

{% block date_range %}
<div id="filters" class="align-items-center">
  <div class="row">
    <div class="col-lg-10">
      {% include "partials/datatable_filters.html" with view_name="cash_balance:data_active_cash_balance" %}
    </div>
    <div class="col-lg-2">
      <div class="float-xl-right d-flex justify-content-between">
        <a href="{% url 'cash_balance:list'%}" class="btn btn-outline-primary">
          {% blocktrans %}Closed Cash Balance{% endblocktrans %}
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block datatable_id %}cash_balance_list{% endblock datatable_id %}

{% block datatable_thead_tr %}
<th>{% trans "Device User" %}</th>
<th>{% trans "Outlet" %}</th>
<th class="text-date">{% trans "Start Shift" %}</th>
<th class="text-right">{% trans "Opening Balance" %}</th>
<th class="text-right">{% trans "System Income" %}</th>
<th class="text-right">{% trans "Closing Balance" %}</th>
<th class="text-right">{% trans "Difference" %}</th>
{% endblock datatable_thead_tr %}

{% block datatable_filter %}
<tr class='datatable-filter'>
  <td>
    <div class="datatable-filter-input-group">
      <div class="input-group mtm">
        <input type="text" class="form-control extra-table-control" placeholder="Search...">
      </div>
    </div>
  </td>
  <td></td>
  <td>
    <div class="datatable-filter-input-group">
      <div class="input-group mtm">
        <input type="hidden" disabled class="form-control extra-table-control" placeholder="Search...">
      </div>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group">
      <div class="input-group mtm">
        <input type="text" class="form-control extra-table-control" placeholder="Search...">
      </div>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group">
      <div class="input-group mtm">
        <input type="text" class="form-control extra-table-control" placeholder="Search...">
      </div>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group">
      <div class="input-group mtm">
        <input type="text" class="form-control extra-table-control" placeholder="Search...">
      </div>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group">
      <div class="input-group mtm">
        <input type="text" class="form-control extra-table-control" placeholder="Search...">
      </div>
    </div>
  </td>
</tr>
{% endblock datatable_filter %}

{% block javascript %}
{{ block.super }}

<script>
  $(document).ready(function () {
    base_url = "{% url 'cash_balance:data_active_cash_balance' %}"

    tableOptions = {
      pageLength: 25,
      order: [[ 2, "desc" ]],
      columnDefs: [
        {
          targets: 'text-right',  className: 'text-right',
          render: function (data, type, full, meta) {
            return parseInt(data).toLocaleString('id')
          },
        },
        {
          targets: 'text-date',
          render: function (data, type, full, meta) {
            var data_date = data;
            if (type == 'display' && data_date != "") {
                var new_date = moment(data_date);
                date = new_date.format('DD/MM/YYYY HH:mm:ss');
                return date;
            }
            return "-";
          },
        },
        {
          'targets': [0,],
          'render': function (data, type, row) {

            return '<a href="' + data[0] + '" >' + data[1] + '</a>'
          },
        },
      ],
    }
  });

</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
{% endblock %}
