{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Rekap Kas" %}{% endblock %}

{% block settings_active_class %}active{% endblock %}
{% block mobile_settings_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_settings_show %}show{% endblock %}
{% block settings_cash_balance_active_class%}submenu-active{% endblock %}
{% block mobile_settings_cash_balance_active_class%}submenu-active{% endblock %}

{% block css %}
  {{ block.super }}
  <!-- Your stuff: Third-party css libraries go here -->
  <style>
    .switch {
      margin-top: 3px;
      position: relative;
      display: inline-block;
      width: 40px;
      height: 20px;
    }

    .switch input {display:none;}

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 12px;
      width: 12px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    .switch input:checked + .slider {
      background-color: #2196F3;
    }

    .switch input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    .switch input:checked + .slider:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }

  </style>
{% endblock %}

{% block content_class %}offset-lg-2 offset-xl-2 col-lg-8 col-xl-8 pt-3 fixed-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block tab_div_style %}background: white; border-bottom: 1px solid #d7d7db;{% endblock %}
{% block tab_section_style %}border-bottom: 1px solid #d7d7db;{% endblock %}

{% block tab_list %}
  <ul class="nav nav-tabs pt-2" id="myTab" role="tablist">
    <li class="nav-item tab-disabled">
      <a class="nav-link" href="#" >{% trans "Settings" %}</a>
    </li>
    <li class="nav-item tab-disabled">
      <a class="nav-link" href="#" >{% trans "Outlet" %}</a>
    </li>
  </ul>
{% endblock %}

{% block message %}
  {% for message in messages %}
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close p-2" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  {% endfor %}
{% endblock %}

{% block enable_settings %}
<div id="div_id_is_enabled" class="form-check col-2 mb-0 p-0" style="margin-top: -3px;"> <label class="switch">
    <input type="checkbox" name="is_enabled" id="id_is_enabled" {% if request.user.account.cashbalancesetting_set.first.is_enabled == True  %} checked{% endif %}>
    <span class="slider round"></span> </label>
</div>
{% endblock %}

{% block content_header %}{% trans "Cash Balance" %}{% endblock %}

{% block sub_content %}
<div class="tab-content pt-5" id="table-management-tab-content">
  <div class="tab-pane show active" id="table-management" role="table-management" aria-labelledby="table-management-tab">
  <div class="w-100">
      <div class="card-body py-0 px-3">
        <div class="text-center">
          <img alt="disable" src="{% static 'images/disable_page.svg' %}" style="width: 160px">
        <div style="margin-top:32px; margin-bottom:32px;">
             <h3 class="mb-3">Fitur ini sedang tidak aktif</h3>
             <p class="text-muted text-center my-0">Anda tidak bisa menggunakan fitur ini.</p>
             <p class="text-muted text-center my-0"> untuk mengaktifkan silahkan klik button dibawah ini.</p>
        </div>
        <button class="btn btn-primary my-3" id="enableBtn">Aktifkan Fitur</button>
        </div>
    </div>
  </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
<script>
 $(document).ready(function($){
      var setting_enable_url = "{% url 'cash_balance:settings_enable' %}";
      var checked = $('.switch #id_is_enabled').is(':checked');
      enable_status ='{{ request.user.account.cashbalancesetting_set.first.is_enabled }}';

      function enable_cashbalancesettings(){
        $.ajax({
          type: 'POST',
          url: setting_enable_url,
          dataType: 'json',
          data: {
            is_enabled : $('.switch #id_is_enabled').is(':checked') ? true : false,
          },

          beforeSend: function(jqXHR, settings){
            jqXHR.setRequestHeader("x-csrftoken", '{{ csrf_token }}');
          },
          success: function(response){
             if (response.data == true){
                var url = "{% url 'cash_balance:settings' %}";
                document.location.href = url ;
             }
          }
        });
      }

      $('.switch #id_is_enabled').on('change', function(){
          enable_cashbalancesettings()
      });

      $("#enableBtn").click(function () {
          $('.switch #id_is_enabled').prop('checked', true);
          enable_cashbalancesettings()
      });

      if (enable_status == 'True'){
          $('.tab-disabled').removeAttr('style', 'pointer-events:none');
      }
      else {
          $('.tab-disabled').attr('style', 'pointer-events:none');
      }
   });
</script>
{% endblock %}
