{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Rekap Kas" %}{% endblock %}

{% block settings_active_class %}active{% endblock %}
{% block mobile_settings_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_settings_show %}show{% endblock %}
{% block settings_cash_balance_active_class%}submenu-active{% endblock %}
{% block mobile_settings_cash_balance_active_class%}submenu-active{% endblock %}


{% block css %}
  {{ block.super }}
  <!-- Your stuff: Third-party css libraries go here -->

  <style>
    .switch {
      margin-top: 3px;
      position: relative;
      display: inline-block;
      width: 40px;
      height: 20px;
    }

    .switch input {display:none;}

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 12px;
      width: 12px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    .switch input:checked + .slider {
      background-color: #2196F3;
    }

    .switch input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    .switch input:checked + .slider:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
  </style>
{% endblock %}

{% block content_class %}col-lg-12 fixed-tab-content p-0{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block tab_div_style %}background: white; border-bottom: 1px solid #d7d7db;{% endblock %}
{% block tab_section_style %}border-bottom: 1px solid #d7d7db;{% endblock %}
{% block action_div_style %}background: white; border-top: 1px solid #d7d7db;{% endblock %}
{% block content_header %}{% trans "Cash Balance" %}{% endblock %}

{% block enable_settings %}
<div id="div_id_is_enabled" class="form-check col-2 mb-0 p-0" style="margin-top: -3px;"> <label class="switch">
    <input type="checkbox" name="is_enabled" id="id_is_enabled" {% if request.user.account.cashbalancesetting_set.first.is_enabled == True  %} checked{% endif %}>
    <span class="slider round"></span> </label>
</div>
{% endblock %}

{% block tab_list %}
  <ul class="nav nav-tabs pt-2" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" href="#" >{% trans "Settings" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'cash_balance:settings_outlet' %}" >{% trans "Outlet" %}</a>
    </li>
  </ul>
{% endblock %}

{% block message %}
  {% for message in messages %}
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close p-2" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  {% endfor %}
{% endblock %}

{% block submit_form %}
    <div class="d-flex justify-content-end" id="fixed-bottom-button">
      <input type="submit" class="btn btn-primary" id="submitBtn" value="{% trans 'Save' %}"/>
    </div>
{% endblock%}
{% block sub_content %}
  <div class="tab-content pt-1" id="password-tab-content">
    <div class="tab-pane show active">
      <form method="post" action="." id="form-content">
        {% crispy form %}
        <div class="justify-content-end col-6 p-0" id="fixed-button-content" style="display: flex;">
          <input type="submit" class="btn btn-primary" value="{% trans 'Save' %}"/>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script src="{% static '/js/button-scrollbar.js' %}"></script>
  <script>
    $(document).ready(function($){
      var setting_enable_url = "{% url 'cash_balance:settings_enable' %}";
      var checked = $('.switch #id_is_enabled').is(':checked');
      enable_status ='{{ request.user.account.cashbalancesetting_set.first.is_enabled }}';

      function enable_cashbalancesettings(){
        $.ajax({
          type: 'POST',
          url: setting_enable_url,
          dataType: 'json',
          data: {
            is_enabled : $('.switch #id_is_enabled').is(':checked') ? true : false,
          },

          beforeSend: function(jqXHR, settings){
            jqXHR.setRequestHeader("x-csrftoken", '{{ csrf_token }}');
          },
          success: function(response){
              if (response.data == false){
                var url = "{% url 'cash_balance:settings_disable' %}";
                document.location.href = url ;
             }
          }
        });
      }

     $('.switch #id_is_enabled').on('change', function(){
        enable_cashbalancesettings()
     });

     if (enable_status == 'False'){
        var url = "{% url 'cash_balance:settings_disable' %}";
        document.location.href = url ;
     }

      function show_all_outlet(input){
        if(input.hasClass('selected')){
          $('#div_id_outlet').hide();
          $('#div_id_outlet input[type="checkbox"]').prop('checked', true);
          $('#div_id_all_outlet').parent().css('border-bottom', '1px solid transparent');
          $('#div_id_all_outlet').css('margin-bottom', '0px');
        }else{
          $('#div_id_outlet').show();
          $('#div_id_all_outlet').parent().css('border-bottom', '1px solid #d7d7db');
          $('#div_id_all_outlet').css('margin-bottom', '12px');
          $('div#div_id_outlet:last-child').css('border-bottom', '0px');
        }
      }
      show_all_outlet($('.switch #id_all_outlet'));

       $("#submitBtn").click(function () {
          $("#form-content").submit();
       });

      $('.switch #id_all_outlet').on('change', function(){
        $(this).toggleClass("selected");
        if($(this).is(':checked')){
          $('#div_id_outlet').hide();
          $('#div_id_outlet input[type="checkbox"]').prop('checked', true);
          $('#div_id_all_outlet').parent().css('border-bottom', '1px solid transparent');
          $('#div_id_all_outlet').css('margin-bottom', '0px');
        }else{
          $('#div_id_outlet').show();
          $('#div_id_outlet input[type="checkbox"]').prop('checked', false);
          $('#div_id_all_outlet').parent().css('border-bottom', '1px solid #d7d7db');
          $('#div_id_all_outlet').css('margin-bottom', '12px');
          $('div#div_id_outlet:last-child').css('border-bottom', '0px');
        }
      });

      function is_enabled(chekced, force_check_all_outlet){
        if(chekced){
          $('#id_all_outlet').removeAttr('disabled', 'disabled');
          $('input[name="outlet"]').removeAttr('disabled', 'disabled');
          if(force_check_all_outlet){
            $('#id_all_outlet').prop('checked', force_check_all_outlet).change();
          }else{
            $('#id_all_outlet').prop('checked', force_check_all_outlet);
          }
          $('#div_id_is_enabled label.col-form-label').html('Rekap Kas Aktif');
        }else{
          $('#id_all_outlet').attr('disabled', 'disabled');
          $('input[name="outlet"]').attr('disabled', 'disabled');
          $('#id_all_outlet').prop('checked', false);
          $('#div_id_outlet').hide();
          $('#div_id_outlet input[type="checkbox"]').prop('checked', false);
          $('#div_id_is_enabled label.col-form-label').html('Rekap Kas Tidak Aktif');
        }
      }
      var checked = $('.switch #id_is_enabled').is(':checked');
      is_enabled(checked, {{ form.all_outlet.initial|lower}});

      $(document).on('change', '.switch #id_is_enabled', function(){
        is_enabled($(this).is(':checked'), true);
      });

    });
  </script>
{% endblock %}
