{% load i18n %}

{% load crispy_forms_field %}

<div class="form-group {% if form_class %}{{ form_class }}{% endif %}">
    <div id="div_id_{{ field.name }}" class="form-check d-flex justify-content-between">
        <label class="col-form-label mb-0">{{ field.label }}</label>
        <label class="switch ml-3 form-check-input">
            {% if object.is_enabled or field.value %}
                <input type="checkbox" name="{{ field.name }}" id="id_{{ field.name }}" checked>
            {% else %}
                <input type="checkbox" name="{{ field.name }}" id="id_{{ field.name }}">
            {% endif %}
            <span class="slider round"></span>
        </label>
    </div>
    {% include 'bootstrap4/layout/help_text_and_errors.html' %}
</div>
