{% load crispy_forms_filters %}
{% load l10n %}

<div id="div_id_{{ field.name }}" class="{% if inline_class %}form-check{% endif %}{% if field_class %} {{ field_class }}{% endif %}"{% if flat_attrs %} {{ flat_attrs|safe }}{% endif %}>
    {% if form_show_errors and field.errors %}
      {% for error in field.errors %}
        <p id="error_{{ forloop.counter }}_{{ field.auto_id }}" class="invalid-feedback"><strong>{{ error }}</strong></p>
      {% endfor %}
    {% endif %}

    {% for choice in field.field.choices %}
        {% if forloop.last %}
        {% if not inline_class %}<div class="form-check d-flex justify-content-between my-0">{% endif %}
        <label class="col-form-label mt-3 mx-0 p-0">{{ choice.1|unlocalize }}</label>
        <label id="id_{{ field.id_for_label }}_{{ forloop.counter }}" class="switch mt-3 mr-0 form-check-input" for="id_{{ field.html_name }}_{{ forloop.counter }}">

          <input type="checkbox" class="form-check-input"{% if choice.0 in field.value or choice.0|stringformat:"s" in field.value or choice.0|stringformat:"s" == field.value|default_if_none:""|stringformat:"s" %} checked="checked"{% endif %} name="{{ field.html_name }}" id="id_{{ field.html_name }}_{{ forloop.counter }}" value="{{ choice.0|unlocalize }}" {{ field.field.widget.attrs|flatatt }}>
          <span class="slider round"></span>
        </label>
      {% if not inline_class %}</div>{% endif %}
      {% else %}
      {% if not inline_class %}<div class="form-check d-flex justify-content-between my-0" style="border-bottom: 1px solid #d7d7db;">{% endif %}
        <label class="col-form-label my-3 mx-0 p-0">{{ choice.1|unlocalize }}</label>
        <label id="id_{{ field.id_for_label }}_{{ forloop.counter }}" class="switch my-3 mr-0 form-check-input" for="id_{{ field.html_name }}_{{ forloop.counter }}">

          <input type="checkbox" class="form-check-input"{% if choice.0 in field.value or choice.0|stringformat:"s" in field.value or choice.0|stringformat:"s" == field.value|default_if_none:""|stringformat:"s" %} checked="checked"{% endif %} name="{{ field.html_name }}" id="id_{{ field.html_name }}_{{ forloop.counter }}" value="{{ choice.0|unlocalize }}" {{ field.field.widget.attrs|flatatt }}>
          <span class="slider round"></span>
        </label>
      {% if not inline_class %}</div>{% endif %}
      {% endif %}
    {% endfor %}

</div>
