{% extends "marketing/base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block support_nav_class %}active{% endblock %}

{% block site_title_content %}{% trans "Contact" %}{% endblock site_title_content %}

{% block content %}
<section class="about-main-header">
    <div class="overlay">
      <div class="container">
        <div class="row justify-content-md-center banner-content">
          <div class="col-md-8 text-center">
            <h1 class="text-capitalize">Contact Us</h1>
            <h5 class="pt-3 pb-3 font-weight-normal">Hubungi kami untuk informasi lebih lanjut mengenai KAWN POS.</h5>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-form-sec">
    <div class="container">
      <div class="row">
         <!--Grid column-->
         <div class="col-md-9 p-5 m-auto contact-form-content">
              <h3 class="font-weight-bold">Kirim Pesan</h3>
             <form method="post" action="." autocomplete="off">
                {% csrf_token %}
                 <!--Grid row-->
                 <div class="row">

                     <!--Grid column-->
                     <div class="col-md-6">
                         <div class="md-form mb-3">
                            {% if form.name.errors %}
                                <input type="text" name="{{ form.name.name }}" class="form-control is-invalid" placeholder="Nama">
                            {% else %}
                                <input type="text" name="{{ form.name.name }}" class="form-control" placeholder="Nama">
                            {% endif %}
                         </div>
                     </div>
                     <!--Grid column-->

                     <!--Grid column-->
                     <div class="col-md-6">
                         <div class="md-form mb-3">
                            {% if form.company.errors %}
                                <input type="text" name="{{ form.company.name }}" class="form-control is-invalid" placeholder="Perusahaan">
                            {% else %}
                                <input type="text" name="{{ form.company.name }}" class="form-control" placeholder="Perusahaan">
                            {% endif %}
                         </div>
                     </div>
                     <!--Grid column-->

                 </div>
                 <!--Grid row-->

                 <!--Grid row-->
                 <div class="row">

                     <!--Grid column-->
                     <div class="col-md-6">
                         <div class="md-form mb-3">
                            {% if form.email.errors %}
                                <input type="text" name="{{ form.email.name }}" class="form-control is-invalid" placeholder="Email">
                            {% else %}
                                <input type="text" name="{{ form.email.name }}" class="form-control" placeholder="Email">
                            {% endif %}
                         </div>
                     </div>
                     <!--Grid column-->

                     <!--Grid column-->
                     <div class="col-md-6">
                         <div class="md-form mb-3">
                            {% if form.phone.errors %}
                                <input type="text" name="{{ form.phone.name }}" class="form-control is-invalid" placeholder="Nomor Kontak">
                            {% else %}
                                <input type="text" name="{{ form.phone.name }}" class="form-control" placeholder="Nomor Kontak">
                            {% endif %}
                         </div>
                     </div>
                     <!--Grid column-->
                 </div>
                 <!--Grid row-->

                 <!--Grid row-->
                 <div class="row">

                     <!--Grid column-->
                     <div class="col-md-12">

                         <div class="md-form mb-3">
                            {% if form.body.errors %}
                                <textarea type="text" name="body" rows="2" class="form-control md-textarea is-invalid" placeholder="Tulis Pesan"></textarea>
                            {% else %}
                                <textarea type="text" name="body" rows="2" class="form-control md-textarea" placeholder="Tulis Pesan"></textarea>
                            {% endif %}
                         </div>

                     </div>
                 </div>
                 <!--Grid row-->
                <div class="text-center text-md-left">
                    <button type="submit" class="btn btn-primary btn-block">Kirim</button>
                </div>

             </form>
         </div>
         <!--Grid column-->
      </div>
    </div>
  </section>
{% endblock %}