{% extends "marketing/base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block support_nav_class %}active{% endblock %}

{% block site_title_content %}{% trans "Contact" %}{% endblock site_title_content %}

{% block content %}
<section class="about-main-header">
    <div class="overlay">
      <div class="container">
        <div class="row justify-content-md-center banner-content">
          <div class="col-md-8 text-center">
            <h1 class="text-capitalize">Pengiriman Pesan Berhasil</h1>
            <h5 class="pt-3 pb-3 font-weight-normal">Terima kasih telah memberikan masukan di page Kontak <a href='#'>kawn.co.id</a></h5>
          </div>
        </div>
      </div>
    </div>
  </section>

 

  <section class="trial-box">
    <div class="container">
      <div class="trial-content text-center" data-aos="zoom-in" data-aos-delay="50" data-aos-duration="500">
        <h3>Coba gratis 30 hari mulai hari ini!</h3>
        <p>KAWN On Us! Dengan KAWN, Aktivitas inventory, transaksi dan pembukuan bisnis F&B jadi lebih digital, akurat, aman dan mudah!</p>
        <form class="form-inline">
          <div class="form-group mx-sm-3 mb-2">
            <input type="password" class="form-control" id="inputPassword2" placeholder="Masukkan alamat email Anda">
          </div>
          <a class="btn btn-primary mb-2">Coba Gratis!</a>
        </form>
        <p>Tanpa kartu kredit. Bebas iklan. Berhenti kapan saja.</p>
      </div>
    </div>
  </section>
{% endblock %}