{% extends "dashboard/base_datatable.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Role" %}{% endblock %}

{% block employees_active_class %}active{% endblock %}
{% block mobile_employees_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_employees_show %}show{% endblock %}
{% block employees_role_active_class %}submenu-active{% endblock %}
{% block mobile_employees_role_active_class %}submenu-active{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}
{% block datatable_title %}{% trans "Role" %}{% endblock datatable_title %}


{% block css %}
  {{ block.super }}
  <!-- Your stuff: Third-party css libraries go here -->
  {{ form.media.css }}
  {{ template_form.media.css }}
  <style>
    .switch {
      margin-top: 3px;
      position: relative;
      display: inline-block;
      width: 40px;
      height: 20px;
    }

    .switch input {display:none;}

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 12px;
      width: 12px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    .switch input:checked + .slider {
      background-color: #2196F3;
    }

    .switch input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    .switch input:checked + .slider:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }

  </style>
{% endblock %}


{% block sub_content %}
  <div class="w-100 pt-3">
    <form method="post" action="." enctype='multipart/form-data'>
      {% crispy form %}
      <div class="d-flex justify-content-end">
        <a href="{% url 'role:list' %}"  class="btn btn-secondary">{% trans "Back" %}</a>
        <input type="submit" class="btn btn-primary ml-1" value="{% if not object %}{% trans 'Create' %}{% else %}{% trans 'Save' %}{% endif %}"/>
      </div>
    </form>
  </div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  {{ form.media.js }}
  <script>
    
    $("input[value='cannot_create_and_update_item_cart']").parents(
      ".form-check ").removeClass("d-flex").hide()
    $("input[value='cannot_edit_unprinted_item']").parents(
      ".form-check ").removeClass("d-flex").hide()
    
  </script>
  {% endblock %}
