{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Role" %}{% endblock %}

{% block employees_active_class %}active{% endblock %}
{% block mobile_employees_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_employees_show %}show{% endblock %}
{% block employees_role_active_class %}submenu-active{% endblock %}
{% block mobile_employees_role_active_class %}submenu-active{% endblock %}

{% block css %}
  {{ block.super }}
  <!-- Your stuff: Third-party css libraries go here -->
  <style>
    .switch {
      margin-top: 3px;
      position: relative;
      display: inline-block;
      width: 40px;
      height: 20px;
    }

    .switch input {display:none;}

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 12px;
      width: 12px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    .switch input:checked + .slider {
      background-color: #2196F3;
    }

    .switch input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    .switch input:checked + .slider:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }

    .card {
      display: block;
      height: fit-content;
    }
  </style>
{% endblock %}

{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block content_class %}col-12 p-0 fixed-tab-content{% endblock %}
{% block tab_div_style %}background: white; border-bottom: 1px solid #d7d7db;{% endblock %}
{% block tab_section_style %}border-bottom: 1px solid #d7d7db;{% endblock %}
{% block action_div_style %}background: white; border-top: 1px solid #d7d7db;{% endblock %}
{% block content_header %}{% trans "Role" %}{% endblock %}

{% block tab_list %}
  <ul class="nav nav-tabs pt-2" id="myTab">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'role:list' %}">{% trans "Roles" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#">{% trans "Settings" %}</a>
    </li>
  </ul>
{% endblock %}

{% block sub_content %}
<div class="tab-content pt-1" id="role-settings-tab-content">
 <div class="tab-pane show active" id="role-settings" role="role-settings" aria-labelledby="role-settings-tab">
  <div class="w-100">
    <form method="post" action="." id="form-content">
      {% crispy form %}
      <div class="justify-content-end col-6 p-0" id="fixed-button-content" style="display: flex;">
        <input type="submit" class="btn btn-primary" value="{% trans 'Save' %}"/>
      </div>
    </form>
  </div>
 </div>
</div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script src="{% static '/js/button-scrollbar.js' %}"></script>
{% endblock %}
