{% load static i18n %}
{% load crispy_forms_tags %}

<div class="row align-items-center">
  <div class="mb-1 col-lg-2">
    <div class="selectdiv">
      <div class="box-custom-select">
        <label class="d-block mb-1">
          <select id="companyBranch" class="form-control form-control-sm custom-select" style="background-image: none;">
            <option data-pk="0" value="{% if not args_values %}{% url view_name %}{% else %}{% url view_name args_values %}{% endif %}">{% trans "All Branches" %}</option>
            {% if request.user.is_owner %}
              {% for outlet in request.user.account.outlet_set.all %}
                <option data-pk="{{ outlet.pk }}" value="{% if not args_values %}{% url view_name outlet.pk %}{% else %}{% url view_name args_values outlet.pk %}{% endif %}">
                  {{ outlet.name }}
                </option>
              {% endfor %}
            {% else %}
              {% for outlet in request.user.device_user.outlet.all %}
                <option data-pk="{{ outlet.pk }}" value="{% if not args_values %}{% url view_name outlet.pk %}{% else %}{% url view_name args_values outlet.pk %}{% endif %}">
                  {{ outlet.name }}
                </option>
              {% endfor %}
            {% endif %}
          </select>
        </label>
      </div>
    </div>
  </div>
  <div id="date_filter" class="mb-1 col-lg-2 pl-lg-0">
    <div class="selectdiv">
      <div class="">
        <label id="reportrange" class="mb-1 btn btn-default btn-lg date-calendar d-flex justify-content-between" style="width: 280px;">
          <span>
            {% if start_date and end_date %}
              {{ start_date|date:"d/m/Y" }} -  {{ end_date|date:"d/m/Y" }}
            {% else %}
              {% trans "Filter by Transaction Date" %}
            {% endif %}
            </span>
            &nbsp;<i class="fa fa-angle-down"></i>
          </label>
        </div>
      </div>
  </div>
</div>