{% load static i18n humanize tz %}
{% load rules %}

<div class="row align-items-center">
  <div class="mb-1 col-lg-2">
    <div class="selectdiv">
      <div class="box-custom-select">
        <label class="d-block mb-1">
          <select id='companyBranch' class="form-control form-control-sm custom-select" style="background-image: none;">
            <option data-pk=0 value="{% if not detail %}{% url view_name %}{% else %}{% url view_name detail %}{% endif %}">{% trans "All Branches" %}</option>
            {% if request.user.is_owner %}
              {% for outlet in request.user.account.outlet_set.all %}
                <option data-pk={{outlet.pk}} value="{% if not detail %}{% url view_name outlet.pk %}{% else %}{% url view_name outlet.pk detail %}{% endif %}">{{outlet.name}}</option>
              {% endfor %}
            {% else %}
              {% for outlet in request.user.device_user.outlet.all %}
                <option data-pk={{outlet.pk}} value="{% if not detail %}{% url view_name outlet.pk %}{% else %}{% url view_name outlet.pk detail %}{% endif %}">{{outlet.name}}</option>
              {% endfor %}
            {% endif %}
          </select>
        </label>
      </div>
    </div>
  </div>
  <div id="date_filter" class="mb-0 col-lg-2 d-none d-lg-block pl-lg-0">
    <label id="dashboardrange" class="header-daterange-picker btn btn-default btn-lg d-flex justify-content-between">
      <span>
      {% if request.GET.date == 'today' or not request.GET.date %}
        {% trans "Today" %}
      {% elif request.GET.date == 'yesterday' %}
        {% trans "Yesterday" %}
      {% elif request.GET.date == 'last_week' %}
        {% trans "Last Week" %}
      {% elif request.GET.date == 'last_month' %}
        {% trans "Last Month" %}
      {% elif request.GET.date == 'last_year' %}
        {% trans "Tahun Lalu" %}
      {% elif request.GET.date == 'week_to_date' %}
        {% trans "Week to Date" %}
      {% elif request.GET.date == 'month_to_date' %}
        {% trans "Month to Date" %}
      {% elif request.GET.date == 'year_to_date' %}
        {% trans "Tahun Berjalan" %}
      {% else %}
        {% trans "Chose Period" %}
      {% endif %}
      </span>
      &nbsp;<i class="fa fa-angle-down"></i>
    </label>
  </div>
  {% if detail %}
  <div class="mb-1 col-lg-2 pl-lg-0">
    <div class="selectdiv">
      <div class="box-custom-select">
        <label class="d-block mb-1">
          <select id='detailView' class="form-control form-control-sm custom-select" style="background-image: none;">
            {% if outlet %}
              <option data-pk='month' value="{% url view_name outlet.pk 'month' %}">{% trans "Month" %}</option>
              <option data-pk='date' value="{% url view_name outlet.pk 'date' %}">{% trans "Date" %}</option>
              <option data-pk='days' value="{% url view_name outlet.pk 'days' %}">{% trans "Day" %}</option>
              <option data-pk='hours' value="{% url view_name outlet.pk 'hours' %}">{% trans "Hour" %}</option>
            {% else %}
              <option data-pk='month' value="{% url view_name 'month' %}">{% trans "Month" %}</option>
              <option data-pk='date' value="{% url view_name 'date' %}">{% trans "Date" %}</option>
              <option data-pk='days' value="{% url view_name 'days' %}">{% trans "Day" %}</option>
              <option data-pk='hours' value="{% url view_name 'hours' %}">{% trans "Hour" %}</option>
            {% endif %}
          </select>
        </label>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="{% if detail %}col-xl-6{% else %}col-xl-8{% endif %}">
    <div class="p-0 mb-2 float-xl-right d-flex justify-content-between">
      <label class="btn p-0 m-0 date-label" style="border: 1px solid #d7d7db; border-radius:3px;">
        <label id="date-label" class="mx-2"
               style="font-size: 14px; margin-top: 10px">{{ start_date|date:"d M y H:i" }}
          - {{ end_date|date:"d M y H:i" }}</label>
      </label>
    </div>
  </div>
</div>
<div class="w-100 mobile-filter">
  <input type="text" class="form-control" id="mobilereportrange">
</div>