{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Payment Method" %}{% endblock %}

{% block settings_active_class %}active{% endblock %}
{% block mobile_settings_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_settings_show %}show{% endblock %}
{% block settings_payment_method_active_class%}submenu-active{% endblock %}
{% block mobile_settings_payment_method_active_class%}submenu-active{% endblock %}

{% block content_class %}fixed-no-tab-content col-12 p-0{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block tab_div_style %}background: white; border-bottom: 1px solid #d7d7db;{% endblock %}
{% block action_div_style %}background: white; border-top: 1px solid #d7d7db;{% endblock %}
{% block content_header %}{% trans "Payment Method" %}{% endblock %}

{% block css %}
  {{ block.super }}
  <!-- Your stuff: Third-party css libraries go here -->

  <style>
    .switch {
      margin-top: 3px;
      position: relative;
      display: inline-block;
      width: 40px;
      height: 20px;
    }

    .switch input {display:none;}

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 12px;
      width: 12px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    .switch input:checked + .slider {
      background-color: #2196F3;
    }

    .switch input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    .switch input:checked + .slider:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
  </style>
{% endblock %}


{% block extracss %}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/multi-select/0.9.12/css/multi-select.min.css">
{% endblock %}

{% block submit_form %}
  <div class="d-flex justify-content-end" id="fixed-bottom-button">
    <input type="submit" class="btn btn-primary ml-1" id="submitBtn" value="{% trans 'Save' %}"/>
  </div>
{% endblock %}

{% block sub_content %}
  <div class="tab-content pt-1" id="password-tab-content">
    <div class="tab-pane show active">
      <form method="post" action="." id="form-content">
        {% crispy form %}
        <div class="justify-content-end col-6 p-0" id="fixed-button-content" style="display: flex;">
          <input type="submit" class="btn btn-primary" value="{% trans 'Save' %}"/>
        </div>
      </form>
    </div>
  </div>
{% endblock %}


{% block extrajs %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/multi-select/0.9.12/js/jquery.multi-select.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.quicksearch/2.4.0/jquery.quicksearch.min.js"></script>
  <script src="{% static '/js/button-scrollbar.js' %}"></script>
  <script>
    $(function() {
      var showCollectionCount = function($collectionEl, $targetEl){
        var collectionCount = $collectionEl.length;
        $targetEl.text(collectionCount);
      };

      $('input.search-input').addClass('form-control');
      $('.ms-container').css('width', '100%');
      $('.ms-selectable').css('width', 'calc(50% - 30px');
      $('.ms-selection').css('width', 'calc(50% - 30px');
      $('.ms-footer').css('margin-top', '10px');
      $('.ms-footer').css('margin-left', '10px');

      function is_enabled(checked){
        if(checked){
          $(
            "#id_enforce_debit",
            "#id_enforce_credit",
            "#id_enforce_voucher"
          ).removeAttr('disabled', 'disabled');
          $('#div_id_enforce_debit').show();
          $('#div_id_enforce_credit').show();
          $('#div_id_enforce_voucher').show();
          $(
            '#div_id_enforce_debit, #div_id_enforce_credit, #div_id_enforce_voucher'
          ).addClass("d-flex");
          $('#payment_method_header').show();
        }else{
          $(
            "#id_enforce_debit",
            "#id_enforce_credit",
            "#id_enforce_voucher"
          ).attr('disabled', 'disabled');
          $(
            '#div_id_enforce_debit, #div_id_enforce_credit, #div_id_enforce_voucher'
          ).removeClass("d-flex");
          $('#div_id_enforce_debit').hide();
          $('#div_id_enforce_credit').hide();
          $('#div_id_enforce_voucher').hide();
          $('#payment_method_header').hide();
        }
      }

      var checked = $('#id_enable_description').is(':checked');
      is_enabled(checked, {{ form.enable_description.initial|lower}});

      $(document).on('change', '#id_enable_description', function(){
        is_enabled($(this).is(':checked'));
      });

      $("#submitBtn").click(function () {
         $("#form-content").submit();
      });

    });
  </script>
{% endblock extrajs %}

