{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block applications_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_applications_show %}show{% endblock %}
{% block employee_list_active_class %}submenu-active{% endblock %}

{% block title %}{% trans "Employee" %}{% endblock %}

{% block css %}
  {{ block.super }}
  {{ form.media.css }}
  <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.3/daterangepicker.css"/>
  <style>

    .card {
      display: block;
    }
    #div_id_birth_date,
    #div_id_handphone,
    #div_id_email,
    #div_id_organization,
    #div_id_group {
      max-width: 50%;
    }

    div#div_id_gender>.btn-outline-primary:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    div#div_id_gender>.btn-outline-primary:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  </style>
{% endblock %}

{% block content_header %}{% trans "Update Employee" %}{% endblock %}
{% block content_class %}col-lg-12 px-0{% endblock %}
{% block action_div_style %}background: white; border-top: 1px solid #d7d7db;{% endblock %}
{% block tab_div_style %}background: white; border-bottom: 1px solid #d7d7db;{% endblock %}
{% block tab_section_style %}border-bottom: 1px solid #d7d7db;{% endblock %}
{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important; width:87%;{% endblock %}

{% block submit_form %}
      <div class="d-flex justify-content-end" id="fixed-bottom-button">
        <a href="{% url 'customers:employee_list' %}"  class="btn btn-light">{% trans "Back" %}</a>
        <input type="submit" class="btn btn-primary ml-1" id="submitBtn" value="{% trans 'Save' %}"/>
      </div>
{% endblock %}

{% block tab_list %}
  <ul class="nav nav-tabs pt-2" id="myTab" role="tablist">
    <li class="nav-item" id="customer">
      <a class="nav-link active" id="table-management-tab" data-toggle="tab" href="#table-management"
         >{% trans "Detail" %}</a>
    </li>
    <li class="nav-item tab-disabled">
      <a class="nav-link" href="{% url 'customers:customer_sales_list' customer.pk %}" >{% trans "Transaction" %}</a>
    </li>
  </ul>
{% endblock %}

{% block sub_content %}
  <div class="w-100 pt-1">
    <form method="post" action="." enctype='multipart/form-data' id="form-content">
      {% crispy form %}
      <div class="justify-content-end col-6 p-0" id="fixed-button-content" style="display: flex;">
        <a href="{% url 'customers:employee_list' %}"  class="btn btn-light">{% trans "Back" %}</a>
        <input type="submit" class="btn btn-primary ml-1" value="{% trans 'Save' %}"/>
      </div>
    </form>
  </div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  {{ form.media.js }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.3/daterangepicker.js"></script>script>
    <script src="{% static '/js/button-scrollbar.js' %}"></script>
    <script>
    $(document).ready(function(){
      var female_gender =  $('div#div_id_gender>.btn-outline-primary:not(:first-child)');
      var male_gender = $('div#div_id_gender>.btn-outline-primary:not(:last-child)');
      var qr_image = '{{ object.qrcode }}';
      if (qr_image){
         $("#qr-img").attr({ "src": '{{ object.qrcode.url }}'});
      }
      $('#id_birth_date').daterangepicker({
        "opens": 'right',
        "singleDatePicker": true,
        "showDropdowns": true,

        "showCustomRangeLabel": false,
        'locale': {
          'format': 'YYYY-MM-DD',
          "customRangeLabel": "Pilih Tanggal",
          "applyLabel": "Terapkan",
          "cancelLabel": "Batal",
          "daysOfWeek": [
            "Min",
            "Sen",
            "Sel",
            "Rab",
            "Kam",
            "Jum",
            "Sab"
          ],
          "monthNames": [
            "Januari",
            "Februari",
            "Maret",
            "April",
            "Mei",
            "Juni",
            "Juli",
            "Agustus",
            "September",
            "Oktober",
            "November",
            "Desember"
          ],
        }
      });

      {% if not object.birth_date %}
      $('#id_birth_date').val("");
      {% endif %}

      $("#submitBtn").click(function () {
         $("#form-content").submit();
      });
      var gender = $('#id_gender').val();
      if( gender == 'male'){
          female_gender.attr('style', 'border-left: 1px solid transparent');
          male_gender.attr('style', 'border-right: 1px solid #0094C9');
        }else{
           female_gender.attr('style', 'border-left: 1px solid #0094C9');
           male_gender.attr('style', 'border-right: 1px solid transparent');
      }

      $('#div_id_gender .small-custom-radio').on('click change', function(){
        $('#id_gender').val('');
        var gender = $('#id_gender').val();
        if( gender == 'male'){
          female_gender.attr('style', 'border-left: 1px solid transparent');
          male_gender.attr('style', 'border-right: 1px solid #0094C9');
        }else{
           female_gender.attr('style', 'border-left: 1px solid #0094C9');
           male_gender.attr('style', 'border-right: 1px solid transparent');
        }
      });
    });
    </script>
{% endblock javascript %}
