{% extends "dashboard/base_datatable.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Employee" %}{% endblock %}

{% block applications_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_applications_show %}show{% endblock %}
{% block employee_list_active_class %}submenu-active{% endblock %}

{% block content_class %}fixed-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block tab_div_style %}background: white; border-bottom: 1px solid #d7d7db;{% endblock %}
{% block tab_section_style %}border-bottom: 1px solid #d7d7db;{% endblock %}
{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}
{% block datatable_title %}{% trans "Employee Benefit" %}{% endblock datatable_title %}


{% block datatable_panel_title %}
{% trans "Customers" %}
{% endblock datatable_panel_title %}

{% block datatable_dummy_url %}
{% endblock datatable_dummy_url %}

{% block xml_export %}
<!--a id="xmlExport" target="_blank" onclick="table.export_file('xml')" class="btn btn-success">Export
  XML</a-->
{% endblock xml_export %}

{% block css %}
  {{ block.super }}
  <style>
    .switch {
      margin-top: 3px;
      position: relative;
      display: inline-block;
      width: 40px;
      height: 20px;
    }

    .switch input {display:none;}

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 12px;
      width: 12px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    .switch input:checked + .slider {
      background-color: #2196F3;
    }

    .switch input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    .switch input:checked + .slider:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
  </style>
{% endblock %}

{% block enable_settings %}
<div id="div_id_is_enabled" class="form-check d-flex m-0 p-0"> <label class="switch mt-2">
    <input type="checkbox" name="is_enabled" id="id_is_enabled" checked>
    <span class="slider round"></span></label>
</div>
{% endblock %}

{% block tab_list %}
  <ul class="nav nav-tabs pt-2" id="myTab" role="tablist">
    <li class="nav-item" id="employee-benefit">
      <a class="nav-link active" id="employee-list" data-toggle="tab" href="#employee"
         >{% trans "List" %}</a>
    </li>
    <li class="nav-item tab-disabled">
      <a class="nav-link" href="{% url 'customers:employee_report' %}" >{% trans "Report" %}</a>
    </li>
    <li class="nav-item tab-disabled">
      <a class="nav-link" href="{% url 'promo:employee_promo_list' %}" >{% trans "Promo" %}</a>
    </li>
  </ul>
{% endblock %}

{% block action_button %}
<div class="p-0 position-fixed" style="right:20px;">
    <label id="exportpdf" class="btn btn-primary btn-lg fixed-top-content export-pdf" style="width: 120px; margin-bottom: 0px;">
        <span>
            {% trans "Export PDF" %}
        </span>
  </label>
  <a href="{% url 'customers:employee_create' %}" class="btn btn-primary btn-lg fixed-top-content">{% trans "Add Customer" %}</a>
</div>
<div class="p-0 position-fixed" style="right:294px;">
  <a class="btn btn-primary btn-lg fixed-top-content" href="#" data-toggle="modal" data-target="#import-modal">{% trans "Import Customer" %}</a>
</div>

{% endblock action_button %}

{% block csv_export %}
<div class="modal fade" id="import-modal" tabindex="-1" role="dialog" aria-labelledby="importModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id="importModalLabel">Import File Customer</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
          <a href="{% static 'files/Customer.csv' %}" download="Customer-{{request.user.account.name}}.csv">Download</a>
            {% trans 'our template if you dont have the template' %}
          </p>
          <div id="drop-zone">
            <img src="{% static 'images/cloud-upload-2.svg' %}" id="cloud-upload-file">
            <div id="dropzone-text">
                <h4>Drag and drop to upload</h4>
                <p>or</p>
            </div>
            <div id="clickHere">BROWSE FILE
              <input type="file" name="file">
            </div>
            <div id="filename">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-submit-close" data-dismiss="modal">{% trans "Close" %}</button>
          <button type="submit" class="btn btn-primary btn-lg" id="import-button">{% trans 'Continue' %}</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock csv_export %}

{% block datatable_id %}customers_list{% endblock datatable_id %}

{% block datatable_thead_tr %}
<th class="">{% trans "Name" %}</th>
<th class="">{% trans "Email" %}</th>
<th>{% trans "Phone Number" %}</th>
<th>{% trans "Group" %}</th>
<th>{% trans "Organization" %}</th>
<th class="no-sort">{% trans "Status"%}</th>
<th class="text-center no-sort">{% trans "Action" %}</th>
{% endblock datatable_thead_tr %}

{% block datatable_filter %}
<tr class='datatable-filter'>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group mtm">
      <div class="selectdiv">
      <label class="input-group">
      <select class="form-control form-control-sm custom-select extra-table-control">
        <option>{% trans 'All' %}</option>
        <option value='true'>{% trans 'Active' %}</option>
        <option value='false'>{% trans 'Deactivate' %}</option>
      </select>
      </label>
      </div>
    </div>
  </td>
  <td></td>
</tr>
{% endblock datatable_filter %}


{% block javascript %}
{{ block.super }}
<script>
	$(document).ready(function () {
		base_url = "{% url 'customers:employee_data' %}";
    delete_url = "{% url 'customers:customer_delete' %}";
    deactivate_url = "{% url 'customers:customer_deactivate' %}";
    activate_url = "{% url 'customers:customer_activate' %}";
    tableOptions = {
      columnDefs: [
        {targets: 'text-center',  className: 'text-center'},
        {targets: 'no-sort', orderable: false},
        {
          'targets': [6],
          'render': function (data, type, full, meta) {
            menu_toggle = '';
            data_modal = '';
            if(!data.active){
              menu_toggle = '<a class="dropdown-item" href="#" data-toggle="modal" data-target="#activate-'+data.id+'-Modal"> \
                              {% trans "Activate" %} \
                            </a>';

              data_modal = '<div class="modal fade" id="activate-'+data.id+'-Modal" tabindex="-1" role="dialog" aria-labelledby="activateModalLabel" aria-hidden="true"> \
                            <div class="modal-dialog" role="document"> \
                              <div class="modal-content"> \
                                <div class="modal-header"> \
                                  <h5 class="modal-title" id="activateModalLabel">Activate Customer</h5> \
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"> \
                                    <span aria-hidden="true">&times;</span> \
                                  </button> \
                                </div> \
                                <div class="modal-body"> \
                                  {% trans "Are you sure to activate" %} <b>'+data.name+'</b>?\
                                </div> \
                                <div class="modal-footer"> \
                                  <button type="button" class="btn btn-secondary btn-submit-close" data-dismiss="modal">{% trans "Close" %}</button> \
                                  <button type="button" class="btn btn-primary activate" data-id="'+data.id+'"> \
                                    <span id="activate-text">{% trans "Activate" %}</span> \
                                    <i id="activate-icon" class=""></i> \
                                  </button> \
                                </div> \
                              </div> \
                            </div> \
                          </div>';
            }else{
              menu_toggle = '<a class="dropdown-item" href="#" data-toggle="modal" data-target="#archive-'+data.id+'-Modal"> \
                              {% trans "Deactivate" %} \
                            </a>';

              data_modal = '<div class="modal fade" id="archive-'+data.id+'-Modal" tabindex="-1" role="dialog" aria-labelledby="archiveModalLabel" aria-hidden="true"> \
                              <div class="modal-dialog" role="document"> \
                                <div class="modal-content"> \
                                  <div class="modal-header"> \
                                    <h5 class="modal-title" id="archiveModalLabel">Deactivate Customer</h5> \
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> \
                                      <span aria-hidden="true">&times;</span> \
                                    </button> \
                                  </div> \
                                  <div class="modal-body"> \
                                      {% trans "Are you sure to deactivate" %} <b>'+data.name+'</b>?\
                                  </div> \
                                  <div class="modal-footer"> \
                                    <button type="button" class="btn btn-secondary btn-submit-close" data-dismiss="modal">{% trans "Close" %}</button> \
                                    <button type="button" class="btn btn-primary archive" data-id="'+data.id+'"> \
                                      <span id="archive-text">{% trans "Deactivate" %}</span> \
                                      <i id="archive-icon" class=""></i> \
                                    </button> \
                                  </div> \
                                </div> \
                              </div> \
                            </div>';
            }
            data = '<a class="action-toggle" id="product-'+data.id+'-dropdown" href="#" data-toggle="dropdown"> \
                      <i class="fa fa-ellipsis-h" aria-hidden="true"></i> \
                    </a>\
                    <div class="dropdown-menu action-toggle-menu" aria-labelledby="product-'+data.id+'-dropdown">\
                      <a class="dropdown-item" href="'+ data.edit +'"> \
                        Edit \
                      </a>\
                      '+menu_toggle+' \
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete-'+data.id+'-Modal"> \
                        {% trans "Delete" %} \
                      </a> \
                    </div>'+ data_modal+ '\
                    <div class="modal fade" id="delete-'+data.id+'-Modal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true"> \
                      <div class="modal-dialog" role="document"> \
                        <div class="modal-content"> \
                          <div class="modal-header"> \
                            <h5 class="modal-title" id="deleteModalLabel">Delete Customer</h5> \
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"> \
                              <span aria-hidden="true">&times;</span> \
                            </button> \
                          </div> \
                          <div class="modal-body"> \
                              <p>{% trans "You will permanently delete these customer from your KAWN channel." %}</p> \
                              <p> {% trans "Are you sure to delete" %} <b>'+data.name+'</b>?</p>\
                          </div> \
                          <div class="modal-footer"> \
                            <button type="button" class="btn btn-secondary btn-submit-close" data-dismiss="modal">{% trans "Close" %}</button> \
                            <button type="button" class="btn btn-primary delete" data-id="'+data.id+'"> \
                              <span id="delete-text">{% trans "Delete" %}</span> \
                              <i id="delete-icon" class=""></i> \
                            </button> \
                          </div> \
                        </div> \
                      </div> \
                    </div>';
            return data;
          },
        },
      ],
    }

    function tog(v){return v?'addClass':'removeClass';}
    $(document).on('input', '.clearable', function(){
        $(this)[tog(this.value)]('x');
    }).on('mousemove', '.x', function( e ){
        $(this)[tog(this.offsetWidth-18 < e.clientX-this.getBoundingClientRect().left)]('onX');
    }).on('touchstart click', '.onX', function( ev ){
        ev.preventDefault();
        $(this).removeClass('x onX').val('').change();
    });

    $(document).on('click', '.delete', function(e){
      var id = $(this).attr("data-id");
      e.preventDefault();

      $.ajax({
        type: 'POST',
          url: delete_url,
          dataType: 'json',
          data: {
            id:id
          },
          beforeSend: function(jqXHR, settings){
            jqXHR.setRequestHeader("x-csrftoken", '{{ csrf_token }}');
            $(".btn-submit-close").attr("disabled", "disabled");
            $(".delete").attr("disabled", "disabled");
            $("#delete-text").html("Loading");
            $("#delete-icon").addClass("fa fa-spinner fa-spin");
          },
          success: function(result){
            if(result.status == 'success'){
              $(".btn-submit-close").attr("disabled", "disabled");
              $(".delete").attr("disabled", "disabled");
              $("#delete-text").html("Refreshing Page");
              $("#delete-icon").addClass("fa fa-spinner fa-spin");
                setTimeout(function(){
                  window.location.href = '{% url "customers:employee_list" %}'
                }, 3000);
            }
          }
      });
    });
      $(document).on('click', '.archive', function(e){
      var id = $(this).attr("data-id");
      e.preventDefault();

      $.ajax({
        type: 'POST',
          url: deactivate_url,
          dataType: 'json',
          data: {
            id:id
          },
          beforeSend: function(jqXHR, settings){
            jqXHR.setRequestHeader("x-csrftoken", '{{ csrf_token }}');
            $(".btn-submit-close").attr("disabled", "disabled");
            $(".archive").attr("disabled", "disabled");
            $("#archive-text").html("Loading");
            $("#archive-icon").addClass("fa fa-spinner fa-spin");
          },
          success: function(result){
            if(result.status == 'success'){
              $(".btn-submit-close").attr("disabled", "disabled");
              $(".archive").attr("disabled", "disabled");
              $("#archive-text").html("Refreshing Page");
              $("#archive-icon").addClass("fa fa-spinner fa-spin");
                setTimeout(function(){
                  window.location.href = '{% url "customers:employee_list" %}'
                }, 3000);
            }
          }
      });
    });

    $(document).on('click', '.activate', function(e){
      var id = $(this).attr("data-id");
      e.preventDefault();

      $.ajax({
        type: 'POST',
          url: activate_url,
          dataType: 'json',
          data: {
            id:id
          },
          beforeSend: function(jqXHR, settings){
            jqXHR.setRequestHeader("x-csrftoken", '{{ csrf_token }}');
            $(".btn-submit-close").attr("disabled", "disabled");
            $(".activate").attr("disabled", "disabled");
            $("#activate-text").html("Loading");
            $("#activate-icon").addClass("fa fa-spinner fa-spin");
          },
          success: function(result){
            if(result.status == 'success'){
              $(".btn-submit-close").attr("disabled", "disabled");
              $(".activate").attr("disabled", "disabled");
              $("#activate-text").html("Refreshing Page");
              $("#activate-icon").addClass("fa fa-spinner fa-spin");
                setTimeout(function(){
                  window.location.href = '{% url "customers:employee_list" %}'
                }, 3000);
            }
          }
      });
    });

    function removeParam(key, sourceURL) {
    var rtn = sourceURL.split("?")[0],
        param,
        params_arr = [],
        queryString = (sourceURL.indexOf("?") !== -1) ? sourceURL.split("?")[1] : "";
    if (queryString !== "") {
        params_arr = queryString.split("&");
        for (var i = params_arr.length - 1; i >= 0; i -= 1) {
            param = params_arr[i].split("=")[0];
            if (param === key) {
                params_arr.splice(i, 1);
            }
        }
        rtn = rtn + "?" + params_arr.join("&");
    }
    else {
      params_arr = queryString.split("&");
      rtn = rtn + "?" + params_arr.join("&");
    }
    return rtn;
  }

  $('.export-pdf').on('click',
    function () {
      params = table.ajax.params();
      params.length = -1;
      var old_url = table.ajax.url() + "?" + $.param( params );
      new_url = old_url + "&" + $.param({"export_file": "pdf"});
      window.open(new_url, '_blank');
  });

  });

</script>
<script>
  $(function () {
    var dropZoneId = "drop-zone";
    var buttonId = "clickHere";
    var mouseOverClass = "mouse-over";
    var dropZone = $("#" + dropZoneId);
    var ooleft = dropZone.offset().left;
    var ooright = dropZone.outerWidth() + ooleft;
    var ootop = dropZone.offset().top;
    var oobottom = dropZone.outerHeight() + ootop;
    var inputFile = dropZone.find("input[type='file']");
    var fileicon = "{% static 'images/file.svg' %}";

document.getElementById(dropZoneId).addEventListener("dragover", function (e) {
        e.preventDefault();
        e.stopPropagation();
        dropZone.addClass(mouseOverClass);
        var x = e.pageX;
        var y = e.pageY;
    }, true);
    document.getElementById(dropZoneId).addEventListener("drop", function (e) {
        $("#" + dropZoneId).removeClass(mouseOverClass);
    }, true);

    if (inputFile.val() == ""){
        $('#import-button').addClass('disabled');
        $('#import-button').attr('disabled', 'disabled');
        $('#clickHere').show();
        $('#dropzone-text').show();
        $('#cloud-upload-file').show();
    }

    inputFile.on('change', function (e) {
        $('#filename').html("");
        var fileNum = this.files.length,
            fileNames = "";
        fileNames = this.files[0].name + '&nbsp;';
        $('#import-button').removeClass('disabled');
        $('#import-button').removeAttr('disabled', 'disabled');
        $('#filename').append('<span class="fa-stack fa-lg"><img src="'+ fileicon +'"></i></span><span class="px-2">' + fileNames + '</span>&nbsp;<button type="button" class="close"><span aria-hidden="true" class="closeBtn" title="remove">&times;</span></button><br>');
        $('#clickHere').hide();
        $('#dropzone-text').hide();
        $('#cloud-upload-file').hide();
      $('#filename').find('.closeBtn').click(function(){
          $('#filename').empty();
          inputFile.val('');
          $('#import-button').attr('disabled', 'disabled');
          $('#import-button').addClass('disabled');
          $('#clickHere').show();
          $('#dropzone-text').show();
          $('#cloud-upload-file').show();
      });

    });

})
</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
{% endblock %}
