{% extends "dashboard/base_datatable.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Customers Report" %}{% endblock %}

{% block applications_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_applications_show %}show{% endblock %}
{% block employee_list_active_class %}submenu-active{% endblock %}

{% block content_class %}fixed-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block tab_div_style %}background: white; border-bottom: 1px solid #d7d7db;{% endblock %}
{% block tab_section_style %}border-bottom: 1px solid #d7d7db;{% endblock %}
{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}
{% block datatable_title %}{% trans "Employee Benefit" %}{% endblock datatable_title %}


{% block datatable_panel_title %}
{% trans "Customers Report" %}
{% endblock datatable_panel_title %}

{% block css %}
  {{ block.super }}
  <style>
    .switch {
      margin-top: 3px;
      position: relative;
      display: inline-block;
      width: 40px;
      height: 20px;
    }

    .switch input {display:none;}

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 12px;
      width: 12px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    .switch input:checked + .slider {
      background-color: #2196F3;
    }

    .switch input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    .switch input:checked + .slider:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
  </style>
{% endblock %}

{% block datatable_dummy_url %}
{% endblock datatable_dummy_url %}

{% block enable_settings %}
<div id="div_id_is_enabled" class="form-check d-flex m-0 p-0"> <label class="switch mt-2">
    <input type="checkbox" name="is_enabled" id="id_is_enabled" checked>
    <span class="slider round"></span></label>
</div>
{% endblock %}

{% block tab_list %}
  <ul class="nav nav-tabs pt-2" id="myTab" role="tablist">
    <li class="nav-item" >
      <a class="nav-link"  href="{% url 'customers:employee_list' %}"
         >{% trans "List" %}</a>
    </li>
    <li class="nav-item" id="employee-report">
      <a class="nav-link active" id="report" data-toggle="tab" href="#employee-report" >{% trans "Report" %}</a>
    </li>
    <li class="nav-item tab-disabled">
      <a class="nav-link" href="{% url 'promo:employee_promo_list' %}" >{% trans "Promo" %}</a>
    </li>
  </ul>
{% endblock %}


{% block datatable_action %}
<div id="sales-card" class="row">
  <div class="col-md-12 col-lg-4 pr-0">
    <div class="card">
      <div class="card-body pb-3">
        <h3 class="heading-3 card-title mb-4 font-weight-thin">{% trans "Transaction Count" %}</h3>
        <h2 id="transaction-count" class="heading-2 card-text font-weight-thin">0</h2>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-4">
    <div class="card">
      <div class="card-body pb-3">
        <h3 class="heading-3 card-title mb-4 font-weight-thin">{% trans "Total Transaction" %}</h3>
        <h2 id="total-transaction" class="heading-2 card-text font-weight-thin">Rp. 0</h2>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block date_range %}
<div id="filters" class="mb-3">
  {% include "partials/datatable_filters.html" with view_name="customers:employee_report_data" %}
</div>
{% endblock %}

{% block datatable_id %}customers_list{% endblock datatable_id %}

{% block datatable_thead_tr %}
<th class="">{% trans "Name" %}</th>
<th class="">{% trans "Organization" %}</th>
<th class="text-right">{% trans "Transactions" %}</th>
<th class="text-right">{% trans "Total Transactions" %}</th>
{% endblock datatable_thead_tr %}

{% block datatable_filter %}
<tr class='datatable-filter'>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
    </div>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
</tr>
{% endblock datatable_filter %}


{% block javascript %}
{{ block.super }}
<script>
	$(document).ready(function () {
	base_url = "{% url 'customers:employee_report_data' %}";
    tableOptions = {
      columnDefs: [
        {targets: 'text-center',  className: 'text-center'},
        {
          targets: 'text-right',  className: 'text-right',
          render: function (data, type, full, meta) {
            return parseInt(data).toLocaleString('id')
          },
        },
        {targets: 'no-sort', orderable: false},
      ],
    }

    function tog(v){return v?'addClass':'removeClass';}
    $(document).on('input', '.clearable', function(){
        $(this)[tog(this.value)]('x');
    }).on('mousemove', '.x', function( e ){
        $(this)[tog(this.offsetWidth-18 < e.clientX-this.getBoundingClientRect().left)]('onX');
    }).on('touchstart click', '.onX', function( ev ){
        ev.preventDefault();
        $(this).removeClass('x onX').val('').change();
    });
  });

</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
<script type="text/javascript">
  $("#companyBranch").change(function() {
    table.ajax.url(this.value).load();
  });
  $('#companyBranchClear > .datatable-clearfilter').click(function(e){
    e.preventDefault();
    table.ajax.url("{% url 'customers:employee_report_data' %}");
  });
  $(".selector-datatable").on('xhr.dt', function ( e, settings, json, xhr ) {
    $("#transaction-count").html(json.total_transaction_count);
    $("#total-transaction").html("Rp. " + json.total_transaction);
  });
</script>
{% endblock %}
