{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block applications_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_applications_show %}show{% endblock %}
{% block employee_list_active_class %}submenu-active{% endblock %}

{% block title %}{% trans "Employee" %}{% endblock %}

{% block css %}
  {{ block.super }}
  {{ form.media.css }}
  <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.3/daterangepicker.css"/>
  <style>
    .card {
      display: block;
    }

    #div_id_birth_date,
    #div_id_handphone,
    #div_id_email,
    #div_id_organization,
    #div_id_group {
      max-width: 50%;
    }

    div#div_id_gender>.btn-outline-primary:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    div#div_id_gender>.btn-outline-primary:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  </style>
{% endblock %}

{% block content_header %}{% trans "Create Employee" %}{% endblock %}
{% block content_class %}col-lg-12 px-0{% endblock %}
{% block action_div_style %}background: white; border-top: 1px solid #d7d7db;{% endblock %}

{% block submit_form %}
      <div class="d-flex justify-content-end" id="fixed-bottom-button">
        <a href="{% url 'customers:employee_list' %}"  class="btn btn-light">{% trans "Back" %}</a>
        <input type="submit" class="btn btn-primary ml-1" id="submitBtn" value="{% trans 'Save' %}"/>
      </div>
{% endblock %}

{% block sub_content %}
  <div class="w-100 pt-1">
    <form method="post" action="." enctype='multipart/form-data' id="form-content">
      {% crispy form %}
      <div class="justify-content-end col-6 p-0" id="fixed-button-content" style="display: flex;">
        <a href="{% url 'customers:employee_list' %}"  class="btn btn-light">{% trans "Back" %}</a>
        <input type="submit" class="btn btn-primary ml-1" value="{% trans 'Save' %}"/>
      </div>
    </form>
  </div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  {{ form.media.js }}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.3/daterangepicker.js"></script>
    <script src="{% static '/js/button-scrollbar.js' %}"></script>
    <script>
    $(document).ready(function(){
      if($('#id_group').hasClass('is-invalid')){
        $('.select2-container--default .select2-selection--single').css('border', '1px solid #dc3545', "!important");
      }
      var female_gender =  $('div#div_id_gender>.btn-outline-primary:not(:first-child)');
      var male_gender = $('div#div_id_gender>.btn-outline-primary:not(:last-child)');
      $('#img1').hide();
      $('#id_birth_date').daterangepicker({
        "opens": 'right',
        "singleDatePicker": true,
        "showCustomRangeLabel": false,
        "showDropdowns": true,
        "minYear": 1901,

        'locale': {
          'format': 'YYYY-MM-DD',
          "customRangeLabel": "Pilih Tanggal",
          "applyLabel": "Terapkan",
          "cancelLabel": "Batal",
          "daysOfWeek": [
            "Min",
            "Sen",
            "Sel",
            "Rab",
            "Kam",
            "Jum",
            "Sab"
          ],
          "monthNames": [
            "Januari",
            "Februari",
            "Maret",
            "April",
            "Mei",
            "Juni",
            "Juli",
            "Agustus",
            "September",
            "Oktober",
            "November",
            "Desember"
          ],
        }
      });
      $('#id_birth_date').val("");

      $("#submitBtn").click(function () {
         $("#form-content").submit();
      });
     if ($('#id_gender').val() == undefined ) {
         female_gender.attr('style', 'border-left: 1px solid transparent;');
      }
      $('#div_id_gender .small-custom-radio').on('click change', function(){
        $('#id_gender').val('');
        var gender = $('#id_gender').val();
        if( gender == 'male'){
          female_gender.attr('style', 'border-left: 1px solid transparent');
          male_gender.attr('style', 'border-right: 1px solid #0094C9');
        }else{
           female_gender.attr('style', 'border-left: 1px solid #0094C9');
           male_gender.attr('style', 'border-right: 1px solid transparent');
        }
      });
    });
    </script>
{% endblock javascript %}
