{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Update Staff" %}{% endblock %}

{% block employees_active_class %}active{% endblock %}
{% block mobile_employees_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_employees_show %}show{% endblock %}
{% block employees_device_user_manager_active_class %}{% if object.permission == 'manager' %}submenu-active{% endif %}{% endblock %}
{% block employees_device_user_active_class %}{% if object.permission != 'manager' %}submenu-active{% endif %}{% endblock %}
{% block mobile_employees_device_user_manager_active_class %}{% if object.permission == 'manager' %}submenu-active{% endif %}{% endblock %}
{% block mobile_employees_device_user_active_class %}{% if object.permission != 'manager' %}submenu-active{% endif %}{% endblock %}



{% block css %}
  {{ block.super }}
  <!-- Your stuff: Third-party css libraries go here -->
  {{ form.media.css }}
  <style>
    #div_id_username,
    #div_id_pin {
      max-width: 50%;
    }

    #div_id_email,
    #div_id_role {
      padding-left: 16px !important;
      max-width: 50%;
    }
    .flex {
      display: flex;
    }
  </style>
{% endblock %}

{% block content_class %}col-lg-12 fixed-no-tab-content p-0{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block tab_div2_class %}px-2{% endblock %}
{% block action_div_style %}background: white; border-top: 1px solid #d7d7db;{% endblock %}
{% block content_header %}{% if object.permission == 'manager' %}{% trans "Update Manager" %}{% else %}{% trans "Update Staff" %}{% endif %}{% endblock %}

{% block submit_form %}
<div id="fixed-bottom-button" class="justify-content-end d-flex">
        {% if object.invitation and not object.user %}
        <a href="#" class="btn btn-warning" data-toggle="modal" data-target="#cancel-invitation-modal">{% trans "Cancel Invitation" %}</a>
        {% endif %}
        <a href="{% if object.permission == 'manager' %}{% url 'device:device_user_manager_list' %}{% else %}{% url 'device:device_user_staff_list' %}{% endif %}"  class="btn btn-secondary ml-1">{% trans "Back" %}</a>
        <input type="submit" class="btn btn-primary ml-1" id="submitBtn" value="{% trans "Update" %}"/>
</div>
{% endblock %}
{% block sub_content %}
  <div class="w-100 pt-1">
    <form method="post" action="." enctype='multipart/form-data' id="form-content">
      {% if object.invitation and not object.user %}
      <div class="alert alert-info">
        <p>
          <b>{% trans "HEADS UP" %} !</b>
          {% if not object.invitation.accepted %}
            {% trans "User Invitation has yet to be Accepted. Re-Save to resend invitation." %}
          {% elif object.invitation.accepted %}
            {% trans "User Invitation has been Accepted, but no User were created. Re-Save to refresh and resend invitation." %}
          {% endif %}
        </p>
      </div>
      {% endif %}
      {% crispy form %}
      <div class="justify-content-end col-6 p-0" id="fixed-button-content" style="display: flex;">
        {% if object.invitation and not object.user %}
        <a href="#" class="btn btn-warning" data-toggle="modal" data-target="#cancel-invitation-modal">{% trans "Cancel Invitation" %}</a>
        {% endif %}
        <a href="{% if object.permission == 'manager' %}{% url 'device:device_user_manager_list' %}{% else %}{% url 'device:device_user_staff_list' %}{% endif %}"  class="btn btn-secondary ml-1">{% trans "Back" %}</a>
        <input type="submit" class="btn btn-primary ml-1" value="{% trans "Update" %}"/>
      </div>
    </form>
  </div>
{% endblock %}

{% block modal %}
<div class="modal fade" id="cancel-invitation-modal" tabindex="-1" role="dialog" aria-labelledby="activateModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="activateModalLabel">{% trans "Cancel User Invitation " %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% trans "Are you sure you want to cancel this invitation." %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-submit-close" data-dismiss="modal">{% trans "Close" %}</button>
        <button type="button" class="btn btn-primary cancel">
          <span id="cancel-text">{% trans "Cancel Invitation" %}</span>
          <i id="cancel-icon" class=""></i>
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  {{ form.media.js }}
  <script src="{% static '/js/button-scrollbar.js' %}"></script>
  <script>
    function preview_image(src){
      $('.dropzone-wrapper').css("background", "url({% get_media_prefix %}" + src +") no-repeat center");
      $('.dropzone-wrapper').css("background-size", "contain");
      $('.dropzone-wrapper').css('border', '0');
      $('.dropzone-desc').hide();
    }
  </script>
  <script>
    var srcImage = "{{ deviceuser.device_user_image }}";
  </script>
  <script>
    function show_all_office(input){
      if(input.is(':checked')){
        $('#div_id_outlet').hide();
        $('#div_id_outlet input[type="checkbox"]').prop('checked', true);
      }else{
        $('#div_id_outlet').show();
      }
    }
  </script>
  <script>
    $(document).ready(function(){
      $("#submitBtn").click(function () {
         $("#form-content").submit();
      });
      if(srcImage != ""){
        preview_image(srcImage);
      }
      if($('#id_device_user_image').hasClass('is-invalid')){
        $('.dropzone-box').css('border', '1px solid #dc3545', "!important");
      }

      show_all_office($('#id_all_outlet'));
      $('#id_all_outlet').on('change', function(){
        if($(this).is(':checked')){
          $('#div_id_outlet ').hide();
          $('#div_id_outlet  input[type="checkbox"]').prop('checked', true);
        }else{
          $('#div_id_outlet ').show();
          $('#div_id_outlet input[type="checkbox"]').prop('checked', false);
        }
      });

      {% if object.invitation and not object.user %}
      $(document).on('click', '.cancel', function(e){
        e.preventDefault();

        $.ajax({
          type: 'POST',
            url: '{% url "invitation-delete" %}',
            dataType: 'json',
            data: {
              id:{{ object.invitation.pk}}
            },
            beforeSend: function(jqXHR, settings){
              jqXHR.setRequestHeader("x-csrftoken", '{{ csrf_token }}');
              $(".btn-submit-close").attr("disabled", "disabled");
              $(".cancel").attr("disabled", "disabled");
              $("#cancel-text").html("Loading");
              $("#cancel-icon").addClass("fa fa-spinner fa-spin");
            },
            success: function(result){
              if(result.status == 'success'){
                $(".btn-submit-close").attr("disabled", "disabled");
                $(".cancel").attr("disabled", "disabled");
                $("#cancel-text").html("Refreshing Page");
                $("#cancel-icon").addClass("fa fa-spinner fa-spin");
                  setTimeout(function(){
                    window.location.href = '{% url "device:device_user_manager_update" object.pk %}';
                  }, 3000);
              }
            }
        });
      });
      {% endif %}

    });
  </script>
{% endblock %}
