{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Device User" %}{% endblock %}

{% block employees_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_employees_show %}show{% endblock %}
{% block employees_device_user_active_class %}submenu-active{% endblock %}


{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item"><a href="{% if object.permission == 'manager' %}{% url 'device:device_user_manager_list' %}{% else %}{% url 'device:device_user_staff_list' %}{% endif %}" class="text-link">{% if object.permission == 'manager' %}{% trans "Managerial Management" %}{% else %}{% trans "Staff Management" %}{% endif %}</a></li>
  <li class="breadcrumb-item active">{% if object.permission == 'manager' %}{% trans "Archive Manager" %}{% else %}{% trans "Archive Staff" %}{{ object.permission }}{% endif %}</li>
{% endblock breadcrumb %}

{% block sub_content %}
  <div class="container mb-3">
    <div class="row">
      <div class="col">
        <h3 class="heading-3 font-weight-thin my-3">{% if object.permission == 'manager' %}{% trans "Archive Manager" %}{% else %}{% trans "Archive Staff" %}{% endif %}</h3>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-body">
            <form method="post" action=".">
              {% csrf_token %}
              {{ form|crispy }}
              <input type="submit" class="btn btn-primary" value="{% trans "Archive" %}"/>
              <a href="{% if object.permission == 'manager' %}{% url 'device:device_user_manager_list' %}{% else %}{% url 'device:device_user_staff_list' %}{% endif %}"  class="btn btn-secondary">{% trans "Back" %}</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
