{% load crispy_forms_filters %}
{% load l10n %}

<div class="custom-control custom-checkbox  {% if inline_class %}form-check{% endif %}{% if field_class %} {{ field_class }}{% endif %}"{% if flat_attrs %} {{ flat_attrs|safe }}{% endif %}>
    {% include 'bootstrap4/layout/field_errors_block.html' %}

    {% for choice in field.field.choices %}
        {% if not inline_class %}<div class="custom-control custom-checkbox form-check">{% endif %}
        <input type="checkbox" class="custom-control-input form-check-input"{% if choice.0 in field.value or choice.0|stringformat:"s" in field.value or choice.0|stringformat:"s" == field.value|default_if_none:""|stringformat:"s" %} checked="checked"{% endif %} name="{{ field.html_name }}" id="id_{{ field.html_name }}_{{ forloop.counter }}" value="{{ choice.0|unlocalize }}" {{ field.field.widget.attrs|flatatt }}>
             <label class="custom-control-label form-check-{% if inline_class %}{{ inline_class }}{% else %}label{% endif %}" for="id_{{ field.html_name }}_{{ forloop.counter }}">
               <span class="check-box-p pl-2">
                    {{ choice.1|unlocalize }}
               </span>
             </label>
      {% if not inline_class %}</div>{% endif %}
    {% endfor %}

    {% include 'bootstrap4/layout/help_text.html' %}
</div>
