<fieldset {% if fieldset.css_id %}id="{{ fieldset.css_id }}"{% endif %}
  {% if fieldset.css_class or form_style %}class="{{ fieldset.css_class }} {{ form_style }}"{% endif %}
  {{ fieldset.flat_attrs|safe }}>
  {% if legend %}
  <div class="col-12">
    {% if "optional-legend" in fieldset.flat_attrs|safe %}
    <div class="form-check">
      <label for="id_optional_{{fieldset.css_id}}" class="form-check-label text-dark">
        <input type="checkbox" name="optional_{{fieldset.css_id}}"
        class="checkboxinput form-check-input optional-{{fieldset.css_id}}" id="id_optional_{{fieldset.css_id}}">
        <h5>{{ legend|safe }}
          {% if "small-description" in fieldset.flat_attrs|safe %}
          <small {{ fieldset.flat_attrs|safe }} class="ml-2 d-lg-inline d-md-inline d-block text-muted legend-small optional-{{fieldset.css_id}}">
          </small>
          {% endif %}
        </h5>
      </label>
    </div>
    {% else %}
    <h5>{{ legend|safe }}</h5>
    {% endif %}
  </div>
  {% endif %}
  {{ fields|safe }}
</fieldset>
