{% load crispy_forms_field %}

{% if field.is_hidden %}
    {{ field }}
{% else %}
    <div id="div_{{ field.auto_id }}" class="form-group{% if wrapper_class %} {{ wrapper_class }}{% endif %}{% if 'form-horizontal' in form_class %} form-row {% else %} {{ form_class }} {% endif %}{% if form_group_wrapper_class %} {{ form_group_wrapper_class }}{% endif %}{% if form_show_errors and field.errors %} has-danger{% endif %}{% if field.css_classes %} {{ field.css_classes }}{% endif %}">

        {% if field.label and not field|is_checkbox and form_show_labels %}
            <label for="{{ field.id_for_label }}" class="col-form-label {{ label_class }}{% if field.field.required %} requiredField{% endif %}">
                {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
            </label>
        {% endif %}

         {% if field|is_checkboxselectmultiple %}
            {% include 'bootstrap4/layout/customcheckboxselectmultiple.html' %}
        {% endif %}

        {% if field|is_radioselect %}
        <div class="{% if inline_class %}form-check{% endif %} p-0 m-0">
    {% include 'bootstrap4/layout/field_errors_block.html' %}
    {% for choice in field.field.choices %}
      {% if not inline_class %}<div class="form-check custom-control custom-radio custom-control-inline" style="display:inline-flex;">{% endif %}
          <input type="radio" class="custom-control-input form-check-input"{% if choice.0|stringformat:"s" == field.value|default_if_none:""|stringformat:"s" %} checked="checked"{% endif %} name="{{ field.html_name }}" id="id_{{ field.id_for_label }}_{{ forloop.counter }}" value="{{ choice.0 }}">
          <label for="id_{{ field.id_for_label }}_{{ forloop.counter }}" class="custom-control-label form-check-{% if inline_class %}{{ inline_class }}{% else %}label{% endif %}">
            {{ choice.1 }}
        </label>
      {% if not inline_class %}</div>{% endif %}
    {% endfor %}

    {% include 'bootstrap4/layout/help_text.html' %}
</div>

        {% endif %}

      {% if not field|is_checkboxselectmultiple and not field|is_radioselect %}
            {% if field|is_checkbox and form_show_labels %}

              <div class="custom-control custom-checkbox form-check my-0">
                <input type="checkbox" class="custom-control-input" name="{{ field.name }}" id="{{ field.id_for_label }}" {% if field.initial %}checked="checked"{% endif %}>
                  <label class="mb-0 custom-control-label form-check-label{% if field.field.required %} requiredField{% endif %}" for="{{ field.id_for_label }}">
                  <span class="check-box-p pl-2">
                    {{ field.label|safe }}
                    <span class="span_checkbox">{% if help_text_inline %}{% include 'bootstrap4/layout/help_text.html' %}{% endif %}</span>
                  </span></label>
              </div>

                {% if not help_text_inline %}
                    {% include 'bootstrap4/layout/help_text_and_errors.html' %}
                {% endif %}
            {% else %}
                <div class="{{ field_class }}">
                    {% crispy_field field %}
                    {% include 'bootstrap4/layout/help_text_and_errors.html' %}
                </div>
            {% endif %}
        {% endif %}

    </div>
{% endif %}
