{% load crispy_forms_field %}

<fieldset {% if fieldset.css_id %}id={{ fieldset.css_id }}{% endif %}
          {% if fieldset.css_class or form_style %}class=“{{ fieldset.css_class }} {{ form_style }}“{% endif %}
          >
  <div class="row mx-0 p-0">
    <div class="{% if fieldset.form_grid %}{{ fieldset.form_grid }}{% else %}col-lg-6{% endif %} p-0">
      <div class="card">
        {% if fieldset.collapsible_title %}
          <div class=“ibox-title ibox-title-collapsible”>
            <div class=“ibox-collapsible “>
              <label class=“collapsible-checkbox”>
                <input type=“checkbox”> {{ fieldset.collapsible_title }}
              </label>
            </div>
          </div>
        {% endif %}
        {% if legend %}
        <div class="card-header">
          {% if "optional-legend" in fieldset.flat_attrs|safe %}
          <h4 class="my-1">{{ legend|safe }}</h4>
          <div class="custom-control custom-checkbox form-check">
            <input type="checkbox" class="custom-control-input optional-{{fieldset.css_id}}" name="optional_{{fieldset.css_id}}" id="id_optional_{{fieldset.css_id}}" {% if fieldset.initial %}checked="checked"{% endif %}>
            <label class="custom-control-label form-check-label text-dark{% if field.field.required %} requiredField{% endif %}" for="id_optional_{{fieldset.css_id}}">
              <span class="check-box-p pl-2">{{ legend|safe }}
                <span class="span_checkbox" optional-legend>
                  <span class="d-lg-inline d-md-inline d-block text-muted">{{ fieldset.small_desc|safe }}</span>
                </span>
                  </span>
              </span>
            </label>
          </div>
          {% else %}
          <h4 class="my-1">{{ legend|safe }}</h4>
          {% endif %}
        </div>
        {% endif %}
        <div class="card-body">
          <div class="row px-3">
            {{ fields|safe }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4" style="padding:8px 15px 0px 32px;">
      <div class="help-section">
        {% if fieldset.help_text %}
          {{ fieldset.help_text|safe }}
        {% else %}
        <p></p>
        {% endif %}
      </div>
    </div>
  </div>
</fieldset>

