{% load staticfiles compress i18n sass_tags %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}KAWN{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

    {% block extra_meta %}
    {% endblock extra_meta %}

    {% block css %}
        <link type="text/css" rel="stylesheet" href="{% static 'theme/global/plugins/font-awesome/css/font-awesome.min.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'theme/global/plugins/ionicons/css/ionicons.min.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'theme/global/plugins/simple-line-icons/simple-line-icons.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'theme/global/plugins/animate.css/animate.css' %}">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito:400,600" />

        <!-- Your stuff: Third-party css libraries go here -->
        <!-- This file store project specific CSS -->
        {% compress css %}
        <!-- This file stores project-specific CSS -->
        <link href="{% sass_src 'sass/auth.scss' %}" rel="stylesheet">

        {% endcompress %}
    {% endblock %}
    <style>
      .bg-img{
        color: #FFF;
      }
      h1 {
        font-size: 64px;
      }
    </style>

    {% block extra_style %}
    {% endblock %}

</head>

<body class="{% block body_class %}{% endblock body_class %}">
{% block body %}
<main>
  <div class="w-100">
      <div class="col-lg-12">
        {% block content %}
        {% endblock content %}
      </div>
  </div>
</main>
<!-- /container -->
{% endblock body %}
{% block modal %}{% endblock modal %}

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% block javascript %}
    <!-- Latest JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <!-- place project specific Javascript in this file -->
    <script src="{% static 'js/project.js' %}"></script>
{% endblock javascript %}
</body>
</html>
 
