{% load static i18n compress%}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/favicon.ico'%}">

    <title>{% block site_title %}{% block site_title_prefix %}{% endblock site_title_prefix %}{% block site_title_content %}{% endblock site_title_content %}{% block site_title_suffix %} KAWN POS {% endblock site_title_suffix %}{% endblock site_title %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{% static 'theme/global/plugins/ionicons/css/ionicons.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'theme/global/plugins/simple-line-icons/simple-line-icons.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'theme/global/plugins/animate.css/animate.css' %}">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <style>
        nav{
            background: #FFF;
        }
    </style>
    {% block extra_style %}
    {% endblock %}
  </head>

  <body>

    <main role="main">

      {% block content %}
      {% endblock %}

    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="{% static "theme/global/js/jquery-slim.min.js" %}"><\/script>')</script>
      <script src="{% static 'theme/global/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
      <script>
        $(document).ready(function(){
            var checkScrollBar = function(){
              $('.navbar-custom').css({
                backgroundColor: $(this).scrollTop() > 1 ?
                  'rgb(74, 144, 226)' : 'transparent'
              })
            }
            $(window).on('load resize scroll', checkScrollBar)
          });
      </script>
    {% endblock javascript %}
  </body>
</html>
