{% extends "base.html" %}
{% block title %}{% block head_title %}{% endblock head_title %}{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      {% block inner %}{% endblock %}
    </div>
  </div>
</div>
{% endblock %}
