{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block settings_active_class %}active{% endblock %}
{% block mobile_settings_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_settings_show %}show{% endblock %}
{% block settings_email_active_class %}submenu-active{% endblock %}
{% block mobile_settings_email_active_class %}submenu-active{% endblock %}

{% block title %}{% trans "Email" %}{% endblock %}

{% block content_class %}fixed-tab-content col-12 p-0{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block tab_div_style %}background: white; border-bottom: 1px solid #d7d7db;{% endblock %}
{% block tab_section_style %}border-bottom: 1px solid #d7d7db;{% endblock %}
{% block content_header %}{% trans "Account" %}{% endblock %}

{% block tab_list %}
  <ul class="nav nav-tabs pt-2" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="email-tab" href="#email" >{% trans "Email" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'users:password_change' %}" >{% trans "Password" %}</a>
    </li>
  </ul>
{% endblock %}

{% block sub_content %}

<div class="tab-content pt-1" id="account-tab-content">
  <div class="tab-pane show active" id="account" role="account" aria-labelledby="account-tab">
    <div class="row mx-0 p-0">
      <div class="col-lg-6 p-0">
        <div class="card">
          <div class="card-body">

            {% if user.emailaddress_set.all %}
              <p>{% trans 'The following e-mail addresses are associated with your account:' %}</p>

              <form action="{% url 'account_email' %}" class="email_list" method="post">
                {% csrf_token %}
                <fieldset class="blockLabels row">
                  <div class="ctrlHolder custom-controls-stacked">
                  {% for emailaddress in user.emailaddress_set.all %}
                    <div class="d-block custom-control custom-radio">
                      <input id="email_radio_{{ forloop.counter }}" type="radio"
                                name="email" class="form-check-input custom-control-input"
                                {% if emailaddress.primary %}checked="checked"{% endif %}
                                value="{{ emailaddress.email }}"/>
                      <label for="email_radio_{{ forloop.counter }}"
                                class="custom-control custom-control-label {% if emailaddress.primary %}primary_email{% endif %}">

                        <span class="custom-control-indicator"></span>

                        <div class="input-group">
                          <p class="custom-control-description mb-0 mr-2">
                            {{ emailaddress.email }}
                          </p>
                          {% if emailaddress.primary %}
                              <span class="input-group-addon mr-1"><span class="fa fa-star" title='{% trans "Primary" %}'></span></span>
                          {% endif %}
                          {% if emailaddress.verified %}
                            <span class="input-group-addon verified"><span class="fa fa-check" title='{% trans "Verified" %}'></span></span>
                          {% else %}
                            <span class="input-group-addon unverified"><span class="fa fa-exclamation-triangle" title='{% trans "Unverified" %}'></span></span>
                          {% endif %}
                        </div>
                      </label>
                    </div>
                  {% endfor %}
                  </div>
                  <div class="btn-toolbar justify-content-between  mt-3 mx-3" role="toolbar" aria-label="Toolbar with button groups">
                    <button class="secondaryAction btn btn-primary" type="submit"
                              name="action_primary">{% trans 'Make Primary' %}</button>
                    <div>
                      <button class="secondaryAction  btn btn-outline-primary" type="submit"
                              name="action_send">{% trans 'Re-send Verification' %}</button>
                      <button class="primaryAction btn btn-primary" type="submit"
                              name="action_remove">{% trans 'Remove' %}</button>
                    </div>
                  </div>
                </fieldset>
              </form>

            {% else %}
              <p>
                <strong>{% trans 'Warning:' %}</strong> {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}
              </p>
            {% endif %}
          </div>
          <div class="divider"></div>
          <div class="card-body">
            <div class="card-title">
              <h4 class="heading-4">{% trans "Add New E-mail Address" %}</h4>
            </div>
            <form method="post" action="." class="add_email">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary float-right" name="action_add"
                        type="submit">{% trans "Add E-mail" %}</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-4 p-0">
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block javascript %}
    {{ block.super }}
    <script>
        (function () {
            var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
            var actions = document.getElementsByName('action_remove');
            if (actions.length) {
                actions[0].addEventListener("click", function (e) {
                    if (!confirm(message)) {
                        e.preventDefault();
                    }
                });
            }
        })();
    </script>
{% endblock %}
