{% extends "account/base_verification.html" %}

{% load i18n %}
{% load staticfiles %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}

{% block content %}
<div id='verification-sent-page' class="row justify-content-center mt-3">
  <div class="col-xs-12 col-xl-3 col-lg-4 col-md-6">
    <div class="col-lg-12">
        <img src="{% static 'images/kawn-logo.svg' %}" alt="" class="text-center mb-3">
    </div>

    <h3 class="text-center mt-5">{% trans "Your Account Has Been Activated!" %}</h3>
    <p class="text-center">{% trans "You’ll be automatically redirected to the login page in 5 seconds." %}</p>
    {% url 'account_login' as login_url %}
    <p class="text-center">{% blocktrans with login_url as login_url %}if not, please<a href="{{ login_url }}">click here.</a>{% endblocktrans %}</p>

  </div>
</div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script>
      function redirect(){
         window.location.href = "{% url 'account_login' %}";
      }
      setTimeout(redirect, 5000);
  </script>
{% endblock %}

