{% extends "account/base_verification.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}

{% block content %}
<div class="row justify-content-center mt-4 pt-5">
    <div class="col-xs-12 col-xl-3 col-lg-4 col-md-6">
        <h3>{% trans "Confirm E-mail Address" %}</h3>
        {% if confirmation %}

        {% user_display confirmation.email_address.user as user_display %}

        <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>

        <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
        {% csrf_token %}
            <div class="form-group btn">
                <button class="btn btn-primary btn-lg" type="submit">{% trans 'Confirm' %}</button>
            </div>
        </form>

        {% else %}

        {% url 'account_email' as email_url %}

        <p class="text-center">{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

        {% endif %}

    </div>
</div>

{% endblock %}

