{% extends "account/base_auth.html" %}

{% load i18n %}
{% load account %}
{% load socialaccount %}
{% load staticfiles crispy_forms_tags %}

{% block head_title %}{% trans "Login" %}{% endblock %}
{% block body_class %}page-login{% endblock %}

{% block content %}
<div id='login-page' class="row justify-content-center mt-4">
  <div class="col-xs-12 col-xl-3 col-lg-4 col-md-6">

    <div class="col-md-12 text-center">
        <img src="{% static 'images/kawn-logo.svg' %}" alt="" class="text-center mb-3">
    </div>

    <!--BEGIN LOGO-->
    <h3 class="text-center">
     {% trans "Masuk" %}
    </h3>
    <p class="text-center mb-5">
      {% trans "Don't have an account? " %}<a href="{{ signup_url }}" class="link">{% trans "Create an account." %}</a>
    </p>
    <!--END LOGO-->
    <!--BEGIN CONTENT-->
    <form action="{% url 'account_login' %}" method="post" class="login-form box">
      {% csrf_token %}


      <div>
        <div id="div_{{ form.login.id_for_label }}" class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <label for="{{ form.login.id_for_label }}" class="col-form-label requiredField">
                {% trans "Alamat Email" %}
              </label>
            </div>
            <div class="col-sm-6">
              <label for="{{ form.login.id_for_label }}" class="col-form-label requiredField pull-right">
              </label>
            </div>
          </div>
          <div>
            <input type="email" name="{{ form.login.name }}" placeholder="ex: example@kawn.co.id" class="textinput textInput form-control {% if form.login.errors or form.non_field_errors  %}is-invalid{% endif %}" required data-eye id="{{ form.login.id_for_label }}" />
            {% if form.login.errors %}
              <span id="error_1_{{ form.login.id_for_label }}" class="invalid-feedback"><strong>
                {% for err in form.login.errors %}
                  {{ err }}
                {% endfor %}
              </strong></span>
            {% endif %}
          </div>
        </div>

        <div id="div_{{ form.password.id_for_label }}" class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <label for="{{ form.password.id_for_label }}" class="col-form-label requiredField">
                {% trans "Password" %}
              </label>
            </div>
            <div class="col-sm-6">
              <label for="{{ form.password.id_for_label }}" class="col-form-label requiredField pull-right">
              </label>
            </div>
          </div>
          <div>
            <input type="password" name="{{ form.password.name }}" placeholder="Password" class="textinput textInput form-control {% if form.password.errors or form.non_field_errors %}is-invalid{% endif %}" required data-eye id="{{ form.password.id_for_label }}" />
            {% if form.password.errors %}
              <span id="error_1_{{ form.password.id_for_label }}" class="invalid-feedback"><strong>
                {% for err in form.password.errors %}
                  {{ err }}
                {% endfor %}
              </strong></span>
            {% endif %}
            {% if form.non_field_errors %}
              <span id="error_1_password" class="invalid-feedback"><strong>
                {% for err in form.non_field_errors %}
                  {{ err }}
                {% endfor %}
              </strong></span>
            {% endif %}
          </div>
        </div>
      </div>
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="form-group"><button type="submit" class="btn btn-primary btn-block btn-lg">{% trans "Masuk" %}</button></div>
      <div>
        <div class="row">
          <div class="col-6">{{ form.remember|as_crispy_field }}</div>
          <div class="col-6">
            <a href="{% url 'account_reset_password' %}" class="text-info pull-right mtm">Forgot password?</a>
          </div>
        </div>
      </div>
    </form>
    <p class="text-center blur mt-4">
        {% trans "Copyright © 2018 PT Technomedia Multi Sejahtera. All rights reserved." %}
      </p>
    <!--END CONTENT-->
  </div>
</div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  {{ form.media.js }}
  <script>
    $(document).ready(function($){
      $('.login-form').attr('novalidate', 'novalidate');
    });
  </script>
{% endblock %}
