{% extends "account/base_auth.html" %}

{% load i18n %}
{% load account %}
{% load socialaccount %}
{% load staticfiles crispy_forms_tags %}

{% block css %}
  {{ block.super }}
  {{ form.media.css }}
  <style>
    .asteriskField {
      display: none;
    }
  </style>
{% endblock %}

{% block head_title %}{% trans "Reset Password" %}{% endblock %}
{% block body_class %}page-password-reset{% endblock %}

{% block content %}
<div id='password-reset-page' class="row justify-content-center mt-4">
    <div class="col-xs-12 col-xl-3 col-lg-4 col-md-6">
      <!--BEGIN LOGO-->
      <div class="col-lg-12 col-md-12 col-sm-12 text-center">
          <img src="{% static 'images/kawn-logo.svg' %}" alt="" class="text-center mb-3">
      </div>
      <h3 class="text-center mb-4">
       {% trans "Password Reset" %}
      </h3>
      <!--END LOGO-->
      <!--BEGIN CONTENT-->
      <form action="{% url 'account_reset_password' %}" method='post' class="password_reset box">
        {% csrf_token %}
        <div>
          {{ form|crispy }}
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block btn-lg">{% trans "Reset Password" %}</button>
        </div>
        <a href="{% url 'account_login' %}" class="btn btn-default btn-block btn-lg back-button">
            <i class="fa fa-arrow-left"></i>&nbsp;Kembali
        </a>
      </form>
      <p class="footer-text mt-4">
        {% trans "Please contact us if you have any trouble resetting your password." %}
      </p>
      <p class="footer-text blur">
        {% trans "Copyright © 2018 PT Technomedia Multi Sejahtera. All rights reserved." %}
      </p>
      <!--END CONTENT-->
    </div>
  </div>
{% endblock %}
