{% extends "account/base_auth.html" %}

{% load static i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block extra_style %}
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito:400,600" />
<style>
  html{
  font-family: Nunito;
  font-size: 14px;
  color: #A5A5A5;
  letter-spacing: 0;
  }
  h3{
    font-family: Nunito;
    font-size: 24px;
    color: #485D6E;
    letter-spacing: 0;
    text-align: center;
  }
  p{
    font-family: Nunito;
    font-size: 14px;
    color: #485D6E;
    letter-spacing: 0;
    text-align: center;
  }
  button{
    background: #4A90E2;
    border-radius: 5px;
  }
</style>
{% endblock %} 

{% block content %}
    <div id='password-reset-page' class="row justify-content-center mt-4">
        <div class="col-xs-12 col-xl-3 col-lg-4 col-md-6">

            <div class="col-md-12 text-center">
                <img src="{% static 'images/kawn-logo.svg' %}" alt="" class="text-center mb-3">
            </div>
            <h3 class="text-center mb-4">
                {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}
            </h3>
            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
            {% else %}
                {% if form %}
                    <form method="POST" action="." class='password-reset-change box'>
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block" name="action">{% trans 'Change Password' %}</button>
                        </div>
                    </form>
                {% else %}
                    <p>{% trans 'Your password is now changed.' %}</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}

