{% extends "account/base_verification.html" %}

{% load static i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div id='verification-sent-page' class="row justify-content-center mt-4">
    <div class="col-xs-12 col-xl-3 col-lg-4 col-md-6">
        <div class="col-lg-12 text-center">
            <a href="/" class="logo"><img src="{% static 'images/logo2.png' %}"></a>
        </div>
        <h3 class="text-center mt-5">
            {% trans "Password Reset" %}
        </h3>

        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p class="text-center">{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
        <p class="text-center">{% trans "© All Rights Reserved. KAWN POS. Privacy and Terms " %}</p>
    </div>
</div>
{% endblock %}

