{% extends "dashboard/skeleton.html" %}

{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block css %}
  {{ block.super }}
  <!-- Your stuff: Third-party css libraries go here -->
  {{ form.media.css }}
{% endblock %}

{% block settings_active_class %}active{% endblock %}
{% block mobile_settings_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_settings_show %}show{% endblock %}
{% block settings_email_active_class %}submenu-active{% endblock %}
{% block mobile_settings_email_active_class %}submenu-active{% endblock %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content_class %}fixed-tab-content col-12 p-0{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block tab_div_style %}background: white; border-bottom: 1px solid #d7d7db;{% endblock %}
{% block tab_section_style %}border-bottom: 1px solid #d7d7db;{% endblock %}
{% block action_div_style %}background: white; border-top: 1px solid #d7d7db;{% endblock %}
{% block content_header %}{% trans "Account" %}{% endblock %}

{% block tab_list %}
  <ul class="nav nav-tabs pt-2" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'account_email' %}" >{% trans "Email" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" id="password-tab" href="#password" >{% trans "Password" %}</a>
    </li>
  </ul>
{% endblock %}
{% block submit_form %}
    <div class="d-flex justify-content-end" id="fixed-bottom-button">
        <button class="btn btn-primary float" type="submit" name="action" id="submitBtn">{% trans "Change Password" %}</button>
    </div>
{% endblock%}

{% block sub_content %}
  <div class="tab-content pt-1" id="password-tab-content">
    <div class="tab-pane show active" id="password" role="password" aria-labelledby="password-tab">
      <form enctype="multipart/form-data" class="password_change" action="{% url 'account_change_password' %}" method="post">
        <div class="row mx-0 p-0">
          <div class="col-lg-6 p-0">
            <div class="card">
              <div class="card-body">
                {% csrf_token %}
                {{ form|crispy }}
              </div>
            </div>
          </div>
          <div class="col-lg-4 p-0">
          </div>
          <div class="justify-content-end col-6 p-0" id="fixed-button-content" style="display: flex;">
              <button class="btn btn-primary float" type="submit" name="action">{% trans "Change Password" %}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script src="{% static '/js/button-scrollbar.js' %}"></script>
<script>
  $(document).ready(function () {
    $('#password-change-form').attr('novalidate', 'novalidate');
      $("#submitBtn").click(function () {
        $(".password_change").submit();
      });
  });
</script>
{% endblock %}
