{% extends "account/base_verification.html" %}

{% load static i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %} 

{% block content %}
<div class="row justify-content-center mt-4">
    <div class="col-xs-12 col-xl-3 col-lg-4 col-md-6">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            <a href="/" class="logo"><img src="{% static 'images/kawn-logo.svg' %}"></a>
        </div>
        <h3 class="text-center mt-5">
            {% trans "Change Password" %}
        </h3>
        <p class="text-center">{% trans 'Your password is now changed.' %}</p>
        <p class="text-center">Kembali ke halaman <a href="{% url 'account_login' %}">Login</a></p>
        <p class="text-center">{% trans "© All Rights Reserved. KAWN POS. Privacy and Terms " %}</p>
    </div>
</div>
{% endblock %}

