{% extends "account/base_auth.html" %}

{% load i18n %}
{% load account %}
{% load socialaccount %}
{% load staticfiles crispy_forms_tags %}

{% block css %}
  {{ block.super }}
  {{ form.media.css }}
  <style>
    .asteriskField {
      display: none;
    }
  </style>
{% endblock %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}
{% block body_class %}page-sign-up{% endblock %}

{% block content %}
<div id='sign-up-page' class="row justify-content-center mt-4">
    <div class="col-xs-12 col-xl-3 col-lg-4 col-md-6">

      <div class="col-md-12 text-center">
        <img src="{% static 'images/kawn-logo.svg' %}" alt="" class="text-center mb-3">
      </div>

      <h3 class="text-center mb-2">
      {% trans "Start your free 30-days trial now" %}
      </h3>
      <p class="text-center mb-4">
        {% trans "Already have an account? " %}<a href="/accounts/login/" class="link">{% trans "Log in here" %}</a>
      </p>
      <form action="{% url 'account_signup' %}" method="post" class="sign-up-form box">
        {{ wizard.management_form }}
        {% crispy wizard.form %}
        {{ wizard.form.management_form }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="form-group">
          {% if wizard.steps.prev %}
            <div class="d-flex justify-content-between">
                <button class="btn btn-secondary " name="wizard_goto_step" value="{{ wizard.steps.prev }}"><i class="fa fa-arrow-left"></i>&nbsp;{% trans "Back" %}</button>
                {% if wizard.steps.next %}
                  <button type="submit" class="btn btn-primary">Lanjutkan&nbsp;<i class="fa fa-arrow-right"></i></button>
                {% else %}
                  <button type="submit" class="btn btn-primary">Buat Akun Anda</button>
                {% endif %}
            </div>
          {% else %}
            <button type="submit" class="btn btn-primary btn-block btn-lg">Lanjutkan</button>
          {% endif %}
        </div>
      </form>
      {% if not wizard.steps.prev %}
      <p class="text-center mt-4">
        {% trans "By clicking this button, you agree to KAWN POS" %}
      </p>
      {% endif %}
      <p class="text-center privacy-term-condition"><a href="{% url 'home' %}">{% trans "Kebijakan Privacy & Aturan Penggunaan" %}</a></p>
      <p class="text-center blur">
        {% trans "Copyright © 2018 PT Technomedia Multi Sejahtera. All rights reserved." %}
      </p>
  </div>
</div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  {{ form.media.js }}
  <script>
    $(document).ready(function($){
      $('.sign-up-form').attr('novalidate', 'novalidate');

      if($('#id_outlet_form-province').hasClass('is-invalid')){
        $('#div_id_outlet_form-province .select2-container--default .select2-selection--single').css('border', '1px solid #dc3545', "!important");
      }

      if($('#id_outlet_form-city').hasClass('is-invalid')){
        $('#div_id_outlet_form-city .select2-container--default .select2-selection--single').css('border', '1px solid #dc3545', "!important");
      }
    });
  </script>
{% endblock %}