{% extends "account/base_verification.html" %}

{% load i18n %}
{% load staticfiles %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %} 

{% block content %}
<div id='verification-sent-page' class="row justify-content-center mt-3">
    <div class="col-11 col-xs-12 col-lg-5 col-md-9">
      <div class="col-lg-12 text-center">
          <a href="/" class="logo"><img src="{% static 'images/kawn-logo.svg' %}"></a>
      </div>
      <h3 class="text-center mt-5">
          {% trans "Check your email!" %}
      </h3>
      <p class="text-center">{% blocktrans %}We’ve sent a message to your email. Open it up and click Activate account. We’ll take it from there.{% endblocktrans %}</p>
      <p class="text-center">{% trans "© All Rights Reserved. KAWN POS. Privacy and Terms " %}</p>
    </div>
</div> 
{% endblock %}

