{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% get_media_prefix %}

{% block title %}{% trans "Notification Settings" %}{% endblock %}

{% block css %}
  {{ block.super }}
  <!-- Your stuff: Third-party css libraries go here -->
  {{ form.media.css }}
  <style>
    #product-form .card-body div.row:last-of-type #div_id_price{
      border: 0 !important;
    }

    #product-form .card-body div.row:last-of-type #div_id_price label{
      margin-bottom: 0px !important;
    }
  </style>
  <style>
      .switch {
        margin-top: 3px;
        position: relative;
        display: inline-block;
        width: 40px;
        height: 20px;
      }
  
      .switch input {display:none;}
  
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }
  
      .slider:before {
        position: absolute;
        content: "";
        height: 12px;
        width: 12px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      .switch input:checked + .slider {
        background-color: #2196F3;
      }
  
      .switch input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
  
      .switch input:checked + .slider:before {
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
      }
  
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }
  
      .slider.round:before {
        border-radius: 50%;
      }
  
  </style>
{% endblock %}

{% block settings_active_class %}active{% endblock %}
{% block mobile_settings_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_settings_show %}show{% endblock %}
{% block settings_notification_setting %}submenu-active{% endblock %}
{% block mobile_settings_notification_active_class %}submenu-active{% endblock %}
{% block content_header %}{% trans "Notification Setting" %}{% endblock %}

{% block content_class %}pt-3{% endblock %}
{% block tab_div_style %}background: white; border-bottom: 1px solid #e6e7e9;{% endblock %}
{% block tab_section_style %}border-bottom: 1px solid #e6e7e9;{% endblock %}

{% block sub_content %}
  <div class="w-100 pt-1">
    <form enctype="multipart/form-data" method="post" action="." id="product-form">
      {{ form.management_form|crispy }}
      {% include "bootstrap4/errors_formset.html"  with formset=form %}
      {% for small_form in form %}
        {% crispy small_form %}
      {% endfor %}
      <div class="justify-content-end col-6 p-0" id="fixed-button-content" style="display: flex;">
        <input type="submit" class="btn btn-primary ml-1" value="{% trans 'Save' %}"/>
      </div>
    </form>
  </div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  {{ form.media.js }}
  <script src="{% static 'typeahead/typeahead.bundle.js' %}"></script>
  <script>
    $(document).ready(function($) {

      var enabled = $(".enabled-notifications");
      $.each(enabled, function(index, value){
        name_index = value.id.split("-");
        notification_conf($(value).is(':checked'), name_index);
      });

      function notification_conf(is_enable, name_index){
        var user_recipients_selector = name_index[0] + "-" + name_index[1] + "-user_recipients";
        var div_user_recipients_selector = "#div_" + user_recipients_selector;
        if(is_enable){
          $(div_user_recipients_selector).removeClass("d-none");
        }else{
          $(div_user_recipients_selector).addClass("d-none");
        }
      }

      $(".enabled-notifications").on("change", function(){
        console.log(this.id)
        name_index = this.id.split("-");
        notification_conf($(this).is(':checked'), name_index);
      });

    });
  </script>
{% endblock %}
