{% load crispy_forms_tags %}
{% load crispy_forms_utils %}
{% load crispy_forms_field %}

<fieldset>
  <div class="row mx-0 p-0">
    <div class="card col-lg-12 p-0">
      {% if legend %}
        <div class="card-header">
          <h4 class="my-1">{{ legend|safe }}</h4>
        </div>
      {% endif %}
      <div class="card-body mx-0">
        {% include "bootstrap4/table_inline_formset.html" %}
      </div>
    </div>
  </div>
</fieldset>
