{% load i18n %}
<div class="pull-right">
  {% if form.prefix %}
    <input type="checkbox" name="{{ form.prefix }}-{{ field.name }}" class="checkboxinput d-none formset-data-delete" id="id_{{ form.prefix }}-{{ field.name }}">
    <label for="id_{{ form.prefix }}-{{ field.name }}" class="form-check-label">
     <a formset-data-delete-button href="#">
      {{ field.label|safe }}
     </a>
    </label>
  {% else %}
    <input type="checkbox" name="{{ formset.empty_form.prefix }}-{{ field.name }}" class="checkboxinput d-none formset-data-delete" id="id_{{ formset.empty_form.prefix }}-{{ field.name }}">
    <label for="id_{{ formset.empty_form.prefix }}-{{ field.name }}" class="form-check-label">
      <a formset-data-delete-button href="#">
        {{ field.label|safe }}
       </a>
    </label>
  {% endif %}
</div>