{% load crispy_forms_tags %}
{% load crispy_forms_utils %}
{% load crispy_forms_field %}
{% load formset_tags %}
{% load i18n %}


{% specialspaceless %}
  {% if formset_tag %}
    <form {{ flat_attrs|safe }} method="{{ form_method }}" {% if formset.is_multipart %}
                                enctype="multipart/form-data"{% endif %}>
  {% endif %}
{% if formset_method|lower == 'post' and not disable_csrf %}
  {% csrf_token %}
{% endif %}

<div class="formset-wrapper" data-formset-prefix="{{ formset.prefix }}">
  {{ formset.management_form|crispy }}
  {% if not tabular_formset %}
  <table{% if form_id %} id="{{ form_id }}_table"{% endif %} class="table border-0">
    <thead>
    {% if formset.readonly and not formset.queryset.exists %}
    {% else %}
      <tr class="border-bottom">
        {% for field in formset.forms.0 %}
          {% if field.label and not field|is_checkbox and not field.is_hidden %}
            <th for="{{ field.auto_id }}" class="col-form-label {% if field.field.required %}requiredField{% endif %} text-left pl-0 pt-0">
              {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
            </th>
          {% elif field.name == "DELETE" %}
          <th></th>
          {% endif %}
        {% endfor %}
      </tr>
    {% endif %}
    </thead>

    <tbody data-formset-body>
    {% for form in formset %}
      <!-- {% if form_show_errors and not form.is_extra %}
        {% include "bootstrap4/errors.html" %}
      {% endif %} -->

      <tr data-formset-form="{{ form.prefix }}" data-has-instance="{% if form.instance.data %}true{% else %}false{% endif %}">
        {% for field in form %}
          {% if field.name == "DELETE" %}
            <td id="div_{{ form.prefix }}-{{ field.name }}" class="form-group align-top pl-0 pr-0">
              <div class="pt-2">
                  <input type="checkbox" name="{{ form.prefix }}-{{ field.name }}" class="checkboxinput d-none formset-data-delete" id="id_{{ form.prefix }}-{{ field.name }}">
                  <label for="id_{{ form.prefix }}-{{ field.name }}" class="form-check-label"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></label>
              </div>
            </td>
          {% else %}
            {% include 'bootstrap4/field.html' with tag="td" form_show_labels=False wrapper_class="align-top pl-0" %}
          {% endif %}
        {% endfor %}
      </tr>
    {% endfor %}

    <script type="form-template" data-formset-empty-form>
      {% escapescript %}
        <tr data-formset-form="{{ formset.empty_form.prefix }}" data-has-instance="false">
          {% for field in formset.empty_form %}
            {% if field.name == "DELETE" %}
              <td id="div_{{ formset.empty_form.prefix }}-{{ field.name }}" class="form-group align-top pl-0 pr-0">
                <div class="pt-2">
                  <input type="checkbox" name="{{ formset.empty_form.prefix }}-{{ field.name }}" class="checkboxinput d-none formset-data-delete" id="id_{{ formset.empty_form.prefix }}-{{ field.name }}">
                  <label for="id_{{ formset.empty_form.prefix }}-{{ field.name }}" class="form-check-label"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></label>
                </div>
              </td>
            {% else %}
              {% include 'bootstrap4/field.html' with tag="td" form_show_labels=False wrapper_class="align-top pl-0" %}
            {% endif %}
          {% endfor %}
        </tr>
      {% endescapescript %}
    </script>
    </tbody>
  </table>
  {% else %}
  <div {% if form_id %} id="{{ form_id }}_table"{% endif %} class="border-0">
    <div data-formset-body>
      {% for form in formset %}
        <!-- {% if form_show_errors and not form.is_extra %}
          {% include "bootstrap4/errors.html" %}
        {% endif %} -->
        <div class="border-bottom mb-4 row" data-formset-form="{{ form.prefix }}" data-has-instance="{% if form.instance.data %}true{% else %}false{% endif %}">
          <div class="col-12">
            {% crispy form %}
          </div>
        </div>
      {% endfor %}

      <script type="form-template" data-formset-empty-form>
        {% escapescript %}
          <div class="border-bottom mb-4 row" data-formset-form="{{ formset.empty_form.prefix }}" data-has-instance="false">
            <div class="col-12">
              {% crispy formset.empty_form %}
            </div>
          </div>
        {% endescapescript %}
      </script>
    </div>
  </div>
  {% endif %}
  {% include "bootstrap4/inputs.html" %}

  {% if add_false %}
  {% else %}
    <div class="formset-footer">
      <input type="button" class="btn btn-outline-primary active btn-small" value="{{ add_content }}" data-formset-add>
    </div>
  {% endif %}
</div>
{% if formset_tag %}</form>{% endif %}
{% endspecialspaceless %}
