{% load crispy_forms_tags %}
{% load crispy_forms_utils %}
{% load crispy_forms_field %}

<fieldset>
  <div class="row mx-0 p-0">
    <div class="{% if form_grid %}{{ form_grid }}{% else %}col-lg-6{% endif %} p-0">
      <div class="card">
        {% if collapsible_title %}
          <div class="card-header">
            <div id="div_id_{{ collapsible_title }}" class="form-group col-lg-12 px-0 mb-0">
              <div class="custom-control custom-checkbox form-check my-0">
                <input type="checkbox" class="custom-control-input collapsible-checkbox" id="id_{{ collapsible_field_name }}"
                  {% if formset.errors %}checked{% endif %}
                  {% if collapsible_field_name %}name="{{ collapsible_field_name }}"{% endif %}
                >
                <label class="mb-0 custom-control-label form-check-label" for="id_{{ collapsible_field_name }}"><span class="check-box-p pl-2">{{ collapsible_title }}</span></label>
              </div>
            </div>
          </div>
        {% endif %}

        {% if title %}
        <div class="card-header">
          <h4 class="my-1">{{ title|safe }}</h4>
        </div>
        {% endif %}

        {% if legend %}
        <div class="card-header">
          <h4 class="my-1">{{ legend|safe }}</h4>
        </div>
        {% endif %}

        <div class="card-body mx-0{% if collapsible_title and not formset.errors %} collapse{% endif %}">
          {% include "bootstrap4/table_inline_formset.html" with tabular_formset=tabular_formset %}
        </div>
      </div>
    </div>
    <div class="col-lg-4" style="padding:8px 15px 0px 32px;">
      <div class="help-section">
        {{ help_text|safe }}
      </div>
    </div>
  </div>
</fieldset>
