{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block css %}
  {{ block.super }}
  <!-- Your stuff: Third-party css libraries go here -->
  {{ form.media.css }}
{% endblock %}

{% block employees_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_employees_show %}show{% endblock %}
{% block employees_staff_active_class %}submenu-active{% endblock %}
{% block content_header %}{% trans "Invite New User" %}{% endblock %}

{% block content_class %}col-lg-12 fixed-no-tab-content p-0{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block tab_div2_class %}px-2{% endblock %}
{% block action_div_style %}background: white; border-top: 1px solid #d7d7db;{% endblock %}

{% block submit_form %}
<div id="fixed-bottom-button" class="justify-content-end d-flex">
    <a href="{% url 'invitation:user_list_dashboard' %}" class="btn btn-secondary">
      &nbsp;{% trans "Back" %}
    </a>
    <input type="submit" class="btn btn-primary ml-1" id="submitBtn" value="{% trans 'Invite' %}"/>
</div>
{% endblock %}
{% block sub_content %}
  <div class="w-100 pt-1">
    <form method="post" action="." id="invite-user-form">
      <div class="row mx-0 p-0">
        <div class="card col-lg-6">
          <div class="card-body">
              {% csrf_token %}
              {{ form|crispy }}
          </div>
        </div>
        <div class="col-lg-4"></div>
        </div>

        <div  class="justify-content-end col-6 p-0" id="fixed-button-content" style="display: flex;">
          <a href="{% url 'invitation:user_list_dashboard' %}" class="btn btn-secondary">
            &nbsp;{% trans "Back" %}
          </a>
          <input type="submit" class="btn btn-primary ml-1" value="{% trans 'Invite' %}"/>
        </div>
    </form>
  </div>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script src="{% static '/js/button-scrollbar.js' %}"></script>
<script>
  $(document).ready(function () {
    $('#invite-user-form').attr('novalidate', 'novalidate');

    $("#submitBtn").click(function () {
         $("#invite-user-form").submit();
    });
  });
</script>
{% endblock %}
