{% extends "account/base_verification.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Invitee Registration" %}{% endblock %}
{% block extra_style %}
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito:400,600" />
<style>
  html, body{
    font-family: Nunito;
    font-size: 14px;
    color: #A5A5A5;
    letter-spacing: 0;
    background: #FAFAFA;
  }
  h3{
    font-family: Nunito;
    font-size: 24px;
    color: #485D6E;
    letter-spacing: 0;
    text-align: center;
  }
  p{
    font-family: Nunito;
    font-size: 14px;
    color: #485D6E;
    letter-spacing: 0;
    text-align: center;
  }
  button{
    background: #4A90E2;
    border-radius: 5px;
    vertical-align: middle;
  }
  div.btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
</style>
{% endblock %} 

{% block content %}
<div class="row justify-content-center mt-5 pt-5">
    <div class="col-11 col-xs-12 col-lg-6 col-md-9">
        <h3>{% trans "Your Account Has Been Registered!" %}</h3>
        <p>You’ll be automatically redirected to the login page in 5 seconds.</p>
        <p>if not, please <a href="{% url 'account_login' %}">click here.</a></p>
    </div>
</div>

<script>
    function redirect(){
       window.location.href = "{% url 'account_login' %}";
    }
    setTimeout(redirect, 5000);
</script>

{% endblock %}

