{% extends "account/base_auth.html" %}

{% load i18n %}
{% load crispy_forms_tags staticfiles %}

{% block title %}{% trans "Sign Up" %}{% endblock title %}
{% block body_class %}page-register{% endblock body_class %}

{% block extra_style %}
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito:400,600" />
{{ form.media.css }}

<style>
  html{
  font-family: Nunito;
  font-size: 14px;
  color: #A5A5A5;
  letter-spacing: 0;
  }
  h3{
    font-family: Nunito;
    font-size: 24px;
    color: #485D6E;
    letter-spacing: 0;
    text-align: center;
  }
  p{
    font-family: Nunito;
    font-size: 14px;
    color: #485D6E;
    letter-spacing: 0;
    text-align: center;
  }
  button{
    background: #4A90E2;
    border-radius: 5px;
  }
</style>
{% endblock %}

{% block content %}
<div id='sign-up-page' class="row justify-content-center mt-3">
  <div class="col-11 col-xs-12 col-lg-5 col-md-9">

    <div class="col-md-12 text-center">
      <img src="{% static 'images/kawn-logo.svg' %}" alt="" class="text-center mb-3">
    </div>

    <h3 class="text-center mb-5">
     {% trans "KAWN Invitation Registration" %}
    </h3>
    <form action="{% url 'invitee-registration' %}" method="post" class="sign-up-form">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="form-group mb-4">
          <button type="submit" class="btn btn-primary btn-block btn-lg">LANJUTKAN</button>
      </div>
    </form>
    <p class="text-center">
      {% trans "By clicking this button, you agree to KAWN POS" %}
    </p>
    <p>
      <a href="#">{% trans "Anti-spam Policy & Term of use." %}</a>
    </p>
    <p class="text-center">
      {% trans "Copyright © 2018 PT Indosterling Technomedia. All rights reserved." %}
    </p>
  </div>
</div>
{% endblock content %}
