{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}


{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item"><a href="{% url 'invitation:user_list_dashboard' %}">User</a></li>
  <li class="breadcrumb-item active">Invitation Complete</li>
{% endblock %}

{% block sub_content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-body">
            <div>
              <p>{% blocktrans %}Invite was successfully sent.{% endblocktrans %}
              </p>
              <a href="{% url 'invitation:user_list_dashboard' %}" class="btn btn-primary">Back to Account Management</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
