{% extends "dashboard/base_datatable.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block settings_active_class %}active{% endblock %}
{% block mobile_settings_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_settings_show %}show{% endblock %}
{% block settings_cashier_activity_active_class %}submenu-active{% endblock %}
{% block mobile_settings_cashier_activity_active_class %}submenu-active{% endblock %}

{% block content_class %}pt-3{% endblock %}
{% block tab_div_style %}background: white; border-bottom: 1px solid #e6e7e9;{% endblock %}
{% block tab_ol_class %}breadcrumb-tabs{% endblock %}
{% block breadcrumb_active %}breadcrumb-item active{% endblock %}
{% block tab_section_style %}border-bottom: 1px solid #e6e7e9;{% endblock %}

{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}

{% block tab_list %}
  <ul class="nav nav-tabs pt-2" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" href="#cashierActivity">{% trans "Cashier Activity" %}</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'sales:cashier_activity_reason_list' %}" >{% trans "Cashier Activity Reason" %}</a>
    </li>
  </ul>
{% endblock %}

{% block datatable_title %}{% trans "Cashier Activity" %}{% endblock datatable_title %}

{% block datatable_breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item active">Cashier Activity</li>
{% endblock datatable_breadcrumb %}

{% block datatable_id %}tbl_product{% endblock datatable_id %}

{% block datatable_filter %}
<tr class='datatable-filter'>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control" placeholder="Search...">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group mtm">
      <div class="selectdiv">
      <label class="input-group">
      <select class="form-control form-control-sm custom-select extra-table-control">
        <option value="">{% trans "All" %}</option>
        <option value="cart_void">{% trans "Voiding Cart" %}</option>
        <option value="cart_delete">{% trans "Deleting Cart" %}</option>
        <option value="print_log">{% trans "Printing" %}</option>
        <option value="item_edit">{% trans "Editing Item" %}</option>
        <option value="item_delete">{% trans "Deleting Item" %}</option>
      </select>
      </label>
      </div>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control" placeholder="Search...">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group mtm">
      <div class="selectdiv">
      <label class="input-group">
      <select class="form-control form-control-sm custom-select extra-table-control">
        <option>{% trans "All" %}</option>
        {% if request.user.is_owner %}
          {% for outlet in request.user.account.outlet_set.all %}
            <option value={{outlet.pk}}>{{outlet.name}}</option>
          {% endfor %}
        {% else %}
          {% for outlet in request.user.device_user.outlet.all %}
            <option value={{outlet.pk}}>{{outlet.name}}</option>
          {% endfor %}
        {% endif %}
      </select>
      </label>
      </div>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <label id="reportrange" class="form-control extra-table-control btn btn-default btn-lg date-calendar">
        &nbsp;<span>{% trans "Filter by Date" %}</span>
        &nbsp;<i class="fa fa-angle-down"></i>
      </label>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control" placeholder="Search...">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control" placeholder="Search...">
    </div>
  </td>
</tr>
{% endblock datatable_filter %}

{% block datatable_thead_tr %}
<th>{% trans "Code" %}</th>
<th>{% trans "Activity Type" %}</th>
<th>{% trans "User" %}</th>
<th>{% trans "Outlet" %}</th>
<th>{% trans "Date" %}</th>
<th>{% trans "Description" %}</th>
<th>{% trans "Reason" %}</th>
{% endblock datatable_thead_tr %}

{% block javascript %}
{{ block.super }}
<script>
  $(document).ready(function () {
    base_url = "{% url 'sales:cashier_activity_data' %}"
  });
</script>
<script>
  tableOptions = {
    pageLength: 25,
    order: [[ 4, "desc" ]],
    columnDefs: [
      {
        'targets': [4],
        'render': function (data, type, full, meta) {
          var data_date = data;
          if (type == 'display') {
            var new_date = moment(data_date);
            date = new_date.format('DD/MM/YYYY HH:mm:ss');
            return date;
          }
          return data_date;
        },
      },
    ],
  }
</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
{% endblock %}