{% extends "dashboard/base_datatable.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}


{% block settings_active_class %}active{% endblock %}
{% block mobile_settings_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_settings_show %}show{% endblock %}
{% block settings_cashier_activity_active_class %}submenu-active{% endblock %}
{% block mobile_settings_cashier_activity_active_class %}submenu-active{% endblock %}

{% block content_class %}pt-3{% endblock %}
{% block tab_div_style %}background: white; border-bottom: 1px solid #e6e7e9;{% endblock %}
{% block tab_ol_class %}breadcrumb-tabs{% endblock %}
{% block breadcrumb_active %}breadcrumb-item active{% endblock %}
{% block tab_section_style %}border-bottom: 1px solid #e6e7e9;{% endblock %}

{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}

{% block tab_list %}
  <ul class="nav nav-tabs pt-2" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'sales:cashier_activity_list' %}">{% trans "Cashier Activity" %}</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link active" href="#cashierActivityReason" >{% trans "Cashier Activity Reason" %}</a>
    </li>
  </ul>
{% endblock %}

{% block datatable_title %}{% trans "Cashier Activity Reason" %}{% endblock datatable_title %}

{% block action_button %}
<div class="p-0 position-fixed" style="right:20px;">
  <a href="{% url 'sales:cashier_activity_reason_create' %}"
      class="btn btn-primary btn-lg fixed-top-content">
      {% trans "Add Cashier Activity Reason" %}
  </a>
</div>
{% endblock action_button %}

{% block datatable_breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item active">{% trans "Cashier Activity Reason" %}</li>
{% endblock datatable_breadcrumb %}

{% block datatable_id %}tbl_product{% endblock datatable_id %}

{% block datatable_filter %}
<tr class='datatable-filter'>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control" placeholder="Search...">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control" placeholder="Search...">
    </div>
  </td>
  <td></td>
  <td></td>
</tr>
{% endblock datatable_filter %}

{% block datatable_thead_tr %}
<th>{% trans "Name" %}</th>
<th>{% trans "Description" %}</th>
<th>{% trans "Created" %}</th>
<th class="no-sort"></th>
{% endblock datatable_thead_tr %}

{% block javascript %}
{{ block.super }}
<script>
  $(document).ready(function () {
    base_url = "{% url 'sales:cashier_activity_reason_data' %}"
    delete_url = "{% url 'sales:cashier_activity_reason_delete' %}";
    list_url = "{% url 'sales:cashier_activity_reason_list' %}"

    display_name = "name";
    delete_modal_title = '{% trans "Delete Cashier Activity Reason" %}';
    delete_modal_confirmation = '{% trans "You will permanently delete these Cashier Activity Reason from your KAWN channel." %}';

    function display_delete_object_info(obj) {
      return obj[display_name]
    }

    tableOptions = {
      pageLength: 25,
      columnDefs: [
        {targets: 'no-sort', orderable: false},
        {
          'targets': [2],
          'render': function (data, type, full, meta) {
            var data_date = data;
            if (type == 'display') {
              var new_date = moment(data_date);
              date = new_date.format('DD/MM/YYYY HH:mm:ss');
              return date;
            }
            return data_date;
          },
        },
        {
          targets: [3],
          render: function (data, type, full, meta) {
            menu_toggle = '';
            data_modal = '';
            data = '<a class="action-toggle" id="product-'+data.id+'-dropdown" href="#" data-toggle="dropdown"> \
                      <i class="fa fa-ellipsis-h" aria-hidden="true"></i> \
                    </a>\
                    <div class="dropdown-menu action-toggle-menu" aria-labelledby="product-'+data.id+'-dropdown">\
                      <a class="dropdown-item" href="'+ data.edit +'"> \
                        Edit \
                      </a>\
                      '+menu_toggle+'\
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete-'+data.id+'-Modal"> \
                        {% trans "Delete" %} \
                      </a> \
                    </div>'+ data_modal+ '\
                    <div class="modal fade" id="delete-'+data.id+'-Modal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true"> \
                      <div class="modal-dialog" role="document"> \
                        <div class="modal-content"> \
                          <div class="modal-header"> \
                            <h5 class="modal-title" id="deleteModalLabel">'+ delete_modal_title +'</h5> \
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"> \
                              <span aria-hidden="true">&times;</span> \
                            </button> \
                          </div> \
                          <div class="modal-body"> \
                              <p>'+ delete_modal_confirmation +'</p> \
                              <p> {% trans "Are you sure to delete" %} <b>'+ display_delete_object_info(data) +'</b>?</p>\
                          </div> \
                          <div class="modal-footer"> \
                            <button type="button" class="btn btn-secondary btn-submit-close" data-dismiss="modal">{% trans "Close" %}</button> \
                            <button type="button" class="btn btn-primary delete" data-id="'+data.id+'"> \
                              <span id="delete-text">{% trans "Delete" %}</span> \
                              <i id="delete-icon" class=""></i> \
                            </button> \
                          </div> \
                        </div> \
                      </div> \
                    </div>';
            return data;
          },
        },
      ],
    }

    $(document).on('click', '.delete', function(e){
      var id = $(this).attr("data-id");
      e.preventDefault();

      $.ajax({
        type: 'POST',
          url: delete_url,
          dataType: 'json',
          data: {
            id:id
          },
          beforeSend: function(jqXHR, settings){
            jqXHR.setRequestHeader("x-csrftoken", '{{ csrf_token }}');
            $(".btn-submit-close").attr("disabled", "disabled");
            $(".delete").attr("disabled", "disabled");
            $("#delete-text").html("Loading");
            $("#delete-icon").addClass("fa fa-spinner fa-spin");
          },
          success: function(result){
            if(result.status == 'success'){
              $(".btn-submit-close").attr("disabled", "disabled");
              $(".delete").attr("disabled", "disabled");
              $("#delete-text").html("Refreshing Page");
              $("#delete-icon").addClass("fa fa-spinner fa-spin");
                setTimeout(function(){
                  window.location.href = list_url
                }, 3000);
            }
          }
        });

    });

  });
</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
{% endblock %}