{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Business" %}{% endblock %}

{% block settings_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_settings_show %}show{% endblock %}
{% block settings_account_active_class %}submenu-active{% endblock %}

{% block css %}
  {{ block.super }}
  <!-- Your stuff: Third-party css libraries go here -->
  {{ form.media.css }}
  <style>
    #div_id_social_facebook {
      max-width: 25%
    }
    #div_id_social_twitter,
    #div_id_website,
    #div_id_social_instagram {
      padding-left: 16px !important;
      max-width: 25%
    }
    .flex {
      display: flex;
    }
    .dropzone-wrapper.grayscale {
      -webkit-filter: none !important;
		  filter: none !important;
    }
  </style>
{% endblock %}

{% block content_class %}col-lg-12 fixed-no-tab-content p-0{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block tab_div_style %}background: white; border-bottom: 1px solid #d7d7db;{% endblock %}
{% block action_div_style %}background: white; border-top: 1px solid #d7d7db; display: none;{% endblock %}
{% block content_header %}{% trans "Business" %}{% endblock %}

{% block submit_form %}
<div id="fixed-button-content" class="justify-content-end d-flex submit-form">
  <input type="submit" name="account_update" value="Ubah Informasi Akun" class="btn btn-primary" id="submit-account_update">
</div>
{% endblock %}
{% block message %}
  {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close p-2" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
  {% endfor %}
{% endblock %}

{% block sub_content %}
  <div class="tab-content pt-1" id="account-tab-content">
    <div class="tab-pane show active" id="account" role="account" aria-labelledby="account-tab">
      <form enctype="multipart/form-data" action="." method="post" id="form-content">
        {% crispy form %}
      </form>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  {{ form.media.js }}
  <script src="{% static '/js/button-scrollbar.js' %}"></script>
  <script>
    $(document).ready(function(){
      $("#submit-account_update").click(function () {
        $("#submit-id-account_update").click();
      });
      function readFile(input) {
        var ValidImageTypes = ["image/gif", "image/jpeg", "image/png", "image/jpg"];
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            $('.dropzone-box').css('border', '1px solid #ebedf2', "!important");
            $('.invalid-feedback').hide();
            var wrapperZone = $(input).parent();
            if($.inArray(input.files[0].type, ValidImageTypes) < 0){
              $('.dropzone-box').css('border', '1px solid #dc3545', "!important");
              $('.dropzone-box').after('<span id="error_1_id_{{field.name}}" class="invalid-feedback"> \
                <strong>Upload a valid image. The file you uploaded was either not an image or a corrupted image.</strong> \
                </span>');
            }else{
              if(input.files[0].size < 4 * 1024 * 1024){
                $(wrapperZone).css("background-image", "url(" + e.target.result +")");
                $(wrapperZone).css("background-size", "contain");
                $(wrapperZone).css("background-repeat", "no-repeat");
                $(wrapperZone).css('border', '0');
                $(".preview-image").attr('src', e.target.result);


                wrapperZone.removeClass('dragover');
                $('.dropzone-desc').hide();
              }else{
                $('.dropzone-box').css('border', '1px solid #dc3545', "!important");
                $('.dropzone-box').after('<span id="error_1_id_{{field.name}}" class="invalid-feedback"> \
                  <strong>Image file to large.</strong> \
                  </span>');
              }
            }
          };

        reader.readAsDataURL(input.files[0]);
        }
      }
      var dropzone_height_receipt = $('input#id_brand_logo').width();
      $('input#id_brand_logo').css({'height':dropzone_height_receipt+'px'});

      {% if request.user.account.brand_logo.name %}
        $('.dropzone-wrapper').css("background", "url({% get_media_prefix %}" +  "{{ request.user.account.brand_logo.name }}" +") no-repeat center");
        $('.dropzone-wrapper').css("background-size", "contain");
        $('.dropzone-wrapper').css('border', '0');
        $('.dropzone-desc').hide();
        $(".preview-image").attr('src',  "{% get_media_prefix %}" + "{{ request.user.account.brand_logo.name }}");
      {% endif %}

      $("input#id_brand_logo").change(function () {
        readFile(this);
      });
    });
  </script>
{% endblock %}
