<div id="img1">
  <p class="text-muted">
    QR-Code ini dapat digunakan untuk mengclaim promo yang tersedia pada saat transaksi.
  </p>
  <img id="qr-img" class="img-thumbnail p-3" src=""></a>
</div>
