{% load i18n humanize %}
<div class="card">
  <div class="card-header">
    <h4 class="my-1">Invoice Detail</h4>
  </div>
  <div class="card-body">
    <div class="d-flex justify-content-between border-bottom">
      <p class="m-2">{% trans "Code" %}</p>
      <p class="m-2">{{ sales_order.invoice.code }}</p>
    </div>
    <div class="d-flex justify-content-between border-bottom">
      <p class="m-2">{% trans "Created" %}</p>
      <p class="m-2">{{ sales_order.invoice.date }}</p>
    </div>
    <div class="d-flex justify-content-between border-bottom">
      <p class="m-2">{% trans "Customer" %}</p>
      <p class="m-2">{% if sales_order.invoice.customer.name %}{{ sales_order.invoice.customer.name }}{% else %}-{% endif %}</p>
    </div>
    <div class="d-flex justify-content-between border-bottom">
        <p class="m-2">{% trans "Tenor" %}</p>
        <p class="m-2">{{ tenor }}</p>
      </div>
    <div class="d-flex justify-content-between border-bottom">
      <p class="m-2">{% trans "Total Transaction" %}</p>
      <p class="m-2">{{ sales_order.total_cost.amount|intcomma }}</p>
    </div>
    <div class="d-flex justify-content-between">
      <p class="m-2">{% trans "Active Balance" %}</p>
      <p class="m-2">{{ sales_order.invoice.balance|intcomma }}</p>
    </div>
  </div>
</div>
