<h4>Informasi Surcharge</h4>
<p class="text-muted mb-2">Surcharge dapat dipisah atau digabungkan bersama produk pada resi pembayaran
  serta biaya servis dapat dihapus dari total pembayaran.
</p>


<div class="px-2 mb-2" style="height: 305px;">
  <div class="surcharge-preview p-3 paper-size-80">
    <div id="receipt-header">
      <div class="d-flex flex-column bd-highlight text-center" id="div_receipt_header_info">
        <h5 class="receipt preview-receipt-header receipt-outlet mb-1" data-category="outlet">Receipt</h5>
      </div>
    </div>
    <div class="purchase-detail mt-1 pb-1">
      <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-start"><p class="m-0">Nasi Goreng Gila</p></div>
        <div class="w-50 d-flex justify-content-end">
          <p class="m-0">Rp. <span class="product-1">10000</span></p>
        </div>
      </div>
      <div class="d-flex justify-content-start ml-4 mb-1">
        <p class="m-0">@Rp. <span class="product-1">10000</span></p>
        <p class="m-0 ml-1"> x1</p>
      </div>
      <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-start"><p class="m-0">Telor Ceplok</p></div>
        <div class="w-50 d-flex justify-content-end">
          <p class="m-0">Rp. <span class="product-2">10000</span></p>
        </div>
      </div>
      <div class="d-flex justify-content-start ml-4 mb-1">
        <p class="m-0">@Rp. <span class="product-2">10000</span></p>
        <p class="m-0 ml-1"> x1</p>
      </div>
      <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-start"><p class="m-0">Gulai Ayam</p></div>
        <div class="w-50 d-flex justify-content-end">
          <p class="m-0">Rp. <span class="product-3">10000</span></p>
        </div>
      </div>
      <div class="d-flex justify-content-start ml-4 mb-1">
        <p class="m-0">@Rp. <span class="product-3">10000</span></p>
        <p class="m-0 ml-1"> x1</p>
      </div>
    </div>
    <div class="mt-2 pb-2">
      <div class="d-flex justify-content-between">
        <p class="m-0">Subtotal</p>
        <p class="m-0">Rp. <span id="sub_total"></span></p>
      </div>
      <div class="flex-display justify-content-between surcharge">
        <p class="m-0 label_order_option">Surcharge</p>
        <p class="m-0">Rp. <span id="surcharge"></span></p>
      </div>
      <div class="flex-display justify-content-between service">
        <p class="m-0">Service (5%)</p>
        <p class="m-0">Rp. <span id="service"></span></p>
      </div>
      <div class="flex-display justify-content-between tax">
        <p class="m-0">PB1</p>
        <p class="m-0">Rp. <span id="tax"></span></p>
      </div>

      <div class="d-flex justify-content-between">
        <p class="m-0">Total</p>
        <p class="m-0">Rp. <span id="total"></span></p>
      </div>
    </div>
  </div>
</div>
