<h4>Tampilan Warna</h4>

<p class="text-muted">
  Pengaturan ini digunakan untuk menyesuaikan warna pada display table berdasarkan
  durasi customer melakukan order
</p>


<div class="row" style="margin: 32px;">
<div id="display-table-0" class="card dummy-card mx-2">
  <div class="card-body px-3 py-3 rounded-bottom">
    <h3 class="card-title mb-4">#01</h3>
    <p class="card-subtitle">4 Pax</p>
    <p class="card-text">Open</p>
  </div>
</div>
  <div id="display-table-1"  class="card dummy-card mx-2">
  <div class="card-body px-3 py-3 rounded-bottom">
    <h3 class="card-title mb-4">#02</h3>
    <p class="card-subtitle">4 Pax</p>
    <p class="card-text">Occupied</p>
  </div>
</div>
  <div id="color-stat-table-0" class="card dummy-card mx-2">
  <div class="card-body px-3 py-3 rounded-bottom">
    <h3 class="card-title mb-4">#03</h3>
    <p class="card-subtitle">4 Pax</p>
    <p class="card-text"></p>
  </div>
</div>
  <div id="color-stat-table-1" class="card dummy-card mx-2">
  <div class="card-body px-3 py-3 rounded-bottom">
    <h3 class="card-title mb-4">#04</h3>
    <p class="card-subtitle">4 Pax</p>
    <p class="card-text"></p>
  </div>
</div>
  <div  id="color-stat-table-2" class="card dummy-card mx-2">
  <div class="card-body px-3 py-3 rounded-bottom">
    <h3 class="card-title mb-4">#05</h3>
    <p class="card-subtitle">4 Pax</p>
    <p class="card-text"></p>
  </div>
</div>
  <div id="color-stat-table-3" class="card dummy-card mx-2">
  <div class="card-body px-3 py-3 rounded-bottom">
    <h3 class="card-title mb-4">#06</h3>
    <p class="card-subtitle">4 Pax</p>
    <p class="card-text"></p>
  </div>
</div>


</div>
