{% load i18n %}
{% load crispy_forms_field %}
{% load humanize %}


<div class="form-group" id="div_id_subscription_form-subscription_plan">
    <label for="id_subscription_form-subscription_plan_0" class="col-form-label requiredField">{{ field.label }}<span class="asteriskField">*</span></label>
    <div class="col-lg-12">
        <div class="row">
            {% for choice in  wizard.form.subscription_plan.field.queryset %}
            {% if choice.is_public %}
                <div class="col-lg-3 col-md-6 col-sm-12 p-1">
                    <div class="form-check text-center" id='subscription-box'>
                        <label for="id_id_subscription_form-subscription_plan_0_{{forloop.counter}}" class="form-check-label p-0">
                            <input type="radio" class="form-check-input" name='subscription_form-subscription_plan' id='id_id_subscription_form-subscription_plan_0_{{forloop.counter}}' value="{{ choice.slug }}">
                            <div class="subscription-label m-2 pt-2 pb-3">{{ choice.name }}</div>
                            <div class="subscription-body p-2 mt-4">
                                <p class="price"><strong>Rp. {{ choice.price.normalize | intcomma }}</strong></p>
                                <p class="description">{{ choice.description }}</p>
                            </div>
                        </label>
                    </div>
                </div>
            {% endif %}
            {% endfor %}
            {% if form_show_errors %}
                {% if field.errors %}
                <span id="error_1_id_{{field.name}}" class="invalid-feedback">
                    {% for error in field.errors %}
                    <strong>{{ error }}</strong>
                    {% endfor %}
                </span>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
