{% extends "base_email.html" %}
{% load i18n %}
{% load template_utils %}

{% block email_content %}
	<tr>
		<td valign="top" class="textContent">
			<div mc:edit="body" style="text-align:left;font-family:Helvetica,Arial,sans-serif;font-size:15px;margin-bottom:0;color:#5F5F5F;line-height:135%;padding-bottom:3em;">
        <p style="color:#5F5F5F;">Notifikasi Stok untuk produk <b>{{ product_name }}</b>,</p>
        <p style="color:#5F5F5F;">Sisa Stok: <b>{% get_normalized_decimal stock_balance %} {{ unit }}</b></p>
        <p style="color:#5F5F5F;">Lokasi Outlet: {{ outlet }}</p>
		</td>
	</tr>
{% endblock %}
