{% extends "base_email.html" %}
{% load i18n %}
{% load template_utils %}

{% block email_content %}
  
  {% for batch in data.batches_data %}
  <tr>
		<td valign="top" class="textContent">
			<div mc:edit="body" style="text-align:left;font-family:Helvetica,Arial,sans-serif;font-size:15px;margin-bottom:0;color:#5F5F5F;line-height:135%;padding-bottom:3em;">
        <p style="color:#5F5F5F;">BatchID : {{ batch.batch_id }}</p>
        <p style="color:#5F5F5F;">Produk : {{ batch.product }}</p>
        <p style="color:#5F5F5F;">Tanggal Kadaluarsa: {{ batch.expired_date }}</p>
        <p style="color:#5F5F5F;">Lokasi:</p>
        <ul>
          
          {% for item in batch.locations %}
            <li>
              <p style="color:#5F5F5F;">Outlet: {{ item.outlet }}</p>
              <p style="color:#5F5F5F;">Jumlah Stok: {{ item.balance }} {{ item.unit }}</p>
            </li>
          {% endfor %}
            
          
        </ul>
		</td>
	</tr>
  {% endfor %}
{% endblock %}
