{% extends "dashboard/base_datatable.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Bill of Materials" %}{% endblock %}

{% block productions_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_manufactured_show %}show{% endblock %}
{% block bom_list_active_class %}submenu-active{% endblock %}


{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}

{% block action_button %}
<div class="p-0 position-fixed" style="right:20px;">
  <a href="{% url 'productions:bom_import' %}" class="btn btn-primary btn-lg fixed-top-content">{% trans 'Import Bill of Material' %}</a>
  <a href="{% url 'productions:bom_create' %}" class="btn btn-primary btn-lg fixed-top-content">{% trans "Add Bill of Materials" %}</a>
</div>
{% endblock action_button %}

{% block datatable_title %}{% trans "Bill of Materials" %}{% endblock datatable_title %}


{% block datatable_id %}tbl_product{% endblock datatable_id %}


{% block datatable_thead_tr %}
    <th>{% trans 'Code' %}</th>
    <th>{% trans 'Product' %}</th>
    <th class="text-right">{% trans 'Quantity' %}</th>
    <th>{% trans 'Status' %}</th>
    <th class="no-sort text-center">{% trans 'Actions' %}</th>
    <th></th>
{% endblock datatable_thead_tr %}

{% block datatable_filter %}
<tr class='datatable-filter'>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="number" class="form-control extra-table-control numeric clearable" placeholder="{% trans 'Search...' %}" onkeypress="onlyNumeric">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group mtm">
      <div class="selectdiv">
      <label class="input-group">
      <select class="form-control form-control-sm custom-select extra-table-control">
        <option value='show'>{% trans 'Show All' %}</option>
        <option value='active'>{% trans 'Active' %}</option>
        <option value='inactive'>{% trans 'Inactive' %}</option>
      </select>
      </label>
      </div>
    </div>
  </td>
  <td></td>
  <td></td>
</tr>
{% endblock datatable_filter %}

{% block javascript %}
{{ block.super }}
<script src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/natural.js"></script>

<script>
	function onlyNumeric(event) {
		return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57;
	};
</script>
<script>
	$(document).ready(function () {
		base_url = "{% url 'productions:bom_data' %}";
		deactivate_url = "{% url 'productions:bom_deactivate' %}";
    activate_url = "{% url 'productions:bom_active' %}";
    delete_url = "{% url 'productions:bom_delete' %}";
		tableOptions = {
			columnDefs: [
        {targets: 'no-sort', orderable: false},
        {targets: [1], className: "text-right"},
        {
          targets: [5], visible:false
        },
        {targets: [0], orderData:[5]},
        {
          'targets': [4],
          'render': function (data, type, full, meta) {
            menu_toggle = '';
            data_modal = '';
            if(data.active ==   "inactive"){
              menu_toggle = '<a class="dropdown-item" href="#" data-toggle="modal" data-target="#activate-'+data.id+'-Modal"> \
                              {% trans "Activate" %} \
                            </a>';

              data_modal = '<div class="modal fade" id="activate-'+data.id+'-Modal" tabindex="-1" role="dialog" aria-labelledby="activateModalLabel" aria-hidden="true"> \
                            <div class="modal-dialog" role="document"> \
                              <div class="modal-content"> \
                                <div class="modal-header"> \
                                  <h5 class="modal-title" id="activateModalLabel">Activate Bill of Materials</h5> \
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"> \
                                    <span aria-hidden="true">&times;</span> \
                                  </button> \
                                </div> \
                                <div class="modal-body"> \
                                  {% trans "Are you sure to activate" %} <b>'+data.code+'</b>?\
                                </div> \
                                <div class="modal-footer"> \
                                  <button type="button" class="btn btn-secondary btn-submit-close" data-dismiss="modal">{% trans "Close" %}</button> \
                                  <button type="button" class="btn btn-primary activate" data-id="'+data.id+'"> \
                                    <span id="activate-text">{% trans "Activate" %}</span> \
                                    <i id="activate-icon" class=""></i> \
                                  </button> \
                                </div> \
                              </div> \
                            </div> \
                          </div>';
            }else{
              menu_toggle = '<a class="dropdown-item" href="#" data-toggle="modal" data-target="#archive-'+data.id+'-Modal"> \
                              {% trans "Deactivate" %} \
                            </a>';

              data_modal = '<div class="modal fade" id="archive-'+data.id+'-Modal" tabindex="-1" role="dialog" aria-labelledby="archiveModalLabel" aria-hidden="true"> \
                              <div class="modal-dialog" role="document"> \
                                <div class="modal-content"> \
                                  <div class="modal-header"> \
                                    <h5 class="modal-title" id="archiveModalLabel">Archived Bill of Materials</h5> \
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> \
                                      <span aria-hidden="true">&times;</span> \
                                    </button> \
                                  </div> \
                                  <div class="modal-body"> \
                                      {% trans "Are you sure to archive" %} <b>'+data.code+'</b>?\
                                  </div> \
                                  <div class="modal-footer"> \
                                    <button type="button" class="btn btn-secondary btn-submit-close" data-dismiss="modal">{% trans "Close" %}</button> \
                                    <button type="button" class="btn btn-primary archive" data-id="'+data.id+'"> \
                                      <span id="archive-text">{% trans "Archive" %}</span> \
                                      <i id="archive-icon" class=""></i> \
                                    </button> \
                                  </div> \
                                </div> \
                              </div> \
                            </div>';
            }
            data = '<a class="action-toggle" id="product-'+data.id+'-dropdown" href="#" data-toggle="dropdown"> \
                      <i class="fa fa-ellipsis-h" aria-hidden="true"></i> \
                    </a>\
                    <div class="dropdown-menu action-toggle-menu" aria-labelledby="product-'+data.id+'-dropdown">\
                      <a class="dropdown-item" href="'+ data.edit +'"> \
                        Edit \
                      </a>\
                      '+menu_toggle+' \
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete-'+data.id+'-Modal"> \
                        {% trans "Delete" %} \
                      </a> \
                    </div>'+ data_modal+ '\
                    <div class="modal fade" id="delete-'+data.id+'-Modal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true"> \
                      <div class="modal-dialog" role="document"> \
                        <div class="modal-content"> \
                          <div class="modal-header"> \
                            <h5 class="modal-title" id="deleteModalLabel">Delete Bill of Materials</h5> \
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"> \
                              <span aria-hidden="true">&times;</span> \
                            </button> \
                          </div> \
                          <div class="modal-body"> \
                              <p>{% trans "You will permanently delete these bill of materials from your KAWN channel." %}</p> \
                              <p> {% trans "Are you sure to delete" %} <b>'+data.code+'</b>?</p>\
                          </div> \
                          <div class="modal-footer"> \
                            <button type="button" class="btn btn-secondary btn-submit-close" data-dismiss="modal">{% trans "Close" %}</button> \
                            <button type="button" class="btn btn-primary delete" data-id="'+data.id+'"> \
                              <span id="delete-text">{% trans "Delete" %}</span> \
                              <i id="delete-icon" class=""></i> \
                            </button> \
                          </div> \
                        </div> \
                      </div> \
                    </div>';
            return data;
          },
        },
	    ],
      order: [[5, "desc"]],
    }

    $(document).on('click', '.archive', function(e){
      var id = $(this).attr("data-id");
      e.preventDefault();
      $.ajax({
        type: 'POST',
          url: deactivate_url,
          dataType: 'json',
          data: {
            id:id
          },
          beforeSend: function(jqXHR, settings){
            jqXHR.setRequestHeader("x-csrftoken", '{{ csrf_token }}');
            $(".btn-submit-close").attr("disabled", "disabled");
            $(".archive").attr("disabled", "disabled");
            $("#archive-text").html("Loading");
            $("#archive-icon").addClass("fa fa-spinner fa-spin");
          },
          success: function(result){
            if(result.status == 'success'){
              $(".btn-submit-close").attr("disabled", "disabled");
              $(".archive").attr("disabled", "disabled");
              $("#archive-text").html("Refreshing Page");
              $("#archive-icon").addClass("fa fa-spinner fa-spin");
                setTimeout(function(){
                  window.location.href = '{% url "productions:bom_list" %}'
                }, 3000);
            }
          }
      });
    });

    $(document).on('click', '.activate', function(e){
      var id = $(this).attr("data-id");
      e.preventDefault();
      $.ajax({
        type: 'POST',
          url: activate_url,
          dataType: 'json',
          data: {
            id:id
          },
          beforeSend: function(jqXHR, settings){
            jqXHR.setRequestHeader("x-csrftoken", '{{ csrf_token }}');
            $(".btn-submit-close").attr("disabled", "disabled");
            $(".activate").attr("disabled", "disabled");
            $("#activate-text").html("Loading");
            $("#activate-icon").addClass("fa fa-spinner fa-spin");
          },
          success: function(result){
            if(result.status == 'success'){
              $(".btn-submit-close").attr("disabled", "disabled");
              $(".activate").attr("disabled", "disabled");
              $("#activate-text").html("Refreshing Page");
              $("#activate-icon").addClass("fa fa-spinner fa-spin");
                setTimeout(function(){
                  window.location.href = '{% url "productions:bom_list" %}'
                }, 3000);
            }
          }
      });
    });

    $(document).on('click', '.delete', function(e){
      var id = $(this).attr("data-id");
      e.preventDefault();
      $.ajax({
        type: 'POST',
          url: delete_url,
          dataType: 'json',
          data: {
            id:id
          },
          beforeSend: function(jqXHR, settings){
            jqXHR.setRequestHeader("x-csrftoken", '{{ csrf_token }}');
            $(".btn-submit-close").attr("disabled", "disabled");
            $(".delete").attr("disabled", "disabled");
            $("#delete-text").html("Loading");
            $("#delete-icon").addClass("fa fa-spinner fa-spin");
          },
          success: function(result){
            if(result.status == 'success'){
              $(".btn-submit-close").attr("disabled", "disabled");
              $(".delete").attr("disabled", "disabled");
              $("#delete-text").html("Refreshing Page");
              $("#delete-icon").addClass("fa fa-spinner fa-spin");
                setTimeout(function(){
                  window.location.href = '{% url "productions:bom_list" %}'
                }, 3000);
            }
          }
      });
    });

	});
</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
{% endblock %}