{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Bill of Materials" %}{% endblock %}


{% block productions_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_manufactured_show %}show{% endblock %}
{% block bom_list_active_class %}submenu-active{% endblock %}
{% block content_header %}{% if object %}{% trans 'Bill of Materials- ' %}{{ object.code }}{% else %}{% trans "Add Bill of Materials" %}{% endif %}{% endblock %}

{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}

{% block enable_settings %}
{% endblock %}


{% block css %}
  {{ block.super }}
  {{ form.media.css }}
  {{ formset_other.media.css }}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@8.17.6/dist/sweetalert2.min.css">
  <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />

  <style>
    .formset-wrapper .invalid-feedback {
      margin: 0;
    }

    .table {
      table-layout: fixed;
    }
    .table tr th:last-child{
      width: 30px !important;
    }
    #bom_item_detail_table tr th:first-child{
      width: 20% !important;
    }
    .select2-container {
      width: 100% !important;
      min-width: 3rem !important;
    }
  </style>
{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div2_class %}px-2{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block action_div_style %}background: white; border-top: 1px solid #d7d7db;{% endblock %}
{% block submit_form %}
      <div class="d-flex justify-content-end" id="fixed-bottom-button">
        <a href="{% url 'productions:bom_list' %}" class="btn btn-light">{% trans "Back" %}</a>
        <input type="submit" class="btn btn-primary ml-1" id="submitBtn" value="{% if object %}{% trans 'Save' %}{% else %}{% trans 'Create' %}{% endif %}"/>
      </div>
{% endblock %}

{% block sub_content %}
  <form method="post" action="." id="bom_form">
    {% crispy form %}
    {% if not object %}
    {% crispy formset formset_helper %}
    {% endif %}
    {% crispy formset_other formset_other_helper %}
    <div class="justify-content-end {% if grid %}{{ grid }}{% else %}col-12{% endif %} p-0" id="fixed-button-content" style="display: flex;">
      <a href="{% url 'productions:bom_list' %}" class="btn btn-light">{% trans "Back" %}</a>
      <input type="submit" class="btn btn-primary ml-1" value="{% if object %}{% trans 'Save' %}{% else %}{% trans 'Create' %}{% endif %}"/>
    </div>
  </form>
{% endblock %}


{% block modal %}
{% endblock modal %}


{% block javascript %}
  {{ block.super }}
  {{ form.media.js }}
  {{ formset_other.media.js }}
  <script src="{% static 'js/jquery.formset.js' %}"></script>
  <script src="{% static '/js/button-scrollbar.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8.17.6/dist/sweetalert2.all.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>

  <script>
    (function($){
      $.fn.decimalInput = function(){
        return this.on("input keydown keypress keyup blur", function(event){
          if (event.shiftKey == true) {
            event.preventDefault();
          }
          if ((event.keyCode >= 48 && event.keyCode <= 57) || 
            (event.keyCode >= 96 && event.keyCode <= 105) || 
            event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 ||
            event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190) {

          } else {
              event.preventDefault();
          }

          if($(this).val().indexOf('.') !== -1 && event.keyCode == 190)
            event.preventDefault()
        });
      }
    }( jQuery ));

    $(document).ready(function(){
      $(".products-quantity-unit, .products-wastage-unit").select2();
      $('.formset-wrapper').formset();
      $(".formset-wrapper").on("formAdded", function(event){
        var bom = $("select[name=products]").val();
        prefix= $(this).attr("data-formset-prefix");
        newForm = event.target;
        $.each($(newForm), function(index, value){
          if ($(value).is('tr') === true) {
            var quantity_input = $(value).find(".products-quantity");
            var wastage_input = $(value).find(".products-wastage");
            $(quantity_input).decimalInput();
            $(wastage_input).decimalInput();
            var cost = $(value).find(".products-cost");
            $(".products-quantity-unit, .products-wastage-unit").select2();
            select_name = $(value).find(".products-dropdown").attr("name");
            selected = $(value).find(".products-dropdown").val();
            wst_unit = $(value).find(".products-wastage-unit").val();
            qty_unit = $(value).find(".products-quantity-unit").val();
            if(bom){
              if(!selected){
                get_product_component(bom, selected, select_name);
              }else{
                get_uom(selected, select_name.split("-"), qty_unit, wst_unit);
              }
            }
          }
        });
      });
      $('.formset-wrapper').on('formDeleted', function (event) {
        deleted = event.target;
        $.each($(deleted), function(index, value){
          if ($(value).is('tr') === true) {
            var selected_value = $(value).find('.products-dropdown ').val();
            $(deleted).find('.products-dropdown  option[value="'+ selected_value +'"]').prop("selected", false);
            $(deleted).find('.products-dropdown  option[value="'+ selected_value +'"]').removeAttr("selected");
            $(deleted).find('.products-dropdown').val(null).trigger("change");
          }
        });
        total_cost = total_cost_from_components();
        $(".sum_cost").text(total_cost);
      });

      $(document).on("change", ".formset-data-delete", function(){
        tr_element = $(this).closest("tr");
        tr_element.hide()
      });

      {% if object %}
        {% if not total_other_cost and not formset_other.errors %}
        $("#bom_other_cost_detail_table tbody tr").remove();
        $("input[name=bom_other_cost-TOTAL_FORMS]").val(0);
        {% endif %}
      {% endif %}

      $("input[name=yield_quantity]").decimalInput();
      $(".products-quantity").decimalInput();
      $(".products-wastage").decimalInput();
      $(".other-cost-quantity").decimalInput();
      $(".other-cost-per-item_0").decimalInput();

      $("#submitBtn").click(function () {
         $("#bom_form").submit();
      });

      $('.collapsible-checkbox').click(function (e) {
        if ($(this).is(':checked')) {
          $(this).parents('.card').find('.card-body').removeClass('collapse');
        } else {
          $(this).parents('.card').find('.card-body').addClass('collapse');
        }
      });

      $(document).on("select2:select", "select[name=product]", function(){
        get_components($(this).val(), null);
      });

      function get_components(bom, selected){
        $(".products-dropdown").empty();
        $.ajax({
          url: "{% url 'productions:get_components' %}",
          type: "GET",
          data: {
            bom: bom,
          },
          success: function(response){
            if(response.status == "success"){
              if(!selected){
                $(".products-dropdown").append(
                  "<option value=''></option>"
                )
              }

              $.each(response.result.components, function(index, value){
                name = value.catalogue__name+" "+value.name;
                if(value.catalogue__name == value.name){
                  name = value.name;
                }
                if(selected == value.pk){
                  $(".products-dropdown").append(
                    "<option value="+value.pk+" selected>"+value.sku+" - "+name+"</option>"
                  );
                }else{
                  $(".products-dropdown").append(
                    "<option value="+value.pk+">"+value.sku+" - "+name+"</option>"
                  );
                }
                
              });
            }
          }
        });
      }

      function get_product_component(bom, selected, select_name){
        $("select[name="+select_name+"]").empty();
        if(selected){
          $.ajax({
            url: "{% url 'productions:get_components' %}",
            type: "GET",
            data: {
              bom: bom,
            },
            success: function(response){
              if(response.status == "success"){
                if(!selected){
                  $("select[name="+select_name+"]").append(
                    "<option value=''></option>"
                  )
                }

                $.each(response.result.components, function(index, value){
                  name = value.catalogue__name+" "+value.name;
                  if(value.catalogue__name == value.name){
                    name = value.name;
                  }
                  if(selected == value.pk){
                    $("select[name="+select_name+"]").append(
                      "<option value="+value.pk+" selected>"+value.sku+" - "+name+"</option>"
                    );
                  }else{
                    $("select[name="+select_name+"]").append(
                      "<option value="+value.pk+">"+value.sku+" - "+name+"</option>"
                    );
                  }
                  
                });
              }
            }
          });
        }
      }

      $(document).on("change", ".products-quantity-unit", function(){
        var name = this.name;
        var name_index = name.split("-");
        get_product($("select[name="+name_index[0]+"-"+name_index[1]+"-product]").val(), $(this).val(), this.name);
      });

      $(document).on("change", ".products-dropdown", function(){
        var name = this.name;
        var name_index = name.split("-");
        var selected_arr = []
        selected = $(".products-dropdown option:selected").not(this);
        is_exist = false;

        $.each(selected, function(index, value){
          if($.inArray($(this).val(), selected_arr)>-1){
            is_exist = true;
          }else{
            if($(value).val()){
              selected_arr.push($(value).val());
            }
          }
        });

        if(is_exist){
          Swal.fire({
            text: "Produk sudah ditambahkan pada resep produk."
          });
          $("#id_"+name).val(null).trigger("change");
          $("input[name="+name_index[0]+"-"+name_index[1]+"-cost_per_item]").val("");
          $("input[name="+name_index[0]+"-"+name_index[1]+"-total_cost]").val("");
        }else{
          if($(this).val()){
            get_product($(this).val(), $("select[name="+name_index[0]+"-"+name_index[1]+"-quantity_unit]").val(), this.name);
            get_uom($(this).val(), name_index, null, null);
            console.log("ASD")
          }else{
            $("input[name="+name_index[0]+"-"+name_index[1]+"-cost_per_item]").val("");
            $("input[name="+name_index[0]+"-"+name_index[1]+"-total_cost]").val("");
            $("input[name="+name_index[0]+"-"+name_index[1]+"-quantity]").val("");
            $("input[name="+name_index[0]+"-"+name_index[1]+"-wastage]").val("");
          }
        }
      });

      $("select[name=bom_form-product]").on("change", function(){
        var selected = $(".products-dropdown option:selected")
        $.each(selected, function(index, value){
          if($(value).val()){
            get_product($(value).val(), $("select[name="+name_index[0]+"-"+name_index[1]+"-quantity_unit]").val(), $(value).parent().attr('name'));
          }
        });
      });

      $(document).on("change", ".products-quantity", function(){
        name = this.name;
        index = name.split("-");
        quantity = $(this).val();
        cost = $("input[name="+index[0]+"-"+index[1]+"-cost_per_item]").val();
        get_total_cost(cost, quantity, index);
      });

      $(document).on("change", ".other-cost-quantity", function(){
        name = this.name;
        index = name.split("-");
        quantity = $(this).val();
        cost = $("input[name="+index[0]+"-"+index[1]+"-cost_per_item_0]").val();
        get_total_cost(cost, quantity, index);
      });

      $(document).on("change", ".other-cost-per-item_0", function(){
        name = this.name;
        index = name.split("-");
        cost = $(this).val();
        quantity = $("input[name="+index[0]+"-"+index[1]+"-quantity]").val();
        get_total_cost(cost, quantity, index);
      });

      function get_uom(product, name_index, qty_unit, wst_unit){
        $.ajax({
          url: "{% url 'catalogue:uom_product' %}",
          type: "GET",
          data: {
            product: product
          },
          success: function(response){
            if(response.status == "success"){
              qty_unit_selector = name_index[0]+"-"+name_index[1]+"-quantity_unit";
              wst_unit_selector = name_index[0]+"-"+name_index[1]+"-wastage_unit";
              $("select[name="+qty_unit_selector+"]").empty();
              $("select[name="+wst_unit_selector+"]").empty();

              $.each(response.result.units, function(index, value){
                
                $("select[name="+qty_unit_selector+"]").append(
                  "<option value="+value.id+">"+value.unit+"</option>"
                )
                $("select[name="+wst_unit_selector+"]").append(
                  "<option value="+value.id+">"+value.unit+"</option>"
                )
              });

              if(qty_unit){
                $("select[name="+qty_unit_selector+"]").val(qty_unit);
              }
              if(wst_unit){
                $("select[name="+wst_unit_selector+"]").val(wst_unit);
              }
            }
          }
        });
      }

      function get_product(product, unit, name){
        var index = name.split("-");
        if(product && unit){
          $.ajax({
            url: "{% url 'productions:get_product_cost' %}",
            type: "GET",
            data: {
              product: product,
              unit: unit,
            },
            success: function(response){
              if(response.status == "success"){
                $("input[name="+index[0]+"-"+index[1]+"-cost_per_item").val(response.result.cost)
                quantity = $("input[name="+index[0]+"-"+index[1]+"-quantity").val();
                cost = $("input[name="+index[0]+"-"+index[1]+"-cost_per_item").val();
                get_total_cost(cost, quantity, index);
                total_cost = total_cost_from_components();
                $(".sum_cost").text(total_cost);
              }
            }
          });
        }
      }

      var multiply = function(a, b) {
        var commonMultiplier = 1000000;

        a *= commonMultiplier;
        b *= commonMultiplier;

        return (a * b) / (commonMultiplier * commonMultiplier);
      };

      function get_total_cost(cost, quantity, index){
        final = 0
        if(cost) {
          final = multiply(cost, quantity);
          $("input[name="+index[0]+"-"+index[1]+"-total_cost]").val(final);
          if(!quantity){
            $("input[name="+index[0]+"-"+index[1]+"-total_cost]").val(cost);
          }
        } else {
          $("input[name="+index[0]+"-"+index[1]+"-total_cost]").val();
        }
      }

      function total_cost_from_components(){
        total = $('#id_bom_item-TOTAL_FORMS').val();
        total_cost = 0;
        for(i=0; i < parseInt(total); i++){
          cost = $("input[name=bom_item-"+[i]+"-total_cost").val();
          if(cost){
            if ($("td[id='div_id_bom_item-"+[i]+"-total_cost']").closest('tr').hasClass('form-deleted')){
              total_cost += 0;
            }
            else {
              total_cost += parseInt(cost);
            }
          }
        }
        return total_cost
      }

      products = $(".products-dropdown");
      $.each(products, function(index, value){

        if($(value).hasClass("is-invalid")){
          select2 = $(value).siblings().children(".selection").children();
          select2.addClass("is-invalid");
        }
      });

      yl.registerForwardHandler("get_manufactured_product", function () {
        return $("select[name=products]").val()
      });

    });
  </script>
{% endblock %}
