{% extends "dashboard/base_datatable.html" %}
{% load static i18n humanize %}
{% load crispy_forms_tags %}
{% load template_utils %}

{% block title %}{% trans "BOM Detail" %} {% endblock title %}

{% block datatable_title %}{% trans "BOM Detail" %} {% endblock datatable_title %}

{% block productions_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_manufactured_show %}show{% endblock %}
{% block bom_list_active_class %}submenu-active{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}

{% block css %}
{{ modal_form.media.css }}
{{ block.super }}
<style>
    .no-padding{
      padding: 0 !important;
    }
    .dropdown-item {
      padding: 0.25rem 1.5rem !important;
    }
    ul {
      list-style-type: none;
    }
    #heading {
      margin-top: 1rem;
      margin-bottom: 0 !important;
    }
    table.dataTable {
      margin-top: 0 !important;
    }
    .select2-container {
      width: 100% !important;
      min-width: 3rem !important;
    }
    #filters{
      padding: 0 10px;
    }
    .datatables-info {
      padding: 8px 8px;
    }
    .table {
      table-layout: auto;
      border-top: 0;
    }
    td {
      white-space: nowrap;
    }
    th {
      white-space: nowrap;
    }

    td:nth-child(1) {
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      
    }
  </style>
{% endblock %}

{% block action_button %}
<div class="p-0 position-fixed" style="right:20px;">
  <a href="{% url 'productions:bom_update' object.pk %}" class="btn btn-outline-primary btn-lg mr-0 fixed-top-content">{% trans "Update" %}</a>
</div>
{% endblock action_button %}

{% block datatable_panel_title %}
  {% trans "BOM Detail" %}
{% endblock datatable_panel_title %}

{% block sub_content %}
<div class="w-100">
  <div title='sales-detail' class="report mb-4 mx-0 col-lg-6 px-0">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between" id='report-table'>
          <p class="m-3">{% trans "BOM Code" %}</p>
          <p class="m-3">{{ object.code }}</p>
        </div>
        <div class="d-flex justify-content-between" id='report-table'>
          <p class="m-3">{% trans "Product" %}</p>
          <ul class="m-3">
            {% for product in object.products.all %}
              <li>{{ product }}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="d-flex justify-content-between">
          <p class="m-3">{% trans "Yield Quantity" %}</p>
          <p class="m-3">{% get_normalized_decimal object.yield_quantity %} </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card bg-transparent border-0">
    <div class="card-header bg-white border">
      <div class="d-flex justify-content-between">
        <h4 class="my-1">{% trans "BOM Detail" %}</h4>
        <button class="btn btn-primary component-create" data-toggle="modal"data-target="#components-create" data-url="{% url 'productions:bom_component_create' object.pk %}">{% trans "Add Component" %}</button>
      </div>
    </div>
    <div class="card-body no-padding bg-">
      <div class="w-100" id="tables">
        <table id="tbl_bom_components" class="table table-no-border table-borderless table-striped selector-datatable pb-0 m-0" cellspacing="0" width="100%">
          <thead class="bg-default">
            <tr>
              <th>{% trans 'Product' %}</th>
              <th class="text-right">{% trans 'Quantity' %}</th>
              <th class="text-right">{% trans 'Wastage' %}</th>
              <th class="text-right">{% trans 'Cost per Item' %}</th>
              <th class="text-right">{% trans 'Total Cost' %}</th>
              <th class="no-sort text-center">{% trans 'Actions' %}</th>
            </tr>
            <tr class='datatable-filter'>
              <td>
                <div class="datatable-filter-input-group input-group mtm">
                  <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
                </div>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </thead>
          <tbody>
          </tbody>
          <tfoot>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock sub_content %}

{% block modal %}
  {{ block.super }}
  <div class="modal fade" id="components-delete" role="dialog" aria-labelledby="componentsDeleteModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form id="bom_component_delete" action="." class="form-horizontal" method="POST">
          {% csrf_token %}
          <div class="modal-header">
            <h5 class="modal-title" id="componentsCreateModalLabel">{% trans 'Delete Component' %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>{% trans 'Are you sure you want to delete?' %}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-submit-close" data-dismiss="modal">{% trans "Close" %}</button>
            <button type="submit" class="btn btn-primary delete-button">
              <span id="save-text">{% trans "Delete" %}</span>
              <i id="save-icon" class=""></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="components-create" role="dialog" aria-labelledby="componentsCreateModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form id="bom_component_create" action="." class="form-horizontal" method="POST">
          <div class="modal-header">
            <h5 class="modal-title" id="componentsCreateModalLabel">{% trans 'Add New Component' %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-submit-close" data-dismiss="modal">{% trans "Close" %}</button>
            <button type="button" class="btn btn-primary save-button-create">
              <span id="save-text">{% trans "Save" %}</span>
              <i id="save-icon" class=""></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="components-update" role="dialog" aria-labelledby="componentsUpdateModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form id="bom_component_update" action="." class="form-horizontal" method="POST">
          <div class="modal-header">
            <h5 class="modal-title" id="componentsUpdateModalLabel">{% trans 'Update Component' %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-submit-close" data-dismiss="modal">{% trans "Close" %}</button>
            <button type="button" class="btn btn-primary save-button-update">
              <span id="save-text">{% trans "Save" %}</span>
              <i id="save-icon" class=""></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
{{ modal_form.media.js }}
{{ block.super }}
<script src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/natural.js"></script>

<!-- place project specific Javascript in this file -->
<script>
  (function($){
    $.fn.decimalInput = function(){
      return this.on("input keydown keypress keyup blur", function(event){
        if (event.shiftKey == true) {
          event.preventDefault();
        }
        if ((event.keyCode >= 48 && event.keyCode <= 57) || 
          (event.keyCode >= 96 && event.keyCode <= 105) || 
          event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 ||
          event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190) {

        } else {
            event.preventDefault();
        }

        if($(this).val().indexOf('.') !== -1 && event.keyCode == 190)
          event.preventDefault()
      });
    }
  }( jQuery ));
</script>
<script>
  $(document).ready(function () {

    base_url = "{% url 'productions:bom_detail_data' object.pk %}";
    tableOptions = {
      responsive: true,
      pageLength: 25,
      pagingType: "simple_numbers",
      columnDefs: [
        {targets: 'no-sort', orderable: false},
        {targets: 'text-center',  className: 'text-center'},
        {targets: 'text-right',  className: 'text-right'},
      ],
    }

    yl.registerForwardHandler("get_manufactured_product", function () {
      return {{ products }};
    });

    $(document).on("click", ".component-create", function(e){
      url = $(this).data("url");
      e.preventDefault();
      $("#components-create").modal("show").find(".modal-content .modal-body").load(url);
    });

    $(document).on("click", ".component-update", function(e){
      url = $(this).data("url");
      e.preventDefault();
      $("#components-update").modal("show").find(".modal-content .modal-body").load(url);
      $("#components-update").find(".modal-content .save-button-update").data("url", url);
    });

    $(document).on("click", ".component-delete", function(e){
      url = $(this).data("url");
      e.preventDefault();
      $("#components-delete").find(".modal-content #bom_component_delete").attr("action", url);
    });

  });
</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>

<script>
  $(document).ready(function(){
    
    $("#tbl_bom_components").DataTable();
    $("input[name=quantity], input[name=wastage]").decimalInput();

    $(document).on("click", ".save-button-create", function(e){
      e.preventDefault();
      $.ajax({
        type: "POST",
        url: "{% url 'productions:bom_component_create' object.pk %}",
        dataType: 'json',
        data: $("#bom_component_create").serialize(),
        beforeSend: function(jqXHR, settings){
          jqXHR.setRequestHeader("x-csrftoken", "{{ csrf_token }}");
          $(".btn-submit-close").attr("disabled", "disabled");
          $(".btn-submit-close").attr("disabled", "disabled");
          $(".save-button-create").attr("disabled", "disabled");
          $(".save-button-create #save-text").html("Loading");
          $(".save-button-create #save-icon").addClass("fa fa-spinner fa-spin");
        },
        success: function(response){
          if(response.status == "success"){
            $("#heading").prepend(
              '<div class="row">' + 
                '<div class="col-lg-12">' +
                  '<div class="alert alert-success alert-dismissible fade show" role="alert">' +
                    response.message +
                    '<button type="button" class="close p-2" data-dismiss="alert" aria-label="Close">' +
                      '<span aria-hidden="true">×</span>' +
                   ' </button>' +
                  '</div>' +
                '</div>' +
             ' </div>'
            )
            $(".modal").modal("hide");
            table.ajax.reload(null, false);
            $(".btn-submit-close").removeAttr("disabled", "disabled");
            $(".btn-submit-close").removeAttr("disabled", "disabled");
            $(".save-button-create").removeAttr("disabled", "disabled");
            $(".save-button-create #save-text").html("Simpan");
            $(".save-button-create #save-icon").removeClass("fa fa-spinner fa-spin");
            $('.alert').each(function (index, element) {
                var $element = $(element),
                    timeout  = 5000;
                setTimeout(function () {
                  $("#heading").html(" ");
                }, timeout);
            });
          }else{
            $("#components-create .modal-content .modal-body").html(response.message);
            $(".btn-submit-close").removeAttr("disabled", "disabled");
            $(".btn-submit-close").removeAttr("disabled", "disabled");
            $(".save-button-create").removeAttr("disabled", "disabled");
            $(".save-button-create #save-text").html("Simpan");
            $(".save-button-create #save-icon").removeClass("fa fa-spinner fa-spin");
          }
        }
      });
    });

    $(document).on("click", ".save-button-update", function(e){
      e.preventDefault();
      url = $(this).data("url");
      $.ajax({
        type: "POST",
        url: url,
        dataType: 'json',
        data: $("#bom_component_update").serialize(),
        beforeSend: function(jqXHR, settings){
          jqXHR.setRequestHeader("x-csrftoken", "{{ csrf_token }}");
          $(".btn-submit-close").attr("disabled", "disabled");
          $(".btn-submit-close").attr("disabled", "disabled");
          $(".save-button-update").attr("disabled", "disabled");
          $(".save-button-update #save-text").html("Loading");
          $(".save-button-update #save-icon").addClass("fa fa-spinner fa-spin");
        },
        success: function(response){
          if(response.status == "success"){
            $("#heading").prepend(
              '<div class="row">' + 
                '<div class="col-lg-12">' +
                  '<div class="alert alert-success alert-dismissible fade show" role="alert">' +
                    response.message +
                    '<button type="button" class="close p-2" data-dismiss="alert" aria-label="Close">' +
                      '<span aria-hidden="true">×</span>' +
                   ' </button>' +
                  '</div>' +
                '</div>' +
             ' </div>'
            )
            $(".modal").modal("hide");
            table.ajax.reload(null, false);
            $(".btn-submit-close").removeAttr("disabled", "disabled");
            $(".btn-submit-close").removeAttr("disabled", "disabled");
            $(".save-button-update").removeAttr("disabled", "disabled");
            $(".save-button-update #save-text").html("Simpan");
            $(".save-button-update #save-icon").removeClass("fa fa-spinner fa-spin");
            $('.alert').each(function (index, element) {
                var $element = $(element),
                    timeout  = 5000;
                setTimeout(function () {
                  $("#heading").html(" ");
                }, timeout);
            });
          }else{
            $("#components-update .modal-content .modal-body").html(response.message);
            $(".btn-submit-close").removeAttr("disabled", "disabled");
            $(".btn-submit-close").removeAttr("disabled", "disabled");
            $(".save-button-update").removeAttr("disabled", "disabled");
            $(".save-button-update #save-text").html("Simpan");
            $(".save-button-update #save-icon").removeClass("fa fa-spinner fa-spin");
          }
        }
      });
    });

    $(document).on("submit", "#bom_component_delete", function(e){
      e.preventDefault();
      url = $(this).data("url");
      $.ajax({
        url:$(this).attr("action"),
        dataType: 'json',
        data:$(this).serialize(),
        type:$(this).attr("method"),
        beforeSend: function(jqXHR, settings){
          jqXHR.setRequestHeader("x-csrftoken", "{{ csrf_token }}");
          $(".btn-submit-close").attr("disabled", "disabled");
          $(".btn-submit-close").attr("disabled", "disabled");
          $(".delete-button").attr("disabled", "disabled");
          $(".delete-button #save-text").html("Loading");
          $(".delete-button #save-icon").addClass("fa fa-spinner fa-spin");
        },
        success: function(response){
          if(response.status == "success"){
            $("#heading").prepend(
              '<div class="row">' + 
                '<div class="col-lg-12">' +
                  '<div class="alert alert-success alert-dismissible fade show" role="alert">' +
                    response.message +
                    '<button type="button" class="close p-2" data-dismiss="alert" aria-label="Close">' +
                      '<span aria-hidden="true">×</span>' +
                   ' </button>' +
                  '</div>' +
                '</div>' +
             ' </div>'
            )
            $(".modal").modal("hide");
            table.ajax.reload(null, false);
            $(".btn-submit-close").removeAttr("disabled", "disabled");
            $(".btn-submit-close").removeAttr("disabled", "disabled");
            $(".delete-button").removeAttr("disabled", "disabled");
            $(".delete-button #save-text").html("Simpan");
            $(".delete-button #save-icon").removeClass("fa fa-spinner fa-spin");
            $('.alert').each(function (index, element) {
                var $element = $(element),
                    timeout  = 5000;
                setTimeout(function () {
                  $("#heading").html(" ");
                }, timeout);
            });
          }
        }
      });
    });

  });  
</script>
  
{% endblock %}
