{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Productions Order" %}{% endblock %}


{% block productions_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_manufactured_show %}show{% endblock %}
{% block production_list_active_class %}submenu-active{% endblock %}
{% block content_header %}{% if object %}{% trans 'Production - ' %}{{ object.product.name }}{% else %}{% trans "Add Production Order" %}{% endif %}{% endblock %}

{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}

{% block enable_settings %}
{% endblock %}


{% block css %}
  {{ block.super }}
  {{ form.media.css }}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@8.17.6/dist/sweetalert2.min.css">
  <style>
    .formset-wrapper .invalid-feedback {
      margin: 0;
    }
    .products-dropdown {
      min-width: 250px !important;
    }
    table#bom_item_table {
      border: none;
    }
  </style>
{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div2_class %}px-2{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block action_div_style %}background: white; border-top: 1px solid #d7d7db;{% endblock %}
{% block submit_form %}
  <div class="d-flex justify-content-end" id="fixed-bottom-button">
    <a href="{% if object %}{% url 'productions:production_detail' object.pk %}{% else %}{% url 'productions:production_list' %}{% endif %}" class="btn btn-light">{% trans "Back" %}</a>
    <input type="submit" class="btn btn-primary ml-1" id="submitBtn" value="{% if object %}{% trans 'Save' %}{% else %}{% trans 'Create' %}{% endif %}"/>
  </div>
{% endblock %}

{% block sub_content %}
  <form method="post" action="." id="production_form">
    {% crispy form %}
    <div class="row mx-0 p-0">
      <div class="card col-lg-12 p-0">
        <div class="px-3 pt-3">
          <h4>{% trans 'Components' %}</h4>
        </div>
        <div class="card-body mx-0">
          <table class="table" id="bom_item_table">
            <thead>
              <tr>
                <th class="text-left">{% trans 'Item Name' %}</th>
                <th class="text-right">{% trans 'Quantity' %}</th>
                {% if object %}
                  <th class="text-right">{% trans 'Available' %}</th>
                {% endif %}
                <th class="text-right">{% trans 'Wastage' %}</th>
                <th class="text-right">{% trans 'Cost per Item' %}</th>
                <th class="text-right">{% trans 'Total Cost' %}</th>
              </tr>
            </thead>
            
            {% if object %}
              <tbody>
                {% for data in production_components %}
                  <tr>
                    {% for key, values in data.items %}
                      {% if key == "item_name" %}
                        <td class="text-left">{{ values}}</td>
                      {% else %}
                        <td class="text-right">{{ values}}</td>
                      {% endif %}
                    {% endfor %}
                  </tr>
                {% endfor %}
              </tbody>
            {% else %}
              <tbody></tbody>
            {% endif %}
              
          </table>
        </div>
      </div>
    </div>
    {% crispy formset formset_helper %}

    <div class="justify-content-end {% if grid %}{{ grid }}{% else %}col-6{% endif %} p-0" id="fixed-button-content" style="display: flex;">
      <a href="{% if object %}{% url 'productions:production_detail' object.pk %}{% else %}{% url 'productions:production_list' %}{% endif %}" class="btn btn-light">{% trans "Back" %}</a>
      <input type="submit" class="btn btn-primary ml-1" value="{% if object %}{% trans 'Save' %}{% else %}{% trans 'Create' %}{% endif %}"/>
    </div>
  </form>
{% endblock %}


{% block modal %}
{% endblock modal %}


{% block javascript %}
  {{ block.super }}
  {{ form.media.js }}
  <script src="{% static 'js/jquery.formset.js' %}"></script>
  <script src="{% static '/js/button-scrollbar.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8.17.6/dist/sweetalert2.all.min.js"></script>

  <script>
    (function($){
      $.fn.decimalInput = function(){
        return this.on("input keydown keypress keyup blur", function(event){
          if (event.shiftKey == true) {
            event.preventDefault();
          }
          if ((event.keyCode >= 48 && event.keyCode <= 57) || 
            (event.keyCode >= 96 && event.keyCode <= 105) || 
            event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 ||
            event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190) {

          } else {
              event.preventDefault();
          }

          if($(this).val().indexOf('.') !== -1 && event.keyCode == 190)
            event.preventDefault()
        });
      }
    }( jQuery ));
    
    $(document).ready(function(){
      $('.formset-wrapper').formset();

      $(document).on("change", ".formset-data-delete", function(){
        tr_element = $(this).closest("tr");
        tr_element.hide()
      });

      {% if object %}
        {% if not total_other_cost and not formset.errors %}
        $("#production_other_cost_detail_table tbody tr").remove();
        $("input[name=productions_other_cost-TOTAL_FORMS]").val(0);
        {% endif %}
      {% endif %}

      $("#submitBtn").click(function () {
        $("#production_form").submit();
      });

      $("input[name=produced_quantity]").decimalInput();

      $(document).on("change", "select[name=product]", function(){
        $("#bom_item_table tbody").empty();
        $("select[name=bom]").val(null).trigger("change");
      });

      $(document).on("change", "select[name=bom]", function(){
        var bom = $(this).val();
        $("#bom_item_table tbody").empty();
        if(bom){
          $.ajax({
            url: "{% url 'productions:get_yield_quantity' %}",
            type: "GET",
            data: {
              bom: bom,
            },
            success: function(response) {
              $("input[name='produced_quantity']").val(response.result.yield_quantity);
              qty = response.result.yield_quantity;
              if(bom && qty){
                get_bom(bom, qty);
              }
            }
          });
        }
      });

      $(document).on("input", "input[name=produced_quantity]", function(){
        bom = $("select[name=bom]").val();
        if($(this).val() && bom){
          get_bom(bom, $(this).val());
        }
      });

      var bom = $(".bom-dropdown").val();
      var produced_qty = $("input[name='produced_quantity']").val()
      if (bom && produced_qty){
        get_bom(bom, produced_qty);
      }

      $(document).on("change", ".other-cost-quantity", function(){
        name = this.name;
        index = name.split("-");
        quantity = $(this).val();
        cost = $("input[name="+index[0]+"-"+index[1]+"-cost_per_item_0]").val();
        get_total_cost(cost, quantity, index);
      });

      $(document).on("change", ".other-cost-per-item_0", function(){
        name = this.name;
        index = name.split("-");
        cost = $(this).val();
        quantity = $("input[name="+index[0]+"-"+index[1]+"-quantity]").val();
        get_total_cost(cost, quantity, index);
      });

      function get_total_cost(cost, quantity, index){
        final = 0
        if(cost) {
          final = parseInt(cost) * parseInt(quantity);
          $("input[name="+index[0]+"-"+index[1]+"-total_cost]").val(final);
          if(!quantity){
            $("input[name="+index[0]+"-"+index[1]+"-total_cost]").val(cost);
          }
        } else {
          $("input[name="+index[0]+"-"+index[1]+"-total_cost]").val();
        }
      }

      function get_bom(bom, produced_quantity){
        $.ajax({
          url : "{% url 'productions:get_bom_quantity' %}",
          type: "GET",
          data: {
            bom: bom,
            produced_quantity: produced_quantity,
          },
          success: function(response){
            $("#bom_item_table tbody").empty();
            bom_item_html = "";
            $.each(response.result.item, function(index, value){
              bom_item_html += "<tr>";
              $.each(value, function(idx, val){
                if(idx == 0){
                  bom_item_html += '<td>'+val+'</td>'
                }else{
                  bom_item_html += '<td class="text-right">'+val+'</td>'
                }
              });
              bom_item_html += "</tr>";
            });
            $("#bom_item_table tbody").append(bom_item_html);

            {% if not formset.errors %}
            $("input[name=productions_other_cost-TOTAL_FORMS]").val(response.result.other_cost.length);
            $("#production_other_cost_detail_table tbody").empty();
            initial_data = "";
            $.each(response.result.other_cost, function(index, value){
              data = `
                <tr data-formset-form="productions_other_cost-`+index+`" data-has-instance="false">
                  <td id="div_id_productions_other_cost-`+index+`-name" class="form-group align-top pl-0">
                    <div class="">
                      <input type="text" name="productions_other_cost-`+index+`-name" value="`+value.name+`" maxlength="100" class="other-cost-name textinput textInput form-control" id="id_productions_other_cost-`+index+`-name"> 
                    </div> 
                  </td>
                  <td id="div_id_productions_other_cost-`+index+`-quantity" class="form-group align-top pl-0">
                    <div class=""> 
                      <input type="number" name="productions_other_cost-`+index+`-quantity" value="`+value.quantity+`" class="other-cost-quantity numberinput form-control" id="id_productions_other_cost-`+index+`-quantity">
                    </div>
                  </td>
                  <td id="div_id_productions_other_cost-`+index+`-cost_per_item" class="form-group align-top pl-0">
                    <div class=""> 
                      <div class="input-group"> 
                        <div class="input-group-prepend">
                          <input type="hidden" name="productions_other_cost-`+index+`-cost_per_item_1" value="IDR" class="other-cost-per-item" id="id_productions_other_cost-`+index+`-cost_per_item_1">
                          <span class="input-group-text" id="inputGroupPrepend">IDR</span> 
                        </div>
                        <input type="text" name="productions_other_cost-`+index+`-cost_per_item_0" value="`+value.cost_per_item+`" id="id_productions_other_cost-`+index+`-cost_per_item_0" class="form-control other-cost-per-item_0">
                      </div> 
                    </div>
                  </td>
                  <td id="div_id_productions_other_cost-`+index+`-total_cost" class="form-group align-top pl-0"> 
                    <div class=""> 
                      <input type="text" name="productions_other_cost-`+index+`-total_cost" readonly="" value="`+value.total_cost+`" maxlength="100" style="background-color: #fff !important; border: 0 !important;" class="textinput textInput form-control" id="id_productions_other_cost-`+index+`-total_cost">
                    </div>
                  </td>
                  <input type="hidden" name="productions_other_cost-`+index+`-id" id="id_productions_other_cost-`+index+`-id"> 
                  <td id="div_productions_other_cost-`+index+`-DELETE" class="form-group align-top pl-0 pr-0"> 
                    <div class="pt-2"> 
                      <input type="checkbox" name="productions_other_cost-`+index+`-DELETE" class="checkboxinput d-none formset-data-delete" id="id_productions_other_cost-`+index+`-DELETE">
                      <label for="id_productions_other_cost-`+index+`-DELETE" class="form-check-label"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></label> 
                    </div> 
                  </td>
                  <input type="hidden" name="productions_other_cost-`+index+`-productions" id="id_productions_other_cost-`+index+`-productions"> 
                </tr>
              `;
              initial_data += data;
            });
            $("#production_other_cost_detail_table tbody").append(initial_data);
            {% endif %}
          }
        });
      }
    });
  </script>
{% endblock %}
