{% extends "dashboard/base_datatable.html" %}
{% load static i18n humanize %}
{% load crispy_forms_tags %}
{% load template_utils %}

{% block title %}{% trans "Production Order" %}{% endblock %}

{% block datatable_title %}{% trans "Production Order" %} {% endblock datatable_title %}

{% block productions_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_manufactured_show %}show{% endblock %}
{% block production_list_active_class %}submenu-active{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}

{% block datatable_panel_title %}
  {% trans "Bill of Materials" %}
{% endblock datatable_panel_title %}


{% block action_button %}
<div class="p-0 position-fixed" style="right:20px;">
  {% if object.status == "finalized" %}
    
    {% if not stocks_not_enough %}
      <button type="button" class="btn btn-primary btn-lg fixed-top-content" data-toggle="modal" data-target="#startproductionModal">{% trans 'Start Production' %}</button>
    {% else %}
      <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="bottom" title="{% trans 'You are unable to Start Production as there are components in this order that have insufficient stock.' %}">
        <button class="btn btn-primary btn-lg fixed-top-content" style="pointer-events: none;" type="button" disabled>{% trans 'Start Production' %}</button>
      </span>
    {% endif %}

    <div class="btn-group" role="group" aria-label="productions-actions">
      <a href="{% url 'productions:production_update' object.pk %}" class="btn btn-outline-primary btn-lg mr-0 fixed-top-content">{% trans "Update" %}</a>
      <button type="button" class="btn btn-outline-primary btn-lg fixed-top-content" data-toggle="modal" data-target="#cancelledModal">{% trans 'Cancelled Productions' %}</button>
    </div>
  {% endif %}
  
  
  {% if object.status == "in_production" %}
  <a href="{% if object.product.is_batch_tracked %}{% url 'productions:production_complete_wizard' object.pk %}{% else %}{% url 'productions:production_complete' object.pk %}{% endif %}" class="btn btn-primary btn-lg fixed-top-content">{% trans "Complete" %}</a>
  {% endif %}
    
</div>
{% endblock action_button %}


{% block sub_content %}
<div class="w-100">
  <div title='sales-detail' class="report mb-4 mx-0 col-lg-6 px-0">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between" id='report-table'>
          <p class="m-3">{% trans "Code" %}</p>
          <p class="m-3">{{ object.code }} ({{ object.get_status_display }})</p>
        </div>
        <div class="d-flex justify-content-between" id='report-table'>
          <p class="m-3">{% trans "Product" %}</p>
          {% if object.product.catalogue.name == object.product.name %}
            <p class="m-3">{{ object.product.sku }} - {{ object.product.name }}</p>
          {% else %}
            <p class="m-3">{{ object.product.sku }} - {{ object.product.catalogue.name }} {{ object.product.name }}</p>
          {% endif %}
        </div>
        <div class="d-flex justify-content-between" id='report-table'>
          <p class="m-3">{% trans "Outlet" %}</p>
          <p class="m-3">{{ object.outlet.name }}</p>
        </div>
        <div class="d-flex justify-content-between">
          <p class="m-3">{% trans "Produced Quantity" %}</p>
          <p class="m-3">{% get_normalized_decimal object.produced_quantity %}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-4 mx-0 col-lg-12 px-0">
    {% if production_components %}
    <div class="table-responsive">
      <h4>{% trans "Components" %}</h4>
      <table class="table">
        <thead>
          <tr>
            <th class="text-left">{% trans 'Item Name' %}</th>
            <th class="text-right">{% trans 'Alloc Quantity' %}</th>
            <th class="text-right">{% trans 'Available' %}</th>
            <th class="text-right">{% trans 'Wastage' %}</th>
            
            {% if object.status == "completed" %}
              <th class="text-right">{% trans 'Unconsumed' %}</th>
            {% endif %}
              
            <th class="text-right">{% trans 'Cost per Item' %}</th>
            <th class="text-right">{% trans 'Total Cost' %}</th>
          </tr>
        </thead>
        <tbody class="text-center">
          {% for data in production_components %}
            <tr>
              {% with data|get_item:"stock_available" as available %}
                {% for key, values in data.items %}
                  {% if key == "item_name" %}
                    
                    <td class="text-left {% if not available %}text-danger{% endif %}">{{ values }}</td>
                  {% else %}
                    {% if not key == "stock_available" %}
                      <td class="text-right {% if not available %}text-danger{% endif %}">{{ values }}</td>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              {% endwith %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    <div class="card">
      <div class="card-body">
        <div class="text-center margin-100">
          <img alt="disable" src="{% static 'images/data_not_found.svg' %}" style="width: 160px">
            <div style="margin-top:32px; margin-bottom:32px;">
              <h3 class="mb-3">Oops</h3>
             <p class="text-muted text-center my-0">Data Item tidak ada.</p>
            </div>
        </div>
      </div>
    </div>
    {% endif %}

    {% if productions_other_cost %}
    <div class="table-responsive">
      <h4>{% trans "Other Cost(s)" %}</h4>
      <table class="table">
        <thead>
          <tr>
            <th class="m-3 text-left">{% trans "Other Cost Name" %}</th>
            <th class="m-3 text-right">{% trans "Qty" %}</th>
            <th class="m-3 text-right">{% trans "Cost Per Item" %}</th>
            <th class="m-3 text-right">{% trans "Total Cost" %}</th>
          </tr>
        </thead>
        <tbody class="text-center">
          {% for obj in productions_other_cost %}
          <tr>
            <td class="m-3 text-left">
            <p class="m-0">
              {{ obj.name }}
            </p>
            <td class="m-3 other-quantity text-right" id="other_cost_quantity_{{ forloop.counter }}">{{ obj.quantity }}</td>
            <td class="m-3 other-cost text-right" id="other_cost_per_item{{ forloop.counter }}">{{ obj.cost_per_item }}</td>
            <td class="m-3 other-total text-right" id="other_cost_total_{{ forloop.counter }}">{{ obj.total_cost }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    <div class="card">
      <div class="card-body">
        <div class="text-center margin-100">
          <img alt="disable" src="{% static 'images/data_not_found.svg' %}" style="width: 160px">
            <div style="margin-top:32px; margin-bottom:32px;">
              <h3 class="mb-3">Oops</h3>
              <p class="text-muted text-center my-0">Data Other Cost tidak ada.</p>
            </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock sub_content %}

{% block modal %}
  {{ block.super }}
  <div class="modal fade" id="cancelledModal" tabindex="-1" role="dialog" aria-labelledby="cancelledModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="cancelledModalLabel">{% trans 'Cancel Production Order' %}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{% trans 'Are you sure you want to cancel this production?' %}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
          <button type="button" class="btn btn-primary cancelled" data-id="{{ object.pk }}">
            <span id="cancelled-text">{% trans "Submit" %}</span>
            <i id="cancelled-icon" class=""></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="startproductionModal" tabindex="-1" role="dialog" aria-labelledby="startProductionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="startProductionModalLabel">{% trans 'Start Production Order' %}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="">
          <div class="modal-body">
            {% crispy start_production_form %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
            <button type="button" class="btn btn-primary started" data-id={{ object.pk }}>
              <span d="started-text">{% trans "Submit" %}</span>
              <i id="started-icon" class=""></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
{{ block.super }}
<!-- place project specific Javascript in this file -->
<script>
  $(document).ready(function () {
    tableOptions = {
        ajax : "",
        serverSide: false,
        deferRender: true,
        columnDefs: [
          {
            'targets': [2],
            'render': function (data, type, row) {
                var SaveTemp = data.split(' - ');
                return SaveTemp[0];
            },
            'visible': true,
            'searchable': false
          },
        ],
    };
    $(document).on('click', '.cancelled', function(e){
      var id = $(this).attr("data-id");
      e.preventDefault();

      $.ajax({
        type: 'POST',
        url: "{% url 'productions:production_cancelled'%}",
        dataType: 'json',
        data: {
          id:id
        },
        beforeSend: function(jqXHR, settings){
          jqXHR.setRequestHeader("x-csrftoken", '{{ csrf_token }}');
          $(".btn-submit-close").attr("disabled", "disabled");
          $(".cancelled").attr("disabled", "disabled");
          $("#cancelled-text").html("Loading");
          $("#cancelled-icon").addClass("fa fa-spinner fa-spin");
        },
        success: function(result){
          if(result.status == 'success'){
            $(".btn-submit-close").attr("disabled", "disabled");
            $(".cancelled").attr("disabled", "disabled");
            $("#cancelled-text").html("Refreshing Page");
            $("#cancelled-icon").addClass("fa fa-spinner fa-spin");
              setTimeout(function(){
                window.location.href = '{% url "productions:production_list" %}'
              }, 3000);
          }
        }
      });
    });

    $(document).on("click", ".started", function(){
      var id = $(this).attr("data-id");
      var date = $("input[name=started]").val();
      $.ajax({
        type: 'POST',
        url: "{% url 'productions:production_start' %}",
        dataType: 'json',
        data: {
          id:id,
          started: date,
        },
        beforeSend: function(jqXHR, settings){
          jqXHR.setRequestHeader("x-csrftoken", '{{ csrf_token }}');
          $(".btn-submit-close").attr("disabled", "disabled");
          $(".started").attr("disabled", "disabled");
          $("#started-text").html("Loading");
          $("#started-icon").addClass("fa fa-spinner fa-spin");
        },
        success: function(result){
          if(result.status == 'success'){
            $(".btn-submit-close").attr("disabled", "disabled");
            $(".started").attr("disabled", "disabled");
            $("#started-text").html("Refreshing Page");
            $("#started-icon").addClass("fa fa-spinner fa-spin");
              setTimeout(function(){
                window.location.href = '{% url "productions:production_detail" object.pk %}'
              }, 3000);
          }
        },
        error: function (xhr, status, errorThrown){
          window.location.href = '{% url "productions:production_detail" object.pk %}';
        }
      });
    });

    $("input[name=started]").daterangepicker({
      "singleDatePicker": true,
      "timePicker": true,
      "timePicker24Hour": true,
      "autoApply": true,
      "startDate": moment(),
      "locale": {
        "format": 'DD/MM/YYYY HH:mm'
      }
    });
    $('[data-toggle="tooltip"]').tooltip()
  });
</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
{% endblock %}