{% extends "dashboard/base_datatable.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Productions" %}{% endblock %}

{% block productions_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_manufactured_show %}show{% endblock %}
{% block production_list_active_class %}submenu-active{% endblock %}


{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}

{% block action_button %}
<div class="p-0 position-fixed" style="right:20px;">
  <a href="{% url 'productions:production_create' %}" class="btn btn-primary btn-lg fixed-top-content">{% trans "Add Productions" %}</a>
</div>
{% endblock action_button %}

{% block datatable_title %}{% trans "Productions" %}{% endblock datatable_title %}


{% block datatable_id %}tbl_product{% endblock datatable_id %}


{% block datatable_thead_tr %}
    <th>{% trans 'Code' %}</th>
    <th>{% trans 'Product' %}</th>
    <th>{% trans 'Variant' %}</th>
    <th>{% trans 'Produced Quantity' %}</th>
    <th>{% trans 'Outlet' %}</th>
    <th>{% trans 'Status' %}</th>
    <th></th>
{% endblock datatable_thead_tr %}

{% block datatable_filter %}
<tr class='datatable-filter'>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="number" class="form-control extra-table-control numeric clearable" placeholder="{% trans 'Search...' %}" onkeypress="onlyNumeric">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group mtm">
      <div class="selectdiv">
      <label class="input-group">
      <select class="form-control form-control-sm custom-select extra-table-control">
        <option>{% trans "All" %}</option>
        {% for outlet in outlets %}
          <option value={{outlet.pk}}>{{outlet.name}}</option>
        {% endfor %}
      </select>
      </label>
      </div>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group mtm">
      <div class="selectdiv">
      <label class="input-group">
      <select class="form-control form-control-sm custom-select extra-table-control">
        <option value='show'>{% trans 'Show All' %}</option>
        <option value='finalized'>{% trans 'Finalized' %}</option>
        <option value='in_production'>{% trans 'In Production' %}</option>
        <option value='completed'>{% trans 'Completed' %}</option>
        <option value='cancelled'>{% trans 'Cancelled' %}</option>
      </select>
      </label>
      </div>
    </div>
  </td>
  <td></td>
</tr>
{% endblock datatable_filter %}

{% block javascript %}
{{ block.super }}
<script src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/natural.js"></script>

<script>
	function onlyNumeric(event) {
		return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57;
	};
</script>
<script>
	$(document).ready(function () {
		base_url = "{% url 'productions:production_data' %}";
		tableOptions = {
			columnDefs: [
        {targets: 'no-sort', orderable: false},
        {targets: [3], className: "text-right"},
        {
          targets: [6], visible:false
        },
        {targets: [0], orderData:[6]}
      ],
      order: [[6, "desc"]],
    }

	});
</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
{% endblock %}