{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Complete Productions" %}{% endblock %}


{% block productions_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_manufactured_show %}show{% endblock %}
{% block production_list_active_class %}submenu-active{% endblock %}
{% block content_header %}{% trans 'Complete Productions - ' %}{{ object.product }}{% endblock %}

{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}

{% block enable_settings %}
{% endblock %}


{% block css %}
  {{ block.super }}
  {{ form.media.css }}
  {{ formset.media.css }}
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.3/daterangepicker.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@8.17.6/dist/sweetalert2.min.css">
  <style>
    .formset-wrapper .invalid-feedback {
      margin: 0;
    }
    .products-dropdown + .select2-container {
      width: 250px !important;
    }
    .products-quantity-unit, .products-wastage-unit {
      width: 100px;
    }
    .wastage-unit + .select2-container, .unconsumed-unit + .select2-container {
      width: 100px !important;
      min-width: 100px !important;
    }
  </style>
{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div2_class %}px-2{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block action_div_style %}background: white; border-top: 1px solid #d7d7db;{% endblock %}
{% block submit_form %}
  <div class="d-flex justify-content-end" id="fixed-bottom-button">
    <a href="{% url 'productions:production_detail' object.pk %}" class="btn btn-light">{% trans "Back" %}</a>
    <button type="submit" class="btn btn-primary ml-1 no-unconsumed">
      <span d="submit-text">{% trans "Save" %}</span>
      <i id="submit-icon" class=""></i>
    </button>
    <button class="btn btn-primary ml-1 unconsumed d-none" data-toggle="modal" data-target="#storedUnconsumed">{% trans 'Save' %}</button>
  </div>
{% endblock %}

{% block sub_content %}
  <form method="post" action="." id="productions_form">
    {{ wizard.management_form }}
    {% crispy form %}
    {% crispy formset formset_helper %}
    {% crispy formset_other formset_other_helper %}
  </form>
  <div class="justify-content-end {% if grid %}{{ grid }}{% else %}col-12{% endif %} p-0" id="fixed-button-content" style="display: flex;">
    <a href="{% url 'productions:production_detail' object.pk %}" class="btn btn-light">{% trans "Back" %}</a>
    <button type="submit" class="btn btn-primary ml-1 no-unconsumed">
      <span d="submit-text">{% trans "Save" %}</span>
      <i id="submit-icon" class=""></i>
    </button>
    <button class="btn btn-primary ml-1 unconsumed d-none" data-toggle="modal" data-target="#storedUnconsumed">{% trans 'Save' %}</button>
  </div>
{% endblock %}


{% block modal %}
{{ block.super }}
<div class="modal fade" id="storedUnconsumed" tabindex="-1" role="dialog" aria-labelledby="storedUnconsumedModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="storedUnconsumedModalLabel">{% trans 'Record Unconsumed Unit' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6 class = "text-center">{% trans 'Apakah anda ingin menyimpan kembali <b>Unconsumed Unit</b> ke dalam stock?' %}</h6>
        <p class = "text-center">Jika anda tidak menginginkan produk-produk tersebut dikembalikan ke stock, anda harus menyimpannya sebagai <b>Sisa Produksi</b>.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
        <button type="button" class="btn btn-primary" id="submitBtnUnconsumed">
          <span d="submit-text">{% trans "Submit" %}</span>
          <i id="submit-icon" class=""></i>
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock modal %}


{% block javascript %}
  {{ block.super }}
  {{ form.media.js }}
  {{ formset.media.js }}
  <script src="{% static 'js/jquery.formset.js' %}"></script>
  <script src="{% static '/js/button-scrollbar.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8.17.6/dist/sweetalert2.all.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.3/daterangepicker.js"></script>

  <script>
    (function($){
      $.fn.decimalInput = function(){
        return this.on("input keydown keypress keyup blur", function(event){
          if (event.shiftKey == true) {
            event.preventDefault();
          }
          if ((event.keyCode >= 48 && event.keyCode <= 57) || 
            (event.keyCode >= 96 && event.keyCode <= 105) || 
            event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 ||
            event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190) {

          } else {
              event.preventDefault();
          }

          if($(this).val().indexOf('.') !== -1 && event.keyCode == 190)
            event.preventDefault()
        });
      }
    }(jQuery));

    $(document).ready(function(){
      $('.formset-wrapper').formset();

      $(document).on("change", ".formset-data-delete", function(){
        tr_element = $(this).closest("tr");
        tr_element.hide()
      });

      {% if object %}
        {% if not total_other_cost %}
        $("#production_other_cost_detail_table tbody tr").remove();
        $("input[name=productions_other_cost-TOTAL_FORMS]").val(0);
        {% endif %}
      {% endif %}

      $(".products-quantity").decimalInput();
      $(".products-wastage").decimalInput();


      $("#submitBtnUnconsumed").one("click", function () {
        $("#submitBtnUnconsumed").attr("disabled", "disabled");
        $("#submit-text").html("Refreshing Page");
        $("#submit-icon").addClass("fa fa-spinner fa-spin");
        $("#productions_form").submit();
      });

      $(".no-unconsumed").one("click", function(){
        $("#productions_form").submit();
      });

      $(document).on("keyup", ".unconsumed-quantity", function(){
        var total = 0;
        $.each($(".unconsumed-quantity"), function(index, value){
          total += parseFloat($(value).val());
        });
        if(total > 0){
          $(".unconsumed").removeClass("d-none");
          $(".no-unconsumed").addClass("d-none");
        }else{
          $(".unconsumed").addClass("d-none");
          $(".no-unconsumed").removeClass("d-none");
        }
        name = this.name;
        index = name.split("-");
        production_pk = $("input[name="+index[0]+"-"+index[1]+"-productions]").val();
        production_detail_pk = $("input[name="+index[0]+"-"+index[1]+"-id]").val();
        unconsumed_unit = $("select[name="+index[0]+"-"+index[1]+"-unconsumed_unit]").val();
        if($(this).val()){
          production_item_total_cost(production_pk, production_detail_pk, $(this).val(), unconsumed_unit, index);
        }else{
          production_item_total_cost(production_pk, production_detail_pk, 0, unconsumed_unit, index);
        }
      });

      $(document).on("change", ".unconsummed-unit", function(){
        name = this.name;
        index = name.split("-");
        production_pk = $("input[name="+index[0]+"-"+index[1]+"-productions]").val();
        production_detail_pk = $("input[name="+index[0]+"-"+index[1]+"-id]").val();
        unconsumed_qty = $("input[name="+index[0]+"-"+index[1]+"-unconsumed_quantity]").val();
        if($(this).val()){
          production_item_total_cost(production_pk, production_detail_pk, unconsumed_qty, $(this).val(), index);
        }
      });

      $(document).on("change", ".other-cost-quantity", function(){
        name = this.name;
        index = name.split("-");
        quantity = $(this).val();
        cost = $("input[name="+index[0]+"-"+index[1]+"-cost_per_item_0]").val();
        get_total_cost(cost, quantity, index);
      });

      $(document).on("change", ".other-cost-per-item_0", function(){
        name = this.name;
        index = name.split("-");
        cost = $(this).val();
        quantity = $("input[name="+index[0]+"-"+index[1]+"-quantity]").val();
        get_total_cost(cost, quantity, index);
      });

      function get_total_cost(cost, quantity, index){
        final = 0
        if(cost) {
          final = parseInt(cost) * parseInt(quantity);
          $("input[name="+index[0]+"-"+index[1]+"-total_cost]").val(final);
          if(!quantity){
            $("input[name="+index[0]+"-"+index[1]+"-total_cost]").val(cost);
          }
        } else {
          $("input[name="+index[0]+"-"+index[1]+"-total_cost]").val();
        }
      }

      function production_item_total_cost(production_pk, production_detail_pk, unconsumed, unconsumed_unit, index){
        $.ajax({
          url: "{% url 'productions:get_total_cost' %}",
          type: "GET",
          data: {
            production_pk: production_pk,
            production_detail_pk: production_detail_pk,
            unconsumed: unconsumed,
            unconsumed_unit: unconsumed_unit
          },
          success: function(response) {
            $("input[name="+index[0]+"-"+index[1]+"-total_cost]").val(response.data.total_cost);
          }
        });
      }


      $("input[name=finished], input[name=productions_order_complete-finished]").daterangepicker({
        "singleDatePicker": true,
        "timePicker": true,
        "timePicker24Hour": true,
        "autoApply": true,
        "startDate": moment(),
        "locale": {
          "format": 'DD/MM/YYYY HH:mm'
        }
      });

      var total = 0;
        $.each($(".unconsumed-quantity"), function(index, value){
          total += parseFloat($(value).val());
        });
        if(total > 0){
          $(".unconsumed").removeClass("d-none");
          $(".no-unconsumed").addClass("d-none");
        }else{
          $(".unconsumed").addClass("d-none");
          $(".no-unconsumed").removeClass("d-none");
        }

    });
  </script>
{% endblock %}
