{% load i18n %}

{% load crispy_forms_field %}

<div class="form-group {% if form_class %}{{ form_class }}{% endif %}">
    <div id="div_id_{{ field.name }}" class="form-check">
        <label class="switch mb-0">
            {% if object.is_active %}
                <input type="checkbox" name="{{ field.name }}" id="id_{{ field.name }}" checked>
            {% else %}
                <input type="checkbox" name="{{ field.name }}" id="id_{{ field.name }}">
            {% endif %}
            <span class="slider round"></span>
        </label>
        <label class="col-form-label mb-0">{{ field.label }}</label>
    </div>
</div>
