{% extends "dashboard/base.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Dashboard" %}{% endblock %}


{% block content %}

    <div class="container">

        <h2>{% trans "Dashboard" %}</h2>

        <div class="row row-fluid pull-left">
            <div class="col-md-2">
                <div class="list-group panel">
                    <a href="#Manage" class="list-group-item list-group-item-info" data-toggle="collapse"
                       data-parent="#Manage">Manage</a>

                    <div class="collapse list-group-submenu" id="Manage">
                        <a href="{% url 'dashboard:user_list' %}" class="list-group-item"
                           data-parent="#Manage">User</a>
                        <a href="{% url 'dashboard:customer_list' %}" class="list-group-item"
                           data-parent="#Manage">Customer</a>
                    </div>

                    <a href="#Catalogue" class="list-group-item list-group-item-info" data-toggle="collapse"
                       data-parent="#Catalogue">Catalogue</a>

                    <div class="collapse list-group-submenu" id="Catalogue">
                        <a href="{% url 'dashboard:uom_list' %}" class="list-group-item"
                           data-parent="#Catalogue">UOM</a>
                        <a href="{% url 'dashboard:product_list' %}" class="list-group-item"
                           data-parent="#Catalogue">Product</a>
                        <a href="{% url 'dashboard:category_list' %}" class="list-group-item"
                           data-parent="#Catalogue">Category</a>
                        <a href="{% url 'dashboard:product_type_list' %}" class="list-group-item"
                           data-parent="#Catalogue">Product Type</a>
                    </div>
                    <a href="#Sales" class="list-group-item list-group-item-info"
                       data-toggle="collapse" data-parent="#Sales">Sales</a>

                    <div class="collapse list-group-submenu" id="Sales">
                        <a href="{% url 'dashboard:sales_order_list' %}" class="list-group-item"
                           data-parent="#Sales">Sales Order</a>
                        <a href="{% url 'dashboard:purchase_order_list' %}" class="list-group-item"
                           data-parent="#Sales">Purchase Order</a>
                        <a href="{% url 'dashboard:payment_list' %}" class="list-group-item"
                           data-parent="#Sales">Payment Method</a>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <h2 class="text-primary">Product Name : {{ object.name }}</h2>
            </div>
        </div>
{% endblock content %}
