{% extends "dashboard/base_datatable.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}


{% block datatable_breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item active">Payment Method</li>
{% endblock datatable_breadcrumb %}

{% block datatable_title %}
  {% trans "Payment Method" %}
{% endblock datatable_title %}

{% block sub_content %}
  <ul id="payment-method-card" class="col-md-9 offset-md-2 list-unstyled">
    <li class='card my-4'>
      <div class="card-body">
        <div class="media">
          <img class="pr-4" src="{% static 'images/svg/ic_cash.svg' %}">
          <div class="media-body">
            <h5 class="mt-0 mb-1">{% trans "Cash" %}</h5>
          </div>
        </div>
      </div>
    </li>
    <li class='card my-4'>
      <div class="card-body">
        <div class="media">
          <img class="pr-4" src="{% static 'images/svg/ic_credit.svg' %}">
          <div class="media-body">
            <h5 class="mt-0 mb-1">{% trans "Debit Card" %}</h5>
          </div>
        </div>
        <hr class='my-4'/>
        <div class="media">
          <img class="img-item pr-4" src="{% static 'images/svg/debit_panin.svg' %}">
          <img class="img-item pr-4" src="{% static 'images/svg/debit_bri.svg' %}">
          <img class="img-item pr-4" src="{% static 'images/svg/debit_mandiri.svg' %}">
          <img class="img-item pr-4" src="{% static 'images/svg/debit_bca.svg' %}">
          <img class="img-item pr-4" src="{% static 'images/svg/debit_maestro.svg' %}">
          <img class="img-item pr-4" src="{% static 'images/svg/debit_flazz.svg' %}">
        </div>
      </div>
    </li>
    <li class='card my-4'>
      <div class="card-body">
        <div class="media">
          <img class="pr-4" src="{% static 'images/svg/ic_credit.svg' %}">
          <div class="media-body">
            <h5 class="mt-0 mb-1">{% trans "Credit Card" %}</h5>
          </div>
        </div>
        <hr class='my-4'/>
        <div class="media">
          <img class="img-item pr-4" src="{% static 'images/svg/credit_amex.svg' %}">
          <img class="img-item pr-4" src="{% static 'images/svg/credit_jcb.svg' %}">
          <img class="img-item pr-4" src="{% static 'images/svg/credit_mastercard.svg' %}">
          <img class="img-item pr-4" src="{% static 'images/svg/credit_visa.svg' %}">
          <img class="img-item pr-4" src="{% static 'images/svg/credit_bca.svg' %}">
        </div>
      </div>
    </li>
    <li class='card'>
      <div class="card-body">
        <div class="media">
          <img class="pr-4" src="{% static 'images/svg/ic_voucher.svg' %}">
          <div class="media-body">
            <h5 class="mt-0 mb-1">{% trans "Voucher" %}</h5>
          </div>
        </div>
      </div>
    </li>
  </ul>
{% endblock %}