{% extends "dashboard/base_datatable.html" %}
{% load static i18n humanize %}
{% load crispy_forms_tags visibility_contains %}
{% block title %}{% trans "Gross Profit" %}{% endblock %}

{% block reports_active_class %}active{% endblock %}
{% block mobile_reports_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_reports_show %}show{% endblock %}
{% block gross_profit_active_class %}submenu-active{% endblock %}
{% block mobile_gross_profit_active_class %}submenu-active{% endblock %}

{% block content_class %}fixed-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block tab_div_style %}background: white; border-bottom: 1px solid #d7d7db;{% endblock %}
{% block tab_section_style %}border-bottom: 1px solid #d7d7db;{% endblock %}
{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important; width:87%;{% endblock %}

{% block datatable_title %}
{% trans "Gross Profit" %}
{% endblock datatable_title %}

{% block datatable_panel_title %}
{% trans "Gross Profit" %}
{% endblock datatable_panel_title %}

{% block tab_list %}
  <ul class="nav nav-tabs pt-2" id="myTab" role="tablist">
    <li class="nav-item {% if not detail %}tab-disabled{% endif %}" id="sellable-product">
      <a class="nav-link {% if not detail %}active{% endif %}" href="{% url 'sales:gross_profit'%}">
        {% trans "Summary" %}</a>
    </li>
    <li class="nav-item {% if detail %}tab-disabled{% endif %}" id="unsellable-product">
      <a class="nav-link {% if detail %}active{% endif %}" href="{% url 'sales:gross_profit' 'date' %}">
        {% trans "Detail" %}</a>
    </li>
  </ul>
{% endblock %}

{% block date_range %}
<div id="filters" class="mb-3">
  {% include "partials/non_ajax_filters.html" with view_name="sales:gross_profit" detail=detail %}
</div>
{% endblock %}

{% block sub_content %}
{% if not detail %}
  <div class="w-100 row mx-0">
      <div class="card col-lg-6 px-0">
        <div class="card-body py-0 px-3" id="report">
          <div class="d-flex justify-content-between" id="report-table">
            <p class="mb-3">{% trans "Gross Sales" %}</p>
            <p class="mb-3">{{ total_sales_before_tax|intcomma }}</p>
          </div>
          <div class="d-flex justify-content-between" id="report-table">
            <p class="mt-3">{% trans "Item Disc" %}</p>
            <p class="mt-3 text-danger">{{ total_product_order_disc|intcomma }}</p>
          </div>
          <div class="d-flex justify-content-between" id="report-table">
            <p class="mt-3">{% trans "Bill Disc" %}</p>
            <p class="mt-3 text-danger">{{ total_sales_order_disc|intcomma }}</p>
          </div>
          <div class="d-flex justify-content-between" id="report-table">
            <p class="mt-3">{% trans "Item FOC" %}</p>
            <p class="mt-3 text-danger">{{ total_sales_order_foc|intcomma }}</p>
          </div>
          <div class="d-flex justify-content-between" id="report-table">
            <p class="mt-3">{% trans "Surcharges" %}</p>
            <p class="mt-3">{{ total_product_order_surcharge|intcomma }}</p>
          </div>
          <div class="d-flex justify-content-between" id="report-table">
            <p class="mt-3 text-primary"><strong>{% trans "SALES" %}</strong></p>
            <p class="mt-3 text-primary"><strong>{{ total_sales_non_tax|intcomma }}</strong></p>
          </div>
          <div class="d-flex justify-content-between" id="report-table">
            <p class="mt-3">{% trans "Cost of Goods Sold" %}</p>
            <p class="mt-3">{{ total_cost_of_goods_sold|intcomma }}</p>
          </div>
          <div class="d-flex justify-content-between border-bottom-0" id="report-table">
            <p class="mt-3 mb-0 text-primary"><strong>{% trans "GROSS PROFIT" %}</strong></p>
            <p class="mt-3 mb-0 text-primary"><strong>{{ gross_profit|intcomma }}</strong></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4" style="padding:8px 15px 0px 32px;">
        <div class=" help-section">
        </div>
      </div>
  </div>
{% else %}
  {{ block.super }}
{% endif %}
{% endblock sub_content %}

{% block datatable_thead_tr %}
  <th>{% trans "Date" %}</th>
  <th class="text-right">{% trans "Gross Sales" %}</th>
  <th class="text-right">{% trans "Item Disc" %}</th>
  <th class="text-right">{% trans "Bill Disc" %}</th>
  <th class="text-right">{% trans "Item FOC" %}</th>
  <th class="text-right">{% trans "Surcharges" %}</th>
  <th class="text-right"><strong>{% trans "SALES" %}</strong></th>
  <th class="text-right">{% trans "Cost of Goods Sold" %}</th>
  <th class="text-right"><strong>{% trans "GROSS PROFIT" %}</strong></th>
{% endblock datatable_thead_tr %}

{% block datatable_tbody_tr %}
  {% for sales_order in sales_order_groups %}
  <tr class="text-center">
    <td title="{{ sales_order.sales_count }} {% trans 'Transaction' %}">
      {% if detail == "hours" %}
        {{ sales_order.time_unit|date:'H:i e' }}
      {% elif detail == "days" %}
        {{ sales_order.time_unit|weekday_literal }}
      {% else %}
        {{ sales_order.time_unit|date:'j/n/Y' }}
      {% endif %}
    </td>
    <td >{{ sales_order.sales_before_tax }}</td>
    <td class="text-danger">{{ sales_order.product_disc }}</td>
    <td class="text-danger">{{ sales_order.sales_order_disc }}</td>
    <td class="text-danger">{{ sales_order.sales_order_foc }}</td>
    <td >{{ sales_order.product_surcharge }}</td>
    <td class="text-primary font-weight-bold">{{ sales_order.sales_non_tax }}</td>
    <td >{{ sales_order.cost_of_goods_sold }}</td>
    <td class="text-primary font-weight-bold">{{ sales_order.gross_profit }}</td>
  </tr>
  {% endfor %}
{% endblock datatable_tbody_tr %}

{% block datatable_extra_class %}table-responsive{% endblock %}

{% block datatable_tfoot_tr %}
  <tr>
    <td class="font-weight-bold">{% trans "Total" %}</td>
    <td class="text-right">{{ total_sales_before_tax }}</td>
    <td class="text-right text-danger">{{ total_product_order_disc }}</td>
    <td class="text-right text-danger">{{ total_sales_order_disc }}</td>
    <td class="text-right text-danger">{{ total_sales_order_foc }}</td>
    <td class="text-right">{{ total_product_order_surcharge }}</td>
    <td class="text-right text-primary font-weight-bold">{{ total_sales_non_tax }}</td>
    <td class="text-right">{{ total_cost_of_goods_sold }}</td>
    <td class="text-right text-primary font-weight-bold">{{ gross_profit }}</td>
  </tr>
{% endblock datatable_tfoot_tr %}

{% block javascript %}
{{ block.super }}

<script>
  {% if detail %}
  let baseURL = "{% if outlet %}{% url 'sales:gross_profit' outlet.pk detail %}{% else %}{% url 'sales:gross_profit' detail %}{% endif %}";
  {% else %}
  let baseURL = "{% if outlet %}{% url 'sales:gross_profit' outlet.pk %}{% else %}{% url 'sales:gross_profit' %}{% endif %}";
  {% endif %}

  var outlet_pk = "{{outlet.pk}}";
  var detail = "{{detail}}";

  var tableOptions = {
    ajax: null,
    serverSide: false,
    pageLength: 100,
    fixedHeader: {
        header: false,
        footer: true
    },
    columnDefs: [
      {
        targets: 'text-right',  className: 'text-right',
        render: function (data, type, full, meta) {
          return parseInt(data).toLocaleString('id')
        },
      },
    ],
  }
</script>
<script type="text/javascript" src="{% static 'js/header-daterange-picker.js' %}"></script>
{% if detail %}
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
{% endif %}
<script>
  $(document).ready(function () {
    $(".dataTables_scrollFoot").addClass("d-block");
    $(".dataTables_scrollFoot .text-right").each(
      function( index, elem ) {
        value = $(elem).text()
        new_value =  parseInt(value).toLocaleString('id')
        $(elem).text(new_value)
    });
  });
</script>
{% endblock %}
