{% extends "dashboard/base_datatable.html" %}
{% load static i18n humanize %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Sales By Payment" %}{% endblock %}

{% block reports_active_class %}active{% endblock %}
{% block mobile_reports_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_reports_show %}show{% endblock %}
{% block sales_by_payment_active_class %}submenu-active{% endblock %}
{% block mobile_sales_by_payment_active_class %}submenu-active{% endblock %}


{% block css %}
  {{ block.super }}
  {{ form.media.css }}
  <style>
    #tables {
      max-width: 50% !important;
      padding: 0px !important;
    }
  </style>
{% endblock %}

{% block datatable_title %}
{% trans "Sales By Payment" %}
{% endblock datatable_title %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}

{% block datatable_panel_title %}
{% trans "Sales By Payment" %}
{% endblock datatable_panel_title %}
{% block csv_export %}
<!--a id="csvExport" target="_blank"  onclick="csv_report()" class="btn btn-primary">Export CSV</a-->

{% endblock csv_export %}


{% block date_range %}
<div id="filters" class="mb-3">
  <div class="row align-items-center">
    <div class="mb-0 col-md-2">
      <div class="selectdiv">
        <label class="d-block mb-0">
          <div class="box-custom-select">
          <select id='companyBranch' class="form-control form-control-sm custom-select" style="background-image: none;">
            <option data-pk=0 value="{% url 'sales:sales_by_payment' %}">{% trans "All Branches" %}</option>
            {% if request.user.is_owner %}
              {% for outlet in request.user.account.outlet_set.all %}
                <option data-pk={{outlet.pk}} value="{% url 'sales:sales_by_payment' outlet.pk %}">{{outlet.name}}</option>
              {% endfor %}
            {% else %}
              {% for outlet in request.user.device_user.outlet.all %}
                <option data-pk={{outlet.pk}} value="{% url 'sales:sales_by_payment' outlet.pk %}">{{outlet.name}}</option>
              {% endfor %}
            {% endif %}
          </select>
          </div>
        </label>
      </div>
    </div>
    <div id="date_filter" class="align-items-center">
      <form class="form-inline">
        <div class="form-group">
          <label id="reportrange" class="btn btn-default btn-lg date-calendar d-flex justify-content-between" style="width: 240px;">
            <span>
              {% if start_date and end_date%}
                {{ start_date|date:"d/m/Y" }} -  {{ end_date|date:"d/m/Y" }}
              {% else %}
                {% trans "Filter by Transaction Date" %}
              {% endif %}
              </span>
              &nbsp;<i class="fa fa-angle-down"></i>
            </label>
          </div>
        </form>
    </div>
  </div>
</div>
{% endblock %}


{% block datatable_thead_tr %}
  <th class="text-left">{% trans "Payment Method" %}</th>
  <th class="text-center">{% trans "Transaction Count" %}</th>
  <th class="text-right">{% trans "Sales" %}</th>
{% endblock datatable_thead_tr %}

{% block datatable_tbody_tr %}
  {% for payment_type in payment_type_net %}
    <tr class="text-center">
      <td class="text-left">{{ payment_type.payment_name }} </td>
      <td class="text-center">{{ payment_type.payment_usage }}</td>
      <td class="text-right">{{ payment_type.payment_net|intcomma }}</td>
    </tr>
  {% empty %}
    <tr></tr>
  {% endfor %}
{% endblock datatable_tbody_tr %}

{% block datatable_tfoot_tr %}
    <td><strong>Total</strong></td>
    <td class="text-center">{{ total_payment_type_usage }}</td>
    <td class="text-right">{{ total_payment_type_net|intcomma }}</td>
{% endblock datatable_tfoot_tr %}

{% block javascript %}
{{ block.super }}

<script>
  var url = window.location.origin = window.location.protocol + "//" + window.location.hostname + (window.location.port ? ':' + window.location.port : '');

  var startDate;
  var endDate;
  var dateUrlExtra = "";

  {% if start_date and end_date %}
  startDate = "{{start_date|date:'Y-n-j H:i:s'}}";
  endDate = "{{end_date|date:'Y-n-j  H:i:s'}}";
  startDateMobile = "{{ start_date|date:'m/d/Y' }}"
  endDateMobile = "{{end_date|date:'m/d/Y'}}";
  {% endif %}

  if ( startDate != null && endDate != null) {
    dateUrlExtra = "?date={{ request.GET.date }}&startdate=" + startDate + "&enddate=" + endDate
  };

  $(document).ready(function () {

    $('#reportrange').daterangepicker({
      'minDate': moment().subtract(6, 'month'),
      'maxDate': moment().add(1, 'month'),
      'opens': "right",
      'ranges': {
          'Hari ini': [moment().format('DD/MM/YYYY 00:00:00'), moment().format('DD/MM/YYYY 23:59:59')],
          'Kemarin': [moment().subtract(1, 'days').format('DD/MM/YYYY 00:00:00'), moment().subtract(1, 'days').format('DD/MM/YYYY 23:59:59')],
          'Minggu ini': [moment().startOf('isoweek').format('DD/MM/YYYY 00:00:00'), moment().endOf('isoweek').format('DD/MM/YYYY 23:59:59')],
          'Bulan ini': [moment().startOf('month').format('DD/MM/YYYY 00:00:00'), moment().endOf('month').format('DD/MM/YYYY 23:59:59')],
          'Minggu lalu': [moment().subtract(1, 'week').startOf('isoweek').format('DD/MM/YYYY 00:00:00'), moment().subtract(1, 'week').endOf('isoWeek').format('DD/MM/YYYY 23:59:59')],
          'Bulan lalu': [moment().subtract(1, 'month').startOf('month').format('DD/MM/YYYY 00:00:00'), moment().subtract(1, 'month').endOf('month').format('DD/MM/YYYY 23:59:59')],
      },
      'locale': {
        'format': 'DD/MM/YYYY',
        "customRangeLabel": "Pilih Tanggal",
        "applyLabel": "Terapkan",
        "cancelLabel": "Batal",
        "daysOfWeek": [
          "Min",
          "Sen",
          "Sel",
          "Rab",
          "Kam",
          "Jum",
          "Sab"
        ],
        "monthNames": [
          "Januari",
          "Februari",
          "Maret",
          "April",
          "Mei",
          "Juni",
          "Juli",
          "Agustus",
          "September",
          "Oktober",
          "November",
          "Desember"
        ],
      },
    },
    function (start, end, label) {
      var s = moment(start.toISOString());
      var e = moment(end.toISOString());
      startDate = s.format('YYYY-MM-DD HH:mm:ss');
      endDate = e.format('YYYY-MM-DD HH:mm:ss');
      $('#reportrange span').html(s.format('DD/MM/YYYY') + ' - ' + e.format('DD/MM/YYYY'));
    });

    $('#reportrange').on('cancel.daterangepicker', function (ev, picker) {
      $(this).val('');
    });

    $('#reportrange').on('apply.daterangepicker',
      function (ev, picker) {
        base_url = "{% if outlet %}{% url 'sales:sales_by_payment' outlet.pk %}{% else %}{% url 'sales:sales_by_payment' %}{% endif %}";
        startdate = picker.startDate.format('YYYY-MM-DD HH:mm:ss');
        enddate = picker.endDate.format('YYYY-MM-DD HH:mm:ss');

        new_url = base_url + "?date=custom&startdate=" + startdate + "&enddate=" + enddate
        window.location = new_url;
    });

    $("#companyBranch").change(function() {
      new_url = this.value + dateUrlExtra
      window.location = new_url;
    });
    $("option[data-pk='{{outlet.pk}}']").prop('selected',true);
    $("#companyBranch").attr('title', $("option[data-pk='{{outlet.pk}}']").text());
  });

  function csv_report () {
        var a = location.href;
        var b = a.substring(a.indexOf("?")+1);
        base_url = "#";
        new_url = base_url +"?"+ b
        window.location = new_url;
  }
  function pdf_report () {
        var a = location.href;
        var b = a.substring(a.indexOf("?")+1);
        base_url = "#";
        new_url = base_url +"?"+ b
        window.location = new_url;
  }
</script>
{% endblock %}
