{% extends "dashboard/base_datatable.html" %}
{% load static i18n humanize %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Sales Summary" %}{% endblock %}

{% block reports_active_class %}active{% endblock %}
{% block mobile_reports_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_reports_show %}show{% endblock %}
{% block sales_summary_active_class %}submenu-active{% endblock %}
{% block mobile_sales_summary_active_class %}submenu-active{% endblock %}


{% block datatable_title %}
{% trans "Sales Summary" %}
{% endblock datatable_title %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}

{% block datatable_panel_title %}
{% trans "Sales Summary" %}
{% endblock datatable_panel_title %}
{% block csv_export %}
<!--a id="csvExport" target="_blank"  onclick="csv_report()" class="btn btn-primary">Export CSV</a-->

{% endblock csv_export %}

{% block date_range %}
<div id="filters" class="mb-3">
  {% include "partials/non_ajax_filters.html" with view_name="sales:sales_summary" %}
</div>

<div class="row sales-card">
  <div class="col-md-4 pr-0 ">
    <div class="card">
      <div class="card-body pb-3">
        <h4 class="heading-4 card-title mb-4 font-weight-thin">{% trans "Transaction Count" %}</h3>
        <h3 class="heading-3 card-text font-weight-thin">{{ sales_order_count|intcomma  }} {% trans "Transaction(s)" %}</h2>
        <hr/>
        <p class="heading-4 mb-0"><i title="{% trans 'From' %}  {{ sales_order_comp_count|intcomma }}" class="fa {% if sales_order_count > sales_order_comp_count %}fa-caret-up{% else %}fa-caret-down{% endif %} text-success pr-2"></i> {{ sales_order_diff }}% <span class=text-muted>{% if sales_order_count > sales_order_comp_count %}{% trans "increase" %}{% else %}{% trans "decrease" %}{% endif %}</span></p>
      </div>
    </div>
  </div>
  <div class="col-md-4 pr-0">
    <div class="card">
      <div class="card-body pb-3">
        <h4 class="heading-4 card-title mb-4 font-weight-thin">{% trans "Total Sales" %}</h3>
        <h3 class="heading-3 card-text font-weight-thin">Rp. {{ total_sales_after_tax|intcomma }}</h2>
        <hr/>
        <p class="heading-4 mb-0"><i title="{% trans 'From' %} Rp. {{ total_sales_after_tax_comp|intcomma }}" class="fa {% if total_sales_after_tax > total_sales_after_tax_comp %}fa-caret-up{% else %}fa-caret-down{% endif %} text-success pr-2"></i> {{ total_sales_after_tax_diff }}% <span class=text-muted>{% if total_sales_after_tax > total_sales_after_tax_comp %}{% trans "increase" %}{% else %}{% trans "decrease" %}{% endif %}</span></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body pb-3">
        <h4 class="heading-4 card-title mb-4 font-weight-thin">{% trans "Gross Sales" %}</h3>
        <h3 class="heading-3 card-text font-weight-thin">Rp. {{ total_category_sales|intcomma }}</h2>
        <hr/>
        <p class="heading-4 mb-0"><i title="{% trans 'From' %} Rp. {{ total_category_sales_comp|intcomma }}" class="fa {% if total_category_sales > total_category_sales_comp %}fa-caret-up{% else %}fa-caret-down{% endif %} text-success pr-2"></i> {{ total_category_sales_diff }}% <span class=text-muted>{% if total_category_sales > total_category_sales_comp %}{% trans "increase" %}{% else %}{% trans "decrease" %}{% endif %}</span></p>
      </div>
    </div>
  </div>
</div>
<div class="row sales-card">
  <div class="col-md-4 pr-0">
    <div class="card">
      <div class="card-body pb-3">
        <h4 class="heading-4 card-title mb-4 font-weight-thin">{% trans "Average per Transaction" %}</h3>
        <h3 class="heading-3 card-text font-weight-thin">Rp. {{ average_revenue|intcomma }}</h2>
        <hr/>
        <p class="heading-4 mb-0"><i  title="{% trans 'From' %} Rp. {{ average_revenue_comp|intcomma }}" class="fa {% if average_revenue > average_revenue_comp %}fa-caret-up{% else %}fa-caret-down{% endif %} text-success pr-2"></i> {{ average_revenue_diff }}% <span class=text-muted>{% if average_revenue > average_revenue_comp %}{% trans "increase" %}{% else %}{% trans "decrease" %}{% endif %}</span></p>
      </div>
    </div>
  </div>
  <div class="col-md-4 pr-0">
    <div class="card">
      <div class="card-body pb-3">
        <h4 class="heading-4 card-title mb-4 font-weight-thin">{% trans "FOC Sales" %}</h3>
        <h3 class="heading-3 card-text font-weight-thin">{{ total_foc_sales|intcomma }}</h2>
        <hr/>
        <p class="heading-4 mb-0"><i title="{% trans 'From' %} Rp. {{ total_foc_sales_comp|intcomma }}" class="fa {% if total_foc_sales > total_foc_sales_comp %}fa-caret-up{% else %}fa-caret-down{% endif %} text-success pr-2"></i> {{ total_foc_sales_diff }}% <span class=text-muted>{% if total_foc_sales > total_foc_sales_comp %}{% trans "increase" %}{% else %}{% trans "decrease" %}{% endif %}</span></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body pb-3">
        <h4 class="heading-4 card-title mb-4 font-weight-thin">{% trans "Total Guest" %}</h3>
        <h3 class="heading-3 card-text font-weight-thin">{{ total_guest_number|intcomma }} {% trans "Guest" %}</h2>
        <hr/>
        <p class="heading-4 mb-0"><i title="{% trans 'From' %} {{ total_guest_number_comp|intcomma }} {% trans "Guest" %}" class="fa {% if total_guest_number > total_guest_number_comp %}fa-caret-up{% else %}fa-caret-down{% endif %} text-success pr-2"></i> {{ total_guest_number_diff }}% <span class=text-muted>{% if total_guest_number > total_guest_number_comp %}{% trans "increase" %}{% else %}{% trans "decrease" %}{% endif %}</span></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script>
  let baseURL = "{% if outlet %}{% url 'sales:sales_summary' outlet.pk %}{% else %}{% url 'sales:sales_summary' %}{% endif %}";
  var outlet_pk = "{{outlet.pk}}";
</script>
<script type="text/javascript" src="{% static 'js/header-daterange-picker.js' %}"></script>
{% endblock %}
