{% extends "dashboard/base_datatable.html" %}
{% load static i18n humanize %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Sales FOC Summary" %}{% endblock %}

{% block reports_active_class %}active{% endblock %}
{% block mobile_reports_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_reports_show %}show{% endblock %}
{% block sales_by_type_active_class %}submenu-active{% endblock %}
{% block mobile_sales_by_type_active_class %}submenu-active{% endblock %}

{% block datatable_title %}
{% trans "Sales FOC Summary" %}
{% endblock datatable_title %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}

{% block datatable_panel_title %}
{% trans "Sales FOC Summary" %}
{% endblock datatable_panel_title %}


{% block action_button %}
<div class="p-0 position-fixed" style="right:20px;">
  <label id="exportcsvrange" class="btn btn-primary btn-lg fixed-top-content export-date-calendar" style="width: 150px;">
        &nbsp;<span>
            {% trans "Export CSV" %}
        </span>
        &nbsp;<i class="fa fa-angle-down"></i>
  </label>
</div>
{% endblock action_button %}

{% block date_range %}
<div id="filters" class="w-100 mb-3">
  <div class="row align-items-center">
    <div class="mb-0 col-md-2">
      <div class="selectdiv">
        <label class="d-block mb-0">
          <div class="box-custom-select">
          <select id='companyBranch' class="form-control form-control-sm custom-select" style="background-image: none;">
            <option data-pk=0 value="{% url 'sales:sales_by_type_data' %}">{% trans "All Branches" %}</option>
            {% if request.user.is_owner %}
              {% for outlet in request.user.account.outlet_set.all %}
                <option data-pk={{outlet.pk}} value="{% url 'sales:sales_by_type_data' outlet.pk %}">{{outlet.name}}</option>
              {% endfor %}
            {% else %}
              {% for outlet in request.user.device_user.outlet.all %}
                <option data-pk={{outlet.pk}} value="{% url 'sales:sales_by_type_data' outlet.pk %}">{{outlet.name}}</option>
              {% endfor %}
            {% endif %}
          </select>
          </div>
        </label>
      </div>
    </div>
    <div id="date_filter" class="align-items-center">
      <form class="form-inline">
        <div class="form-group">
          <label id="reportrange" class="btn btn-default btn-lg date-calendar d-flex justify-content-between" style="width: 280px;">
            <span>
              {% if start_date and end_date%}
                {{ start_date|date:"d/m/Y" }} -  {{ end_date|date:"d/m/Y" }}
              {% else %}
                {% trans "Filter by Transaction Date" %}
              {% endif %}
              </span>
              &nbsp;<i class="fa fa-angle-down"></i>
            </label>
          </div>
        </form>
    </div>
  </div>
</div>
{% endblock %}


{% block datatable_thead_tr %}
<th class="no-sort">Code</th>
<th>Outlet</th>
<th>Transaction Date</th>
<th>Type</th>
<th>Description</th>
<th>Guest Name</th>
<th>Total Sales</th>
{% endblock datatable_thead_tr %}

{% block datatable_filter %}
<tr class='datatable-filter'>
  <td>
    <div class="datatable-filter-input-group">
      <div class="input-group mtm">
        <input type="text" class="form-control extra-table-control" placeholder="Search...">
      </div>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group">
      <div class="input-group mtm">
        <input type="hidden" disabled class="form-control extra-table-control" placeholder="Search...">
      </div>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group">
      <div class="input-group mtm">
        <input type="hidden" disabled class="form-control extra-table-control" placeholder="Search...">
      </div>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group">
      <div class="mtm">
        <div class="selectdiv">
        <label class="input-group">
        <select class="form-control form-control-sm custom-select extra-table-control">
          <option value=''>{% trans "All" %}</option>
          <option value='foc'>FOC</option>
          <option value='city_ledger'>City Ledger</option>
        </select>
        </label>
        </div>
      </div>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group">
      <div class="input-group mtm">
        <input type="text" class="form-control extra-table-control" placeholder="Search...">
      </div>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group">
      <div class="input-group mtm">
        <input type="text" class="form-control extra-table-control" placeholder="Search...">
      </div>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group">
      <div class="input-group mtm">
        <input type="text" class="form-control extra-table-control" placeholder="Search...">
      </div>
    </div>
  </td>
</tr>
{% endblock datatable_filter %}

{% block javascript %}
{{ block.super }}

<script>
  var url = window.location.origin = window.location.protocol + "//" + window.location.hostname + (window.location.port ? ':' + window.location.port : '');

  var startDate;
  var endDate;
  var dateUrlExtra = "";

  {% if start_date and end_date %}
  startDate = "{{start_date|date:'Y-n-j H:i:s'}}";
  endDate = "{{end_date|date:'Y-n-j  H:i:s'}}";
  startDateMobile = "{{ start_date|date:'m/d/Y' }}"
  endDateMobile = "{{end_date|date:'m/d/Y'}}";
  {% endif %}

  if ( startDate != null && endDate != null) {
    dateUrlExtra = "?date={{ request.GET.date }}&start_date=" + startDate + "&end_date=" + endDate
  };

  $(document).ready(function () {
    base_url = "{% url 'sales:sales_by_type_data' %}"
    tableOptions = {
      pageLength: 30,
      order: [[ 2, "desc" ]],
      columnDefs: [
        {
          targets: [0],
          render: function (data, type, row) {
            var value = row[0][0];
            var url = row[0][1];
            return '<a href="' + url + '" >' + value.slice(-6) + '</a>'
          },
        },
        {
          targets: [2],
          render: function (data, type, full, meta) {
            var data_date = data;
            if (type == 'display') {
              var new_date = moment(data_date);
              date = new_date.format('DD/MM/YYYY HH:mm:ss');
              return date;
            }
            return data_date;
          },
        },
        {
          targets: [6,],
          searchable: false,
          className: 'text-right',
          render: function (data, type, full, meta) {
            return parseInt(data).toLocaleString('id')
          }
        },
      ],
    };

    $('#reportrange').daterangepicker({
      'minDate': moment().subtract(6, 'month'),
      'maxDate': moment().add(1, 'month'),
      'opens': "right",
      'ranges': {
          'Hari ini': [moment().format('DD/MM/YYYY 00:00:00'), moment().format('DD/MM/YYYY 23:59:59')],
          'Kemarin': [moment().subtract(1, 'days').format('DD/MM/YYYY 00:00:00'), moment().subtract(1, 'days').format('DD/MM/YYYY 23:59:59')],
          'Minggu ini': [moment().startOf('isoweek').format('DD/MM/YYYY 00:00:00'), moment().endOf('isoweek').format('DD/MM/YYYY 23:59:59')],
          'Bulan ini': [moment().startOf('month').format('DD/MM/YYYY 00:00:00'), moment().endOf('month').format('DD/MM/YYYY 23:59:59')],
          'Minggu lalu': [moment().subtract(1, 'week').startOf('isoweek').format('DD/MM/YYYY 00:00:00'), moment().subtract(1, 'week').endOf('isoWeek').format('DD/MM/YYYY 23:59:59')],
          'Bulan lalu': [moment().subtract(1, 'month').startOf('month').format('DD/MM/YYYY 00:00:00'), moment().subtract(1, 'month').endOf('month').format('DD/MM/YYYY 23:59:59')],
      },
      'locale': {
        'format': 'DD/MM/YYYY',
        "customRangeLabel": "Pilih Tanggal",
        "applyLabel": "Terapkan",
        "cancelLabel": "Batal",
        "daysOfWeek": [
          "Min",
          "Sen",
          "Sel",
          "Rab",
          "Kam",
          "Jum",
          "Sab"
        ],
        "monthNames": [
          "Januari",
          "Februari",
          "Maret",
          "April",
          "Mei",
          "Juni",
          "Juli",
          "Agustus",
          "September",
          "Oktober",
          "November",
          "Desember"
        ],
      },
    },
    function (start, end, label) {
      var s = moment(start.toISOString());
      var e = moment(end.toISOString());
      startDate = s.format('YYYY-MM-DD HH:mm:ss');
      endDate = e.format('YYYY-MM-DD HH:mm:ss');
      $('#reportrange span').html(s.format('DD/MM/YYYY') + ' - ' + e.format('DD/MM/YYYY'));
    });

    $('#reportrange').on('cancel.daterangepicker', function (ev, picker) {
      $(this).val('');
    });

    $('#reportrange').on('apply.daterangepicker',
      function (ev, picker) {
        base_url = "{% if outlet %}{% url 'sales:sales_by_type' outlet.pk %}{% else %}{% url 'sales:sales_by_type' %}{% endif %}";
        startdate = picker.startDate.format('YYYY-MM-DD HH:mm:ss');
        enddate = picker.endDate.format('YYYY-MM-DD HH:mm:ss');

        new_url = base_url + "?date=custom&start_date=" + startdate + "&end_date=" + enddate
        window.location = new_url;
    });

    $("#companyBranch").attr(
      'title', $("option[data-pk='{{outlet.pk}}']").text());

    $("option[data-pk='{{outlet.pk}}']").prop('selected',true);
  });

  $('.export-date-calendar').daterangepicker({
      'minDate': moment().subtract(36, 'month'),
      'maxDate': moment().add(1, 'month'),
      'ranges': {
          'Hari ini': [moment().format('DD/MM/YYYY 00:00:00'), moment().format('DD/MM/YYYY 23:59:59')],
          'Kemarin': [moment().subtract(1, 'days').format('DD/MM/YYYY 00:00:00'), moment().subtract(1, 'days').format('DD/MM/YYYY 23:59:59')],
          'Minggu ini': [moment().startOf('isoweek').format('DD/MM/YYYY 00:00:00'), moment().endOf('isoweek').format('DD/MM/YYYY 23:59:59')],
          'Bulan ini': [moment().startOf('month').format('DD/MM/YYYY 00:00:00'), moment().endOf('month').format('DD/MM/YYYY 23:59:59')],
          'Minggu lalu': [moment().subtract(1, 'week').startOf('isoweek').format('DD/MM/YYYY 00:00:00'), moment().subtract(1, 'week').endOf('isoWeek').format('DD/MM/YYYY 23:59:59')],
          'Bulan lalu': [moment().subtract(1, 'month').startOf('month').format('DD/MM/YYYY 00:00:00'), moment().subtract(1, 'month').endOf('month').format('DD/MM/YYYY 23:59:59')],

      },
      'opens': "right",
      'locale': {
        'format': 'DD/MM/YYYY',
        "customRangeLabel": "Pilih Tanggal",
        "applyLabel": "Terapkan",
        "cancelLabel": "Batal",
        "daysOfWeek": [
          "Min",
          "Sen",
          "Sel",
          "Rab",
          "Kam",
          "Jum",
          "Sab"
        ],
        "monthNames": [
          "Januari",
          "Februari",
          "Maret",
          "April",
          "Mei",
          "Juni",
          "Juli",
          "Agustus",
          "September",
          "Oktober",
          "November",
          "Desember"
        ],
      },
    },
    function (start, end, label) {
      var s = moment(start.toISOString());
      var e = moment(end.toISOString());
      startDate = s.format('YYYY-MM-DD HH:mm:ss');
      endDate = e.format('YYYY-MM-DD HH:mm:ss');

      date_format = s.format('DD/MM/YYYY') + ' - ' + e.format('DD/MM/YYYY')
  });

  $('.export-date-calendar').on('cancel.daterangepicker', function (ev, picker) {
      $(this).val('');
      startdate = null;
      enddate = null;
  });

  function removeParam(key, sourceURL) {
    var rtn = sourceURL.split("?")[0],
        param,
        params_arr = [],
        queryString = (sourceURL.indexOf("?") !== -1) ? sourceURL.split("?")[1] : "";
    if (queryString !== "") {
        params_arr = queryString.split("&");
        for (var i = params_arr.length - 1; i >= 0; i -= 1) {
            param = params_arr[i].split("=")[0];
            if (param === key) {
                params_arr.splice(i, 1);
            }
        }
        rtn = rtn + "?" + params_arr.join("&");
    }
    else {
      params_arr = queryString.split("&");
      rtn = rtn + "?" + params_arr.join("&");
    }
    return rtn;
  }

  $('.export-date-calendar').on('apply.daterangepicker',
    function (ev, picker) {
      params = table.ajax.params();
      params.length = -1;
      var old_url = table.ajax.url() + "?" + $.param( params );
      var alteredStartURL = removeParam("start_date", old_url);
      alteredEndURL = removeParam("end_date", alteredStartURL);
      start_date = picker.startDate.format('YYYY-MM-DD HH:mm:ss');
      end_date = picker.endDate.format('YYYY-MM-DD HH:mm:ss');
      new_url = alteredEndURL + "&" +"start_date=" + start_date + "&end_date=" + end_date + "&" + $.param({"export_file": "csv"});
      window.open(new_url, '_blank');
  });

</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
<script> 
  $("#companyBranch").change(function() {
      table.ajax.url(this.value).load();
    });
    $('#companyBranchClear > .datatable-clearfilter').click(function(e){
      e.preventDefault();
      table.ajax.url("{% url 'sales:sales_by_type_data' %}");
    });
</script>
{% endblock %}
