{% extends "dashboard/base_datatable.html" %}
{% load static i18n humanize %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Sales By Category" %}{% endblock %}

{% block reports_active_class %}active{% endblock %}
{% block mobile_reports_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_reports_show %}show{% endblock %}
{% block sales_by_category_active_class %}submenu-active{% endblock %}
{% block mobile_sales_by_category_active_class %}submenu-active{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}

{% block datatable_title %}
{% trans "Sales By Category" %}
{% endblock datatable_title %}
{% block css %}
  {{ block.super }}
  <style>
   div#category_list :last-child {
      border-bottom: 0px;
   }

   div#category_list :last-child p {
      margin-bottom: 0px !important;
   }
  </style>
{% endblock %}

{% block datatable_panel_title %}
{% trans "Sales By Category" %}
{% endblock datatable_panel_title %}

{% block action_button %}
<div class="p-0 position-fixed" style="right:20px;">
  <label id="exportcsvrange" class="btn btn-primary btn-lg fixed-top-content export-date-calendar" style="width: 150px;">
        &nbsp;<span>
            {% trans "Export CSV" %}
        </span>
        &nbsp;<i class="fa fa-angle-down"></i>
  </label>
</div>
{% endblock action_button %}

{% block date_range %}
<div id="filters" class="mb-3">
  <div class="row align-items-center">
    <div class="mb-0 col-lg-2">
      <div class="selectdiv">
        <label class="d-block mb-0">
          <div class="box-custom-select">
          <select id='companyBranch' class="form-control form-control-sm custom-select" style="background-image: none;">
            <option data-pk=0 value="{% url 'sales:sales_by_category' %}">{% trans "All Branches" %}</option>
            {% if request.user.is_owner %}
              {% for outlet in request.user.account.outlet_set.all %}
                <option data-pk={{outlet.pk}} value="{% url 'sales:sales_by_category' outlet.pk %}">{{outlet.name}}</option>
              {% endfor %}
            {% else %}
              {% for outlet in request.user.device_user.outlet.all %}
                <option data-pk={{outlet.pk}} value="{% url 'sales:sales_by_category' outlet.pk %}">{{outlet.name}}</option>
              {% endfor %}
            {% endif %}
          </select>
          </div>
        </label>
      </div>
    </div>
    <div id="date_filter" class="align-items-center">
      <form class="form-inline">
        <div class="form-group">
          <label id="reportrange" class="btn btn-default btn-lg date-calendar d-flex justify-content-between"
                 style="width: 240px;">
              <span>
              {% if start_date and end_date%}
                {{ start_date|date:"d/m/Y" }} -  {{ end_date|date:"d/m/Y" }}
              {% else %}
                {% trans "Filter by Transaction Date" %}
              {% endif %}
              </span>
              &nbsp;<i class="fa fa-angle-down"></i>
            </label>
          </div>
        </form>
    </div>
  </div>
</div>
{% endblock %}

{% block sub_content %}
<div class="w-100">
    <div title='sales-by-category' class="row mx-0 report mb-4">
      <div class="card col-lg-6 px-0" id="report">
          <div class="card-body py-0 px-3" id="category_list">
            {% for category in category_sales %}
              {% if forloop.counter == 1 %}
                <div class="d-flex justify-content-between" id='report-table'>
                  <p class="mb-3">{% trans "Category" %}</p>
                  <p class="mb-3">{% trans "Total Sales" %}</p>
                </div>
              {% endif %}
              <div class="d-flex justify-content-between" id='report-table'>
                {% if category.depth == 1 %}
                <p class="mx-0 mt-3">
                  <b>{{ category.name }}</b>
                </p>
                {% else %}
                <p class="m-3">
                  {{ category.name }}
                </p>
                {% endif %}
                {% if category.depth == 1 %}
                <p class="my-3 mx-0" {% if category.is_root and not category.is_leaf %}data-root{% endif %} id="{{category.path}}" data-value={{ category.category_total_sales.to_integral }}>{{ category.category_total_sales|intcomma }}</p>
                {% else %}
                <p class="my-3 mx-0" data-parent={{category.path}} data-value={{ category.category_total_sales.to_integral }}>{{ category.category_total_sales|intcomma }}</p>
                {% endif %}
              </div>
              {% empty %}
              <div class="text-center margin-100">
                <img alt="disable" src="{% static 'images/data_not_found.svg' %}" style="width: 160px">
                  <div style="margin-top:32px; margin-bottom:32px;">
                       <h3 class="mb-3">Oops</h3>
                       <p class="text-muted text-center my-0">Data Penjualan Berdasarkan Kategori tidak ada.</p>
                  </div>
              </div>
            {% endfor %}
          </div>
        </div>
      <div class="col-lg-4" style="padding:8px 15px 0px 32px;">
        <div class=" help-section">
        </div>
      </div>
    </div>
</div>
{% endblock sub_content %}

{% block javascript %}
{{ block.super }}

<script>
  var url = window.location.origin = window.location.protocol + "//" + window.location.hostname + (window.location.port ? ':' + window.location.port : '');

  var startDate;
  var endDate;
  var dateUrlExtra = "";

  {% if start_date and end_date %}
  startDate = "{{start_date|date:'Y-n-j H:i:s'}}";
  endDate = "{{end_date|date:'Y-n-j  H:i:s'}}";
  startDateMobile = "{{ start_date|date:'m/d/Y' }}"
  endDateMobile = "{{end_date|date:'m/d/Y'}}";
  {% endif %}

  if ( startDate != null && endDate != null) {
    dateUrlExtra = "?date={{ request.GET.date }}&startdate=" + startDate + "&enddate=" + endDate
  };

  $(document).ready(function () {

    $('#reportrange').daterangepicker({
      'minDate': moment().subtract(6, 'month'),
      'maxDate': moment().add(1, 'month'),
      'opens': "right",
      'ranges': {
          'Hari ini': [moment().format('DD/MM/YYYY 00:00:00'), moment().format('DD/MM/YYYY 23:59:59')],
          'Kemarin': [moment().subtract(1, 'days').format('DD/MM/YYYY 00:00:00'), moment().subtract(1, 'days').format('DD/MM/YYYY 23:59:59')],
          'Minggu ini': [moment().startOf('isoweek').format('DD/MM/YYYY 00:00:00'), moment().endOf('isoweek').format('DD/MM/YYYY 23:59:59')],
          'Bulan ini': [moment().startOf('month').format('DD/MM/YYYY 00:00:00'), moment().endOf('month').format('DD/MM/YYYY 23:59:59')],
          'Minggu lalu': [moment().subtract(1, 'week').startOf('isoweek').format('DD/MM/YYYY 00:00:00'), moment().subtract(1, 'week').endOf('isoWeek').format('DD/MM/YYYY 23:59:59')],
          'Bulan lalu': [moment().subtract(1, 'month').startOf('month').format('DD/MM/YYYY 00:00:00'), moment().subtract(1, 'month').endOf('month').format('DD/MM/YYYY 23:59:59')],
      },
      'locale': {
        'format': 'DD/MM/YYYY',
        "customRangeLabel": "Pilih Tanggal",
        "applyLabel": "Terapkan",
        "cancelLabel": "Batal",
        "daysOfWeek": [
          "Min",
          "Sen",
          "Sel",
          "Rab",
          "Kam",
          "Jum",
          "Sab"
        ],
        "monthNames": [
          "Januari",
          "Februari",
          "Maret",
          "April",
          "Mei",
          "Juni",
          "Juli",
          "Agustus",
          "September",
          "Oktober",
          "November",
          "Desember"
        ],
      },
    },
    function (start, end, label) {
      var s = moment(start.toISOString());
      var e = moment(end.toISOString());
      startDate = s.format('YYYY-MM-DD HH:mm:ss');
      endDate = e.format('YYYY-MM-DD HH:mm:ss');
      $('#reportrange span').html(s.format('DD/MM/YYYY') + ' - ' + e.format('DD/MM/YYYY'));
    });

    $('#reportrange').on('cancel.daterangepicker', function (ev, picker) {
      $(this).val('');
    });

    $('#reportrange').on('apply.daterangepicker',
      function (ev, picker) {
        base_url = "{% if outlet %}{% url 'sales:sales_by_category' outlet.pk %}{% else %}{% url 'sales:sales_by_category' %}{% endif %}";
        startdate = picker.startDate.format('YYYY-MM-DD HH:mm:ss');
        enddate = picker.endDate.format('YYYY-MM-DD HH:mm:ss');

        new_url = base_url + "?date=custom&startdate=" + startdate + "&enddate=" + enddate
        window.location = new_url;
    });

    $("#companyBranch").change(function() {
      new_url = this.value + dateUrlExtra
      window.location = new_url;
    });
    $("option[data-pk='{{outlet.pk}}']").prop('selected',true);
    $("#companyBranch").attr('title', $("option[data-pk='{{outlet.pk}}']").text());

    $('[data-root]').map(
      (x,y) => $(y).data(
        'child-sales',
        $(y).data('value') + $('[data-parent^='+ y.id +']').map(
          (x,y) => $(y).data('value')).toArray().reduce(
            function(a,b){return a+b}, 0
        )
      )
    )

    $('[data-root]').filter(
      function() { return $(this).data('child-sales') > 0 }
    ).map(
      (x,y) => $(y).text(
        new Intl.NumberFormat(
          'id', { minimumFractionDigits: 2 }
        ).format($(y).data('child-sales'))
      )
    );

  });

  $('.export-date-calendar').daterangepicker({
      'minDate': moment().subtract(36, 'month'),
      'maxDate': moment().add(1, 'month'),
      'ranges': {
          'Hari ini': [moment().format('DD/MM/YYYY 00:00:00'), moment().format('DD/MM/YYYY 23:59:59')],
          'Kemarin': [moment().subtract(1, 'days').format('DD/MM/YYYY 00:00:00'), moment().subtract(1, 'days').format('DD/MM/YYYY 23:59:59')],
          'Minggu ini': [moment().startOf('isoweek').format('DD/MM/YYYY 00:00:00'), moment().endOf('isoweek').format('DD/MM/YYYY 23:59:59')],
          'Bulan ini': [moment().startOf('month').format('DD/MM/YYYY 00:00:00'), moment().endOf('month').format('DD/MM/YYYY 23:59:59')],
          'Minggu lalu': [moment().subtract(1, 'week').startOf('isoweek').format('DD/MM/YYYY 00:00:00'), moment().subtract(1, 'week').endOf('isoWeek').format('DD/MM/YYYY 23:59:59')],
          'Bulan lalu': [moment().subtract(1, 'month').startOf('month').format('DD/MM/YYYY 00:00:00'), moment().subtract(1, 'month').endOf('month').format('DD/MM/YYYY 23:59:59')],

      },
      'opens': "right",
      'locale': {
        'format': 'DD/MM/YYYY',
        "customRangeLabel": "Pilih Tanggal",
        "applyLabel": "Terapkan",
        "cancelLabel": "Batal",
        "daysOfWeek": [
          "Min",
          "Sen",
          "Sel",
          "Rab",
          "Kam",
          "Jum",
          "Sab"
        ],
        "monthNames": [
          "Januari",
          "Februari",
          "Maret",
          "April",
          "Mei",
          "Juni",
          "Juli",
          "Agustus",
          "September",
          "Oktober",
          "November",
          "Desember"
        ],
      },
    },
    function (start, end, label) {
      var s = moment(start.toISOString());
      var e = moment(end.toISOString());
      startDate = s.format('YYYY-MM-DD HH:mm:ss');
      endDate = e.format('YYYY-MM-DD HH:mm:ss');

      date_format = s.format('DD/MM/YYYY') + ' - ' + e.format('DD/MM/YYYY')
  });

  $('.export-date-calendar').on('cancel.daterangepicker', function (ev, picker) {
      $(this).val('');
      startdate = null;
      enddate = null;
  });

  function removeParam(key, sourceURL) {
    var rtn = sourceURL.split("?")[0],
        param,
        params_arr = [],
        queryString = (sourceURL.indexOf("?") !== -1) ? sourceURL.split("?")[1] : "";
    if (queryString !== "") {
        params_arr = queryString.split("&");
        for (var i = params_arr.length - 1; i >= 0; i -= 1) {
            param = params_arr[i].split("=")[0];
            if (param === key) {
                params_arr.splice(i, 1);
            }
        }
        rtn = rtn + "?" + params_arr.join("&");
    }
    else {
      params_arr = queryString.split("&");
      rtn = rtn + "?" + params_arr.join("&");
    }
    return rtn;
  }

  $('.export-date-calendar').on('apply.daterangepicker',
    function (ev, picker) {
      var old_url = window.location.protocol + "//" + window.location.host + window.location.pathname + window.location.search;
      var alteredURL = removeParam("date", old_url);
      alteredStartURL = removeParam("startdate", alteredURL);
      alteredEndURL = removeParam("enddate", alteredStartURL);
      startdate = picker.startDate.format('YYYY-MM-DD HH:mm:ss');
      enddate = picker.endDate.format('YYYY-MM-DD HH:mm:ss');
      new_url = alteredEndURL + "date=custom"+ "&" +"startdate=" + startdate + "&enddate=" + enddate + "&" + $.param({"export_file": "csv"});
      window.open(new_url, '_blank');
  });


  function csv_report () {
        var a = location.href;
        var b = a.substring(a.indexOf("?")+1);
        base_url = "#";
        new_url = base_url +"?"+ b
        window.location = new_url;
  }
  function pdf_report () {
        var a = location.href;
        var b = a.substring(a.indexOf("?")+1);
        base_url = "#";
        new_url = base_url +"?"+ b
        window.location = new_url;
  }
</script>
{% endblock %}
