{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Report Settings" %}{% endblock %}

{% block settings_active_class %}active{% endblock %}
{% block mobile_settings_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_settings_show %}show{% endblock %}
{% block report_settings_active_class %}submenu-active{% endblock %}
{% block mobile_report_settings_active_class %}submenu-active{% endblock %}

{% block css %}
{{ block.super }}
<!-- Your stuff: Third-party css libraries go here -->
{{ form.media.css }}
<style>
    .switch {
      margin-top: 3px;
      position: relative;
      display: inline-block;
      width: 40px;
      height: 20px;
    }

    .switch input {display:none;}

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 12px;
      width: 12px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    .switch input:checked + .slider {
      background-color: #2196F3;
    }

    .switch input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    .switch input:checked + .slider:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }

    div.custom-visibility :last-child {
      border-bottom: 0px !important;
    }

    div#div_id_report_type :first-child {
        margin-left: 0px !important;
      }
    div#div_id_report_type :last-child {
        margin-right: 0px !important;
    }
</style>
{% endblock %}

{% block content_class %}offset-lg-2 offset-xl-2 col-lg-8 col-xl-8 fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block action_div_style %}background: white; border-top: 1px solid #d7d7db; display: none;{% endblock %}
{% block tab_div2_class %}px-2{% endblock %}
{% block content_header %}{% trans "Report Settings" %}{% endblock %}


{% block message %}
  {% for message in messages %}
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close p-2" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  {% endfor %}
{% endblock %}

{% block submit_form %}
    <div class="d-flex justify-content-end" id="fixed-bottom-button">
      <input type="submit" class="btn btn-primary" id="submitBtn" value="{% trans 'Save' %}"/>
    </div>
{% endblock%}
{% block sub_content %}
    <div class="w-100">
      <form enctype="multipart/form-data" method="post" action="." id="sales-report-setting-form">
        <div class="h-100">
          <div class="row px-3">
            {% crispy form %}
            <div class="col-lg-6 px-0" id="report-card-preview">
              <div class="card">
                <fieldset class="card-body py-4 px-3">
                  <div class="col-12 p-0"><h4>{% trans 'Preview' %}</h4>
                    <hr>
                  </div>
                  <div class="struk-preview py-2 col-12 p-0" id="report-preview">
                    <div id="report-header">
                      <div class="d-flex flex-column bd-highlight text-left mb-4" id="div_report_header_info">
                        <h5 class="mb-0" data-category="outlet">NAMA BRAND</h5>
                        <p class="mb-0" data-category="city">Nama Cabang</p>
                      </div>
                      <div class="d-flex flex-column bd-highlight text-left">
                        <p class="mb-0" data-category="address">Alamat Cabang</p>
                        <p class="mb-0" data-category="city">Kota</p>
                        <p class="mb-0" data-category="province"><span class="preview-province">Provinsi</span> - <span
                          class="preview-postal-code">Kode Pos</span></p>
                        <p class="mb-0" data-category="phone">021-123465789</p>
                      </div>
                    </div>
                    <div class="mt-4 pb-2">
                      <div class="d-flex justify-content-between">
                        <p class="m-0">08/09/2018</p>
                        <p class="m-0">18:23</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">User</p>
                        <p class="m-0">Admin</p>
                      </div>
                    </div>
                    <div class="mt-4 pb-2">
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Outlet Report</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">From :</p>
                        <p class="m-0">05/Jul/2019 00:00</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">To  :</p>
                        <p class="m-0">05/Aug/2019 23:59</p>
                      </div>
                    </div>
                    <div class="comprehensive mt-4 pb-2">
                      <div class="d-flex justify-content-between">
                        <p class="m-0">REVENUE</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Sub Total</p>
                        <p class="m-0">Rp. 10.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Discount</p>
                        <p class="m-0">Rp. 1.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Net Sales</p>
                        <p class="m-0">Rp. 9.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Service</p>
                        <p class="m-0">Rp. 2.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Tax</p>
                        <p class="m-0">Rp. 500</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Rounding</p>
                        <p class="m-0">Rp. 0</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">-----------------------------+</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Total</p>
                        <p class="m-0">Rp. 11.500</p>
                      </div>
                    </div>

                    <div class="custom report-revenue mt-4 pb-2 receipt" data-category="revenue">
                      <div class="d-flex justify-content-between">
                        <p class="m-0">REVENUE</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">-----------------------------+</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Total</p>
                        <p class="m-0">Rp. 0</p>
                      </div>
                    </div>

                    <div class="simple mt-4 pb-2">
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Voucher</p>
                        <p class="m-0">Rp. 10.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Debit (Bank A)</p>
                        <p class="m-0">Rp. 20.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Credit (Bank B)</p>
                        <p class="m-0">Rp. 30.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Cash</p>
                        <p class="m-0">Rp. 40.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Total Collected</p>
                        <p class="m-0">Rp. 100.000</p>
                      </div>
                    </div>

                    <div class="comprehensive mt-4 pb-2">
                      <div class="d-flex justify-content-between">
                        <p class="m-0">REVENUE PER FLOOR</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">35 Lantai 1</p>
                        <p class="m-0">Rp. 30.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">20 123</p>
                        <p class="m-0">Rp. 10.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">57 WITHOUT FLOOR</p>
                        <p class="m-0">Rp. 20.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">-----------------------------+</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Total</p>
                        <p class="m-0">Rp. 50.000</p>
                      </div>
                    </div>

                    <div class="custom mt-4 pb-2 receipt report-revenue_per_section"
                         data-category="revenue_per_section">
                      <div class="d-flex justify-content-between">
                        <p class="m-0">REVENUE PER FLOOR</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">-----------------------------+</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Total</p>
                        <p class="m-0">Rp. 0</p>
                      </div>
                    </div>


                    <div class="simple mt-4 pb-2">
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Category A</p>
                        <p class="m-0">Rp. 10.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Category B</p>
                        <p class="m-0">Rp. 20.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Category C</p>
                        <p class="m-0">Rp. 30.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Category D</p>
                        <p class="m-0">Rp. 40.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Subtotal</p>
                        <p class="m-0">Rp. 100.000</p>
                      </div>
                    </div>

                    <div class="comprehensive mt-4 pb-2">
                      <div class="d-flex justify-content-between">
                        <p class="m-0">PAYMENT</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">4 Voucher</p>
                        <p class="m-0">Rp. 10.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">4 Debit (Bank A)</p>
                        <p class="m-0">Rp. 8.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">1 Credit (Bank B)</p>
                        <p class="m-0">Rp. 2.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">1 Credit (Bank A)</p>
                        <p class="m-0">Rp. 2.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">16 Credit (Bank C)</p>
                        <p class="m-0">Rp. 16.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">86 Cash </p>
                        <p class="m-0">Rp. 22.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">-----------------------------+</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Total</p>
                        <p class="m-0">Rp. 50.000</p>
                      </div>
                    </div>

                    <div class="custom mt-4 pb-2 receipt report-payment" data-category="payment">
                      <div class="d-flex justify-content-between">
                        <p class="m-0">PAYMENT</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">-----------------------------+</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Total</p>
                        <p class="m-0">Rp. 0</p>
                      </div>
                    </div>

                    <div class="simple mt-4 pb-2">
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Total Discount (%)</p>
                        <p class="m-0">Rp. 10.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Total All Discount</p>
                        <p class="m-0">Rp. 10.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Bill FOC</p>
                        <p class="m-0">Rp. 30.000</p>
                      </div>
                    </div>

                    <div class="comprehensive mt-4 pb-2">
                      <div class="d-flex justify-content-between">
                        <p class="m-0">RECEIPT TYPE</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">76 Dine In</p>
                        <p class="m-0">Rp. 10.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">32 Take Away</p>
                        <p class="m-0">Rp. 8.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">4 Go Food</p>
                        <p class="m-0">Rp. 2.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">0 Delivery Order</p>
                        <p class="m-0">Rp. 0</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">0 Group Order</p>
                        <p class="m-0">Rp. 0</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">-----------------------------+</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Total</p>
                        <p class="m-0">Rp. 50.000</p>
                      </div>
                    </div>

                    <div class="custom mt-4 pb-2 receipt report-receipt_type" data-category="receipt_type">
                      <div class="d-flex justify-content-between">
                        <p class="m-0">RECEIPT TYPE</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">-----------------------------+</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Total</p>
                        <p class="m-0">Rp. 0</p>
                      </div>
                    </div>

                    <div class="simple mt-4 pb-2">
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Total Before Tax</p>
                        <p class="m-0">Rp. 10.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Total Service</p>
                        <p class="m-0">Rp. 20.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Total Tax</p>
                        <p class="m-0">Rp. 30.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Total Rounding Sales</p>
                        <p class="m-0">Rp. 0</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Total After Tax</p>
                        <p class="m-0">Rp. 60.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">CANCELED</p>
                        <p class="m-0">Rp. 10.000</p>
                      </div>
                    </div>

                    <div class="comprehensive mt-4 pb-2">
                      <div class="d-flex justify-content-between">
                        <p class="m-0">CATEGORY</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">120 Bakmie</p>
                        <p class="m-0">Rp. 10.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">14 Beverage</p>
                        <p class="m-0">Rp. 8.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">3 Bihun</p>
                        <p class="m-0">Rp. 2.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">1 Kwetiaw</p>
                        <p class="m-0">Rp. 2.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">6 Nasi</p>
                        <p class="m-0">Rp. 16.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">3 Paketan</p>
                        <p class="m-0">Rp. 22.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">46 Roti</p>
                        <p class="m-0">Rp. 22.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">-----------------------------+</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Total</p>
                        <p class="m-0">Rp. 50.000</p>
                      </div>
                    </div>

                    <div class="custom mt-4 pb-2 receipt report-category_parent" data-category="category_parent">
                      <div class="d-flex justify-content-between">
                        <p class="m-0">CATEGORY</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">-----------------------------+</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Total</p>
                        <p class="m-0">Rp. 0</p>
                      </div>
                    </div>

                    <div class="simple mt-4 pb-2">
                      <div class="d-flex justify-content-between">
                        <p class="m-0">FOC - 123</p>
                        <p class="m-0">Rp. 10.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">FOC - 321</p>
                        <p class="m-0">Rp. 10.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">FOC - 121</p>
                        <p class="m-0">Rp. 20.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">CL - City Ledger</p>
                        <p class="m-0">Rp. 40.000</p>
                      </div>
                    </div>

                    <div class="comprehensive mt-4 pb-2">
                      <div class="d-flex justify-content-between">
                        <p class="m-0">SUB-CATEGORY</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">2 Coffee</p>
                        <p class="m-0">Rp. 10.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">10 Juices</p>
                        <p class="m-0">Rp. 8.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">1 New Avenue</p>
                        <p class="m-0">Rp. 2.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">1 Paket A</p>
                        <p class="m-0">Rp. 2.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">1 Paket B</p>
                        <p class="m-0">Rp. 16.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">2 Tea</p>
                        <p class="m-0">Rp. 22.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">-----------------------------+</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Total</p>
                        <p class="m-0">Rp. 50.000</p>
                      </div>
                    </div>

                    <div class="custom mt-4 pb-2 receipt report-category_child" data-category="category_child">
                      <div class="d-flex justify-content-between">
                        <p class="m-0">SUB-CATEGORY</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">-----------------------------+</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Total</p>
                        <p class="m-0">Rp. 0</p>
                      </div>
                    </div>

                    <div class="simple mt-4 pb-2">
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Voucher Bill</p>
                        <p class="m-0">4</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Debit (Bank A) Bill</p>
                        <p class="m-0">4</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Credit (Bank A) Bill</p>
                        <p class="m-0">1</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Credit (Bank B) Bill</p>
                        <p class="m-0">16</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Cash Bill</p>
                        <p class="m-0">89</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Payment Mix Bill</p>
                        <p class="m-0">1</p>
                      </div>
                    </div>

                    <div class="comprehensive mt-4 pb-2">
                      <div class="d-flex justify-content-between">
                        <p class="m-0">DISCOUNT</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Total Discount (%)</p>
                        <p class="m-0">Rp. 10.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">-----------------------------+</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Total</p>
                        <p class="m-0">Rp. 10.000</p>
                      </div>
                    </div>

                    <div class="custom mt-4 pb-2 receipt report-discount" data-category="discount">
                      <div class="d-flex justify-content-between">
                        <p class="m-0">DISCOUNT</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Total Discount (%)</p>
                        <p class="m-0">Rp. 0</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">-----------------------------+</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Total</p>
                        <p class="m-0">Rp. 0</p>
                      </div>
                    </div>

                    <div class="simple mt-4 pb-2">
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Order Dine In</p>
                        <p class="m-0">79</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Order Take Away</p>
                        <p class="m-0">32</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Order Go-Food</p>
                        <p class="m-0">4</p>
                      </div>
                    </div>

                    <div class="comprehensive mt-4 pb-2">
                      <div class="d-flex justify-content-between">
                        <p class="m-0">VOID ITEM</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">1 ~Roti Abon</p>
                        <p class="m-0">Rp. 10.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">1 Produk A</p>
                        <p class="m-0">Rp. 8.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">2 AVOCADO - FRESH</p>
                        <p class="m-0">Rp. 2.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">1 BAKMI AYAM LADA HITAM</p>
                        <p class="m-0">Rp. 2.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">1 BAKMI AYAM TERIYAKI</p>
                        <p class="m-0">Rp. 16.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">-----------------------------+</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Total</p>
                        <p class="m-0">Rp. 50.000</p>
                      </div>
                    </div>

                    <div class="custom mt-4 pb-2 receipt report-void_item" data-category="void_item">
                      <div class="d-flex justify-content-between">
                        <p class="m-0">VOID ITEM</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">-----------------------------+</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Total</p>
                        <p class="m-0">Rp. 0</p>
                      </div>
                    </div>

                    <div class="simple mt-4 pb-2">
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Dine In</p>
                        <p class="m-0">Rp. 120.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Take Away</p>
                        <p class="m-0">Rp. 150.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Go-Food</p>
                        <p class="m-0">Rp. 50.000</p>
                      </div>
                    </div>

                    <div class="comprehensive mt-4 pb-2">
                      <div class="d-flex justify-content-between">
                        <p class="m-0">VOID RECEIPT TYPE</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">0 Dine In</p>
                        <p class="m-0">Rp. 0</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">0 Take Away</p>
                        <p class="m-0">Rp. 0</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">2 Go-Food</p>
                        <p class="m-0">Rp. 2.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">0 Delivery Order</p>
                        <p class="m-0">Rp. 0</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">0 Group Order</p>
                        <p class="m-0">Rp. 0</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">-----------------------------+</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Total</p>
                        <p class="m-0">Rp. 50.000</p>
                      </div>
                    </div>

                    <div class="custom mt-4 pb-2 receipt report-void_receipt_type" data-category="void_receipt_type">
                      <div class="d-flex justify-content-between">
                        <p class="m-0">VOID RECEIPT TYPE</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">-----------------------------+</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Total</p>
                        <p class="m-0">Rp. 0</p>
                      </div>
                    </div>

                    <div class="simple mt-4 pb-2">
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Guest</p>
                        <p class="m-0">128</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Avg per Bill</p>
                        <p class="m-0">Rp. 69.764</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Avg per Guest</p>
                        <p class="m-0">Rp. 61.043</p>
                      </div>
                    </div>

                    <div class="comprehensive mt-4 pb-2">
                      <div class="d-flex justify-content-between">
                        <p class="m-0">STATISTIC</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Total Sales</p>
                        <p class="m-0">Rp. 100.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Total Guest</p>
                        <p class="m-0">128</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Avg per Guest</p>
                        <p class="m-0">Rp. 10.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Total Bill</p>
                        <p class="m-0">112</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Avg per Sales</p>
                        <p class="m-0">Rp. 11.000</p>
                      </div>
                    </div>
                    <div class="custom mt-4 pb-2 receipt report-statistic" data-category="statistic">
                      <div class="d-flex justify-content-between">
                        <p class="m-0">STATISTIC</p>
                      </div>
                    </div>

                    <div class="simple mt-4 pb-2">
                      <div class="d-flex justify-content-between">
                        <p class="m-0">TOTAL PRODUCT REPORT</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">---------------------------------------------------------------------------------</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Paket Pertama</p>
                        <p class="m-0">6</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">---------------------------------------------------------------------------------</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Paket A</p>
                        <p class="m-0">1</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Paket B</p>
                        <p class="m-0">2</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Paket C</p>
                        <p class="m-0">3</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">---------------------------------------------------------------------------------</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Paket Kedua</p>
                        <p class="m-0">3</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">---------------------------------------------------------------------------------</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Paket A</p>
                        <p class="m-0">1</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Paket B</p>
                        <p class="m-0">2</p>
                      </div>
                    </div>

                    <div class="comprehensive mt-4 pb-2">
                      <div class="d-flex justify-content-between">
                        <p class="m-0">TOTAL PRODUCT REPORT</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">---------------------------------------------------------------------------------</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Paket Pertama</p>
                        <p class="m-0">6</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">---------------------------------------------------------------------------------</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Paket A</p>
                        <p class="m-0">1</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Paket B</p>
                        <p class="m-0">2</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Paket C</p>
                        <p class="m-0">3</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">---------------------------------------------------------------------------------</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Paket Kedua</p>
                        <p class="m-0">3</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">---------------------------------------------------------------------------------</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Paket A</p>
                        <p class="m-0">1</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">Paket B</p>
                        <p class="m-0">2</p>
                      </div>
                    </div>
                    <div class="custom mt-4 pb-2 receipt report-total_product_report" data-category="total_product_report">
                      <div class="d-flex justify-content-between">
                        <p class="m-0">TOTAL PRODUCT REPORT</p>
                      </div>
                    </div>

                    <!--div class="simple mt-4 pb-2">
                      <div class="d-flex justify-content-between">
                        <p class="m-0">FINANCE ORDER REPORT</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">2019093003P02SyM8RL</p>
                        <p class="m-0">Rp. 10.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">2019093003P02SyM8RL</p>
                        <p class="m-0">Rp. 10.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">2019093003P02SyM8RL</p>
                        <p class="m-0">Rp. 10.000</p>
                      </div>
                    </div-->

                    <div class="comprehensive mt-4 pb-2">
                      <div class="d-flex justify-content-between">
                        <p class="m-0">FINANCE ORDER REPORT</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">2019093003P02SyM8RL</p>
                        <p class="m-0">Rp. 10.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">2019093003P02SyM8RL</p>
                        <p class="m-0">Rp. 10.000</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="m-0">2019093003P02SyM8RL</p>
                        <p class="m-0">Rp. 10.000</p>
                      </div>
                    </div>
                    <div class="custom mt-4 pb-2 receipt report-finance_order_report" data-category="finance_order_report">
                      <div class="d-flex justify-content-between">
                        <p class="m-0">FINANCE ORDER REPORT</p>
                      </div>
                    </div>

                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
        <div class="justify-content-end float-right" id="fixed-button-content">
          <input type="submit" class="btn btn-primary" value="{% trans 'Save' %}"/>
        </div>
    </form>
  </div>
{% endblock %}

{% block javascript %}
{{ block.super }}
{{ account_form.media.js }}
{{ outlet_form.media.js }}
{{ form.media.js }}
{{ template_form.media.js }}
<script src="{% static '/js/button-scrollbar.js' %}"></script>
<script src="{% static 'js/custom-visibility-receipt.js' %}"></script>
<script>
      function simple_report_label(){
            $('#id__1').siblings().text('Payment Method');
            $('#id__2').siblings().text('Category');
            $('#id__3').siblings().text('Discount');
            $('#id__4').siblings().text('Tax');
            $('#id__5').siblings().text('Payment Type');
            $('#id__6').siblings().text('Sales Order Type');
            $('#id__7').siblings().text('Order Type');
            $('#id__8').siblings().text('Order Summary');
            $('#id__9').siblings().text('Sales Summary');
            $('#id__10').siblings().text('Total Product Report');
            $('#id__11').siblings().text('');
            $('#id__11').parent().attr('style', 'border-bottom: 0px !important');
            $('#id__12').parent().addClass('d-none').removeClass('d-flex');
      }
      function custom_report_label(){
            $('#id__1').siblings().text('Revenue');
            $('#id__2').siblings().text('Revenue Per Floor');
            $('#id__3').siblings().text('Payment');
            $('#id__4').siblings().text('Receipt Type');
            $('#id__5').siblings().text('Category');
            $('#id__6').siblings().text('Sub-Category');
            $('#id__7').siblings().text('Discount');
            $('#id__8').siblings().text('Void Item');
            $('#id__9').siblings().text('Void Receipt Type');
            $('#id__11').siblings().text('Total Product Report');
            $('#id__12').siblings().text('Finance Order Report');
            $('#id__11').parent().attr('style', 'border-bottom: 1px solid #dee2e6;');
            $('#id__12').parent().addClass('d-flex').removeClass('d-none');
            $('#id__10').siblings().text('Statistic');
      }
      function update_report_preview(value) {
        switch(value) {
          case "simple":
            $('.simple').show();
            $('.comprehensive').hide();
            $('.custom').hide();
            simple_report_label();
            $('.custom-visibility .switch').hide();
            break;
          case "comprehensive":
            $('.simple').hide();
            $('.comprehensive').show();
            $('.custom').hide();
            custom_report_label();
            $('.custom-visibility .switch').hide();
            break;
          case "custom":
            $('.simple').hide();
            $('.comprehensive').hide();
            $('.custom').show();
            custom_report_label();
            $('.custom-visibility .switch').show();
            break;
        }
      }

    function customCheckbox(checkboxName){
      var checkBox = $('.form-check input[type="'+ checkboxName +'"]');
      $(checkBox).each(function(){
          if($(this).is(':checked')){
              $(this).closest(".form-check-input").addClass("selected");
          }
      });
      $(checkBox).click(function(){
          $(this).closest(".form-check-input").toggleClass("selected");
      });
    }
    $(document).ready(function(){
      customCheckbox("checkbox");
      var salesreportsettingUrl = "{% url 'sales:settings_data' %}";

      $("#submitBtn").click(function () {
          $("#sales-report-setting-form").submit();
      });

      var paper_size = $('#id_template_preview').val();
      initial_settings(paper_size);
      $('#sales-report-setting-form').on('change','#id_report_type', function() {
         $('#show_only').val(this.value);
      });
      function initial_settings(paper_size){
        $.ajax({
          type: 'GET',
          url: salesreportsettingUrl,
          dataType: 'json',

          success:function(response){
            $('#id_template').val(response.data.report_type);
            report_type_filter(response.data.report_type);
            if (response.data.report_type == 'custom'){
              var data_list =  ['revenue', 'revenue_per_section', 'payment', 'receipt_type', 'category_parent', 'category_child', 'discount', 'void_item', 'void_receipt_type', 'statistic', 'total_product_report', 'finance_order_report'];
              for (var i = 0; i < data_list.length; i++) {
                if($('input[value="'+data_list[i]+'"]').hasClass('selected')) {
                  $(".report-"+data_list[i]).show();

                }
                else {
                  $(".report-"+data_list[i]).hide();
                }
              }
            }
          }
        });
      }

      function report_type_filter(template){
        var templates = ['simple', 'comprehensive', 'custom']
        if ( template == 'simple' ){
             simple_report_label();
             $('.custom-visibility .switch').hide();
        }
        else if ( template == 'comprehensive' ){
            custom_report_label();
            $('.custom-visibility .switch').hide();
        }
        else {
            custom_report_label();
            $('.custom-visibility .switch').show();
        }
        templates.forEach(element => {
          if(template == element){
            $('.'+element).show();
          }else{
            $('.'+element).hide();
          }
        });
      }
      report_type_filter($('#id_report_type').val());
      $('#id_report_type').on('change', function(){
        report_type_filter($(this).val());
      });

      $("input[name='report_type']").on('change', function(){
        var value = $("input[name='report_type']:checked").val();
        update_report_preview(value);
      });

      update_report_preview("simple");

      });
</script>

{% endblock %}
