{% extends "dashboard/base_datatable.html" %}
{% load static i18n humanize %}
{% load crispy_forms_tags %}



{% block reports_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_reports_show %}show{% endblock %}
{% block sales_report_active_class %}submenu-active{% endblock %}

{% block datatable_title %}
<span class="fa fa-shopping-basket"></span> {% trans "Table Report" %}
{% endblock datatable_title %}

{% block datatable_breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item active">{% trans "Table Report" %}</li>
{% endblock datatable_breadcrumb %}

{% block datatable_panel_title %}
{% trans "Table Report" %}
{% endblock datatable_panel_title %}
{% block csv_export %}
<!--a id="csvExport" target="_blank"  onclick="csv_report()" class="btn btn-primary">Export CSV</a-->

{% endblock csv_export %}


{% block date_range %}
<div class='mb-2'>
  <div class='row'>
    <div class="col text-right">
      <!--button id="pdfExport" target="_blank"  onclick="pdf_report()" class="btn btn-secondary">Export PDF</button-->
    </div>
  </div>
</div>
<div id="filters" class="mb-4">
  <div class="row align-items-center">
    <div class="col-md-2">
      <div class="selectdiv">
      <label class="d-block">
        <select id='companyBranch' class="form-control form-control-sm custom-select">
          <option data-pk=0 value="{% url 'table_management:table_report' %}">{% trans "All Branches" %}</option>
          {% if request.user.is_owner %}
            {% for outlet in request.user.account.outlet_set.all %}
              <option data-pk={{outlet.pk}} value="{% url 'table_management:table_report' outlet.pk %}">{{outlet.name}}</option>
            {% endfor %}
          {% else %}
            {% for outlet in request.user.device_user.outlet.all %}
              <option data-pk={{outlet.pk}} value="{% url 'table_management:table_report' outlet.pk %}">{{outlet.name}}</option>
            {% endfor %}
          {% endif %}
        </select>
      </label>
      </div>
    </div>
    <div id="date_filter" class="col-md-7">
      <a title='today' href="?date=today" class="{% if request.GET.date == 'today' or not request.GET.date %}active{% endif %} btn btn-outline-primary btn-lg mr-2">{% trans "Today" %}</a>
      <a title='yesterday' href="?date=yesterday" class="{% if request.GET.date == 'yesterday' %}active{% endif %} btn btn-outline-primary btn-lg mr-2">{% trans "Yesterday" %}</a>
      <a title='last_week' href="?date=last_week" class="{% if request.GET.date == 'last_week' %}active{% endif %} btn btn-outline-primary btn-lg mr-2">{% trans "Last Week" %}</a>
      <a title='last_month' href="?date=last_month" class="{% if request.GET.date == 'last_month' %}active{% endif %} btn btn-outline-primary btn-lg mr-2">{% trans "Last Month" %}</a>
      <a title='week_to_date' href="?date=week_to_date" class="{% if request.GET.date == 'week_to_date' %}active{% endif %} btn btn-outline-primary btn-lg mr-2">{% trans "Week to Date" %}</a>
      <a title='month_to_date' href="?date=month_to_date" class="{% if request.GET.date == 'month_to_date' %}active{% endif %} btn btn-outline-primary btn-lg mr-2">{% trans "Month to Date" %}</a>
      <a title='custom' id="reportrange" href="#" class="{% if request.GET.date == 'custom' %}active{% endif %} btn btn-outline-primary btn-lg">{% trans "Custom" %}</a>
    </div>
    <div class="col-md-3">
      <label class=" btn btn-primary btn-lg disabled pull-right">
        <i class="icon-calendar"></i>
        &nbsp;<span>{{ start_date|date:"d M y H:i" }} -  {{ end_date|date:"d M y H:i" }}</span>
      </label>
    </div>
  </div>
</div>

<div class="row mb-5 sales-card">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h4 class="heading-4 card-title mb-4 font-weight-thin">{% trans "Average Usage per Session" %}</h3>
        <h3 class="heading-3 card-text font-weight-thin">{{ average_usage_per_session|intcomma }} Minute(s)</h2>
        <hr/>
        <p class="heading-4 mb-0"><i class="fa {% if average_usage_per_session > average_usage_per_session_comp %}fa-caret-up{% else %}fa-caret-down{% endif %} text-success pr-2"></i> {{ average_usage_per_session_diff }}% <span class=text-muted>{% if average_usage_per_session > average_usage_per_session_comp %}{% trans "increase" %}{% else %}{% trans "decrease" %}{% endif %}</span></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h4 class="heading-4 card-title mb-4 font-weight-thin">{% trans "Total Customer Served" %}</h3>
        <h3 class="heading-3 card-text font-weight-thin">{{ total_customer_served|intcomma }}</h2>
        <hr/>
        <p class="heading-4 mb-0"><i class="fa {% if total_customer_served > total_customer_served_comp %}fa-caret-up{% else %}fa-caret-down{% endif %} text-success pr-2"></i> {{ total_customer_served_diff }}% <span class=text-muted>{% if total_customer_served > total_customer_served_comp %}{% trans "increase" %}{% else %}{% trans "decrease" %}{% endif %}</span></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h4 class="heading-4 card-title mb-4 font-weight-thin">{% trans "Average Order per Session" %}</h3>
        <h3 class="heading-3 card-text font-weight-thin">{{ average_order|intcomma }} Order(s)</h2>
        <hr/>
        <p class="heading-4 mb-0"><i class="fa {% if average_order > average_order_comp %}fa-caret-up{% else %}fa-caret-down{% endif %} text-success pr-2"></i> {{ average_order_diff }}% <span class=text-muted>{% if average_order > average_order_comp %}{% trans "increase" %}{% else %}{% trans "decrease" %}{% endif %}</span></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block sub_content %}
<div id="table-chart" class="row mb-4">
  <div class="col-md-6">
    <div class="mb-4">
      <div class="card">
        <div class="card-body">
          <h3 class="heading-3 font-weight-thin card-title mb-4">Table Area Usage</h3>
          <div id="flot-pie-donut" style="width: 100%; height: 150px"></div>
        </div>
      </div>
    </div>
    <div>
      <div class="card">
        <div class="card-body">
          <h3 class="heading-3 font-weight-thin card-title mb-4">Table Usage</h3>
          <div id="flot-pie" style="width: 100%; height: 150px"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h3 class="heading-3 font-weight-thin card-title mb-4">Table Usage by Duration</h3>
        <div id="table-usage-statistics-chart" style="width: 100%; height: 415px"></div>
      </div>
    </div>
  </div>
</div>
{% endblock sub_content %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.18/c3.min.js"></script>

<script data-chart='table_area_usage_chart'>
  var data_color = [
    "#3CE2B4", "#8473F0", "#FFD72F", "#FF8839", "#9EC5F4"
  ];
  function generate_product_sales_chart(data_product_sales) {
    var product_sales_count = data_product_sales.map(function (d) { return d[1]});
    var product_sales_sum = product_sales_count.reduce(function (a, b) { return a + b }, 0);
    var product_sales_groupers = data_product_sales.map(function (d) { return d[0]});
    var new_data_product_sales = data_product_sales.map(function (d) {
      return [d[0], Math.round(d[1]*100/product_sales_sum)]
    })

    var color_object = {};

    for (i = 0; i < data_product_sales.length; i++) {
      color_object[data_product_sales[i][0]] = data_color[i];
    }

    var product_sales_chart = c3.generate({
      bindto: "#flot-pie-donut",
      onrendered: () => {
        d3.selectAll('#flot-pie-donut .c3-text:not(.c3-empty)')[0].forEach((v, i) => {
          if (v.innerHTML !== "") {
            bar_x = d3.selectAll('.c3-bar')[0][i].getBoundingClientRect().x
            bar_width = d3.selectAll('.c3-bar')[0][i].getBoundingClientRect().width
            v.x.baseVal[0].value = v.x.baseVal[0].value - (bar_width / 2);
            v.y.baseVal[0].value = v.y.baseVal[0].value - 20;
          }
        });
      },
      data: {
        columns: new_data_product_sales,
        groups: [product_sales_groupers],
        type: 'bar',
        labels: {
          format: function (v, id, i, j) { return v + "%"; },
          position: 'inner-center',
        },
        colors: color_object,
      },
      tooltip: {
        format: {
            title: function (d) { return 'Jumlah Penggunaan'; },
            value: function (value, ratio, id) {
              value = data_product_sales[product_sales_groupers.indexOf(id)][1];
              return value;
            }
        }
      },
      axis:{
        rotated: true,
        x: {
          show: false,
        },
        y: {
          max: 83,
          show: false,
        },
      },
      bar: {
        width: 20 // this makes bar width 100px
      }
    });
  }
</script>

<script data-chart='table_usage_chart'>

  function generate_category_sales_chart(data_category_sales) {
    var sales_count = data_category_sales.map(function (d) { return d[1]});
    var sales_sum = sales_count.reduce(function (a, b) { return a + b }, 0);
    var category_sales_groupers = data_category_sales.map(function (d) { return d[0]});
    var new_data_category_sales = data_category_sales.map(function (d) {
      return [d[0], Math.round(d[1]*100/sales_sum)]
    })
    var color_object = {};

    for (i = 0; i < data_category_sales.length; i++) {
      color_object[data_category_sales[i][0]] = data_color[i];
    }

    var chart = c3.generate({
      bindto: "#flot-pie",
      onrendered: () => {
        d3.selectAll('#flot-pie .c3-text:not(.c3-empty)')[0].forEach((v, i) => {
          if (v.innerHTML !== "") {
            bar_x = d3.selectAll('.c3-bar')[0][i].getBoundingClientRect().x
            bar_width = d3.selectAll('.c3-bar')[0][i].getBoundingClientRect().width
            v.x.baseVal[0].value = v.x.baseVal[0].value - (bar_width / 2);
            v.y.baseVal[0].value = v.y.baseVal[0].value - 20;
          }
        });
      },
      data: {
        columns: new_data_category_sales,
        groups: [category_sales_groupers],
        type: 'bar',
        labels: {
          format: function (v, id, i, j) { return v + "%"; },
          position: 'inner-center',
        },
        colors: color_object,
      },
      tooltip: {
        format: {
            title: function (d) { return 'Jumlah Penggunaan'; },
            value: function (value, ratio, id) {
              value = data_category_sales[category_sales_groupers.indexOf(id)][1];
              return value;
            }
        }
      },
      axis:{
        rotated: true,
        x: {
          show: false,
        },
        y: {
          max: 83,
          show: false,
        },
      },
      bar: {
        width: 20 // this makes bar width 100px
      }
    });
  }
</script>

<script data-chart='table_usage_duration_chart'>
  function generate_product_sales_by_net_chart(data_product_net) {
    var color_object = {};

    for (i = 0; i < data_product_net.length; i++) {
      color_object[data_product_net[i][0]] = data_color[i];
    }

    var chart = c3.generate({
      bindto: "#table-usage-statistics-chart",
      data: {
        columns: data_product_net,
        type: 'bar',
        colors: color_object,
      },
      axis: {
        y:{
            tick:{
              count: 6,
              format: function(y) { return y/60; }
            }
        },
        x: {
            tick: {
              format: function (x) { return " "; }
            }
          }
      },
      bar: {
        width: {
          ratio: 0.9
        },
        space: 0.7,
      }
    });
  }
</script>

<script type="text/javascript">
 var data_table_area = [
    {% for table_area_usage in table_area_usage %}
    ["{{table_area_usage.outlet.name}}-{{table_area_usage.name}}", {{table_area_usage.table_activities}}],
    {% endfor %}
  ];
  var data_table = [
    {% for table_usage in table_usage %}
    ["{{table_usage.table_area.outlet.name}}, {{table_usage.table_area.name}} {{table_usage.name}}", {{table_usage.table_activities}}],
    {% endfor %}
  ];
  var data_table_duration = [
  {% for table_usage_duration in table_usage_duration %}
    ["{{table_usage_duration.table_area.outlet.name}}, {{table_usage_duration.table_area.name}} {{table_usage_duration.name}}", {{table_usage_duration.duration_sum.seconds}}],
  {% endfor %}
  ];

  generate_product_sales_chart(data_table_area)
  generate_category_sales_chart(data_table)
  generate_product_sales_by_net_chart(data_table_duration)
</script>
<script type="text/javascript" src="{% static 'js/moment.js' %}"></script>
<script>
  var url = window.location.origin = window.location.protocol + "//" + window.location.hostname + (window.location.port ? ':' + window.location.port : '');

  var startDate;
  var endDate;
  var dateUrlExtra = "";

  {% if start_date and end_date %}
  startDate = "{{start_date|date:'Y-n-j H:i:s'}}";
  endDate = "{{end_date|date:'Y-n-j  H:i:s'}}";
  {% endif %}

  if ( startDate != null && endDate != null) {
    dateUrlExtra = "?date={{ request.GET.date }}&startdate=" + startDate + "&enddate=" + endDate
  };

  $(document).ready(function () {
    $('#reportrange').daterangepicker({
      'ranges': {
          'Today': [moment().format('DD/MM/YYYY 00:00:00'), moment().format('DD/MM/YYYY 23:59:59')],
          'Yesterday': [moment().subtract(1, 'days').format('DD/MM/YYYY 00:00:00'), moment().subtract(1, 'days').format('DD/MM/YYYY 23:59:59')],
          'Last 7 day': [moment().subtract(6, 'days').format('DD/MM/YYYY 00:00:00'), moment().format('DD/MM/YYYY 23:59:59')],
          'Last 30 day': [moment().subtract(29, 'days').format('DD/MM/YYYY 00:00:00'), moment().format('DD/MM/YYYY 23:59:59')],
          'Month': [moment().startOf('month').format('DD/MM/YYYY 00:00:00'), moment().endOf('month').format('DD/MM/YYYY 23:59:59')],
          'Last Month': [moment().subtract(1, 'month').startOf('month').format('DD/MM/YYYY 00:00:00'), moment().subtract(1, 'month').endOf('month').format('DD/MM/YYYY 23:59:59')]
      },
      'timePicker':true,
      'timePicker24Hour': true,
      'timePickerSeconds': true,
      'timePickerIncrement':01,
      'opens': "right",
      'locale': {
           'format': 'DD/MM/YYYY HH:mm:ss',
      },
    },
    function (start, end, label) {
      var s = moment(start.toISOString());
      var e = moment(end.toISOString());
      startDate = s.format('YYYY-MM-DD HH:mm:ss');
      endDate = e.format('YYYY-MM-DD HH:mm:ss');
      $('#reportrange span').html(s.format('DD/MM/YYYY HH:mm:ss') + ' - ' + e.format('DD/MM/YYYY HH:mm:ss'));
    });

    $('#reportrange').on('cancel.daterangepicker', function (ev, picker) {
      $(this).val('');
    });

    $('#reportrange').on('apply.daterangepicker',
      function (ev, picker) {
        base_url = "{% if outlet %}{% url 'sales:sales_report' outlet.pk %}{% else %}{% url 'sales:sales_report' %}{% endif %}";
        startdate = picker.startDate.format('YYYY-MM-DD HH:mm:ss');
        enddate = picker.endDate.format('YYYY-MM-DD HH:mm:ss');

        new_url = base_url + "?date=custom&startdate=" + startdate + "&enddate=" + enddate
        window.location = new_url;
    });
    $("#companyBranch").change(function() {
      new_url = this.value + dateUrlExtra
      window.location = new_url;
    });
    $("option[data-pk='{{outlet.pk}}']").prop('selected',true);
    $("#companyBranch").attr('title', $("option[data-pk='{{outlet.pk}}']").text());
  });
</script>
{% endblock %}
