{% load i18n %}

{% load crispy_forms_field %}


<div id="div_id_{{ field.name }}" class="row mx-0" style="border-bottom: 1px solid #dee2e6;">
  <div class="col-md-4 text-left p-0">
      <label class="col-form-label pb-0 mt-3">{{ small_form.instance.stock.product }}</label>
  </div>
  <div class="col-md-4 text-center">
      <label class="col-form-label pb-0 mt-3">{{ small_form.instance.quantity}}</label>
  </div>
  <div class="col-md-4 text-right p-0">
    <div class="form-check my-0">
      <label class="py-0 my-3">
        {% crispy_field field %}
        {% include 'bootstrap4/layout/help_text_and_errors.html' %}
      </label>
    </div>
  </div>
</div>

