{% load i18n %}
{% load crispy_forms_field crispy_forms_filters %}
{% load humanize %}

<div id="div_id_{{ field.name }}" class="form-group col-lg-12 px-0 mb-3">
  <label for="{{ field.name }}" class="col-form-label requiredField">{{ field.label }}<span class="asteriskField">*</span></label>
  <div class="btn-group-toggle d-flex">
    {% for choice in field.field.choices %}
      <label for="{{ field.id_for_label}}_{{ forloop.counter0 }}" class="btn btn-outline-primary col {% if forloop.first %}mr-1{% elif forloop.last %}ml-1{% else %}mx-1{% endif %} {% if field.value == choice.0 %}active{% endif %}">
        <input type="radio" class="custom-control-input form-check-input" name="{{ field.name }}" id="{{ field.id_for_label}}_{{ forloop.counter0 }}" value="{{ choice.0 }}" {% if field.value == choice.0 %}checked=""{% endif %}>
        {{ choice.1 }}
      </label>
    {% endfor %}
    {% if form_show_errors %}
      {% if field.errors %}
      <span id="error_1_id_{{field.name}}" class="invalid-feedback">
          {% for error in field.errors %}
          <strong>{{ error }}</strong>
          {% endfor %}
      </span>
      {% endif %}
    {% endif %}
  </div>
</div>

