{% extends "base_email.html" %}
{% load i18n %}

{% block email_content %}
	<tr>
		<td valign="top" class="textContent">
			<h2 style="text-align:center;font-family:Helvetica,Arial,sans-serif;margin-bottom:0;color:#5F5F5F;line-height:135%;padding-top:1em;">3 Alasan Kenapa harus KAWN
			</h2>
		</td>
	</tr>

	<tr>
		<td valign="top" class="textContent">
			<div mc:edit="body" style="text-align:center;font-family:Helvetica,Arial,sans-serif;font-size:15px;margin-bottom:0;color:#5F5F5F;line-height:135%;padding-bottom:3em;">
				<ol>
					<li><b>Aman dengan Otorisasi Berlapis</b>: Batasi akses ke Dashboard dengan <b><i>Multi-User Authentication!</i></b></li>
					<li><b>Penyimpanan Offline</b>: tanpa koneksi internet yang stabil, transaksi tetap rapi tersimpan!</li>
					<li><b>Bebas Cemas</b>: Kelola bisnis dari mana saja dengan <b><i>Real-Time Notification!</i></b></li>
				</ol>
		</td>
	</tr>
{% endblock %}

{% block extra_table %}
	<table bgcolor="#FFFFFF"  border="0" cellpadding="0" cellspacing="0" width="500" id="emailBody">
		<tbody>
			<tr>
				<td align="center" valign="top">
				<table border="0" cellpadding="15" cellspacing="0" width="100%" style="color:#FFFFFF; margin-bottom: 20px;box-shadow: 0px 1px 8px #ddd;margin-bottom: 20px;border-radius: 6px; " bgcolor="#ffffff">
					<tr>
						<td valign="top" class="textContent">
							<h2 style="text-align:center;font-family:Helvetica,Arial,sans-serif;margin-bottom:0;color:#5F5F5F;line-height:135%;padding-top:1em;">Coba Gratis 30 Hari!
							</h2>
						</td>
					</tr>
					<tr>
						<td valign="top" class="textContent">
							<div mc:edit="body" style="text-align:center;font-family:Helvetica,Arial,sans-serif;font-size:15px;margin-bottom:0;color:#5F5F5F;line-height:135%;">
								<p>Satu klik lagi untuk mengubah bisnis Anda menjadi lebih akurat, aman, digital dan mudah!</p>
							</div>
						</td>
					</tr>
					<tr>
						<td align="center" valign="top">
							<!-- CONTENT TABLE // -->
							<table border="0" cellpadding="0" cellspacing="0" width="50%" class="emailButton" style="background-color: #EB9928;">
								<tr>
									<td align="center" valign="middle" class="buttonContent" style="padding-top:15px;padding-bottom:15px;padding-right:15px;padding-left:15px;">
										<a style="color:#FFFFFF;text-decoration:none;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:135%;" href="https://office.kawn.co.id/accounts/signup/" target="_blank">Start KAWN!</a>
									</td>
								</tr>
							</table>
							<!-- // CONTENT TABLE -->
						</td>
					</tr>
				</table>
				</td>
			</tr>
		</tbody>
	</table>
{% endblock %}