{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Account" %}{% endblock %}

{% block settings_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_settings_show %}show{% endblock %}
{% block settings_account_active_class %}submenu-active{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item">{% trans "Settings" %}</li>
  <li class="breadcrumb-item active">{% trans "Update Account" %}</li>
{% endblock breadcrumb %}

{% block sub_content %}
  <div class="container-fluid mb-3">
    <h3 class="heading-3 font-weight-thin">{% trans "Update Account" %}</h3>
  </div>
  <div class="container-fluid">
    <form action="{% url 'accounts:update' %}" class="email_list" method="post">
      {% crispy account_form %}
    </form>
  </div>
{% endblock %}
