{% extends "dashboard/base_datatable.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Kitchen Display" %}{% endblock %}

{% block applications_active_class %}active{% endblock %}
{% block mobile_applications_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_applications_show %}show{% endblock %}
{% block applications_kitchen_display_class %}submenu-active{% endblock %}
{% block mobile_applications_kitchen_display_class %}submenu-active{% endblock %}

{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block content_class %}col-12 p-0 fixed-tab-content{% endblock %}
{% block tab_div_style %}background: white; border-bottom: 1px solid #d7d7db;{% endblock %}
{% block tab_section_style %}border-bottom: 1px solid #d7d7db;{% endblock %}
{% block action_div_style %}background: white; border-top: 1px solid #d7d7db;{% endblock %}
{% block datatable_title %}{% trans "Kitchen Display" %}{% endblock datatable_title %}

{% block tab_list %}
  <ul class="nav nav-tabs pt-2" id="myTab">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'kitchen_display:settings' %}">{% trans "Settings" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'kitchen_display:settings_outlet' %}">{% trans "Outlet" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'kitchen_display:list' %}">{% trans "Kitchen Card Item" %}</a>
    </li>
  </ul>
{% endblock %}
{% block datatable_id %}tbl_product{% endblock datatable_id %}

{% block datatable_thead_tr %}
  <th>{% trans 'Product' %}</th>
  <th>{% trans 'Created At' %}</th>
  <th>{% trans 'Cooked At' %}</th>
  <th>{% trans 'Finished At' %}</th>
  <th>{% trans 'Void At' %}</th>
{% endblock datatable_thead_tr %}

{% block datatable_filter %}
<tr class='datatable-filter'>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
{% endblock datatable_filter %}

{% block javascript %}
{{ block.super }}
<script>
  $(document).ready(function () {
    base_url = "{% url 'kitchen_display:item_data' pk %}";

    tableOptions = {
      pageLength: 25,
      columnDefs: [
        {targets: 'no-sort', orderable: false},
        {targets: 'text-center',  className: 'text-center'},
      ],
    }

  });
</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>

{% endblock %}
