{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Kitchen Display" %}{% endblock %}

{% block applications_active_class %}active{% endblock %}
{% block mobile_applications_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_applications_show %}show{% endblock %}
{% block applications_kitchen_display_class %}submenu-active{% endblock %}
{% block mobile_applications_kitchen_display_class %}submenu-active{% endblock %}

{% block css %}
  {{ block.super }}
  <!-- Your stuff: Third-party css libraries go here -->
  <style>
    .switch {
      margin-top: 3px;
      position: relative;
      display: inline-block;
      width: 40px;
      height: 20px;
    }

    .switch input {display:none;}

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 12px;
      width: 12px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    .switch input:checked + .slider {
      background-color: #2196F3;
    }

    .switch input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    .switch input:checked + .slider:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
  </style>
{% endblock %}

{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block content_class %}col-lg-12 p-0 fixed-tab-content{% endblock %}
{% block tab_div_style %}background: white; border-bottom: 1px solid #d7d7db;{% endblock %}
{% block tab_section_style %}border-bottom: 1px solid #d7d7db;{% endblock %}
{% block action_div_style %}background: white; border-top: 1px solid #d7d7db;{% endblock %}
{% block content_header %}{% trans "Kitchen Display" %}{% endblock %}

{% block tab_list %}
  <ul class="nav nav-tabs pt-2" id="myTab">
    <li class="nav-item">
      <a class="nav-link active" href="#">{% trans "Settings" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'kitchen_display:settings_outlet' %}">{% trans "Outlet" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'kitchen_display:list' %}">{% trans "Kitchen Card" %}</a>
    </li>
  </ul>
{% endblock %}

{% block message %}
  {% for message in messages %}
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close p-2" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  {% endfor %}
{% endblock %}
{% block enable_settings %}
<div id="div_id_is_enabled" class="form-check col-2 mb-0 p-0" style="margin-top: -3px;"> <label class="switch">
    <input type="checkbox" name="is_enabled" id="id_is_enabled" {% if request.user.account.kitchendisplaysetting_set.first.is_enabled == True  %} checked{% endif %}>
    <span class="slider round"></span> </label>
</div>
{% endblock %}

{% block submit_form %}
    <div class="d-flex justify-content-end" id="fixed-bottom-button">
      <input type="submit" class="btn btn-primary" id="submitBtn" value="{% trans 'Save' %}"/>
    </div>
{% endblock%}

{% block sub_content %}
<div class="tab-content pt-1" id="kitchen-tab-content">
 <div class="tab-pane show active" id="kitchen" role="kitchen" aria-labelledby="kitchen-tab">
  <div class="w-100">
    <form method="post" action="." id="form-content">
      {% crispy form %}
      <div class="justify-content-end col-6 p-0" id="fixed-button-content" style="display: flex;">
        <input type="submit" class="btn btn-primary" value="{% trans 'Save' %}"/>
      </div>
    </form>
  </div>
 </div>
</div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script src="{% static '/js/button-scrollbar.js' %}"></script>
  <script>
    $(document).ready(function($){
      var setting_enable_url = "{% url 'kitchen_display:settings_enable' %}";
      var checked = $('.switch #id_is_enabled').is(':checked');
      enable_status ='{{ request.user.account.kitchendisplaysetting_set.first.is_enabled }}';

      function enable_kitchendisplaysettings(){
          $.ajax({
            type: 'POST',
            url: setting_enable_url,
            dataType: 'json',
            data: {
              is_enabled : $('.switch #id_is_enabled').is(':checked') ? true : false,
            },

            beforeSend: function(jqXHR, settings){
              jqXHR.setRequestHeader("x-csrftoken", '{{ csrf_token }}');
            },
            success: function(response){
               if (response.data == false){
                  var url = "{% url 'kitchen_display:settings_disable' %}";
                  document.location.href = url ;
               }
            }
          });
        }

        $('.switch #id_is_enabled').on('change', function(){
            enable_kitchendisplaysettings()
        });

        if (enable_status == 'False'){
            var url = "{% url 'kitchen_display:settings_disable' %}";
            document.location.href = url ;
        }

      $("#submitBtn").click(function () {
        $("#form-content").submit();
      });

    });
  </script>
{% endblock %}
