{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Digital Payment Registration" %}{% endblock %}

{% block settings_active_class %}active{% endblock %}
{% block mobile_settings_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_settings_show %}show{% endblock %}
{% block settings_digital_payment_active_class%}submenu-active{% endblock %}
{% block mobile_settings_digital_payment_active_class%}submenu-active{% endblock %}

{% block content_class %}offset-lg-2 offset-xl-2 col-lg-8 col-xl-8 pt-3 fixed-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block tab_div_style %}background: white; border-bottom: 1px solid #d7d7db;{% endblock %}
{% block tab_section_style %}border-bottom: 1px solid #d7d7db;{% endblock %}
{% block action_div_style %}background: white; border-top: 1px solid #d7d7db;{% endblock %}
{% block content_header %}{% trans "Digital Payment Registration" %}{% endblock %}

{% block message %}
  {% for message in messages %}
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close p-2" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  {% endfor %}
{% endblock %}

{% block sub_content %}
<div class="tab-content pt-5" id="digital-payment-tab-content">
  <div class="tab-pane show active" id="digital-payment" role="digital-payment" aria-labelledby="digital-payment-tab">
  <div class="w-100">
      <div class="card-body py-0 px-3">
        <div class="text-center">
          <img alt="disable" src="{% static 'images/disable_page.svg' %}" style="width: 160px">
        <div style="margin-top:32px; margin-bottom:32px;">
             <h3 class="mb-3">Fitur ini sedang tidak aktif</h3>
             <p class="text-muted text-center my-0">Anda tidak bisa menggunakan fitur ini.</p>
             <p class="text-muted text-center my-0"> untuk mengaktifkan silahkan klik button dibawah ini.</p>
        </div>
        <a class="btn btn-primary my-3" href="{% url 'digital_payment:registration-form' %}">Aktifkan Fitur</a>
        </div>
    </div>
  </div>
  </div>
</div>
{% endblock %}
