{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Update Digital Payment" %}{% endblock %}

{% block settings_active_class %}active{% endblock %}
{% block mobile_settings_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_settings_show %}show{% endblock %}
{% block settings_digital_payment_active_class%}submenu-active{% endblock %}
{% block mobile_settings_digital_payment_active_class%}submenu-active{% endblock %}

{% block css %}
{{ block.super }}
<!-- Your stuff: Third-party css libraries go here -->
{{ form.media.css }}
<style>
    .switch {
      margin-top: 3px;
      position: relative;
      display: inline-block;
      width: 40px;
      height: 20px;
    }

    .switch input {display:none;}

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 12px;
      width: 12px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    .switch input:checked + .slider {
      background-color: #2196F3;
    }

    .switch input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    .switch input:checked + .slider:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }

    div.custom-visibility :last-child {
      border-bottom: 0px !important;
    }

    div#div_id_report_type :first-child {
        margin-left: 0px !important;
      }
    div#div_id_report_type :last-child {
        margin-right: 0px !important;
    }
</style>
{% endblock %}

{% block content_class %}col-lg-12 fixed-tab-content p-0{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block tab_div_style %}background: white; border-bottom: 1px solid #d7d7db;{% endblock %}
{% block tab_section_style %}border-bottom: 1px solid #d7d7db;{% endblock %}
{% block action_div_style %}background: white; border-top: 1px solid #d7d7db;{% endblock %}
{% block content_header %}{% trans "Update Digital Payment" %}{% endblock %}

{% block tab_list %}
  <ul class="nav nav-tabs pt-2" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" href="#" >{% trans "Settings" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" >{% trans "Outlet" %}</a>
    </li>
  </ul>
{% endblock %}

{% block submit_form %}
<div id="fixed-bottom-button" class="justify-content-end d-flex">
  <input type="submit" class="btn btn-primary ml-1" id="submitBtn" value="{% trans "Update" %}"/>
</div>
{% endblock %}

{% block sub_content %}
  <div class="tab-content pt-1" id="password-tab-content">
    <div class="tab-pane show active">
      <form method="post" action="." id="form-content">
        {% crispy form %}
        <div class="justify-content-end col-6 p-0" id="fixed-button-content" style="display: flex;">
          <input type="submit" class="btn btn-primary" value="{% trans 'Save' %}"/>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  {{ form.media.js }}
{% endblock %}
