{% extends "base_email.html" %}
{% load i18n %}

{% block email_content%}

  <tr>
    <td valign="top" class="textContent">
      <div mc:edit="body" style="text-align:left;font-family:Helvetica,Arial,sans-serif;font-size:14px;margin-bottom:0;color:#5F5F5F;line-height:135%;">
        <p>{% trans "Tanggal Awal" %} : {{ start_date|date:"d/m/Y" }}</p>
        <p>{% trans "Tanggal Akhir" %} : {{ end_date|date:"d/m/Y" }}</p>
      </div>
    </td>
  </tr>
	<tr>
    <td valign="top" class="textContent">
      <div mc:edit="body" style="text-align:center;font-family:Helvetica,Arial,sans-serif;font-size:15px;margin-bottom:0;color:#5F5F5F;line-height:135%;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="emailButton">
            <tr style="background-color: #EB9928;">
              <td align="center" colspan=7 valign="middle" class="buttonContent" style="padding-top:15px;padding-bottom:15px;padding-right:15px;padding-left:15px;">
                {% trans "Report Detail" %}
              </td>
            </tr>
            <tr style="background-color: #EB9928;">
              <td align="center" valign="middle" class="buttonContent" style="padding-top:15px;padding-bottom:15px;padding-right:15px;padding-left:15px;">
                {% trans "Account Name" %}
              </td>
              <td align="center" valign="middle" class="buttonContent" style="padding-top:15px;padding-bottom:15px;padding-right:15px;padding-left:15px;">
                {% trans "Email" %}
              </td>
              <td align="center" valign="middle" class="buttonContent" style="padding-top:15px;padding-bottom:15px;padding-right:15px;padding-left:15px;">
                {% trans "Date Joined" %}
              </td>
              <td align="center" valign="middle" class="buttonContent" style="padding-top:15px;padding-bottom:15px;padding-right:15px;padding-left:15px;">
                {% trans "Expires" %}
              </td>
              <td align="center" valign="middle" class="buttonContent" style="padding-top:15px;padding-bottom:15px;padding-right:15px;padding-left:15px;">
                {% trans "Is Trial" %}
              </td>
              <td align="center" valign="middle" class="buttonContent" style="padding-top:15px;padding-bottom:15px;padding-right:15px;padding-left:15px;">
                {% trans "Is Free (KAWN lite)" %}
              </td>
              <td align="center" valign="middle" class="buttonContent" style="padding-top:15px;padding-bottom:15px;padding-right:15px;padding-left:15px;">
                {% trans "Phone Number" %}
              </td>
            </tr>
            {% for object in object_list %}
            <tr style="color:#5F5F5F">
                <td align="left" valign="middle" style="padding-top:15px;padding-bottom:15px;padding-right:15px;padding-left:15px;">
                    {{ object.account.name }}
                </td>
                <td align="right" valign="middle" style="padding-top:15px;padding-bottom:15px;padding-right:15px;padding-left:15px;">
                    {{ object.email }}
                </td>
                <td align="right" valign="middle" style="padding-top:15px;padding-bottom:15px;padding-right:15px;padding-left:15px;">
                    {{ object.date_joined }}
                </td>
                <td align="right" valign="middle" style="padding-top:15px;padding-bottom:15px;padding-right:15px;padding-left:15px;">
                    {{ object.account.outlet_set.first.subscription.expires }}
                </td>
                <td align="right" valign="middle" style="padding-top:15px;padding-bottom:15px;padding-right:15px;padding-left:15px;">
                    {{ object.account.outlet_set.first.subscription.is_trial }}
                </td>
                <td align="right" valign="middle" style="padding-top:15px;padding-bottom:15px;padding-right:15px;padding-left:15px;">
                    {{ object.account.outlet_set.first.subscription.is_free }}
                </td>
                <td align="right" valign="middle" style="padding-top:15px;padding-bottom:15px;padding-right:15px;padding-left:15px;">
                    {{ object.account.outlet_set.first.phone }}
                </td>
            </tr>
            {% endfor %}
        </table>
      </div>
    </td>
  </tr>
{% endblock %}
