{% load i18n %}

{% load crispy_forms_field %}
<div id="div_id_{{ field.name }}" class="form-group {% if form_class %}{{ form_class }}{% endif %}">
  <div class="media dash-border">
    <div class="dropzone-wrapper medium-vertical-dropzone grayscale" style="border: 0 !important;">
      <div class="dropzone-desc">
        <i class="fa fa-cloud-upload" aria-hidden="true"></i>
      </div>
      {% if form_show_errors %}
        {% if field.errors %}
          <input type="file" name="{{ field.name }}" class="dropzone form-control clearablefileinput is-invalid" id="id_{{ field.name }}" accept="image/*">
        {% else %}
          <input type="file" name="{{ field.name }}" class="dropzone form-control clearablefileinput" id="id_{{ field.name }}" accept="image/*">
        {% endif %}
      {% endif %}
    </div>
      <div class="media-body align-self-center p-3">
        <label class="col-form-label" for="{{ field.name }}">{{ field.label }}</label>
        <small class="form-text text-muted" id="hint_id_{{ field.name }}">
            <span class="upload-instruction">{{ field.help_text }}</span>
        </small>
  </div>
  </div>
  {% if field.value %}
    <div class="pt-2">
      <input type="checkbox" name="{{ field.name }}-clear" id="{{ field.name }}-clear_id">
      <label for="brand_logo-clear_id" class="text-muted">{% trans "Delete Image" %}</label>
    </div>
  {% endif %}
  {% if form_show_errors %}
    {% if field.errors %}
      <span id="error_1_id_{{field.name}}" class="invalid-feedback">
        {% for error in field.errors %}
          <strong>{{ error }}</strong>
        {% endfor %}
      </span>
    {% endif %}
  {% endif %}
</div>
