{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Account" %}{% endblock %}

{% block settings_active_class %}active{% endblock %}
{% block mobile_settings_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_settings_show %}show{% endblock %}
{% block settings_account_active_class %}submenu-active{% endblock %}
{% block mobile_settings_account_active_class %}submenu-active{% endblock %}

{% block css %}
  {{ block.super }}
  <!-- Your stuff: Third-party css libraries go here -->
  {{ form.media.css }}
{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item active">{% trans "Update Account" %}</li>
{% endblock breadcrumb %}

{% block sub_content %}
  <div class="container-fluid mb-3">
    <h3>{% trans "Update Account" %}</h3>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <form method="post" action=".">
          <div class="col-lg-12 p-0">
              {% crispy form %}
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  {{ form.media.js }}
{% endblock %}