{% load static i18n %}
{% load crispy_forms_tags %}
{% load crispy_forms_utils %}
{% load add_attribute_fields %}

{% specialspaceless %}
{% if formset_tag %}
<form {{ flat_attrs|safe }} method="{{ form_method }}" {% if formset.is_multipart %} enctype="multipart/form-data"{% endif %}>
  {% endif %}
  <div class="col-lg-12 row" id="color-status-formset">
  {% if formset_method|lower == 'post' and not disable_csrf %}
    {% csrf_token %}
  {% endif %}

  <div>
    {{ formset.management_form|crispy }}
  </div>

  {% include "bootstrap4/errors_formset.html" %}

  {% for form in formset %}
      {{ form.table_management_settings }}
      {{ form.id }}
      <div class="form-group col-lg-3 pl-0">
          <label for="{{ form.name.id_for_label }}" class="col-form-label col-lg-12 px-0">{{ form.name.label }}</label>
          {{ form.name|add_class:'form-control composite' }}
      </div>
      <div class="form-group col-lg-3 pl-0">
          <label for="{{ form.status_time.id_for_label }}" class="col-form-label col-lg-12 px-0">{{ form.status_time.label }}</label>
          <div class="col-lg-12 px-0">
            <div class="input-group">
            {{ form.status_time|add_class:'form-control numberinput form-control' }}
            <div class="input-group-append"> <span class="input-group-text">minute(s)</span>
            </div>
            </div>
          </div>

      </div>
      <div class="form-group col-lg-3 pl-0">
        <label for="{{ form.color_code.id_for_label }}" class="col-form-label col-lg-12 px-0 requiredField">{{ form.color_code.label }}</label>
        <div class="col-lg-12 px-0">
          {{ form.color_code|add_class:'colorselectwidget form-control' }}
        </div>
      </div>
      <div class="form-group col-lg-3 pl-0">
        <div id="{{ form.is_active.id_for_label }}" class="form-check mb-0 p-0" style="margin-top: 34px;">
          <label class="switch">
        {{ form.is_active|add_class:'form-check-input' }}
        <span class="slider round"></span></label>
          <label class="col-form-label">Activate</label>
      </div>
      </div>
  {% endfor %}

  {% if inputs %}
    <div class="form-actions">
      {% for input in inputs %}
        {% include "bootstrap4/layout/baseinput.html" %}
      {% endfor %}
    </div>
  {% endif %}
</div>
{% if formset_tag %}</form>{% endif %}
{% endspecialspaceless %}
