{% extends "base_email.html" %}
{% load i18n %}
{% load template_utils %}

{% block email_content %}
	<tr>
		<td valign="top" class="textContent">
			<div mc:edit="body" style="text-align:center;font-family:Helvetica,Arial,sans-serif;font-size:15px;margin-bottom:0;color:#5F5F5F;line-height:135%;padding-bottom:3em;">
            <p style="color:#5F5F5F;">Product Order List Report for <b>{{ start_date }} - {{ end_date }}</b></p>
		</td>
	</tr>
{% endblock %}
