{% extends "dashboard/base_datatable.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Surcharges" %}{% endblock %}

{% block settings_active_class %}active{% endblock %}
{% block mobile_settings_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_settings_show %}show{% endblock %}
{% block settings_surcharge_active_class %}submenu-active{% endblock %}
{% block mobile_surcharge_active_class%}submenu-active{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block tab_div_style %}background: white; border-bottom: 1px solid #e6e7e9;{% endblock %}
{% block datatable_title %}{% trans "Surcharges" %}{% endblock datatable_title %}


{% block datatable_panel_title %}
{% trans "Surcharges" %}
{% endblock datatable_panel_title %}

{% block datatable_dummy_url %}
{% endblock datatable_dummy_url %}

{% block xml_export %}
<!--a id="xmlExport" target="_blank" onclick="table.export_file('xml')" class="btn btn-success">Export
  XML</a-->
{% endblock xml_export %}

{% block csv_export %}
{% endblock csv_export %}

{% block datatable_id %}surcharge_list{% endblock datatable_id %}

{% block datatable_thead_tr %}
<th class="">{% trans "Name" %}</th>
<th class="">{% trans "Status" %}</th>
<th class="text-center no-sort">{% trans "Amount" %}</th>
<th class="text-center no-sort">{% trans "Action" %}</th>
{% endblock datatable_thead_tr %}

{% block datatable_filter %}
<tr class='datatable-filter'>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group mtm">
      <div class="selectdiv">
        <label class="input-group">
          <select class="form-control form-control-sm custom-select extra-table-control">
            <option>{% trans "All" %}</option>
            <option value='true'>{% trans "Active" %}</option>
            <option value='false'>{% trans "Inactive" %}</option>
          </select>
        </label>
      </div>
    </div>
  </td>
  <td></td>
  <td></td>
</tr>
{% endblock datatable_filter %}


{% block javascript %}
{{ block.super }}
<script>
	$(document).ready(function () {
		base_url = "{% url 'surcharges:surcharge_data' %}";
    archive_url = "{% url 'surcharges:surcharge_deactive' %}";
    activate_url = "{% url 'surcharges:surcharge_activate' %}";
    delete_url = "{% url 'surcharges:surcharge_delete' %}";
    tableOptions = {
      columnDefs: [
        {targets: 'text-center',  className: 'text-center'},
        {targets: 'no-sort', orderable: false},
        {
          'targets': [3],
          'render': function (data, type, full, meta) {
            menu_toggle = '';
            data_modal = '';
            if(!data.archived){
              menu_toggle = '<a class="dropdown-item" href="#" data-toggle="modal" data-target="#activate-'+data.id+'-Modal"> \
                              {% trans "Activate" %} \
                            </a>';

              data_modal = '<div class="modal fade" id="activate-'+data.id+'-Modal" tabindex="-1" role="dialog" aria-labelledby="activateModalLabel" aria-hidden="true"> \
                            <div class="modal-dialog" role="document"> \
                              <div class="modal-content"> \
                                <div class="modal-header"> \
                                  <h5 class="modal-title" id="activateModalLabel">Activate Promo</h5> \
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"> \
                                    <span aria-hidden="true">&times;</span> \
                                  </button> \
                                </div> \
                                <div class="modal-body"> \
                                  {% trans "Are you sure to activate" %} <b>'+data.name+'</b>?\
                                </div> \
                                <div class="modal-footer"> \
                                  <button type="button" class="btn btn-secondary btn-submit-close" data-dismiss="modal">{% trans "Close" %}</button> \
                                  <button type="button" class="btn btn-primary activate" data-id="'+data.id+'"> \
                                    <span id="activate-text">{% trans "Activate" %}</span> \
                                    <i id="activate-icon" class=""></i> \
                                  </button> \
                                </div> \
                              </div> \
                            </div> \
                          </div>';
            }else{
              menu_toggle = '<a class="dropdown-item" href="#" data-toggle="modal" data-target="#archive-'+data.id+'-Modal"> \
                              {% trans "Deactivate" %} \
                            </a>';

              data_modal = '<div class="modal fade" id="archive-'+data.id+'-Modal" tabindex="-1" role="dialog" aria-labelledby="archiveModalLabel" aria-hidden="true"> \
                              <div class="modal-dialog" role="document"> \
                                <div class="modal-content"> \
                                  <div class="modal-header"> \
                                    <h5 class="modal-title" id="archiveModalLabel">Deactivate Surcharge</h5> \
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> \
                                      <span aria-hidden="true">&times;</span> \
                                    </button> \
                                  </div> \
                                  <div class="modal-body"> \
                                      {% trans "Are you sure to deactivate" %} <b>'+data.name+'</b>?\
                                  </div> \
                                  <div class="modal-footer"> \
                                    <button type="button" class="btn btn-secondary btn-submit-close" data-dismiss="modal">{% trans "Close" %}</button> \
                                    <button type="button" class="btn btn-primary archive" data-id="'+data.id+'"> \
                                      <span id="archive-text">{% trans "Deactivate" %}</span> \
                                      <i id="archive-icon" class=""></i> \
                                    </button> \
                                  </div> \
                                </div> \
                              </div> \
                            </div>';
            }
            data = '<a class="action-toggle" id="product-'+data.id+'-dropdown" href="#" data-toggle="dropdown"> \
                      <i class="fa fa-ellipsis-h" aria-hidden="true"></i> \
                    </a>\
                    <div class="dropdown-menu action-toggle-menu" aria-labelledby="product-'+data.id+'-dropdown">\
                      <a class="dropdown-item" href="'+ data.edit +'"> \
                        Edit \
                      </a>\
                      '+menu_toggle+' \
                    </div>'+ data_modal+ '\
                    <div class="modal fade" id="delete-'+data.id+'-Modal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true"> \
                      <div class="modal-dialog" role="document"> \
                        <div class="modal-content"> \
                          <div class="modal-header"> \
                            <h5 class="modal-title" id="deleteModalLabel">Delete Surcharge</h5> \
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"> \
                              <span aria-hidden="true">&times;</span> \
                            </button> \
                          </div> \
                          <div class="modal-body"> \
                              <p>{% trans "You will permanently delete these surcharge from your KAWN channel." %}</p> \
                              <p> {% trans "Are you sure to delete" %} <b>'+data.name+'</b>?</p>\
                          </div> \
                          <div class="modal-footer"> \
                            <button type="button" class="btn btn-secondary btn-submit-close" data-dismiss="modal">{% trans "Close" %}</button> \
                            <button type="button" class="btn btn-primary delete" data-id="'+data.id+'"> \
                              <span id="delete-text">{% trans "Delete" %}</span> \
                              <i id="delete-icon" class=""></i> \
                            </button> \
                          </div> \
                        </div> \
                      </div> \
                    </div>';
            return data;
          },
        },
        {
        'targets': [2],
        'render': function (data, type, row) {
          var surcharge_type = row[4];
          if (surcharge_type == '{% trans '%' %}') {
              if (row[2]==''){
                return "0%"
              }
              else {
                return data + " %"
              }
            }
          else {
              if (row[2]==''){
                return "+IDR 0"
              }
              else {
                return "+IDR " + parseInt(data).toLocaleString('id')
              }
            }
          }
        },
        {
         'targets': [4],
         "visible": false,
         "searchable": false
         }
      ],
    }

    function tog(v){return v?'addClass':'removeClass';}
    $(document).on('input', '.clearable', function(){
        $(this)[tog(this.value)]('x');
    }).on('mousemove', '.x', function( e ){
        $(this)[tog(this.offsetWidth-18 < e.clientX-this.getBoundingClientRect().left)]('onX');
    }).on('touchstart click', '.onX', function( ev ){
        ev.preventDefault();
        $(this).removeClass('x onX').val('').change();
    });

    $(document).on('click', '.archive', function(e){
      var id = $(this).attr("data-id");
      e.preventDefault();

      $.ajax({
        type: 'POST',
          url: archive_url,
          dataType: 'json',
          data: {
            id:id
          },
          beforeSend: function(jqXHR, settings){
            jqXHR.setRequestHeader("x-csrftoken", '{{ csrf_token }}');
            $(".btn-submit-close").attr("disabled", "disabled");
            $(".archive").attr("disabled", "disabled");
            $("#archive-text").html("Loading");
            $("#archive-icon").addClass("fa fa-spinner fa-spin");
          },
          success: function(result){
            if(result.status == 'success'){
              $(".btn-submit-close").attr("disabled", "disabled");
              $(".archive").attr("disabled", "disabled");
              $("#archive-text").html("Refreshing Page");
              $("#archive-icon").addClass("fa fa-spinner fa-spin");
                setTimeout(function(){
                  window.location.href = '{% url "surcharges:surcharge_list" %}'
                }, 3000);
            }
          }
      });
    });

    $(document).on('click', '.activate', function(e){
      var id = $(this).attr("data-id");
      e.preventDefault();

      $.ajax({
        type: 'POST',
          url: activate_url,
          dataType: 'json',
          data: {
            id:id
          },
          beforeSend: function(jqXHR, settings){
            jqXHR.setRequestHeader("x-csrftoken", '{{ csrf_token }}');
            $(".btn-submit-close").attr("disabled", "disabled");
            $(".activate").attr("disabled", "disabled");
            $("#activate-text").html("Loading");
            $("#activate-icon").addClass("fa fa-spinner fa-spin");
          },
          success: function(result){
            if(result.status == 'success'){
              $(".btn-submit-close").attr("disabled", "disabled");
              $(".activate").attr("disabled", "disabled");
              $("#activate-text").html("Refreshing Page");
              $("#activate-icon").addClass("fa fa-spinner fa-spin");
                setTimeout(function(){
                  window.location.href = '{% url "surcharges:surcharge_list" %}'
                }, 3000);
            }
          }
      });
    });

  });

</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
{% endblock %}
