{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block settings_active_class %}active{% endblock %}
{% block mobile_settings_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_settings_show %}show{% endblock %}
{% block settings_surcharge_active_class %}submenu-active{% endblock %}
{% block mobile_settings_cash_balance_active_class%}submenu-active{% endblock %}

{% block title %}{% trans "Sales Order Option" %}{% endblock %}

{% block css %}
  {{ block.super }}
  {{ form.media.css }}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/multi-select/0.9.12/css/multi-select.min.css">
  <style>
    .switch {
      margin-top: 3px;
      position: relative;
      display: inline-block;
      width: 40px;
      height: 20px;
    }

    .switch input {display:none;}

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 12px;
      width: 12px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    .switch input:checked + .slider {
      background-color: #2196F3;
    }

    .switch input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    .switch input:checked + .slider:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }

    .flex-display{
      display: flex;
    }
    div#div_id_surcharge_type>.btn-outline-primary:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    div#div_id_surcharge_type>.btn-outline-primary:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .surcharge-preview p{
      font-size: 12px;
      line-height: 1.5;
    }

    #div_id_name,
    #div_id_order_option,
    #div_id_surcharge,
    #div_id_surcharge_type {
      max-width: 50%;
    }

    #div_id_is_active {
      margin: 0;
    }

    #div_id_apply_to_product .custom-control {
      margin: 0px;
    }

    #div_id_exclude_gratuity .custom-control {
      margin: 0px;
    }
    #div_id_exclude_gratuity, #div_id_apply_to_product {
      margin-bottom: 0px !important;
    }

    .surcharge-preview {
        width: 50%;
        max-height: 300px;
        background:
            linear-gradient(-135deg, #ffffff 5px, transparent 0) 0 5px,
            linear-gradient(135deg, #ffffff 5px, #f7f7f7 0) 0 5px;
        background-color: #ffffff;
        background-position: left bottom;
        background-repeat: repeat-x;
        background-size: 10px 10px;
    }

    .input-group > .form-control:not(:first-child), .input-group > .custom-select:not(:first-child) {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    .card {
      display: block;
    }
  </style>
{% endblock %}

{% block content_header %}{% trans "Update Surcharge" %}{% endblock %}
{% block content_class %}col-lg-12 px-0 fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block action_div_style %}background: white; border-top: 1px solid #d7d7db;{% endblock %}

{% block submit_form %}
      <div class="d-flex justify-content-end" id="fixed-bottom-button">
        <a href="{% url 'surcharges:surcharge_list' %}"  class="btn btn-light">{% trans "Back" %}</a>
        <input type="submit" class="btn btn-primary ml-1" id="submitBtn" value="{% trans 'Save' %}"/>
      </div>
{% endblock %}

{% block sub_content %}
  <div class="w-100 pt-1">
    <form method="post" action="." enctype='multipart/form-data' id="form-content">
      {% crispy form %}
      <div class="justify-content-end col-6 p-0" id="fixed-button-content" style="display: flex;">
        <a href="{% url 'surcharges:surcharge_list' %}"  class="btn btn-light">{% trans "Back" %}</a>
        <input type="submit" class="btn btn-primary ml-1" value="{% trans 'Save' %}"/>
      </div>
    </form>
  </div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  {{ form.media.js }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.2.6/jquery.inputmask.bundle.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.quicksearch/2.4.0/jquery.quicksearch.min.js"></script>
    <script src="{% static '/js/button-scrollbar.js' %}"></script>
    <script>
    $(document).ready(function(){
      var surcharge_type = $("input[name='surcharge_type']:checked").val();
      var type_fixed_price =  $('div#div_id_surcharge_type>.btn-outline-primary:not(:first-child)');
      var type_percentage = $('div#div_id_surcharge_type>.btn-outline-primary:not(:last-child)');
      $('#id_order_option').addClass('link-disabled');
      $('.label_order_option').html($('#id_name').val());

      $("#submitBtn").click(function () {
         $("#form-content").submit();
      });

        if($('#id_apply_to_product').is(':checked')){
            if($('#id_exclude_gratuity').is(':checked')){
               if( surcharge_type == 'percentage'){
                  surcharge_percentage_on_product_exc_grat();
               }
               else {
                  surcharge_fixed_price_on_product_exc_grat();
               }
            }
            else {
               if( surcharge_type == 'percentage'){
                  surcharge_percentage_on_product();
               }
               else {
                  surcharge_fixed_price_on_product();
               }
            }
        }else{
            if($('#id_exclude_gratuity').is(':checked')){
               if( surcharge_type == 'percentage'){

                  surcharge_percentage_exc_grat();
               }
               else {
                  console.log('hasrusnya disini');
                  surcharge_fixed_price_exc_grat();
               }
            }
            else {
               if( surcharge_type == 'percentage'){
                  surcharge_percentage();
               }
               else {
                  surcharge_fixed_price();
               }
            }
        }
      function surcharge_fixed_price(){
          var surcharge = $('#id_surcharge').val();
          var product1 = Number(10000),
              product2 = Number(10000),
              product3 = Number(10000);

          var sub_total = product1 + product2 + product3;

          var total_surcharge = Number(surcharge * 3);
          var total_after_sur = Math.round(sub_total + total_surcharge);

          var service = Math.round(total_after_sur  * (5/100));
          var total_after_serv = Math.round(total_after_sur + service);

          var tax = Math.round(total_after_serv * (10/100));
          var total = Math.round(sub_total + tax + service + total_surcharge);

          $('#sub_total').html(sub_total);
          $('#tax').html(tax);
          $('#total').html(total);
          $('#service').html(service);
          $('#surcharge').html(total_surcharge);
          $('#cash').html(total);
          $('.surcharge').show();
          $('.tax').show();
          $('.service').show();
          $('.product-1').html(product1);
          $('.product-2').html(product2);
          $('.product-3').html(product3);
      }

      function surcharge_percentage(){
          var surcharge = $('#id_surcharge').val();
          var product1 = Number(10000),
              product2 = Number(10000),
              product3 = Number(10000);

          var sub_total = product1 + product2 + product3;

          var total_surcharge = Math.round(sub_total * (surcharge/100));
          var total_after_sur = Math.round(sub_total + total_surcharge);

          var service = Math.round(total_after_sur  * (5/100));
          var total_after_serv = Math.round(total_after_sur + service);

          var tax = Math.round(total_after_serv * (10/100));
          var total = Math.round(sub_total + tax + service + total_surcharge);

          $('#sub_total').html(sub_total);
          $('#tax').html(tax);
          $('#total').html(total);
          $('#service').html(service);
          $('#surcharge').html(total_surcharge);
          $('#cash').html(total);
          $('.surcharge').show();
          $('.tax').show();
          $('.service').show();
          $('.product-1').html(product1);
          $('.product-2').html(product2);
          $('.product-3').html(product3);
      }

      function surcharge_fixed_price_on_product(){
          var surcharge = $('#id_surcharge').val();
          var product1 = Number(10000),
              product2 = Number(10000),
              product3 = Number(10000);

          var sub_total = product1 + product2 + product3;

          var total_surcharge = Number(surcharge);
          var total_after_sur = Math.round(sub_total + total_surcharge * 3);

          product1 = product1 + total_surcharge;
          product2 = product2 + total_surcharge;
          product3 = product3 + total_surcharge;
          sub_total_incl_product = product1 + product2 + product3;

          var service = Math.round(sub_total_incl_product  * (5/100));
          var total_after_serv = Math.round(total_after_sur + service);

          var tax = Math.round(total_after_serv * (10/100));
          var total = sub_total_incl_product + service + tax;

          $('#sub_total').html(sub_total_incl_product);
          $('#tax').html(tax);
          $('#total').html(total);
          $('#service').html(service);
          $('.surcharge').hide();
          $('.service').show();
          $('.tax').show();
          $('.product-1').html(product1);
          $('.product-2').html(product2);
          $('.product-3').html(product3);
      }

      function surcharge_percentage_on_product(){
          var surcharge = $('#id_surcharge').val();
          var product1 = Number(10000),
              product2 = Number(10000),
              product3 = Number(10000);

          var sub_total = product1 + product2 + product3;

          var total_surcharge = Math.round(sub_total * (surcharge/100));
          var percentage_per_product = Math.round(total_surcharge / 3);
          var total_after_sur = Math.round(sub_total + total_surcharge);

          product1 = product1 + percentage_per_product;
          product2 = product2 + percentage_per_product;
          product3 = product3 + percentage_per_product;
          sub_total_incl_product = product1 + product2 + product3;

          var service = Math.round(sub_total_incl_product  * (5/100));
          var total_after_serv = Math.round(total_after_sur + service);

          var tax = Math.round(total_after_serv * (10/100));
          var total = sub_total_incl_product + service + tax;


          $('#sub_total').html(sub_total_incl_product);
          $('#tax').html(tax);
          $('#total').html(total);
          $('#service').html(service);
          $('#surcharge').html(total_surcharge);
          $('#cash').html(sub_total_incl_product);
          $('.surcharge').hide();
          $('.service').show();
          $('.tax').show();
          $('.product-1').html(product1);
          $('.product-2').html(product2);
          $('.product-3').html(product3);
      }

      function surcharge_percentage_exc_grat(){
          var surcharge = $('#id_surcharge').val();
          var product1 = Number(10000),
              product2 = Number(10000),
              product3 = Number(10000);

          var sub_total = product1 + product2 + product3;

          var total_surcharge = Math.round(sub_total * (surcharge/100));
          var total_after_sur = Math.round(sub_total + total_surcharge);

          var tax = Math.round(total_after_sur * (10/100));
          var total = Math.round(sub_total + tax + total_surcharge);

          $('#sub_total').html(sub_total);
          $('#tax').html(tax);
          $('#total').html(total);
          $('#surcharge').html(total_surcharge);
          $('#cash').html(total);
          $('.surcharge').show();
          $('.tax').show();
          $('.service').hide();
          $('.product-1').html(product1);
          $('.product-2').html(product2);
          $('.product-3').html(product3);
      }

      function surcharge_fixed_price_exc_grat(){
          var surcharge = $('#id_surcharge').val();
          var product1 = Number(10000),
              product2 = Number(10000),
              product3 = Number(10000);

          var sub_total = product1 + product2 + product3;

          var total_surcharge = Number(surcharge * 3);
          var total_after_sur = Math.round(sub_total + total_surcharge);

          var tax = Math.round(total_after_sur * (10/100));
          var total = Math.round(sub_total + tax + total_surcharge);

          $('#sub_total').html(sub_total);
          $('#tax').html(tax);
          $('#total').html(total);
          $('#surcharge').html(total_surcharge);
          $('#cash').html(total);
          $('.surcharge').show();
          $('.tax').show();
          $('.service').hide();
          $('.product-1').html(product1);
          $('.product-2').html(product2);
          $('.product-3').html(product3);
      }

      function surcharge_fixed_price_on_product_exc_grat(){
          var surcharge = $('#id_surcharge').val();
          var product1 = Number(10000),
              product2 = Number(10000),
              product3 = Number(10000);

          var sub_total = product1 + product2 + product3;

          var total_surcharge = Number(surcharge);
          product1 = product1 + total_surcharge;
          product2 = product2 + total_surcharge;
          product3 = product3 + total_surcharge;
          sub_total_incl_product = product1 + product2 + product3;
          var total_after_sur = Math.round(sub_total + total_surcharge * 3);

          var tax = Math.round(sub_total_incl_product * (10/100));
          var total = sub_total_incl_product + tax;


          $('#sub_total').html(sub_total_incl_product);
          $('#tax').html(tax);
          $('#total').html(total);
          $('.surcharge').hide();
          $('.service').hide();
          $('.tax').show();
          $('.product-1').html(product1);
          $('.product-2').html(product2);
          $('.product-3').html(product3);
      }

      function surcharge_percentage_on_product_exc_grat(){
          var surcharge = $('#id_surcharge').val();
          var product1 = Number(10000),
              product2 = Number(10000),
              product3 = Number(10000);

          var sub_total = product1 + product2 + product3;

          var total_surcharge = Math.round(sub_total * (surcharge/100));
          var percentage_per_product = Math.round(total_surcharge / 3);
          product1 = product1 + percentage_per_product;
          product2 = product2 + percentage_per_product;
          product3 = product3 + percentage_per_product;
          sub_total_incl_product = product1 + product2 + product3;
          var total_after_sur = Math.round(sub_total + total_surcharge);

          var tax = Math.round(sub_total_incl_product * (10/100));
          var total = sub_total_incl_product + tax;


          $('#sub_total').html(sub_total_incl_product);
          $('#tax').html(tax);
          $('#total').html(total);
          $('#surcharge').html(total_surcharge);
          $('.surcharge').hide();
          $('.service').hide();
          $('.tax').show();
          $('.product-1').html(product1);
          $('.product-2').html(product2);
          $('.product-3').html(product3);
      }

      $('#id_name').on('keyup', function(){
        $('.label_order_option').html($('#id_name').val());
      });

      $(document).on('change', '#id_surcharge', function(){
        var surcharge_type = $("input[name='surcharge_type']:checked").val();
        if($('#id_apply_to_product').is(':checked')){
            if($('#id_exclude_gratuity').is(':checked')){
               if( surcharge_type == 'percentage'){
                  surcharge_percentage_on_product_exc_grat();
               }
               else {
                  surcharge_fixed_price_on_product_exc_grat();
               }
            }
            else {
               if( surcharge_type == 'percentage'){
                  surcharge_percentage_on_product();
               }
               else {
                  surcharge_fixed_price_on_product();
               }
            }
        }else{
            if($('#id_exclude_gratuity').is(':checked')){
               if( surcharge_type == 'percentage'){
                  surcharge_percentage_exc_grat();
               }
               else {
                  surcharge_fixed_price_exc_grat();
               }
            }
            else {
               if( surcharge_type == 'percentage'){
                  surcharge_percentage();
               }
               else {
                  surcharge_fixed_price();
               }
            }
        }
      });

      if(surcharge_type == 'percentage'){
        $('#id_surcharge').inputmask({
          'alias': 'decimal',
        });
        $('.input-group-prepend').hide();
        type_fixed_price.attr('style', 'border-left: 1px solid #0094C9');
        type_percentage.attr('style', 'border-right: 1px solid transparent');
      }else{
        $('#id_surcharge').attr('maxlength', 12);
          $('#id_surcharge').inputmask({
            'alias': 'numeric',
            'autoGroup': true,
            'removeMaskOnSubmit': true
          });
          $('.input-group-prepend').show();
          type_fixed_price.attr('style', 'border-left: 1px solid transparent');
          type_percentage.attr('style', 'border-right: 1px solid #0094C9');
      }

      $('.small-custom-radio').on('click change', function(){
        $('#id_surcharge').val('');
        var surcharge_type = $("input[name='surcharge_type']:checked").val();
        if( surcharge_type == 'percentage'){
          $('#id_surcharge').attr('maxlength', 5);
          $('#id_surcharge').inputmask({
            'alias': 'decimal',
          });
          $('#id_surcharge').on('change', function(){
             surcharge_percentage();
          });
          $('.input-group-prepend').show();
          type_fixed_price.attr('style', 'border-left: 1px solid #0094C9');
          type_percentage.attr('style', 'border-right: 1px solid transparent');
        }else{
          $('#id_surcharge').attr('maxlength', 12);
          $('#id_surcharge').inputmask({
            'alias': 'numeric',
            'groupSeparator': '.',
            'autoGroup': true,
            'removeMaskOnSubmit': true
          });
          $('#id_surcharge').on('change', function(){
              surcharge_fixed_price();
          });
          $('.input-group-prepend').hide();
          type_fixed_price.attr('style', 'border-left: 1px solid transparent');
          type_percentage.attr('style', 'border-right: 1px solid #0094C9');
        }
      });

      $('#id_apply_to_product').on('change', function(){
        var surcharge_type = $("input[name='surcharge_type']:checked").val();
        if($(this).is(':checked')){
            if($('#id_exclude_gratuity').is(':checked')){
               if( surcharge_type == 'percentage'){
                  surcharge_percentage_on_product_exc_grat();
               }
               else {
                  surcharge_fixed_price_on_product_exc_grat();
               }
            }
            else {
               if( surcharge_type == 'percentage'){
                  surcharge_percentage_on_product();
               }
               else {
                  surcharge_fixed_price_on_product();
               }
            }
        }else{
            if($('#id_exclude_gratuity').is(':checked')){
               if( surcharge_type == 'percentage'){
                  surcharge_percentage_exc_grat();
               }
               else {
                  surcharge_fixed_price_exc_grat();
               }
            }
            else {
               if( surcharge_type == 'percentage'){
                  surcharge_percentage();
               }
               else {
                  surcharge_fixed_price();
               }
            }
        }
      });

      $('#id_exclude_gratuity').on('change', function(){
        var surcharge_type = $("input[name='surcharge_type']:checked").val();
        if($(this).is(':checked')){
            if($('#id_apply_to_product').is(':checked')){
               if( surcharge_type == 'percentage'){
                  surcharge_percentage_on_product_exc_grat();
               }
               else {
                  surcharge_fixed_price_on_product_exc_grat();
               }
            }
            else {
               if( surcharge_type == 'percentage'){
                  surcharge_percentage_exc_grat();
               }
               else {
                  surcharge_fixed_price_exc_grat();
               }
            }
        }else{
            if($('#id_apply_to_product').is(':checked')){
               if( surcharge_type == 'percentage'){
                  surcharge_percentage_on_product();
               }
               else {
                  surcharge_fixed_price_on_product();
               }
            }
            else {
               if( surcharge_type == 'percentage'){
                  surcharge_percentage();
               }
               else {
                  surcharge_fixed_price();
               }
            }
        }
      });
    });

    function is_active(chekced){
        if(chekced){
          $('#div_id_is_active label.col-form-label').html('{% trans "Active" %}');
        }else{
          $('#div_id_is_active label.col-form-label').html('{% trans "Inactive" %}');
        }
      }
      var checked = $('.switch #id_is_active').is(':checked');
      is_active(checked);

      $(document).on('change', '.switch #id_is_active', function(){
        is_active($(this).is(':checked'));
      });

    </script>
{% endblock javascript %}
