{% load crispy_forms_filters %}
{% load l10n %}

<div class="custom-visibility{% if inline_class %}form-check{% endif %}{% if field_class %} {{ field_class }}{% endif %}"{% if flat_attrs %} {{ flat_attrs|safe }}{% endif %}>
    {% if form_show_errors and field.errors %}
      {% for error in field.errors %}
        <p id="error_{{ forloop.counter }}_{{ field.auto_id }}" class="invalid-feedback"><strong>{{ error }}</strong></p>
      {% endfor %}
    {% endif %}

    {% for choice in field.field.choices %}
        {% if not inline_class %}<div class="form-check d-flex justify-content-between my-0" style="border-bottom: 1px solid #dee2e6;">{% endif %}
        <label class="col-form-label my-3 mx-0 p-0">{{ choice.1|unlocalize }}</label>
        <label id="id_{{ field.id_for_label }}_{{ forloop.counter }}" class="switch m-3 form-check-input" for="id_{{ field.html_name }}_{{ forloop.counter }}">

          <input type="checkbox" class="form-check-input"{% if choice.0 in field.value or choice.0|stringformat:"s" in field.value or choice.0|stringformat:"s" == field.value|default_if_none:""|stringformat:"s" %} checked="checked"{% endif %} name="{{ field.html_name }}" id="id_{{ field.html_name }}_{{ forloop.counter }}" value="{{ choice.0|unlocalize }}" {{ field.field.widget.attrs|flatatt }}>
          <span class="slider round"></span>
        </label>
      {% if not inline_class %}</div>{% endif %}
    {% endfor %}

  {% if field.help_text %}
    {% if help_text_inline %}
        <span id="hint_{{ field.auto_id }}" class="text-muted">{{ field.help_text|safe }}</span>
    {% else %}
        <small id="hint_{{ field.auto_id }}" class="form-text text-muted">{{ field.help_text|safe }}</small>
    {% endif %}
  {% endif %}
</div>
