{% load i18n %}

{% load crispy_forms_field %}

<div class="form-group">
    <div id="div_id_{{ field.name }}" class="form-check d-flex justify-content-between my-0" style="border-bottom: 1px solid #dee2e6;">
        <label class="col-form-label my-3 mx-0 p-0">{{ field.label }}</label>
        <label class="switch m-3">
            {% if object.is_enabled %}
                <input type="checkbox" name="{{ field.name }}" id="id_{{ field.name }}" checked>
            {% else %}
                <input type="checkbox" name="{{ field.name }}" id="id_{{ field.name }}">
            {% endif %}
            <span class="slider round"></span>
        </label>
    </div>
</div>
