{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Table Management" %}{% endblock %}

{% block applications_active_class %}active{% endblock %}
{% block mobile_applications_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_applications_show %}show{% endblock %}
{% block applications_table_management_class %}submenu-active{% endblock %}
{% block mobile_applications_table_management_class %}submenu-active{% endblock %}

{% block css %}
  {{ block.super }}
  <!-- Your stuff: Third-party css libraries go here -->
  <style>
    .switch {
      margin-top: 3px;
      position: relative;
      display: inline-block;
      width: 40px;
      height: 20px;
    }

    .switch input {display:none;}

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 12px;
      width: 12px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    .switch input:checked + .slider {
      background-color: #2196F3;
    }

    .switch input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    .switch input:checked + .slider:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }

    div#div_id_outlet :last-child {
      border-bottom: 0px;
    }

    .card {
      display: block;
      height: fit-content;
    }

  </style>
{% endblock %}


{% block message %}
  {% for message in messages %}
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close p-2" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  {% endfor %}
{% endblock %}

{% block content_class %}col-lg-12 fixed-tab-content p-0{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block tab_div_style %}background: white; border-bottom: 1px solid #d7d7db;{% endblock %}
{% block tab_section_style %}border-bottom: 1px solid #d7d7db;{% endblock %}
{% block action_div_style %}background: white; border-top: 1px solid #d7d7db; display: none;{% endblock %}

{% block enable_settings %}
<div id="div_id_is_enabled" class="form-check col-2 mb-0 p-0" style="margin-top: -3px;"> <label class="switch">
    <input type="checkbox" name="is_enabled" id="id_is_enabled" {% if request.user.account.tablemanagementsettings_set.first.is_enabled == True  %} checked{% endif %}>
    <span class="slider round"></span> </label>
</div>
{% endblock %}

{% block tab_list %}
  <ul class="nav nav-tabs pt-2" id="myTab">
    <li class="nav-item tab-disabled">
      <a class="nav-link" href="{% url 'table_management:table_area_list' %}"
         >{% trans "Table Area" %}</a>
    </li>
    <li class="nav-item tab-disabled">
      <a class="nav-link" href="{% url 'table_management:settings' %}" >{% trans "Settings" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#" >{% trans "Outlet" %}</a>
    </li>
  </ul>
{% endblock %}

{% block content_header %}{% trans "Table Management" %}{% endblock %}
{% block submit_form %}
    <div class="d-flex justify-content-end" id="fixed-bottom-button">
      <input type="submit" class="btn btn-primary" id="submitBtn" value="{% trans 'Save' %}"/>
    </div>
{% endblock%}
{% block sub_content %}
<div class="tab-content pt-1" id="table-management-tab-content">
  <div class="tab-pane show active" id="table-management">
  <div class="w-100">
    <form method="post" action="." id="form-content">
      {% crispy form %}
      <div class="justify-content-end col-6 p-0" id="fixed-button-content" style="display: flex;">
        <input type="submit" class="btn btn-primary" value="{% trans 'Save' %}"/>
      </div>
    </form>

  </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script src="{% static '/js/button-scrollbar.js' %}"></script>
  <script>
 $(document).ready(function($){
   var setting_enable_url = "{% url 'table_management:settings_enable' %}";
   var checked = $('.switch #id_is_enabled').is(':checked');
   enable_status ='{{ request.user.account.tablemanagementsettings_set.first.is_enabled }}';

    $("#submitBtn").click(function () {
      $("#form-content").submit();
    });

      function enable_tablesettings(){
        $.ajax({
          type: 'POST',
          url: setting_enable_url,
          dataType: 'json',
          data: {
            is_enabled : $('.switch #id_is_enabled').is(':checked') ? true : false,
          },

          beforeSend: function(jqXHR, settings){
            jqXHR.setRequestHeader("x-csrftoken", '{{ csrf_token }}');
          },
          success: function(response){
              if (response.data == false){
                var url = "{% url 'table_management:settings_disable' %}";
                document.location.href = url ;
             }
          }
        });
      }

     $('.switch #id_is_enabled').on('change', function(){
        enable_tablesettings()
     });

     if (enable_status == 'False'){
        var url = "{% url 'table_management:settings_disable' %}";
        document.location.href = url ;
     }

      function show_all_outlet(input){
        if(input.hasClass('selected')){
          $('#div_id_outlet').hide();
          $('#div_id_outlet input[type="checkbox"]').prop('checked', true);
          $('#div_id_all_outlet').parent().css('border-bottom', '1px solid transparent');
          $('#div_id_all_outlet').css('margin', '0px');
        }else{
          $('#div_id_outlet').show();
          $('#div_id_all_outlet').parent().css('border-bottom', '1px solid #d7d7db');
          $('#div_id_all_outlet').css('margin-bottom', '12px');
          $('div#div_id_outlet:last-child').css('border-bottom', '0px');
        }
      }
      show_all_outlet($('.switch #id_all_outlet'));

      $('.switch #id_all_outlet').on('change', function(){
        $(this).toggleClass("selected");
        if($(this).is(':checked')){
          $('#div_id_outlet').hide();
          $('#div_id_outlet input[type="checkbox"]').prop('checked', true);
          $('#div_id_all_outlet').parent().css('border-bottom', '1px solid transparent');
          $('#div_id_all_outlet').css('margin', '0px');
        }else{
          $('#div_id_outlet').show();
          $('#div_id_outlet input[type="checkbox"]').prop('checked', false);
          $('#div_id_all_outlet').parent().css('border-bottom', '1px solid #d7d7db');
          $('#div_id_all_outlet').css('margin-bottom', '12px');
          $('div#div_id_outlet:last-child').css('border-bottom', '0px');
        }
      });

      function is_enabled(chekced, force_check_all_outlet){
        if(chekced){
          $('#id_all_outlet').removeAttr('disabled', 'disabled');
          $('input[name="outlet"]').removeAttr('disabled', 'disabled');
          if({{ request.user.account.tablemanagementoutlet_set.count|lower }} == 0){
            $('#id_all_outlet').prop('checked', false);
            $('#div_id_outlet').show();
            $('#div_id_outlet input[type="checkbox"]').prop('checked', false);
          }
          else if(force_check_all_outlet){
            $('#id_all_outlet').prop('checked', force_check_all_outlet).change();
          }
          else{
            $('#id_all_outlet').prop('checked', force_check_all_outlet);
          }
        }else{
          $('#id_all_outlet').attr('disabled', 'disabled');
          $('input[name="outlet"]').attr('disabled', 'disabled');
          $('#id_all_outlet').prop('checked', false);
          $('#div_id_outlet').hide();
          $('#div_id_outlet input[type="checkbox"]').prop('checked', false);
        }
      }

      is_enabled(checked, {{ form.all_outlet.initial|lower}});


   });
</script>
{% endblock %}
