{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Table Management" %}{% endblock %}

{% block applications_active_class %}active{% endblock %}
{% block mobile_applications_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_applications_show %}show{% endblock %}
{% block applications_table_management_class %}submenu-active{% endblock %}
{% block mobile_applications_table_management_class %}submenu-active{% endblock %}

{% block css %}
  {{ block.super }}
  <!-- Your stuff: Third-party css libraries go here -->
  <link type="text/css" rel="stylesheet" href="{% static 'css/palette-color-picker.css' %}">
  <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap-colorselector.min.css' %}">

  <style>
    .switch {
      margin-top: 3px;
      position: relative;
      display: inline-block;
      width: 40px;
      height: 20px;
    }

    .switch input {display:none;}

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 12px;
      width: 12px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    .switch input:checked + .slider {
      background-color: #2196F3;
    }

    .switch input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    .switch input:checked + .slider:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }

    .dropdown-caret.show {
      top: -3px !important;
    }

    .dropdown-caret li:first-child a:before {
        position: absolute;
        content: '';
        display: block;
        top: -1px;
        left: 0;
        width: 25px;
        height: 2px;
        background-color: #e00;
        transform-origin: 0 0;
        transform: rotate(45deg);
    }

    .color-form {
      width: 100px;
    }

    #div_id_display_color_status .custom-control {
      border-bottom: 1px solid #d7d7db;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    #div_id_display_color_status .custom-control-label {
      margin-bottom: 16px !important;
    }
    #display-time-table {
      width: 125px;
    }

    #display-time-table .card-title{
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .zoom-out {
      -moz-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      -moz-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    .zoom-in {
      -moz-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      -moz-transform: scale(0);
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    p.card-text {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }



  </style>
{% endblock %}


{% block message %}
  {% for message in messages %}
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close p-2" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  {% endfor %}
{% endblock %}

{% block content_class %}col-lg-12 fixed-tab-content p-0{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block tab_div_style %}background: white; border-bottom: 1px solid #d7d7db;{% endblock %}
{% block tab_section_style %}border-bottom: 1px solid #d7d7db;{% endblock %}
{% block action_div_style %}background: white; border-top: 1px solid #d7d7db;{% endblock %}

{% block enable_settings %}
<div id="div_id_is_enabled" class="form-check col-2 mb-0 p-0" style="margin-top: -3px;"> <label class="switch">
    <input type="checkbox" name="is_enabled" id="id_is_enabled" {% if request.user.account.tablemanagementsettings_set.first.is_enabled == True  %} checked{% endif %}>
    <span class="slider round"></span> </label>
</div>
{% endblock %}

{% block tab_list %}
  <ul class="nav nav-tabs pt-2" id="myTab">
    <li class="nav-item tab-disabled" id="table-management-area">
      <a class="nav-link" href="{% url 'table_management:table_area_list' %}"
         >{% trans "Table Area" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#" >{% trans "Settings" %}</a>
    </li>
    <li class="nav-item tab-disabled">
      <a class="nav-link" href="{% url 'table_management:settings_outlet' %}" >{% trans "Outlet" %}</a>
    </li>
  </ul>
{% endblock %}

{% block content_header %}{% trans "Table Management" %}{% endblock %}
{% block submit_form %}
    <div class="d-flex justify-content-end" id="fixed-bottom-button">
      <input type="submit" class="btn btn-primary" id="submitBtn" value="{% trans 'Save' %}"/>
    </div>
{% endblock%}
{% block sub_content %}
<div class="tab-content pt-1" id="table-management-tab-content">
  <div class="tab-pane show active" id="table-management">
  <div class="w-100">
    <form method="post" action="." id="form-content">
      {% crispy form %}
    <div class="justify-content-end col-6 p-0" id="fixed-button-content" style="display: flex;">
        <input type="submit" class="btn btn-primary" value="{% trans 'Save' %}"/>
    </div>
    </form>
  </div>
  </div>
</div>

{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script src="{% static '/js/palette-color-picker.min.js' %}"></script>
  <script src="{% static '/js/bootstrap-colorselector.min.js' %}"></script>
  <script src="{% static '/js/button-scrollbar.js' %}"></script>
  <script>
    function customCheckbox(checkboxName){
    var checkBox = $('#color-status-formset input[type="'+ checkboxName +'"]');
    $(checkBox).each(function(){
        if($(this).is(':checked')){
            $(this).closest(".form-check-input").addClass("selected");
        }
    });
    $(checkBox).click(function(){
        $(this).closest(".form-check-input").toggleClass("selected");
    });
    }
    $(document).ready(function($){
      customCheckbox("checkbox");
      var setting_enable_url = "{% url 'table_management:settings_enable' %}";
      var checked = $('.switch #id_is_enabled').is(':checked');
      enable_status ='{{ request.user.account.tablemanagementsettings_set.first.is_enabled }}';
      var data = ["0","1","2","3"],
       fixed_color_data = ["0","1"];

        $("#submitBtn").click(function () {
          $("#form-content").submit();
        });

      function enable_tablesettings(){
        $.ajax({
          type: 'POST',
          url: setting_enable_url,
          dataType: 'json',
          data: {
            is_enabled : $('.switch #id_is_enabled').is(':checked') ? true : false,
          },

          beforeSend: function(jqXHR, settings){
            jqXHR.setRequestHeader("x-csrftoken", '{{ csrf_token }}');
          },
          success: function(response){
             if (response.data == false){
                var url = "{% url 'table_management:settings_disable' %}";
                document.location.href = url ;
             }
          }
        });
      }

       $('.switch #id_is_enabled').on('change', function(){
          enable_tablesettings()
       });

       if (enable_status == 'False'){
          var url = "{% url 'table_management:settings_disable' %}";
          document.location.href = url ;
        }

      function display_status_time(input){
        if(input.is(':checked')){
          $('#display-time-table .card-text').html('01:42:59');
        }else{
          $('#display-time-table .card-text').html('');
        }
      }

      display_status_time($('#id_display_color_status'));

      $('#id_display_color_status').on('change', function(){
        if($(this).is(':checked')){
          $('#display-time-table .card-text').html('01:42:59');
        }else{
          $('#display-time-table .card-text').html('');
        }
      });


      function show_all_outlet(input){
        if(input.is(':checked')){
          $('#div_id_outlet').hide();
          $('#div_id_outlet input[type="checkbox"]').prop('checked', true);
        }else{
          $('#div_id_outlet').show();
        }
      }
      show_all_outlet($('#id_all_outlet'));

      $('#id_all_outlet').on('change', function(){
        if($(this).is(':checked')){
          $('#div_id_outlet').hide();
          $('#div_id_outlet input[type="checkbox"]').prop('checked', true);
        }else{
          $('#div_id_outlet').show();
          $('#div_id_outlet input[type="checkbox"]').prop('checked', false);
        }
      });

      function color_code_fill_mode(i, color){
            $('#color-stat-table-'+i).css('background-color', color);
            $('#color-stat-table-'+i).css('color', '#fff');
            $('#color-stat-table-'+i).css('border-bottom', '1px solid #d7d7db');
      }

      function fixed_color_fill_mode(i, color){
            $('#display-table-'+i).css('color', '#fff');
            $('#display-table-'+i).css('background-color', color);
            $('#display-table-'+i).css('border-bottom', '1px solid #d7d7db');
      }

      function white_color_code_unfill_mode(i){
            $('#color-stat-table-'+i).css('background-color', '#fff');
            $('#color-stat-table-'+i).css('color', '#000');
            $('#color-stat-table-'+i).css('border-bottom', '1px solid #d7d7db');
      }

      function color_code_unfill_mode(i, color){
            $('#color-stat-table-'+i).css('background-color', '#fff');
            $('#color-stat-table-'+i).css('color', '#000');
            $('#color-stat-table-'+i).css('border-bottom', '5px solid '+ color );
      }

      function white_fixed_color_unfill_mode(i){
            $('#display-table-'+i).css('background-color', '#fff');
            $('#display-table-'+i).css('color', '#000');
            $('#display-table-'+i).css('border-bottom', '1px solid #d7d7db');
      }

      function fixed_color_unfill_mode(i, color){
            $('#display-table-'+i).css('background-color', '#fff');
            $('#display-table-'+i).css('color', '#000');
            $('#display-table-'+i).css('border-bottom', '5px solid '+ color );
      }

      function bright_color_fill_mode(i, color){
            $('#color-stat-table-'+i).css('background-color', color );
            $('#color-stat-table-'+i).css('color', '#000');
            $('#color-stat-table-'+i).css('border-bottom', '1px solid #d7d7db');
      }

      function bright_fixed_color_fill_mode(i, color){
            $('#display-table-'+i).css('color', '#000');
            $('#display-table-'+i).css('background-color', color);
            $('#display-table-'+i).css('border-bottom', '1px solid #d7d7db');
      }

      function disable_color_code(i){
          $('#color-stat-table-'+i).css('background-color', '#fff');
          $('#color-stat-table-'+i).css('color', '#fff');
          $('#color-stat-table-'+i).css('border-bottom', '1px solid #d7d7db');
      }

      function color_status_enable(i){
          $('#colorstatus_set-'+i+'-color_code').parent().removeClass('link-disabled');
          $('input[id="id_colorstatus_set-'+i+'-status_time"]').removeAttr('readonly', 'readonly');
          $('input[id="id_colorstatus_set-'+i+'-name"]').removeAttr('readonly', 'readonly');
      }

      function color_status_disable(i){
          $('#colorstatus_set-'+i+'-color_code').parent().addClass('link-disabled');
          $('input[id="id_colorstatus_set-'+i+'-status_time"]').attr('readonly', 'readonly');
          $('input[id="id_colorstatus_set-'+i+'-name"]').attr('readonly', 'readonly');
      }

      function show_display_table(input){
        if(input.is(':checked')){
          for (var i = 0; i < data.length; i++) {
            var color_code = $('select[name=colorstatus_set-'+i+'-color_code]').val();
            if ( color_code == '#ffffff' || color_code == '#f5ce33' ) {
                bright_color_fill_mode(i, color_code);
            }
            else {
               color_code_fill_mode(i, color_code);
            }
          }
          for (var i = 0; i < fixed_color_data.length; i++) {
            var color_code = $('select[name=fixed-'+i+'-color_code]').val();
            if ( color_code == '#ffffff' || color_code == '#f5ce33') {
                bright_fixed_color_fill_mode(i, color_code);
            }
            else {
                fixed_color_fill_mode(i, color_code);
            }
          }
        }else{
          for (var i = 0; i < data.length; i++) {
            var color_code = $('select[name=colorstatus_set-'+i+'-color_code]').val();
            if ( color_code == '#ffffff' || color_code == '' ) {
              white_color_code_unfill_mode(i);
            }
            else {
              color_code_unfill_mode(i, color_code);
            }
          }
          for (var i = 0; i < fixed_color_data.length; i++) {
            var color_code = $('select[name=fixed-'+i+'-color_code]').val();
            if ( color_code == '#ffffff' ) {
                white_fixed_color_unfill_mode(i);
            }
            else {
                fixed_color_unfill_mode(i, color_code);
            }
          }
        }
      }

      show_display_table($('#id_fill_mode'));

      $('#id_fill_mode').on('change', function(){
        if($(this).is(':checked')){
          for (var i = 0; i < data.length; i++) {
            var color_code = $('select[name=colorstatus_set-'+i+'-color_code]').val();
            if ( color_code == '#ffffff' || color_code == '#f5ce33' ) {
                   bright_color_fill_mode(i, color_code);
            }
            else {
                   color_code_fill_mode(i, color_code);
            }
          }
          for (var i = 0; i < fixed_color_data.length; i++) {
            var color_code = $('select[name=fixed-'+i+'-color_code]').val();
            if ( color_code == '#ffffff' || color_code == '#f5ce33') {
                bright_fixed_color_fill_mode(i, color_code);
            }
            else {
                fixed_color_fill_mode(i, color_code);
            }
          }
        }else{
          for (var i = 0; i < data.length; i++) {
            var color_code = $('select[name=colorstatus_set-'+i+'-color_code]').val();
            if ( color_code == '#ffffff' || color_code == '' ) {
                  white_color_code_unfill_mode(i);
            }
            else {
                color_code_unfill_mode(i, color_code);
            }
          }
          for (var i = 0; i < fixed_color_data.length; i++) {
            var color_code = $('select[name=fixed-'+i+'-color_code]').val();
            if ( color_code == '#ffffff' || color_code == '' ) {
                white_fixed_color_unfill_mode(i);
            }
            else {
               fixed_color_unfill_mode(i, color_code);
            }
          }
        }
      });

      function is_enabled(chekced, force_check_all_outlet){
        if(chekced){
          $('#id_prefix').removeAttr('disabled', 'disabled');
          $('#id_seat_management').removeAttr('disabled', 'disabled');
          $('#id_display_color_status').removeAttr('disabled', 'disabled');
          $('#id_all_outlet').removeAttr('disabled', 'disabled');
          $('input[name="outlet"]').removeAttr('disabled', 'disabled');
          if(force_check_all_outlet){
            $('#id_all_outlet').prop('checked', force_check_all_outlet).change();
          }else{
            $('#id_all_outlet').prop('checked', force_check_all_outlet);
          }
        }else{
          $('#id_prefix').attr('disabled', 'disabled');
          $('#id_seat_management').attr('disabled', 'disabled');
          $('#id_display_color_status').attr('disabled', 'disabled');
          $('#id_seat_management').prop('checked', false);


          $('#id_all_outlet').attr('disabled', 'disabled');
          $('input[name="outlet"]').attr('disabled', 'disabled');
          $('#id_all_outlet').prop('checked', false);
          $('#div_id_outlet').hide();
          $('#div_id_outlet input[type="checkbox"]').prop('checked', false);
        }
      }

      is_enabled(checked, {{ form.all_outlet.initial|lower}});

      $(document).on('change', '.switch #id_is_enabled', function(){
        is_enabled($(this).is(':checked'), true);
      });

      var fixed0color = $('#fixed-0-color_code option:selected').text(),
          fixed1color = $('#fixed-1-color_code option:selected').text(),
          colorstatus0 = $('#colorstatus_set-0-color_code option:selected').text(),
          colorstatus1 = $('#colorstatus_set-1-color_code option:selected').text(),
          colorstatus2 = $('#colorstatus_set-2-color_code option:selected').text(),
          colorstatus3 = $('#colorstatus_set-3-color_code option:selected').text();

      $("#fixed-0-color_code-title").html(fixed0color);
      $("#fixed-1-color_code-title").html(fixed1color);
      $('#colorstatus_set-0-color_code-title').html(colorstatus0);
      $('#colorstatus_set-1-color_code-title').html(colorstatus1);
      $('#colorstatus_set-2-color_code-title').html(colorstatus2);
      $('#colorstatus_set-3-color_code-title').html(colorstatus3);

      for (var i = 0; i < data.length; i++) {
        var status_name = $('input[name=colorstatus_set-'+i+'-name]').val();
        var color_code = $('select[name=colorstatus_set-'+i+'-color_code]').val();
        $('#color-stat-table-'+i+' .card-text').html(status_name);
        color_activate_enable(data[i]);
        color_status_on_change(data[i]);
        color_status_on_keyup(data[i]);
        if($('input[id="id_colorstatus_set-'+data[i]+'-is_active"]').hasClass('selected')){
            color_status_enable(data[i]);
        }
        else {
          $('#color-stat-table-'+i).removeClass('zoom-out');
          $('#color-stat-table-'+i).addClass('zoom-in').hide();
          $('#color-stat-table-'+i).css('border-bottom', '1px solid #d7d7db');
          color_status_disable(data[i]);
        }
      }

      for (var i = 0; i < fixed_color_data.length; i++) {
        color_fixed_on_change(data[i]);
      }

    function color_activate_enable(i){
       $('input[id="id_colorstatus_set-'+i+'-is_active"]').on('change', function(){
       var color_code = $('select[name=colorstatus_set-'+i+'-color_code]').val();
        if($(this).is(':checked')){
          var fill_mode = $('#id_fill_mode').is(':checked');
          $('#color-stat-table-'+i).addClass('zoom-out').fadeIn();
          $('#color-stat-table-'+i).removeClass('zoom-in');
          if (fill_mode){
              if ( color_code == '#ffffff' || color_code == '#f5ce33' ) {
                     bright_color_fill_mode(i, color_code);
              }
              else {
                     color_code_fill_mode(i, color_code);
              }
          }
          else {
              if ( color_code == '' || color_code == '#ffffff'){
                $('#color-stat-table-'+i).css('background-color', '#fff');
                $('#color-stat-table-'+i).css('color', '#000');
                $('#color-stat-table-'+i).css('border-bottom', '1px solid #d7d7db');
              }
              else {
                $('#color-stat-table-'+i).css('background-color', '#fff');
                $('#color-stat-table-'+i).css('color', '#000');
                $('#color-stat-table-'+i).css('border-bottom', '5px solid'+ color_code);
              }
          }
          color_status_enable(data[i]);
        }
        else {
          $('#color-stat-table-'+i).removeClass('zoom-out').fadeOut();
          $('#color-stat-table-'+i).addClass('zoom-in');
          $('#color-stat-table-'+i).css('border-bottom', '1px solid #d7d7db');
          color_status_disable(data[i]);
        }
       });
    }

    function color_fixed_on_change(i){
        $('select[name=fixed-'+i+'-color_code]').change(function() {
        var color_code = $(this).val();
        var fill_mode = $('#id_fill_mode').is(':checked');
        if (fill_mode){
            if ( color_code == '#ffffff' || color_code == '#f5ce33') {
                 bright_fixed_color_fill_mode(i, color_code);
              }
            else {
                  fixed_color_fill_mode(i, color_code);
            }
        }else {
            if ( color_code == '#ffffff') {
                  white_fixed_color_unfill_mode(i);
            }
            else {
                  fixed_color_unfill_mode(i, color_code);
            }
        }
      });
    }

    function color_status_on_change(i){
        $('select[name=colorstatus_set-'+i+'-color_code]').change(function() {
        var color_code = $(this).val();
        var fill_mode = $('#id_fill_mode').is(':checked');
        if (fill_mode){
            if ( color_code == '#ffffff' || color_code == '#f5ce33' ) {
                 bright_color_fill_mode(i, color_code);
              }
            else {
                color_code_fill_mode(i, color_code);
            }
        }else {
            if ( color_code == '#ffffff') {
                  white_color_code_unfill_mode(i);
            }
            else {
                  color_code_unfill_mode(i, color_code);
            }
        }
      });
    }

    function color_status_on_keyup(i){
        $('input[name=colorstatus_set-'+i+'-name]').on('keyup', function() {
        if($(this).val() == ''){
          $('#color-stat-table-'+i+' .card-text').html('');
        }else{
          $('#color-stat-table-'+i+' .card-text').html(escape($(this).val()));
        }
      });
    }
   $('#display-time-table .card-title span').html(escape($('input[name=prefix]').val()));

   $('input[name=prefix]').on('keyup', function() {
      if($(this).val() == ''){
        $('#display-time-table .card-title span').html('');
      }else{
        $('#display-time-table .card-title span').html(escape($(this).val()));
      }
   });
  });
  </script>
  <script>
      $(function() {
        window.prettyPrint && prettyPrint();

        $('#fixed-0-color_code').colorselector({
          callback : function(value, color, title) {
            $("#fixed-0-color_code-title").html(title);
          }
        });

        $('#fixed-1-color_code').colorselector({
          callback : function(value, color, title) {
            $("#fixed-1-color_code-title").html(title);
          }
        });

        $('#colorstatus_set-0-color_code').colorselector({
          callback : function(value, color, title) {
            $("#colorstatus_set-0-color_code-title").html(title);
          }
        });

        $('#colorstatus_set-1-color_code').colorselector({
          callback : function(value, color, title) {
            $("#colorstatus_set-1-color_code-title").html(title);
          }
        });

        $('#colorstatus_set-2-color_code').colorselector({
          callback : function(value, color, title) {
            $("#colorstatus_set-2-color_code-title").html(title);
          }
        });

        $('#colorstatus_set-3-color_code').colorselector({
          callback : function(value, color, title) {
            $("#colorstatus_set-3-color_code-title").html(title);
          }
        });
      });
    </script>
{% endblock %}
