{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Table Management" %}{% endblock %}

{% block css %}
  {{ block.super }}
  <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
  <link href="{% static 'css/table_management.css' %}" rel="stylesheet">

{% endblock %}

{% block applications_active_class %}active{% endblock %}
{% block mobile_applications_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_applications_show %}show{% endblock %}
{% block applications_table_management_class %}submenu-active{% endblock %}
{% block mobile_applications_table_management_class %}submenu-active{% endblock %}
{% block content_header %}{% trans "Table Management" %}{% endblock %}


{% block content_class %}offset-lg-2 offset-xl-2 col-lg-8 col-xl-8 pt-3{% endblock %}
{% block tab_div_style %}background: white; border-bottom: 1px solid #d7d7db;{% endblock %}
{% block tab_section_style %}border-bottom: 1px solid #d7d7db;{% endblock %}
{% block breadcrumb_active %}breadcrumb-item active{% endblock %}
{% block tab_list %}
  <ul class="nav nav-tabs pt-2" id="myTab">
    <li class="nav-item" id="table-management-area">
      <a class="nav-link active" id="table-management-tab" data-toggle="tab" href="#table-management"
         >{% trans "Table Area" %}</a>
    </li>
    <li class="nav-item tab-disabled">
      <a class="nav-link" href="{% url 'table_management:settings' %}" >{% trans "Settings" %}</a>
    </li>
    <li class="nav-item tab-disabled">
      <a class="nav-link" href="{% url 'table_management:settings_outlet' %}  " >{% trans "Outlet" %}</a>
    </li>
  </ul>
{% endblock %}

{% block content %}
<div class="content not-hidden">
  {% csrf_token %}
  <section id="main" data-prefix="{{ request.user.account.tablemanagementsettings_set.first.prefix }}" data-mode={% if DEBUG %}dev{% else %}prod{% endif %} {% if object.pk %}data-ta-id="{{object.pk}}"{% endif %}>
  </section>
</div>
{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
  <script src="{% static 'd3-floorplan/src/public/js/bundle.js' %}"></script>
{% endblock %}
