{% extends "dashboard/base_datatable.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Table Management" %}{% endblock %}

{% block applications_active_class %}active{% endblock %}
{% block mobile_applications_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_applications_show %}show{% endblock %}
{% block applications_table_management_class %}submenu-active{% endblock %}
{% block mobile_applications_table_management_class %}submenu-active{% endblock %}

{% block content_class %}fixed-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block tab_div_style %}background: white; border-bottom: 1px solid #d7d7db;{% endblock %}
{% block tab_section_style %}border-bottom: 1px solid #d7d7db;{% endblock %}
{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important; width:87%;{% endblock %}
{% block datatable_title %}{% trans "Table Management" %}{% endblock %}

{% block css %}
  {{ block.super }}
  <style>
    .switch {
      margin-top: 3px;
      position: relative;
      display: inline-block;
      width: 40px;
      height: 20px;
    }

    .switch input {display:none;}

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 12px;
      width: 12px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    .switch input:checked + .slider {
      background-color: #2196F3;
    }

    .switch input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    .switch input:checked + .slider:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
  </style>
{% endblock %}


{% block enable_settings %}
<div id="div_id_is_enabled" class="form-check d-flex m-0 p-0"> <label class="switch mt-2">
    <input type="checkbox" name="is_enabled" id="id_is_enabled" {% if request.user.account.tablemanagementsettings_set.first.is_enabled == True  %} checked{% endif %}>
    <span class="slider round"></span></label>
</div>
{% endblock %}

{% block tab_list %}
  <ul class="nav nav-tabs pt-2" id="myTab" role="tablist">
    <li class="nav-item" id="table-management-area">
      <a class="nav-link active" id="table-management-tab" data-toggle="tab" href="#table-management"
         >{% trans "Table Area" %}</a>
    </li>
    <li class="nav-item tab-disabled">
      <a class="nav-link" href="{% url 'table_management:settings' %}" >{% trans "Settings" %}</a>
    </li>
    <li class="nav-item tab-disabled">
      <a class="nav-link" href="{% url 'table_management:settings_outlet' %}  " >{% trans "Outlet" %}</a>
    </li>
  </ul>
{% endblock %}

{% block datatable_panel_title %}
{% trans "Table Area" %}
{% endblock datatable_panel_title %}

{% block action_button %}
<div class="p-0 position-fixed" style="right:20px;">
  <a href="{% url 'table_management:table_area_create' %}" class="btn btn-primary btn-lg fixed-top-content" id="create-button">{% trans "Create Table Area" %}</a>
</div>
{% endblock action_button %}

{% block datatable_id %}table_area_list{% endblock datatable_id %}

{% block datatable_thead_tr %}
<th>{% trans "Name" %}</th>
<th class="">{% trans "Outlet" %}</th>
<th class="">{% trans "Status" %}</th>
<th class="text-right">{% trans "Table Count" %}</th>
<th class="no-sort">{% trans "Actions" %}</th>
{% endblock datatable_thead_tr %}

{% block datatable_filter %}
<tr class='datatable-filter'>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group mtm">
      <div class="selectdiv">
      <label class="input-group">
      <select class="form-control form-control-sm custom-select extra-table-control">
        <option>{% trans "All" %}</option>
        {% if request.user.is_owner %}
          {% for outlet in request.user.account.outlet_set.all %}
            <option value={{outlet.name}}>{{outlet.name|upper}}</option>
          {% endfor %}
        {% else %}
          {% for outlet in request.user.device_user.outlet.all %}
            <option value={{outlet.name}}>{{outlet.name|upper}}</option>
          {% endfor %}
        {% endif %}
      </select>
      </label>
      </div>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group mtm">
      <div class="selectdiv">
      <label class="input-group">
      <select class="form-control form-control-sm custom-select extra-table-control">
        <option>{% trans "All" %}</option>
        <option value='true'>{% trans "Active" %}</option>
        <option value='false'>{% trans "Inactive" %}</option>
      </select>
      </label>
      </div>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td></td>
</tr>
{% endblock datatable_filter %}


{% block javascript %}
{{ block.super }}
<script>
  $(document).ready(function () {
    var setting_enable_url = "{% url 'table_management:settings_enable' %}";
    var checked = $('.switch #id_is_enabled').is(':checked');
    enable_status ='{{ request.user.account.tablemanagementsettings_set.first.is_enabled }}';

    function enable_tablesettings(){
        $.ajax({
          type: 'POST',
          url: setting_enable_url,
          dataType: 'json',
          data: {
            is_enabled : $('.switch #id_is_enabled').is(':checked') ? 'true' : 'false',
          },

          beforeSend: function(jqXHR, settings){
            jqXHR.setRequestHeader("x-csrftoken", '{{ csrf_token }}');
          },
          success: function(response){
             if (response.data == false){
                var url = "{% url 'table_management:settings_disable' %}";
                document.location.href = url ;
             }
          }
        });
      }

    $('.switch #id_is_enabled').on('change', function(){
      enable_tablesettings()
    });

    base_url = "{% url 'table_management:data_table_area' %}"
    tableOptions = {
      pageLength: 25,
      columnDefs: [
        {targets: 'no-sort', orderable: false},
        {
          targets: 'text-right',  className: 'text-right',
          render: function (data, type, full, meta) {
            return parseInt(data).toLocaleString('id')
          },
        },
        {
          'targets': [4],
          'render': function (data, type, full, meta) {
            data = '<a class="action-toggle" id="product-'+data.id+'-dropdown" href="#" data-toggle="dropdown"> \
                      <i class="fa fa-ellipsis-h" aria-hidden="true"></i> \
                    </a>\
                    <div class="dropdown-menu action-toggle-menu" aria-labelledby="product-'+data.id+'-dropdown">\
                      <a class="dropdown-item" href="'+ data.edit +'"> \
                        Edit \
                      </a>\
                      <a class="dropdown-item" href="'+ data.remove +'"> \
                        Delete \
                      </a>\
                    <div>';
            return data;
          },
        },
      ],
    }
    
  });
</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
{% endblock %}
