{% load static i18n humanize %}
{% load template_utils %}

<!doctype html>
<html>
  <head>
    <title>Inventory Report</title>
    <style>
      @charset "UTF-8";
      @import url("https://fonts.googleapis.com/css?family=Pacifico|Source+Sans+Pro:400,700");
      @page {
        size: letter landscape;
        margin: 3cm 0.5cm 1.5cm 0.5cm;
        counter-increment: page;
        @bottom-right {
            content: counter(page);
            white-space: pre;
            color: #333;
            font-size: 11px;
        }
        @top-center {
          content: element(pageHeader);
          width: 100%;
        }
      }
    </style>
    <style>
      @media print {
          header{
            position: running(pageHeader);
          }
      }
      body{
        background-color: #ffffff;
        
      }
      p{
        font-size: 12px;
        margin-top:0px;
        padding-top: 0px;
        margin-bottom: 0;
        padding-bottom: 0;
      }
      .border-bottom-black{
        border-bottom-color:black;
        border-bottom-style:solid;
        border-bottom-width:1px;
      }
      .border-top-black{
        border-top-color:black;
        border-top-style:solid;
        border-top-width:1px;
      }
      .border-bottom-gray-light {
        border-bottom-color:#d9d9d9;
        border-bottom-style:solid;
        border-bottom-width:1px;
      }
     
      .mt-10{
        margin-top: 10px;
      }
      .pt-10{
        padding-top: 10px;
      }
      .background-logo {
        /* background-image: url("{{ logo }}"); */
      }
      .border-bottom-2 {
        border-bottom: 2px solid black;
      }
      .border-top-2{
        border-top: 2px solid black !important;
      }
      div.fixed-header {
        position: fixed;
        width: 100%;
        top: -100px;
        border: 0px solid #8AC007;
        display: inline;
      }
      div.fixed-header table {
        margin: 0;
        padding: 0;
      }
      div.fixed-header img {
        height: 100px;
      }
      
      div.fixed {
        position: fixed;
        width: 100%;
        bottom: -60px;
        border: 0px solid #8AC007;
        font-family: "Lucida Console", Courier, monospace;
        border-top:1px solid black;
        height: 50px;
      }
      .assign{
        margin-top: 50px;
        padding-top: 50px;
      }
      .table th {
        padding-top: 1px !important;
        padding-bottom: 1px !important;
        font-size: 11px;
      }
      .table thead tr th{
        border: 0 !important;
      }
      .table td {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        font-size: 10px;
      }
      .table td.blank {
        padding-top: 0.4rem !important;
        padding-bottom: 0.4rem !important;
      }
      .blue {
        color: #2F2FFF;
      }
      .red {
        color: #993232;
      }
    </style>
  </head>
  
  
  <body>
    <!-- Content for Static Frame 'header_frame' -->
    <header>
      <h4 class="text-center mb-0"><b>{{ account.name }}</b></h3>
      <h4 class="text-center red m-0"><b>{{ report_title }}</b></h3>
      <p class="text-center m-0">{{ start_date }} - {{ end_date }}</p>
      <p class="text-right">Filter Berdasarkan: 
        {% for filter in filtered %}
          {% if forloop.last %}{{ filter }}{% else %}{{ filter }},{% endif %}
        {% endfor %}
      </p>
    </header>

    <table class="table border-0 mb-4" style="padding-top: 20px;">
      <thead>
        {% if "stocktransfer" in report_type %}
        <tr>
          <th style="text-align: left;"><div class="w-100 border-bottom-2">Outlet Asal</div></th>
          <th style="text-align: left;"><div class="w-100 border-bottom-2">Outlet Tujuan</div></th>
          <th style="text-align: left;"><div class="w-100 border-bottom-2">Tanggal Mutasi</div></th>
          <th style="text-align: left;"><div class="w-100 border-bottom-2">Referensi</div></th>
          <th style="text-align: right;"><div class="w-100 border-bottom-2">Jumlah</div></th>
          <th style="text-align: left;"><div class="w-100 border-bottom-2">Unit</div></th>
          <th style="text-align: left;"><div class="w-100 border-bottom-2">Status</div></th>
        </tr>
        {% endif %}

        {% if "stockcount" in report_type %}
        <tr>
          <th style="text-align: left;"><div class="w-100 border-bottom-2">Outlet</div></th>
          <th style="text-align: left;"><div class="w-100 border-bottom-2">Tanggal Stok Opname</div></th>
          <th style="text-align: left;"><div class="w-100 border-bottom-2">Referensi</div></th>
          <th style="text-align: right;"><div class="w-100 border-bottom-2">Stok Awal</div></th>
          <th style="text-align: left;"><div class="w-100 border-bottom-2">Unit</div></th>
          <th style="text-align: right;"><div class="w-100 border-bottom-2">Terhitung</div></th>
          <th style="text-align: left;"><div class="w-100 border-bottom-2">Unit</div></th>
          <th style="text-align: left;"><div class="w-100 border-bottom-2">Status</div></th>
        </tr>
        {% endif %}

        {% if "stockadjustment" in report_type %}
        <tr>
          <th style="text-align: left;"><div class="w-100 border-bottom-2">Outlet</div></th>
          <th style="text-align: left;"><div class="w-100 border-bottom-2">Tanggal Penyesuaian</div></th>
          <th style="text-align: left;"><div class="w-100 border-bottom-2">Referensi</div></th>
          <th style="text-align: left;"><div class="w-100 border-bottom-2">Status Order</div></th>
          <th style="text-align: right;"><div class="w-100 border-bottom-2">Penyesuaian Stok</div></th>
          <th style="text-align: left;"><div class="w-100 border-bottom-2">Unit</div></th>
          <th style="text-align: right;"><div class="w-100 border-bottom-2">Total</div></th>
        </tr>
        {% endif %}

        {% if "purchaseorderdetail" in report_type %}
        <tr>
          <th style="text-align: left;"><div class="w-100 border-bottom-2">Outlet</div></th>
          <th style="text-align: left;"><div class="w-100 border-bottom-2">Pemasok</div></th>
          <th style="text-align: left;"><div class="w-100 border-bottom-2">Tanggal Purchase Order</div></th>
          <th style="text-align: left;"><div class="w-100 border-bottom-2">Referensi</div></th>
          <th style="text-align: right;"><div class="w-100 border-bottom-2">Jumlah</div></th>
          <th style="text-align: left;"><div class="w-100 border-bottom-2">Unit</div></th>
          <th style="text-align: right;"><div class="w-100 border-bottom-2">Harga Satuan</div></th>
          <th style="text-align: right;"><div class="w-100 border-bottom-2">Total</div></th>
        </tr>
        {% endif %}

        {% if "purchaseorderreceivedetail" in report_type %}
        <tr>
          <th style="text-align: left;"><div class="w-100 border-bottom-2">Outlet</div></th>
          <th style="text-align: left;"><div class="w-100 border-bottom-2">Pemasok</div></th>
          <th style="text-align: left;"><div class="w-100 border-bottom-2">Tanggal Penerimaan</div></th>
          <th style="text-align: left;"><div class="w-100 border-bottom-2">Referensi</div></th>
          <th style="text-align: right;"><div class="w-100 border-bottom-2">Jumlah</div></th>
          <th style="text-align: left;"><div class="w-100 border-bottom-2">Unit</div></th>
          <th style="text-align: right;"><div class="w-100 border-bottom-2">Harga Satuan</div></th>
          <th style="text-align: right;"><div class="w-100 border-bottom-2">Total</div></th>
        </tr>
        {% endif %}

        {% if "vendorbill" in report_type %}
        <tr>
          <th style="text-align: left;"><div class="w-100 border-bottom-2">Outlet</div></th>
          <th style="text-align: left;"><div class="w-100 border-bottom-2">Pemasok</div></th>
          <th style="text-align: left;"><div class="w-100 border-bottom-2">Bill Date</div></th>
          <th style="text-align: left;"><div class="w-100 border-bottom-2">Referensi</div></th>
          <th style="text-align: right;"><div class="w-100 border-bottom-2">Jumlah</div></th>
          <th style="text-align: left;"><div class="w-100 border-bottom-2">Unit</div></th>
          <th style="text-align: right;"><div class="w-100 border-bottom-2">Harga Satuan</div></th>
          <th style="text-align: right;"><div class="w-100 border-bottom-2">Total</div></th>
        </tr>
        {% endif %}

      </thead>
      <tbody>
        {% if "stocktransfer" in report_type %}
          {% for data in data_dict %}
            {% if data.dict_type == "product" %}
              {% if not forloop.first %}
                <tr><td colspan="4" class="blank"></td></tr>
              {% endif %}
              <tr>
                <td colspan="4"><b>{{ data.product_name }}</b></td>
              </tr>
            {% endif %}
            {% if data.dict_type == 'detail' %}
              <tr>
                <td style="text-align: left;">{{ data.outlet.name }}</td>
                <td style="text-align: left;">{{ data.destination.name }}</td>
                <td style="text-align: left;">{{ data.date_of_transfer }}</td>
                <td style="text-align: left;">{{ data.reference }}</td>
                <td style="text-align: right;">{% get_normalized_decimal data.quantity %}</td>
                <td style="text-align: left;">{{ data.unit }}</td>
                <td style="text-align: left;">{{ data.status }}</td>
              </tr>
            {% endif %}
            
            {% if data.dict_type == 'total' %}
            <tr>
              <td style="text-align: left;"></td>
              <td style="text-align: left;"></td>
              <td style="text-align: left;"></td>
              <td style="text-align: left;"></td>
              <td style="text-align: right;"><div class="w-100 border-top-2"><b class="blue">{% get_normalized_decimal data.total_qty %}</b></div></td>
              <td style="text-align: left;"><div class="w-100 border-top-2"><b class="blue"></b>{{ data.product_unit }}</b></div></td>
              <td style="text-align: left;"></td>
            </tr>
            {% endif %}
          {% endfor %}
        {% endif %}

        {% if "stockcount" in report_type %}
        {% for data in data_dict %}
            {% if data.dict_type == "product" %}
              {% if not forloop.first %}
                <tr><td colspan="6" class="blank"></td></tr>
              {% endif %}
              <tr>
                <td colspan="6"><b>{{ data.product_name }}</b></td>
              </tr>
            {% endif %}
            {% if data.dict_type == 'detail' %}
              <tr>
                <td style="text-align: left;">{{ data.outlet.name }}</td>
                <td style="text-align: left;">{{ data.date_of_stock_count }}</td>
                <td style="text-align: left;">{{ data.reference }}</td>
                <td class="red" style="text-align: right;">{% get_normalized_decimal data.get_last_stock_before_count %}</td>
                <td style="text-align: left;">{{ data.product_unit }}</td>
                <td class="blue" style="text-align: right;">{% get_normalized_decimal data.quantity %}</td>
                <td style="text-align: left;">{{ data.unit }}</td>
                <td style="text-align: left;">{{ data.status }}</td>
              </tr>
            {% endif %}
          {% endfor %}
        {% endif %}

        {% if "stockadjustment" in report_type %}
          {% for data in data_dict %}
            {% if data.dict_type == "product" %}
              {% if not forloop.first %}
                <tr><td colspan="8" class="blank"></td></tr>
              {% endif %}
              <tr>
                <td colspan="8"><b>{{ data.product_name }}</b></td>
              </tr>
            {% endif %}
            {% if data.dict_type == 'detail' %}
              <tr>
                <td style="text-align: left;">{{ data.outlet.name }}</td>
                <td style="text-align: left;">{{ data.date_of_adjustment }}</td>
                <td style="text-align: left;">{{ data.reference }}</td>
                <td style="text-align: left;">{{ data.status }}</td>
                <td style="text-align: right;"><b class="{% if data.status_data == "item_receive" %}blue{% elif data.status_data == "stock_count" %}{% else %}red{% endif %}">{{ data.quantity }}</b></td>
                <td style="text-align: left;">{{ data.unit }}</td>
                <td style="text-align: right;">{{ data.total_cost }}</td>
              </tr>
            {% endif %}
          {% endfor %}
        {% endif %}

        {% if "purchaseorderdetail" in report_type %}
          {% for data in data_dict %}
            {% if data.dict_type == "product" %}
              {% if not forloop.first %}
                <tr><td colspan="8" class="blank"></td></tr>
              {% endif %}
              <tr>
                <td colspan="8"><b>{{ data.product_name }}</b></td>
              </tr>
            {% endif %}
            {% if data.dict_type == 'detail' %}
              <tr>
                <td style="text-align: left;">{{ data.outlet.name }}</td>
                <td style="text-align: left;">{{ data.supplier }}</td>
                <td style="text-align: left;">{{ data.date_of_purchase }}</td>
                <td style="text-align: left;">{{ data.reference }}</td>
                <td style="text-align: right;">{% get_normalized_decimal data.quantity %}</td>
                <td style="text-align: left;">{{ data.unit }}</td>
                <td style="text-align: right;">{% get_normalized_decimal data.purchased_cost %}</td>
                <td style="text-align: right;">{% get_normalized_decimal data.total_cost %}</td>
              </tr>
            {% endif %}
            
            {% if data.dict_type == 'total' %}
            <tr>
              <td style="text-align: left;"></td>
              <td style="text-align: left;"></td>
              <td style="text-align: left;"></td>
              <td style="text-align: right;"></td>
              <td style="text-align: right;"><div class="w-100 border-top-2"><b class="blue">{% get_normalized_decimal data.total_qty %}</b></div></td>
              <td style="text-align: left;"><div class="w-100 border-top-2"><b class="blue">{{ data.product_unit }}</b></div></td>
              <td style="text-align: left;"></td>
              <td style="text-align: right;"><div class="w-100 border-top-2"><b class="blue">{% get_normalized_decimal data.total_cost %}</b></div></td>
            </tr>
            {% endif %}
          {% endfor %}
        {% endif %}

        {% if "purchaseorderreceivedetail" in report_type %}
          {% for data in data_dict %}
            {% if data.dict_type == "product" %}
              {% if not forloop.first %}
                <tr><td colspan="8" class="blank"></td></tr>
              {% endif %}
              <tr>
                <td colspan="8"><b>{{ data.product_name }}</b></td>
              </tr>
            {% endif %}
            {% if data.dict_type == 'detail' %}
              <tr>
                <td style="text-align: left;">{{ data.outlet.name }}</td>
                <td style="text-align: left;">{{ data.supplier }}</td>
                <td style="text-align: left;">{{ data.received_date }}</td>
                <td style="text-align: left;">{{ data.reference }}</td>
                <td style="text-align: right;">{% get_normalized_decimal data.quantity %}</td>
                <td style="text-align: left;">{{ data.unit }}</td>
                <td style="text-align: right;">{% get_normalized_decimal data.purchased_cost %}</td>
                <td style="text-align: right;">{% get_normalized_decimal data.total_cost %}</td>
              </tr>
            {% endif %}
            
            {% if data.dict_type == 'total' %}
            <tr>
              <td style="text-align: left;"></td>
              <td style="text-align: left;"></td>
              <td style="text-align: left;"></td>
              <td style="text-align: left;"></td>
              <td style="text-align: right;"><div class="w-100 border-top-2"><b class="blue">{% get_normalized_decimal data.total_qty %}</b></div></td>
              <td style="text-align: left;"><div class="w-100 border-top-2"><b class="blue">{{ data.product_unit }}</b></div></td>
              <td style="text-align: right;"></td>
              <td style="text-align: right;"><div class="w-100 border-top-2"><b class="blue">{% get_normalized_decimal data.total_cost %}</b></div></td>
            </tr>
            {% endif %}
          {% endfor %}
        {% endif %}

        {% if "vendorbill" in report_type %}
          {% for data in data_dict %}
            {% if data.dict_type == "product" %}
              {% if not forloop.first %}
                <tr><td colspan="8" class="blank"></td></tr>
              {% endif %}
              <tr>
                <td colspan="8"><b>{{ data.product_name }}</b></td>
              </tr>
            {% endif %}
            {% if data.dict_type == 'detail' %}
              <tr>
                <td style="text-align: left;">{{ data.outlet.name }}</td>
                <td style="text-align: left;">{{ data.supplier }}</td>
                <td style="text-align: left;">{{ data.bill_date }}</td>
                <td style="text-align: left;">{{ data.reference }}</td>
                <td style="text-align: right;">{% get_normalized_decimal data.quantity %}</td>
                <td style="text-align: left;">{{ data.unit }}</td>
                <td style="text-align: right;">{% get_normalized_decimal data.purchased_cost %}</td>
                <td style="text-align: right;">{% get_normalized_decimal data.total_cost %}</td>
              </tr>
            {% endif %}
            
            {% if data.dict_type == 'total' %}
            <tr>
              <td style="text-align: left;"></td>
              <td style="text-align: left;"></td>
              <td style="text-align: left;"></td>
              <td style="text-align: left;"></td>
              <td style="text-align: right;"><div class="w-100 border-top-2"><b class="blue">{% get_normalized_decimal data.total_qty %}</b></div></td>
              <td style="text-align: left;"><div class="w-100 border-top-2"><b class="blue">{{ data.product_unit }}</b></div></td>
              <td style="text-align: right;"></td>
              <td style="text-align: right;"><div class="w-100 border-top-2"><b class="blue">{% get_normalized_decimal data.total_cost %}</b></div></td>
            </tr>
            {% endif %}
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </body>
</html>