{% load static i18n humanize %}
{% load template_utils %}

<!doctype html>
<html>
  <head>
    <title>Purchase Order</title>
    <style>
      @charset "UTF-8";
      @import url("https://fonts.googleapis.com/css?family=Pacifico|Source+Sans+Pro:400,700");
      @page {
        margin: 3cm 1.5cm 3cm 1.5cm;
        counter-increment: page;
        @bottom-right {
            content: counter(page);
            white-space: pre;
            color: #333;
            font-size: 11px;
        }
      }
    </style>
    <style>
      
      header {
          top: 0;
          left: 0;
          height: 3cm;
          width: 100%;
          border-bottom: 1px solid #000000;
      }
      
      body{
        background-color: #ffffff;
      }
      p{
        font-size: 12px;
        margin-top:0px;
        padding-top: 0px;
        margin-bottom: 0;
        padding-bottom: 0;
      }
      .border-bottom-black{
        border-bottom-color:black;
        border-bottom-style:solid;
        border-bottom-width:1px;
      }
      .border-top-black{
        border-top-color:black;
        border-top-style:solid;
        border-top-width:1px;
      }
      .border-bottom-gray-light {
        border-bottom-color:#d9d9d9;
        border-bottom-style:solid;
        border-bottom-width:1px;
      }
     
      .mt-10{
        margin-top: 10px;
      }
      .pt-10{
        padding-top: 10px;
      }
      .background-logo {
        /* background-image: url("{{ logo }}"); */
      }
      .border-bottom-2 {
        border-bottom: 2px solid black;
      }
      .border-top-2{
        border-top: 2px solid black;
      }
      div.fixed-header {
        position: fixed;
        width: 100%;
        top: -100px;
        border: 0px solid #8AC007;
        display: inline;
      }
      div.fixed-header table {
        margin: 0;
        padding: 0;
      }
      div.fixed-header img {
        height: 100px;
      }
      
      div.fixed {
        position: fixed;
        width: 100%;
        bottom: -60px;
        border: 0px solid #8AC007;
        font-family: "Lucida Console", Courier, monospace;
        border-top:1px solid black;
        height: 50px;
      }
      .assign{
        margin-top: 50px;
        padding-top: 50px;
      }
    </style>
  </head>
  
  
  <body>
    <div class="fixed-header">
      <div class="d-inline-block">
        {% if logo %}
        <img src="{{ logo.url }}" alt="">
        {% else %}
        <img src="{% static 'images/logo2.png' %}" alt="">
        {% endif %}
      </div>
      <div class="d-inline-block align-middle p-2">
        <h5 style="font-weight:bold; margin-bottom: 0;">{{ account.name }}</h5>
        <p style="font-size:9px;font-color:#a6a6a6;">{{ account.address }}</p>
      </div>
    </div>
    <!-- Content for Static Frame 'header_frame' -->
    <h3 class="text-center mt-4">Received Order</h3>
    <table class="w-100 border-0" style="margin-top: 20px;">
      <tr style="border-top-color: #ffffff;">
        <td class="w-50" style="vertical-align:top;">
          <h6 class="mb-0 pb-0"><b>Shipping Address:</b></h6>
          <p>{{ object.purchase_order.outlet.name }}</p>
          <p>{{ object.purchase_order.outlet.address }}, {{ object.purchase_order.outlet.city }}, {{ object.purchase_order.outlet.province }} {{ object.purchase_order.outlet.postal_code }}</p>
        </td>
        <td class="w-50" style="vertical-align:top;">
          <h6 class="mb-0 pb-0"><b>Supplier:</b></h6>
          <p>{{ object.purchase_order.supplier.name }} {% if object.purchase_order.supplier.phone %}({{ object.purchase_order.supplier.phone }}){% endif %}</p>
          <p>{{ object.purchase_order.supplier.address }}</p>
        </td>
      </tr>
    </table>
    <h6 class="mt-4">Receive Order #{{ object.code }}</h6>
    <table class="border-0 mb-4">
      <tr>
        <td class="w-25">
          <p><b>Purchase Order Reference:</b></p>
          <p>{{ object.purchase_order.code }}</p>
        </td>
        <td class="w-25">
          <p><b>Received Date:</b></p>
          <p>{{ object.received_date }}</p>
        </td>
      </tr>
    </table>
    <table class="table border-0 mb-4" style="padding-top: 20px;">
      <thead class="border-bottom-2">
        <tr>
          <th style="text-align: left; width: 30%;">Product</th>
          <th style="text-align: right; width: 10%;">Quantity</th>
          <th style="text-align: right; width: 15%;">Unit Price</th>
          <th style="text-align: right; width: 15%;">Discount</th>
          <th style="text-align: right; width: 15%;">Price</th>
        </tr>
      </thead>
      <tbody>
        
        {% for received in received_stock %}
          <tr class="border-bottom-gray-light">
            <td><p>{{ received.stock.product }}</p></td>
            <td class="text-right"><p>{% get_normalized_decimal received.quantity %} {{ received.unit }}</p></td>
            <td class="text-right"><p>Rp. {% get_normalized_decimal received.purchase_cost.amount %}</p></td>
            <td class="text-right"><p>
              {% if received.discount_type == "percentage" %}
                {% get_normalized_decimal received.discount %} %
              {% else %}
                Rp. {% get_normalized_decimal received.discount %}
              {% endif %}
            </p></td>
            <td class="text-right"><p>Rp. {% get_normalized_decimal received.total_cost %}</p></td>
          </tr>
        {% endfor %}
        <tr>
          <td colspan="3"></td>
          <td class="border-bottom-gray-light"><p><b>Subtotal</b></p></td>
          <td class="text-right border-bottom-gray-light"><p>Rp. {% get_normalized_decimal object.total_cost %}</p></td>
        </tr>
        <tr>
          <td colspan="3" class="border-0"></td>
          <td class="border-bottom-gray-light"><p><b>Diskon</b></p></td>
          <td class="text-right border-bottom-gray-light"><p>Rp. {% get_normalized_decimal object.total_discount %}</p></td>
        </tr>
        <tr>
          <td colspan="3" class="border-0"></td>
          <td class="border-bottom-gray-light"><p><b>Pajak</b></p></td>
          <td class="text-right border-bottom-gray-light"><p>Rp. {% get_normalized_decimal object.total_taxes %}</p></td>
        </tr>
        <tr>
          <td colspan="3" class="border-0"></td>
          <td class="border-bottom-gray-light"><p><b>Total</b></p></td>
          <td class="text-right border-bottom-gray-light"><p>Rp. {% get_normalized_decimal object.grand_total %}</p></td>
        </tr>

      </tbody>
    </table>

    <div class="row mt-4 pb-4 assign">
      <div class="col-3 p-4">
        <p class="text-center">Requester</p>
        <br>
        <br>
        <br>
        <br>
        <hr class="mb-0">
        <p>Date:</p>
      </div>
      <div class="col-3 p-4">
        <p class="text-center">Checked By</p>
        <br>
        <br>
        <br>
        <br>
        <hr class="mb-0">
        <p>Date:</p>
      </div>
      <div class="col-3 p-4">
        <p class="text-center">Approver</p>
        <br>
        <br>
        <br>
        <br>
        <hr class="mb-0">
        <p>Date:</p>
      </div>
      <div class="col-3"></div>
    </div>

  </body>
</html>