{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Add Product Manufacture" %}{% endblock %}

{% block css %}
  {{ block.super }}
  <!-- Your stuff: Third-party css libraries go here -->
  {{ form.media.css }}
  {{ formset.media.css }}
{% endblock %}

{% block library_active_class %}active{% endblock %}
{% block mobile_library_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_library_show %}show{% endblock %}
{% block library_itemlibrary_active_class %}submenu-active{% endblock %}
{% block mobile_library_itemlibrary_active_class %}submenu-active{% endblock %}
{% block content_header %}{% trans "Add Product Manufacture" %}{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block tab_div2_class %}px-2{% endblock %}
{% block action_div_style %}background: white; border-top: 1px solid #d7d7db;{% endblock %}

{% block submit_form %}
  <div class="d-flex justify-content-end" id="fixed-bottom-button">
    <a href="{% url 'catalogue:product_list' %}"  class="btn btn-light">{% trans "Back" %}</a>
    <button type="submit" id="submitBtn" class="btn btn-primary ml-1">
      <span id="submit-text">{% if object %}{% trans 'Save' %}{% else %}{% trans 'Create' %}{% endif %}</span>
      <i id="submit-icon" class=""></i>
    </button>
  </div>
{% endblock %}

{% block sub_content %}
  <div class="w-100 pt-3">
    <form enctype="multipart/form-data"  method="post" action="." id="product-form">
      {% crispy form %}
      {% crispy formset formset_helper %}
      <div class="justify-content-end {% if grid %}{{ grid}}{% else %}col-6{% endif %} p-0" id="fixed-button-content" style="display: flex;">
        <a href="{% url 'catalogue:product_list' %}"  class="btn btn-light">{% trans "Back" %}</a>
        <button type="submit" class="btn btn-primary ml-1">
          <span id="submit-text">{% if object %}{% trans 'Save' %}{% else %}{% trans 'Create' %}{% endif %}</span>
          <i id="submit-icon" class=""></i>
        </button>
      </div>
    </form>
  </div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  {{ form.media.js }}
  {{ formset.media.js }}
  <script src="{% static 'js/jquery.formset.js' %}"></script>
  <script src="{% static '/js/button-scrollbar.js' %}"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/multi-select/0.9.12/js/jquery.multi-select.min.js"></script>
  <script>
    var options = {
      product_modifiers: false,
    }
    function clear_form_elements(ele) {
        $(ele).find(':input').each(function() {
            switch(this.type) {
                case 'password':
                case 'select-multiple':
                case 'select-one':
                case 'text':
                case 'textarea':
                    $(this).val('');
                    break;
                case 'checkbox':
                case 'radio':
                    this.checked = false;
            }
        });
    };
  </script>
  <script>
    $(document).ready(function($) {
      $('.formset-wrapper').formset();
      $(".formset-wrapper").on("formAdded", function(event){
        newForm = event.target;
        initialPrice = $("input[name=price_0]").val();
        intialCost = $("input[name=cost_0]").val();
        $.each($(newForm), function(index, value){
          if ($(value).is('tr') === true) {
            var price_element = $(value).find(".price-data_0");
            price_element.val(initialPrice);

            var cost_element = $(value).find(".cost-data_0");
            cost_element.val(intialCost);
          }
        });
      });

      $("input[name=is_manage_stock]").attr("disabled", true);
      product_configuration($("input[name=is_manage_stock]").is(':checked'));
      function product_configuration(is_manage_stock){
        if(!is_manage_stock){
          $("#div_id_is_batch_tracked").addClass("d-none");
          $("input[name=is_batch_tracked]").prop("checked", false);
          $("#div_id_keep_selling_sold_out").addClass("d-none");
          $("input[name=keep_selling_sold_out]").prop("checked", false);
          $("#div_id_min_stock_alert").addClass("d-none");
        }else{
          if($("#div_id_is_batch_tracked").hasClass("d-none")){
            $("#div_id_is_batch_tracked").removeClass("d-none");
          }
          if($("#div_id_keep_selling_sold_out").hasClass("d-none")){
            $("#div_id_keep_selling_sold_out").removeClass("d-none");
          }
          if($("#div_id_min_stock_alert").hasClass("d-none")){
            $("#div_id_min_stock_alert").removeClass("d-none");
          }
        }
      }

      $("input[name=is_manage_stock]").on("change", function(){
        product_configuration($(this).is(":checked"));
      });

      $(document).on("change", ".formset-data-delete", function(){
        tr_element = $(this).closest("tr");
        tr_element.hide()
      });

      $('.collapsible-checkbox').click(function (e) {
        if ($(this).is(':checked')) {
          $(this).parents('.card').find('.card-body').removeClass('collapse');
        } else {
          $(this).parents('.card').find('.card-body').addClass('collapse');
        }
      });

      $("#submitBtn").click(function () {
         $("#product-form").submit();
      });

      $("#product-form").on("submit", function(){
        $("button[type=submit]").attr("disabled", "disabled");
        $("button[type=submit] #submit-text").empty().append("Menyimpan");
        $("button[type=submit] #submit-icon").addClass("fa fa-spinner fa-spin");
      });

      $("input[name=price_0]").on("change", function(){
        var prices = $(".price-data");
        var v = $(this).val();
        $.each(prices, function(index, value){
          if(!parseFloat($(value).val()) > 0){
            $(".price-data_0").eq(index).val(v);
          }
        });
      });

      $("input[name=cost_0]").on("change", function(){
        var prices = $(".cost-data");
        var v = $(this).val();
        $.each(prices, function(index, value){
          if(!parseFloat($(value).val()) > 0){
            $(".cost-data_0").eq(index).val(v);
          }
        });
      });
      function show_product_modifiers(input){
        if(input.is(':checked')){
          $('#div_id_modifiers').show();
        }else{
          $('#div_id_modifiers').hide();
        }
      }


      $("#id_product_modifiers").on("change", function(){
        if ($(this).is(':checked')){
          $("#div_id_modifiers").removeAttr("disabled", "disabled")
          $("#div_id_modifiers").show()
        } else {
          $("#div_id_modifiers").attr("disabled", "disabled")
          $("#div_id_modifiers").hide()
          clear_form_elements("#div_id_modifiers")
          $("#id_modifiers").multiSelect('deselect_all');
          options.product_modifiers = false
        };
      });
      show_product_modifiers($("#id_product_modifiers"));
    });
  </script>
{% endblock %}
