{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Update Modifier" %}{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/multi-select/0.9.12/css/multi-select.min.css">
  {{ form.media.css }}
{% endblock %}

{% block library_active_class %}active{% endblock %}
{% block mobile_library_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_library_show %}show{% endblock %}
{% block library_modifiers_active_class %}submenu-active{% endblock %}
{% block mobile_library_modifiers_active_class %}submenu-active{% endblock %}
{% block content_header %}{% trans "Update Product Modifier" %}{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block tab_div2_class %}px-2{% endblock %}
{% block action_div_style %}background: white; border-top: 1px solid #d7d7db;{% endblock %}

{% block submit_form %}
  <div class="d-flex justify-content-end" id="fixed-bottom-button">
    <a href="{% url 'catalogue:modifier_list' %}"  class="btn btn-light">{% trans "Back" %}</a>
    <input type="submit" class="btn btn-primary ml-1" id="submitBtn" value="{% trans 'Save' %}"/>
  </div>
{% endblock %}

{% block sub_content %}
  <div class="w-100 pt-3">
    <form method="post" action="." id="product-modifier">
      {% crispy form %}
      <div class="justify-content-end {% if grid %}{{ grid}}{% else %}col-6{% endif %} p-0" id="fixed-button-content" style="display: flex;">
        <a href="{% url 'catalogue:modifier_list' %}"  class="btn btn-light">{% trans "Back" %}</a>
        <input type="submit" class="btn btn-primary ml-1" value="{% trans 'Save' %}"/>
      </div>
    </form>
  </div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  {{ form.media.js }}
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.quicksearch/2.4.0/jquery.quicksearch.min.js"></script>
  <script src="{% static '/js/button-scrollbar.js' %}"></script>
  <script>
    $(document).ready(function($){
      $('#product-modifier').attr('novalidate', 'novalidate');
      $("#submitBtn").click(function () {
         $("#product-modifier").submit();
      });
    });
  </script>
{% endblock %}
