{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% get_media_prefix %}

{% block title %}{% trans "Update Product" %}{% endblock %}

{% block css %}
  {{ block.super }}
  <!-- Your stuff: Third-party css libraries go here -->
  {{ form.media.css }}
  <style>
    #product-form .card-body div.row:last-of-type #div_id_price{
      border: 0 !important;
    }

    #product-form .card-body div.row:last-of-type #div_id_price label{
      margin-bottom: 0px !important;
    }
  </style>
  <style>
      .switch {
        margin-top: 3px;
        position: relative;
        display: inline-block;
        width: 40px;
        height: 20px;
      }
  
      .switch input {display:none;}
  
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }
  
      .slider:before {
        position: absolute;
        content: "";
        height: 12px;
        width: 12px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      .switch input:checked + .slider {
        background-color: #2196F3;
      }
  
      .switch input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
  
      .switch input:checked + .slider:before {
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
      }
  
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }
  
      .slider.round:before {
        border-radius: 50%;
      }
  
    </style>
{% endblock %}

{% block library_active_class %}active{% endblock %}
{% block mobile_library_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_library_show %}show{% endblock %}
{% block library_itemlibrary_active_class %}submenu-active{% endblock %}
{% block mobile_library_itemlibrary_active_class %}submenu-active{% endblock %}
{% block content_header %}{{ object.sku }} {{ object.name }} - {% trans "Pricing" %}{% endblock %}

{% block content_class %}pt-3{% endblock %}
{% block tab_div_style %}background: white; border-bottom: 1px solid #e6e7e9;{% endblock %}
{% block tab_section_style %}border-bottom: 1px solid #e6e7e9;{% endblock %}
{% block action_div_style %}background: white; border-top: 1px solid #d7d7db;{% endblock %}

{% block tab_list %}
  <ul class="nav nav-tabs pt-2" id="myTab" role="tablist">
    <li class="nav-item">
        {% if object.classification == "Composite" %}
        <a class="nav-link" href="{% url 'catalogue:product_composite_update' object.pk %}" >{% trans "Detail" %}</a>
        {% elif object.classification == "Dynamic-Composite" %}
        <a class="nav-link" href="{% url 'catalogue:dynamic_composite_update' object.pk %}" >{% trans "Detail" %}</a>  
        {% elif object.classification == "Complementary" %}
        <a class="nav-link" href="{% url 'catalogue:product_addon_update' object.pk %}" >{% trans "Detail" %}</a>
        {% else %}
        <a class="nav-link" href="{% url 'catalogue:product_variant_update' object.pk %}" >{% trans "Detail" %}</a>
        {% endif %}
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'catalogue:product_availability' object.pk %}">{% trans "Outlet" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#pricing" >{% trans "Pricing" %}</a>
    </li>
    {% if object.is_manage_stock %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'stocks:stocks' object.pk %}" >{% trans "Stocks" %}</a>
    </li>
    {% endif %}
  </ul>
{% endblock %}

{% block submit_form %}
  <div class="d-flex justify-content-end" id="fixed-bottom-button">
    <a href="{% url 'catalogue:product_list' %}"  class="btn btn-light">{% trans "Back" %}</a>
    <input type="submit" class="btn btn-primary ml-1" id="submitBtn" value="{% trans 'Save' %}"/>
  </div>
{% endblock %}

{% block sub_content %}
  <div class="w-100 pt-1">
    <form enctype="multipart/form-data" method="post" action="." id="product-form">
    <div class="row mx-0 p-0">
      <div class="card col-lg-8 p-0">
        <div class="card-body">
          {{ form.management_form|crispy }}
          {% include "bootstrap4/errors_formset.html"  with formset=form %}
          <div  class="row mx-0" style="border-bottom: 1px solid #dee2e6;">
            <div class="col-md-2 text-left p-0">
              <label class="col-form-label mb-3 mx-0 p-0">{% trans "Outlet" %}</label>
            </div>
            <div class="col-md-2 text-center p-0">
              <label class="col-form-label mb-3 mx-0 p-0">{% trans "Default Price" %}</label>
            </div>
            <div class="col-md-3 text-center p-0">
              <label class="col-form-label mb-3 mx-0 p-0">{% trans "Custom Price" %}</label>
            </div>
            <div class="col-md-3 text-center p-0">
              <label class="col-form-label mb-3 mx-0 p-0">{% trans "Price Margin" %}</label>
            </div>
            <div class="col-md-2 text-center p-0">
                <label class="col-form-label mb-3 mx-0 p-0">{% trans "Active" %}</label>
            </div>
          </div>
          {% for small_form in form %}
            <div class="row mx-0" style="border-bottom: 1px solid #dee2e6;">
              <div class="col-md-2 text-left p-0">
                  <label class="col-form-label pb-0 mt-3">{{ small_form.instance.outlet }}</label>
              </div>
              <div class="col-md-2 text-center">
                  <label class="col-form-label pb-0 mt-3">{{ small_form.instance.product.price}}</label>
              </div>
              {% crispy small_form %}
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-lg-4" id="help-text">
      </div>
    </div>
      <div class="justify-content-end col-8 p-0" id="fixed-button-content" style="display: flex;">
        <a href="{% url 'catalogue:product_list' %}"  class="btn btn-light">{% trans "Back" %}</a>
        <input type="submit" class="btn btn-primary ml-1" value="{% trans 'Save' %}"/>
      </div>
    </form>
  </div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  {{ form.media.js }}
  <script src="{% static 'typeahead/typeahead.bundle.js' %}"></script>
  <script src="{% static 'js/button-scrollbar.js' %}"></script>
  <script>
    $(document).ready(function($) {    

      $("#submitBtn").click(function () {
        $("#product-form").submit();
      });

      $("input.textinput").on("change", function(e){
        if (parseFloat($("#"+this.id+"_cost").data("price")) >0 ){
          percentage = Math.round(((this.value / parseFloat($("#"+this.id+"_cost").data("price"))) - 1) * 100);
        } else {
          percentage = 0
        }
        $("#"+this.id+"_cost").html( percentage + " %");
      });

      $(".product-cost-diff").each( function(index, value){
        if (parseFloat($(value).data("price")) >0 ){
          percentage = Math.round((($("#"+$(value).data("input")).val() / parseFloat($(value).data("price"))) - 1) * 100);
        } else {
          percentage = 0
        }
        $(value).html( percentage + " %");
      });

      $("input.checkboxinput").each( function(index, value){
        price_id  = this.id.replace("is_active", "price");
        if($(this).is(':checked')){
          $("#" + price_id).removeAttr("disabled", "disabled");
        } else {
          $("#" + price_id).attr("disabled", "disabled");
        }
      });

      $("input.checkboxinput").on("change", function(e){
        price_id  = this.id.replace("is_active", "price");
        if($(this).is(':checked')){
          $("#" + price_id).removeAttr("disabled", "disabled");
        } else {
          $("#" + price_id).attr("disabled", "disabled");
        }
      })

    });
  </script>
{% endblock %}
