{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Product" %}{% endblock %}

{% block library_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_library_show %}show{% endblock %}
{% block library_itemlibrary_active_class %}submenu-active{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item"><a href="{% url 'catalogue:product_list' %}" class="text-link">{% trans "Product List" %}</a></li>
  <li class="breadcrumb-item active">{% trans "Archive Product" %}</li>
{% endblock breadcrumb %}

{% block sub_content %}
  <div class="container mb-3">
    <div class="row">
      <div class="col">
        <h3 class="heading-3 font-weight-thin my-3">{% trans "Archive Product" %}</h3>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-body">
            <form method="post" action=".">
              {% csrf_token %}
              {{ form|crispy }}
              <input type="submit" class="btn btn-primary" value="{% trans "Archive" %}"/>
              <a href="{% url 'catalogue:product_list' %}"  class="btn btn-secondary">{% trans "Back" %}</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
