{% load static %}
{% load crispy_forms_tags %}
{% load add_attribute_fields %}


{{ formset.management_form }}
<link href="{% static 'bootstrap-tagsinput/bootstrap-tagsinput.css' %}" rel="stylesheet">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="{% static 'bootstrap-tagsinput/bootstrap-tagsinput.js' %}"></script>
<script src="{% static 'js/product_modifier_formset.js' %}"></script>

{% for form in formset %}
    {% if context.total_modifier %}
        {% if forloop.counter > context.total_modifier %}
            <div class="row">
                <div class="col-lg-12 col-md-12 co-sm-12">
                    {{ form.id }}
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 p-2">
                            <div class="form-group formset">
                                {{ form.name|add_class:'textinput textInput form-control typeahead'}}
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row p-2">
                                        <div class="values-field p-0">
                                            <div class="form-group formset pr-1">
                                                {{ form.values | add_class:'tags-input' }}
                                                <small id="hint_id_cost" class="form-text text-muted">{{ form.values.help_text }}</small>
                                            </div>
                                        </div>
                                        <div class="delete-btn p-0">
                                            <p class="btn btn-link m-0" id="delete-item-modifier" count="{{ forloop.counter }}" prefix="modifiers"> Cancel</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1"></div>
                    </div>
                </div>
            </div>
        {% else %}
        {% if forloop.counter > 1 %}
            <div class="row">
                <div class="col-lg-12">
                    {{ form.id }}
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 p-1">
                            <div class="form-group m-0">
                                {{ form.name|add_class:'form-control textinput typeahead' }}
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 p-1">
                            <div class="form-group m-0">
                                {{ form.values|add_class:'form-control textinput tags-input' }}
                                <small id="hint_id_cost" class="form-text text-muted">{{ form.values.help_text }}</small>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 p-1 pl-3">
                            <div class="form-group m-0">
                                <div class="form-check pl-4">
                                    {{ form.DELETE|add_class:'form-check-input check-input-delete modifier-delete' }}
                                    <span class="fa fa-exclamation-triangle warning-sign" data-toggle="tooltip" data-html="true" data-placement="bottom" title="<b>Warning!</b> These item will be deleted when form save."></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-lg-12">
                    {{ form.id }}
                    <div class="row">
                        <div class="col-lg-7 col-md-7 col-sm-7 p-1">
                            <div class="form-group m-0">
                                <label for="{{ form.name.id_for_label }}" class="col-form-label requiredField">{{ form.name.label }}<span class="asteriskField">*</span></label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 p-1">
                            <div class="form-group m-0">
                                <label for="{{ form.values.id_for_label }}" class="col-form-label requiredField">{{ form.values.label }}<span class="asteriskField">*</span></label>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 p-1">
                            <div class="form-group m-0">
                                <label for="{{ form.delete.id_for_label }}" class="col-form-label">{{ form.DELETE.label }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 p-1">
                            <div class="form-group m-0">
                                {{ form.name|add_class:'form-control textinput typeahead' }}
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 p-1">
                            <div class="form-group m-0">
                                {{ form.values|add_class:'form-control textinput tags-input' }}
                                <small id="hint_id_cost" class="form-text text-muted">{{ form.values.help_text }}</small>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 p-1 pl-3">
                            <div class="form-group m-0">
                                <div class="form-check pl-4">
                                    {{ form.DELETE|add_class:'form-check-input check-input-delete modifier-delete' }}
                                    <span class="fa fa-exclamation-triangle warning-sign" data-toggle="tooltip" data-html="true" data-placement="bottom" title="<b>Warning!</b> These item will be deleted when form save."></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% endif %}
    {% else %}
        {% if forloop.counter > 1 %}
            <div class="row">
                <div class="col-lg-12 col-md-12 co-sm-12">
                    {{ form.id }}
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 p-1">
                            <div class="form-group m-0">
                                {{ form.name|add_class:'textinput textInput form-control typeahead'}}
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9 p-1">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-10 col-md-10 col-sm-2">
                                            <div class="form-group formset">
                                                {{ form.values | add_class:'tags-input' }}
                                                <small id="hint_id_cost" class="form-text text-muted">{{ form.values.help_text }}</small>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2">
                                            <p class="btn btn-link m-0" id="delete-item-modifier" count="{{ forloop.counter }}" prefix="modifiers"> Cancel</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-lg-12 col-md-12 co-sm-12">
                    {{ form.id }}
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 p-1">
                            <div class="form-group  m-0">
                                <label for="{{ form.name.id_for_label }}" class="col-form-label requiredField">{{ form.name.label }}<span class="asteriskField">*</span></label>
                                {{ form.name|add_class:'textinput textInput form-control typeahead'}}
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9 p-1">  
                            <div class="form-group formset pr-1">
                                <label for="{{ form.values.id_for_label }}" class="col-form-label requiredField">{{ form.values.label }}<span class="asteriskField">*</span></label>
                                {{ form.values | add_class:'tags-input' }}
                                <small id="hint_id_cost" class="form-text text-muted">{{ form.values.help_text }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endfor %}

