{% extends "dashboard/base_datatable.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Variants" %}{% endblock %}

{% block library_active_class %}active{% endblock %}
{% block mobile_library_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_library_show %}show{% endblock %}
{% block library_itemlibrary_active_class %}submenu-active{% endblock %}
{% block mobile_library_itemlibrary_active_class %}submenu-active{% endblock %}

{% block content_class %}pt-3{% endblock %}
{% block tab_div_style %}background: white; border-bottom: 1px solid #e6e7e9;{% endblock %}
{% block tab_ol_class %}breadcrumb-tabs{% endblock %}
{% block breadcrumb_active %}breadcrumb-item active{% endblock %}
{% block tab_section_style %}border-bottom: 1px solid #e6e7e9;{% endblock %}

{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}

{% block tab_list %}
  <ul class="nav nav-tabs pt-2" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" href="#variants">{% trans "Variants" %}</a>
    </li>
    <li class="nav-item active">
      {% if product.classification == "Manufactured" %}
        <a class="nav-link" href="{% url 'catalogue:product_manufacture_update' product.pk %}" >{% trans "Detail" %}</a>
      {% else %}
        <a class="nav-link" href="{% url 'catalogue:product_update' product.pk %}" >{% trans "Detail" %}</a>
      {% endif %}
    </li>
  </ul>
{% endblock %}

{% block action_button %}
<div class="p-0 position-fixed" style="right:20px;">
  
  {% if product.classification == "Manufactured" %}
    <a href="{% url 'catalogue:product_variant_manufactured_create' product.pk %}" class="btn btn-primary btn-lg fixed-top-content">{% trans "Add Variant" %}</a>
  {% else %}
    <a href="{% url 'catalogue:product_variant_create' product.pk %}" class="btn btn-primary btn-lg fixed-top-content">{% trans "Add Variant" %}</a>
  {% endif %}
    
  
</div>
{% endblock action_button %}

{% block datatable_title %}{{ product.name }} {% trans "Variants" %}{% endblock datatable_title %}

{% block datatable_breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item"><a href="{% url 'catalogue:product_list' %}" class="text-link">{% trans "Product List" %}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'catalogue:product_update' product.id %}" class='text-link'>{{ product.name }}</a></li>
  <li class="breadcrumb-item active">Product Variants</li>
{% endblock datatable_breadcrumb %}

{% block datatable_id %}tbl_variant{% endblock datatable_id %}

{% block datatable_thead_tr %}
    <th>{% trans 'Name' %}</th>
    <th>{% trans 'SKU' %}</th>
    <th class="text-right">{% trans 'Price' %}</th>
    <th class="text-right">{% trans 'Cost' %}</th>
    <th class="no-sort">{% trans 'Status' %}</th>
    <th class="no-sort text-center">{% trans 'Actions' %}</th>
{% endblock datatable_thead_tr %}

{% block datatable_filter %}
<tr class='datatable-filter'>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}" onkeypress="return isNumberKey(event)">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}" onkeypress="return isNumberKey(event)">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group mtm">
      <div class="selectdiv">
      <label class="input-group">
      <select class="form-control form-control-sm custom-select extra-table-control">
        <option value='false'>{% trans 'Active' %}</option>
        <option value='show'>{% trans 'Show All' %}</option>
        <option value='true'>{% trans 'Archived' %}</option>
      </select>
      </label>
      </div>
    </div>
  </td>
  <td></td>
</tr>
{% endblock datatable_filter %}

{% block modal %}
<div class="modal fade" id="delete-product-Modal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">{% trans "Delete Product" %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>{% trans "You will permanently delete these product variant from your KAWN channel." %}</p>
          <p> {% trans "Are you sure to delete" %} <b>{{ product.name }}</b>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-submit-close" data-dismiss="modal">{% trans "Close" %}</button>
        <button type="button" class="btn btn-primary delete-product" data-id="{{ product.id }}">
          <span id="delete-product-text">{% trans "Delete" %}</span>
          <i id="delete-product-icon" class=""></i>
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock modal %}

{% block javascript %}
{{ block.super }}
<!-- place project specific Javascript in this file -->
<script>
  function isNumberKey(evt){
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57))
        return false;
    return true;
  }
</script>
<script>
  $(document).ready(function () {
    base_url = "{% url 'catalogue:data_variant_product' product.id %}";
    archive_url = "{% url 'catalogue:productvariant_archive' %}";
    activate_url = "{% url 'catalogue:productvariant_activate' %}";
    delete_url = "{% url 'catalogue:product_variant_delete' %}";

    tableOptions = {
      pageLength: 25,
      columnDefs: [
        {targets: 'no-sort', orderable: false},
        {targets: 'text-center',  className: 'text-center'},
        {
          targets: 'text-right',  className: 'text-right',
          render: function (data, type, full, meta) {
            return parseInt(data).toLocaleString('id')
          },
        },
        {
          'targets': [5],
          'render': function (data, type, full, meta) {
            menu_toggle = '';
            data_modal = '';
            if(data.archived){
              menu_toggle = '<a class="dropdown-item" href="#" data-toggle="modal" data-target="#activate-'+data.id+'-Modal"> \
                              {% trans "Activate" %} \
                            </a>';

              data_modal = '<div class="modal fade" id="activate-'+data.id+'-Modal" tabindex="-1" role="dialog" aria-labelledby="activateModalLabel" aria-hidden="true"> \
                            <div class="modal-dialog" role="document"> \
                              <div class="modal-content"> \
                                <div class="modal-header"> \
                                  <h5 class="modal-title" id="activateModalLabel">Activate Variant</h5> \
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"> \
                                    <span aria-hidden="true">&times;</span> \
                                  </button> \
                                </div> \
                                <div class="modal-body"> \
                                  {% trans "Are you sure to activate" %} <b>'+data.name+'</b>?\
                                </div> \
                                <div class="modal-footer"> \
                                  <button type="button" class="btn btn-secondary btn-submit-close" data-dismiss="modal">{% trans "Close" %}</button> \
                                  <button type="button" class="btn btn-primary activate" data-id="'+data.id+'"> \
                                    <span id="activate-text">{% trans "Activate" %}</span> \
                                    <i id="activate-icon" class=""></i> \
                                  </button> \
                                </div> \
                              </div> \
                            </div> \
                          </div>';
            }else{
              menu_toggle = '<a class="dropdown-item" href="#" data-toggle="modal" data-target="#archive-'+data.id+'-Modal"> \
                              {% trans "Archive" %} \
                            </a>';

              data_modal = '<div class="modal fade" id="archive-'+data.id+'-Modal" tabindex="-1" role="dialog" aria-labelledby="archiveModalLabel" aria-hidden="true"> \
                              <div class="modal-dialog" role="document"> \
                                <div class="modal-content"> \
                                  <div class="modal-header"> \
                                    <h5 class="modal-title" id="archiveModalLabel">Archived Variant</h5> \
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> \
                                      <span aria-hidden="true">&times;</span> \
                                    </button> \
                                  </div> \
                                  <div class="modal-body"> \
                                      {% trans "Are you sure to archive" %} <b>'+data.name+'</b>?\
                                  </div> \
                                  <div class="modal-footer"> \
                                    <button type="button" class="btn btn-secondary btn-submit-close" data-dismiss="modal">{% trans "Close" %}</button> \
                                    <button type="button" class="btn btn-primary archive" data-id="'+data.id+'"> \
                                      <span id="archive-text">{% trans "Archive" %}</span> \
                                      <i id="archive-icon" class=""></i> \
                                    </button> \
                                  </div> \
                                </div> \
                              </div> \
                            </div>';
            }
            data = '<a class="action-toggle" id="product-'+data.id+'-dropdown" href="#" data-toggle="dropdown"> \
                      <i class="fa fa-ellipsis-h" aria-hidden="true"></i> \
                    </a>\
                    <div class="dropdown-menu action-toggle-menu" aria-labelledby="product-'+data.id+'-dropdown">\
                      <a class="dropdown-item" href="'+ data.edit +'"> \
                        Edit \
                      </a>\
                      '+menu_toggle+'\
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete-'+data.id+'-Modal"> \
                        {% trans "Delete" %} \
                      </a> \
                    </div>'+ data_modal+ '\
                    <div class="modal fade" id="delete-'+data.id+'-Modal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true"> \
                      <div class="modal-dialog" role="document"> \
                        <div class="modal-content"> \
                          <div class="modal-header"> \
                            <h5 class="modal-title" id="deleteModalLabel">Delete Variant</h5> \
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"> \
                              <span aria-hidden="true">&times;</span> \
                            </button> \
                          </div> \
                          <div class="modal-body"> \
                              <p>{% trans "You will permanently delete these product variant from your KAWN channel." %}</p> \
                              <p> {% trans "Are you sure to delete" %} <b>'+data.name+'</b>?</p>\
                          </div> \
                          <div class="modal-footer"> \
                            <button type="button" class="btn btn-secondary btn-submit-close" data-dismiss="modal">{% trans "Close" %}</button> \
                            <button type="button" class="btn btn-primary delete" data-id="'+data.id+'"> \
                              <span id="delete-text">{% trans "Delete" %}</span> \
                              <i id="delete-icon" class=""></i> \
                            </button> \
                          </div> \
                        </div> \
                      </div> \
                    </div>';
            return data;
          },
        },
      ],
    }

    function tog(v){return v?'addClass':'removeClass';}
    $(document).on('input', '.clearable', function(){
        $(this)[tog(this.value)]('x');
    }).on('mousemove', '.x', function( e ){
        $(this)[tog(this.offsetWidth-18 < e.clientX-this.getBoundingClientRect().left)]('onX');
    }).on('touchstart click', '.onX', function( ev ){
        ev.preventDefault();
        $(this).removeClass('x onX').val('').change();
    });

    $(document).on('click', '.archive', function(e){
      var id = $(this).attr("data-id");
      e.preventDefault();

      $.ajax({
        type: 'POST',
          url: archive_url,
          dataType: 'json',
          data: {
            id:id,
            parent: '{{ product.id }}'
          },
        beforeSend: function(jqXHR, settings){
          jqXHR.setRequestHeader("x-csrftoken", '{{ csrf_token }}');
          $(".btn-submit-close").attr("disabled", "disabled");
          $(".archive").attr("disabled", "disabled");
          $("#archive-text").html("Loading");
          $("#archive-icon").addClass("fa fa-spinner fa-spin");
        },
        success: function(result){
          if(result.status == 'success'){
            $(".btn-submit-close").attr("disabled", "disabled");
            $(".archive").attr("disabled", "disabled");
            $("#archive-text").html("Refreshing Page");
            $("#archive-icon").addClass("fa fa-spinner fa-spin");
              setTimeout(function(){
                window.location.href = '{% url "catalogue:product_variant_list" product.id %}'
              }, 3000);
          }
        }
      });
    });

    $(document).on('click', '.activate', function(e){
      var id = $(this).attr("data-id");
      e.preventDefault();

      $.ajax({
        type: 'POST',
          url: activate_url,
          dataType: 'json',
          data: {
            id:id,
            parent: '{{ product.id }}'
          },
        beforeSend: function(jqXHR, settings){
          jqXHR.setRequestHeader("x-csrftoken", '{{ csrf_token }}');
          $(".btn-submit-close").attr("disabled", "disabled");
          $(".activate").attr("disabled", "disabled");
          $("#activate-text").html("Loading");
          $("#activate-icon").addClass("fa fa-spinner fa-spin");
        },
        success: function(result){
          if(result.status == 'success'){
            $(".btn-submit-close").attr("disabled", "disabled");
            $(".activate").attr("disabled", "disabled");
            $("#activate-text").html("Refreshing Page");
            $("#activate-icon").addClass("fa fa-spinner fa-spin");
              setTimeout(function(){
                window.location.href = '{% url "catalogue:product_variant_list" product.id %}'
              }, 3000);
          }
        }
      });
    });

    $(document).on('click', '.delete', function(e){
      var id = $(this).attr("data-id");
      e.preventDefault();

      $.ajax({
        type: 'POST',
          url: delete_url,
          dataType: 'json',
          data: {
            id:id,
            parent: '{{ product.id }}'
          },
          beforeSend: function(jqXHR, settings){
            jqXHR.setRequestHeader("x-csrftoken", '{{ csrf_token }}');
            $(".btn-submit-close").attr("disabled", "disabled");
            $(".delete").attr("disabled", "disabled");
            $("#delete-text").html("Loading");
            $("#delete-icon").addClass("fa fa-spinner fa-spin");
          },
          success: function(result){
            if(result.status == 'success'){
              $(".btn-submit-close").attr("disabled", "disabled");
              $(".delete").attr("disabled", "disabled");
              $("#delete-text").html("Refreshing Page");
              $("#delete-icon").addClass("fa fa-spinner fa-spin");
                setTimeout(function(){
                  window.location.href = '{% url "catalogue:product_variant_list" product.id %}'
                }, 3000);
            }
          }
      });
    });

    $(document).on('click', '.delete-product', function(e){
      var id = $(this).attr("data-id");
      e.preventDefault();

      $.ajax({
        type: 'POST',
          url: '{% url "catalogue:product_delete" %}',
          dataType: 'json',
          data: {
            id:id,
          },
          beforeSend: function(jqXHR, settings){
            jqXHR.setRequestHeader("x-csrftoken", '{{ csrf_token }}');
            $(".btn-submit-close").attr("disabled", "disabled");
            $(".delete-product").attr("disabled", "disabled");
            $("#delete-product-text").html("Loading");
            $("#delete-product-icon").addClass("fa fa-spinner fa-spin");
          },
          success: function(result){
            if(result.status == 'success'){
              $(".btn-submit-close").attr("disabled", "disabled");
              $(".delete-product").attr("disabled", "disabled");
              $("#delete-product-text").html("Refreshing Page");
              $("#delete-product-icon").addClass("fa fa-spinner fa-spin");
                setTimeout(function(){
                  window.location.href = '{% url "catalogue:product_list" %}'
                }, 3000);
            }
          }
      });
    });
  });
</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>

{% endblock %}
