{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Product" %}{% endblock %}

{% block library_active_class %}active{% endblock %}
{% block mobile_library_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_library_show %}show{% endblock %}
{% block library_itemlibrary_active_class %}submenu-active{% endblock %}
{% block mobile_library_itemlibrary_active_class %}submenu-active{% endblock %}
{% block content_header %}{% trans "Add Product Modifier" %}{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}

{% block sub_content %}
  <div class="w-100 pt-3">
    <form method="post" action="." id="product-modifier">
      {% crispy form %}
      <div class="d-flex justify-content-end">
        <a href="{% url 'catalogue:product_modifier_list' product.pk %}"  class="btn btn-light">{% trans "Back" %}</a>
        <input type="submit" class="btn btn-primary ml-1" value="{% trans 'Create' %}"/>
      </div>
    </form>
  </div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  {{ form.media }}
  <script>
    var updateModifierProductUrl = "{% url 'catalogue:update_form_modifier' %}";
  </script>
  <script>
    $(document).ready(function($){

      $('#product-modifier').attr('novalidate', 'novalidate');
      function updateformmodifer(total_form, prefix, initial_data, modifieropt){
        $.ajax({
          type: 'POST',
          url: updateModifierProductUrl,
          dataType: 'json',
          data:{
            prefix: prefix,
            total_form: total_form,
            initial_data: initial_data,
            modifieropt: modifieropt
          },
          beforeSend: function(jqXHR, settings){
            jqXHR.setRequestHeader("x-csrftoken", '{{ csrf_token }}');
          },
          success: function(response){
            $('#div_modifier_products').html(response.data.form);
          }
        });
      }
      $('.add-modifieropt').on('click', function(e){
        e.preventDefault();
        var prefix = $(this).attr("id");
        var modifieropt = parseInt($('.total-modifieropt').val());
        var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        var initial_data = {};
        for(i=0; i < total; i++) {
          initial_data[prefix + '-' + i +'-value'] = $('#id_'+prefix+'-'+i+'-value').val();
        }

        var initial = JSON.stringify(initial_data);
        total++;
        updateformmodifer(total, prefix, initial, modifieropt);
        return false;
      });

      $(document).on('click', '#delete-item-modifieropt', function(e){
        e.preventDefault();
        var prefix = $(this).attr("prefix");
        var modifieropt = parseInt($('.total-modifieropt').val());
        var count = $(this).attr("count");
        var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        var initial_data = {};
        if(count < total){
          for(i=0; i < total; i++){
            if(i > count - 1 ){
              idx = i-1;
              initial_data[prefix + '-' + idx +'-value'] = $('#id_'+prefix+'-'+i+'-value').val();
            }else if(i < count-1){
              initial_data[prefix + '-' + i +'-value'] = $('#id_'+prefix+'-'+i+'-value').val();
            }
          }
        }else{
          for(i=0; i < total; i++){
            initial_data[prefix + '-' + i +'-value'] = $('#id_'+prefix+'-'+i+'-value').val();
          }
        }
        var initial = JSON.stringify(initial_data);
        total-=1;
        updateformmodifer(total, prefix, initial, modifieropt);
        return false;
      });
    });
  </script>
{% endblock %}
