{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% load import_export_tags %}

{% block title %}{% trans "Product" %}{% endblock %}

{% block library_active_class %}active{% endblock %}
{% block mobile_library_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_library_show %}show{% endblock %}
{% block library_itemlibrary_active_class %}submenu-active{% endblock %}
{% block mobile_library_itemlibrary_active_class %}submenu-active{% endblock %}
{% block content_header %}{% trans "Import Product" %}{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}


{% block sub_content %}
<div class="tab-content mt-5" id="product-import-tab-content">
  <div class="tab-pane show active" id="product-import" role="product-import" aria-labelledby="product-import-tab">
  <div class="w-100">
      <div class="card-body py-0 px-3">
        <div class="text-center">
          <div style="margin-top:32px; margin-bottom:32px;">
              <h3 class="mb-3">{% trans "Do you have a product spreadsheet?" %}</h3>
          </div>
          <div class="row row-cols-2 justify-content-center">
            <div class="col-xl-3 col-lg-4 col-md-4">
              <div class="card h-100 p-3">
                <div class="card-body">
                  <a href="{% url 'catalogue:product_import_form' %}">
                    <img alt="disable" src="{% static 'images/csv_file.svg' %}" style="">
                  </a>
                  <h5 class="card-title mt-3">{% trans "Import KAWN template CSV file here" %}</h5>
                  <p class="card-text text-muted">{% trans "I have a spreadsheet with product data ready to upload." %}</p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4">
              <div class="card h-100 p-3">
                <div class="card-body">
                  <a href="{% static 'imports/product-import-template.csv' %}" target="_blank" rel="noopener noreferrer" >
                    <img alt="disable" src="{% static 'images/file_text.svg' %}" style="">
                  </a>
                  <h5 class="card-title mt-3">{% trans "Get Kawn Template here" %}</h5>
                  <p class="card-text text-muted">{% trans "I need a product spreadsheet template." %}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  {{ form.media }}
{% endblock %}
