{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Update Product Composite" %}{% endblock %}

{% block css %}
  {{ block.super }}
  <!-- Your stuff: Third-party css libraries go here -->
  {{ form.media.css }}
  {{ formset.media.css }}
  <style>
    .formset-wrapper .invalid-feedback {
      margin: 0;
    }
    .table {
      table-layout: fixed;
    }
    .table tr th:last-child{
      width: 30px !important;
    }
    .table tr th:first-child{
      width: 40% !important;
    }
    .select2-container {
      width: 100% !important;
      min-width: 3rem !important;
    }
  </style>
{% endblock %}

{% block library_active_class %}active{% endblock %}
{% block mobile_library_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_library_show %}show{% endblock %}
{% block product_composite_active_class %}submenu-active{% endblock %}
{% block mobile_product_composite_active_class %}submenu-active{% endblock %}
{% block content_header %}{{ object.sku }} {{ object.name }} - {% trans "Composite Detail" %}{% endblock %}

{% block content_class %}fixed-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block tab_div_style %}background: white; border-bottom: 1px solid #e6e7e9;{% endblock %}
{% block tab_ol_class %}breadcrumb-tabs{% endblock %}
{% block breadcrumb_active %}breadcrumb-item active{% endblock %}
{% block tab_section_style %}border-bottom: 1px solid #e6e7e9;{% endblock %}
{% block tab_div2_class %}px-2{% endblock %}
{% block action_div_style %}background: white; border-top: 1px solid #d7d7db;{% endblock %}

{% block submit_form %}
  <div class="d-flex justify-content-end" id="fixed-bottom-button">
    <a href="{% url 'catalogue:product_composite_list' %}"  class="btn btn-light">{% trans "Back" %}</a>
    <input type="submit" class="btn btn-primary ml-1" id="submitBtn" value="{% trans 'Save' %}"/>
  </div>
{% endblock %}

{% block tab_list %}
  <ul class="nav nav-tabs pt-2" id="myTab" role="tablist">
    <li class="nav-item active">
      <a class="nav-link active" href="#detail" >{% trans "Detail" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'catalogue:product_availability' object.pk %}">{% trans "Outlet" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'catalogue:product_pricing' object.pk %}" >{% trans "Pricing" %}</a>
    </li>
  </ul>
{% endblock %}


{% block sub_content %}
  <div class="w-100 pt-3">
    <form enctype="multipart/form-data" method="post" action="." id="product-composite-form">
      {% crispy form %}
      {% crispy formset formset_helper %}
      <div class="justify-content-end {% if grid %}{{ grid}}{% else %}col-6{% endif %} p-0" id="fixed-button-content" style="display: flex;">
        <a href="{% url 'catalogue:product_composite_list' %}"  class="btn btn-secondary">{% trans "Back" %}</a>
        <input type="submit" class="btn btn-primary ml-1" value="{% trans 'Save' %}"/>
      </div>
    </form>
  </div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  {{ form.media.js }}
  <script src="{% static 'js/jquery.formset.js' %}"></script>
  <script src="{% static 'js/button-scrollbar.js' %}"></script>
  <script>
    var srcImage = "{{ product.image_location }}";
    function preview_image(src){
      $('.dropzone-wrapper').css("background", "url({% get_media_prefix %}" + src +") no-repeat center");
      $('.dropzone-wrapper').css("background-size", "contain");
      $('.dropzone-wrapper').css('border', '0');
      $('.dropzone-desc').hide();
    }
  </script>
  <script>
    $(document).ready(function($){
      $('.formset-wrapper').formset();
      
      $("#submitBtn").click(function () {
         $("#product-composite-form").submit();
      });

      if($('#id_image_location').hasClass('is-invalid')){
        $('.dropzone-box').css('border', '1px solid #dc3545', "!important");
      }
      if(srcImage != ""){
        preview_image(srcImage);
      }

      $("#product-composite-form_table").on("change", ".formset-data-delete", function(){
        tr_element = $(this).closest("tr");
        tr_element.hide()
      });
  
      $("#product-composite-form_table").on("change", ".product-select", function(){
        var price = $(this).closest("tr").find(".product-price");
        $.ajax({
          url: "{% url 'catalogue:product_composite_material_get_price' %}",
          type: "GET",
          data: {
            product_pk: $(this).val()
          }, success: function(response){
            console.log($(price).val())
            $(price).val(response.result.price);
          }
        });
      });

    });
  </script>
{% endblock %}
