{% load crispy_forms_tags %}
{% load add_attribute_fields %}


{{ formset.management_form }}
{% for form in formset %}
    {% if context.total_variant %}
        {% if forloop.counter > context.total_variant %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        {{ form.id }}
                        {{ form.parent.as_hidden }}
                        {{ form.catalogue.as_hidden }}
                        <div class="col-lg-3 col-md-3 col-sm-3 p-1">
                            <div class="form-group m-0">
                                {{ form.name|add_class:'textinput textInput form-control'}}
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 p-1">
                            <div class="form-group m-0">
                                {{ form.sku|add_class:'textinput textInput form-control'}}
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 p-1">
                            <div class="form-group m-0">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">IDR</span>
                                    </div>
                                    {{ form.price|add_class:'form-control textinput textInput form-control numeric' }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 p-1">
                            <div class="row">
                                <div class="col-lg-9 col-md-9 col-sm-9">
                                    <div class="row">
                                        <div class="col-lg-8 col-md-8 col-sm-8">
                                            <div class="form-group m-0">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">IDR</span>
                                                    </div>
                                                    {{ form.cost|add_class:'form-control textinput textInput form-control numeric' }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 pl-0">
                                            <div class="row">
                                                <p class="btn btn-link" id="delete-item-variant" count="{{ forloop.counter }}" prefix="variants"> Cancel</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            {% if forloop.counter > 1 %}
                <div class="row">
                    {{ form.id }}
                    {{ form.parent.as_hidden }}
                    {{ form.catalogue.as_hidden }}
                    <div class="col-lg-3 col-md-3 col-sm-3 p-1">
                        <div class="form-group m-0">
                            {{ form.name|add_class:'textinput textInput form-control'}}
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 p-1">
                        <div class="form-group m-0">
                            {{ form.sku|add_class:'textinput textInput form-control'}}
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 p-1">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">IDR</span>
                                </div>
                                {{ form.price|add_class:'form-control textinput textInput form-control numeric' }}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 p-1">
                        <div class="row">
                            <div class="col-lg-9 col-md-9 col-sm-9">
                                <div class="form-group m-0">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">IDR</span>
                                        </div>
                                        {{ form.cost|add_class:'form-control textinput textInput form-control numeric' }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="row">
                                    <div class="form-group m-0 pl-2">
                                        <div class="form-check pl-3">
                                            {{ form.DELETE|add_class:'form-check-input check-input-delete variant-delete' }}
                                            <span class="fa fa-exclamation-triangle warning-sign" data-toggle="tooltip" data-html="true" data-placement="bottom" title="<b>Warning!</b> These item will be deleted when form save."></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 p-1">
                                        <div class="form-group m-0">
                                            <label for="{{ form.name.id_for_label }}" class="col-form-label requiredField">{{ form.name.label }}<span class="asteriskField">*</span></label>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 p-1">
                                        <div class="form-group m-0">
                                            <label for="{{ form.sku.id_for_label }}" class="col-form-label requiredField">{{ form.sku.label }}<span class="asteriskField">*</span></label>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 p-1">
                                        <div class="form-group m-0">
                                            <label for="{{ form.price.id_for_label }}" class="col-form-label requiredField">{{ form.price.label }}<span class="asteriskField">*</span></label>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 p-1">
                                        <div class="row">
                                            <div class="col-lg-9 col-md-9 col-sm-9">
                                                <div class="form-group m-0">
                                                    <label for="{{ form.cost.id_for_label }}" class="col-form-label">{{ form.cost.label }}</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 pl-0">
                                                <div class="form-group m-0">
                                                    <label for="{{ form.DELETE.id_for_label }}" class="col-form-label">{{ form.DELETE.label }}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {{ form.id }}
                            {{ form.parent.as_hidden }}
                            {{ form.catalogue.as_hidden }}
                            <div class="col-lg-3 col-md-3 col-sm-3 p-1">
                                <div class="form-group m-0">
                                    {{ form.name|add_class:'textinput textInput form-control'}}
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 p-1">
                                <div class="form-group m-0">
                                    {{ form.sku|add_class:'textinput textInput form-control'}}
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 p-1">
                                <div class="form-group m-0">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">IDR</span>
                                        </div>
                                        {{ form.price|add_class:'form-control textinput textInput form-control numeric' }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 p-1">
                                <div class="row">
                                    <div class="col-lg-9 col-md-9 col-sm-9">
                                        <div class="form-group m-0">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">IDR</span>
                                                </div>
                                                {{ form.cost|add_class:'form-control textinput textInput form-control numeric' }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="row">
                                            <div class="form-group m-0 pl-2">
                                                <div class="form-check pl-3">
                                                    {{ form.DELETE|add_class:'form-check-input check-input-delete variant-delete' }}
                                                    <span class="fa fa-exclamation-triangle warning-sign" data-toggle="tooltip" data-html="true" data-placement="bottom" title="<b>Warning!</b> These item will be deleted when form save."></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% else %}
        {% if forloop.counter > 1 %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        {{ form.id }}
                        {{ form.parent.as_hidden }}
                        {{ form.catalogue.as_hidden }}
                        <div class="col-lg-3 col-md-3 col-sm-3 p-1">
                            <div class="form-group m-0">
                                {{ form.name|add_class:'form-control textinput textInput form-control' }}
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 p-1">
                            <div class="form-group m-0">
                                {{ form.sku|add_class:'form-control textinput textInput form-control' }}
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 p-1">
                            <div class="form-group m-0">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">IDR</span>
                                    </div>
                                    {{ form.price|add_class:'form-control textinput textInput form-control numeric' }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 p-1">
                            <div class="row">
                                <div class="col-lg-7 col-md-7 col-sm-7">
                                    <div class="form-group m-0">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">IDR</span>
                                            </div>
                                            {{ form.cost|add_class:'form-control textinput textInput form-control numeric' }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-5">
                                    <div class="row">
                                        <p class="btn btn-link" id="delete-item-variant" count="{{ forloop.counter }}" prefix="variants"> Cancel</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-lg-12">
                    {{ form.id }}
                    {{ form.parent.as_hidden }}
                    {{ form.catalogue.as_hidden }}
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 p-1">
                            <div class="form-group m-0">
                                <label for="{{ form.name.id_for_label }}" class="col-form-label requiredField">{{ form.name.label }}<span class="asteriskField">*</span></label>
                                {{ form.name|add_class:'form-control textinput textInput form-control' }}
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 p-1">
                            <div class="form-group m-0">
                                <label for="{{ form.sku.id_for_label }}" class="col-form-label requiredField">{{ form.sku.label }}<span class="asteriskField">*</span></label>
                                {{ form.sku|add_class:'form-control textinput textInput form-control' }}
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 p-1">
                            <div class="form-group m-0">
                                <label for="{{ form.price.id_for_label }}" class="col-form-label requiredField">{{ form.price.label }}<span class="asteriskField">*</span></label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">IDR</span>
                                    </div>
                                    {{ form.price|add_class:'form-control textinput textInput form-control numeric' }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 p-1">
                            <div class="form-group m-0">
                                <label for="{{ form.cost.id_for_label }}" class="col-form-label">{{ form.cost.label }}</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">IDR</span>
                                    </div>
                                    {{ form.cost|add_class:'form-control textinput textInput form-control numeric' }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endfor %}

