{% load crispy_forms_tags %}
{% load add_attribute_fields %}

{{ formset.management_form }}
{% for form in formset %}
    {% if context.total_product %}
        {% if forloop.counter > context.total_product %}
                <div class="col-lg-12">
                    {{ form.id }}
                    {{ form.composite_product }}
                    <div class="row">
                        <div class="col-lg-4 pl-0 pr-3 py-1">
                            <div class="form-group m-0">
                                {{ form.product|add_class:'custom-select form-control composite' }}
                            </div>
                        </div>
                        <div class="col-lg-3 pl-0 pr-3 py-1">
                            <div class="form-group m-0">
                                {{ form.price|add_class:'form-control textinput textInput form-control' }}
                            </div>
                        </div>
                        <div class="col-lg-4 pl-0 pr-3 py-1">
                            <div class="form-group m-0">
                                {{ form.product_quantity|add_class:'form-control textinput textInput form-control' }}
                            </div>
                        </div>
                        <div class="col-lg-1 pl-0 pr-3 py-1">
                          <div class="row">
                              <p class="btn btn-link m-0" id="delete-item-product" count="{{ forloop.counter }}" prefix="product"> Cancel</p>
                          </div>
                        </div>
                    </div>
                </div>
        {% else %}
            {% if forloop.counter > 1 %}
                    <div class="col-lg-12">
                        {{ form.id }}
                        {{ form.composite_product }}
                        <div class="row">
                            <div class="col-lg-4 pl-0 pr-3 py-1">
                                <div class="form-group m-0">
                                    {{ form.product|add_class:'custom-select form-control composite' }}
                                </div>
                            </div>
                            <div class="col-lg-3 pl-0 pr-3 py-1">
                                <div class="form-group m-0">
                                    {{ form.price|add_class:'form-control textinput textInput form-control' }}
                                </div>
                            </div>
                            <div class="col-lg-4 pl-0 pr-3 py-1">
                                <div class="form-group m-0">
                                    {{ form.product_quantity|add_class:'form-control textinput textInput form-control' }}
                                </div>
                            </div>
                            <div class="col-lg-1 pl-0 pr-3 py-1 pl-3">
                                <div class="form-group m-0">
                                    <div class="form-check pl-4">
                                        {{ form.DELETE|add_class:'form-check-input check-input-delete' }}
                                        <span class="fa fa-exclamation-triangle warning-sign" data-toggle="tooltip" data-html="true" data-placement="bottom" title="<b>Warning!</b> These item will be deleted when form save."></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            {% else %}
                    <div class="col-lg-12">
                        {{ form.id }}
                        {{ form.composite_product }}
                        <div class="row">
                            <div class="col-lg-4 pl-0 pr-3 py-1">
                                <div class="form-group m-0">
                                    <label for="{{ form.product.id_for_label }}" class="col-form-label requiredField">{{ form.product.label }}<span class="asteriskField">*</span></label>
                                </div>
                            </div>
                            <div class="col-lg-3 pl-0 pr-3 py-1">
                                <div class="form-group m-0">
                                    <label for="{{ form.price.id_for_label }}" class="col-form-label">{{ form.price.label }}</label>
                                </div>
                            </div>
                            <div class="col-lg-4 pl-0 pr-3 py-1">
                                <div class="form-group m-0">
                                    <label for="{{ form.product_quantity.id_for_label }}" class="col-form-label requiredField">{{ form.product_quantity.label }}<span class="asteriskField">*</span></label>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 pl-0 pr-3 py-1">
                                <div class="form-group m-0">
                                    <label for="{{ form.delete.id_for_label }}" class="col-form-label">{{ form.DELETE.label }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 pl-0 pr-3 py-1">
                                <div class="form-group m-0">
                                    {{ form.product|add_class:'custom-select form-control composite' }}
                                </div>
                            </div>
                            <div class="col-lg-3 pl-0 pr-3 py-1">
                                <div class="form-group m-0">
                                    {{ form.price|add_class:'form-control textinput textInput form-control' }}
                                </div>
                            </div>
                            <div class="col-lg-4 pl-0 pr-3 py-1">
                                <div class="form-group m-0">
                                    {{ form.product_quantity|add_class:'form-control textinput textInput form-control' }}
                                </div>
                            </div>
                            <div class="col-lg-1 pl-0 pr-3 py-1 pl-3">
                                <div class="form-group m-0">
                                    <div class="form-check pl-4">
                                        {{ form.DELETE|add_class:'form-check-input check-input-delete' }}
                                        <span class="fa fa-exclamation-triangle warning-sign" data-toggle="tooltip" data-html="true" data-placement="bottom" title="<b>Warning!</b> These item will be deleted when form save."></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            {% endif %}
        {% endif %}
    {% else %}
        {% if forloop.counter > 1 %}
                <div class="col-lg-12">
                    {{ form.id }}
                    {{ form.composite_product }}
                    <div class="row">
                        <div class="col-lg-4 pl-0 pr-3 py-1">
                            <div class="form-group m-0">
                                {{ form.product|add_class:'custom-select form-control composite' }}
                            </div>
                        </div>
                        <div class="col-lg-4 pl-0 pr-3 py-1">
                            <div class="form-group m-0">
                                {{ form.price|add_class:'form-control textinput textInput form-control' }}
                            </div>
                        </div>
                        <div class="col-lg-4 pl-0 pr-3 py-1">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="form-group m-0">
                                        {{ form.product_quantity|add_class:'form-control textinput textInput form-control' }}
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="row">
                                        <p class="btn btn-link m-0" id="delete-item-product" count="{{ forloop.counter }}" prefix="product"> Cancel</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        {% else %}
                <div class="col-lg-12">
                    {{ form.id }}
                    {{ form.composite_product }}
                    <div class="row">
                        <div class="col-lg-4 pl-0 pr-3 py-1">
                            <div class="form-group m-0">
                                <label for="{{ form.product.id_for_label }}" class="col-form-label requiredField">{{ form.product.label }}<span class="asteriskField">*</span></label>
                                {{ form.product|add_class:'custom-select form-control composite' }}
                            </div>
                        </div>
                        <div class="col-lg-4 pl-0 pr-3 py-1">
                            <div class="form-group m-0">
                                <label for="{{ form.price.id_for_label }}" class="col-form-label">{{ form.price.label }}</label>
                                {{ form.price|add_class:'form-control textinput textInput form-control' }}
                            </div>
                        </div>
                        <div class="col-lg-4 pl-0 pr-3 py-1">
                            <div class="form-group m-0">
                                <label for="{{ form.product_quantity.id_for_label }}" class="col-form-label requiredField">{{ form.product_quantity.label }}<span class="asteriskField">*</span></label>
                                {{ form.product_quantity|add_class:'form-control textinput textInput form-control' }}
                            </div>
                        </div>
                    </div>
                </div>
        {% endif %}
    {% endif %}
{% endfor %}
