{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Update Product Modifier" %}{% endblock %}

{% block library_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_library_show %}show{% endblock %}
{% block library_itemlibrary_active_class %}submenu-active{% endblock %}
{% block content_header %}{% trans "Update Product Modifier" %}{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}

{% block sub_content %}
  <div class="w-100 pt-3">
    <form method="post" action="." id="product-modifier">
      <div class="col-lg-10 col-md-10 col-sm-10 offset-1 p-0">
        {% crispy form %}
        <div class="d-flex justify-content-end">
          <a href="{% url 'catalogue:product_modifier_list' product.pk %}"  class="btn btn-light">{% trans "Back" %}</a>
          <input type="submit" class="btn btn-primary ml-1" value="{% trans 'Save' %}"/>
        </div>
      </div>
    </form>
  </div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  {{ form.media }}
  <script>
    var updateModifierProductUrl = "{% url 'catalogue:update_form_modifier' %}";
  </script>
  <script>
    $(document).ready(function($){
      $('#product-modifier').attr('novalidate', 'novalidate');
      $('.warning-sign').tooltip();

      function updateformmodifer(total_form, prefix, initial_data, modifieropt){
        $.ajax({
          type: 'POST',
          url: updateModifierProductUrl,
          dataType: 'json',
          data:{
            prefix: prefix,
            total_form: total_form,
            initial_data: initial_data,
            modifieropt: modifieropt
          },
          beforeSend: function(jqXHR, settings){
            jqXHR.setRequestHeader("x-csrftoken", '{{ csrf_token }}');
          },
          success: function(response){
            $('#div_modifier_products').html(response.data.form);
            var deleted_data = response.data.deleted_data;
            deleted_data.forEach(element => {
              $('#id_'+element).parent().parent().parent().parent().css('background', '#fcf8e3');
              $('#id_'+element).closest('.form-check').find('.warning-sign').css('visibility', 'visible');
              $('#id_'+element).closest('.form-check').find('.warning-sign').tooltip();
            });
          }
        });
      }
      $('.add-modifieropt').on('click', function(e){
        e.preventDefault();
        var prefix = $(this).attr("id");
        var modifieropt = parseInt($('.total-modifieropt').val());
        var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        var initial_data = {};
        for(i=0; i < total; i++) {
          initial_data[prefix + '-' + i +'-id'] = $('#id_'+prefix+'-'+i+'-id').val();
          initial_data[prefix + '-' + i +'-value'] = $('#id_'+prefix+'-'+i+'-value').val();
          var checked = $('#id_'+prefix+'-'+i+'-DELETE:checked').length;
          if(checked==1){
            initial_data[prefix + '-' + i +'-DELETE'] = $('#id_'+prefix+'-'+i+'-DELETE').val();
          }else{
            initial_data[prefix + '-' + i +'-DELETE'] = '';
          }
        }

        var initial = JSON.stringify(initial_data);
        alert(initial);
        total++;
        updateformmodifer(total, prefix, initial, modifieropt);
        return false;
      });

      $(document).on('click', '#delete-item-modifieropt', function(e){
        e.preventDefault();
        var prefix = $(this).attr("prefix");
        var modifieropt = parseInt($('.total-modifieropt').val());
        var count = $(this).attr("count");
        var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        var initial_data = {};
        if(count < total){
          for(i=0; i < total; i++){
            if(i > count - 1 ){
              idx = i-1;
              initial_data[prefix + '-' + idx +'-id'] = $('#id_'+prefix+'-'+i+'-id').val();
              initial_data[prefix + '-' + idx +'-value'] = $('#id_'+prefix+'-'+i+'-value').val();
            }else if(i < count-1){
              initial_data[prefix + '-' + i +'-id'] = $('#id_'+prefix+'-'+i+'-id').val();
              initial_data[prefix + '-' + i +'-value'] = $('#id_'+prefix+'-'+i+'-value').val();
            }
          }
        }else{
          for(i=0; i < total; i++){
            initial_data[prefix + '-' + i +'-id'] = $('#id_'+prefix+'-'+i+'-id').val();
            initial_data[prefix + '-' + i +'-value'] = $('#id_'+prefix+'-'+i+'-value').val();
            var checked = $('#id_'+prefix+'-'+i+'-DELETE:checked').length;
            if(checked==1){
              initial_data[prefix + '-' + i +'-DELETE'] = $('#id_'+prefix+'-'+i+'-DELETE').val();
            }else{
              initial_data[prefix + '-' + i +'-DELETE'] = '';
            }
          }
        }
        var initial = JSON.stringify(initial_data);
        total-=1;
        updateformmodifer(total, prefix, initial, modifieropt);
        return false;
      });

      $(document).on('change', '.check-input-delete.modifieropt-delete', function(){
        if(this.checked){
          $(this).parent().parent().parent().parent().css('background', '#fcf8e3');
          $(this).closest('.form-check').find('.warning-sign').css('visibility', 'visible');
        }else{
          $(this).parent().parent().parent().parent().css('background', 'transparent');
          $(this).closest('.form-check').find('.warning-sign').css('visibility', 'hidden');
        }
      });
    });
  </script>
{% endblock %}
