{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% get_media_prefix %}

{% block title %}{% trans "Update Product" %}{% endblock %}

{% block css %}
  {{ block.super }}
  <!-- Your stuff: Third-party css libraries go here -->
  {{ form.media.css }}
{% endblock %}

{% block library_active_class %}active{% endblock %}
{% block mobile_library_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_library_show %}show{% endblock %}
{% block library_itemlibrary_active_class %}submenu-active{% endblock %}
{% block mobile_library_itemlibrary_active_class %}submenu-active{% endblock %}
{% block content_header %}{{ object.sku }} {{ object.name }} - {% trans "Detail" %}{% endblock %}

{% block content_class %}fixed-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block tab_div_style %}background: white; border-bottom: 1px solid #e6e7e9;{% endblock %}
{% block tab_ol_class %}breadcrumb-tabs{% endblock %}
{% block breadcrumb_active %}breadcrumb-item active{% endblock %}
{% block tab_div2_class %}px-2{% endblock %}
{% block tab_section_style %}border-bottom: 1px solid #e6e7e9;{% endblock %}
{% block action_div_style %}background: white; border-top: 1px solid #d7d7db;{% endblock %}

{% block submit_form %}
  <div class="d-flex justify-content-end" id="fixed-bottom-button">
    <a href="{% url 'catalogue:product_list' %}"  class="btn btn-light">{% trans "Back" %}</a>
    <button type="submit" id="submitBtn" class="btn enabled-stock btn-primary ml-1">
      <span id="submit-text">{% if object %}{% trans 'Save' %}{% else %}{% trans 'Create' %}{% endif %}</span>
      <i id="submit-icon" class=""></i>
    </button>
    <button class="btn btn-primary ml-1 disabled-stock d-none" data-toggle="modal" data-target="#disabledStock">{% trans 'Save' %}</button>
  </div>
{% endblock %}

{% block tab_list %}
  <ul class="nav nav-tabs pt-2" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'catalogue:product_variant_list' object.pk %}">{% trans "Variants" %}</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link active" href="#detail" >{% trans "Detail" %}</a>
    </li>
  </ul>
{% endblock %}

{% block sub_content %}
  <div class="w-100 pt-3">
    <form enctype="multipart/form-data" method="post" action="." id="product-form">
      {% crispy form %}
      <div class="justify-content-end {% if grid %}{{ grid}}{% else %}col-6{% endif %} p-0" id="fixed-button-content" style="display: flex;">
        <a href="{% url 'catalogue:product_list' %}"  class="btn btn-light">{% trans "Back" %}</a>
        <button type="submit" class="btn enabled-stock btn-primary ml-1">
          <span id="submit-text">{% if object %}{% trans 'Save' %}{% else %}{% trans 'Create' %}{% endif %}</span>
          <i id="submit-icon" class=""></i>
        </button>
        <button class="btn btn-primary ml-1 disabled-stock d-none" data-toggle="modal" data-target="#disabledStock">{% trans 'Save' %}</button>
      </div>
    </form>
  </div>
{% endblock %}

{% block modal %}
{{ block.super }}
<div class="modal fade" id="disabledStock" tabindex="-1" role="dialog" aria-labelledby="disabledStockModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="disabledStockModalLabel">{% trans 'Non-aktif Pengaturan Stok' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class ="text-center">Apakah anda yakin ingin menonaktifkan pengaturan stok pada produk ini?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
        <button type="button" class="btn btn-primary" id="submitDisabledStock">
          <span d="submit-text">{% trans "Submit" %}</span>
          <i id="submit-icon" class=""></i>
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock modal %}

{% block javascript %}
  {{ block.super }}
  <script src="{% static '/js/button-scrollbar.js' %}"></script>
  <script>
    var srcImage = "{{ object.image_location }}";
  </script>
  <script>
    function preview_image(src){
      $('.dropzone-wrapper').css("background", "url({% get_media_prefix %}" + src +") no-repeat center");
      $('.dropzone-wrapper').css("background-size", "contain");
      $('.dropzone-wrapper').css('border', '0');
      $('.dropzone-desc').hide();
    }
  </script>
  <script>
    $(document).ready(function($) {

      $("#submitBtn, #submitDisabledStock").click(function () {
         $("#product-form").submit();
      });

      $("#product-form").on("submit", function(){
        $("button[type=submit]").attr("disabled", "disabled");
        $("button[type=submit] #submit-text").empty().append("Menyimpan");
        $("button[type=submit] #submit-icon").addClass("fa fa-spinner fa-spin");
      });

      $('.warning-sign').tooltip();
      if(srcImage != ""){
        preview_image(srcImage);
      }

      $('#product-form').attr('novalidate', 'novalidate');
      if($('#id_category').hasClass('is-invalid')){
        $('.select2-container--default .select2-selection--single').css('border', '1px solid #dc3545', "!important");
      }

      {% if is_manage_stock %}
      $("input[name=is_manage_stock]").prop('checked', true);
      product_configuration(true);
      {% else %}
      product_configuration($("input[name=is_manage_stock]").is(':checked'));
      {% endif %}

      function product_configuration(is_manage_stock){
        if(!is_manage_stock){
          $("#div_id_is_batch_tracked").addClass("d-none");
          $("input[name=is_batch_tracked]").prop("checked", false);
          $("#div_id_uom").addClass("d-none");
          {% if stock_managed %}
            $(".disabled-stock").removeClass("d-none");
            $(".enabled-stock").addClass("d-none");
          {% endif %}
        }else{
          if($("#div_id_is_batch_tracked").hasClass("d-none")){
            $("#div_id_is_batch_tracked").removeClass("d-none");
          }
          if($("#div_id_uom").hasClass("d-none")){
            $("#div_id_uom").removeClass("d-none");
          }
          {% if stock_managed %}
            $(".disabled-stock").addClass("d-none");
            $(".enabled-stock").removeClass("d-none");
          {% endif %}
        }
      }

      $("input[name=is_manage_stock]").on("change", function(){
        product_configuration($(this).is(":checked"));
      });

      if($('#id_image_location').hasClass('is-invalid')){
        $('.dropzone-box').css('border', '1px solid #dc3545', "!important");
      }

      $(window).keydown(function(event){
        if(event.keyCode == 13) {
          event.preventDefault();
          return false;
        }
      });

      var substringMatcher = function(strs) {
        return function findMatches(q, cb) {
          var matches, substringRegex;

          // an array that will be populated with substring matches
          matches = [];

          // regex used to determine if a string contains the substring `q`
          substrRegex = new RegExp(q, 'i');

          // iterate through the pool of strings and for any string that
          // contains the substring `q`, add it to the `matches` array
          $.each(strs, function(i, str) {
            if (substrRegex.test(str)) {
              matches.push(str);
            }
          });

          cb(matches);
        };
      };

    });
  </script>
  {{ form.media.js }}
{% endblock %}
