{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Add Product Composite" %}{% endblock %}

{% block css %}
  {{ block.super }}
  <!-- Your stuff: Third-party css libraries go here -->
  {{ form.media.css }}
  {{ formset.media.css }}
  <style>
    .formset-wrapper .invalid-feedback {
      margin: 0;
    }
    .table {
      table-layout: fixed;
    }
    .table tr th:last-child{
      width: 30px !important;
    }
    .table tr th:first-child{
      width: 40% !important;
    }
    .select2-container {
      width: 100% !important;
      min-width: 3rem !important;
    }
  </style>
{% endblock %}

{% block library_active_class %}active{% endblock %}
{% block mobile_library_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_library_show %}show{% endblock %}
{% block product_composite_active_class %}submenu-active{% endblock %}
{% block mobile_product_composite_active_class %}submenu-active{% endblock %}
{% block content_header %}{% trans "Create Product Composite" %}{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block tab_div2_class %}px-2{% endblock %}
{% block action_div_style %}background: white; border-top: 1px solid #d7d7db;{% endblock %}

{% block submit_form %}
  <div class="d-flex justify-content-end" id="fixed-bottom-button">
    <a href="{% url 'catalogue:product_composite_list' %}"  class="btn btn-light">{% trans "Back" %}</a>
    <input type="submit" class="btn btn-primary ml-1" id="submitBtn" value="{% trans 'Create' %}"/>
  </div>
{% endblock %}

{% block sub_content %}
  <div class="w-100 pt-3">
    <form enctype="multipart/form-data" method="post" action="." id="product-composite-form">
      {% crispy form %}
      {% crispy formset formset_helper %}
      <div class="justify-content-end {% if grid %}{{ grid}}{% else %}col-6{% endif %} p-0" id="fixed-button-content" style="display: flex;">
        <a href="{% url 'catalogue:product_composite_list' %}"  class="btn btn-secondary">{% trans "Back" %}</a>
        <input type="submit" class="btn btn-primary ml-1" value="{% trans 'Create' %}"/>
      </div>
    </form>
  </div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  {{ form.media.js }}
  <script src="{% static 'js/jquery.formset.js' %}"></script>
  <script src="{% static '/js/button-scrollbar.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8.17.6/dist/sweetalert2.all.min.js"></script>

  <script>
    $(document).ready(function($){
      $('.formset-wrapper').formset();

      $(document).on("change", ".formset-data-delete", function(){
        tr_element = $(this).closest("tr");
        tr_element.hide()
      });

      $("#submitBtn").click(function () {
         $("#product-composite-form").submit();
      });

      $(document).on("change", ".product-select", function(){
        var name = this.name;
        var name_index = name.split("-");
        var selected_arr = []
        var price = $(this).closest("tr").find(".product-price");
        selected = $(".product-select option:selected").not(this);
        is_exist = false;

        $.each(selected, function(index, value){
          if($.inArray($(this).val(), selected_arr)>-1){
            is_exist = true;
          }else{
            if($(value).val()){
              selected_arr.push($(value).val());
            }
          }
        });

        if(is_exist){
          Swal.fire({
            text: "Produk sudah ditambahkan pada penyesuaian stok ini."
          });
          $("#id_"+name).val(null).trigger("change");
          $(price).val("");
        }else{
          
          $.ajax({
            url: "{% url 'catalogue:product_composite_material_get_price' %}",
            type: "GET",
            data: {
              product_pk: $(this).val()
            }, success: function(response){
              console.log($(price).val())
              $(price).val(response.result.price);
            }
          });
        }
      });

      $('#product-composite-form').attr('novalidate', 'novalidate');
      if($('#id_category').hasClass('is-invalid')){
        $('.select2-container--default .select2-selection--single').css('border', '1px solid #dc3545', "!important");
      }
      if($('#id_image_location').hasClass('is-invalid')){
        $('.dropzone-box').css('border', '1px solid #dc3545', "!important");
      }
    });
  </script>
{% endblock %}
