{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Add Product Addon" %}{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/multi-select/0.9.12/css/multi-select.min.css">
  {{ form.media.css }}
{% endblock %}

{% block library_active_class %}active{% endblock %}
{% block mobile_library_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_library_show %}show{% endblock %}
{% block library_addons_active_class %}submenu-active{% endblock %}
{% block mobile_library_addons_active_class %}submenu-active{% endblock %}
{% block content_header %}{% trans "Add Product Addon" %}{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block tab_div2_class %}px-2{% endblock %}
{% block action_div_style %}background: white; border-top: 1px solid #d7d7db;{% endblock %}

{% block submit_form %}
  <div class="d-flex justify-content-end" id="fixed-bottom-button">
    <a href="{% url 'catalogue:product_addon_list' %}"  class="btn btn-light">{% trans "Back" %}</a>
    <button type="submit" id="submitBtn" class="btn btn-primary ml-1">
      <span id="submit-text">{% if object %}{% trans 'Save' %}{% else %}{% trans 'Create' %}{% endif %}</span>
      <i id="submit-icon" class=""></i>
    </button>
  </div>
{% endblock %}

{% block sub_content %}
  <div class="w-100 pt-3">
    <form enctype="multipart/form-data" method="post" action="." id="product-addon-form">
      {% crispy form %}
      <div class="justify-content-end {% if grid %}{{ grid}}{% else %}col-6{% endif %} p-0" id="fixed-button-content" style="display: flex;">
        <a href="{% url 'catalogue:product_addon_list' %}"  class="btn btn-light">{% trans "Back" %}</a>
        <button type="submit" class="btn btn-primary ml-1">
          <span id="submit-text">{% if object %}{% trans 'Save' %}{% else %}{% trans 'Create' %}{% endif %}</span>
          <i id="submit-icon" class=""></i>
        </button>
      </div>
    </form>
  </div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  {{ form.media.js }}
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.quicksearch/2.4.0/jquery.quicksearch.min.js"></script>
  <script src="{% static '/js/button-scrollbar.js' %}"></script>
  <script>
    $(document).ready(function(){
      $('#product-addon-form').attr('novalidate', 'novalidate');
      if($('#id_category').hasClass('is-invalid')){
        $('.select2-container--default .select2-selection--single').css('border', '1px solid #dc3545', "!important");
      }
      if($('#id_image_location').hasClass('is-invalid')){
        $('.dropzone-box').css('border', '1px solid #dc3545', "!important");
      }
      $("#submitBtn").click(function () {
        $("#product-addon-form").submit();
      });
      $("#product-addon-form").on("submit", function(){
        $("button[type=submit]").attr("disabled", "disabled");
        $("button[type=submit] #submit-text").empty().append("Menyimpan");
        $("button[type=submit] #submit-icon").addClass("fa fa-spinner fa-spin");
      });

      {% if is_manage_stock %}
      $("input[name=is_manage_stock]").prop('checked', true);
      product_configuration(true);
      {% else %}
      product_configuration($("input[name=is_manage_stock]").is(':checked'));
      {% endif %}

      function product_configuration(is_manage_stock){
        if(!is_manage_stock){
          $("#div_id_is_batch_tracked").addClass("d-none");
          $("input[name=is_batch_tracked]").prop("checked", false);
          $("#div_id_keep_selling_sold_out").addClass("d-none");
          $("input[name=keep_selling_sold_out]").prop("checked", false);
          $("#div_id_min_stock_alert").addClass("d-none");
          $("#div_id_uom").addClass("d-none");
        }else{
          if($("#div_id_is_batch_tracked").hasClass("d-none")){
            $("#div_id_is_batch_tracked").removeClass("d-none");
          }
          if($("#div_id_keep_selling_sold_out").hasClass("d-none")){
            $("#div_id_keep_selling_sold_out").removeClass("d-none");
          }
          if($("#div_id_min_stock_alert").hasClass("d-none")){
            $("#div_id_min_stock_alert").removeClass("d-none");
          }
          if($("#div_id_uom").hasClass("d-none")){
            $("#div_id_uom").removeClass("d-none");
          }
        }
      }

      $("input[name=is_manage_stock]").on("change", function(){
        product_configuration($(this).is(":checked"));
      });
    });
  </script>
{% endblock %}
