{% load crispy_forms_tags %}
{% load add_attribute_fields %}

{{ formset.management_form }}
{% for form in formset %}
    {% if context.modifieropt %}
        {% if forloop.counter > context.modifieropt %}
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    {{ form.id }}
                    <div class="row">
                        <div class="col-lg-10 col-md-10 col-sm-10 p-1">
                            <div class="form-group m-0">
                                {{ form.value|add_class:'form-control textinput textInput form-control' }}
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 p-1">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <p class="btn btn-link m-0" id="delete-item-modifieropt" count="{{ forloop.counter }}" prefix="options"> Cancel</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 p-1">
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
        {% if forloop.counter > 1 %}
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                {{ form.id }}
                <div class="row">
                    <div class="col-lg-11 col-md-11 col-sm-11 p-1">
                        <div class="form-group m-0">
                            {{ form.value|add_class:'form-control textinput textInput form-control' }}
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 p-1 pl-3">
                        <div class="form-group m-0">
                            <div class="form-check pl-4">
                                {{ form.DELETE|add_class:'form-check-input check-input-delete modifieropt-delete' }}
                                <span class="fa fa-exclamation-triangle warning-sign" data-toggle="tooltip" data-html="true" data-placement="bottom" title="<b>Warning!</b> These item will be deleted when form save."></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                {{ form.id }}
                <div class="row">
                    <div class="col-lg-11 col-md-11 col-sm-11 p-1">
                        <div class="form-group m-0">
                            <label for="{{ form.value.id_for_label }}" class="col-form-label requiredField">{{ form.value.label }}<span class="asteriskField">*</span></label>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 p-1">
                        <div class="form-group m-0">
                            <label for="{{ form.DELETE.id_for_label }}" class="col-form-label">{{ form.DELETE.label }}</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-11 col-md-11 col-sm-11 p-1">
                        <div class="form-group m-0">
                            {{ form.value|add_class:'form-control textinput textInput form-control' }}
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 p-1 pl-3">
                        <div class="form-group m-0">
                            <div class="form-check pl-4">
                                {{ form.DELETE|add_class:'form-check-input check-input-delete modifieropt-delete' }}
                                <span class="fa fa-exclamation-triangle warning-sign" data-toggle="tooltip" data-html="true" data-placement="bottom" title="<b>Warning!</b> These item will be deleted when form save."></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
        {% endif %}
    {% else %}
        {% if forloop.counter > 1 %}
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                {{ form.id }}
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-10 p-1">
                        <div class="form-group m-0">
                            {{ form.value|add_class:'form-control textinput textInput form-control' }}
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 p-1">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <p class="btn btn-link m-0" id="delete-item-modifieropt" count="{{ forloop.counter }}" prefix="options"> Cancel</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                {{ form.id }}
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 p-1">
                        <div class="form-group m-0">
                            <label for="{{ form.product.id_for_label }}" class="col-form-label requiredField">{{ form.product.label }}<span class="asteriskField">*</span></label>
                            {{ form.value|add_class:'form-control textinput textInput form-control' }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endif %}
{% endfor %}
