{% extends "dashboard/base.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="content">
        <section
                class="page-title">
            <div class="container">
                <h1 class="pull-left">
                    <span class="fa fa-product-hunt"></span> {% trans "Product Detail" %}
                </h1>
            </div>
        </section>
        <section
                class="page-breadcrumb">
            <div class="container">
                <ol class="breadcrumb">
                    <li>
                        <a href="{% url 'home' %}"
                           class="text-link">Home</a>
                    </li>
                    <li class="active">
                        Product Detail
                    </li>
                </ol>
            </div>
        </section>
        <section
                class="messages">
            <div class="clearfix"></div>
        </section>
        <section class="main-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-lg-12 col-md-12">
                        <h2 class="text-primary">Product Name : {{ product.name }}</h2>

                        <p class="text-primary">Product Code : {{ product.code }}</p>

                        <p class="text-primary">Product Barcode : {{ product.barcode }}</p>

                        <p class="text-primary">Product Cost : {{ product.cost }}</p>

                        <p class="text-primary">Cost Currency : {{ product.cost_currency }}</p>

                        <p class="text-primary">Product Price : {{ product.price }}</p>

                        <p class="text-primary">Price Currency : {{ product.price_currency }}</p>

                        <p class="text-primary">Storage : {{ product.storage }}</p>

                        <p class="text-primary">Supplier : {{ product.supplier }}</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}