{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Update Variant" %}{% endblock %}

{% block css %}
  {{ block.super }}
  <!-- Your stuff: Third-party css libraries go here -->
  {{ form.media.css }}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/multi-select/0.9.12/css/multi-select.min.css">
{% endblock %}

{% block library_active_class %}active{% endblock %}
{% block mobile_library_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_library_show %}show{% endblock %}
{% block library_variants_active_class %}submenu-active{% endblock %}
{% block mobile_library_variants_active_class %}submenu-active{% endblock %}

{% block content_header %}{{ object.sku }} {{ object.name }} - {% trans "Detail" %}{% endblock %}

{% block content_class %}fixed-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block tab_div_style %}background: white; border-bottom: 1px solid #e6e7e9;{% endblock %}
{% block tab_ol_class %}breadcrumb-tabs{% endblock %}
{% block breadcrumb_active %}breadcrumb-item active{% endblock %}
{% block tab_section_style %}border-bottom: 1px solid #e6e7e9;{% endblock %}
{% block action_div_style %}background: white; border-top: 1px solid #d7d7db;{% endblock %}

{% block submit_form %}
  <div class="d-flex justify-content-end" id="fixed-bottom-button">
    <a href="{% url 'catalogue:variant_list' %}"  class="btn btn-light">{% trans "Back" %}</a>
    <button type="submit" id="submitBtn" class="btn enabled-stock btn-primary ml-1">
      <span id="submit-text">{% if object %}{% trans 'Save' %}{% else %}{% trans 'Create' %}{% endif %}</span>
      <i id="submit-icon" class=""></i>
    </button>
    <button class="btn btn-primary ml-1 disabled-stock d-none" data-toggle="modal" data-target="#disabledStock">{% trans 'Save' %}</button>
  </div>
{% endblock %}

{% block tab_list %}
  <ul class="nav nav-tabs pt-2" id="myTab" role="tablist">
    <li class="nav-item active">
      <a class="nav-link active" href="#detail" >{% trans "Detail" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'catalogue:product_availability' object.pk %}">{% trans "Outlet" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'catalogue:product_pricing' object.pk %}" >{% trans "Pricing" %}</a>
    </li>
    {% if object.is_manage_stock %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'stocks:stocks' object.pk %}" >{% trans "Stocks" %}</a>
    </li>
    {% endif %}
  </ul>
{% endblock %}

{% block sub_content %}
  <div class="w-100 pt-3">
    <form enctype="multipart/form-data" method="post" action="." id="variant-form">
      {% crispy form %}
      <div class="justify-content-end {% if grid %}{{ grid}}{% else %}col-6{% endif %} p-0" id="fixed-button-content" style="display: flex;">
        <a href="{% url 'catalogue:variant_list' %}"  class="btn btn-light">{% trans "Back" %}</a>
        <button type="submit" class="btn btn-primary enabled-stock ml-1">
          <span id="submit-text">{% if object %}{% trans 'Save' %}{% else %}{% trans 'Create' %}{% endif %}</span>
          <i id="submit-icon" class=""></i>
        </button>
        <button class="btn btn-primary ml-1 disabled-stock d-none" data-toggle="modal" data-target="#disabledStock">{% trans 'Save' %}</button>
      </div>
    </form>
  </div>
{% endblock %}


{% block modal %}
{{ block.super }}
<div class="modal fade" id="disabledStock" tabindex="-1" role="dialog" aria-labelledby="disabledStockModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="disabledStockModalLabel">{% trans 'Non-aktif Pengaturan Stok' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class ="text-center">Apakah anda yakin ingin menonaktifkan pengaturan stok pada varian ini?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-submit-close" data-dismiss="modal">{% trans 'Cancel' %}</button>
        <button type="button" class="btn btn-primary" id="submitDisabledStock">
          <span d="submit-text">{% trans "Save" %}</span>
          <i id="submit-icon" class=""></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="mac" tabindex="-1" role="dialog" aria-labelledby="macModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="macModalLabel">{% trans 'Rata-rata Biaya' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class ="text-center">Apakah anda yakin ingin mengubah biaya menggunakan rata-rata biaya?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-submit-close" data-dismiss="modal">{% trans 'Cancel' %}</button>
        <button type="button" class="btn btn-primary" id="applymac">
          <span id="submit-text">{% trans "Save" %}</span>
          <i id="submit-icon" class=""></i>
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock modal %}
  

{% block javascript %}
  {{ block.super }}
  {{ form.media.js }}
  <script src="{% static '/js/button-scrollbar.js' %}"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/multi-select/0.9.12/js/jquery.multi-select.min.js"></script>
  <script>
    var srcImage = "{{ product.image_location }}";
    function preview_image(src){
      $('.dropzone-wrapper').css("background", "url({% get_media_prefix %}" + src +") no-repeat center");
      $('.dropzone-wrapper').css("background-size", "contain");
      $('.dropzone-wrapper').css('border', '0');
      $('.dropzone-desc').hide();
    }
    var options = {
      product_modifiers: false,
    }
      function clear_form_elements(ele) {
          $(ele).find(':input').each(function() {
              switch(this.type) {
                  case 'password':
                  case 'select-multiple':
                  case 'select-one':
                  case 'text':
                  case 'textarea':
                      $(this).val('');
                      break;
                  case 'checkbox':
                  case 'radio':
                      this.checked = false;
              }
          });
      };
  </script>
  <script>
    $(document).ready(function(){
      $('#variant-form').attr('novalidate', 'novalidate');
      $("#submitBtn, #submitDisabledStock").click(function () {
        $("#variant-form").submit();
      });
      $("#variant-form").on("submit", function(){
        $("button[type=submit]").attr("disabled", "disabled");
        $("button[type=submit] #submit-text").empty().append("Menyimpan");
        $("button[type=submit] #submit-icon").addClass("fa fa-spinner fa-spin");
      });
      if($('#id_image_location').hasClass('is-invalid')){
        $('.dropzone-box').css('border', '1px solid #dc3545', "!important");
      }
      if(srcImage != ""){
        preview_image(srcImage);
      }
      function show_product_modifiers(input){
        if(input == 0){
          $('#div_id_product_modifiers input[type="checkbox"]').prop('checked', false);
          $('#div_id_modifiers').hide();
        }else{
          $('#div_id_product_modifiers input[type="checkbox"]').prop('checked', true);
          $('#div_id_modifiers').show();
        }
      }

      {% if is_manage_stock %}
      $("input[name=is_manage_stock]").prop('checked', true);
      product_configuration(true);
      {% else %}
      product_configuration($("input[name=is_manage_stock]").is(':checked'));
      {% endif %}

      product_configuration($("input[name=is_manage_stock]").is(':checked'));
      function product_configuration(is_manage_stock){
        if(!is_manage_stock){
          $("#div_id_is_batch_tracked").addClass("d-none");
          $("input[name=is_batch_tracked]").prop("checked", false);
          $("#div_id_keep_selling_sold_out").addClass("d-none");
          $("input[name=keep_selling_sold_out]").prop("checked", false);
          $("#div_id_min_stock_alert").addClass("d-none");
          $("#div_id_uom").addClass("d-none");
          {% if stock_managed %}
            $(".disabled-stock").removeClass("d-none");
            $(".enabled-stock").addClass("d-none");
          {% endif %}
        }else{
          if($("#div_id_is_batch_tracked").hasClass("d-none")){
            $("#div_id_is_batch_tracked").removeClass("d-none");
          }
          if($("#div_id_keep_selling_sold_out").hasClass("d-none")){
            $("#div_id_keep_selling_sold_out").removeClass("d-none");
          }
          if($("#div_id_min_stock_alert").hasClass("d-none")){
            $("#div_id_min_stock_alert").removeClass("d-none");
          }
          if($("#div_id_uom").hasClass("d-none")){
            $("#div_id_uom").removeClass("d-none");
          }
          {% if stock_managed %}
            $(".disabled-stock").addClass("d-none");
            $(".enabled-stock").removeClass("d-none");
          {% endif %}
        }
      }

      $("input[name=is_manage_stock]").on("change", function(){
        product_configuration($(this).is(":checked"));
      });

      $("#id_product_modifiers").on("change", function(){
        if ($(this).is(':checked')){
          $("#div_id_modifiers").removeAttr("disabled", "disabled")
          $("#div_id_modifiers").show()
        } else {
          $("#div_id_modifiers").attr("disabled", "disabled")
          $("#div_id_modifiers").hide()
          clear_form_elements("#div_id_modifiers")
          $("#id_modifiers").multiSelect('deselect_all');
          options.product_modifiers = false
        };
      });
      show_product_modifiers({{ object.modifiers.all.count }});

      $(document).on("click", "#applymac", function(e){
        e.preventDefault();
        console.log("clicked")
        $.ajax({
          url: "{% url 'catalogue:variant_cost_update' object.pk %}",
          type: "POST",
          dataType: 'json',
          data: {},
          beforeSend: function(jqXHR, settings){
            jqXHR.setRequestHeader("x-csrftoken", '{{ csrf_token }}');
            $(".btn-submit-close").attr("disabled", "disabled");
            $("#applymac").attr("disabled", "disabled");
            $("#applymac #submit-text").html("Loading");
            $("#applymac #submit-icon").addClass("fa fa-spinner fa-spin");
          },
          success: function(result){
            if(result.status == 'success'){
              setTimeout(function(){
                location.reload()
              }, 3000);
            }
          }
        })
      });
    });
  </script>
{% endblock %}
