{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Promo" %}{% endblock %}


{% block css %}
  {{ block.super }}
  <!-- Your stuff: Third-party css libraries go here -->
    {{ form.media.css }}
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.3/daterangepicker.css"/>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/multi-select/0.9.12/css/multi-select.min.css">
    <style>

      div#div_id_promo_rule :first-child {
        margin-left: 0px !important;
      }
      div#div_id_promo_rule :last-child {
        margin-right: 0px !important;
      }
      .card {
        display: block;
      }
      #div_id_discount_type {
        padding-bottom: 8px;
      }
      #div_id_start_date,
      #div_id_end_date {
        max-width: 60%;
      }
      #div_id_start_hours {
        max-width: 50%;
        padding-right: 16px !important;
      }
      #div_id_end_hours {
        max-width: 50%;
      }

    div#div_id_discount_type>.btn-outline-primary:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    div#div_id_discount_type>.btn-outline-primary:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    #div_id_product_buy,
    #div_id_category_buy,
    #div_id_product_get,
    #div_id_category_get {
      max-width: 50%;
    }
    #div_id_item_buy_type,
    #div_id_item_get_type {
      max-width: 70%;
      padding-left: 16px !important;
    }
    #div_id_reward_buy_quantity, #div_id_reward_get_quantity
    {
      max-width: 30%;
    }
    #div_id_reward{
      max-width: 33.3%;
    }
    #div_id_happy_hours {
      padding-top: 8px;
      border-top: 1px solid #d7d7db;
    }
    #div_id_all_days {
      padding-bottom: 8px;
    }
    #div_id_discount,
    #div_id_minimum_transaction,
    #div_id_discount_amount_limit,
    #div_id_promo_limit,
    #div_id_amount_limit {
        max-width: 35%;
    }
    .input-group > .input-group-append .input-group-text {
      background: white;
      border: 1px solid #d7d7db;
      border-left: 0px;
    }

    .input-group > .input-group-append {
      border: 0px !important;
    }

    .custom-radio .custom-control-input:checked ~ .custom-control-label::before {
      background-color: white;
      border: 1px solid #0094C9;

    }
    .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
       background-color: #0094C9;
    }

    .custom-radio + custom-control-label:before {
      border-radius: 50%; }

    .custom-radio .custom-control-input:checked ~ .custom-control-label::after {
      top: 8px;
      left: 4px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #0094C9;
      }

    .custom-radio .custom-control-label::before {
      background: white;
      border-radius: 50%;
      border: 1px solid #d7d7db;
    }

      .custom-radio:checked ~ label {
        color: #0094C9;
      }
      .form-check .form-check-label {
        line-height: 1.7;
      }

      #div_id_optional_affected_products {
        margin-bottom: 8px !important;
      }

    </style>
{% endblock %}

{% block promo_active_class %}active{% endblock %}
{% block secondary_sidebar_promo_show %}active{% endblock %}
{% block promo_list_active_class %}active{% endblock %}
{% block mobile_promo_active_class %}active{% endblock %}
{% block mobile_promo_list_active_class %}active{% endblock %}

{% block content_class %}col-lg-12 fixed-no-tab-content p-0{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block tab_div_style %}background: white; border-bottom: 1px solid #d7d7db;{% endblock %}
{% block action_div_style %}background: white; border-top: 1px solid #d7d7db;{% endblock %}
{% block content_header %}{% trans "Create Promo" %}{% endblock %}


{% block submit_form %}
      <div class="d-flex justify-content-end" id="fixed-bottom-button">
        <a href="{% url 'promo:promo_list' %}"  class="btn btn-light">{% trans "Back" %}</a>
        <input type="submit" class="btn btn-primary ml-1" id="submitBtn" value="{% trans 'Create' %}"/>
      </div>
{% endblock %}

{% block sub_content %}
  <div class="w-100 pt-1">
    <form method="post" action="." enctype='multipart/form-data' id="form-content">
          {% crispy form %}
      <div class="justify-content-end col-6 p-0" id="fixed-button-content" style="display: flex;">
        <a href="{% url 'promo:promo_list' %}"  class="btn btn-light">{% trans "Back" %}</a>
        <input type="submit" class="btn btn-primary ml-1" value="{% trans 'Create' %}"/>
      </div>
    </form>
  </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    {{ form.media.js }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.3/daterangepicker.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.2.6/jquery.inputmask.bundle.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/multi-select/0.9.12/js/jquery.multi-select.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.quicksearch/2.4.0/jquery.quicksearch.min.js"></script>
    <script src="{% static '/js/button-scrollbar.js' %}"></script>
    <script>
      var options = {
        affected_product: false,
        affected_payment_method: false,
      }
    </script>
    <script>
      function update_promo_form(value, options) {
        switch(value) {
          case "promo_global":
            $('fieldset#affected_product, fieldset#affected_payment_method, fieldset#promo_settings_2, fieldset#affected_category').hide()
            $('fieldset#item_enforced').hide();
            $('fieldset#promo_settings_1').show();
            $("#id_optional_affected_payment_method").prop("checked", false).change();
            $("#id_optional_affected_products").prop("checked", false).change();
            $("#div_id_optional_affected_products").hide();
            break;
          case "promo_product":
            $('fieldset#affected_product, fieldset#affected_payment_method, fieldset#affected_category, fieldset#promo_settings_1').show()
            $('fieldset#promo_settings_2').hide()
            $('fieldset#item_enforced').show();
            $('fieldset#affected_product').after($('fieldset#affected_payment_method'));
            $("#div_id_optional_affected_products").hide();

            $(".optional-affected_payment_method").parent().show();
            $(".optional-affected_product").parent().hide();

            $("#id_optional_affected_payment_method").prop(
              "checked", options.affected_payment_method).change();
            $("#id_optional_affected_products").prop("checked", true).change();

            $("small.optional-affected_product").removeClass(
              "d-lg-inline d-md-inline d-block"
            ).addClass(
              "d-none"
            );
            $("small.optional-affected_payment_method").removeClass(
              "d-none"
            ).addClass(
              "d-lg-inline d-md-inline d-block"
            );
            affected_product_type($("input[name='affected_product_type']:checked").val());
            $("#div_id_affected_product_type span.asteriskField").show();
            $("label[for='id_optional_affected_products']").addClass("pl-0");
            $("label[for='id_optional_affected_payment_method']").removeClass("pl-0");
            break;
          case "promo_payment_method":
            $('fieldset#affected_product, fieldset#affected_payment_method, fieldset#affected_category, fieldset#promo_settings_1').show()
            $('fieldset#promo_settings_2').hide()
            $('fieldset#item_enforced').show();
            $('fieldset#affected_payment_method').after($('fieldset#affected_product'));

            $(".optional-affected_payment_method").parent().hide();
            $(".optional-affected_product").parent().show();
            $("#div_id_optional_affected_products").show();

            $("#id_optional_affected_payment_method").prop("checked", true).change();
            $("#id_optional_affected_products").prop(
              "checked", options.affected_product).change();
            $("small.optional-affected_product").removeClass(
              "d-none"
            ).addClass(
              "d-lg-inline d-md-inline d-block"
            );
            $("small.optional-affected_payment_method").removeClass(
              "d-lg-inline d-md-inline d-block"
            ).addClass(
              "d-none"
            );

            if (!options.affected_product){
              affected_product_type($("input[name='affected_product_type']:checked").val());
              $("#div_id_affected_category").hide();
              $("#div_id_affected_product").hide();
              $("#div_id_affected_product_type").hide();
            }
            $("label[for='id_optional_affected_products']").removeClass("pl-0");
            $("label[for='id_optional_affected_payment_method']").addClass("pl-0");
            break;

          case "buy_a_get_b":
            $('fieldset#affected_product, fieldset#affected_payment_method, fieldset#affected_category, fieldset#promo_settings_1').hide()
            $('fieldset#promo_settings_2').show()
            $("#id_optional_affected_payment_method").prop("checked", false).change();
            $("#id_optional_affected_products").prop("checked", false).change();
            $("#div_id_optional_affected_products").hide();
            break;
        }
      }

      function customer_eligibility_type(value){
        switch(value){
          case "everyone":
            $('#div_id_affected_customer, #div_id_affected_group').hide();
            break;
          case "selected_customer":
            $('#div_id_affected_customer').show();
            $('#div_id_affected_group').hide();
            break;
          case "selected_group":
            $('#div_id_affected_customer').hide();
            $('#div_id_affected_group').show();
            break;
        }
      }

      function reward_type(value){
        switch(value){
          case "free_product":
          $('#div_id_reward').hide();
          break;
          case "buy_product_in_discount_percentage":
          $('#div_id_reward').show();
          $('#div_id_reward .input-group-append .input-group-text').text("%");
          $('#id_reward').attr('maxlength', 5);
          $('#id_reward').inputmask({
            'alias': 'decimal',
          });
          break;
          case "buy_product_in_discount_fixed_price":
          $('#div_id_reward').show();
          $('#div_id_reward .input-group-append .input-group-text').text("IDR");
          $('#id_reward').attr('maxlength', 14);
          $('#id_reward').inputmask({
            'alias': 'numeric',
            'autoGroup': true,
            'removeMaskOnSubmit': true
          });
          break;
          case "buy_product_in_specified_amount":
          $('#div_id_reward').show();
          $('#div_id_reward .input-group-append .input-group-text').text("IDR");
          $('#id_reward').attr('maxlength', 14);
          $('#id_reward').inputmask({
            'alias': 'numeric',
            'autoGroup': true,
            'removeMaskOnSubmit': true
          });
          break;
        }
      }

      function affected_product_type(value){
        switch(value){
          case "product":
          $('#div_id_affected_category').hide();
          $('#div_id_affected_product').show();
          $('#div_id_affected_product_type').show();
          break;
          case "category":
          $('#div_id_affected_product').hide();
          $('#div_id_affected_category').show();
          $('#div_id_affected_product_type').show();
          break;
        }
      }

      function usages_limit(value){
        switch(value){
          case "unlimited":
          $('#div_id_promo_limit').hide();
          $('#div_id_limit_per_customer').hide();
          $('#div_id_amount_limit').hide();
          $('#id_promo_limit').val('');
          $('#id_amount_limit').val('');
          $('#div_id_recurrence_limit').hide();
          break;
          case "use_limit":
          $('#div_id_promo_limit').show();
          $('#div_id_limit_per_customer').show();
          $('#div_id_amount_limit').hide();
          $('#id_amount_limit').val('');
          $('#div_id_recurrence_limit').show();
          break;
          case "amount_limit":
          $('#div_id_promo_limit').hide();
          $('#div_id_limit_per_customer').hide();
          $('#div_id_amount_limit').show();
          $('#id_promo_limit').val('');
          $('#div_id_recurrence_limit').show();
          break;
        }
      }

      function discount_type(value){
        switch(value){
          case "percentage":
          $('#id_discount').attr('maxlength', 5);
          $('#id_discount').inputmask({
            'alias': 'decimal',
          });
          $('#div_id_discount .input-group-append .input-group-text').text("%");
          break;
          case "fixed_price":
          $('#id_discount').inputmask({
            'alias': 'numeric',
            'autoGroup': true,
            'removeMaskOnSubmit': true
          });
          $('#div_id_discount .input-group-append .input-group-text').text("IDR");
          break;
          case "specified_amount":
          $('#id_discount').inputmask({
            'alias': 'numeric',
            'autoGroup': true,
            'removeMaskOnSubmit': true
          });
          $('#div_id_discount .input-group-append .input-group-text').text("IDR");
          break;
        }
      }

      function clear_form_elements(ele) {
          $(ele).find(':input').each(function() {
              switch(this.type) {
                  case 'password':
                  case 'select-multiple':
                  case 'select-one':
                  case 'text':
                  case 'textarea':
                      $(this).val('');
                      break;
                  case 'checkbox':
                  case 'radio':
                      this.checked = false;
              }
          });
        };
    </script>

    <script>
    $(document).ready(function(){
      if($('#id_promo_image').hasClass('is-invalid')){
        $('.dropzone-box').css('border', '1px solid #dc3545', "!important");
      }

      $("#submitBtn").click(function () {
         $("#form-content").submit();
      });

      $('#id_promo_configuration_form-discount').attr('maxlength', 5);

      $('#id_start_date').daterangepicker({
        "opens": 'right',
        "singleDatePicker": true,
        "showCustomRangeLabel": false,
        'locale': {
          'format': 'DD/MM/YYYY',
          "customRangeLabel": "Pilih Tanggal",
          "applyLabel": "Terapkan",
          "cancelLabel": "Batal",
          "daysOfWeek": [
            "Min",
            "Sen",
            "Sel",
            "Rab",
            "Kam",
            "Jum",
            "Sab"
          ],
          "monthNames": [
            "Januari",
            "Februari",
            "Maret",
            "April",
            "Mei",
            "Juni",
            "Juli",
            "Agustus",
            "September",
            "Oktober",
            "November",
            "Desember"
          ],
        }
      });

      $('#id_end_date').daterangepicker({
        "opens": 'right',
        "singleDatePicker": true,
        "showCustomRangeLabel": false,
        autoUpdateInput: false,
        'locale': {
          'format': 'DD/MM/YYYY',
          "customRangeLabel": "Pilih Tanggal",
          "applyLabel": "Terapkan",
          "cancelLabel": "Batal",
          "daysOfWeek": [
            "Min",
            "Sen",
            "Sel",
            "Rab",
            "Kam",
            "Jum",
            "Sab"
          ],
          "monthNames": [
            "Januari",
            "Februari",
            "Maret",
            "April",
            "Mei",
            "Juni",
            "Juli",
            "Agustus",
            "September",
            "Oktober",
            "November",
            "Desember"
          ],
        }
      });

      $('#id_end_date').on('apply.daterangepicker', function(ev, picker) {
          $(this).val(picker.startDate.format('DD/MM/YYYY'));
      });

      $('#id_start_hours').timepicker({
        minuteStep: 1,
        showMeridian: false,
        defaultTime: false,
        icons: {
          up: "fa fa-chevron-up",
          down: "fa fa-chevron-down"
        }
      });

      $('#id_end_hours').timepicker({
        minuteStep: 1,
        showMeridian: false,
        defaultTime: false,
        icons: {
          up: "fa fa-chevron-up",
          down: "fa fa-chevron-down"
        }
      });

      $('#id_minimum_transaction, #id_discount_amount_limit').inputmask({
            'alias': 'numeric',
            'autoGroup': true,
            'removeMaskOnSubmit': true
      });

      if ($('#id_discount_type').val() == undefined ) {
         $('#div_id_discount .input-group-append .input-group-text').text("%");
      }

      $("input[name='discount_type']").on('click change', function(){
        $('#id_discount').val('');

        var disc_type = $("input[name='discount_type']:checked").val();

        if( disc_type == 'percentage'){
          $('#id_discount').attr('maxlength', 5);
          $('#id_discount').inputmask({
            'alias': 'decimal'
          });
          $('#div_id_discount .input-group-append .input-group-text').text("%");
          $('#discount_amount_limit').show();
        }else{
          $('#id_discount').attr('maxlength', 14);
          $('#id_discount').inputmask({
            'alias': 'numeric',
            'groupSeparator': '.',
            'autoGroup': true,
            'removeMaskOnSubmit': true
          });
          $('#div_id_discount .input-group-append .input-group-text').text("IDR");
          $('#discount_amount_limit').hide();
          $('#id_discount_amount_limit').val("");
        }
      });

      function show_all_days(input){
        if(input.is(':checked')){
          $('#div_id_allow_days').hide();
          $('#div_id_allow_days input[type="checkbox"]').prop('checked', true);
        }else{
          $('#div_id_allow_days').show();
        }
      }

      function show_all_outlet(input){
        if(input.is(':checked')){
          $('#div_id_outlet').hide();
          $('#div_id_outlet input[type="checkbox"]').prop('checked', true);
          $('#div_id_all_outlet').parent().css('border-bottom', '1px solid transparent');
          $('#div_id_all_outlet').css('margin', '0px');
        }else{
          $('#div_id_outlet').show();
          $('#div_id_all_outlet').parent().css('border-bottom', '1px solid #d7d7db');
          $('#div_id_all_outlet').css('margin-bottom', '12px');
          $('div#div_id_outlet:last-child').css('border-bottom', '0px');
        }
      }

      function enable_end_date(input){
        if(input.is(':checked')){
          $('#div_id_end_date').show();
        }else{
          $('#div_id_end_date').hide();
          $('#id_end_date').val('');
        }
      }

      function enable_happy_hours(input){
        if(input.is(':checked')){
          $('#div_id_start_hours').show();
          $('#div_id_end_hours').show();
        }else{
          $('#div_id_start_hours').hide();
          $('#div_id_end_hours').hide();
          $('#id_start_hours').val('');
          $('#id_end_hours').val('');
        }
      }

      function item_buy_type_init(input){
        if(input.val() == "product"){
          $('#div_id_category_buy').hide();
          $('#div_id_product_buy').show();
        }else{
          $('#div_id_category_buy').show();
          $('#div_id_product_buy').hide();
        }
      }

      function item_get_type_init(input){
        if(input.val() == "product"){
          $('#div_id_category_get').hide();
          $('#div_id_product_get').show();
        }else{
          $('#div_id_category_get').show();
          $('#div_id_product_get').hide();
        }
      }

      function update_hidden_field(input, section, reset_value){
        if(input.is(':checked')){
          section.show();
        }else{
          section.hide();
          reset_value.val("");
        }
      }

      $("#id_optional_affected_payment_method").on("change", function(){
        if ($(this).is(':checked')){
          $("#div_id_affected_payment_method").removeAttr("disabled", "disabled")
          $("#div_id_affected_payment_method").show()
        } else {
          $("#div_id_affected_payment_method").attr("disabled", "disabled")
          $("#div_id_affected_payment_method").hide()
          clear_form_elements("#div_id_affected_payment_method")
          $("#id_affected_payment_method").multiSelect('deselect_all');
          options.affected_payment_method = false
        };
      });
      $("#id_optional_affected_products").on("change", function(){
        var value = $("input[name='affected_product_type']").val();
        if ($(this).is(':checked')){
          $("#div_id_affected_product_type").show()
          if (value == "product"){
            $("#div_id_affected_product").removeAttr("disabled", "disabled")
            $("#div_id_affected_product").show()
            $("#div_id_affected_category").attr("disabled", "disabled")
            $("#div_id_affected_category").hide()
            affected_product_type($("input[name='affected_product_type']:checked").val());
          }else{
            $("#div_id_affected_category").removeAttr("disabled", "disabled")
            $("#div_id_affected_category").show()
            $("#div_id_affected_product").attr("disabled", "disabled")
            $("#div_id_affected_product").hide()
            affected_product_type($("input[name='affected_product_type']:checked").val());
          }
          $("#div_id_affected_product_type span.asteriskField").hide();
        } else {
          $("#div_id_affected_product").attr("disabled", "disabled")
          $("#div_id_affected_product").hide()
          $("#div_id_affected_category").attr("disabled", "disabled")
          $("#div_id_affected_category").hide()
          $("#div_id_affected_product_type").hide()
          clear_form_elements("#div_id_affected_product")
          clear_form_elements("#div_id_affected_category")
          $("#id_affected_product").multiSelect('deselect_all');
          $("#id_affected_category").multiSelect('deselect_all');
          options.affected_product = false
        };
      });

      $('#id_all_days').on('change', function(){
        if($(this).is(':checked')){
          $('#div_id_allow_days').hide();
          $('#div_id_allow_days input[type="checkbox"]').prop('checked', true);
        }else{
          $('#div_id_allow_days').show();
          $('#div_id_allow_days input[type="checkbox"]').prop('checked', false);
        }
      });

      $('#id_all_outlet').on('change', function(){
        if($(this).is(':checked')){
          $('#div_id_outlet').hide();
          $('#div_id_outlet input[type="checkbox"]').prop('checked', true);
          $('#div_id_all_outlet').parent().css('border-bottom', '1px solid transparent');
          $('#div_id_all_outlet').css('margin', '0px');
        }else{
          $('#div_id_outlet').show();
          $('#div_id_outlet input[type="checkbox"]').prop('checked', false);
          $('#div_id_all_outlet').parent().css('border-bottom', '1px solid #d7d7db');
          $('#div_id_all_outlet').css('margin-bottom', '12px');
          $('div#div_id_outlet:last-child').css('border-bottom', '0px');
        }
      });

      $('#id_enable_end_date').on('change', function(){
        if($(this).is(':checked')){
          $('#div_id_end_date').show();
        }else{
          $('#div_id_end_date').hide();
          $('#id_end_date').val('');
        }
      });

      $('#id_happy_hours').on('change', function(){
        if($(this).is(':checked')){
          $('#div_id_start_hours').show();
          $('#div_id_end_hours').show();
        }else{
          $('#div_id_start_hours').hide();
          $('#div_id_end_hours').hide();
          $('#id_start_hours').val('');
          $('#id_end_hours').val('');
        }
      });

      $('#id_item_buy_type').on('change', function(){
        if($(this).val() == "product"){
          $('#div_id_category_buy').hide();
          $('#div_id_product_buy').show();
        }
        else {
          $('#div_id_category_buy').show();
          $('#div_id_product_buy').hide();
        }
      });

      $('#id_item_get_type').on('change', function(){
        if($(this).val() == "product"){
          $('#div_id_category_get').hide();
          $('#div_id_product_get').show();
        }
        else {
          $('#div_id_category_get').show();
          $('#div_id_product_get').hide();
        }
      });

      $('#id_enable_minimum_transaction').on('change', function(){
        update_hidden_field(
          $(this),
          $('#div_id_minimum_transaction'),
          $('#id_minimum_transaction'),
        );
      });

      $('#id_enable_discount_amount_limit').on('change', function(){
        update_hidden_field(
          $(this),
          $('#div_id_discount_amount_limit'),
          $('#id_discount_amount_limit'),
        )
      });

      $("input[name='promo_rule']").on('change', function(){
        var value = $("input[name='promo_rule']:checked").val();
        update_promo_form(value, options);
      });

      $("input[name='customer_eligibility']").on('click', function(){
        var value = $(this).val();
        customer_eligibility_type(value);
      });

      $("input[name='reward_type']").on('click', function(){
        var value = $(this).val();
        reward_type(value);
      });

      $("input[name='affected_product_type']").on('click', function(){
        var value = $(this).val();
        affected_product_type(value);
      });

      $("input[name='usages_limit']").on('change', function(){
        var value = $("input[name='usages_limit']:checked").val();
        usages_limit(value);
      });


      update_promo_form($("input[name='promo_rule']:checked").val(), options);
      customer_eligibility_type($("input[name='customer_eligibility']:checked").val());
      reward_type($("input[name='reward_type']:checked").val());
      affected_product_type($("input[name='affected_product_type']:checked").val());
      usages_limit($("input[name='usages_limit']:checked").val());
      discount_type($("input[name='discount_type']:checked").val())

      show_all_days($('#id_all_days'));
      show_all_outlet($('#id_all_outlet'));
      enable_end_date($('#id_enable_end_date'));
      enable_happy_hours($('#id_happy_hours'));
      item_buy_type_init($('#id_item_buy_type'));
      item_get_type_init($('#id_item_get_type'));
      update_hidden_field(
        $('#id_enable_minimum_transaction'),
        $('#div_id_minimum_transaction'),
        $('#id_minimum_transaction'),
      );
      update_hidden_field(
        $('#id_enable_discount_amount_limit'),
        $('#div_id_discount_amount_limit'),
        $('#id_discount_amount_limit'),
      );
    });
    </script>
{% endblock javascript %}
