{% load static i18n compress %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content={% block meta-description %}"Aplikasi kasir online berteknologi Point-of-Sale yang memudahkan transaksi bisnis F&B anda. Mulai Rp. 399.000 per bulan!"{% endblock %}>
    <meta name="keywords" content={% block meta-keywords %}"KAWN, aplikasi KAWN, aplikasi kasir, software kasir, program kasir, aplikasi toko, point of sale, aplikasi penjualan, kasir digital, mesin kasir"{% endblock %}>
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/favicon.ico'%}">

    <!-- Fonts -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900" rel="stylesheet">


    <title>Kawn</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
  </head>

  <body class="error-page-500" data-spy="scroll" data-target="#side">

    <section class="error-500">
      <div class="error-content text-center">
        <div class="container">
          <h1>Uh Oh !</h1>
          <h3>Sorry, something has gone wrong.<br>Don’t worry, it’s not you, it’s us.</h3>
          <a class="btn btn-primary" href="{% url 'home' %}">Back to home</a>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{% static "theme/global/js/jquery-slim.min.js" %}"><\/script>')</script>
    <script src="{% static 'theme/global/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script>
     $(function () {
       $(document).scroll(function () {
         var $nav = $(".fixed-top");
         $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
       });
     });
     </script>
  </body>
</html>
