{% load static i18n compress cache sass_tags rules %}<!DOCTYPE html>
<html lang="en">
  <head>
    <title>KAWN | {% block title %}{% endblock title %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="" name="description">
    <meta content="" name="author">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block css %}
      <!-- Latest compiled and minified CSS -->
      <!-- Your stuff: Third-party css libraries go here -->
      <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito:400,600,700" />
      <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
      <link type="text/css" rel="stylesheet" href="{% static 'theme/global/plugins/font-awesome/css/font-awesome.min.css' %}">
      <!--<link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css">-->
      {% block extracss %}
      {% endblock extracss %}

      {% compress css %}
      <!-- This file stores project-specific CSS -->
      <link href="{% sass_src 'sass/project.scss' %}" rel="stylesheet">

      {% endcompress %}

    {% endblock %}

    <!-- start Mixpanel --><script type="text/javascript">(function(c,a){if(!a.__SV){var b=window;try{var d,m,j,k=b.location,f=k.hash;d=function(a,b){return(m=a.match(RegExp(b+"=([^&]*)")))?m[1]:null};f&&d(f,"state")&&(j=JSON.parse(decodeURIComponent(d(f,"state"))),"mpeditor"===j.action&&(b.sessionStorage.setItem("_mpcehash",f),history.replaceState(j.desiredHash||"",c.title,k.pathname+k.search)))}catch(n){}var l,h;window.mixpanel=a;a._i=[];a.init=function(b,d,g){function c(b,i){var a=i.split(".");2==a.length&&(b=b[a[0]],i=a[1]);b[i]=function(){b.push([i].concat(Array.prototype.slice.call(arguments,
0)))}}var e=a;"undefined"!==typeof g?e=a[g]=[]:g="mixpanel";e.people=e.people||[];e.toString=function(b){var a="mixpanel";"mixpanel"!==g&&(a+="."+g);b||(a+=" (stub)");return a};e.people.toString=function(){return e.toString(1)+".people (stub)"};l="disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split(" ");
for(h=0;h<l.length;h++)c(e,l[h]);var f="set set_once union unset remove delete".split(" ");e.get_group=function(){function a(c){b[c]=function(){call2_args=arguments;call2=[c].concat(Array.prototype.slice.call(call2_args,0));e.push([d,call2])}}for(var b={},d=["get_group"].concat(Array.prototype.slice.call(arguments,0)),c=0;c<f.length;c++)a(f[c]);return b};a._i.push([b,d,g])};a.__SV=1.2;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?
MIXPANEL_CUSTOM_LIB_URL:"file:"===c.location.protocol&&"//cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js";d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d)}})(document,window.mixpanel||[]);

  var productionHost = 'office.kawn.co.id';
  var prodToken = '3ce57357fde055bd3076c7d816b0f832'; 
  if (window.location.hostname.toLowerCase().search(productionHost) == 0) {
    mixpanel.init(prodToken);
  }
  </script><!-- end Mixpanel -->
  </head>
  <body>
    <div class="container-scroller">
      <div class="fixed-top">
        <!-- Subscription Header Start -->
        {% if request.session.subscription %}
          {% if request.session.is_trial and request.session.left_days > 0 %}
              <div class="subscription">
                <div class="container">
                  <div class="d-flex justify-content-between">
                      <p class="subscription-info">{% blocktrans with left_days=request.session.left_days %}You have {{ left_days }} days left in your free trial!{% endblocktrans %}</p>
                      <a class="subscription-link" href="{% url 'subscription:billing' %}">{% trans "View Plan" %}</a>
                  </div>
                </div>
              </div>
          {% endif %}
        {% else %}
          {% if request.session.is_trial %}
          <div class="subscription-expired">
            <div class="container">
              <div class="d-flex justify-content-between">
                <p class="subscription-info">{% trans "Your free trial has expired, go subscribe!" %}</p>
                <a class="subscription-link" href="{% url 'subscription:billing' %}">{% trans "View Plan" %}</a>
              </div>
            </div>
          </div>
          {% else %}
          <div class="subscription-expired">
            <div class="container">
              <div class="d-flex justify-content-between">
                <p class="subscription-info">{% trans "Your subscription has expired!" %}</p>
                <a class="subscription-link" href="{% url 'subscription:billing' %}">{% trans "View Plan" %}</a>
              </div>
            </div>
          </div>
          {% endif %}
        {% endif %}
        <!-- Subscription Header Ends -->

          <nav class="navbar default-layout-navbar  p-0 mobile">
            <div class="navbar-brand-wrapper d-flex justify-content-between">
              <a href="{% url 'dashboard' %}" class="navbar-brand brand-logo">
                <img alt="logo" src="{% static 'images/logo.png' %}">
                <img class='logo-text' alt="logo-text" src="{% static 'images/kawn-white-text-logo.svg' %}">
              </a>
              <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                <span class="fa fa-bars"></span>
              </button>
            </div>
          </nav>
      </div>



      <!-- Page Body Wrapper Start-->
      <div class="container-fluid page-body-wrapper {% if request.session.subscription %}{% if request.session.is_trial %}trial{% else %}subscribe{% endif %}{% else %}expired{% endif %}">
          <!-- Primary Sidebar Start -->
          <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <!-- Desktop Sidebar -->
            <ul class="nav desktop">
              <li class="sidebar-header d-flex align-items-center justify-content-start">
                  <a href="{% url 'dashboard' %}" class="navbar-brand brand-logo">
                    <img alt="logo" src="{% static 'images/logo.png' %}">
                    <img class='logo-text' alt="logo-text" src="{% static 'images/kawn-white-text-logo.svg' %}">
                  </a>
                </li>
            </ul>
            <ul class="nav desktop" >
              <div class="scroll sidebar" style="overflow: auto; height: 50%;">
              <li class="nav-item main-menu {% block dashboard_active_class %}{% endblock %}">
                <a class="nav-link" href="{% url 'dashboard' %}">
                  <span class="menu-title">
                    <div class="icon-menu icon-dashboard"></div>
                    {% trans 'Dashboard' %}
                  </span>
                </a>
              </li>

              {% test_rule 'can_access_view' user 'catalogue' as can_access_catalogue %}
              {% if can_access_catalogue %}
              <li class="nav-item main-menu nav-item-has-children {% block library_active_class %}{% endblock %}" data-toggle="#library">
                <a class="nav-link" href="#">
                  <span class="menu-title">
                    <div class="icon-menu icon-library"></div>
                    {% trans 'Library' %}
                  </span>
                  <i class="menu-arrow fa fa-angle-right" aria-hidden="true"></i>
                </a>
              </li>
              {% endif %}

              {% test_rule 'can_access_view' user 'stock' as can_access_stock %}
              {% test_rule 'can_access_view' user 'supplier' as can_access_supplier %}
              {% test_rule 'can_access_view' user 'stock_transfer' as can_access_stock_transfer %}
              {% test_rule 'can_access_view' user 'stock_count' as can_access_stock_count %}
              {% test_rule 'can_access_view' user 'stock_adjustment' as can_access_stock_adjustment %}
              {% test_rule 'can_access_view' user 'purchase_order' as can_access_purchase_order %}
              {% test_rule 'can_access_view' user 'received_order' as can_access_received_order %}
              {% test_rule 'can_access_view' user 'vendor_bill' as can_access_vendor_bill %}
              {% if can_access_stock or can_access_supplier  or can_access_stock_transfer or can_access_stock_count or can_access_stock_adjustment or can_access_purchase_order or can_access_received_order or can_access_vendor_bill %}
              <li class="nav-item main-menu nav-item-has-children {% block stock_active_class %}{% endblock %}" data-toggle="#stocks">
                <a class="nav-link" href="#">
                  <span class="menu-title">
                    <div class="icon-menu icon-inventory"></div>
                    {% trans 'Inventory' %}
                  </span>
                  <i class="menu-arrow fa fa-angle-right" aria-hidden="true"></i>
                </a>
              </li>
              {% endif %}

              {% test_rule 'can_access_view' user 'productions' as can_access_productions %}
              {% if can_access_productions %}
              <li class="nav-item main-menu nav-item-has-children {% block productions_active_class %}{% endblock %}" data-toggle="#manufacture">
                <a class="nav-link" href="#">
                  <span class="menu-title">
                    <div class="icon-menu icon-productions"></div>
                    {% trans 'Manufacture' %}
                  </span>
                  <i class="menu-arrow fa fa-angle-right" aria-hidden="true"></i>
                </a>
              </li>
              {% endif %}

              {% test_rule 'can_access_view' user 'sales' as can_access_sales %}
              {% if can_access_sales %}
              <li class="nav-item main-menu nav-item-has-children {% block sales_active_class %}{% endblock %}" data-toggle="#sales">
                <a class="nav-link" href="#">
                  <span class="menu-title">
                    <div class="icon-menu icon-sales"></div>
                    {% trans 'Sales' %}
                  </span>
                  <i class="menu-arrow fa fa-angle-right" aria-hidden="true"></i>
                </a>
              </li>
              {% endif %}

              {% test_rule 'can_access_view' user 'sales' as can_access_sales %}
              {% if can_access_sales %}
              <li class="nav-item main-menu nav-item-has-children {% block reports_active_class %}{% endblock %}" data-toggle="#reports">
                <a class="nav-link" href="#">
                  <span class="menu-title">
                    <div class="icon-menu icon-report"></div>
                    {% trans 'Reports' %}
                  </span>
                  <i class="menu-arrow fa fa-angle-right" aria-hidden="true"></i>
                </a>
              </li>
              {% endif %}

              {% test_rule 'can_access_view' user 'promo' as can_access_promo %}
              {% if can_access_promo %}
              <li class="nav-item main-menu nav-item-has-children {% block promo_active_class %}{% endblock %}" data-toggle="#promo">
                <a class="nav-link" href="#">
                  <span class="menu-title">
                    <div class="icon-menu icon-promo"></div>
                    {% trans 'Promo' %}
                  </span>
                  <i class="menu-arrow fa fa-angle-right" aria-hidden="true"></i>
                </a>
              </li>
              {% endif %}

              {% test_rule 'can_access_view' user 'customer' as can_access_customer %}
              {% if can_access_customer %}
                <li class="nav-item main-menu nav-item-has-children {% block customer_active_class %}{% endblock %}"  data-toggle="#customers">
                <a class="nav-link" href="#">
                  <span class="menu-title">
                    <div class="icon-menu icon-user"></div>
                    {% trans 'Customers' %}
                  </span>
                  <i class="menu-arrow fa fa-angle-right" aria-hidden="true"></i>
                </a>
              </li>
              {% endif %}

              {% test_rule 'can_access_view' user 'device' as can_access_device %}
              {% if can_access_device %}
              <li class="nav-item main-menu nav-item-has-children {% block employees_active_class %}{% endblock %} " data-toggle="#employees">
                <a class="nav-link" href="#">
                  <span class="menu-title">
                    <div class="icon-menu icon-employees"></div>
                    {% trans 'Employees' %}
                  </span>
                  <i class="menu-arrow fa fa-angle-right" aria-hidden="true"></i>
                </a>
              </li>
              {% endif %}

              <!--<li class="nav-item main-menu nav-item-has-children {% block table_management_active_class %}{% endblock %}" data-toggle="#table_management">-->
                <!--<a class="nav-link" href="#">-->
                  <!--<span class="menu-title">-->
                    <!--<div class="icon-menu icon-table-management"></div>-->
                    <!--{% trans 'Table Management' %}-->
                  <!--</span>-->
                  <!--<i class="menu-arrow fa fa-angle-right" aria-hidden="true"></i>-->
                <!--</a>-->
              <!--</li>-->
              <!--<li class="nav-item main-menu nav-item-has-children {% block waiters_active_class %}{% endblock %}" data-toggle="#waiters">-->
                <!--<a class="nav-link" href="#">-->
                  <!--<span class="menu-title">-->
                    <!--<div class="icon-menu icon-waiter"></div>-->
                    <!--{% trans 'Waiter Management' %}-->
                  <!--</span>-->
                  <!--<i class="menu-arrow fa fa-angle-right" aria-hidden="true"></i>-->
                <!--</a>-->
              <!--</li>-->
              <!--<li class="nav-item main-menu nav-item-has-children {% block kitchen_display_active_class %}{% endblock %}" data-toggle="#kitchen_display">-->
                <!--<a class="nav-link" href="#">-->
                  <!--<span class="menu-title">-->
                    <!--<div class="icon-menu icon-kitchen"></div>-->
                    <!--{% trans 'Kitchen Display' %}-->
                  <!--</span>-->
                  <!--<i class="menu-arrow fa fa-angle-right" aria-hidden="true"></i>-->
                <!--</a>-->
              <!--</li>-->

              {% test_rule 'can_access_view' user 'application' as can_access_application %}
              {% if can_access_application %}
              <li class="nav-item main-menu nav-item-has-children {% block applications_active_class %}{% endblock %}" data-toggle="#applications">
                <a class="nav-link" href="#">
                  <span class="menu-title">
                    <div class="icon-menu icon-applications"></div>
                    {% trans 'Application' %}
                  </span>
                  <i class="menu-arrow fa fa-angle-right" aria-hidden="true"></i>
                </a>
              </li>
              {% endif %}
              </div>
            </ul>

            <ul class="nav secondary-list {{ request.session.secondary_list }} desktop">
              <li class="nav-item main-menu nav-item-has-children {% block settings_active_class %}{% endblock %}" data-toggle="#settings">
                <a class="nav-link" href="#">
                  <span class="menu-title">
                    <div class="icon-menu icon-settings"></div>
                    {% trans 'Settings' %}
                  </span>
                  <i class="menu-arrow fa fa-angle-right" aria-hidden="true"></i>
                </a>
              </li>
              <div class="collapse logout-menu" id="account">
                <ul class="nav flex-column account-nav">
                  <li class="nav-item">
                    <a class="nav-link dropdown-item" href="#" data-toggle="modal" data-target="#logout">
                      <span class="menu-title">
                        <div class="icon-menu icon-logout"></div>
                        {% trans "Logout" %}
                      </span>
                    </a>
                  </li>
                </ul>
              </div>
              <li class="nav-item account-menu" data-toggle="#account">
                <a class="nav-link dropdown-toggle" data-toggle="collapse" href="#account" aria-expanded="false" aria-controls="account">
                  <span class="menu-title">
                    <img avatar="{{ request.user.get_name }}" class="rounded-circle initial-image p-0">
                    {{ request.user.get_name }}
                  </span>
                  <div class="icons">
                    <i class="fa fa-angle-up icon-default"></i>
                    <i class="fa fa-angle-down icon-open"></i>
                  </div>
                </a>
              </li>

            </ul>
            <!-- Desktop Sidebar -->

            <!-- Mobile Sidebar -->
            <ul class="nav mobile">
              <li class="nav-item {% block mobile_dashboard_active_class %}{% endblock %}">
                <a class="nav-link" href="{% url 'dashboard' %}">
                  <span class="menu-title">
                    <div class="icon-menu icon-dashboard"></div>
                    {% trans 'Dashboard' %}
                  </span>
                </a>
              </li>
              {% test_rule 'can_access_view' user 'catalogue' as can_access_catalogue %}
              {% if can_access_catalogue %}
              <li class="nav-item nav-item-has-children {% block mobile_library_active_class %}{% endblock %}" data-toggle="#library">
                <a class="nav-link" data-toggle="collapse" href="#library" aria-expanded="false" aria-controls="library">
                  <span class="menu-title">
                    <div class="icon-menu icon-library"></div>
                    {% trans 'Library' %}
                  </span>
                  <i class="menu-arrow fa fa-angle-right" aria-hidden="true"></i>
                </a>
                <div class="collapse" id="library">
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item {% block mobile_library_itemlibrary_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'catalogue:product_list' 'sellable' %}">
                        <span class="menu-title">{% trans 'Item Library' %}</span>
                      </a>
                    </li>
                    <li class="nav-item {% block mobile_library_variants_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'catalogue:variant_list' 'sellable' %}">
                        <span class="menu-title">{% trans 'Variants' %}</span>
                      </a>
                    </li>
                    <li class="nav-item {% block mobile_library_modifiers_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'catalogue:modifier_list' %}">
                        <span class="menu-title">{% trans 'Modifiers' %}</span>
                      </a>
                    </li>
                    <li class="nav-item {% block mobile_library_addons_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'catalogue:product_addon_list' %}">
                        <span class="menu-title">{% trans 'Addons' %}</span>
                      </a>
                    </li>
                    <li class="nav-item {% block mobile_library_categories_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'catalogue:category_list' %}">
                        <span class="menu-title">{% trans 'Categories' %}</span>
                      </a>
                    </li>
                    <li class="nav-item {% block mobile_product_composite_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'catalogue:product_composite_list' %}">
                        <span class="menu-title">{% trans 'Set Menu' %}</span>
                      </a>
                    </li>
                    <li class="nav-item {% block mobile_dynamic_composite_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'catalogue:dynamic_composite_list' %}">
                        <span class="menu-title">{% trans 'Custom Set Menu' %}</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              {% endif %}

              {% test_rule 'can_access_view' user 'stock' as can_access_stock %}
              {% test_rule 'can_access_view' user 'supplier_item' as can_access_supplier_item %}
              {% if can_access_stock or can_access_supplier_item %}
              <li class="nav-item nav-item-has-children {% block mobile_stock_active_class %}{% endblock %}" data-toggle="#sales">
                <a class="nav-link" data-toggle="collapse" href="#stock-mobile" aria-expanded="false" aria-controls="sales">
                  <span class="menu-title">
                    <div class="icon-menu icon-inventory"></div>
                    {% trans 'Inventory' %}
                  </span>
                  <i class="menu-arrow fa fa-angle-right" aria-hidden="true"></i>
                </a>
                <div class="collapse" id="stock-mobile">
                  <ul class="nav flex-column sub-menu">
                    {% test_rule 'can_access_view' user 'stock' as can_access_stock %}
                    {% test_rule 'can_access_view' user 'supplier' as can_access_supplier %}
                    {% test_rule 'can_access_view' user 'stock_transfer' as can_access_stock_transfer %}
                    {% test_rule 'can_access_view' user 'stock_count' as can_access_stock_count %}
                    {% test_rule 'can_access_view' user 'stock_adjustment' as can_access_stock_adjustment %}
                    {% test_rule 'can_access_view' user 'purchase_order' as can_access_purchase_order %}
                    {% test_rule 'can_access_view' user 'received_order' as can_access_received_order %}
                    {% test_rule 'can_access_view' user 'vendor_bill' as can_access_vendor_bill %}
                    {% if can_access_stock %}
                    <li class="nav-item {% block mobile_stock_card_active_class %}{% endblock %}" >
                      <a class="nav-link" href="{% url 'stocks:stocks_card_subquery' %}">
                        <span class="menu-title">{% trans 'Stock Card' %}</span>
                      </a>
                    </li>
                    {% endif %}

                    {% if can_access_stock_transfer %}
                    <li class="nav-item {% block mobile_stock_stocktransfer_active_class %}{% endblock %}" >
                      <a class="nav-link" href="{% url 'stocks:stocks_transfer' %}">
                        <span class="menu-title">{% trans 'Stocks Transfer' %}</span>
                      </a>
                    </li>
                    {% endif %}

                    {% if can_access_stock_count %}
                    <li class="nav-item {% block mobile_stock_stockcount_active_class %}{% endblock %}" >
                      <a class="nav-link" href="{% url 'stocks:stocks_count' %}">
                        <span class="menu-title">{% trans 'Stocks Count' %}</span>
                      </a>
                    </li>
                    {% endif %}

                    {% if can_access_stock_adjustment %}
                    <li class="nav-item {% block mobile_stock_stockadjustment_active_class %}{% endblock %}" >
                      <a class="nav-link" href="{% url 'stocks:stocks_adjustment' %}">
                        <span class="menu-title">{% trans 'Stocks Adjustment' %}</span>
                      </a>
                    </li>
                    {% endif %}
      
                    {% if can_access_stock %}
                    <li class="nav-item {% block mobile_stock_stocktransaction_active_class %}{% endblock %}" >
                      <a class="nav-link" href="{% url 'stocks:stocks_transaction' %}">
                        <span class="menu-title">{% trans 'Stocks History' %}</span>
                      </a>
                    </li>
                    {% endif %}

                    {% if can_access_supplier %}
                    <li class="nav-item {% block mobile_stock_supplier_active_class %}{% endblock %}" >
                      <a class="nav-link" href="{% url 'stocks:stocks_supplier' %}">
                        <span class="menu-title">{% trans 'Suppliers' %}</span>
                      </a>
                    </li>
                    {% endif %}

                    {% if can_access_purchase_order %}
                    <li class="nav-item {% block mobile_stock_purchase_orders_active_class %}{% endblock %}" >
                      <a class="nav-link" href="{% url 'stocks:stocks_purchase_order' %}">
                        <span class="menu-title">{% trans 'Purchase Orders' %}</span>
                      </a>
                    </li>
                    {% endif %}

                    {% if can_access_received_order %}
                    <li class="nav-item {% block mobile_stock_received_orders_active_class %}{% endblock %}" >
                      <a class="nav-link" href="{% url 'stocks:stocks_received_order' %}">
                        <span class="menu-title">{% trans 'Received Orders' %}</span>
                      </a>
                    </li>
                    {% endif %}

                    {% if request.user.account.pk == 2 or request.user.account.pk == 401 or request.user.account.pk  == 111 or STAGING %}
                    <li class="nav-item {% block mobile_stock_vendor_bills_active_class %}{% endblock %}" >
                      <a class="nav-link" href="{% url 'stocks:stocks_vendor_bill' %}">
                        <span class="menu-title">{% trans 'Vendor Bills' %}</span>
                      </a>
                    </li>
                    {% endif %}

                    {% if can_access_stock %}
                    <li class="nav-item {% block mobile_stock_batches_active_class %}{% endblock %}" >
                      <a class="nav-link" href="{% url 'stocks:stocks_batch_track' %}">
                        <span class="menu-title">{% trans 'Batches' %}</span>
                      </a>
                    </li>
                    {% endif %}

                    {% if request.user.account.pk == 2 or request.user.account.pk == 401 or request.user.account.pk  == 111 or STAGING %}
                    <li class="nav-item {% block mobile_inventory_reports_active_class %}{% endblock %}" >
                      <a class="nav-link" href="{% url 'stocks:stocks_report' %}">
                        <span class="menu-title">{% trans 'Inventory Report' %}</span>
                      </a>
                    </li>
                    {% endif %}

                  </ul>
                </div>
              </li>
              {% endif %}

              {% test_rule 'can_access_view' user 'productions' as can_access_productions %}
              {% if can_access_productions %}
              <li class="nav-item nav-item-has-children {% block mobile_production_active_class %}{% endblock %}" data-toggle="#sales">
                <a class="nav-link" data-toggle="collapse" href="#manufacture-mobile" aria-expanded="false" aria-controls="sales">
                  <span class="menu-title">
                    <div class="icon-menu icon-productions"></div>
                    {% trans 'Manufacture' %}
                  </span>
                  <i class="menu-arrow fa fa-angle-right" aria-hidden="true"></i>
                </a>
                <div class="collapse" id="manufacture-mobile">
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item {% block mobile_bom_list_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'productions:bom_list' %}">
                        <span class="menu-title">{% trans 'Bill of Materials' %}</span>
                      </a>
                    </li>
                    <li class="nav-item {% block mobile_production_list_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'productions:production_list' %}">
                        <span class="menu-title">{% trans 'Productions' %}</span>
                      </a>
                    </li>
                    <li class="nav-item {% block mobile_bom_item_usage_list_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'productions:bom_item_usage_list' %}">
                        <span class="menu-title">{% trans 'Bill of Materials Usage' %}</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              {% endif %}

              {% test_rule 'can_access_view' user 'sales' as can_access_sales %}
              {% if can_access_sales %}
              <li class="nav-item nav-item-has-children {% block mobile_sales_active_class %}{% endblock %}" data-toggle="#sales">
                <a class="nav-link" data-toggle="collapse" href="#sales" aria-expanded="false" aria-controls="sales">
                  <span class="menu-title">
                    <div class="icon-menu icon-sales"></div>
                    {% trans 'Sales' %}
                  </span>
                  <i class="menu-arrow fa fa-angle-right" aria-hidden="true"></i>
                </a>
                <div class="collapse" id="sales">
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item {% block mobile_sales_order_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'sales:sales_order_list' %}">
                        <span class="menu-title">{% trans 'Sales Order' %}</span>
                      </a>
                    </li>
                    <li class="nav-item {% block mobile_product_order_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'sales:product_order_list' %}">
                        <span class="menu-title">{% trans 'Product Order' %}</span>
                      </a>
                    </li>
                    <li class="nav-item {% block mobile_product_sales_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'sales:product_sales_list' %}">
                        <span class="menu-title">{% trans 'Product Sales Summary' %}</span>
                      </a>
                    </li>
                    <li class="nav-item {% block mobile_product_addon_sales_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'sales:product_addon_sales_list' %}">
                        <span class="menu-title">{% trans 'Product Addon Sales Summary' %}</span>
                      </a>
                    </li>
                    <li class="nav-item {% block mobile_invoice_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'sales:invoice_list' %}">
                        <span class="menu-title">{% trans 'Invoice' %}</span>
                      </a>
                    </li>
                    <li class="nav-item {% block mobile_installment_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'sales:invoice_installment_list' %}">
                        <span class="menu-title">{% trans 'Installment' %}</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              {% endif %}

              {% test_rule 'can_access_view' user 'sales' as can_access_sales %}
              {% if can_access_sales %}
              <li class="nav-item nav-item-has-children {% block mobile_reports_active_class %}{% endblock %}" data-toggle="#report">
                <a class="nav-link" data-toggle="collapse" href="#report" aria-expanded="false" aria-controls="report">
                  <span class="menu-title">
                    <div class="icon-menu icon-report"></div>
                    {% trans 'Reports' %}
                  </span>
                  <i class="menu-arrow fa fa-angle-right" aria-hidden="true"></i>
                </a>
                <div class="collapse" id="report">
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item {% block mobile_sales_summary_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'sales:sales_summary' %}">
                        <span class="menu-title">{% trans 'Sales Summary' %}</span>
                      </a>
                    </li>
                    <li class="nav-item {% block mobile_gross_profit_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'sales:gross_profit' %}">
                        <span class="menu-title">{% trans 'Gross Profit' %}</span>
                      </a>
                    </li>
                    <li class="nav-item {% block mobile_sales_by_payment_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'sales:sales_by_payment' %}">
                        <span class="menu-title">{% trans 'Payment Method' %}</span>
                      </a>
                    </li>
                    <li class="nav-item {% block mobile_sales_by_order_type_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'sales:sales_by_order_type' %}">
                        <span class="menu-title">{% trans 'Order Type' %}</span>
                      </a>
                    </li>
                    <li class="nav-item {% block mobile_sales_report_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'sales:sales_report' %}">
                        <span class="menu-title">{% trans 'Sales' %}</span>
                      </a>
                    </li>
                    <li class="nav-item {% block mobile_sales_by_category_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'sales:sales_by_category' %}">
                        <span class="menu-title">{% trans 'Category' %}</span>
                      </a>
                    </li>
                    <li class="nav-item {% block mobile_customer_report_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'customers:customer_report' %}">
                        <span class="menu-title">{% trans 'Customer Sales Report' %}</span>
                      </a>
                    </li>
                    {% test_rule 'can_access_view' user 'cash_balance' as can_access_cash_balance %}
                    {% if can_access_cash_balance %}
                    <li class="nav-item {% block mobile_cash_balance_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'cash_balance:list' %}">
                        <span class="menu-title">{% trans 'Cash Balance' %}</span>
                      </a>
                    </li>
                    {% endif %}
                    <li class="nav-item {% block mobile_sales_by_type_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'sales:sales_by_type' %}">
                        <span class="menu-title">{% trans 'Sales FOC Summary' %}</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              {% endif %}

              {% test_rule 'can_access_view' user 'promo' as can_access_promo %}
              {% if can_access_promo %}
              <li class="nav-item main-menu {% block mobile_promo_active_class %}{% endblock %}">
                <a class="nav-link" data-toggle="collapse" href="#promo-mobile" aria-expanded="false" aria-controls="promo">
                  <span class="menu-title">
                    <div class="icon-menu icon-promo"></div>
                    {% trans 'Promo' %}
                  </span>
                  <i class="menu-arrow fa fa-angle-right" aria-hidden="true"></i>
                </a>
                <div class="collapse" id="promo-mobile">
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item {% block mobile_promo_list_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'promo:promo_list' %}">
                        <span class="menu-title">{% trans 'Promo' %}</span>
                      </a>
                    </li>
                    <li class="nav-item {% block mobile_promo_usages_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'promo:promo_usages' %}">
                        <span class="menu-title">{% trans 'Promo Usage' %}</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              {% endif %}

              {% test_rule 'can_access_view' user 'customer' as can_access_customer %}
              {% if can_access_customer %}
              <li class="nav-item main-menu {% block mobile_customer_active_class %}{% endblock %}">
                <a class="nav-link" data-toggle="collapse" href="#customer-mobile" aria-expanded="false" aria-controls="customer">
                  <span class="menu-title">
                    <div class="icon-menu icon-user"></div>
                    {% trans 'Customer' %}
                  </span>
                  <i class="menu-arrow fa fa-angle-right" aria-hidden="true"></i>
                </a>
                <div class="collapse" id="customer-mobile">
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item {% block mobile_customer_list_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'customers:customer_list' %}">
                        <span class="menu-title">{% trans 'Customers List' %}</span>
                      </a>
                    </li>
                    <li class="nav-item {% block mobile_customer_group_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'customers:customer_group_list' %}">
                        <span class="menu-title">{% trans 'Group' %}</span>
                      </a>
                    </li>
                    <li class="nav-item {% block mobile_customer_organization_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'customers:customer_organization_list' %}">
                        <span class="menu-title">{% trans 'Organization' %}</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              {% endif %}

              {% test_rule 'can_access_view' user 'device' as can_access_device %}
              {% if can_access_device %}
              <li class="nav-item nav-item-has-children {% block mobile_employees_active_class %}{% endblock %} " data-toggle="#employees">
                <a class="nav-link" data-toggle="collapse" href="#employees" aria-expanded="false" aria-controls="employees">
                  <span class="menu-title">
                    <div class="icon-menu icon-employees"></div>
                    {% trans 'Employees' %}
                  </span>
                  <i class="menu-arrow fa fa-angle-right" aria-hidden="true"></i>
                </a>
                <div class="collapse" id="employees">
                  <ul class="nav flex-column sub-menu">
                    {% if request.user.is_owner %}
                    <li class="nav-item {% block mobile_employees_staff_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'invitation:user_list_dashboard' %}">
                        <span class="menu-title">{% trans 'Account Management' %}</span>
                      </a>
                    </li>
                    <li class="nav-item {% block mobile_employees_device_user_manager_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'device:device_user_manager_list' %}">
                        <span class="menu-title">{% trans 'Outlet Manager Staff' %}</span>
                      </a>
                    </li>
                    {% endif %}
                    <li class="nav-item {% block mobile_employees_device_user_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'device:device_user_staff_list' %}">
                        <span class="menu-title">{% trans 'Outlet Staff' %}</span>
                      </a>
                    </li>
                    {% if request.user.is_owner %}
                    <li class="nav-item {% block mobile_employees_role_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'role:list' %}">
                        <span class="menu-title">{% trans 'Role' %}</span>
                      </a>
                    </li>
                  {% endif %}
                  </ul>
                </div>
              </li>
              {% endif %}

              {% test_rule 'can_access_view' user 'application' as can_access_application %}
              {% if can_access_application %}
              <li class="nav-item nav-item-has-children {% block mobile_application_active_class %}{% endblock %} " data-toggle="#employees">
                <a class="nav-link" data-toggle="collapse" href="#application-mobile" aria-expanded="false" aria-controls="employees">
                  <span class="menu-title">
                    <div class="icon-menu icon-applications"></div>
                    {% trans 'Application' %}
                  </span>
                  <i class="menu-arrow fa fa-angle-right" aria-hidden="true"></i>
                </a>
                <div class="collapse" id="application-mobile">
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item {% block mobile_applications_table_management_class %}{% endblock %}" >
                      {% if request.user.account.tablemanagementsettings_set.first.is_enabled == True  %}
                      <a class="nav-link" href="{% url 'table_management:table_area_list' %}">
                        <span class="menu-title">{% trans 'Table Management' %}</span>
                      </a>
                      {% else %}
                      <a class="nav-link" href="{% url 'table_management:settings_disable' %}">
                        <span class="menu-title">{% trans 'Table Management' %}</span>
                      </a>
                      {% endif %}
                    </li>
                    <li class="nav-item {% block mobile_applications_table_order_class %}{% endblock %}" >
                      {% if request.user.account.tableordersettings_set.first.is_enabled == True  %}
                      <a class="nav-link" href="{% url 'table_order:settings' %}">
                        <span class="menu-title">{% trans 'Self Ordering' %}</span>
                      </a>
                      {% else %}
                      <a class="nav-link" href="{% url 'table_order:settings_disable' %}">
                        <span class="menu-title">{% trans 'Self Ordering' %}</span>
                      </a>
                      {% endif %}
                    </li>
                    <li class="nav-item {% block mobile_applications_waiter_management_class %}{% endblock %}">
                      {% if request.user.account.waitersettings_set.first.is_enabled == True  %}
                      <a class="nav-link" href="{% url 'waiters:list' %}">
                        <span class="menu-title">{% trans 'Waiter Management' %}</span>
                      </a>
                      {% else %}
                      <a class="nav-link" href="{% url 'waiters:settings_disable' %}">
                        <span class="menu-title">{% trans 'Waiter Management' %}</span>
                      </a>
                      {% endif %}
                    </li>
                    <li class="nav-item {% block mobile_applications_kitchen_display_class %}{% endblock %}">
                      {% if request.user.account.kitchendisplaysetting_set.first.is_enabled == True  %}
                      <a class="nav-link" href="{% url 'kitchen_display:settings' %}">
                        <span class="menu-title">{% trans 'Kitchen Display' %}</span>
                      </a>
                      {% else %}
                      <a class="nav-link" href="{% url 'kitchen_display:settings_disable' %}">
                        <span class="menu-title">{% trans 'Kitchen Display' %}</span>
                      </a>
                      {% endif %}
                    </li>
                    <li class="nav-item {% block mobile_employee_list_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'customers:employee_list' %}">
                        <span class="menu-title">{% trans 'Employee Benefit' %}</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              {% endif %}              

              <li class="nav-item nav-item-has-children {% block mobile_settings_active_class %}{% endblock %}" data-toggle="#settings">
                <a class="nav-link" data-toggle="collapse" href="#settings" aria-expanded="false" aria-controls="settings">
                  <span class="menu-title">
                    <div class="icon-menu icon-settings"></div>
                    {% trans 'Settings' %}
                  </span>
                  <i class="menu-arrow fa fa-angle-right" aria-hidden="true"></i>
                </a>
                <div class="collapse" id="settings">
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item {% block mobile_settings_email_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'account_email' %}">
                        <span class="menu-title">{% trans 'Account' %}</span>
                      </a>
                    </li>

                    {% test_rule 'can_access_view' user 'account' as can_access_account %}
                    {% if can_access_account %}
                    <li class="nav-item {% block mobile_settings_account_active_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'accounts:update' %}">
                      <span class="menu-title">{% trans 'Business' %}</span>
                    </a>
                    </li>
                    {% endif %}

                    {% test_rule 'can_access_view' user 'receipt' as can_access_receipt %}
                    {% if can_access_receipt %}
                    <li class="nav-item {% block mobile_settings_reciept_active_class %}{% endblock %}">
                      {% if request.user.is_owner %}
                      {% if request.user.account.outlet_set.exists %}
                        <a class="nav-link" href="{% url 'receipt:receipt' request.user.account.outlet_set.first.pk %}">
                          <span class="menu-title">{% trans "Receipt" %}</span>
                        </a>
                      {% endif %}
                      {% else %}
                      {% if request.user.device_user.outlet.exists %}
                        <a class="nav-link" href="{% url 'receipt:receipt' request.user.device_user.outlet.first.pk %}">
                          <span class="menu-title">{% trans "Receipt" %}</span>
                        </a>
                      {% endif %}
                      {% endif %}
                    </li>
                    {% endif %}

                    {% test_rule 'can_access_view' user 'cash_balance' as can_access_cash_balance %}
                    {% if can_access_cash_balance %}
                    <li class="nav-item {% block mobile_settings_cash_balance_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'cash_balance:settings' %}">
                        <span class="menu-title">{% trans 'Cash Balance' %}</span>
                      </a>
                    </li>
                    {% endif %}

                    {% test_rule 'can_access_view' user 'sales_settings' as can_access_sales %}
                    {% if can_access_sales %}
                    <li class="nav-item {% block mobile_settings_payment_method_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'sales:payment_method_update'%}">
                        <span class="menu-title">{% trans 'Payment Method' %}</span>
                      </a>
                    </li>
                    {% endif %}

                    {% test_rule 'can_access_view' user 'outlet' as can_access_outlet %}
                    {% if can_access_outlet %}
                    <li class="nav-item {% block mobile_settings_outlets_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'outlet:outlet_list' %}">
                        <span class="menu-title">{% trans 'Outlets' %}</span>
                      </a>
                    </li>
                    {% endif %}

                    {% test_rule 'can_access_view' user 'surcharges' as can_access_surcharges %}
                    {% if can_access_surcharges %}
                    <li class="nav-item {% block mobile_settings_order_option_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'sales:sales_order_option_list' %}">
                        <span class="menu-title">{% trans 'Order Options' %}</span>
                      </a>
                    </li>
                    {% endif %}

                    {% test_rule 'can_access_view' user 'surcharges' as can_access_surcharges %}
                    {% if can_access_surcharges %}
                    <li class="nav-item {% block mobile_settings_surcharge_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'surcharges:surcharge_list' %}">
                        <span class="menu-title">{% trans 'Surcharge' %}</span>
                      </a>
                    </li>
                    {% endif %}

                    {% if request.user.is_owner %}
                    <li class="nav-item {% block mobile_settings_private_apps_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'private-apps:list' %}">
                        <span class="menu-title">{% trans 'Private Apps' %}</span>
                      </a>
                    </li>
                    {% endif %}

                    {% test_rule 'can_access_view' user 'sales' as can_access_sales %}
                    {% if can_access_sales %}
                    <li class="nav-item {% block mobile_report_settings_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'sales:settings' %}">
                        <span class="menu-title">{% trans 'Report Settings' %}</span>
                      </a>
                    </li>
                    {% endif %}

                    {% test_rule 'can_access_view' user 'sales_settings' as can_access_sales %}
                    {% if can_access_sales %}
                    <li class="nav-item {% block mobile_settings_cashier_activity_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'sales:cashier_activity_list' %}">
                        <span class="menu-title">{% trans 'Cashier Activity' %}</span>
                      </a>
                    </li>
                    {% endif %}

                    
                    {% test_rule 'can_access_view' user 'catalogue' as can_access_catalogue %}
                    {% if can_access_catalogue %}
                      <li class="nav-item {% block mobile_settings_uom_active_class %}{% endblock %}">
                        <a class="nav-link" href="{% url 'catalogue:uom_list' %}">
                          <span class="menu-title">{% trans 'Units of Measure' %}</span>
                        </a>
                      </li>
                    {% endif %}

                    {% test_rule 'can_access_view' user 'inventory_setting' as can_access_inventory_setting %}
                    {% if can_access_inventory_setting %}
                    <li class="nav-item {% block mobile_settings_inventory_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'stocks:stocks_settings_outlet' %}">
                        <span class="menu-title">{% trans 'Inventory Settings' %}</span>
                      </a>
                    </li>
                    {% endif %}

                    {% test_rule 'can_access_view' user 'sales_settings' as can_access_sales %}
                    {% if can_access_sales %}
                    <li class="nav-item {% block mobile_settings_transaction_type_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'sales:transaction_type_reason_list' %}">
                        <span class="menu-title">{% trans 'Transaction Type Reason' %}</span>
                      </a>
                    </li>
                    {% endif %}


                    {% test_rule 'can_access_view' user 'notification_setting' as can_access_notification_setting %}
                    {% if can_access_notification_setting %}
                    <li class="nav-item {% block mobile_settings_notification_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'notification:settings' %}">
                        <span class="menu-title">{% trans 'Notification Settings' %}</span>
                      </a>
                    </li>
                    {% endif %}

                    {% test_rule 'can_access_view' user 'digital_payment' as can_access_digital_payment %}
                    {% if can_access_digital_payment %}
                    <!--li class="nav-item {% block mobile_digital_payment_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'digital_payment:index' %}">
                        <span class="menu-title">{% trans 'Digital Payment' %}</span>
                      </a>
                    </li-->
                    {% endif %}

                  </ul>
                </div>
              </li>

              <li class="nav-item">
                  <a class="nav-link" href="#" data-toggle="modal" data-target="#logout">
                    <span class="menu-title">
                      <div class="icon-menu icon-logout"></div>
                      {% trans 'Logout' %}
                    </span>
                  </a>
                </li>
            </ul>
            <!-- Mobile Sidebar -->
          </nav>
          <!-- Primary Sidebar Ends -->

          <!-- Secondary Sidebar Start -->
          <div class="secondary-sidebar {% block secondary_sidebar_expand %}{% endblock %}">

            <span id="sales" data-nav="sales-order" class="secondary-salesorder {% block secondary_sidebar_sales_show %}{% endblock %}">
              <nav class="secondary-menu">
                <ul class="nav">
                  <li class="nav-header d-flex align-items-center">
                    <h4>{% trans 'Sales' %}</h4>
                  </li>
                  <li class="nav-item {% block sales_order_active_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'sales:sales_order_list' %}">
                      <span class="menu-title">{% trans 'Sales Order' %}</span>
                    </a>
                  </li>
                  <li class="nav-item {% block product_order_active_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'sales:product_order_list' %}">
                      <span class="menu-title">{% trans 'Product Order' %}</span>
                    </a>
                  </li>
                  <li class="nav-item {% block product_sales_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'sales:product_sales_list' %}">
                        <span class="menu-title">{% trans 'Product Sales Summary' %}</span>
                      </a>
                  </li>
                  <li class="nav-item {% block product_addon_sales_active_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'sales:product_addon_sales_list' %}">
                      <span class="menu-title">{% trans 'Product Addon Sales Summary' %}</span>
                    </a>
                  </li>
                  <li class="nav-item {% block invoice_active_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'sales:invoice_list' %}">
                      <span class="menu-title">{% trans 'Invoice' %}</span>
                    </a>
                  </li>
                  <li class="nav-item {% block installment_active_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'sales:invoice_installment_list' %}">
                      <span class="menu-title">{% trans 'Installment' %}</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </span>

            <span id="customers" data-nav="customer" class="secondary-salesorder {% block secondary_sidebar_customer_show %}{% endblock %}">
              <nav class="secondary-menu">
                <ul class="nav">
                  <li class="nav-header d-flex align-items-center">
                    <h4>{% trans 'Customers' %}</h4>
                  </li>
                  <li class="nav-item {% block customer_list_active_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'customers:customer_list' %}">
                      <span class="menu-title">{% trans 'Customers List' %}</span>
                    </a>
                  </li>
                  <li class="nav-item {% block customer_group_active_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'customers:customer_group_list' %}">
                      <span class="menu-title">{% trans 'Group' %}</span>
                    </a>
                  </li>
                  <li class="nav-item {% block customer_organization_active_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'customers:customer_organization_list' %}">
                      <span class="menu-title">{% trans 'Organization' %}</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </span>

            <span id="manufacture" data-nav="manufacture" class="secondary-salesorder {% block secondary_sidebar_manufactured_show %}{% endblock %}">
              <nav class="secondary-menu">
                <ul class="nav">
                  <li class="nav-header d-flex align-items-center">
                    <h4>{% trans 'Manufacture' %}</h4>
                  </li>
                  <li class="nav-item {% block bom_list_active_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'productions:bom_list' %}">
                      <span class="menu-title">{% trans 'Bill of Materials' %}</span>
                    </a>
                  </li>
                  <li class="nav-item {% block production_list_active_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'productions:production_list' %}">
                      <span class="menu-title">{% trans 'Productions' %}</span>
                    </a>
                  </li>
                  <li class="nav-item {% block bom_item_usage_list_active_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'productions:bom_item_usage_list' %}">
                      <span class="menu-title">{% trans 'Bill of Materials Usage' %}</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </span>

            <span id="reports" data-nav="reports" class="secondary-salesorder {% block secondary_sidebar_reports_show %}{% endblock %}">
              <nav class="secondary-menu">
                <ul class="nav">
                  <li class="nav-header d-flex align-items-center">
                    <h4>{% trans 'Reports' %}</h4>
                  </li>
                  <li class="nav-item {% block sales_summary_active_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'sales:sales_summary' %}">
                      <span class="menu-title">{% trans 'Sales Summary' %}</span>
                    </a>
                  </li>
                  <li class="nav-item {% block gross_profit_active_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'sales:gross_profit' %}">
                        <span class="menu-title">{% trans 'Gross Profit' %}</span>
                    </a>
                  </li>
                  <li class="nav-item {% block sales_by_payment_active_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'sales:sales_by_payment' %}">
                      <span class="menu-title">{% trans 'Payment Method' %}</span>
                    </a>
                  </li>
                  <li class="nav-item {% block sales_by_order_type_active_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'sales:sales_by_order_type' %}">
                      <span class="menu-title">{% trans 'Order Type' %}</span>
                    </a>
                  </li>
                  <li class="nav-item {% block sales_report_active_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'sales:sales_report' %}">
                      <span class="menu-title">{% trans 'Sales' %}</span>
                    </a>
                  </li>
                  <li class="nav-item {% block sales_by_category_active_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'sales:sales_by_category' %}">
                      <span class="menu-title">{% trans 'Category' %}</span>
                    </a>
                  </li>
                  <li class="nav-item {% block customer_report_active_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'customers:customer_report' %}">
                      <span class="menu-title">{% trans 'Customer Sales Report' %}</span>
                    </a>
                  </li>
                  {% test_rule 'can_access_view' user 'cash_balance' as can_access_cash_balance %}
                  {% if can_access_cash_balance %}
                  <li class="nav-item {% block cash_balance_active_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'cash_balance:list' %}">
                      <span class="menu-title">{% trans 'Cash Balance' %}</span>
                    </a>
                  </li>
                  {% endif %}
                 <li class="nav-item {% block sales_by_type_active_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'sales:sales_by_type' %}">
                      <span class="menu-title">{% trans 'Sales FOC Summary' %}</span>
                    </a>
                  </li>


                </ul>
              </nav>
            </span>

            <span id="promo" data-nav="promo" class="secondary-salesorder {% block secondary_sidebar_promo_show %}{% endblock %}">
              <nav class="secondary-menu">
                <ul class="nav">
                  <li class="nav-header d-flex align-items-center">
                    <h4>{% trans 'Promo' %}</h4>
                  </li>
                  <li class="nav-item {% block promo_list_active_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'promo:promo_list' %}">
                      <span class="menu-title">{% trans 'Promo List' %}</span>
                    </a>
                  </li>
                  <li class="nav-item {% block promo_usages_active_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'promo:promo_usages' %}">
                      <span class="menu-title">{% trans 'Promo Usages' %}</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </span>

            <span id="library" data-nav="library" class="secondary-salesorder {% block secondary_sidebar_library_show %}{% endblock %}">
              <nav class="secondary-menu">
                <ul class="nav">
                  <li class="nav-header d-flex align-items-center">
                    <h4>{% trans 'Library' %}</h4>
                  </li>
                  <li class="nav-item {% block library_itemlibrary_active_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'catalogue:product_list' 'sellable' %}">
                      <span class="menu-title">{% trans 'Item Library' %}</span>
                    </a>
                  </li>
                  <li class="nav-item {% block library_variants_active_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'catalogue:variant_list' 'sellable' %}">
                      <span class="menu-title">{% trans 'Variants' %}</span>
                    </a>
                  </li>
                  <li class="nav-item {% block library_modifiers_active_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'catalogue:modifier_list' %}">
                      <span class="menu-title">{% trans 'Modifiers' %}</span>
                    </a>
                  </li>
                  <li class="nav-item {% block library_addons_active_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'catalogue:product_addon_list' %}">
                      <span class="menu-title">{% trans 'Addons' %}</span>
                    </a>
                  </li>
                  <li class="nav-item {% block library_categories_active_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'catalogue:category_list' %}">
                      <span class="menu-title">{% trans 'Categories' %}</span>
                    </a>
                  </li>
                  <li class="nav-item {% block product_composite_active_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'catalogue:product_composite_list' %}">
                      <span class="menu-title">{% trans 'Set Menu' %}</span>
                    </a>
                  </li>
                  <li class="nav-item {% block dynamic_composite_active_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'catalogue:dynamic_composite_list' %}">
                      <span class="menu-title">{% trans 'Custom Set Menu' %}</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </span>

            <span id="employees" data-nav="employees" class="secondary-salesorder {% block secondary_sidebar_employees_show %}{% endblock %}">
              <nav class="secondary-menu">
                <ul class="nav">
                  <li class="nav-header d-flex align-items-center">
                    <h4>{% trans 'Employees' %}</h4>
                  </li>
                  {% if request.user.is_owner %}
                  <li class="nav-item {% block employees_staff_active_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'invitation:user_list_dashboard' %}">
                      <span class="menu-title">{% trans 'Account Management' %}</span>
                    </a>
                  </li>
                  <li class="nav-item {% block employees_device_user_manager_active_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'device:device_user_manager_list' %}">
                      <span class="menu-title">{% trans 'Outlet Manager Staff' %}</span>
                    </a>
                  </li>
                  {% endif %}
                  <li class="nav-item {% block employees_device_user_active_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'device:device_user_staff_list' %}">
                      <span class="menu-title">{% trans 'Outlet Staff' %}</span>
                    </a>
                  </li>
                  {% if request.user.is_owner %}
                  <li class="nav-item {% block employees_role_active_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'role:list' %}">
                      <span class="menu-title">{% trans 'Role' %}</span>
                    </a>
                  </li>
                  {% endif %}
                </ul>
              </nav>
            </span>

            <!--<span id="table_management" data-nav="table_management" class="secondary-salesorder {% block secondary_sidebar_table_management_show %}{% endblock %}">-->
              <!--<nav class="secondary-menu">-->
                <!--<ul class="nav">-->
                  <!--<li class="nav-header d-flex align-items-center">-->
                    <!--<h4>{% trans 'Table Management' %}</h4>-->
                  <!--</li>-->
                  <!--<li class="nav-item {% block table_management_table_area_active_class %}{% endblock %}">-->
                    <!--<a class="nav-link" href="{% url 'table_management:table_area_list' %}">-->
                      <!--<span class="menu-title">{% trans 'Table Area' %}</span>-->
                    <!--</a>-->
                  <!--</li>-->
                  <!--li class="nav-item {% block table_management_table_report_active_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'table_management:table_report' %}">
                      <span class="menu-title">Table Report</span>
                    </a>
                  </li-->
                  <!--<li class="nav-item {% block table_management_settings_active_class %}{% endblock %}">-->
                    <!--<a class="nav-link" href="{% url 'table_management:settings' %}">-->
                      <!--<span class="menu-title">{% trans 'Settings' %}</span>-->
                    <!--</a>-->
                  <!--</li>-->
                <!--</ul>-->
              <!--</nav>-->
            <!--</span>-->

            <!--<span id="waiters" data-nav="waiters" class="secondary-salesorder {% block secondary_sidebar_waiters_show %}{% endblock %}">-->
              <!--<nav class="secondary-menu">-->
                <!--<ul class="nav">-->
                  <!--<li class="nav-header d-flex align-items-center">-->
                    <!--<h4>{% trans 'Waiters' %}</h4>-->
                  <!--</li>-->
                  <!--<li class="nav-item {% block waiters_list_active_class %}{% endblock %}">-->
                    <!--<a class="nav-link" href="{% url 'waiters:list' %}">-->
                      <!--<span class="menu-title">{% trans 'Waiter List' %}</span>-->
                    <!--</a>-->
                  <!--</li>-->
                  <!--<li class="nav-item {% block waiters_device_active_class %}{% endblock %}">-->
                    <!--<a class="nav-link" href="{% url 'waiters:device-list' %}">-->
                      <!--<span class="menu-title">{% trans 'Waiter Devices' %}</span>-->
                    <!--</a>-->
                  <!--</li>-->
                  <!--<li class="nav-item {% block waiters_steps_active_class %}{% endblock %}">-->
                    <!--<a class="nav-link" href="{% url 'waiters:steps' %}">-->
                      <!--<span class="menu-title">{% trans 'How To' %}</span>-->
                    <!--</a>-->
                  <!--</li>-->
                  <!--<li class="nav-item {% block waiters_settings_active_class %}{% endblock %}">-->
                    <!--<a class="nav-link" href="{% url 'waiters:settings' %}">-->
                      <!--<span class="menu-title">{% trans 'Settings' %}</span>-->
                    <!--</a>-->
                  <!--</li>-->
                <!--</ul>-->
              <!--</nav>-->
            <!--</span>-->

            <!--<span id="kitchen_display" data-nav="kitchen_display" class="secondary-salesorder {% block secondary_sidebar_kitchen_display_show %}{% endblock %}">-->
              <!--<nav class="secondary-menu">-->
                <!--<ul class="nav">-->
                  <!--<li class="nav-header d-flex align-items-center">-->
                    <!--<h4>{% trans 'Kitchen Display' %}</h4>-->
                  <!--</li>-->
                  <!--<li class="nav-item {% block kitchen_display_settings_active_class %}{% endblock %}">-->
                    <!--<a class="nav-link" href="{% url 'kitchen_display:settings' %}">-->
                      <!--<span class="menu-title">{% trans 'Settings' %}</span>-->
                    <!--</a>-->
                  <!--</li>-->
                <!--</ul>-->
              <!--</nav>-->
            <!--</span>-->

            <span id="settings" data-nav="settings" class="secondary-salesorder {% block secondary_sidebar_settings_show %}{% endblock %}">
              <nav class="secondary-menu">
                <ul class="nav">
                  <li class="nav-header d-flex align-items-center">
                    <h5>{% trans 'Settings' %}</h5>
                  </li>
                  <li class="nav-item {% block settings_email_active_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'account_email' %}">
                      <span class="menu-title">{% trans 'Account' %}</span>
                    </a>
                  </li>

                  {% test_rule 'can_access_view' user 'account' as can_access_account %}
                  {% if can_access_account %}
                  <li class="nav-item {% block settings_account_active_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'accounts:update' %}">
                      <span class="menu-title">{% trans 'Business' %}</span>
                    </a>
                  </li>
                  {% endif %}
                  <!--
                  <li class="nav-item {% block settings_change_password_active_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'users:password_change' %}">
                      <span class="menu-title">{% trans 'Change Password' %}</span>
                    </a>
                  </li>
                  -->

                  {% if request.user.is_owner %}
                  <li class="nav-item {% block settings_billing_active_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'subscription:billing' %}">
                      <span class="menu-title">{% trans 'Billing' %}</span>
                    </a>
                  </li>
                  {% endif %}

                  {% test_rule 'can_access_view' user 'outlet' as can_access_outlet %}
                  {% if can_access_outlet %}
                  <li class="nav-item {% block settings_outlets_active_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'outlet:outlet_list' %}">
                      <span class="menu-title">{% trans 'Outlets' %}</span>
                    </a>
                  </li>
                  {% endif %}
                  <!--<li class="nav-item {% block settings_order_billing_list_active_class %}{% endblock %}">-->
                      <!--<a class="nav-link" href="{% url 'subscription:billing_list' %}">-->
                        <!--<span class="menu-title">{% trans 'Billing List' %}</span>-->
                      <!--</a>-->
                    <!--</li>-->

                  {% test_rule 'can_access_view' user 'receipt' as can_access_receipt %}
                  {% if can_access_receipt %}
                  <li class="nav-item {% block settings_reciept_active_class %}{% endblock %}">
                    {% if request.user.account.outlet_set.exists %}
                      <a class="nav-link" href="{% url 'receipt:receipt' request.user.account.outlet_set.first.pk %}">
                        <span class="menu-title">{% trans "Receipt" %}</span>
                      </a>
                    {% endif %}
                  </li>
                  {% endif %}

                  {% test_rule 'can_access_view' user 'cash_balance' as can_access_cash_balance %}
                  {% if can_access_cash_balance %}
                  <li class="nav-item {% block settings_cash_balance_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'cash_balance:settings' %}">
                        <span class="menu-title">{% trans 'Cash Balance' %}</span>
                      </a>
                  </li>
                  {% endif %}

                  {% test_rule 'can_access_view' user 'sales_settings' as can_access_sales %}
                  {% if can_access_sales %}
                  <li class="nav-item {% block settings_payment_method_active_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'sales:payment_method_update'%}">
                      <span class="menu-title">{% trans 'Payment Method' %}</span>
                    </a>
                  </li>
                  {% endif %}

                  {% test_rule 'can_access_view' user 'surcharges' as can_access_surcharges %}
                  {% if can_access_surcharges %}
                  <li class="nav-item {% block settings_order_option_active_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'sales:sales_order_option_list' %}">
                      <span class="menu-title">{% trans 'Order Options' %}</span>
                    </a>
                  </li>
                  {% endif %}

                  {% test_rule 'can_access_view' user 'surcharges' as can_access_surcharges %}
                  {% if can_access_surcharges %}
                  <li class="nav-item {% block settings_surcharge_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'surcharges:surcharge_list' %}">
                        <span class="menu-title">{% trans 'Surcharge' %}</span>
                      </a>
                  </li>
                  {% endif %}

                  {% test_rule 'can_access_view' user 'cash_balance' as can_access_cash_balance %}
                  {% if can_access_cash_balance %}
                  <li class="nav-item {% block report_settings_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'sales:settings' %}">
                        <span class="menu-title">{% trans 'Report Settings' %}</span>
                      </a>
                  </li>
                  {% endif %}

                  {% if request.user.is_owner %}
                  <li class="nav-item {% block settings_private_apps_active_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'private-apps:list' %}">
                      <span class="menu-title">{% trans 'Private Apps' %}</span>
                    </a>
                  </li>
                  {% endif %}

                  {% test_rule 'can_access_view' user 'sales_settings' as can_access_sales %}
                  {% if can_access_sales %}
                  <li class="nav-item {% block settings_cashier_activity_active_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'sales:cashier_activity_list' %}">
                      <span class="menu-title">{% trans 'Cashier Activity' %}</span>
                    </a>
                  </li>
                  {% endif %}

                  {% test_rule 'can_access_view' user 'catalogue' as can_access_catalogue %}
                  {% if can_access_catalogue %}
                    <li class="nav-item {% block settings_uom_active_class %}{% endblock %}">
                      <a class="nav-link" href="{% url 'catalogue:uom_list' %}">
                        <span class="menu-title">{% trans 'Units of Measure' %}</span>
                      </a>
                    </li>
                  {% endif %}

                  {% test_rule 'can_access_view' user 'inventory_setting' as can_access_inventory_setting %}
                  {% if can_access_inventory_setting %}
                  <li class="nav-item {% block settings_inventory_active_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'stocks:stocks_settings_outlet' %}">
                      <span class="menu-title">{% trans 'Inventory Settings' %}</span>
                    </a>
                  </li>
                  {% endif %}

                  {% test_rule 'can_access_view' user 'sales_settings' as can_access_sales %}
                  {% if can_access_sales %}
                  <li class="nav-item {% block settings_transaction_type_active_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'sales:transaction_type_reason_list' %}">
                      <span class="menu-title">{% trans 'Transaction Type Reason' %}</span>
                    </a>
                  </li>
                  {% endif %}

                  {% test_rule 'can_access_view' user 'notification_setting' as can_access_notification_setting %}
                  {% if can_access_notification_setting %}
                  <li class="nav-item {% block settings_notification_setting %}{% endblock %}">
                    <a class="nav-link" href="{% url 'notification:settings' %}">
                      <span class="menu-title">{% trans 'Notification Settings' %}</span>
                    </a>
                  </li>
                  {% endif %}

                  {% test_rule 'can_access_view' user 'digital_payment' as can_access_digital_payment %}
                  {% if can_access_digital_payment %}
                  <!--li class="nav-item {% block settings_digital_payment_active_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'digital_payment:index' %}">
                      <span class="menu-title">{% trans 'Digital Payment' %}</span>
                    </a>
                  </li-->
                  {% endif %}

                  <!--
                  <li class="nav-item {% block settings_emailnotification_active_class %}{% endblock %}">
                    <a class="nav-link" href="#">
                      <span class="menu-title">Email Notification</span>
                    </a>
                  </li>
                  -->

                </ul>
              </nav>
            </span>

            <span id="applications" data-nav="applications" class="secondary-salesorder
            {% block secondary_sidebar_applications_show %}{% endblock %}">
              <nav class="secondary-menu">
                <ul class="nav">
                  <li class="nav-header d-flex align-items-center">
                    <h4>{% trans 'Application' %}</h4>
                  </li>
                  <li class="nav-item {% block applications_table_management_class %}{% endblock %}" >
                    {% if request.user.account.tablemanagementsettings_set.first.is_enabled == True  %}
                    <a class="nav-link" href="{% url 'table_management:table_area_list' %}">
                      <span class="menu-title">{% trans 'Table Management' %}</span>
                    </a>
                    {% else %}
                    <a class="nav-link" href="{% url 'table_management:settings_disable' %}">
                      <span class="menu-title">{% trans 'Table Management' %}</span>
                    </a>
                    {% endif %}
                  </li>
                  <li class="nav-item {% block applications_table_order_class %}{% endblock %}" >
                    {% if request.user.account.tableordersettings_set.first.is_enabled == True  %}
                    <a class="nav-link" href="{% url 'table_order:settings' %}">
                      <span class="menu-title">{% trans 'Self Ordering' %}</span>
                    </a>
                    {% else %}
                    <a class="nav-link" href="{% url 'table_order:settings_disable' %}">
                      <span class="menu-title">{% trans 'Self Ordering' %}</span>
                    </a>
                    {% endif %}
                  </li>
                  <li class="nav-item {% block applications_waiter_management_class %}{% endblock %}">
                    {% if request.user.account.waitersettings_set.first.is_enabled == True  %}
                    <a class="nav-link" href="{% url 'waiters:list' %}">
                      <span class="menu-title">{% trans 'Waiter Management' %}</span>
                    </a>
                    {% else %}
                    <a class="nav-link" href="{% url 'waiters:settings_disable' %}">
                      <span class="menu-title">{% trans 'Waiter Management' %}</span>
                    </a>
                    {% endif %}
                  </li>
                  <li class="nav-item {% block applications_kitchen_display_class %}{% endblock %}">
                    {% if request.user.account.kitchendisplaysetting_set.first.is_enabled == True  %}
                    <a class="nav-link" href="{% url 'kitchen_display:settings' %}">
                      <span class="menu-title">{% trans 'Kitchen Display' %}</span>
                    </a>
                    {% else %}
                    <a class="nav-link" href="{% url 'kitchen_display:settings_disable' %}">
                      <span class="menu-title">{% trans 'Kitchen Display' %}</span>
                    </a>
                    {% endif %}
                  </li>
                  <li class="nav-item {% block employee_list_active_class %}{% endblock %}">
                    <a class="nav-link" href="{% url 'customers:employee_list' %}">
                      <span class="menu-title">{% trans 'Employee Benefit' %}</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </span>

            <span id="stocks" data-nav="stocks" class="secondary-salesorder
              {% block secondary_sidebar_stock_show %}{% endblock %}">
              <nav class="secondary-menu">
                <ul class="nav">
                  <li class="nav-header d-flex align-items-center">
                    <h4>{% trans 'Inventory' %}</h4>
                  </li>

                  {% test_rule 'can_access_view' user 'stock' as can_access_stock %}
                  {% test_rule 'can_access_view' user 'supplier' as can_access_supplier %}
                  {% test_rule 'can_access_view' user 'stock_transfer' as can_access_stock_transfer %}
                  {% test_rule 'can_access_view' user 'stock_count' as can_access_stock_count %}
                  {% test_rule 'can_access_view' user 'stock_adjustment' as can_access_stock_adjustment %}
                  {% test_rule 'can_access_view' user 'purchase_order' as can_access_purchase_order %}
                  {% test_rule 'can_access_view' user 'received_order' as can_access_received_order %}
                  {% test_rule 'can_access_view' user 'vendor_bill' as can_access_vendor_bill %}
                  {% if can_access_stock %}
                  <li class="nav-item {% block stock_card_active_class %}{% endblock %}" >
                    <a class="nav-link" href="{% url 'stocks:stocks_card_subquery' %}">
                      <span class="menu-title">{% trans 'Stock Card' %}</span>
                    </a>
                  </li>
                  {% endif %}

                  {% if can_access_stock_transfer %}
                  <li class="nav-item {% block stock_stocktransfer_active_class %}{% endblock %}" >
                    <a class="nav-link" href="{% url 'stocks:stocks_transfer' %}">
                      <span class="menu-title">{% trans 'Stocks Transfer' %}</span>
                    </a>
                  </li>
                  {% endif %}

                  {% if can_access_stock_count %}
                  <li class="nav-item {% block stock_stockcount_active_class %}{% endblock %}" >
                    <a class="nav-link" href="{% url 'stocks:stocks_count' %}">
                      <span class="menu-title">{% trans 'Stocks Count' %}</span>
                    </a>
                  </li>
                  {% endif %}

                  {% if can_access_stock_adjustment %}
                  <li class="nav-item {% block stock_stockadjustment_active_class %}{% endblock %}" >
                    <a class="nav-link" href="{% url 'stocks:stocks_adjustment' %}">
                      <span class="menu-title">{% trans 'Stocks Adjustment' %}</span>
                    </a>
                  </li>
                  {% endif %}
    
                  {% if can_access_stock %}
                  <li class="nav-item {% block stock_stocktransaction_active_class %}{% endblock %}" >
                    <a class="nav-link" href="{% url 'stocks:stocks_transaction' %}">
                      <span class="menu-title">{% trans 'Stocks History' %}</span>
                    </a>
                  </li>
                  {% endif %}

                  {% if can_access_supplier %}
                  <li class="nav-item {% block stock_supplier_active_class %}{% endblock %}" >
                    <a class="nav-link" href="{% url 'stocks:stocks_supplier' %}">
                      <span class="menu-title">{% trans 'Suppliers' %}</span>
                    </a>
                  </li>
                  {% endif %}

                  {% if can_access_purchase_order %}
                  <li class="nav-item {% block stock_purchase_orders_active_class %}{% endblock %}" >
                    <a class="nav-link" href="{% url 'stocks:stocks_purchase_order' %}">
                      <span class="menu-title">{% trans 'Purchase Orders' %}</span>
                    </a>
                  </li>
                  {% endif %}

                  {% if can_access_received_order %}
                  <li class="nav-item {% block stock_received_orders_active_class %}{% endblock %}" >
                    <a class="nav-link" href="{% url 'stocks:stocks_received_order' %}">
                      <span class="menu-title">{% trans 'Received Orders' %}</span>
                    </a>
                  </li>
                  {% endif %}

                  {% if request.user.account.pk == 2 or request.user.account.pk == 401 or request.user.account.pk  == 111 or STAGING %}
                  <li class="nav-item {% block stock_vendor_bills_active_class %}{% endblock %}" >
                    <a class="nav-link" href="{% url 'stocks:stocks_vendor_bill' %}">
                      <span class="menu-title">{% trans 'Vendor Bills' %}</span>
                    </a>
                  </li>
                  {% endif %}

                  {% if can_access_stock %}
                  <li class="nav-item {% block stock_batches_active_class %}{% endblock %}" >
                    <a class="nav-link" href="{% url 'stocks:stocks_batch_track' %}">
                      <span class="menu-title">{% trans 'Batches' %}</span>
                    </a>
                  </li>
                  {% endif %}

                  {% if request.user.account.pk == 2 or request.user.account.pk == 401 or request.user.account.pk  == 111 or STAGING %}
                  <li class="nav-item {% block inventory_reports_active_class %}{% endblock %}" >
                    <a class="nav-link" href="{% url 'stocks:stocks_report' %}">
                      <span class="menu-title">{% trans 'Inventory Reports' %}</span>
                    </a>
                  </li>
                  {% endif %}

                </ul>
              </nav>
            </span>

          </div>
          <!-- Secondary Sidebar Ends -->

        <div class="main-panel">
          <!-- Start Content -->
          {% block tabs %}
          {% endblock tabs %}
          <div class="content-wrapper {% block content_wrapper_class %}{% endblock %}">
            {% block content %}
            {% endblock content %}
          </div>
          {% block action_form %}
          {% endblock action_form %}
          <!-- End Content-->
        </div>

      </div>
      <!-- Page Body Wrapper Ends-->
    </div>

    {% block modal %}{% endblock modal %}

    <div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="activateModalLabel">{% trans "Logout" %}</h5>
            </div>

            <div class="modal-footer">
              <div class="w-100">
                <p class="text-center mb-4">{% trans 'Are you sure you want to sign out?' %}</p>
                <form method="post" action="{% url 'account_logout' %}">
                  {% csrf_token %}
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                  {% endif %}
                  <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-outline-secondary btn-block inline-sm btn-submit-close" data-dismiss="modal">{% trans "Cancel" %}</button>
                    <button class="btn btn-primary btn-block inline-sm ml-1" type="submit">{% trans 'Sign Out' %}</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}

      <!-- Required by Bootstrap v4 beta -->
      <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

      <!-- Your stuff: Third-party javascript libraries go here -->
      <script>
        var active_nav = $("#main-sidebar li a:not('.dropdown-toggle')").toArray().find(
          function (w){ return w.pathname == "{{ request.path }}"});
        $(active_nav).parents('#main-sidebar li').addClass('active');
      </script>
      <script>
        $(document).ready(function($){
          $('[data-toggle="offcanvas"]').on("click", function() {
            $('.sidebar-offcanvas').toggleClass('active');
          });
        });
      </script>

      {% block extrajs %}
      {% endblock extrajs %}

      <!-- place project specific Javascript in this file -->
      {% compress js %}
      <script src="{% static 'js/initial.js' %}"></script>
      <script src="{% static 'js/project.js' %}"></script>
      <script src="{% static 'js/dashboard_main.js' %}"></script>
      {% endcompress %}

      {% if user.is_authenticated %}
      <script>
        $(document).ready(function() {
          if (window.location.hostname.toLowerCase().search(productionHost) == 0) {
            mixpanel.people.set({
              "$email": "{{ user.email }}",
              "account_id": "{{ user.account.pk }}",
              "account_name": "{{ user.account.name }}"
            });
            mixpanel.identify({{ user.pk }});
            mixpanel.track("Page View - " + "{{ request.resolver_match.view_name }}");
          }

          $("select.modelselect2, select.select2").on("select2:select", function(){
            $(this).select2("close");
          });
        });
      </script>
      {% endif %}

    {% endblock javascript %}
  </body>
</html>
