{% extends "dashboard/base_datatable.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}


{% block settings_active_class %}active{% endblock %}
{% block mobile_settings_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_settings_show %}show{% endblock %}
{% block settings_transaction_type_active_class %}submenu-active{% endblock %}
{% block mobile_settings_transaction_type_active_class %}submenu-active{% endblock %}

{% block content_class %}pt-3{% endblock %}
{% block tab_div_style %}background: white; border-bottom: 1px solid #e6e7e9;{% endblock %}
{% block tab_ol_class %}breadcrumb-tabs{% endblock %}
{% block breadcrumb_active %}breadcrumb-item active{% endblock %}
{% block tab_section_style %}border-bottom: 1px solid #e6e7e9;{% endblock %}

{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}

{% block datatable_title %}{% trans "Transaction Type Reason" %}{% endblock datatable_title %}

{% block action_button %}
<div class="p-0 position-fixed" style="right:20px;">
  <a href="{% url 'sales:transaction_type_reason_create' %}"
      class="btn btn-primary btn-lg fixed-top-content">
      {% trans "Add Transaction Type Reason" %}
  </a>
</div>
{% endblock action_button %}

{% block datatable_breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item active">{% trans "Transaction Type Reason" %}</li>
{% endblock datatable_breadcrumb %}

{% block datatable_id %}tbl_product{% endblock datatable_id %}

{% block datatable_filter %}
<tr class='datatable-filter'>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control" placeholder="Search...">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control" placeholder="Search...">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group mtm">
      <div class="selectdiv">
      <label class="input-group">
      <select class="form-control form-control-sm custom-select extra-table-control">
        <option value='false'>{% trans 'Active' %}</option>
        <option value='show'>{% trans 'Show All' %}</option>
        <option value='true'>{% trans 'Archived' %}</option>
      </select>
      </label>
      </div>
    </div>
  </td>
  <td></td>
</tr>
{% endblock datatable_filter %}

{% block datatable_thead_tr %}
<th>{% trans "Description" %}</th>
<th>{% trans "Usages Count" %}</th>
<th>{% trans "Archived" %}</th>
<th class="no-sort"></th>
{% endblock datatable_thead_tr %}

{% block javascript %}
{{ block.super }}
<script>
  $(document).ready(function () {
    base_url = "{% url 'sales:transaction_type_reason_data' %}"
    archive_url = "{% url 'sales:transaction_type_reason_archive' %}";
    activate_url = "{% url 'sales:transaction_type_reason_activate' %}";
    delete_url = "{% url 'sales:transaction_type_reason_delete' %}";
    list_url = "{% url 'sales:transaction_type_reason_list' %}"

    display_name = "name";
    delete_modal_title = '{% trans "Delete Transaction Type Reason" %}';
    delete_modal_confirmation = '{% trans "You will permanently delete these Transaction Type Reason from your KAWN channel." %}';

    function display_delete_object_info(obj) {
      return obj[display_name]
    }

    tableOptions = {
      pageLength: 25,
      searchCols: [
        null, null, 
        { "search": "false" },
        null,
      ],
      columnDefs: [
        {targets: 'no-sort', orderable: false},
        {
          targets: [3],
          render: function (data, type, full, meta) {
            menu_toggle = '';
            data_modal = '';
            if(data.archived){
              menu_toggle = '<a class="dropdown-item" href="#" data-toggle="modal" data-target="#activate'+data.id+'Modal"> \
                              {% trans "Activate" %} \
                            </a>';

              data_modal = '<div class="modal fade" id="activate'+data.id+'Modal" tabindex="-1" role="dialog" aria-labelledby="activateModalLabel" aria-hidden="true"> \
                            <div class="modal-dialog" role="document"> \
                              <div class="modal-content"> \
                                <div class="modal-header"> \
                                  <h5 class="modal-title" id="activateModalLabel">Activate Transaction Type</h5> \
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"> \
                                    <span aria-hidden="true">&times;</span> \
                                  </button> \
                                </div> \
                                <div class="modal-body"> \
                                  {% trans "Are you sure to activate" %} <b>'+data.description+'</b>?\
                                </div> \
                                <div class="modal-footer"> \
                                  <button type="button" class="btn btn-secondary btn-submit-close" data-dismiss="modal">{% trans "Close" %}</button> \
                                  <button type="button" class="btn btn-primary activate" data-id="'+data.id+'"> \
                                    <span id="activate-text">{% trans "Activate" %}</span> \
                                    <i id="activate-icon" class=""></i> \
                                  </button> \
                                </div> \
                              </div> \
                            </div> \
                          </div>';
            }
            else {
              menu_toggle = '<a class="dropdown-item" href="#" data-toggle="modal" data-target="#archive'+data.id+'Modal"> \
                              {% trans "Archive" %} \
                            </a>';

              data_modal = '<div class="modal fade" id="archive'+data.id+'Modal" tabindex="-1" role="dialog" aria-labelledby="archiveModalLabel" aria-hidden="true"> \
                              <div class="modal-dialog" role="document"> \
                                <div class="modal-content"> \
                                  <div class="modal-header"> \
                                    <h5 class="modal-title" id="archiveModalLabel">Archived Transaction Type</h5> \
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> \
                                      <span aria-hidden="true">&times;</span> \
                                    </button> \
                                  </div> \
                                  <div class="modal-body"> \
                                      {% trans "Are you sure to archive" %} <b>'+data.description+'</b>?\
                                  </div> \
                                  <div class="modal-footer"> \
                                    <button type="button" class="btn btn-secondary btn-submit-close" data-dismiss="modal">{% trans "Close" %}</button> \
                                    <button type="button" class="btn btn-primary archive" data-id="'+data.id+'"> \
                                      <span id="archive-text">{% trans "Archive" %}</span> \
                                      <i id="archive-icon" class=""></i> \
                                    </button> \
                                  </div> \
                                </div> \
                              </div> \
                            </div>';
            }
            if(data.deleteable){
              data = '<a class="action-toggle" id="product-'+data.id+'-dropdown" href="#" data-toggle="dropdown"> \
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i> \
                      </a>\
                      <div class="dropdown-menu action-toggle-menu" aria-labelledby="product-'+data.id+'-dropdown">\
                        <a class="dropdown-item" href="'+ data.edit +'"> \
                          Edit \
                        </a>\
                        '+menu_toggle+'\
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete'+data.id+'Modal"> \
                          {% trans "Delete" %} \
                        </a> \
                      </div> \
                      '+data_modal +'\
                      <div class="modal fade" id="delete'+data.id+'Modal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true"> \
                        <div class="modal-dialog" role="document"> \
                          <div class="modal-content"> \
                            <div class="modal-header"> \
                              <h5 class="modal-title" id="deleteModalLabel">Delete Transaction Type</h5> \
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"> \
                                <span aria-hidden="true">&times;</span> \
                              </button> \
                            </div> \
                            <div class="modal-body"> \
                                <p>{% trans "You will permanently delete these Transaction Type Reason from your KAWN channel." %}</p> \
                                <p> {% trans "Are you sure to delete" %} <b>'+data.description+'</b>?</p>\
                            </div> \
                            <div class="modal-footer"> \
                              <button type="button" class="btn btn-secondary btn-submit-close" data-dismiss="modal">{% trans "Close" %}</button> \
                              <button type="button" class="btn btn-primary delete" data-id="'+data.id+'"> \
                                <span id="delete-text">{% trans "Delete" %}</span> \
                                <i id="delete-icon" class=""></i> \
                              </button> \
                            </div> \
                          </div> \
                        </div> \
                      </div>';
            }
            else {
              data = '<a class="action-toggle" id="product-'+data.id+'-dropdown" href="#" data-toggle="dropdown"> \
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i> \
                      </a>\
                      <div class="dropdown-menu action-toggle-menu" aria-labelledby="product-'+data.id+'-dropdown">\
                        <a class="dropdown-item" href="'+ data.edit +'"> \
                          Edit \
                        </a>\
                        '+menu_toggle+'\
                        <a class="dropdown-item disabled" disabled href="#" data-toggle="modal" data-target="#delete'+data.id+'Modal"> \
                          {% trans "Delete" %} \
                        </a> \
                      </div> \
                      '+ data_modal;
            }
            return data;
          },
        },
      ],
    }

    $(document).on('click', '.archive', function(e){
      var id = $(this).attr("data-id");
      e.preventDefault();

      $.ajax({
        type: 'POST',
          url: archive_url,
          dataType: 'json',
          data: {
            id:id
          },
          beforeSend: function(jqXHR, settings){
            jqXHR.setRequestHeader("x-csrftoken", '{{ csrf_token }}');
            $(".btn-submit-close").attr("disabled", "disabled");
            $(".archive").attr("disabled", "disabled");
            $("#archive-text").html("Loading");
            $("#archive-icon").addClass("fa fa-spinner fa-spin");
          },
          success: function(result){
            if(result.status == 'success'){
              $(".btn-submit-close").attr("disabled", "disabled");
              $(".archive").attr("disabled", "disabled");
              $("#archive-text").html("Refreshing Page");
              $("#archive-icon").addClass("fa fa-spinner fa-spin");
                setTimeout(function(){
                  window.location.href = list_url
                }, 3000);
            }
          }
      });
    });

    $(document).on('click', '.activate', function(e){
      var id = $(this).attr("data-id");
      e.preventDefault();

      $.ajax({
        type: 'POST',
          url: activate_url,
          dataType: 'json',
          data: {
            id:id
          },
          beforeSend: function(jqXHR, settings){
            jqXHR.setRequestHeader("x-csrftoken", '{{ csrf_token }}');
            $(".btn-submit-close").attr("disabled", "disabled");
            $(".activate").attr("disabled", "disabled");
            $("#activate-text").html("Loading");
            $("#activate-icon").addClass("fa fa-spinner fa-spin");
          },
          success: function(result){
            if(result.status == 'success'){
              $(".btn-submit-close").attr("disabled", "disabled");
              $(".activate").attr("disabled", "disabled");
              $("#activate-text").html("Refreshing Page");
              $("#activate-icon").addClass("fa fa-spinner fa-spin");
                setTimeout(function(){
                  window.location.href = list_url
                }, 3000);
            }
          }
      });
    });


    $(document).on('click', '.delete', function(e){
      var id = $(this).attr("data-id");
      e.preventDefault();

      $.ajax({
        type: 'POST',
          url: delete_url,
          dataType: 'json',
          data: {
            id:id
          },
          beforeSend: function(jqXHR, settings){
            jqXHR.setRequestHeader("x-csrftoken", '{{ csrf_token }}');
            $(".btn-submit-close").attr("disabled", "disabled");
            $(".delete").attr("disabled", "disabled");
            $("#delete-text").html("Loading");
            $("#delete-icon").addClass("fa fa-spinner fa-spin");
          },
          success: function(result){
            if(result.status == 'success'){
              $(".btn-submit-close").attr("disabled", "disabled");
              $(".delete").attr("disabled", "disabled");
              $("#delete-text").html("Refreshing Page");
              $("#delete-icon").addClass("fa fa-spinner fa-spin");
                setTimeout(function(){
                  window.location.href = list_url
                }, 3000);
            }
          }
        });

    });

  });
</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
{% endblock %}