{% extends "dashboard/base_datatable.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Batches" %}{% endblock %}

{% block stock_active_class %}active{% endblock %}
{% block mobile_stock_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_stock_show %}show{% endblock %}
{% block stock_batches_active_class %}submenu-active{% endblock %}
{% block mobile_stock_batches_active_class %}submenu-active{% endblock %}

{% block content_class %}pt-3{% endblock %}
{% block tab_div_style %}background: white; border-bottom: 1px solid #e6e7e9;{% endblock %}
{% block tab_ol_class %}breadcrumb-tabs{% endblock %}
{% block breadcrumb_active %}breadcrumb-item active{% endblock %}
{% block tab_section_style %}border-bottom: 1px solid #e6e7e9;{% endblock %}

{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}

{% block datatable_title %}{% trans "Batches" %}{% endblock datatable_title %}

{% block datatable_id %}tbl_stock_purchase_orders{% endblock datatable_id %}

{% block action_button %}
{% endblock action_button %}

{% block datatable_thead_tr %}
  <th>{% trans 'Batch ID' %}</th>
  <th>{% trans 'Product' %}</th>
  <th>{% trans 'Variant' %}</th>
  <th width="15%">{% trans 'Expiration Date' %}</th>
  <th width="15%">{% trans 'Created' %}</th>
  <th></th>
{% endblock datatable_thead_tr %}

{% block tab_list %}
  <ul class="nav nav-tabs pt-2" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link {% block all_batches %}{% endblock all_batches %}" href="{% url 'stocks:stocks_batch_track' %}">{% trans "All" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% block missng_batches %}{% endblock missng_batches %}" href="{% url 'stocks:stocks_missing_batch_track' %}">{% trans "Missing Batch" %}</a>
    </li>
  </ul>
{% endblock %}

{% block datatable_filter %}
<tr class='datatable-filter'>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}" onkeypress="onlyNumeric">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <label id="reportrange" class="form-control extra-table-control btn btn-default btn-lg date-calendar">
        &nbsp;<span>{% trans "Filter by Date" %}</span>
        &nbsp;<i class="fa fa-angle-down"></i>
      </label>
    </div>
  </td>
  <td></td>
  <td></td>
</tr>
{% endblock datatable_filter %}
