{% extends "dashboard/base_datatable.html" %}
{% load static i18n humanize %}
{% load crispy_forms_tags %}
{% load detail_display %}
{% load template_utils %}

{% block title %}{% trans "Batch Trakced Detail" %} {% endblock title %}

{% block datatable_title %}{% trans "Batch Trakced Detail" %} {% endblock datatable_title %}

{% block stock_active_class %}active{% endblock %}
{% block mobile_stock_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_stock_show %}show{% endblock %}
{% block stock_batches_active_class %}submenu-active{% endblock %}
{% block mobile_stock_batches_active_class %}submenu-active{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}

{% block action_button %}
{% endblock action_button %}

{% block datatable_panel_title %}
  {% trans "Batch Trakced Detail" %}
{% endblock datatable_panel_title %}

{% block css %}
  {{ block.super }}
  <style>
    .no-padding{
      padding: 0 !important;
    }
  </style>
{% endblock %}

{% block sub_content %}
<div class="w-100">
  <div title='sales-detail' class="report mb-4 mx-0 col-lg-6 px-0">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between" id='report-table'>
          <p class="m-3">{% trans "Batch ID" %}</p>
          <p class="m-3">{{ object.batch_id }}</p>
        </div>
        <div class="d-flex justify-content-between" id='report-table'>
          <p class="m-3">{% trans "Product" %}</p>
          <p class="m-3">{{ object.product }}</p>
        </div>
        <div class="d-flex justify-content-between" id='report-table'>
          <p class="m-3">{% trans "Expiration Date" %}</p>
          <p class="m-3">{{ object.expiration_date|default:"-" }}</p>
        </div>
        <div class="d-flex justify-content-between" {% if is_owner %} id='report-table' {% endif %}>
          <p class="m-3">{% trans "Total Product Stock Balance" %}</p>
          <p class="m-3">{{ product_quantity }} {{ object.product.uom }}</p>
        </div>
        
        {% if is_owner %}
          <div class="d-flex justify-content-between">
            <p class="m-3">{% trans "Total Batch Stock Balance" %}</p>
            <p class="m-3">{% get_normalized_decimal object.balance %} {{ object.product.uom }}</p>
          </div>
        {% endif %}
          
        
      </div>
    </div>

    {% if batches %}
    <div class="card">
      <div class="card-header">
        <h4 class="my-1">{% trans "Batch Items(s) Detail" %}</h4>
      </div>
      <div class="card-body no-padding">
        <div class="table-responsive">
          <table class="table mb-0 border-0">
            <thead class="text-center">
              <tr>
                <th class="m-3 text-center">{% trans "Outlet" %}</th>
                <th class="m-3 text-center">{% trans "Total Batch Balance" %}</th>
              </tr>
            </thead>
            <tbody class="text-center">
              {% for item in batches %}
                <tr class="border-top">
                  <td class="m-4 {% if object.is_missing_batch %}text-danger{% endif %}"><a class="{% if object.is_missing_batch %}text-danger{% endif %}" href="{% if object.is_missing_batch %}{% url 'stocks:stocks_missing_batch' item.batch.pk item.outlet.pk %}{% else %}{% url 'stocks:stocks_batch_track_outlet_detail' item.pk %}{% endif %}">{% if object.is_missing_batch %}{% trans "Missing Batch in "%}{% endif %}{{ item.outlet.name }}</a></td>
                  <td class="m-4 {% if object.is_missing_batch %}text-danger{% endif %}">{% get_normalized_decimal item.balance %} {{ item.batch.product.uom }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
    {% else %}
    <div class="card">
      <div class="card-body">
        <div class="text-center margin-100">
          <img alt="disable" src="{% static 'images/data_not_found.svg' %}" style="width: 160px">
            <div style="margin-top:32px; margin-bottom:32px;">
                 <h3 class="mb-3">Oops</h3>
                 <p class="text-muted text-center my-0">Data Batch Item tidak ada.</p>
            </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock sub_content %}

{% block modal %}
  {{ block.super }}
{% endblock %}

{% block javascript %}
{{ block.super }}
<!-- place project specific Javascript in this file -->
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
{% endblock %}
