{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Inventory Report" %}{% endblock %}


{% block stock_active_class %}active{% endblock %}
{% block mobile_stock_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_stock_show %}show{% endblock %}
{% block inventory_reports_active_class %}submenu-active{% endblock %}
{% block mobile_inventory_reports_active_class %}submenu-active{% endblock %}
{% block content_header %}{% trans 'Inventory Report' %}{% endblock %}

{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}

{% block enable_settings %}
{% endblock %}


{% block css %}
  {{ block.super }}
  {{ form.media.css }}
  <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.3/daterangepicker.css"/>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
  {% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div2_class %}px-2{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block action_div_style %}background: white; border-top: 1px solid #d7d7db;{% endblock %}

{% block sub_content %}
  <form method="post" action="." id="inventory_report_form" target="_blank">
    {% crispy form %}
    <div class="justify-content-end {% if grid %}{{ grid }}{% else %}col-6{% endif %} p-0" id="fixed-button-content" style="display: flex;">
      <button type="submit" class="btn btn-primary ml-1">
        <span id="submit-text">{% trans 'Create Report' %}</span>
        <i id="submit-icon" class=""></i>
      </button>
    </div>
  </form>
{% endblock %}

{% block modal %}
{% endblock modal %}

{% block javascript %}
  {{ block.super }}
  {{ form.media.js }}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.3/daterangepicker.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>

  <script>
    $(document).ready(function(){
      $("#submitBtn").on("click", function () {
        $("#inventory_report_form").submit();
      });

      $("#id_report_type").select2();

      $("#inventory_report_form").on("submit", function(){
        $("button[type=submit]").attr("disabled", "disabled");
        $("button[type=submit] #submit-text").empty().append("Membuat");
        $("button[type=submit] #submit-icon").addClass("fa fa-spinner fa-spin");
        setTimeout(function(){
          $("button[type=submit]").removeAttr("disabled", "disabled");
          $("button[type=submit] #submit-text").empty().append("Create Report");
          $("button[type=submit] #submit-icon").removeClass("fa fa-spinner fa-spin");
        }, 3000);
      });

      $('#id_range_date').daterangepicker({
        "opens": 'right',
        "dateLimit": {
          "month": 6,
          'days': -1,
        },
        "startDate": moment().startOf('month'),
        "endDate": moment().endOf('month'),
        'locale': {
          'format': 'DD/MM/YYYY',
          "customRangeLabel": "Pilih Tanggal",
          "applyLabel": "Terapkan",
          "cancelLabel": "Batal",
          "daysOfWeek": [
            "Min",
            "Sen",
            "Sel",
            "Rab",
            "Kam",
            "Jum",
            "Sab"
          ],
          "monthNames": [
            "Januari",
            "Februari",
            "Maret",
            "April",
            "Mei",
            "Juni",
            "Juli",
            "Agustus",
            "September",
            "Oktober",
            "November",
            "Desember"
          ],
        }
      });

      function get_supplier_filter(status){
        if(status.includes("purchaseorder") || status.includes("receivedorder") || status.includes("vendorbill")){
          $("#div_id_suppliers").show()
        }else{
          $("#div_id_suppliers").hide();
          if($("#id_suppliers").val()){
            $("#id_suppliers").val(null).trigger("change");
          }
        }
      }

      $(document).on("change", "#id_report_type", function(){
        get_supplier_filter($(this).val());
      });

      report_type = $("#id_report_type").val();
      get_supplier_filter(report_type);
    });
  </script>
{% endblock %}



