{% extends "dashboard/stocks/batch_tracked_list.html" %}
{% load static i18n %}

{% block missng_batches %}active{% endblock missng_batches %}

{% block javascript %}
{{ block.super }}

<script>
	function onlyNumeric(event) {
		return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57;
	};
</script>
<script>
	$(document).ready(function () {
		base_url = "{% url 'stocks:stocks_missing_batch_track_data' %}";
		tableOptions = {
      columnDefs: [
        {targets: "_all", className: "align-middle"},
        {targets: 'no-sort', orderable: false},
        {targets: [-1], visible:false},
        {
          targets: [5], visible:false
        },
        {
          targets: [0],
          width: "20%",
          orderable: false,
          render: function(data, type, full, meta) {
            html = '<a class="'+data.text_color+'" href="'+ data.url +'"/>' + data.name + '</a>';
            return html;
          }
        },
      ],
      order: [[5, "desc"]],
    }
	});
</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
{% endblock %}