{% extends "dashboard/base_datatable.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Product" %}{% endblock %}

{% block stock_active_class %}active{% endblock %}
{% block mobile_stock_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_stock_show %}show{% endblock %}
{% block stock_productstock_active_class %}submenu-active{% endblock %}
{% block mobile_stock_productstock_active_class %}submenu-active{% endblock %}

{% block datatable_title %}{% trans "Product Stock" %}{% endblock datatable_title %}

{% block datatable_breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item active">{% trans "Product Stock" %}</li>
{% endblock datatable_breadcrumb %}

{% block datatable_id %}tbl_product{% endblock datatable_id %}

{% block datatable_thead_tr %}
    <th>{% trans 'Name' %}</th>
    <th>{% trans 'SKU' %}</th>
    <th>{% trans 'Price' %}</th>
    <th>{% trans 'Quantity' %}</th>
    <th class="no-sort text-center">{% trans 'Actions' %}</th>
{% endblock datatable_thead_tr %}

{% block datatable_filter %}
<tr class='datatable-filter'>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}" onkeypress="return isNumberKey(event)">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}" onkeypress="return isNumberKey(event)">
    </div>
  </td>
  <td></td>
</tr>
{% endblock datatable_filter %}

{% block javascript %}
{{ block.super }}
<!-- place project specific Javascript in this file -->
<script>
  function isNumberKey(evt){
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57))
        return false;
    return true;
  }
</script>
<script>
	$(document).ready(function () {
		base_url = "{% url 'stocks:product_stocks_data' %}";
		tableOptions = {
      columnDefs: [
        {targets: "_all", className: "align-middle"},
        {targets: 'no-sort', orderable: false},
        {
          targets: [0],
          width: "20%",
          render: function(data, type, full, meta) {
            if (data.image) {
                image_url = data.image;
            } else {
                image_url = "{% static '/images/user-icon.jpg' %}";
            }
            html = '\
            <img src="'+ image_url +'" style="height: 45px;" class="img-thumbnail img-fluid"/> \
            <a href="'+ data.url +'"/>' + data.name + '</a>';
            return html;
          }
        },
        {
          'targets': [4],
          'render': function (data, type, full, meta) {
            menu_toggle = '';
            data_modal = '';
            data = '<a class="action-toggle" id="waiter-'+data.id+'-dropdown" href="#" data-toggle="dropdown"> \
                                <i class="fa fa-ellipsis-h" aria-hidden="true"></i> \
                            </a>\
                            <div class="dropdown-menu action-toggle-menu" aria-labelledby="waiter-'+data.id+'-dropdown">\
                                <a class="dropdown-item" href="'+ data.edit +'"> \
                                    {% trans "Manage" %} \
                                </a>\
                                '+menu_toggle+'\
                            </div>';
            return data;
          },
        },
      ],
    }

		function tog(v){return v?'addClass':'removeClass';} 
		$(document).on('input', '.clearable', function(){
				$(this)[tog(this.value)]('x');
		}).on('mousemove', '.x', function( e ){
				$(this)[tog(this.offsetWidth-18 < e.clientX-this.getBoundingClientRect().left)]('onX');
		}).on('touchstart click', '.onX', function( ev ){
				ev.preventDefault();
				$(this).removeClass('x onX').val('').change();
		});
	});
</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>

{% endblock %}
