{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Purchase Orders" %}{% endblock %}


{% block stock_active_class %}active{% endblock %}
{% block mobile_stock_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_stock_show %}show{% endblock %}
{% block stock_purchase_orders_active_class %}submenu-active{% endblock %}
{% block mobile_stock_purchase_orders_active_class %}submenu-active{% endblock %}
{% block content_header %}{% if object %}{% trans 'Purchase Order - ' %}{{ object }}{% else %}{% trans "Add Purchase Order" %}{% endif %}{% endblock %}

{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}

{% block enable_settings %}
{% endblock %}


{% block css %}
  {{ block.super }}
  {{ form.media.css }}
  <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.3/daterangepicker.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@8.17.6/dist/sweetalert2.min.css">
  <style>
    .formset-wrapper .invalid-feedback {
      margin: 0;
    }
    .table {
      table-layout: fixed;
    }
    .table tr th:last-child{
      width: 30px !important;
    }
    .table tr th:first-child{
      width: 25% !important;
    }
    .table tr th:nth-child(3){
      width: 15% !important;
    }
    .select2-container {
      width: 100% !important;
      min-width: 3rem !important;
    }
    #id_outlet + .select2-container, #id_supplier + .select2-container {
      width: 100% !important;
    }

    .products-unit[readonly].select2-hidden-accessible + .select2-container .select2-selection {
      background-color: #fff !important;
      border: 0 !important;
    }
    .products-purchase_cost:read-only{
      background-color: #fff !important;
      border: 0 !important;
    }

    select[readonly].select2-hidden-accessible + .select2-container {
      pointer-events: none;
      touch-action: none;
    }
    select[readonly].select2-hidden-accessible + .select2-container .select2-selection {
      background: #eee;
      box-shadow: none;
    }
    select[readonly].select2-hidden-accessible + .select2-container .select2-selection__arrow, select[readonly].select2-hidden-accessible + .select2-container .select2-selection__clear {
      display: none;
    }
    .input-group > .input-group-append .input-group-text {
      background: white;
      border: 1px solid #d7d7db;
      border-left: 0px;
    }

    .input-group > .input-group-append {
      border: 0px !important;
    }
    .custom-radio .custom-control-input:checked ~ .custom-control-label::before {
      background-color: white;
      border: 1px solid #0094C9;

    }
    .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
       background-color: #0094C9;
    }

    .custom-radio + custom-control-label:before {
      border-radius: 50%; }

    .custom-radio .custom-control-input:checked ~ .custom-control-label::after {
      top: 8px;
      left: 4px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #0094C9;
      }

    .custom-radio .custom-control-label::before {
      background: white;
      border-radius: 50%;
      border: 1px solid #d7d7db;
    }

    .custom-radio:checked ~ label {
      color: #0094C9;
    }
    .form-check .form-check-label {
      line-height: 1.7;
    }
    
  </style>
  {% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div2_class %}px-2{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block action_div_style %}background: white; border-top: 1px solid #d7d7db;{% endblock %}
{% block submit_form %}
      <div class="d-flex justify-content-end" id="fixed-bottom-button">
        <a href="{% if object %}{% url 'stocks:stocks_purchase_order_detail' object_pk %}{% else %}{% url 'stocks:stocks_purchase_order' %}{% endif %}" class="btn btn-light">{% trans "Back" %}</a>
        <button type="submit" id="submitBtn" class="btn btn-primary ml-1">
          <span id="submit-text">{% if object %}{% trans 'Save' %}{% else %}{% trans 'Create' %}{% endif %}</span>
          <i id="submit-icon" class=""></i>
        </button>
      </div>
{% endblock %}

{% block sub_content %}
  <form method="post" action="." id="purchase_order_form">
    {% crispy form %}
    {% crispy formset formset_helper %}
    <div class="justify-content-end {% if grid %}{{ grid }}{% else %}col-10{% endif %} p-0" id="fixed-button-content" style="display: flex;">
      <a href="{% if object %}{% url 'stocks:stocks_purchase_order_detail' object_pk %}{% else %}{% url 'stocks:stocks_purchase_order' %}{% endif %}" class="btn btn-light">{% trans "Back" %}</a>
      <button type="submit" class="btn btn-primary ml-1">
        <span id="submit-text">{% if object %}{% trans 'Save' %}{% else %}{% trans 'Create' %}{% endif %}</span>
        <i id="submit-icon" class=""></i>
      </button>
    </div>
  </form>
{% endblock %}


{% block modal %}
{% endblock modal %}


{% block javascript %}
  {{ block.super }}
  {{ form.media.js }}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.3/daterangepicker.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.2.6/jquery.inputmask.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-maxlength/1.10.0/bootstrap-maxlength.min.js" integrity="sha512-04L+TAgzlDAaUpaEGriEBg/qEryUjw4GNL/FkxA3h621EFPycccO2Y8vNhvid9UhgGC/9+MHLAFwGythpvOAAQ==" crossorigin="anonymous"></script>
  <script src="{% static 'js/jquery.formset.js' %}"></script>
  <script src="{% static '/js/button-scrollbar.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8.17.6/dist/sweetalert2.all.min.js"></script>

  <script>
    (function($) {
      $.fn.inputFilter = function(inputFilter) {
        return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function() {
          if (inputFilter(this.value)) {
            this.oldValue = this.value;
            this.oldSelectionStart = this.selectionStart;
            this.oldSelectionEnd = this.selectionEnd;
          } else if (this.hasOwnProperty("oldValue")) {
            this.value = this.oldValue;
            this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
          }
        });
      };
    }(jQuery));

    (function($){
      $.fn.decimalInput = function(){
        return this.on("input keydown keypress keyup blur", function(event){
          if (event.shiftKey == true) {
            event.preventDefault();
          }
          if ((event.keyCode >= 48 && event.keyCode <= 57) || 
            (event.keyCode >= 96 && event.keyCode <= 105) || 
            event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 ||
            event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190) {

          } else {
              event.preventDefault();
          }

          if($(this).val().indexOf('.') !== -1 && event.keyCode == 190)
            event.preventDefault()
        });
      }
    }( jQuery ));

    $(document).ready(function(){
      var master_product_data = false;

      $('.formset-wrapper').formset();
      $(".formset-wrapper").on("formAdded", function(event){
        newForm = event.target;
        $.each($(newForm), function(index, value){
          $(".products-unit").select2();
          product_value = $(value).find(".products-dropdown").val();
          unit_value = $(value).find(".products-unit").val();
          if(product_value && unit_value){
            get_uom(product_value, $(value).find(".products-dropdown").attr("name").split("-"), unit_value);
          }
          if(master_product_data){
            $(".products-unit").attr("readonly", true);
            $(".products-purchase_cost").attr("readonly", true);
          }

          if ($(value).is('tr') === true) {
            var quantity_input = $(value).find(".products-quantity");
            $(quantity_input).decimalInput();
            var product_discount = $(value).find(".products-discount");
            $(product_discount).decimalInput();
            var cost_input = $(value).find(".products-purchase_cost");
            $(cost_input).decimalInput();
          }
        });
      });
      $('.formset-wrapper').on('formDeleted', function (event) {
        deleted = event.target;
        $.each($(deleted), function(index, value){
          if ($(value).is('tr') === true) {
            data_tr = $(value).data("formset-form")
            var selected_value = $(value).find('.products-dropdown ').val();
            var id = $(value).find("input[name="+data_tr+"-id]")
            if(id.val()){
              $(deleted).find('.products-dropdown  option[value="'+ selected_value +'"]').prop("selected", false);
              $(deleted).find('.products-dropdown  option[value="'+ selected_value +'"]').removeAttr("selected");
              $(deleted).find('.products-dropdown').val(null).trigger("change");
            }
          }
        });
      });

      var supplier = $("select[name=supplier]").val();
      if(supplier){
        get_formset_detail(supplier);
      }

      function get_formset_detail(supplier){
        $.ajax({
          url: "{% url 'stocks:stocks_supplier_check' %}",
          type: "GET",
          data: {
            supplier: supplier,
          },
          success: function(response){
            if(response.status == "success"){
              master_product_data = response.result.master_product_data;
              if(response.result.master_product_data){
                $(".products-unit").attr("readonly", true);
                $(".products-purchase_cost").attr("readonly", true);
              }else{
                $(".products-unit").removeAttr("readonly");
                $(".products-purchase_cost").removeAttr("readonly");
              }
            }
          }
        });
      }

      $(document).on("change", "select[name=supplier]", function(){
        get_formset_detail($(this).val());
      });

      $("#submitBtn").on("click", function () {
        $("#purchase_order_form").submit();
      });

      $("#purchase_order_form").on("submit", function(){
        $("button[type=submit]").attr("disabled", "disabled");
        $("button[type=submit] #submit-text").empty().append("Menyimpan");
        $("button[type=submit] #submit-icon").addClass("fa fa-spinner fa-spin");
      });

      $(document).on("select2:select", ".products-dropdown", function(){
        var name = this.name;
        var name_index = name.split("-");
        var selected_arr = []
        selected = $(".products-dropdown option:selected").not(this);
        is_exist = false;

        $.each(selected, function(index, value){
          if($.inArray($(this).val(), selected_arr)>-1){
            is_exist = true;
          }else{
            if($(value).val()){
              selected_arr.push($(value).val());
            }
          }
        });

        if(is_exist){
          Swal.fire({
            text: "Produk sudah ditambahkan pada purchase order."
          });
          $("#id_"+name).val(null).trigger("change");
        }else{
          if(master_product_data){
            get_product_supplier($("select[name=supplier]").val(), $(this).val(), name_index);
          }else{
            get_uom($(this).val(), name_index, null);
          }
        }
      });

      function get_product_supplier(supplier, product, name_index){
        $.ajax({
          url: "{% url 'stocks:get_product_supplier' %}",
          type: "GET",
          data: {
            supplier: supplier,
            product: product
          },
          success: function(response){
            if(response.status == "success"){
              quantity_selector = name_index[0]+"-"+name_index[1]+"-quantity";
              unit_selector = name_index[0]+"-"+name_index[1]+"-unit";
              cost_selector = name_index[0]+"-"+name_index[1]+"-cost";
              total_cost_selector = name_index[0]+"-"+name_index[1]+"-total_cost";
              $("input[name="+quantity_selector+"]").val(response.result.quantity);
              $("input[name="+cost_selector+"]").val(response.result.cost);
              $("input[name="+total_cost_selector+"]").val(response.result.total_cost);
              get_total_discount(
                $("input[name="+quantity_selector+"]").val(),
                $("input[name="+cost_selector+"]").val(),
                $("select[name="+name_index[0]+"-"+name_index[1]+"-discount_type]").val(),
                $("input[name="+name_index[0]+"-"+name_index[1]+"-discount]").val(),
                name_index,
              );

              $("select[name="+unit_selector+"]").empty();
              $("select[name="+unit_selector+"]").append(
                "<option value="+response.result.unit_id+" selected>"+response.result.unit+"</option>"
              )
              $("select[name="+unit_selector+"]").val(response.result.unit_id).trigger("change");
            }
          }
        });
      }

      function get_product_supplier_initial(supplier, product, name_index){
        $.ajax({
          url: "{% url 'stocks:get_product_supplier' %}",
          type: "GET",
          data: {
            supplier: supplier,
            product: product
          },
          success: function(response){
            if(response.status == "success"){
              if(response.result.master_product_data){
                unit_selector = name_index[0]+"-"+name_index[1]+"-unit";
                $("select[name="+unit_selector+"]").empty();
                $("select[name="+unit_selector+"]").append(
                  "<option value="+response.result.unit_id+" selected>"+response.result.unit+"</option>"
                )
                $("select[name="+unit_selector+"]").val(response.result.unit_id).trigger("change");
              }
            }
          }
        });
      }

      function get_total_discount(quantity, cost, discount_type, discount, name_index){
        $.ajax({
          url: "{% url 'stocks:stocks_get_total_discount' %}",
          type: "GET",
          data: {
            quantity: quantity,
            cost: cost, 
            discount_type: discount_type,
            discount: discount
          },
          success: function(response){
            if(response.status == "success"){
              total_cost_selector = name_index[0]+"-"+name_index[1]+"-total_cost";
              $("input[name="+total_cost_selector+"]").val(response.result.total_cost);
            }
          }
        });
      }

      $(document).on("change", ".products-discount_type", function(){
        var name = this.name;
        var name_index = name.split("-");
        quantity_selector = name_index[0]+"-"+name_index[1]+"-quantity";
        cost_selector = name_index[0]+"-"+name_index[1]+"-cost";
        get_total_discount(
          $("input[name="+quantity_selector+"]").val(),
          $("input[name="+cost_selector+"]").val(),
          $(this).val(),
          $("input[name="+name_index[0]+"-"+name_index[1]+"-discount]").val(),
          name_index,
        );
      });

      $(document).on("change", ".products-discount", function(){
        var name = this.name;
        var name_index = name.split("-");
        quantity_selector = name_index[0]+"-"+name_index[1]+"-quantity";
        cost_selector = name_index[0]+"-"+name_index[1]+"-cost";
        get_total_discount(
          $("input[name="+quantity_selector+"]").val(),
          $("input[name="+cost_selector+"]").val(),
          $("select[name="+name_index[0]+"-"+name_index[1]+"-discount_type]").val(),
          $(this).val(),
          name_index,
        );
      });

      $(document).on("change", "select[name=supplier]", function(){
        products = $("select.products-dropdown");
        $.each(products, function(index, value){
          name_index = value.name.split("-");
          $(value).val(null).trigger("change");
          if(index > 0){
            $(value).closest("tr").remove();
            $("input[name=purchased_stock-TOTAL_FORMS]").val("1");
          }
          quantity_selector = name_index[0]+"-"+name_index[1]+"-quantity";
          unit_selector = name_index[0]+"-"+name_index[1]+"-unit";
          unit_id_selector = name_index[0]+"-"+name_index[1]+"-unit_id";
          cost_selector = name_index[0]+"-"+name_index[1]+"-cost";
          total_cost_selector = name_index[0]+"-"+name_index[1]+"-total_cost";
          $("input[name="+quantity_selector+"]").val("");
          $("input[name="+unit_selector+"]").val("");
          $("input[name="+unit_id_selector+"]").val("");
          $("input[name="+cost_selector+"]").val("");
          $("input[name="+total_cost_selector+"]").val("");
        });
      });


      function get_uom(product, name_index, selected_unit){
        $.ajax({
          url: "{% url 'catalogue:uom_product' %}",
          type: "GET",
          data: {
            product: product
          },
          success: function(response){
            if(response.status == "success"){
              unit_selector = name_index[0]+"-"+name_index[1]+"-unit";
              selected_val = $("select[name="+unit_selector+"] option:selected").val();
              $("select[name="+unit_selector+"]").empty();
              $.each(response.result.units, function(index, value){
                if(value.id == selected_val){
                  $("select[name="+unit_selector+"]").append(
                    "<option value="+value.id+" selected>"+value.unit+"</option>"
                  )
                }else{
                  $("select[name="+unit_selector+"]").append(
                    "<option value="+value.id+">"+value.unit+"</option>"
                  )
                }
              });
              if(selected_unit){
                $("select[name="+unit_selector+"]").val(selected_unit).trigger("change");
              }else{
                if(response.result.product_unit){
                  $("select[name="+unit_selector+"]").val(response.result.product_unit).trigger("change");
                }
              }
            }
          }
        });
      }

      $(document).on("keyup", ".products-purchase_cost", function(){
        var name = this.name;
        var name_index = name.split("-");
        qty = $("input[name="+name_index[0]+"-"+name_index[1]+"-quantity]").val();
        cost = $("input[name="+name_index[0]+"-"+name_index[1]+"-cost]").val();
        total = 0;
        if(qty && cost){
          total = qty * cost
        }
        total = total.toFixed(2);
        $("input[name="+name_index[0]+"-"+name_index[1]+"-total_cost]").val(total)
      });

      $(document).on("keyup", ".products-quantity", function(){
        var name = this.name;
        var name_index = name.split("-");
        qty = $("input[name="+name_index[0]+"-"+name_index[1]+"-quantity]").val();
        cost = $("input[name="+name_index[0]+"-"+name_index[1]+"-cost]").val();
        total = 0;
        if(qty && cost){
          total = qty * cost
        }
        total = total.toFixed(2);
        $("input[name="+name_index[0]+"-"+name_index[1]+"-total_cost]").val(total)
      });

      $('#id_date_of_purchase, #id_shipping_date').daterangepicker({
        "opens": 'right',
        "timePicker": true,
        "timePicker24Hour": true,
        "singleDatePicker": true,
        "showCustomRangeLabel": false,
        'locale': {
          'format': 'DD/MM/YYYY HH:mm',
          "customRangeLabel": "Pilih Tanggal",
          "applyLabel": "Terapkan",
          "cancelLabel": "Batal",
          "daysOfWeek": [
            "Min",
            "Sen",
            "Sel",
            "Rab",
            "Kam",
            "Jum",
            "Sab"
          ],
          "monthNames": [
            "Januari",
            "Februari",
            "Maret",
            "April",
            "Mei",
            "Juni",
            "Juli",
            "Agustus",
            "September",
            "Oktober",
            "November",
            "Desember"
          ],
        }
      });

      {% if not object %}
      $('#id_date_of_purchase').data('daterangepicker').setStartDate(moment());
      $("#id_shipping_date").data('daterangepicker').setStartDate(moment().add(1, 'hours'));
      {% endif %}

      $(document).on("change", ".formset-data-delete", function(){
        tr_element = $(this).closest("tr");
        tr_element.hide();
      });

      products_suplier = $("select.products-dropdown");
      $.each(products_suplier, function(index, value){
        name_index = value.name.split("-");
        if($("select[name=supplier]").val() && $(value).val() && master_product_data){
          get_product_supplier_initial($("select[name=supplier]").val(), $(value).val(), name_index);
        }
        if($(value).hasClass("is-invalid")){
          select2 = $(value).siblings().children(".selection").children();
          select2.addClass("is-invalid");
        }
      });

      {% if object %}
      $("select[name=outlet]").attr("readonly", true);
      $("select[name=supplier]").attr("readonly", true);
      {% endif %}


      yl.registerForwardHandler("get_supplier", function () {
        if($("select[name=supplier]").val()){
          return $("select[name=supplier]").val()
        }
        return 0;
      });
      $('#id_discount').decimalInput();
      $("#id_tax").decimalInput();

      $("input[name='discount_type']").on('click change', function(){
        $('#id_discount').val('');

        var disc_type = $("input[name='discount_type']:checked").val();
        get_discount_type(disc_type)
      });

      function get_discount_type(disc_type){
        if( disc_type == 'percentage'){
          $('#id_discount').attr('maxlength', 5);
          $('#div_id_discount .input-group-append .input-group-text').text("%");
          $('#discount_amount_limit').show();
        }else{
          $('#div_id_discount .input-group-append .input-group-text').text("IDR");
          $('#discount_amount_limit').hide();
          $('#id_discount_amount_limit').val("");
        }
      }

      var disc_type = $("input[name='discount_type']:checked").val();
      get_discount_type(disc_type);

      {% if not object %}
      $("input[name=has_discount_tax]").on("change", function(){
        disc_and_tax_toggle($(this));
      });
      
      {% if has_discount_tax %}
      $("input[name=has_discount_tax]").prop('checked', true);
      disc_and_tax_toggle($("input[name=has_discount_tax]"));
      {% else %}
      disc_and_tax_toggle($("input[name=has_discount_tax]"));
      {% endif %}
  
      function disc_and_tax_toggle(input){
        if (input.is(':checked')){
          $("#div_purchase_order_disc_tax").removeAttr("disabled", "disabled")
          $("#div_purchase_order_disc_tax").show()
        } else {
          $("#div_purchase_order_disc_tax").attr("disabled", "disabled")
          $("#div_purchase_order_disc_tax").hide()
          $("input[name=discount]").val(0);
          $("input[name=tax]").val(0);
        };
      }
      {% endif %}

      $("textarea").maxlength({
        alwaysShow: true,
        placement: 'bottom-right-inside',
      });
    });
  </script>
{% endblock %}



