{% extends "dashboard/base_datatable.html" %}
{% load static i18n humanize %}
{% load crispy_forms_tags %}
{% load detail_display %}
{% load template_utils %}

{% block title %}{% trans "Purchase Order Detail" %} {% endblock title %}

{% block datatable_title %}{% trans "Purchase Order Detail" %} {% endblock datatable_title %}

{% block stock_active_class %}active{% endblock %}
{% block mobile_stock_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_stock_show %}show{% endblock %}
{% block stock_purchase_orders_active_class %}submenu-active{% endblock %}
{% block mobile_stock_purchase_orders_active_class %}submenu-active{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}

{% block css %}
  {{ block.super }}
  <style>
    .no-padding{
      padding: 0 !important;
    }
  </style>
{% endblock %}

{% block action_button %}
<div class="p-0 position-fixed" style="right:20px;">
  <!-- <button type="button" id="print_btn" class="btn btn-outline-primary fixed-top-content">{% trans 'Print' %}</button> -->
  <div class="btn-group">
    <button type="button" class="btn btn-outline-primary dropdown-toggle fixed-top-content" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {% trans 'Print' %}
      &nbsp;<i class="fa fa-angle-down"></i>
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" id="print_btn_pdf" href="#">PDF</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" id="print_btn_csv" href="#">CSV</a>
    </div>
  </div>
  {% if object.status == "active" or object.status == "partial" %}
    <div class="btn-group" role="group" aria-label="vendor-bill">
      <a href="{% url 'stocks:stocks_purchase_order_update' object.pk %}" class="btn btn-outline-primary fixed-top-content mr-0">{% trans "Update" %}</a>
      <button type="button" class="btn btn-outline-primary fixed-top-content" data-toggle="modal" data-target="#deleteModal">{% trans 'Cancel Remaining Items' %}</button>
    </div>
    {% endif %}
</div>
{% endblock action_button %}

{% block datatable_panel_title %}
  {% trans "Purchase Order Detail" %}
{% endblock datatable_panel_title %}

{% block sub_content %}
<div class="w-100">
  <div title='sales-detail' class="report mb-4 mx-0 col-lg-6 px-0">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between" id='report-table'>
          <p class="m-3">{% trans "Code" %}</p>
          <p class="m-3">{{ object.code }} ({{ object.get_status_display }})</p>
        </div>
        <div class="d-flex justify-content-between" id='report-table'>
          <p class="m-3">{% trans "Date of Purchase" %}</p>
          <p class="m-3">{{ object.date_of_purchase }}</p>
        </div>
        <div class="d-flex justify-content-between" id='report-table'>
          <p class="m-3">{% trans "Shipping Date" %}</p>
          <p class="m-3">{{ object.shipping_date }}</p>
        </div>
        <div class="d-flex justify-content-between" id='report-table'>
          <p class="m-3">{% trans "Supplier" %}</p>
          <p class="m-3">{{ object.supplier }}</p>
        </div>
        <div class="d-flex justify-content-between" id='report-table'>
          <p class="m-3">{% trans "Discount" %}</p>
          <p class="m-3">
          {% if object.discount_type == "fixed" %}
          Rp. {% get_normalized_decimal object.discount %}
          {% else %}
          {% get_normalized_decimal object.discount %} %
          {% endif %}
            </p>
          </div>
        <div class="d-flex justify-content-between">
          <p class="m-3">{% trans "Tax" %}</p>
          <p class="m-3">{% get_normalized_decimal object.tax %} %</p>
        </div>
      </div>
    </div>

  </div>
  <div class="mb-4 mx-0 col-lg-12 px-0">
    {% if object.purchased_stock.exists %}
    
    <div class="card">
      <div class="card-header">
        <h4 class="my-1">{% trans "Purchase Order(s) Detail" %}</h4>
      </div>
      <div class="card-body no-padding">
        <div class="table-responsive">
          <table class="table mb-0 border-0">
            <thead>
              <tr>
                <th class="m-3 text-left">{% trans "Product" %}</th>
                <th class="m-3 text-left">{% trans "Variant" %}</th>
                <th class="m-3 text-left">{% trans 'SKU' %}</th>
                <th class="m-3 text-right">{% trans "Quantity" %}</th>
                <th class="m-3 text-right">{% trans 'Purchase Cost' %}</th>
                <th class="m-3 text-right">{% trans "Discount" %}</th>
                <th class="m-3 text-right">{% trans 'Total Cost' %}</th>
              </tr>
            </thead>
            <tbody class="">
              {% for obj in purchased_stock %}
                {% if not object.status == "closed" and not obj.is_received %}
                  <tr class="border-top">
                    <td class="m-3">{{obj.stock.product.catalogue.name }}</td>
                    <td class="m-3">{{ obj.stock.product.name }}</td>
                    <td class="m-3">{{ obj.stock.product.sku }}</td>
                    <td class="m-3 text-right">{% get_normalized_decimal obj.quantity %} {{ obj.unit }}</td>
                    <td class="m-3 text-right">Rp. {% get_normalized_decimal obj.purchase_cost.amount %}</td>
                    <td class="m-3 text-right">
                      {% if obj.discount_type == "percentage" %}
                      {% get_normalized_decimal obj.discount %} %
                      {% else %}
                      Rp. {% get_normalized_decimal obj.discount %}
                      {% endif %}
                    </td>
                    <td class="m-3 text-right">Rp. {% get_normalized_decimal obj.total_cost %}</td>
                  </tr>
                {% endif %}
                {% if obj.is_received %}
                  <tr>
                    <td class="m-3">{{obj.stock.product.catalogue.name }}</td>
                    <td class="m-3">{{ obj.stock.product.name }}</td>
                    <td class="m-3">{{ obj.stock.product.sku }}</td>
                    <td class="m-3 text-right">{% get_normalized_decimal obj.quantity %} {{ obj.unit }}</td>
                    <td class="m-3 text-right">Rp. {% get_normalized_decimal obj.purchase_cost.amount %}</td>
                    <td class="m-3 text-right">
                      {% if obj.discount_type == "percentage" %}
                      {% get_normalized_decimal obj.discount %} %
                      {% else %}
                      Rp. {% get_normalized_decimal obj.discount %}
                      {% endif %}
                    </td>
                    <td class="m-3 text-right">Rp. {% get_normalized_decimal obj.total_cost %}</td>
                  </tr>
                {% endif %}
                {% if object.status == "closed" and not obj.is_received %}
                  <tr>
                    <td class="m-3">{{obj.stock.product.catalogue.name }}</td>
                    <td class="m-3">{{ obj.stock.product.name }}</td>
                    <td class="m-3">{{ obj.stock.product.sku }}</td>
                    <td class="m-3 text-right">{% get_normalized_decimal obj.quantity %} {{ obj.unit }}</td>
                    <td class="m-3 text-right">Rp. {% get_normalized_decimal obj.purchase_cost.amount %}</td>
                    <td class="m-3 text-right">
                      {% if obj.discount_type == "percentage" %}
                      {% get_normalized_decimal obj.discount %} %
                      {% else %}
                      Rp. {% get_normalized_decimal obj.discount %}
                      {% endif %}
                    </td>
                    <td class="m-3 text-right"><del>Rp. {% get_normalized_decimal obj.total_cost %}</del></td>
                  </tr>
                {% endif %}
              {% endfor %}
              <tr class="border-top">
                <td colspan=5></td>
                <td class="m-3 border-bottom"><b>{% trans 'Subtotal' %}</b></td>
                <td class="m-3 border-bottom text-right"><b>Rp. {% get_normalized_decimal object.total_cost %}</b></td>
              </tr>
              <tr>
                <td colspan=5 class="border-0"></td>
                <td class="m-3 border-bottom"><b>{% trans 'Discount' %}</b></td>
                <td class="m-3 border-bottom text-right"><b>Rp. {% get_normalized_decimal object.total_discount %}</b></td>
              </tr>
              <tr>
                <td colspan=5 class="border-0"></td>
                <td class="m-3 border-bottom"><b>{% trans 'Taxes' %}</b></td>
                <td class="m-3 border-bottom text-right"><b>Rp. {% get_normalized_decimal object.total_taxes %}</b></td>
              </tr>
              <tr>
                <td colspan=5 class="border-0"></td>
                <td class="m-3"><b>{% trans 'Total' %}</b></td>
                <td class="m-3 text-right"><b>Rp. {% get_normalized_decimal object.grand_total %}</b></td>
              </tr>
            </tbody>
          </table>
        </div>
        
      </div>
    </div>
    {% else %}
    <div class="card">
      <div class="card-body">
        <div class="text-center margin-100">
          <img alt="disable" src="{% static 'images/data_not_found.svg' %}" style="width: 160px">
            <div style="margin-top:32px; margin-bottom:32px;">
                 <h3 class="mb-3">Oops</h3>
                 <p class="text-muted text-center my-0">Data Transfer Order tidak ada.</p>
            </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock sub_content %}

{% block modal %}
  {{ block.super }}
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">{% trans 'Cancel Remaining Items' %}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{% trans 'Are you sure you want to cancel this purchase order?' %}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
          <form class="delete-form" action="{% url 'stocks:stocks_purchase_order_cancel' object.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
{{ block.super }}
<!-- place project specific Javascript in this file -->
<script>
  $(document).ready(function () {
    var receive_url = "{% url 'stocks:stocks_transfer_receive' object.pk %}"
    tableOptions = {
        ajax : "",
        serverSide: false,
        deferRender: true,
        columnDefs: [
          {
            'targets': [2],
            'render': function (data, type, row) {
                var SaveTemp = data.split(' - ');
                return SaveTemp[0];
            },
            'visible': true,
            'searchable': false
          },
        ],
    };

    $(document).on('click', '.received', function(e){
      var id = $(this).attr("data-id");
      e.preventDefault();

      $.ajax({
        type: 'POST',
          url: receive_url,
          dataType: 'json',
          data: {},
          beforeSend: function(jqXHR, settings){
            jqXHR.setRequestHeader("x-csrftoken", '{{ csrf_token }}');
            $(".btn-submit-close").attr("disabled", "disabled");
            $(".received").attr("disabled", "disabled");
            $("#received-text").html("Loading");
            $("#received-icon").addClass("fa fa-spinner fa-spin");
          },
          success: function(result){
            if(result.status == 'success'){
              setTimeout(function(){
                window.location.href = '{% url "stocks:stocks_transfer" %}'
              }, 3000);
            }
          }
      });
    });

    $("#print_btn_pdf").on("click", function(){
      url = "{% url 'stocks:stocks_purchase_order_detail' object.pk %}" + "?export_file=pdf";
      window.open(url, '_blank');
    });

    $("#print_btn_csv").on("click", function(){
      url = "{% url 'stocks:stocks_purchase_order_detail' object.pk %}" + "?export_file=csv";
      window.open(url, '_blank');
    });


  });
</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
{% endblock %}
