{% extends "dashboard/base_datatable.html" %}
{% load static i18n humanize %}
{% load crispy_forms_tags %}
{% load detail_display %}
{% load template_utils %}

{% block title %}{% trans "Received Order" %} {% endblock title %}

{% block datatable_title %}{% trans "Received Order" %} {% endblock datatable_title %}

{% block stock_active_class %}active{% endblock %}
{% block mobile_stock_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_stock_show %}show{% endblock %}
{% block stock_received_orders_active_class %}submenu-active{% endblock %}
{% block mobile_stock_received_orders_active_class %}submenu-active{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}


{% block css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css"/>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />

  <style>
    .no-padding{
      padding: 0 !important;
    }
    #heading {
      margin-top: 1rem;
      margin-bottom: 0 !important;
    }
    table.dataTable {
      margin-top: 0 !important;
    }
    .select2-container {
      width: 100% !important;
      min-width: 3rem !important;
    }
    #filters{
      padding: 0 10px;
    }
    .datatables-info {
      padding: 8px 8px;
    }
    .table {
      table-layout: auto;
      border-top: 0;
    }
    td {
      white-space: nowrap;
    }
    th {
      white-space: nowrap;
    }

    td:nth-child(1) {
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      
    }
    td:nth-child(2) {
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    td:nth-child(3) {
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    td:nth-child(4) {
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  </style>
{% endblock %}

{% block action_button %}
<div class="p-0 position-fixed" style="right:20px;">
  {% if not object.received %}
  <a href="{% url 'stocks:stocks_received_order_complete_wizard' object.pk %}" class="btn btn-primary  btn-lg fixed-top-content">{% trans 'Complete' %}</a>
  {% endif %}
  {% if object.received %}
  <button type="button" id="print_btn" class="btn btn-outline-primary fixed-top-content">{% trans 'Print' %}</button>
  {% endif %}
  <a href="{% url 'stocks:stocks_received_order_update' object.pk %}" class="btn btn-outline-primary  btn-lg fixed-top-content"> {% trans 'Update' %}</a>
</div>
{% endblock action_button %}


{% block datatable_panel_title %}
  {% trans "Received Order" %}
{% endblock datatable_panel_title %}

{% block sub_content %}
<div class="w-100">
  <div title='sales-detail' class="report mb-4 mx-0 col-lg-6 px-0">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between" id='report-table'>
          <p class="m-3">{% trans "Reference PO" %}</p>
          <p class="m-3"><a href="{% url 'stocks:stocks_purchase_order_detail' object.purchase_order.pk %}">{{ object.purchase_order }}</a></p>
        </div>
        <div class="d-flex justify-content-between" id='report-table'>
          <p class="m-3">{% trans "Code" %}</p>
          <p class="m-3">{{ object.code }}</p>
        </div>
        <div class="d-flex justify-content-between" id='report-table'>
          <p class="m-3">{% trans "Received Date" %}</p>
          <p class="m-3">{{ object.received_date }}</p>
        </div>
        <div class="d-flex justify-content-between">
          <p class="m-3">{% trans "Status Penerimaan" %}</p>
          <p class="m-3">{% if object.received %}Sudah Diterima{% else %}Belum Diterima{% endif %}</p>
        </div>
      </div>
    </div>

  </div>
  <div class="mb-4 mx-0 col-lg-12 px-0">
    <div class="card bg-transparent border-0">
      <div class="card-header bg-white border">
        <h4 class="my-1">{% trans "Detail Penerimaan" %}</h4>
      </div>
      <div class="card-body no-padding bg-">
        <div class="w-100" id="tables">
          <table id="tbl_received_order" class="table table-no-border table-borderless table-striped selector-datatable pb-0 m-0" cellspacing="0" width="100%">
            <thead class="bg-default">
              <tr>
                <th>{% trans 'SKU' %}</th>
                <th>{% trans 'Product' %}</th>
                <th>{% trans 'Variant' %}</th>
                <th>{% trans 'Category' %}</th>
                <th class="text-right">{% trans 'Quantity' %}</th>
                <th class="no-sort text-center">{% trans 'Actions' %}</th>
              </tr>
              <tr class='datatable-filter'>
                <td>
                  <div class="datatable-filter-input-group input-group mtm">
                    <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
                  </div>
                </td>
                <td>
                  <div class="datatable-filter-input-group input-group mtm">
                    <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
                  </div>
                </td>
                <td>
                  <div class="datatable-filter-input-group input-group mtm">
                    <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
                  </div>
                </td>
                <td>
                  <div class="datatable-filter-input-group mtm">
                    <div class="selectdiv">
                    <label class="input-group">
                    <select class="form-control form-control-sm custom-select extra-table-control">
                      <option>{% trans "All" %}</option>
                      {% for category in categories %}
                        <option value={{category.pk}}>{{category.name}}</option>
                      {% endfor %}
                    </select>
                    </label>
                    </div>
                  </div>
                </td>
                <td></td>
                <td></td>
              </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
              <tr></tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock sub_content %}

{% block modal %}
{{ block.super }}
<div class="modal fade" id="received-detail-modal" role="dialog" aria-labelledby="stockCountModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
{% endblock modal %}

{% block javascript %}
{{ block.super }}
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.16/sorting/formatted-numbers.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

<script src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/natural.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
<!-- place project specific Javascript in this file -->
<script>
  (function($){
    $.fn.decimalInput = function(){
      return this.on("input keydown keypress keyup blur", function(event){
        if (event.shiftKey == true) {
          event.preventDefault();
        }
        if ((event.keyCode >= 48 && event.keyCode <= 57) || 
          (event.keyCode >= 96 && event.keyCode <= 105) || 
          event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 ||
          event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190) {

        } else {
            event.preventDefault();
        }

        if($(this).val().indexOf('.') !== -1 && event.keyCode == 190)
          event.preventDefault()
      });
    }
  }( jQuery ));
</script>
<script>
  $(document).ready(function () {
    base_url = "{% url 'stocks:stocks_received_order_detail_data' object.pk %}";

    tableOptions = {
      scrollX: true,
      responsive: true,
      pageLength: 25,
      pagingType: "simple_numbers",
      columnDefs: [
        {targets: 'no-sort', orderable: false},
        {targets: 'text-center',  className: 'text-center'},
        {targets: 'text-right',  className: 'text-right'},
      ],
    }

    $("#print_btn").on("click", function(){
      url = "{% url 'stocks:stocks_received_order_detail' object.pk %}" + "?export_file=pdf";
      window.open(url, '_blank');
    });

    $(document).on("click", ".received-update", function(e){
      url = $(this).data("url");
      e.preventDefault();
      $("#received-detail-modal").modal("show").find(".modal-content").load(url);
    });


  });
</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
{% endblock %}
