{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Received Orders" %}{% endblock %}


{% block stock_active_class %}active{% endblock %}
{% block mobile_stock_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_stock_show %}show{% endblock %}
{% block stock_purchase_orders_active_class %}submenu-active{% endblock %}
{% block mobile_stock_purchase_orders_active_class %}submenu-active{% endblock %}
{% block content_header %}{% if object %}{% trans 'Received Order - ' %}{{ object }}{% else %}{% trans "Add Received Order" %}{% endif %}{% endblock %}


{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}


{% block css %}
{{ block.super }}
{{ form.media.css }}
{{ formset.media.css }}
<style>
  .formset-wrapper .invalid-feedback {
    margin: 0;
  }
  .products-dropdown + .select2-container {
    width: 400px !important;
  }

  .unit-dropdown + .select2-container{
      width: 150px !important;
      min-width: 150px !important;
  }
</style>
{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div2_class %}px-2{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block action_div_style %}background: white; border-top: 1px solid #d7d7db;{% endblock %}
{% block submit_form %}
      <div class="d-flex justify-content-end" id="fixed-bottom-button">
        <a href="{% if purchase %}{% url 'stocks:stocks_purchase_order_received' purchase.pk %}{% else %}#{% endif %}" class="btn btn-light">{% trans "Back" %}</a>
        <button type="submit" id="submitBtn" class="btn btn-primary ml-1">
          <span id="submit-text">{% if object %}{% trans 'Save' %}{% else %}{% trans 'Create' %}{% endif %}</span>
          <i id="submit-icon" class=""></i>
        </button>
      </div>
{% endblock %}

{% block sub_content %}
  <form method="post" action="." id="received_order_form">
    {% crispy form %}

    {% if not object %}
    {% crispy formset formset_helper %}
    {% else %}
    <div class="mb-4 mx-0 col-lg-12 px-0">
      {% if object.received_detail.exists %}
      <div class="card">
        <div class="card-header">
          <h4 class="my-1">{% trans "Purchase Order Received Detail" %}</h4>
        </div>
        <div class="car-body">
          <div class="table-responsive">
            <table class="table mb-0 border-0">
              <thead>
                <tr>
                  <th class="m-3 text-left">{% trans "Product" %}</th>
                  <th class="m-3 text-left">{% trans "Variant" %}</th>
                  <th class="m-3 text-left">{% trans 'SKU' %}</th>
                  <th class="m-3 text-right">{% trans "Quantity" %}</th>
                  <th class="m-3 text-right">{% trans 'Purchase Cost' %}</th>
                  <th class="m-3 text-right">{% trans "Discount" %}</th>
                  <th class="m-3 text-right">{% trans 'Total Cost' %}</th>
                </tr>
              </thead>
              <tbody class="">
                {% for obj in received_detail %}
                  <tr>
                    <td class="m-3">{{obj.stock.product.catalogue.name }}</td>
                    <td class="m-3">{{ obj.stock.product.name }}</td>
                    <td class="m-3">{{ obj.stock.product.sku }}</td>
                    <td class="m-3 text-right">{% get_normalized_decimal obj.quantity %} {{ obj.unit }}</td>
                    <td class="m-3 text-right">Rp. {% get_normalized_decimal obj.purchase_cost.amount %}</td>
                    <td class="m-3 text-right">
                      {% if obj.discount_type == "percentage" %}
                      {% get_normalized_decimal obj.discount %} %
                      {% else %}
                      Rp. {% get_normalized_decimal obj.discount %}
                      {% endif %}
                    </td>
                    <td class="m-3 text-right">Rp. {% get_normalized_decimal obj.total_cost %}</td>
                  </tr>
                {% endfor %}
                <tr class="border-top">
                  <td colspan=5></td>
                  <td class="m-3 border-bottom"><b>{% trans 'Subtotal' %}</b></td>
                  <td class="m-3 border-bottom text-right"><b>Rp. {% get_normalized_decimal object.total_cost %}</b></td>
                </tr>
                  <td colspan=5 class="border-0"></td>
                  <td class="m-3"><b>{% trans 'Total' %}</b></td>
                  <td class="m-3 text-right"><b>Rp. {% get_normalized_decimal object.grand_total %}</b></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    {% endif %}

    <div class="justify-content-end {% if grid %}{{ grid }}{% else %}col-12{% endif %} p-0" id="fixed-button-content" style="display: flex;">
      <a href="{% if purchase %}{% url 'stocks:stocks_purchase_order_received' purchase.pk %}{% else %}#{% endif %}" class="btn btn-light">{% trans "Back" %}</a>
      <button type="submit" class="btn btn-primary ml-1">
        <span id="submit-text">{% if object %}{% trans 'Save' %}{% else %}{% trans 'Create' %}{% endif %}</span>
        <i id="submit-icon" class=""></i>
      </button>
    </div>
  </form>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  {{ form.media.js }}
  {{ formset.media.js }}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.3/daterangepicker.js"></script>

  <script src="{% static 'js/jquery.formset.js' %}"></script>
  <script src="{% static '/js/button-scrollbar.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8.17.6/dist/sweetalert2.all.min.js"></script>
  <script>
    (function($) {
      $.fn.inputFilter = function(inputFilter) {
        return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function() {
          if (inputFilter(this.value)) {
            this.oldValue = this.value;
            this.oldSelectionStart = this.selectionStart;
            this.oldSelectionEnd = this.selectionEnd;
          } else if (this.hasOwnProperty("oldValue")) {
            this.value = this.oldValue;
            this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
          }
        });
      };
    }(jQuery));

    (function($){
      $.fn.decimalInput = function(){
        return this.on("input keydown keypress keyup blur", function(event){
          if (event.shiftKey == true) {
            event.preventDefault();
          }
          if ((event.keyCode >= 48 && event.keyCode <= 57) || 
            (event.keyCode >= 96 && event.keyCode <= 105) || 
            event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 ||
            event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190) {

          } else {
              event.preventDefault();
          }

          if($(this).val().indexOf('.') !== -1 && event.keyCode == 190)
            event.preventDefault()
        });
      }
    }( jQuery ));
  </script>
  <script>
    $(document).ready(function(){
      
      $('.formset-wrapper').formset();
      $(".formset-wrapper").on("formAdded", function(event){
        newForm = event.target;
        $.each($(newForm), function(index, value){
          $(".unit-dropdown").select2({
            allowClear: false,
          });
          if ($(value).is('tr') === true) {
            var quantity_input = $(value).find(".products-quantity");
            $(quantity_input).decimalInput();
            var product_discount = $(value).find(".products-discount");
            $(product_discount).decimalInput();
            if($(value).find(".products-dropdown").val()){
              unit = $(value).find(".products-wastage-unit").val();
              get_uom($(value).find(".products-dropdown").val(), $(value).find(".products-dropdown").attr("name").split("-"));
            }
          }
        });
      });
      $('.formset-wrapper').on('formDeleted', function (event) {
        deleted = event.target;
        $.each($(deleted), function(index, value){
          if ($(value).is('tr') === true) {
            var selected_value = $(value).find('.products-dropdown ').val();
            $(deleted).find('.products-dropdown  option[value="'+ selected_value +'"]').prop("selected", false);
            $(deleted).find('.products-dropdown  option[value="'+ selected_value +'"]').removeAttr("selected");
          }
        });
      });

      $("#submitBtn").on("click", function () {
        $("#received_order_form").submit();
      });

      $("#received_order_form").on("submit", function(){
        $("button[type=submit]").attr("disabled", "disabled");
        $("button[type=submit] #submit-text").empty().append("Menyimpan");
        $("button[type=submit] #submit-icon").addClass("fa fa-spinner fa-spin");
      });

      $("#id_received_date").daterangepicker({
        "singleDatePicker": true,
        "timePicker": true,
        "timePicker24Hour": true,
        "autoApply": true,
        "startDate": moment(),
        "locale": {
          "format": 'DD/MM/YYYY HH:mm'
        }
      });

      yl.registerForwardHandler("get_purchase_order", function () {
        return "{{ purchase_order.pk }}";
      });

      $(document).on("change", ".products-dropdown", function(){
        var name = this.name;
        var name_index = name.split("-");
        var selected_arr = []
        selected = $(".products-dropdown option:selected").not(this);
        is_exist = false;

        $.each(selected, function(index, value){
          if($.inArray($(this).val(), selected_arr)>-1){
            is_exist = true;
          }else{
            if($(value).val()){
              selected_arr.push($(value).val());
            }
          }
        });

        if(is_exist){
          Swal.fire({
            text: "Produk sudah ditambahkan pada order penerimaan ini."
          });
          $("#id_"+name).val(null).trigger("change");
        }else{
          if($(this).val()){
            get_uom($(this).val(), name_index);
            get_purchased_stock_detail($(this).val(), "{{ purchase_order.pk }}", name_index);
          }else{
            total_qty_selector = name_index[0]+"-"+name_index[1]+"-total_qty";
            quantity_selector = name_index[0]+"-"+name_index[1]+"-quantity";
            $("input[name="+total_qty_selector+"]").val("");
            $("input[name="+quantity_selector+"]").val("");
          }
        }
      });

      function get_purchased_stock_detail(product, purchase_order, name_index){
        total_qty_selector = name_index[0]+"-"+name_index[1]+"-total_qty";
        quantity_selector = name_index[0]+"-"+name_index[1]+"-quantity";
        unit_selector = name_index[0]+"-"+name_index[1]+"-unit";

        $.ajax({
          url:"{% url 'stocks:get_detail_product' %}",
          type: "GET",
          data: {
            purchase_order: purchase_order,
            product: product,
          },
          success: function(response){
            if(response.status == "success"){
              $("input[name="+total_qty_selector+"]").val(response.result.total_qty);
              $("input[name="+quantity_selector+"]").val(response.result.remain_qty);
              $("select[name="+unit_selector+"]").val(response.result.unit);
            }
          }
        });
      }

      function get_uom(product, name_index, unit){
        $.ajax({
          url: "{% url 'catalogue:uom_product' %}",
          type: "GET",
          data: {
            product: product
          },
          success: function(response){
            if(response.status == "success"){
              unit_selector = name_index[0]+"-"+name_index[1]+"-unit";
              selected_val = $("select[name="+unit_selector+"] option:selected").val();
              $("select[name="+unit_selector+"]").empty();
              $.each(response.result.units, function(index, value){
                if(value.id == selected_val){
                  $("select[name="+unit_selector+"]").append(
                    "<option value="+value.id+" selected>"+value.unit+"</option>"
                  )
                }else{
                  $("select[name="+unit_selector+"]").append(
                    "<option value="+value.id+">"+value.unit+"</option>"
                  )
                }
              });
              if(unit){
                $("select[name="+unit_selector+"]").val(unit);
              }
            }
          }
        });
      }
    });
  </script>
{% endblock %}