{% extends "dashboard/base_datatable.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Received Orders" %}{% endblock %}

{% block stock_active_class %}active{% endblock %}
{% block mobile_stock_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_stock_show %}show{% endblock %}
{% block stock_received_orders_active_class %}submenu-active{% endblock %}
{% block mobile_stock_received_orders_active_class %}submenu-active{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}

{% block datatable_title %}{% trans "Received Order" %}{% endblock datatable_title %}

{% block datatable_id %}tbl_stock_received_orders{% endblock datatable_id %}

{% block action_button %}
<div class="p-0 position-fixed" style="right:20px;">
	<a href="{% url 'stocks:stocks_received_order_create' %}" class="btn btn-primary btn-lg fixed-top-content">{% trans "Add Received Order" %}</a>
</div>
{% endblock action_button %}

{% block datatable_thead_tr %}
  <th>{% trans 'Code' %}</th>
  <th>{% trans 'Received Date' %}</th>
  <th>{% trans 'Reference PO' %}</th>
  <th>{% trans 'Outlet' %}</th>
  <th>{% trans 'Supplier' %}</th>
{% endblock datatable_thead_tr %}

{% block datatable_filter %}
<tr class='datatable-filter'>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}" onkeypress="onlyNumeric">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <label id="reportrange" class="form-control extra-table-control btn btn-default btn-lg date-calendar">
        &nbsp;<span>{% trans "Filter by Date" %}</span>
        &nbsp;<i class="fa fa-angle-down"></i>
      </label>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}" onkeypress="onlyNumeric">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group mtm">
      <div class="selectdiv">
      <label class="input-group">
      <select class="form-control form-control-sm custom-select extra-table-control">
        <option>{% trans "All" %}</option>
        {% for outlet in outlets %}
          <option value={{outlet.pk}}>{{outlet.name}}</option>
        {% endfor %}
      </select>
      </label>
      </div>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group mtm">
      <div class="selectdiv">
      <label class="input-group">
      <select class="form-control form-control-sm custom-select extra-table-control">
        <option>{% trans "All" %}</option>
        {% for supplier in suppliers %}
          <option value={{supplier.pk}}>{{supplier.name}}</option>
        {% endfor %}
      </select>
      </label>
      </div>
    </div>
  </td>
</tr>
{% endblock datatable_filter %}

{% block javascript %}
{{ block.super }}

<script>
	function onlyNumeric(event) {
		return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57;
	};
</script>
<script>
	$(document).ready(function () {
		base_url = "{% url 'stocks:stocks_received_order_data' %}";
		tableOptions = {
      columnDefs: [
        {targets: "_all", className: "align-middle"},
        {targets: 'no-sort', orderable: false},
        {
          targets: [0],
          width: "20%",
          orderable: false,
            render: function(data, type, full, meta) {
            html = '<a href="'+ data.url +'"/>' + data.name + '</a>';
            return html;
          },
        },
      ],
      order: [[1, "desc"]],
    }
	});
</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
{% endblock %}
