{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Received Orders" %}{% endblock %}


{% block stock_active_class %}active{% endblock %}
{% block mobile_stock_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_stock_show %}show{% endblock %}
{% block stock_received_orders_active_class %}submenu-active{% endblock %}
{% block mobile_stock_received_orders_active_class %}submenu-active{% endblock %}
{% block content_header %}{% if object %}{% trans 'Received Order - ' %}{{ object }}{% else %}{% trans "Add Received Order" %}{% endif %}{% endblock %}


{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}


{% block css %}
{{ block.super }}
{{ form.media.css }}
<style>
  .formset-wrapper .invalid-feedback {
    margin: 0;
  }
  .table {
    table-layout: fixed;
  }
  .table tr th:first-child{
    width: 40% !important;
  }
  .select2-container {
    width: 100% !important;
    min-width: 3rem !important;
  }
</style>
{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div2_class %}px-2{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block action_div_style %}background: white; border-top: 1px solid #d7d7db;{% endblock %}
{% block submit_form %}
      <div class="d-flex justify-content-end" id="fixed-bottom-button">
        <a href="{% if object %}{% url 'stocks:stocks_received_order_detail' object.pk %}{% else %}{% url 'stocks:stocks_received_order' %}{% endif %}" class="btn btn-light">{% trans "Back" %}</a>
        <button type="submit" id="submitBtn" class="btn btn-primary ml-1">
          <span id="submit-text">{% if object %}{% trans 'Save' %}{% else %}{% trans 'Create' %}{% endif %}</span>
          <i id="submit-icon" class=""></i>
        </button>
      </div>
{% endblock %}

{% block sub_content %}
  <form method="post" action="." id="received_order_form">
    {% crispy form %}

    <div class="justify-content-end {% if grid %}{{ grid }}{% else %}col-6{% endif %} p-0" id="fixed-button-content" style="display: flex;">
      <a href="{% if object %}{% url 'stocks:stocks_received_order_detail' object.pk %}{% else %}{% url 'stocks:stocks_received_order' %}{% endif %}" class="btn btn-light">{% trans "Back" %}</a>
      <button type="submit" class="btn btn-primary ml-1">
        <span id="submit-text">{% if object %}{% trans 'Save' %}{% else %}{% trans 'Create' %}{% endif %}</span>
        <i id="submit-icon" class=""></i>
      </button>
    </div>
  </form>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  {{ form.media.js }}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>

  <script src="{% static 'js/jquery.formset.js' %}"></script>
  <script src="{% static '/js/button-scrollbar.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8.17.6/dist/sweetalert2.all.min.js"></script>
  <script>
    (function($) {
      $.fn.inputFilter = function(inputFilter) {
        return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function() {
          if (inputFilter(this.value)) {
            this.oldValue = this.value;
            this.oldSelectionStart = this.selectionStart;
            this.oldSelectionEnd = this.selectionEnd;
          } else if (this.hasOwnProperty("oldValue")) {
            this.value = this.oldValue;
            this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
          }
        });
      };
    }(jQuery));

    (function($){
      $.fn.decimalInput = function(){
        return this.on("input keydown keypress keyup blur", function(event){
          if (event.shiftKey == true) {
            event.preventDefault();
          }
          if ((event.keyCode >= 48 && event.keyCode <= 57) || 
            (event.keyCode >= 96 && event.keyCode <= 105) || 
            event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 ||
            event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190) {

          } else {
              event.preventDefault();
          }

          if($(this).val().indexOf('.') !== -1 && event.keyCode == 190)
            event.preventDefault()
        });
      }
    }( jQuery ));

    (function($){
      $.fn.regexMask = function(mask) {
        $(this).keypress(function (event) {
            if (!event.charCode) return true;
            var part1 = this.value.substring(0, this.selectionStart);
            var part2 = this.value.substring(this.selectionEnd, this.value.length);
            if (!mask.test(part1 + String.fromCharCode(event.charCode) + part2))
                return false;
        });
      };
    }( jQuery ));
  </script>
  <script>
    $(document).ready(function(){

      var mask = new RegExp('^[A-Za-z0-9]*$');
      $("input[name=receipt_number]").regexMask(mask);

      $("#submitBtn").on("click", function () {
        $("#received_order_form").submit();
      });

      $("#received_order_form").on("submit", function(){
        $("button[type=submit]").attr("disabled", "disabled");
        $("button[type=submit] #submit-text").empty().append("Menyimpan");
        $("button[type=submit] #submit-icon").addClass("fa fa-spinner fa-spin");
      });

    });
  </script>
{% endblock %}