{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Inventory Settings" %}{% endblock %}

{% block settings_active_class %}active{% endblock %}
{% block mobile_settings_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_settings_show %}show{% endblock %}
{% block settings_inventory_active_class %}submenu-active{% endblock %}
{% block mobile_settings_inventory_active_class %}submenu-active{% endblock %}

{% block css %}
  {{ block.super }}
  <!-- Your stuff: Third-party css libraries go here -->
  <style>
    .switch {
      margin-top: 3px;
      position: relative;
      display: inline-block;
      width: 40px;
      height: 20px;
    }

    .switch input {display:none;}

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 12px;
      width: 12px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    .switch input:checked + .slider {
      background-color: #2196F3;
    }

    .switch input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    .switch input:checked + .slider:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }

    div#div_id_outlet :last-child {
      border-bottom: 0px;
    }

    .card {
      display: block;
      height: fit-content;
    }
    .custom-radio .custom-control-input:checked ~ .custom-control-label::before {
      background-color: white;
      border: 1px solid #0094C9;

    }
    .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
       background-color: #0094C9;
    }

    .custom-radio + custom-control-label:before {
      border-radius: 50%; }

    .custom-radio .custom-control-input:checked ~ .custom-control-label::after {
      top: 8px;
      left: 4px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #0094C9;
      }

    .custom-radio .custom-control-label::before {
      background: white;
      border-radius: 50%;
      border: 1px solid #d7d7db;
    }

    .custom-radio:checked ~ label {
      color: #0094C9;
    }
    .form-check .form-check-label {
      line-height: 1.7;
    }

  </style>
{% endblock %}


{% block message %}
  {% for message in messages %}
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close p-2" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  {% endfor %}
{% endblock %}


{% block content_header %}{% trans "Inventory Settings" %}{% endblock %}
{% block submit_form %}
    <div class="d-flex justify-content-end" id="fixed-bottom-button">
      <input type="submit" class="btn btn-primary" id="submitBtn" value="{% trans 'Save' %}"/>
    </div>
{% endblock%}

{% block sub_content %}
<div class="tab-content pt-1" id="table-management-tab-content">
  <div class="tab-pane show active" id="table-management">
  <div class="w-100">
    <form method="post" action="." id="form-content">
      {% crispy form %}
      <div class="justify-content-end col-6 p-0" id="fixed-button-content" style="display: flex;">
        <input type="submit" class="btn btn-primary" value="{% trans 'Save' %}"/>
      </div>
    </form>
  </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script src="{% static '/js/button-scrollbar.js' %}"></script>
  <script>
  $(document).ready(function($){

    $("#submitBtn").click(function () {
      $("#form-content").submit();
    });

    $("input[name=inventory_code_format]").on("change", function(){
      help_text_code_format($(this));
    });


    function help_text_code_format(input){
      if(input.val() == "comprehensive"){
        $("#hint_id_inventory_code_format small").html("Contoh Kode tranasksi komprehensif untuk pemesanan pembelian (Kode Bisnis)/(Kode Outlet)/PO/(Tahun)/(Bulan)/0019");
      }else{
        $("#hint_id_inventory_code_format small").html("Contoh Kode transaksi simpel untuk pemesanan pembelian SPO-19");
      }
    }

    $("input[name=vendor_bill]").on("change", function(){
      hide_input($(this));
    });

    function hide_input(input){
      if (input.is(':checked')){
        $("#div_id_vb_accurate_excel").show();
      } else {
        $("#div_id_vb_accurate_excel").hide();
        $("input[name=vb_accurate_excel]").prop("checked", false);
      }
    }


    
  });
</script>
{% endblock %}
