{% extends "dashboard/base_datatable.html" %}
{% load static i18n humanize %}
{% load crispy_forms_tags %}
{% load template_utils %}

{% block title %}{% trans "Transfer Order Detail" %} {% endblock title %}

{% block datatable_title %}{% trans "Transfer Order Detail" %} {% endblock datatable_title %}

{% block stock_active_class %}active{% endblock %}
{% block mobile_stock_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_stock_show %}show{% endblock %}
{% block stock_stocktransfer_active_class %}submenu-active{% endblock %}
{% block mobile_stock_stocktransfer_active_class %}submenu-active{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}

{% block css %}
  {{ block.super }}
  <style>
    .no-padding{
      padding: 0 !important;
    }
    .table td {
      border-top: 1px solid #dee2e6 !important;
    }
    .table th {
      font-weight: 700;
    }
  </style>
{% endblock %}

{% block action_button %}
<div class="p-0 position-fixed" style="right:20px;">
  <button type="button" id="print_btn" class="btn btn-outline-primary fixed-top-content">{% trans 'Print' %}</button>
  {% if object.status == "active" %}
      {% if object.destination in outlet_qs %}
        {% if can_received_at %}
          <a href="{% url 'stocks:stocks_transfers_received' object.pk %}" class="btn btn-primary btn-lg fixed-top-content">{% trans 'Receive' %}</a>
        {% else %}
          <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Tidak bisa melanjutkan proses penerimaan mutasi stok dikarenakan belum melewati tanggal mutasi stok.' %}">
            <button class="btn btn-primary btn-lg fixed-top-content" style="pointer-events: none;" type="button" disabled>{% trans 'Receive' %}</button>
          </span>
        {% endif %}
      {% endif %}

      {% if object.source in outlet_qs %}
        <div class="btn-group" role="group" aria-label="transfers-actions">
          <a href="{% url 'stocks:stocks_transfer_update' object.pk %}" class="btn btn-outline-primary mr-0 btn-lg fixed-top-content">{% trans "Update" %}</a>
          <button type="button" class="btn btn-outline-primary btn-lg fixed-top-content" data-toggle="modal" data-target="#deleteModal">{% trans 'Cancel' %}</button>
        </div>
      {% endif %}
  {% endif %}
</div>
{% endblock action_button %}

{% block datatable_panel_title %}
  {% trans "Transfer Order Detail" %}
{% endblock datatable_panel_title %}

{% block sub_content %}
<div class="w-100">
  <div title='sales-detail' class="report mb-4 mx-0 col-lg-6 px-0">
    <div class="card">
      <div class="card-body py-0 px-3">
        <div class="d-flex justify-content-between" id='report-table'>
          <p class="m-3">{% trans "Code" %}</p>
          <p class="m-3">{{ object.code }} ({{ object.get_status_display}})</p>
        </div>
        <div class="d-flex justify-content-between" id='report-table'>
          <p class="m-3">{% trans "Date of Transfer" %}</p>
          <p class="m-3">{{ object.date_of_transfer }}</p>
        </div>
        <div class="d-flex justify-content-between" id='report-table'>
          <p class="m-3">{% trans "Date of Arrival" %}</p>
          <p class="m-3">{% if object.date_of_arrival %}{{ object.date_of_arrival }}{% else %}-{% endif %}</p>
        </div>
        <div class="d-flex justify-content-between" id='report-table'>
          <p class="m-3">{% trans "Source" %}</p>
          <p class="m-3">{{ object.source.name }}</p>
        </div>
        <div class="d-flex justify-content-between">
          <p class="m-3">{% trans "Destination" %}</p>
          <p class="m-3">{{ object.destination.name }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-4 mx-0 col-lg-12 px-0">
    {% if transfered_stock %}
    <div class="card">
      <div class="card-header">
        <h4 class="my-1">{% trans "Stock Transfer Detail" %}</h4>
      </div>
      <div class="card-body no-padding">
        <div class="table-responsive">
          <table class="table mb-0 border-0">
            <thead>
              <tr>
                <th class="m-3 text-left">{% trans "Product" %}</th>
                <th class="m-3 text-left">{% trans "Variant" %}</th>
                <th class="m-3 text-left">{% trans "SKU" %}</th>
                {% if outlet_permission %}
                {% if object.source in outlet_qs %}
                <th class="m-3 text-right">{% trans "Source Stock" %}</th>
                {% endif %}
                {% if object.destination in outlet_qs %}
                <th class="m-3 text-right">{% trans "Destination Stock" %}</th>
                {% endif %}
                {% endif %}
                <th class="m-3 text-right">{% trans "Quantity" %}</th>
              </tr>
            </thead>
            <tbody>
              {% for obj in transfered_stock %}
                {% if object.status == "canceled" %}
                <tr>
                  <td class="m-3">{{ obj.stock_source.product.catalogue.name }}</td>
                  <td class="m-3">
                    <p class="m-0">
                      {{ obj.stock_source.product.name }}
                      {% if obj.deleted %}<span class="text-danger">({% trans 'Deleted' %})</span>{% endif %}
                      {% if obj.stock_source.product.archived %}<span class="text-danger">({% trans 'Archived' %})</span>{% endif %}
                    </p>
                  </td>
                  <td class="m-3">{{ obj.stock_source.product.sku }}</td>
                  {% if outlet_permission %}
                  {% if object.source in outlet_qs %}
                  <td class="m-3 text-right">{% get_normalized_decimal obj.stock_source.balance %} {{ obj.stock_source.product.uom }}</td>
                  {% endif %}
                  {% if object.destination in outlet_qs %}
                  <td class="m-3 text-right">{% get_normalized_decimal obj.stock_destination.balance %} {{ obj.stock_destination.product.uom }}</td>
                  {% endif %}
                  {% endif %}
                  <td class="m-3 text-right"><del>{% get_normalized_decimal obj.quantity %} {{ obj.unit }}</del></td>
                </tr>
                {% endif %}
                {% if object.status == "active" %}
                <tr>
                  <td class="m-3">{{ obj.stock_source.product.catalogue.name }}</td>
                  <td class="m-3">
                    <p class="m-0">
                      {{ obj.stock_source.product.name }}
                      {% if obj.deleted %}<span class="text-danger">({% trans 'Deleted' %})</span>{% endif %}
                      {% if obj.stock_source.product.archived %}<span class="text-danger">({% trans 'Archived' %})</span>{% endif %}
                    </p>
                  </td>
                  <td class="m-3">{{ obj.stock_source.product.sku }}</td>
                  {% if outlet_permission %}
                  {% if object.source in outlet_qs %}
                  <td class="m-3 text-right">{% get_normalized_decimal obj.stock_source.balance %} {{ obj.stock_source.product.uom }}</td>
                  {% endif %}
                  {% if object.destination in outlet_qs %}
                  <td class="m-3 text-right">{% get_normalized_decimal obj.stock_destination.balance %} {{ obj.stock_destination.product.uom }}</td>
                  {% endif %}
                  {% endif %}
                  <td class="m-3 text-right {% if not obj.is_stock_available %}text-danger{% endif %}">{% get_normalized_decimal obj.quantity %} {{ obj.unit }}</td>
                </tr>
                {% endif %}
                {% if object.status == "received" %}
                <tr>
                  <td class="m-3">{{ obj.stock_source.product.catalogue.name }}</td>
                  <td class="m-3">
                    <p class="m-0">
                      {{ obj.stock_source.product.name }}
                      {% if obj.deleted %}<span class="text-danger">({% trans 'Deleted' %})</span>{% endif %}
                      {% if obj.stock_source.product.archived %}<span class="text-danger">({% trans 'Archived' %})</span>{% endif %}
                    </p>
                  </td>
                  <td class="m-3">{{ obj.stock_source.product.sku }}</td>
                  {% if outlet_permission %}
                  {% if object.source in outlet_qs %}
                  <td class="m-3 text-right">{% get_normalized_decimal obj.stock_source.balance %} {{ obj.stock_source.product.uom }}</td>
                  {% endif %}
                  {% if object.destination in outlet_qs %}
                  <td class="m-3 text-right">{% get_normalized_decimal obj.stock_destination.balance %} {{ obj.stock_destination.product.uom }}</td>
                  {% endif %}
                  {% endif %}
                  <td class="m-3 text-right">{% get_normalized_decimal obj.quantity %} {{ obj.unit }}</td>
                </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
    {% else %}
    <div class="card">
      <div class="card-body">
        <div class="text-center margin-100">
          <img alt="disable" src="{% static 'images/data_not_found.svg' %}" style="width: 160px">
            <div style="margin-top:32px; margin-bottom:32px;">
                 <h3 class="mb-3">Oops</h3>
                 <p class="text-muted text-center my-0">Data Transfer Order tidak ada.</p>
            </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock sub_content %}

{% block modal %}
  {{ block.super }}
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">{% trans 'Delete Stock Transfer' %}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{% trans 'Are you sure you want to delete?' %}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
          <form class="delete-form" action="{% url 'stocks:stocks_transfer_delete' object.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">{% trans 'Delete' %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
{{ block.super }}
<!-- place project specific Javascript in this file -->
<script>
  $(document).ready(function () {
    tableOptions = {
        ajax : "",
        serverSide: false,
        deferRender: true,
        columnDefs: [
          {
            'targets': [2],
            'render': function (data, type, row) {
                var SaveTemp = data.split(' - ');
                return SaveTemp[0];
            },
            'visible': true,
            'searchable': false
          },
        ],
    };

    $('[data-toggle="tooltip"]').tooltip()

    $("#print_btn").on("click", function(){
      url = "{% url 'stocks:stocks_transfer_detail' object.pk %}" + "?export_file=pdf";
      window.open(url, '_blank');
    });

  });
</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
{% endblock %}
