{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% load formset_tags %}

{% block title %}{% trans 'Batch Tracked' %}{% endblock %}


{% block stock_active_class %}active{% endblock %}
{% block mobile_stock_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_stock_show %}show{% endblock %}

{% block stock_stockcount_active_class %}{% if inventory_type == "stock_count" %}submenu-active{% endif %}{% endblock %}
{% block mobile_stock_stockcount_active_class %}{% if inventory_type == "stock_count" %}submenu-active{% endif %}{% endblock %}

{% block stock_stocktransfer_active_class %}{% if inventory_type == "stock_transfer" %}submenu-active{% endif %}{% endblock %}
{% block mobile_stock_stocktransfer_active_class %}{% if inventory_type == "stock_transfer" %}submenu-active{% endif %}{% endblock %}

{% block content_header %}{% trans 'Batch Tracked' %}{% endblock %}

{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}

{% block enable_settings %}
{% endblock %}


{% block css %}
  {{ block.super }}
  <link href="/static/autocomplete_light/vendor/select2/dist/css/select2.css" type="text/css" media="all" rel="stylesheet" />
  <link href="/static/autocomplete_light/select2.css" type="text/css" media="all" rel="stylesheet" />

  <style>
    .formset-footer {
      border-top: 1px solid #dee2e6 !important;
      border-bottom: 1px solid #dee2e6 !important;
      padding: 0.7rem 0;
    }
    .formset-wrapper:first-child table thead {
      display: table-header-group !important;
    }
    .table {
      table-layout: fixed;
    }
    .table th:last-child {
      width: 30px !important;
    }
    .table th:nth-child(3) {
      width: 20% !important;
    }
    .select2-container {
      width: 100% !important;
      min-width: 5rem !important;
    }
  </style>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@8.17.6/dist/sweetalert2.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.3/daterangepicker.css"/>
  </style>
{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div2_class %}px-2{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block action_div_style %}background: white; border-top: 1px solid #d7d7db;{% endblock %}

{% block sub_content %}
  <form method="post" action="." id="batch_tracked_form">
    {% csrf_token %}
    <fieldset>
      {% for form_error in form.non_form_errors %}
        {% for error in form_error %}
          <div class="alert alert-error alert-dismissible fade show" role="alert">
            {{ error }}
            <button type="button" class="close p-2" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
        {% endfor %}
      {% endfor %}
        
      <div class="row mx-0 p-0">
        <div class="card col-lg-12 p-0">
          <div class="px-3 pt-3">
            <h4>{% trans 'Batch Tracked' %} - Outlet: {{ outlet }} ({{ status_display }})</h4>
          </div>
          <div class="card-body mx-0">
            {{ form.management_form }}
            {% for batch_form in form %}
              <div class="formset-wrapper formset-{{ batch_form.prefix }}" data-formset-prefix="{{ batch_form.nested.prefix }}">
                  {% if batch_form.nested %}
                    {{ batch_form.nested.management_form }}
                  {% endif %}
                <table class="table border-0 mb-0">
                  {% if forloop.first %}
                  <thead class="">
                    <th class="col-form-label text-left pl-0 pt-0">{% trans 'Product' %}</th>
                    <th class="col-form-label text-left pl-0 pt-0">{% trans 'Qty to Assign' %}</th>
                    <th class="col-form-label text-left pl-0 pt-0">{% trans 'Batch ID' %}<span class="asteriskField">*</span></th>
                    <th class="col-form-label text-left pl-0 pt-0">{% trans 'Batch Quantity' %}</th>
                    <th class="col-form-label text-left pl-0 pt-0">{% trans 'Quantity' %}<span class="asteriskField">*</span></th>
                    <th class="col-form-label text-left pl-0 pt-0">{% trans 'Unit' %}<span class="asteriskField">*</span></th>
                    <th class="col-form-label text-left pl-0 pt-0">{% trans 'Expiration Date' %}<span class="asteriskField">*</span></th>
                    <th class="col-form-label text-left pl-0 pt-0"></th>
                  </thead>
                  {% else %}
                  <thead class="">
                    <th class="col-form-label text-left pl-0 pt-0"></th>
                    <th class="col-form-label text-left pl-0 pt-0"></th>
                    <th class="col-form-label text-left pl-0 pt-0"></th>
                    <th class="col-form-label text-left pl-0 pt-0"></th>
                    <th class="col-form-label text-left pl-0 pt-0"></th>
                    <th class="col-form-label text-left pl-0 pt-0"></th>
                    <th class="col-form-label text-left pl-0 pt-0"></th>
                    <th class="col-form-label text-left pl-0 pt-0"></th>
                  </thead>
                  {% endif %}
                  <tbody data-formset-body>
                    <tr data-formset-form="{{ batch_form.nested.empty_form.prefix }}">
                      {% for field in batch_form %}
                        {% include 'bootstrap4/field.html' with tag="td" form_show_labels=False wrapper_class="pl-0" %}
                      {% endfor %}

                      {% if batch_form.nested %}
                        {% for batch_detail_form in batch_form.nested %}
                          {% if not forloop.first %}
                            <td colspan="2"></td>
                          {% endif %}
                          {% for field in batch_detail_form %}
                            {% if field.name == "DELETE" %}
                              {% if forloop.parentloop.first %}
                                <td></td>
                              {% else %}
                                <td id="div_{{ batch_detail_form.prefix }}-{{ field.name }}" class="p-0">
                                  <div>
                                      <input type="checkbox" name="{{ batch_detail_form.prefix }}-{{ field.name }}" class="checkboxinput d-none formset-{{ batch_form.prefix }}-delete formset-delete" id="id_{{ batch_detail_form.prefix }}-{{ field.name }}">
                                      <label for="id_{{ batch_detail_form.prefix }}-{{ field.name }}" class="form-check-label"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></label>
                                  </div>
                                </td>
                              {% endif %}
                            {% else %}
                              {% include 'bootstrap4/field.html' with tag="td" form_show_labels=False wrapper_class="pl-0" %}
                            {% endif %} 
                          {% endfor %}
                          </tr>
                        {% endfor %}
                        <script type="form-template" data-formset-empty-form>
                          {% escapescript %}
                            <tr data-formset-form="{{ batch_form.nested.empty_form.prefix }}" data-has-instance="false">
                              <td colspan=2></td>
                              {% for field in batch_form.nested.empty_form %}
                                {% if field.name == "DELETE" %}
                                  <td id="div_{{ batch_form.nested.empty_form.empty_form.prefix }}-{{ field.name }}" class="p-0"">
                                    <div>
                                      <input type="checkbox" name="{{ batch_form.nested.empty_form.prefix }}-{{ field.name }}" class="checkboxinput d-none formset-{{ batch_form.prefix }}-delete formset-delete" id="id_{{ batch_form.nested.empty_form.prefix }}-{{ field.name }}">
                                      <label for="id_{{ batch_form.nested.empty_form.prefix }}-{{ field.name }}" class="form-check-label"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></label>
                                    </div>
                                  </td>
                                {% else %}
                                  {% include 'bootstrap4/field.html' with tag="td" form_show_labels=False wrapper_class="pl-0" %}
                                {% endif %}
                              {% endfor %}
                            </tr>
                          {% endescapescript %}
                        </script>
                      {% else %}
                        </tr>
                      {% endif %}
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="2"></td>
                      <td colspan="5" class="pl-0">
                        <input type="button" class="btn btn-outline-primary active btn-small formset-{{ batch_form.prefix }}-add" value="{% trans 'Add Batch' %}" data-formset-add>
                      </td>
                    </tr>
                  </tfoot>
                </table>
                {% include "bootstrap4/inputs.html" %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </fieldset>
          
    <div class="justify-content-end col-12 p-0" id="fixed-button-content" style="display: flex;">
      
      {% if inventory_type == "stock_count" %}
        <a href="{% url 'stocks:stocks_count_detail' object.pk %}" class="btn btn-light">{% trans "Back" %}</a>
      {% endif %}
      {% if inventory_type == "stock_transfer" %}
        <a href="{% url 'stocks:stocks_transfer_detail' object.pk %}" class="btn btn-light">{% trans "Back" %}</a>
      {% endif %}
      {% if inventory_type == "missing_batch" %}
        <a href="{% url 'stocks:stocks_batch_track_detail' object.pk %}" class="btn btn-light">{% trans "Back" %}</a>
      {% endif %}
      <button type="submit" class="btn btn-primary ml-1">
        <span id="submit-text">{% trans 'Save' %}</span>
        <i id="submit-icon" class=""></i>
      </button>
    </div>
  </form>
{% endblock %}


{% block modal %}
{% endblock modal %}


{% block javascript %}
  {{ block.super }}
  <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/static/autocomplete_light/jquery.init.js"></script>
  <script type="text/javascript" src="/static/autocomplete/autocomplete.init.js"></script>
  <script type="text/javascript" src="/static/autocomplete_light/vendor/select2/dist/js/select2.full.js"></script>
  <script type="text/javascript" src="/static/autocomplete/select2.js"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.3/daterangepicker.js"></script>

  <script src="{% static 'js/jquery.formset.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8.17.6/dist/sweetalert2.all.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
  <script>
    (function($){
      $.fn.decimalInput = function(){
        return this.on("input keydown keypress keyup blur", function(event){
          if (event.shiftKey == true) {
            event.preventDefault();
          }
          if ((event.keyCode >= 48 && event.keyCode <= 57) || 
            (event.keyCode >= 96 && event.keyCode <= 105) || 
            event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 ||
            event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190 || event.keyCode == 45 || event.keyCode == 189) {

          } else {
              event.preventDefault();
          }

          if($(this).val().indexOf('.') !== -1 && event.keyCode == 190)
            event.preventDefault()

          if($(this).val().indexOf("-") !== -1 && event.keyCode == 189)
            event.preventDefault()
        });
      }
    }( jQuery ));

    $(document).ready(function(){
      var daterangepicker_config = {
        "opens": 'left',
        "singleDatePicker": true,
        "showCustomRangeLabel": false,
        'locale': {
          'format': 'DD/MM/YYYY',
          "customRangeLabel": "Pilih Tanggal",
          "applyLabel": "Terapkan",
          "cancelLabel": "Batal",
          "daysOfWeek": [
            "Min",
            "Sen",
            "Sel",
            "Rab",
            "Kam",
            "Jum",
            "Sab"
          ],
          "monthNames": [
            "Januari",
            "Februari",
            "Maret",
            "April",
            "Mei",
            "Juni",
            "Juli",
            "Agustus",
            "September",
            "Oktober",
            "November",
            "Desember"
          ],
        }
      }

      var quanities_to_assign = {}
      var total_quantity = {}
      var units_to_assign = {}
      var form_indexes = []
      {% for batch_form in form  %}
        quanities_to_assign["{{ batch_form.prefix }}"] = $("input[name={{ batch_form.prefix }}-quantity_to_assign").val();
        units_to_assign["{{ batch_form.prefix }}"] = $("input[name={{ batch_form.prefix }}-unit").val();
        total_quantity["{{ batch_form.prefix }}"] = $("input[name={{ batch_form.prefix }}-total_quantity").val();
        $(".formset-{{ batch_form.prefix }}").formset();
        index = "{{ batch_form.prefix }}".split("-");
        form_indexes.push(index);

        $(".formset-{{ batch_form.prefix }}").on("formAdded", function(event){
          newForm = event.target;
          // update_qty_to_assign("{{ batch_form.prefix }}");
          $.each($(newForm), function(index, value){
            if ($(value).is('tr') === true) {
              var datepicker = $(value).find(".expiration_date-datepicker");
              $(datepicker).daterangepicker(daterangepicker_config);
              var quantity_input = $(value).find(".batch_quantity-input");
              $(quantity_input).decimalInput(function(value){ return /^\d*$/.test(value); });
              $(".products-unit").select2();
            }
          });
        });
      {% endfor %}
      

      $("#submitBtn").click(function () {
         $("#batch_tracked_form").submit();
      });

      $("#batch_tracked_form").on("submit", function(){
        $("button[type=submit]").attr("disabled", "disabled");
        $("#submit-text").empty().append("Menyimpan");
        $("#submit-icon").addClass("fa fa-spinner fa-spin");
      });

      $(".batch_quantity-input").decimalInput(function(value) {
        return /^\d*$/.test(value); 
      });

      $(".expiration_date-datepicker").daterangepicker(daterangepicker_config);

      $(document).on("change", ".formset-delete", function(){
        tr_element = $(this).closest("tr");
        tr_element.hide();
        var name = $(this).attr("name");
        var index = name.split("-");
        $(".formset-"+index[0]+"-"+index[1]).trigger("formDeleted");
        $(this).closest("tr").find("input[name= "+index[0]+"-"+index[1]+"-"+index[2]+"-"+index[3]+"-quantity]").val("")
        update_qty_to_assign(index);
      });

      $(document).on("change", ".batch_id-select", function(){
        var name = $(this).attr("name");
        var index = name.split("-");
        var selected_arr = []
        selected = $("."+index[0]+"-"+index[1]+"-batch_id option:selected").not(this);

        is_exist = false;

        $.each(selected, function(index, value){
          if($.inArray($(this).val(), selected_arr)>-1){
            is_exist = true;
          }else{
            if($(this).val()){
              selected_arr.push($(this).val());
            }
          }
        });

        if(is_exist){
          Swal.fire({
            text: "Batch sudah ditambahkan."
          });
          $("#id_"+name).val(null).trigger("change");
          $("#id_"+name+" option").remove();
        }else{
          product_selector = index[0]+"-"+index[1]+"-product";
          var batch_item_selector = index[0]+"-"+index[1]+"-"+index[2]+"-"+index[3]+"-batch_quantity";
          var expiration_date_selector = index[0]+"-"+index[1]+"-"+index[2]+"-"+index[3]+"-expiration_date";
          $("input[name="+batch_item_selector+"]").val(0)
          $("input[name="+expiration_date_selector+"]").val("");
          $("input[name="+expiration_date_selector+"]").attr("disabled", false);

          if($(this).val()){
            $.ajax({
              url: "{% url 'stocks:get_expiration_date' %}",
              type: "GET",
              data: {
                batch_id: $(this).val(),
                product: $("input[name="+product_selector+"]").val(),
                outlet_pk: "{{ outlet_pk }}",
              },
              success: function(response){
                if(!response.result.new_batch_id){
                  $("input[name="+expiration_date_selector+"]").val(response.result.expiration_date);
                  $("input[name="+expiration_date_selector+"]").attr("disabled", true);
                  $("input[name="+batch_item_selector+"]").val(response.result.batch_item_balance)
                }else{
                  $("input[name="+expiration_date_selector+"]").val("");
                  $("input[name="+expiration_date_selector+"]").attr("disabled", false);
                }
              }
            });
          }
        }
        $(this).select2("close");
      });
  
      $(document).on("keyup", ".batch_quantity-input", function(){
        var name = $(this).attr("name");
        var index = name.split("-");
        update_qty_to_assign(index);
      });

      $(document).on("change", ".batch_unit-select", function(){
        var name = $(this).attr("name");
        var index = name.split("-");
        update_qty_to_assign(index);
      });

      function update_qty_to_assign(index){
        var total_qty = total_quantity[index[0]+"-"+index[1]];
        qty_to_assign = quanities_to_assign[index[0]+"-"+index[1]].split(" ");
        var quantity_to_assign = qty_to_assign[0];
        var quantity_to_assign_selector = index[0]+"-"+index[1]+"-quantity_to_assign";
        var quantities = $("."+index[0]+"-"+index[1]+".batch_quantity-input");
        var button_add_selector = index[0]+"-"+index[1]+"-add";
        var quantity_selector = index[0]+"-"+index[1]+"-"+index[2]+"-"+index[3]+"-quantity"
        var quantity_element = $("input[name="+quantity_selector+"]");
        var unit_selector = index[0]+"-"+index[1]+"-"+index[2]+"-"+index[3]+"-unit";

        var total_quantities = 0;
        $.each(quantities, function(idx, value){
          var name = $(this).attr("name");
          var qty_index = name.split("-");
          var u_selector = qty_index[0]+"-"+qty_index[1]+"-"+qty_index[2]+"-"+qty_index[3]+"-unit";
          $.ajax({
            url: "{% url 'stocks:get_quantity_batch' %}",
            type: "GET",
            data: {
              quantity: $(value).val(),
              unit_from: $("select[name="+u_selector+"]").val(),
              unit_to: units_to_assign[index[0]+"-"+index[1]],
            },
            success: function(response){
              if(response.status == "success"){
                total_quantities += parseFloat(response.result.quantity)
                $.ajax({
                  url: "{% url 'stocks:get_quantity_to_assign' %}",
                  type: "GET",
                  data: {
                    unit_from: $("select[name="+unit_selector+"]").val(),
                    unit_to: units_to_assign[index[0]+"-"+index[1]],
                    quantity: total_quantities,
                    quantity_to_assign: total_qty,
                  },
                  success: function(response){
                    status = response.status;
                    assign = response.result.quantity_to_assign;
                    qty_calc = response.result.qty_calc;
                    $("input[name="+quantity_to_assign_selector+"]").val(assign);
                    if(qty_calc > 0){
                      if(quantities.val()){
                        $(".batch_quantity-input").removeClass("is-invalid");
                      }
                    }else{
                      if(quantities.val()){
                        $(quantity_element).removeClass("is-invalid");
                      }
                      if(qty_calc < 0){
                        $(quantity_element).addClass("is-invalid");
                      }
                    }
                  }
                });
              }
            }
          });
        });
      }

      quantities = $(".batch_quantity-input");

      $.each(quantities, function(index, value){
        var name = $(value).attr("name");
        var index = name.split("-");
        button_add_selector = index[0]+"-"+index[1]+"-add";
        update_qty_to_assign(index);

        var batch_select_selector = index[0]+"-"+index[1]+"-"+index[2]+"-"+index[3]+"-batch_id";
        batch_id = $("select[name="+batch_select_selector+"]");
        if(batch_id.hasClass("is-invalid")){
          select2 = batch_id.siblings().children(".selection").children();
          select2.addClass("is-invalid");
        }
      });
    });
  </script>
{% endblock %}
    
  