{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Add Stock Transfer" %}{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.3/daterangepicker.css"/>
  {{ form.media.css }}
{% endblock %}


{% block stock_active_class %}active{% endblock %}
{% block mobile_stock_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_stock_show %}show{% endblock %}
{% block stock_stocktransfer_active_class %}submenu-active{% endblock %}
{% block mobile_stock_stocktransfer_active_class %}submenu-active{% endblock %}
{% block content_header %}{% trans "Add Stock Transfer" %}{% endblock %}

{% block sub_content %}
  <div class="w-100 pt-3">
    <form enctype="multipart/form-data"  method="post" action="." id="product-form">
      {% crispy form %}
      <div class="d-flex justify-content-end">
        <a href="{% url 'stocks:stocks_transfer' %}"  class="btn btn-light">{% trans "Back" %}</a>
        <input type="submit" class="btn btn-primary ml-1" value="{% trans 'Create' %}"/>
      </div>
    </form>
  </div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  {{ form.media.js }}
  <script src="{% static 'typeahead/typeahead.bundle.js' %}"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.3/daterangepicker.js"></script>
  <script>
    var updateFormsetUrl = "{% url 'formset_update' %}";
  </script>
  <script>
    $(document).ready(function($) {
 
      $(window).keydown(function(event){
        if(event.keyCode == 13) {
          event.preventDefault();
          return false;
        }
      });

      var substringMatcher = function(strs) {
        return function findMatches(q, cb) {
          var matches, substringRegex;

          // an array that will be populated with substring matches
          matches = [];

          // regex used to determine if a string contains the substring `q`
          substrRegex = new RegExp(q, 'i');

          // iterate through the pool of strings and for any string that
          // contains the substring `q`, add it to the `matches` array
          $.each(strs, function(i, str) {
            if (substrRegex.test(str)) {
              matches.push(str);
            }
          });

          cb(matches);
        };
      };

      //updateformset(1, 'transfer_details',  JSON.stringify({}), 0);

      function updateformset(total_form, prefix, initial_data, initial_form, total_data){
        $.ajax({
          type: 'POST',
          url: updateFormsetUrl,
          dataType: 'json',
          data:{
            prefix: prefix,
            total_form: total_form,
            initial_data: initial_data,
            initial_form: initial_form,
            total_data: total_data
          },
          beforeSend: function(jqXHR, settings){
            jqXHR.setRequestHeader("x-csrftoken", '{{ csrf_token }}');
          },
          success: function(response){
            $('#div_'+response.data.prefix).html(response.data.form);
          }
        });
      }

      $('.add-variants').on('click', function(e){
        e.preventDefault();
        var prefix = $(this).attr("id");
        var total_variant = parseInt($('.total-variant').val());
        var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        var initial_form = parseInt($('#id_' + prefix + '-INITIAL_FORMS').val());
        var initial_data = {};
        for(i=0; i < total; i++) {
          initial_data[prefix + '-' + i +'-product'] = $('#id_'+prefix+'-'+i+'-product').val();
          initial_data[prefix + '-' + i +'-quantity'] = $('#id_'+prefix+'-'+i+'-quantity').val();
        }

        var initial = JSON.stringify(initial_data);
        total++;
        updateformset(total, prefix, initial, initial_form, total_variant);
        return false;
      });

      $('#id_date_of_transfer').daterangepicker({
        "opens": 'right',
        "singleDatePicker": true,
        "showCustomRangeLabel": false,
        'locale': {
          'format': 'DD/MM/YYYY',
          "customRangeLabel": "Pilih Tanggal",
          "applyLabel": "Terapkan",
          "cancelLabel": "Batal",
          "daysOfWeek": [
            "Min",
            "Sen",
            "Sel",
            "Rab",
            "Kam",
            "Jum",
            "Sab"
          ],
          "monthNames": [
            "Januari",
            "Februari",
            "Maret",
            "April",
            "Mei",
            "Juni",
            "Juli",
            "Agustus",
            "September",
            "Oktober",
            "November",
            "Desember"
          ],
        }
      });


      $(document).on('click', '#delete-item-variant', function(e){
        e.preventDefault();
        var prefix = $(this).attr("prefix");
        var total_variant = parseInt($('.total-variant').val());
        var count = $(this).attr("count");
        var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        var initial_form = parseInt($('#id_' + prefix + '-INITIAL_FORMS').val());
        var initial_data = {};
        if(count < total){
          for(i=0; i < total; i++){
            if(i > count - 1 ){
              idx = i-1;
              initial_data[prefix + '-' + idx +'-product'] = $('#id_'+prefix+'-'+i+'-product').val();
              initial_data[prefix + '-' + idx +'-quantity'] = $('#id_'+prefix+'-'+i+'-quantity').val();
            }else if(i < count-1){
              initial_data[prefix + '-' + i +'-product'] = $('#id_'+prefix+'-'+i+'-product').val();
              initial_data[prefix + '-' + i +'-quantity'] = $('#id_'+prefix+'-'+i+'-quantity').val();
            }
          }
        }else{
          for(i=0; i < total; i++){
            initial_data[prefix + '-' + i +'-product'] = $('#id_'+prefix+'-'+i+'-product').val();
            initial_data[prefix + '-' + i +'-quantity'] = $('#id_'+prefix+'-'+i+'-quantity').val();
          }
        }
        var initial = JSON.stringify(initial_data);
        total-=1;
        updateformset(total, prefix, initial, initial_form, total_variant);
        return false;
      });

    });
  </script>
{% endblock %}
