{% extends "dashboard/base_datatable.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Stock Card Sales" %}{% endblock %}

{% block stock_active_class %}active{% endblock %}
{% block mobile_stock_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_stock_show %}show{% endblock %}
{% block stock_card_active_class %}submenu-active{% endblock %}
{% block mobile_stock_card_active_class %}submenu-active{% endblock %}

{% block content_class %}fixed-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block tab_div_style %}background: white; border-bottom: 1px solid #d7d7db;{% endblock %}
{% block tab_section_style %}border-bottom: 1px solid #d7d7db;{% endblock %}
{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important; width:87%;{% endblock %}
{% block datatable_title %}{% trans "Stock Card" %}{% endblock datatable_title %}

{% block tab_list %}
  <ul class="nav nav-tabs pt-2" id="myTab" role="tablist">
    <li class="nav-item" id="sellable-product">
      <a class="nav-link" href="{% url 'stocks:stock_card' %}">
        {% trans "Stock Card" %}</a>
    </li>
    <li class="nav-item" id="unsellable-product">
      <a class="nav-link" href="{% url 'stocks:stocks_card_production' %}">
        {% trans "Productions" %}</a>
    </li>
    <li class="nav-item" id="all-product">
      <a class="nav-link active" href="{% url 'stocks:stocks_card_sales' %}">
        {% trans "Sales" %}</a>
    </li>
  </ul>
{% endblock %}

{% block action_button %}
<div class="p-0 position-fixed" style="right:20px;">
  <label id="exportcsvrange" class="btn btn-primary btn-lg fixed-top-content export-date-calendar" style="width: 150px;">
        &nbsp;<span>
            {% trans "Export CSV" %}
        </span>
        &nbsp;<i class="fa fa-angle-down"></i>
  </label>
</div>
{% endblock action_button %}

{% block date_range %}
<div id="filters" class="mb-3">
  <div class="row align-items-center">
    <div class="mb-0 col-md-2">
      <div class="selectdiv">
        <label class="d-block mb-0">
          <div class="box-custom-select">
          <select id="companyBranch" class="form-control form-control-sm custom-select" style="background-image: none;">
            <option data-pk="0" value="{% url 'stocks:stocks_card_data' %}">{% trans "All Branches" %}</option>
            {% if request.user.is_owner %}
              {% for outlet in request.user.account.outlet_set.all %}
                <option data-pk="{{ outlet.pk }}" value="{% url 'stocks:stocks_card_data' outlet.pk %}">{{ outlet.name }}
                </option>
              {% endfor %}
            {% else %}
              {% for outlet in request.user.device_user.outlet.all %}
                <option data-pk="{{ outlet.pk }}" value="{% url 'stocks:stocks_card_data' outlet.pk %}">{{ outlet.name }}
                </option>
              {% endfor %}
            {% endif %}
          </select>
          </div>
        </label>
      </div>
    </div>
    <div id="date_filter" class="align-items-center">
      <form class="form-inline">
        <div class="form-group">
          <label id="reportrange" class="btn btn-default btn-lg date-calendar d-flex justify-content-between" style="width: 280px;">
            <span>
              {% if start_date and end_date %}
                {{ start_date|date:"d/m/Y" }} -  {{ end_date|date:"d/m/Y" }}
              {% else %}
                {% trans "Filter by Transaction Date" %}
              {% endif %}
              </span>
              &nbsp;<i class="fa fa-angle-down"></i>
            </label>
          </div>
        </form>
    </div>
  </div>
</div>
{% endblock %}

{% block datatable_dummy_url %}
{% endblock datatable_dummy_url %}

{% block xml_export %}
{% endblock xml_export %}

{% block csv_export %}
{% endblock csv_export %}

{% block datatable_id %}stock_card_list{% endblock datatable_id %}

{% block datatable_thead_tr %}
<th>{% trans 'Variant' %}</th>
<th>{% trans 'Product' %}</th>
<th>{% trans 'Category' %}</th>
<th>{% trans 'Sales' %}</th>
{% endblock datatable_thead_tr %}

{% block datatable_filter %}
<tr class='datatable-filter'>
  <td>
    <div class="datatable-filter-input-group">
      <div class="input-group mtm">
        <input type="text" class="form-control extra-table-control" placeholder="Search...">
      </div>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group">
      <div class="input-group mtm">
        <input type="text" class="form-control extra-table-control" placeholder="Search...">
      </div>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group">
      <div class="mtm">
        <div class="selectdiv">
        <label class="input-group">
        <select class="form-control form-control-sm custom-select extra-table-control">
          <option value=''>{% trans "All" %}</option>
          {% for category in categories %}
          <option value='{{category.name}}'>{{category.name}}</option>
          {% endfor %}
        </select>
        </label>
        </div>
      </div>
    </div>
  </td>
  <td></td>
</tr>
{% endblock datatable_filter %}

{% block javascript %}
{{ block.super }}

<script>
  $(document).ready(function() {
    base_url = "{% url 'stocks:stocks_card_sales_data' %}";
    tableOptions = {
      pageLength: 25,
      order: [[ 1, "asc" ]],
      columnDefs: [
        {targets: [3], className: "text-right"},
      ],
    };

    $('.export-date-calendar').daterangepicker({
      'minDate': moment().subtract(36, 'month'),
      'maxDate': moment().add(1, 'month'),
      'ranges': {
          'Hari ini': [moment().format('DD/MM/YYYY 00:00:00'), moment().format('DD/MM/YYYY 23:59:59')],
          'Kemarin': [moment().subtract(1, 'days').format('DD/MM/YYYY 00:00:00'), moment().subtract(1, 'days').format('DD/MM/YYYY 23:59:59')],
          'Minggu ini': [moment().startOf('isoWeek').format('DD/MM/YYYY 00:00:00'), moment().endOf('isoWeek').format('DD/MM/YYYY 23:59:59')],
          'Bulan ini': [moment().startOf('month').format('DD/MM/YYYY 00:00:00'), moment().endOf('month').format('DD/MM/YYYY 23:59:59')],
          'Minggu lalu': [moment().subtract(1, 'week').startOf('isoWeek').format('DD/MM/YYYY 00:00:00'), moment().subtract(1, 'week').endOf('isoWeek').format('DD/MM/YYYY 23:59:59')],
          'Bulan lalu': [moment().subtract(1, 'month').startOf('month').format('DD/MM/YYYY 00:00:00'), moment().subtract(1, 'month').endOf('month').format('DD/MM/YYYY 23:59:59')],

      },
      'opens': "right",
      'locale': {
        'format': 'DD/MM/YYYY',
        "customRangeLabel": "Pilih Tanggal",
        "applyLabel": "Terapkan",
        "cancelLabel": "Batal",
        "daysOfWeek": [
          "Min",
          "Sen",
          "Sel",
          "Rab",
          "Kam",
          "Jum",
          "Sab"
        ],
        "monthNames": [
          "Januari",
          "Februari",
          "Maret",
          "April",
          "Mei",
          "Juni",
          "Juli",
          "Agustus",
          "September",
          "Oktober",
          "November",
          "Desember"
        ],
      },
    },
    function (start, end, label) {
      var s = moment(start.toISOString());
      var e = moment(end.toISOString());
      startDate = s.format('YYYY-MM-DD HH:mm:ss');
      endDate = e.format('YYYY-MM-DD HH:mm:ss');

      date_format = s.format('DD/MM/YYYY') + ' - ' + e.format('DD/MM/YYYY')
  });

  $('.export-date-calendar').on('cancel.daterangepicker', function (ev, picker) {
      start_date = moment().startOf('month');
      end_date = moment().startOf('month');
  });

  function removeParam(key, sourceURL) {
    var rtn = sourceURL.split("?")[0],
        param,
        params_arr = [],
        queryString = (sourceURL.indexOf("?") !== -1) ? sourceURL.split("?")[1] : "";
    if (queryString !== "") {
        params_arr = queryString.split("&");
        for (var i = params_arr.length - 1; i >= 0; i -= 1) {
            param = params_arr[i].split("=")[0];
            if (param === key) {
                params_arr.splice(i, 1);
            }
        }
        rtn = rtn + "?" + params_arr.join("&");
    }
    else {
      params_arr = queryString.split("&");
      rtn = rtn + "?" + params_arr.join("&");
    }
    return rtn;
  }

  $('.export-date-calendar').on('apply.daterangepicker',
    function (ev, picker) {
      params = table.ajax.params();
      params.length = -1;
      var old_url = table.ajax.url() + "?" + $.param( params );
      var alteredStartURL = removeParam("start_date", old_url);
      alteredEndURL = removeParam("end_date", alteredStartURL);
      start_date = picker.startDate.format('YYYY-MM-DD HH:mm:ss');
      end_date = picker.endDate.format('YYYY-MM-DD HH:mm:ss');
      new_url = alteredEndURL + "&" +"start_date=" + start_date + "&end_date=" + end_date + "&" + $.param({"export_file": "csv"});
      ev.preventDefault();
  });
})
</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
<script>
  $(document).ready(function(){
    $(".date-calendar").data('daterangepicker').setStartDate(moment().startOf('month'));
    $(".date-calendar").data('daterangepicker').setEndDate(moment().endOf('month'));

    var t = $("#stock_card_list");
    $(document).on("click", ".history-detail", function(e){
      e.preventDefault();
      start_date = $(".date-calendar").data("daterangepicker").startDate.format('YYYY-MM-DD HH:mm:ss');
      end_date = $(".date-calendar").data("daterangepicker").endDate.format('YYYY-MM-DD HH:mm:ss');
      outlet = $("#companyBranch option:selected").data("pk");
      params = "?";
      if(outlet){
        params += "outlet_pk="+outlet;
        params += "&start_date="+start_date+"&end_date="+end_date
      }else{
        params += "start_date="+start_date+"&end_date="+end_date
      }
      
      url = $(this).attr("href");
      new_url = url + params
      window.location.href = new_url;
    })
    
  });
</script>
<script type="text/javascript">
  $("#companyBranch").change(function() {
    table.ajax.url(this.value).load();
  });
  $('#companyBranchClear > .datatable-clearfilter').click(function(e){
    e.preventDefault();
    table.ajax.url("{% url 'stocks:stocks_card_sales_data' %}");
  });
</script>
{% endblock %}
