{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Delete Stock Transfer" %}{% endblock %}

{% block css %}
  {{ block.super }}
  {{ form.media.css }}
{% endblock %}

{% block stock_active_class %}active{% endblock %}
{% block mobile_stock_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_stock_show %}show{% endblock %}
{% block stock_stocktransfer_active_class %}submenu-active{% endblock %}
{% block mobile_stock_stocktransfer_active_class %}submenu-active{% endblock %}
{% block content_header %}{% trans "Update Stock Transfer" %}{% endblock %}

{% block sub_content %}
  <div class="w-100 pt-3">
    <form method="post" id="product-form">
      {% csrf_token %}
      <div class="d-flex justify-content-end">
        <a href="{% url 'stocks:stocks_transfer_detail' object.pk %}"  class="btn btn-light">{% trans "Back" %}</a>
        <input type="submit" class="btn btn-primary ml-1" value="{% trans 'Delete' %}"/>
      </div>
    </form>
  </div>
{% endblock %}
