{% extends "dashboard/base_datatable.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Stock Counts" %}{% endblock %}

{% block stock_active_class %}active{% endblock %}
{% block mobile_stock_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_stock_show %}show{% endblock %}
{% block stock_stockcount_active_class %}submenu-active{% endblock %}
{% block mobile_stock_stockcount_active_class %}submenu-active{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}

{% block action_button %}
<div class="p-0 position-fixed" style="right:20px;">
  <a href="{% url 'stocks:stocks_count_import' %}" class="btn btn-outline-primary btn-lg fixed-top-content">{% trans 'Import' %}</a>
  <a href="{% url 'stocks:stocks_count_create' %}" class="btn btn-primary btn-lg fixed-top-content">{% trans "Add Stock Count" %}</a>
</div>
{% endblock action_button %}

{% block datatable_title %}{% trans "Stock Counts" %}{% endblock datatable_title %}

{% block datatable_breadcrumb %}
	{{ block.super }}
  <li class="breadcrumb-item active">{% trans "Stock Counts" %}</li>
{% endblock datatable_breadcrumb %}

{% block datatable_id %}tbl_product{% endblock datatable_id %}


{% block datatable_thead_tr %}
    <th>{% trans 'Code' %}</th>
    <th>{% trans 'Tanggal Stok Opname' %}</th>
    <th>{% trans 'Date of Completion' %}</th>
    <th>{% trans 'Outlet' %}</th>
    <th>{% trans 'Status' %}</th>
    <th class="no-sort text-center">{% trans 'Actions' %}</th>
    <th></th>
{% endblock datatable_thead_tr %}

{% block datatable_filter %}
<tr class='datatable-filter'>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <label id="reportrange" class="form-control extra-table-control btn btn-default btn-lg date-calendar">
        &nbsp;<span>{% trans "Filter by Date" %}</span>
        &nbsp;<i class="fa fa-angle-down"></i>
      </label>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <label id="reportrange" class="form-control extra-table-control btn btn-default btn-lg date-calendar">
        &nbsp;<span>{% trans "Filter by Date" %}</span>
        &nbsp;<i class="fa fa-angle-down"></i>
      </label>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group mtm">
      <div class="selectdiv">
      <label class="input-group">
      <select class="form-control form-control-sm custom-select extra-table-control">
        <option>{% trans "All" %}</option>
        {% for outlet in outlets %}
          <option value={{outlet.pk}}>{{outlet.name}}</option>
        {% endfor %}
      </select>
      </label>
      </div>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group mtm">
      <div class="selectdiv">
      <label class="input-group">
      <select class="form-control form-control-sm custom-select extra-table-control">
        <option value='show'>{% trans 'Show All' %}</option>
        <option value='in_progress'>{% trans 'In Progress' %}</option>
        <option value='pending'>{% trans 'Pending' %}</option>
        <option value='canceled'>{% trans 'Canceled' %}</option>
        <option value='completed'>{% trans 'Completed' %}</option>
      </select>
      </label>
      </div>
    </div>
  </td>
  <td></td>
  <td></td>
</tr>
{% endblock datatable_filter %}

{% block javascript %}
{{ block.super }}
<script src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/natural.js"></script>

<script>
	function onlyNumeric(event) {
		return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57;
	};
</script>
<script>
	$(document).ready(function () {
		base_url = "{% url 'stocks:stocks_count_data' %}";
		tableOptions = {
			columnDefs: [
				{targets: "_all", className: "align-middle"},
        {targets: 'no-sort', orderable: false},
        {
          targets: [-1],
          visible: false,
        },
        {
          targets: [5], visible:false
        },
        {
          targets: [0],
          width: "20%",
          orderable: false,
          render: function(data, type, full, meta) {
            html = '<a href="'+ data.url +'"/>' + data.name + '</a>';
            return html;
          },
        },

	    ],
      order: [[6, "desc"]],
    }
	});
</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
{% endblock %}
