{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Stock Transfer" %}{% endblock %}


{% block stock_active_class %}active{% endblock %}
{% block mobile_stock_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_stock_show %}show{% endblock %}
{% block stock_stocktransfer_active_class %}submenu-active{% endblock %}
{% block mobile_stock_stocktransfer_active_class %}submenu-active{% endblock %}
{% block content_header %}{% if object %}{% trans 'Stock Transfer - ' %}{{ object }}{% else %}{% trans "Add Stock Transfer" %}{% endif %}{% endblock %}

{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}

{% block enable_settings %}
{% endblock %}


{% block css %}
  {{ block.super }}
  {{ form.media.css }}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@8.17.6/dist/sweetalert2.min.css">
  <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.3/daterangepicker.css"/>
  <style>
    .formset-wrapper .invalid-feedback {
      margin: 0;
    }
    .table {
      table-layout: fixed;
    }
    .table tr th:last-child{
      width: 30px !important;
    }
    .table tr th:first-child{
      width: 40% !important;
    }
    .select2-container {
      width: 100% !important;
      min-width: 3rem !important;
    }
    #id_source + .select2-container, #id_destination + .select2-container {
      width: 100% !important;
    }
  </style>
  {% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div2_class %}px-2{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block action_div_style %}background: white; border-top: 1px solid #d7d7db;{% endblock %}
{% block submit_form %}
  <div class="d-flex justify-content-end" id="fixed-bottom-button">
    <a href="{% if object %}{% url 'stocks:stocks_transfer_detail' object.pk %}{% else %}{% url 'stocks:stocks_transfer' %}{% endif %}" class="btn btn-light">{% trans "Back" %}</a>
    <button type="submit" id="submitBtn" class="btn btn-primary ml-1">
      <span id="submit-text">{% if object %}{% trans 'Save' %}{% else %}{% trans 'Create' %}{% endif %}</span>
      <i id="submit-icon" class=""></i>
    </button>
  </div>
{% endblock %}

{% block sub_content %}
  <form method="post" action="." id="stock_transfer_form">
    {% crispy form %}
    {% crispy formset formset_helper %}
    <div class="justify-content-end {% if grid %}{{ grid}}{% else %}col-12{% endif %} p-0" id="fixed-button-content" style="display: flex;">
      <a href="{% if object %}{% url 'stocks:stocks_transfer_detail' object.pk %}{% else %}{% url 'stocks:stocks_transfer' %}{% endif %}" class="btn btn-light">{% trans "Back" %}</a>
      <button type="submit" class="btn btn-primary ml-1">
        <span id="submit-text">{% if object %}{% trans 'Save' %}{% else %}{% trans 'Create' %}{% endif %}</span>
        <i id="submit-icon" class=""></i>
      </button>
    </div>
  </form>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  {{ form.media.js }}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.3/daterangepicker.js"></script>
  <script src="{% static 'js/jquery.formset.js' %}"></script>
  <script src="{% static '/js/button-scrollbar.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8.17.6/dist/sweetalert2.all.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-maxlength/1.10.0/bootstrap-maxlength.min.js" integrity="sha512-04L+TAgzlDAaUpaEGriEBg/qEryUjw4GNL/FkxA3h621EFPycccO2Y8vNhvid9UhgGC/9+MHLAFwGythpvOAAQ==" crossorigin="anonymous"></script>

  <script>
    (function($){
      $.fn.decimalInput = function(){
        return this.on("input keydown keypress keyup blur", function(event){
          if (event.shiftKey == true) {
            event.preventDefault();
          }
          if ((event.keyCode >= 48 && event.keyCode <= 57) || 
            (event.keyCode >= 96 && event.keyCode <= 105) || 
            event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 ||
            event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190) {

          } else {
              event.preventDefault();
          }

          if($(this).val().indexOf('.') !== -1 && event.keyCode == 190)
            event.preventDefault()
        });
      }
    }( jQuery ));

    $(document).ready(function(){
      $('.formset-wrapper').formset();
      $(".formset-wrapper").on("formAdded", function(event){
        newForm = event.target;
        $.each($(newForm), function(index, value){
          $(".products-unit").select2({
            allowClear: false,
          });
          product_value = $(value).find(".products-dropdown").val();
          unit_value = $(value).find(".products-unit").val();
          if(product_value && unit_value){
            get_uom(product_value, $(value).find(".products-dropdown").attr("name").split("-"), unit_value);
          }
          if ($(value).is('tr') === true) {
            var quantity_input = $(value).find(".quantity-input");
            $(quantity_input).decimalInput();
          }
        });
      });
      $('.formset-wrapper').on('formDeleted', function (event) {
        deleted = event.target;
        $.each($(deleted), function(index, value){
          if ($(value).is('tr') === true) {
            var selected_value = $(value).find('.products-dropdown ').val();
            $(deleted).find('.products-dropdown  option[value="'+ selected_value +'"]').prop("selected", false);
            $(deleted).find('.products-dropdown  option[value="'+ selected_value +'"]').removeAttr("selected");
          }
        });
      });

      $("#submitBtn").click(function () {
         $("#stock_transfer_form").submit();
      });

      $("#stock_transfer_form").on("submit", function(){
        $("button[type=submit]").attr("disabled", "disabled");
        $("button[type=submit] #submit-text").empty().append("Menyimpan");
        $("button[type=submit] #submit-icon").addClass("fa fa-spinner fa-spin");
      });

      $(".quantity-input").decimalInput();

      var selected = $(".products-dropdown option:selected");
      $.each(selected, function(index, value){
        if($(value).val()){
          get_quantity_src($(value).val(), $("select[name=source]").val(), value.parentElement.name);
          get_quantity_dst($(value).val(), $("select[name=destination]").val(), value.parentElement.name);
        }
      });

      $("select[name=source]").on("select2:select", function(){
        var outlet = $(this).val();
        products = $("select.products-dropdown");
        $.each(products, function(index, value){
          var name = value.name;
          var name_index = name.split("-");
          if($(value).val() && outlet){
            get_quantity_src($(value).val(), outlet, value.name);
          }else{
            $("input[name="+name_index[0]+"-"+name_index[1]+"-source_stock]").val("");
          }
        });

      });

      $("select[name=destination]").on("select2:select", function(){
        var outlet = $(this).val();
        products = $("select.products-dropdown");
        $.each(products, function(index, value){
          var name = value.name;
          var name_index = name.split("-");
          if($(value).val() && outlet){
            get_quantity_dst($(value).val(), outlet, value.name);
          }else{
            $("input[name="+name_index[0]+"-"+name_index[1]+"-destination_stock]").val("");
          }
        });

      });

      $(document).on("select2:select", ".products-dropdown", function(){
        var name = this.name;
        var name_index = name.split("-");
        var selected_arr = []
        selected = $(".products-dropdown option:selected").not(this);
        is_exist = false;

        $.each(selected, function(index, value){
          if($.inArray($(this).val(), selected_arr)>-1){
            is_exist = true;
          }else{
            if($(value).val()){
              selected_arr.push($(value).val());
            }
          }
        });

        if(is_exist){
          Swal.fire({
            text: "Produk sudah ditambahkan pada mutasi stok."
          });
          $("#id_"+name).val(null).trigger("change");
          $("input[name="+name_index[0]+"-"+name_index[1]+"-source_stock]").val("");
          $("input[name="+name_index[0]+"-"+name_index[1]+"-destination_stock]").val("");
        }else{
          if($(this).val()){
            get_uom($(this).val(), name_index);
            if($("select[name=source]").val() && $("select[name=destination]").val()){
              get_quantity_src($(this).val(), $("select[name=source]").val(), this.name);
              get_quantity_dst($(this).val(), $("select[name=destination]").val(), this.name);
            }
          }else{
            $("input[name="+name_index[0]+"-"+name_index[1]+"-source_stock]").val("");
            $("input[name="+name_index[0]+"-"+name_index[1]+"-destination_stock]").val("");
          }
        }

      });

      function get_quantity_src(product, outlet, name){
        var index = name.split("-");
        $.ajax({
          url: "{% url 'stocks:get_quantity' %}",
          type: "GET",
          data: {
            product: product,
            outlet: outlet,
          },
          success: function(response){
            $("input[name="+index[0]+"-"+index[1]+"-source_stock]").val(response.result.balance+" "+response.result.unit);
          }
        });
      }

      function get_quantity_dst(product, outlet, name){
        var index = name.split("-");
        $.ajax({
          url: "{% url 'stocks:get_quantity' %}",
          type: "GET",
          data: {
            product: product,
            outlet: outlet,
          },
          success: function(response){
            $("input[name="+index[0]+"-"+index[1]+"-destination_stock]").val(response.result.balance+" "+response.result.unit);
          }
        });
      }

      $(document).on("change", ".formset-data-delete", function(){
        tr_element = $(this).closest("tr");
        tr_element.hide()
      });

      products = $(".products-dropdown");

      function get_uom(product, name_index, selected_unit){
        $.ajax({
          url: "{% url 'catalogue:uom_product' %}",
          type: "GET",
          data: {
            product: product
          },
          success: function(response){
            if(response.status == "success"){
              unit_selector = name_index[0]+"-"+name_index[1]+"-unit";
              selected_val = $("select[name="+unit_selector+"] option:selected").val();
              $("select[name="+unit_selector+"]").empty();
              $.each(response.result.units, function(index, value){
                if(value.id == selected_val){
                  $("select[name="+unit_selector+"]").append(
                    "<option value="+value.id+" selected>"+value.unit+"</option>"
                  )
                }else{
                  $("select[name="+unit_selector+"]").append(
                    "<option value="+value.id+">"+value.unit+"</option>"
                  )
                }
              });
              if(selected_unit){
                $("select[name="+unit_selector+"]").val(selected_unit).trigger("change");
              }else{
                if(response.result.product_unit){
                  $("select[name="+unit_selector+"]").val(response.result.product_unit).trigger("change");
                }
              }
            }
          }
        });
      }

      $.each(products, function(index, value){
        if($(value).hasClass("is-invalid")){
          select2 = $(value).siblings().children(".selection").children();
          select2.addClass("is-invalid");
        }
      });

      $("textarea").maxlength({
        alwaysShow: true,
        placement: 'bottom-right-inside',
      });

      $('#id_date_of_transfer').daterangepicker({
        "opens": 'right',
        "minDate": moment(),
        "timePicker": true,
        "timePicker24Hour": true,
        "singleDatePicker": true,
        "showCustomRangeLabel": false,
        'locale': {
          'format': 'DD/MM/YYYY HH:mm',
          "customRangeLabel": "Pilih Tanggal",
          "applyLabel": "Terapkan",
          "cancelLabel": "Batal",
          "daysOfWeek": [
            "Min",
            "Sen",
            "Sel",
            "Rab",
            "Kam",
            "Jum",
            "Sab"
          ],
          "monthNames": [
            "Januari",
            "Februari",
            "Maret",
            "April",
            "Mei",
            "Juni",
            "Juli",
            "Agustus",
            "September",
            "Oktober",
            "November",
            "Desember"
          ],
        }
      });

      {% if not object %}
      $('#id_date_of_transfer').data('daterangepicker').setStartDate(moment());
      {% endif %}

    });
  </script>
{% endblock %}
    
  