{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Stock Count" %}{% endblock %}


{% block stock_active_class %}active{% endblock %}
{% block mobile_stock_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_stock_show %}show{% endblock %}
{% block stock_stockcount_active_class %}submenu-active{% endblock %}
{% block mobile_stock_stockcount_active_class %}submenu-active{% endblock %}
{% block content_header %}{% if object %}{% trans 'Stock Count - ' %}{{ object }}{% else %}{% trans "Add Stock Count" %}{% endif %}{% endblock %}

{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}

{% block enable_settings %}
{% endblock %}


{% block css %}
  {{ block.super }}
  {{ form.media.css }}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@8.17.6/dist/sweetalert2.min.css">
  <style>
     .switch {
      margin-top: 3px;
      position: relative;
      display: inline-block;
      width: 40px;
      height: 20px;
    }

    .switch input {display:none;}
    .slider:before {
      position: absolute;
      content: "";
      height: 12px;
      width: 12px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    .switch input:checked + .slider {
      background-color: #2196F3;
    }

    .switch input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    .switch input:checked + .slider:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
    .formset-wrapper .invalid-feedback {
      margin: 0;
    }
    .table {
      table-layout: fixed;
    }
    .table tr th:last-child{
      width: 30px !important;
    }
    .select2-container {
      width: 100% !important;
      min-width: 3rem !important;
    }
    #id_outlet + .select2-container {
      width: 100% !important;
    } 
  </style>
{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div2_class %}px-2{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block action_div_style %}background: white; border-top: 1px solid #d7d7db;{% endblock %}
{% block submit_form %}
      <div class="d-flex justify-content-end" id="fixed-bottom-button">
        <a href="{% if object %}{% url 'stocks:stocks_count_detail' object.pk %}{% else %}{% url 'stocks:stocks_count' %}{% endif %}" class="btn btn-light">{% trans "Back" %}</a>
        <button type="submit" id="submitBtn" class="btn btn-primary ml-1">
          <span id="submit-text">{% if object %}{% trans 'Save' %}{% else %}{% trans 'Create' %}{% endif %}</span>
          <i id="submit-icon" class=""></i>
        </button>
      </div>
{% endblock %}

{% block sub_content %}
  <form method="post" action="." id="stock_count_form">
    {% crispy form %}
    {% if object %}
    {% if object.stock_count_type == "partial" %}
    {% crispy formset formset_helper %}
    {% endif %}
    {% else %}
    {% crispy formset formset_helper %}
    {% endif %}
    <div class="justify-content-end {% if grid %}{{ grid }}{% else %}col-6{% endif %} p-0" id="fixed-button-content" style="display: flex;">
      <a href="{% if object %}{% url 'stocks:stocks_count_detail' object.pk %}{% else %}{% url 'stocks:stocks_count' %}{% endif %}" class="btn btn-light">{% trans "Back" %}</a>
      <button type="submit" class="btn btn-primary ml-1">
        <span id="submit-text">{% if object %}{% trans 'Save' %}{% else %}{% trans 'Create' %}{% endif %}</span>
        <i id="submit-icon" class=""></i>
      </button>
    </div>
  </form>
{% endblock %}


{% block modal %}
{% endblock modal %}


{% block javascript %}
  {{ block.super }}
  {{ form.media.js }}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
  <script src="{% static 'js/jquery.formset.js' %}"></script>
  <script src="{% static '/js/button-scrollbar.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8.17.6/dist/sweetalert2.all.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-maxlength/1.10.0/bootstrap-maxlength.min.js" integrity="sha512-04L+TAgzlDAaUpaEGriEBg/qEryUjw4GNL/FkxA3h621EFPycccO2Y8vNhvid9UhgGC/9+MHLAFwGythpvOAAQ==" crossorigin="anonymous"></script>
  
  <script>
    $(document).ready(function(){
      $('.formset-wrapper').formset();
      $('.formset-wrapper').on('formDeleted', function (event) {
        deleted = event.target;
        $.each($(deleted), function(index, value){
          if ($(value).is('tr') === true) {
            var selected_value = $(value).find('.products-dropdown ').val();
            $(deleted).find('.products-dropdown  option[value="'+ selected_value +'"]').prop("selected", false);
            $(deleted).find('.products-dropdown  option[value="'+ selected_value +'"]').removeAttr("selected");
          }
        });
      });

      $("#submitBtn").click(function () {
         $("#stock_count_form").submit();
      });

      $("#stock_count_form").on("submit", function(){
        $("button[type=submit]").attr("disabled", "disabled");
        $("button[type=submit] #submit-text").empty().append("Menyimpan");
        $("button[type=submit] #submit-icon").addClass("fa fa-spinner fa-spin");
      });
      
      var selected = $(".products-dropdown option:selected");
      $.each(selected, function(index, value){
        if($(value).val()){
          get_quantity($(value).val(), $("select[name=outlet]").val(), value.parentElement.name);
        }
      });


      $("select[name=outlet]").on("select2:select", function(){
        var outlet = $(this).val();
        products = $(".products-dropdown");
        $.each(products, function(index, value){
          if($(value).val()){
            get_quantity($(value).val(), outlet, value.name);
          }
        });
        
      });

      $(document).on("select2:select", ".products-dropdown", function(){
        var name = this.name;
        var name_index = name.split("-");
        var selected_arr = []
        selected = $(".products-dropdown option:selected").not(this);
        is_exist = false;

        $.each(selected, function(index, value){
          if($.inArray($(this).val(), selected_arr)>-1){
            is_exist = true;
          }else{
            if($(value).val()){
              selected_arr.push($(value).val());
            }
          }
        });

        if(is_exist){
          Swal.fire({
            text: "Produk sudah ditambahkan pada stok opname."
          });
          $("#id_"+name).val(null).trigger("change");
          $("input[name="+name_index[0]+"-"+name_index[1]+"-stock_expectation]").val("");
        }else{
          if($(this).val()){
            if($("select[name=outlet]").val()){
              get_quantity($(this).val(), $("select[name=outlet]").val(), this.name)
            }
          }else{
            $("input[name="+name_index[0]+"-"+name_index[1]+"-stock_expectation]").val("");
          }
        }
        
      });

      function get_quantity(product, outlet, name){
        var index = name.split("-");
        $.ajax({
          url: "{% url 'stocks:get_quantity' %}",
          type: "GET",
          data: {
            product: product,
            outlet: outlet,
          },
          success: function(response){
            $("input[name="+index[0]+"-"+index[1]+"-stock_expectation]").val(response.result.balance+" "+response.result.unit);
          }
        });
      }

      $(document).on("change", ".formset-data-delete", function(){
        tr_element = $(this).closest("tr");
        tr_element.hide()
      });

      products = $(".products-dropdown");

      $.each(products, function(index, value){
        if($(value).hasClass("is-invalid")){
          select2 = $(value).siblings().children(".selection").children();
          select2.addClass("is-invalid");
        }
      });

      function hide_formset(mode){
        if(mode == "full"){
          $($("fieldset")[1]).hide();
        }else{
          $($("fieldset")[1]).show();
        }
      }

      {% if object %}
      mode = '{{ object.stock_count_type }}'
      {% else %}
      mode = $("input[name=stock_count_type]").val()
      {% endif %}
      hide_formset(mode);
      $("input[name=stock_count_type]").on("change", function(){
        $("input[name=stock_count_type]").parent().removeClass("active");
        $(this).parent().addClass("active");
        hide_formset($(this).val());
      });

      $("textarea").maxlength({
        alwaysShow: true,
        placement: 'bottom-right-inside',
      });

      yl.registerForwardHandler("get_is_sellable", function () {
        {% if object %}
          {% if object.include_sellable %}
            return true;
          {% else %}
            return false;
          {% endif %}
        {% else %}
        if($("input[name=include_sellable]").is(":checked")){
          return $("input[name=include_sellable]").is(":checked");
        }
        return false;
        {% endif %}
      });

      yl.registerForwardHandler("get_is_include_manufactured", function () {
        {% if object %}
          {% if object.include_manufactured %}
            return true;
          {% else %}
            return false;
          {% endif %}
        {% else %}
        if($("input[name=include_manufactured]").is(":checked")){
          return $("input[name=include_manufactured]").is(":checked");
        }
        return false;
        {% endif %}
      });

    });
  </script>
{% endblock %}
    
  