{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% get_media_prefix %}

{% block title %}{% trans "Stock Counting" %}{% endblock %}

{% block css %}
  {{ block.super }}
  <!-- Your stuff: Third-party css libraries go here -->
  {{ form.media.css }}
  <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
  <style>
    .products-unit + .select2-container{
      width: 100% !important;
      min-width: 150px !important;
    }
    .table {
      table-layout: fixed;
    }
  </style>
{% endblock %}


{% block stock_active_class %}active{% endblock %}
{% block mobile_stock_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_stock_show %}show{% endblock %}
{% block stock_stockcount_active_class %}submenu-active{% endblock %}
{% block mobile_stock_stockcount_active_class %}submenu-active{% endblock %}
{% block content_header %}{% trans "Stock Counting" %}{% endblock %}

{% block content_class %}pt-3{% endblock %}
{% block tab_div_style %}background: white; border-bottom: 1px solid #e6e7e9;{% endblock %}
{% block tab_ol_class %}breadcrumb-tabs{% endblock %}
{% block breadcrumb_active %}breadcrumb-item active{% endblock %}
{% block tab_section_style %}border-bottom: 1px solid #e6e7e9;{% endblock %}

{% block sub_content %}
  <div class="w-100 pt-3">
    <form method="post" action="." id="stock-counting-form">
      {{ form.management_form|crispy }}
      {% include "bootstrap4/errors_formset.html"  with formset=form %}
      {% crispy form formset_helper %}
      <div class="d-flex justify-content-end">
        <a href="{% url 'stocks:stocks_count_detail' object.pk %}"  class="btn btn-light">{% trans "Back" %}</a>
        <button type="submit" class="btn btn-primary ml-1">
          <span id="submit-text">{% trans 'Save' %}</span>
          <i id="submit-icon" class=""></i>
        </button>
      </div>
    </form>
  </div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  {{ form.media.js }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>

  <script>
    (function($){
      $.fn.decimalInput = function(){
        return this.on("input keydown keypress keyup blur", function(event){
          if (event.shiftKey == true) {
            event.preventDefault();
          }
          if ((event.keyCode >= 48 && event.keyCode <= 57) || 
            (event.keyCode >= 96 && event.keyCode <= 105) || 
            event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 ||
            event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190) {

          } else {
              event.preventDefault();
          }

          if($(this).val().indexOf('.') !== -1 && event.keyCode == 190)
            event.preventDefault()
        });
      }
    }( jQuery ));

    $(document).ready(function(){
      $(".counted-input").decimalInput();
      $(".products-unit").select2();

      $("#stock-counting-form").on("submit", function(){
        $("button[type=submit]").attr("disabled", "disabled");
        $("#submit-text").empty().append("Menyimpan");
        $("#submit-icon").addClass("fa fa-spinner fa-spin");
      });
    });
  </script>
{% endblock %}
