{% extends "dashboard/base_datatable.html" %}
{% load static i18n humanize %}
{% load crispy_forms_tags %}
{% load template_utils %}

{% block title %}{% trans "Count Order Detail" %} {% endblock title %}

{% block datatable_title %}{% trans "Count Order Detail" %} {% endblock datatable_title %}

{% block stock_active_class %}active{% endblock %}
{% block mobile_stock_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_stock_show %}show{% endblock %}
{% block stock_stockcount_active_class %}submenu-active{% endblock %}
{% block mobile_stock_stockcount_active_class %}submenu-active{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css"/>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />

  <style>
    .no-padding{
      padding: 0 !important;
    }
    #heading {
      margin-top: 1rem;
      margin-bottom: 0 !important;
    }
    table.dataTable {
      margin-top: 0 !important;
    }
    .select2-container {
      width: 100% !important;
      min-width: 3rem !important;
    }
    #filters{
      padding: 0 10px;
    }
    .datatables-info {
      padding: 8px 8px;
    }
    .table {
      table-layout: auto;
      border-top: 0;
    }
    td {
      white-space: nowrap;
    }
    th {
      white-space: nowrap;
    }

    td:nth-child(1) {
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      
    }
    td:nth-child(2) {
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    td:nth-child(3) {
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    td:nth-child(4) {
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  </style>
{% endblock %}

{% block action_button %}
<div class="p-0 position-fixed" style="right:20px;">
  {% if object.status == "pending" or object.status == "in_progress" %}
    {% if object.stock_count_type == "full" %}
    <a href="{% url 'stocks:stocks_count_complete_full_product' object.pk %}" class="btn btn-primary btn-lg fixed-top-content">{% trans 'Complete' %}</a>
    {% else %}
    <a href="{% url 'stocks:stocks_count_completed' object.pk %}" class="btn btn-primary btn-lg fixed-top-content">{% trans 'Complete' %}</a>
    {% endif %}
    <div class="btn-group" role="group" aria-label="count-actions">
      <a href="{% url 'stocks:stocks_count_update' object.pk %}" class="btn btn-outline-primary btn-lg mr-0 fixed-top-content">{% trans "Update" %}</a>
      <button type="button" class="btn btn-outline-primary btn-lg fixed-top-content" data-toggle="modal" data-target="#deleteModal">{% trans 'Delete' %}</button>
    </div>
  {% else %}
  <button type="button" id="print_btn" class="btn btn-outline-primary fixed-top-content">{% trans 'Print' %}</button>
  {% endif %}
</div>
{% endblock action_button %}

{% block datatable_panel_title %}
  {% trans "Count Order Detail" %}
{% endblock datatable_panel_title %}

{% block sub_content %}
<div class="w-100">
  <div title='sales-detail' class="report mb-4 mx-0 col-lg-6 px-0">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between" id='report-table'>
          <p class="m-3">{% trans "Code" %}</p>
          <p class="m-3">{{ object.code }} ({{ object.get_status_display}})</p>
        </div>
        <div class="d-flex justify-content-between" id='report-table'>
          <p class="m-3">{% trans "Tanggal Stok Opname" %}</p>
          <p class="m-3">{{ object.date_of_stock_count }}</p>
        </div>
        <div class="d-flex justify-content-between" id='report-table'>
          <p class="m-3">{% trans "Date of Completion" %}</p>
          <p class="m-3">{% if object.date_of_completion %}{{ object.date_of_completion }}{% else %}-{% endif %}</p>
        </div>
        <div class="d-flex justify-content-between">
          <p class="m-3">{% trans "Outlet" %}</p>
          <p class="m-3">{{ object.outlet.name }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card bg-transparent border-0">
    <div class="card-header bg-white border">
      <h4 class="my-1">{% trans "Stock Count Detail" %}</h4>
    </div>
    <div class="card-body no-padding bg-">
      <div class="w-100" id="tables">
        <table id="tbl_stock_count" class="table table-no-border table-borderless table-striped selector-datatable pb-0 m-0" cellspacing="0" width="100%">
          <thead class="bg-default">
            <tr>
              <th>{% trans 'SKU' %}</th>
              <th>{% trans 'Product' %}</th>
              <th>{% trans 'Variant' %}</th>
              <th>{% trans 'Category' %}</th>
              <th class="text-right">{% trans 'Quantity' %}</th>
              <th class="text-right">{% trans 'Counted' %}</th>
              <th class="no-sort text-right">{% trans 'Selisih' %}</th>
              <th class="no-sort text-center">{% trans 'Actions' %}</th>
            </tr>
            <tr class='datatable-filter'>
              <td>
                <div class="datatable-filter-input-group input-group mtm">
                  <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
                </div>
              </td>
              <td>
                <div class="datatable-filter-input-group input-group mtm">
                  <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
                </div>
              </td>
              <td>
                <div class="datatable-filter-input-group input-group mtm">
                  <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
                </div>
              </td>
              <td>
                <div class="datatable-filter-input-group mtm">
                  <div class="selectdiv">
                  <label class="input-group">
                  <select class="form-control form-control-sm custom-select extra-table-control">
                    <option>{% trans "All" %}</option>
                    {% for category in categories %}
                      <option value={{category.pk}}>{{category.name}}</option>
                    {% endfor %}
                  </select>
                  </label>
                  </div>
                </div>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </thead>
          <tbody>
          </tbody>
          <tfoot>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock sub_content %}

{% block modal %}
  {{ block.super }}
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">{% trans 'Delete Stock Count' %}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{% trans 'Are you sure you want to delete?' %}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
          <form class="delete-form" action="{% url 'stocks:stocks_count_delete' object.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">{% trans 'Delete' %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="stock-count-modal" role="dialog" aria-labelledby="stockCountModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.16/sorting/formatted-numbers.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>


<script src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/natural.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
<!-- place project specific Javascript in this file -->
<script>
  (function($){
    $.fn.decimalInput = function(){
      return this.on("input keydown keypress keyup blur", function(event){
        if (event.shiftKey == true) {
          event.preventDefault();
        }
        if ((event.keyCode >= 48 && event.keyCode <= 57) || 
          (event.keyCode >= 96 && event.keyCode <= 105) || 
          event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 ||
          event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190) {

        } else {
            event.preventDefault();
        }

        if($(this).val().indexOf('.') !== -1 && event.keyCode == 190)
          event.preventDefault()
      });
    }
  }( jQuery ));
</script>
<script>
  $(document).ready(function () {
    base_url = "{% url 'stocks:stocks_count_detail_list_data' object.pk %}";

    {% if outlet_permission %}
		tableOptions = {
      scrollX: true,
      responsive: true,
      pageLength: 25,
      pagingType: "simple_numbers",
      columnDefs: [
        {targets: 'no-sort', orderable: false},
        {targets: 'text-center',  className: 'text-center'},
        {targets: 'text-right',  className: 'text-right'},
      ],
    }
    {% else %}
    tableOptions = {
      scrollX: true,
      responsive: true,
      pageLength: 25,
      pagingType: "simple_numbers",
      columnDefs: [
        {targets: 'no-sort', orderable: false},
        {targets: 'text-center',  className: 'text-center'},
        {targets: 'text-right',  className: 'text-right'},
        {targets: 4, visible: false, orderable: false},
      ],
    }
    {% endif %}
    {% if not object.status == "completed" %}
    tableOptions["columnDefs"].push({targets: 6, visible: false, orderable: false})
    {% endif %}

    console.log(tableOptions["columnDefs"])

    $("#print_btn").on("click", function(){
      url = "{% url 'stocks:stocks_count_detail' object.pk %}" + "?export_file=pdf";
      window.open(url, '_blank');
    });

    $(document).on("click", ".stock-count-update", function(e){
      url = $(this).data("url");
      e.preventDefault();
      $("#stock-count-modal").modal("show").find(".modal-content").load(url);
    });

  });
</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
{% endblock %}
