{% extends "dashboard/base_datatable.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Stock Card Subquery" %}{% endblock %}

{% block stock_active_class %}active{% endblock %}
{% block mobile_stock_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_stock_show %}show{% endblock %}
{% block stock_card_active_class %}submenu-active{% endblock %}
{% block mobile_stock_card_active_class %}submenu-active{% endblock %}
{% block content_wrapper_class %}container-fluid{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}
{% block datatable_title %}{% trans "Stock Card" %}{% endblock datatable_title %}

{% block css %}
  {{ block.super }}
  <style>
    #filters{
      padding: 0 10px;
    }
    .datatables-info {
      padding: 8px 10px;
    }
    .table {
      table-layout: auto;
    }
    td {
      white-space: nowrap;
    }
    th {
      white-space: nowrap;
    }

    td:nth-child(1) {
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      
    }
    td:nth-child(2) {
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    td:nth-child(3) {
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .text-stock-in {
      color: #00AA55;
    }

    .text-stock-out {
      color: #EF3F3A;
    }
  </style>
{% endblock %}

{% block action_button %}
<div class="p-0 position-fixed" style="right:20px;">
  <button class="btn btn-primary btn-lg fixed-top-content export-csv">{% trans 'Export CSV' %}</button>
</div>
{% endblock action_button %}

{% block date_range %}
<div id="table-filter" class="mb-3">
  <div class="row align-items-center">
    <div class="mb-0 col-md-2">
      <div class="selectdiv">
        <label class="d-block mb-0">
          <div class="box-custom-select">
          <select id="companyBranch" class="form-control form-control-sm custom-select" style="background-image: none;">
            <option data-pk="0" value="{% url 'stocks:stocks_card_data_subquery' %}">{% trans "All Branches" %}</option>
            {% if request.user.is_owner %}
              {% for outlet in request.user.account.outlet_set.all %}
                <option data-pk="{{ outlet.pk }}" value="{% url 'stocks:stocks_card_data_subquery' outlet.pk %}">{{ outlet.name }}
                </option>
              {% endfor %}
            {% else %}
              {% for outlet in request.user.device_user.outlet.all %}
                <option data-pk="{{ outlet.pk }}" value="{% url 'stocks:stocks_card_data_subquery' outlet.pk %}">{{ outlet.name }}
                </option>
              {% endfor %}
            {% endif %}
          </select>
          </div>
        </label>
      </div>
    </div>
    <div id="date_filter" class="align-items-center">
      <form class="form-inline">
        <div class="form-group">
          <label id="reportrange" class="btn btn-default btn-lg date-calendar d-flex justify-content-between" style="width: 280px;">
            <span>
              {% if start_date and end_date %}
                {{ start_date|date:"d/m/Y" }} -  {{ end_date|date:"d/m/Y" }}
              {% else %}
                {% trans "Filter by Transaction Date" %}
              {% endif %}
              </span>
              &nbsp;<i class="fa fa-angle-down"></i>
            </label>
          </div>
        </form>
    </div>
  </div>
</div>
{% endblock %}

{% block datatable_dummy_url %}
{% endblock datatable_dummy_url %}

{% block xml_export %}
{% endblock xml_export %}

{% block csv_export %}
{% endblock csv_export %}

{% block datatable_id %}stock_card_list{% endblock datatable_id %}

{% block datatable_thead_tr %}
<th>{% trans 'SKU' %}</th>
<th>{% trans 'Product' %}</th>
<th>{% trans 'Variant' %}</th>
<th>{% trans 'Category' %}</th>
<th>Stok Awal</th>
<th>{% trans 'Stock In' %}</th>
<th>{% trans 'Operasi' %}</th>
<th>{% trans 'Produksi' %}</th>
<th>{% trans 'Sales' %}</th>
<th>Stok Akhir</th>
{% endblock datatable_thead_tr %}

{% block datatable_filter %}
<tr class='datatable-filter'>
  <td>
    <div class="datatable-filter-input-group">
      <div class="input-group mtm">
        <input type="text" class="form-control extra-table-control" placeholder="Search...">
      </div>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group">
      <div class="input-group mtm">
        <input type="text" class="form-control extra-table-control" placeholder="Search...">
      </div>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group">
      <div class="input-group mtm">
        <input type="text" class="form-control extra-table-control" placeholder="Search...">
      </div>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group">
      <div class="mtm">
        <div class="selectdiv">
        <label class="input-group">
        <select class="form-control form-control-sm custom-select extra-table-control">
          <option value=''>{% trans "All" %}</option>
          {% for category in categories %}
          <option value='{{category.name}}'>{{category.name}}</option>
          {% endfor %}
        </select>
        </label>
        </div>
      </div>
    </div>
  </td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
{% endblock datatable_filter %}

{% block javascript %}
{{ block.super }}

<script>
  $(document).ready(function() {
    base_url = "{% url 'stocks:stocks_card_data_subquery' %}";
    var columns = [
        { title: "SKU" },
        { title: "Product" },
        { title: "Variant" },
        { title: "Category" },
        { title: "Stok Awal" },
        { title: "Stock In" },
        { title: "Operasi" },
        { title: "Produksi" },
        { title: "Sales" },
        { title: "Stock Akhir" }
    ]
    tableOptions = {
      serverSide: false,
      columns: columns,
      scrollX: true,
      responsive: true,
      pageLength: 20,
      pagingType: "simple_numbers",
      order: [[ 1, "asc" ]],
      columnDefs: [
        {targets: [4,5,6,7,8,9], className: "text-right"},
      ],
    };

    $(".export-csv").on("click", function(ev){
      params = table.ajax.params();
      params.length = -1;
      var old_url = table.ajax.url() + "?" + $.param( params );
      new_url = old_url + "&" + $.param({"export_file": "csv"});
      window.open(new_url, '_blank');
      ev.preventDefault();
    });

})
</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
<script>
  $(document).ready(function(){
    $(".date-calendar").data('daterangepicker').setStartDate(moment().startOf('month'));
    $(".date-calendar").data('daterangepicker').setEndDate(moment().endOf('month'));

    var t = $("#stock_card_list");
    $(document).on("click", ".history-detail", function(e){
      e.preventDefault();
      start_date = $(".date-calendar").data("daterangepicker").startDate.format('YYYY-MM-DD HH:mm:ss');
      end_date = $(".date-calendar").data("daterangepicker").endDate.format('YYYY-MM-DD HH:mm:ss');
      outlet = $("#companyBranch option:selected").data("pk");
      params = "?";
      if(outlet){
        params += "outlet_pk="+outlet;
        params += "&start_date="+start_date+"&end_date="+end_date
      }else{
        params += "start_date="+start_date+"&end_date="+end_date
      }
      
      url = $(this).attr("href");
      new_url = url + params
      window.location.href = new_url;
    })
    
  });
</script>
<script type="text/javascript">

  $("#companyBranch").change(function() {
    table.ajax.url(this.value).load();
  });
  $('#companyBranchClear > .datatable-clearfilter').click(function(e){
    e.preventDefault();
  });

</script>
{% endblock %}
