{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Stock Adjustment" %}{% endblock %}


{% block stock_active_class %}active{% endblock %}
{% block mobile_stock_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_stock_show %}show{% endblock %}
{% block stock_stockadjustment_active_class %}submenu-active{% endblock %}
{% block mobile_stock_stockadjustment_active_class %}submenu-active{% endblock %}
{% block content_header %}{% if object %}{% trans 'Stock Adjustment- ' %}{{ object }}{% else %}{% trans "Add Stock Adjustment" %}{% endif %}{% endblock %}

{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}

{% block enable_settings %}
{% endblock %}


{% block css %}
  {{ block.super }}
  {{ form.media.css }}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@8.17.6/dist/sweetalert2.min.css">
  <style>
    .formset-wrapper .invalid-feedback {
      margin: 0;
    }
    .table {
      table-layout: fixed;
    }
    .table tr th:first-child{
      width: 25% !important;
    }
    .table tr th:last-child{
      width: 30px !important;
    }
    .select2-container {
      width: 100% !important;
      min-width: 3rem !important;
    }
    #id_outlet + .select2-container {
      width: 100% !important;
    }
  </style>
{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div2_class %}px-2{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block action_div_style %}background: white; border-top: 1px solid #d7d7db;{% endblock %}
{% block submit_form %}
      <div class="d-flex justify-content-end" id="fixed-bottom-button">
        <a href="{% url 'stocks:stocks_adjustment' %}" class="btn btn-light">{% trans "Back" %}</a>
        <button type="submit" id="submitBtn" class="btn btn-primary ml-1">
          <span id="submit-text">{% if object %}{% trans 'Save' %}{% else %}{% trans 'Create' %}{% endif %}</span>
          <i id="submit-icon" class=""></i>
        </button>
      </div>
{% endblock %}

{% block sub_content %}
  <form method="post" action="." id="stock_adjustment_form">
    {{ wizard.management_form }}
    {% crispy form %}
    {% crispy formset formset_helper %}
    <div class="justify-content-end {% if grid %}{{ grid }}{% else %}col-12{% endif %} p-0" id="fixed-button-content" style="display: flex;">
      <a href="{% url 'stocks:stocks_adjustment' %}" class="btn btn-light">{% trans "Back" %}</a>
      <button type="submit" class="btn btn-primary ml-1">
        <span id="submit-text">{% if object %}{% trans 'Save' %}{% else %}{% trans 'Create' %}{% endif %}</span>
        <i id="submit-icon" class=""></i>
      </button>
    </div>
  </form>
{% endblock %}


{% block modal %}
{% endblock modal %}


{% block javascript %}
  {{ block.super }}
  {{ form.media.js }}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
  <script src="{% static 'js/jquery.formset.js' %}"></script>
  <script src="{% static '/js/button-scrollbar.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8.17.6/dist/sweetalert2.all.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-maxlength/1.10.0/bootstrap-maxlength.min.js" integrity="sha512-04L+TAgzlDAaUpaEGriEBg/qEryUjw4GNL/FkxA3h621EFPycccO2Y8vNhvid9UhgGC/9+MHLAFwGythpvOAAQ==" crossorigin="anonymous"></script>
  <script>
    (function($) {
      $.fn.inputFilter = function(inputFilter) {
        return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function() {
          if (inputFilter(this.value)) {
            this.oldValue = this.value;
            this.oldSelectionStart = this.selectionStart;
            this.oldSelectionEnd = this.selectionEnd;
          } else if (this.hasOwnProperty("oldValue")) {
            this.value = this.oldValue;
            this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
          }
        });
      };
    }(jQuery));

    (function($){
      $.fn.decimalInput = function(){
        return this.on("input keydown keypress keyup blur", function(event){
          if (event.shiftKey == true) {
            event.preventDefault();
          }
          if ((event.keyCode >= 48 && event.keyCode <= 57) || 
            (event.keyCode >= 96 && event.keyCode <= 105) || 
            event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 ||
            event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190) {

          } else {
              event.preventDefault();
          }

          if($(this).val().indexOf('.') !== -1 && event.keyCode == 190)
            event.preventDefault()
        });
      }
    }( jQuery ));
    $(document).ready(function(){
     
      $('.formset-wrapper').formset();
      $(".formset-wrapper").on("formAdded", function(event){
        var status = $("select[name=stock_adjustment_form-status]").val();
        newForm = event.target;
        $.each($(newForm), function(index, value){
          $(".products-unit").select2({
            allowClear: false,
          });
          if ($(value).is('tr') === true) {
            var quantity_input = $(value).find(".products-quantity");
            $(quantity_input).decimalInput();
            var cost = $(value).find(".products-cost");
            var total_cost = $(value).find(".products-total-cost");
            if(status != "item_receive"){
              cost.parent().parent().hide();
              total_cost.parent().parent().hide();
            }
            if($(value).find(".products-dropdown").val()){
              get_uom($(value).find(".products-dropdown").val(), $(value).find(".products-dropdown").attr("name").split("-"));
            }
          }
        });
      });
      $('.formset-wrapper').on('formDeleted', function (event) {
        deleted = event.target;
        $.each($(deleted), function(index, value){
          if ($(value).is('tr') === true) {
            var selected_value = $(value).find('.products-dropdown ').val();
            $(deleted).find('.products-dropdown  option[value="'+ selected_value +'"]').prop("selected", false);
            $(deleted).find('.products-dropdown  option[value="'+ selected_value +'"]').removeAttr("selected");
          }
        });
      });

      $("#submitBtn").click(function () {
         $("#stock_adjustment_form").submit();
      });

      $("#stock_adjustment_form").on("submit", function(){
        $("button[type=submit]").attr("disabled", "disabled");
        $("button[type=submit] #submit-text").empty().append("Menyimpan");
        $("button[type=submit] #submit-icon").addClass("fa fa-spinner fa-spin");
      });

      $(".products-cost").decimalInput();
      $(".products-quantity").decimalInput();

      var selected = $(".products-dropdown option:selected");
      $.each(selected, function(index, value){
        if($(value).val()){
          get_quantity($(value).val(), $("select[name=stock_adjustment_form-outlet]").val(), value.parentElement.name);
        }
      });

      $(document).on("select2:select", ".products-dropdown", function(){
        var name = this.name;
        var name_index = name.split("-");
        var selected_arr = []
        selected = $(".products-dropdown option:selected").not(this);
        is_exist = false;

        $.each(selected, function(index, value){
          if($.inArray($(this).val(), selected_arr)>-1){
            is_exist = true;
          }else{
            if($(value).val()){
              selected_arr.push($(value).val());
            }
          }
        });

        if(is_exist){
          Swal.fire({
            text: "Produk sudah ditambahkan pada penyesuaian stok."
          });
          $("#id_"+name).val(null).trigger("change");
          $("input[name="+name_index[0]+"-"+name_index[1]+"-stock_available]").val("");
          $("input[name="+name_index[0]+"-"+name_index[1]+"-stock_final]").val("");
        }else{
          if($(this).val()){
            if($("select[name=stock_adjustment_form-outlet]").val()){
              get_quantity($(this).val(), $("select[name=stock_adjustment_form-outlet]").val(), this.name);
            }
          }else{
            $("input[name="+name_index[0]+"-"+name_index[1]+"-stock_available]").val("");
            $("input[name="+name_index[0]+"-"+name_index[1]+"-stock_final]").val("");
            $("input[name="+name_index[0]+"-"+name_index[1]+"-cost]").val("");
          }
          get_uom($(this).val(), name_index);
        }
        
      });

      $("select[name=stock_adjustment_form-outlet]").on("select2:select", function(){
        var outlet = $(this).val();
        var selected = $(".products-dropdown option:selected")
        $.each(selected, function(index, value){
          if($(value).val()){
            get_quantity($(value).val(), outlet, $(value).parent().attr('name'));
          }
        });
        
      });

      function get_quantity(product, outlet, name){
        var index = name.split("-");
        $.ajax({
          url: "{% url 'stocks:get_quantity' %}",
          type: "GET",
          data: {
            product: product,
            outlet: outlet,
          },
          success: function(response){
            quantity = $("input[name="+index[0]+"-"+index[1]+"-quantity").val();
            status = $("select[name=stock_adjustment_form-status]").val();
            unit =  $("select[name="+index[0]+"-"+index[1]+"-unit").val();
            balance = response.result.balance;
            $("input[name="+index[0]+"-"+index[1]+"-stock_available]").val(response.result.balance+" "+response.result.unit);
            get_final_stock(product, unit, response.result.balance, quantity, status, index);
          }
        });
      }

      $(document).on("change", ".products-unit", function(){
        name = this.name;
        index = name.split("-");
        status = $("select[name=stock_adjustment_form-status]").val();
        unit =  $(this).val();
        product =  $("select[name="+index[0]+"-"+index[1]+"-product").val();
        quantity = $("input[name="+index[0]+"-"+index[1]+"-quantity]").val();
        balance = $("input[name="+index[0]+"-"+index[1]+"-stock_available]").val();
        qty = balance.split(" ");
        get_final_stock(product, unit, qty[0], quantity, status, index);
      });

      $(document).on("change", ".products-quantity", function(){
        name = this.name;
        index = name.split("-");
        status = $("select[name=stock_adjustment_form-status]").val();
        unit =  $("select[name="+index[0]+"-"+index[1]+"-unit").val();
        product =  $("select[name="+index[0]+"-"+index[1]+"-product").val();
        quantity = $(this).val();
        balance = $("input[name="+index[0]+"-"+index[1]+"-stock_available]").val();
        qty = balance.split(" ");
        get_final_stock(product, unit, qty[0], quantity, status, index);
        if(status == "item_receive"){
          cost = $("input[name="+index[0]+"-"+index[1]+"-cost]").val();
          get_total_cost(quantity, cost, index);
        }
      });

      function get_final_stock(product, unit, balance, quantity, status, index){
        if(balance){
          if(product && unit && quantity){
            $.ajax({
              url: "{% url 'stocks:get_converted' %}",
              type: "GET",
              data: {
                product: product,
                unit: unit,
                quantity: quantity
              },
              success: function(response){
                converted_qty = response.result.converted_qty;
                decimal_places = converted_qty.split(".")
                if(decimal_places[1]){
                  if(decimal_places[1].length <= 3){
                    decimal_places = decimal_places[1].length
                  }else{
                    decimal_places = 3
                  }
                }else{
                  decimal_places = 0
                }
                final = 0;
                if(status == "item_receive") {
                  final = parseFloat(converted_qty) + parseFloat(balance);
                }else if(status == "stock_count"){
                  final = parseFloat(converted_qty);
                }else if(status == "item_loss" || status == "item_damaged" || status == "waste_product"){
                  final = parseFloat(balance) - parseFloat(converted_qty);
                }
                final = final.toFixed(decimal_places)
                $("input[name="+index[0]+"-"+index[1]+"-stock_final]").val(final+" "+response.result.unit);
              }
            });
          }else{
            current = $("input[name="+index[0]+"-"+index[1]+"-stock_available]").val();
            $("input[name="+index[0]+"-"+index[1]+"-stock_final]").val(current);
          }
        }else{
          $("input[name="+index[0]+"-"+index[1]+"-stock_final]").val();
        }
      }

      function get_total_cost(quantity, cost, name_index){
        total = 0;
        if(quantity && cost){
          total = quantity * cost
        }
        total = total.toFixed(2);
        $("input[name="+name_index[0]+"-"+name_index[1]+"-total_cost]").val(total);
      }

      $(document).on("change", ".products-cost", function(){
        name = this.name;
        index = name.split("-");
        cost = $(this).val();
        quantity = $("input[name="+index[0]+"-"+index[1]+"-quantity]").val();
        get_total_cost(quantity, cost, index);
      });

      $("select[name=stock_adjustment_form-status]").on("change", function(){
        if($(this).val() != "item_receive"){
          $(".products-cost").parent().parent().hide();
          $("th[for=id_adjusted_stock-0-cost]").hide();
          $(".products-total-cost").parent().parent().hide();
          $("th[for=id_adjusted_stock-0-total_cost]").hide();
          $(".products-cost").val("");
          $(".products-total-cost").val("");
        } else {
          $(".products-cost").parent().parent().show();
          $("th[for=id_adjusted_stock-0-cost]").show();
          $(".products-total-cost").parent().parent().show();
          $("th[for=id_adjusted_stock-0-total_cost]").show();
        }

        selected = $(".products-dropdown option:selected");
        $.each(selected, function(index, value){
          name = value.parentElement.name;
          index = name.split("-");
          balance = $("input[name="+index[0]+"-"+index[1]+"-stock_available]").val();
          qty = balance.split(" ");
          quantity = $("input[name="+index[0]+"-"+index[1]+"-quantity]").val();
          status = $("select[name=stock_adjustment_form-status]").val();
          unit =  $("select[name="+index[0]+"-"+index[1]+"-unit").val();
          product =  $("select[name="+index[0]+"-"+index[1]+"-product").val();
          get_final_stock(product, unit, qty[0], quantity, status, index);
        });
      });

      $(document).on("change", ".formset-data-delete", function(){
        tr_element = $(this).closest("tr");
        tr_element.hide()
      });

      products = $(".products-dropdown");

      function get_uom(product, name_index){
        $.ajax({
          url: "{% url 'catalogue:uom_product' %}",
          type: "GET",
          data: {
            product: product
          },
          success: function(response){
            if(response.status == "success"){
              unit_selector = name_index[0]+"-"+name_index[1]+"-unit";
              selected_val = $("select[name="+unit_selector+"] option:selected").val();
              $("select[name="+unit_selector+"]").empty();

              $.each(response.result.units, function(index, value){
                if(value.id == selected_val){
                  $("select[name="+unit_selector+"]").append(
                    "<option value="+value.id+" selected>"+value.unit+"</option>"
                  )
                }else{
                  $("select[name="+unit_selector+"]").append(
                    "<option value="+value.id+">"+value.unit+"</option>"
                  )
                }
              });
              if(response.result.product_unit){
                $("select[name="+unit_selector+"]").val(response.result.product_unit).trigger("change");
              }
            }
          }
        });
      }

      $.each(products, function(index, value){
        if($(value).hasClass("is-invalid")){
          select2 = $(value).siblings().children(".selection").children();
          select2.addClass("is-invalid");
        }
      });

      $("textarea").maxlength({
        alwaysShow: true,
        placement: 'bottom-right-inside',
      });

    });
  </script>
{% endblock %}
    
  