{% extends "dashboard/base_datatable.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Stock Counts" %}{% endblock %}

{% block stock_active_class %}active{% endblock %}
{% block mobile_stock_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_stock_show %}show{% endblock %}
{% block stock_stockcount_active_class %}submenu-active{% endblock %}
{% block mobile_stock_stockcount_active_class %}submenu-active{% endblock %}

{% block content_class %}fixed-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block tab_div_style %}background: white; border-bottom: 1px solid #d7d7db;{% endblock %}
{% block tab_section_style %}border-bottom: 1px solid #d7d7db;{% endblock %}
{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important; width:87%;{% endblock %}
{% block datatable_title %}{% trans "Stock Count" %}{% endblock datatable_title %}

{% block css %}
  {{ block.super }}
  <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
  <style>
    #filters{
      padding: 0 10px;
    }
    .datatables-info {
      padding: 8px 8px;
    }
    .table {
      table-layout: auto;
    }
    td {
      white-space: nowrap;
    }
    th {
      white-space: nowrap;
    }

    td:nth-child(1) {
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      
    }
    td:nth-child(2) {
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    td:nth-child(3) {
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    td:nth-child(4) {
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    #heading {
      margin-top: 1rem;
      margin-bottom: 0 !important;
    }
    .select2-container {
      width: 100% !important;
      min-width: 3rem !important;
    }
  </style>
{% endblock %}

{% block tab_list %}
  <ul class="nav nav-tabs pt-2">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'stocks:stocks_count_detail' stock_count.pk %}">
        {% trans "Detail" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'stocks:stocks_count_detail_list' stock_count.pk %}">
        {% trans "Product" %}</a>
    </li>
  </ul>
{% endblock %}

{% block datatable_breadcrumb %}
	{{ block.super }}
  <li class="breadcrumb-item active">{% trans "Stock Counts" %}</li>
{% endblock datatable_breadcrumb %}

{% block datatable_id %}tbl_stock_count{% endblock datatable_id %}


{% block datatable_thead_tr %}
<th>{% trans 'SKU' %}</th>
<th>{% trans 'Product' %}</th>
<th>{% trans 'Variant' %}</th>
<th>{% trans 'Category' %}</th>
<th class="text-right">{% trans 'Quantity' %}</th>
<th class="text-right">{% trans 'Counted' %}</th>
<th class="no-sort text-center">{% trans 'Actions' %}</th>
{% endblock datatable_thead_tr %}

{% block datatable_filter %}
<tr class='datatable-filter'>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group mtm">
      <div class="selectdiv">
      <label class="input-group">
      <select class="form-control form-control-sm custom-select extra-table-control">
        <option>{% trans "All" %}</option>
        {% for category in categories %}
          <option value={{category.pk}}>{{category.name}}</option>
        {% endfor %}
      </select>
      </label>
      </div>
    </div>
  </td>
  <td></td>
  <td></td>
  <td></td>
</tr>
{% endblock datatable_filter %}


{% block modal %}
<div class="modal fade" id="stock-count-modal" tabindex="-1" role="dialog" aria-labelledby="stockCountModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
{% endblock modal %}

{% block javascript %}
{{ block.super }}
<script src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/natural.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>

<script>
	function onlyNumeric(event) {
		return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57;
	};
</script>
<script>
	$(document).ready(function () {
		base_url = "{% url 'stocks:stocks_count_detail_list_data' stock_count.pk %}";

    {% if outlet_permission %}
		tableOptions = {
      scrollX: true,
      responsive: true,
      pageLength: 25,
      pagingType: "simple_numbers",
      columnDefs: [
        {targets: 'no-sort', orderable: false},
        {targets: 'text-center',  className: 'text-center'},
        {targets: [4,5], className: "text-right"},
      ],
    }
    {% else %}
    tableOptions = {
      scrollX: true,
      responsive: true,
      pageLength: 25,
      pagingType: "simple_numbers",
      columnDefs: [
        {targets: 'no-sort', orderable: false},
        {targets: 'text-center',  className: 'text-center'},
        {targets: [4,5], className: "text-right"},
        {targets: 4, visible: false, orderable: false},
      ],
    }
    {% endif %}

    $(document).on("click", ".stock-count-update", function(e){
      $("#stock-count-modal").find(".modal-content").empty();
      url = $(this).data("url");
      e.preventDefault();
      $("#stock-count-modal").modal("show").find(".modal-content").load(url);
    });

	});
</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
{% endblock %}
