{% load static i18n %}
{% load crispy_forms_tags %}

<form id="stock_count_detail" action="." class="form-horizontal" method="POST">
  <div class="modal-header">
    <h5 class="modal-title" id="stockCountModalLabel">{% trans "Stock Count" %}: {{ product }}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {% crispy form %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-submit-close" data-dismiss="modal">{% trans "Close" %}</button>
    <button type="button" class="btn btn-primary save-counted">
      <span id="save-text">{% trans "Save" %}</span>
      <i id="save-icon" class=""></i>
    </button>
  </div>
</form>

{% block extrajs %}
<script>
$(document).ready(function(){
  var table_id = "{{ table_id }}";

  var table = $(table_id).DataTable();

  $("select[name=unit]").select2();
  $("input[name=counted]").decimalInput();

  $(".save-counted").on("click", function(e){
    e.preventDefault();
    $.ajax({
      type: "POST",
      url: "{% url 'stocks:stock_count_detail_counting' stock_count_pk=stock_count_pk pk=pk %}",
      dataType: 'json',
      data: $("#stock_count_detail").serialize(),
      beforeSend: function(jqXHR, settings){
        jqXHR.setRequestHeader("x-csrftoken", "{{ csrf_token }}");
        $(".btn-submit-close").attr("disabled", "disabled");
        $(".btn-submit-close").attr("disabled", "disabled");
        $(".save-counted").attr("disabled", "disabled");
        $(".save-counted #save-text").html("Loading");
        $(".save-counted #save-icon").addClass("fa fa-spinner fa-spin");
      },
      success: function(response){
        if(response.status == "success"){
          $("#heading").prepend(
            '<div class="row">' + 
              '<div class="col-lg-12">' +
                '<div class="alert alert-success alert-dismissible fade show" role="alert">' +
                  response.message +
                  '<button type="button" class="close p-2" data-dismiss="alert" aria-label="Close">' +
                    '<span aria-hidden="true">×</span>' +
                 ' </button>' +
                '</div>' +
              '</div>' +
           ' </div>'
          )
          $(".modal").modal("hide");
          table.ajax.reload(null, false);
          $('.alert').each(function (index, element) {
              var $element = $(element),
                  timeout  = 5000;
              setTimeout(function () {
                $("#heading").html(" ");
              }, timeout);
          });
        }else{
          $(".invalid-feedback").remove();
          $.each(response.errors, function(field, error) {
              var field = $("#id_"+field);
              field.addClass("is-invalid");
              error_message = '<span id="error_1_id_'+field+'" class="invalid-feedback"><strong>'+error+'</strong></span>';
              $(error_message).insertAfter(field);
          });
          $(".btn-submit-close").removeAttr("disabled", "disabled");
          $(".btn-submit-close").removeAttr("disabled", "disabled");
          $(".save-counted").removeAttr("disabled", "disabled");
          $(".save-counted #save-text").html("Simpan");
          $(".save-counted #save-icon").removeClass("fa fa-spinner fa-spin");
        }
      },
      error: function (error) {
        console.log(error);
      }
    });
  }); 
});  
</script>
{% endblock extrajs %}