{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Stock Count" %}{% endblock %}


{% block stock_active_class %}active{% endblock %}
{% block mobile_stock_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_stock_show %}show{% endblock %}
{% block stock_stockcount_active_class %}submenu-active{% endblock %}
{% block mobile_stock_stockcount_active_class %}submenu-active{% endblock %}
{% block content_header %}{% if object %}{% trans 'Stock Count - ' %}{{ object }}{% else %}{% trans "Add Stock Count" %}{% endif %}{% endblock %}

{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}

{% block enable_settings %}
{% endblock %}


{% block css %}
  {{ block.super }}
  {{ form.media.css }}
  <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.3/daterangepicker.css"/>
  <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css"/>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
  <style>
    .no-padding{
      padding: 0 !important;
    }
    #heading {
      margin-top: 1rem;
      margin-bottom: 0 !important;
    }
    table.dataTable {
      margin-top: 0 !important;
    }
    #filters{
      padding: 0 10px;
    }
    .datatables-info {
      padding: 8px 8px;
    }
    .table {
      table-layout: auto;
      border-top: 0;
    }
    td {
      white-space: nowrap;
    }
    th {
      white-space: nowrap;
    }

    td:nth-child(1) {
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      
    }
    td:nth-child(2) {
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    td:nth-child(3) {
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    td:nth-child(4) {
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  </style>
  {% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div2_class %}px-2{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block action_div_style %}background: white; border-top: 1px solid #d7d7db;{% endblock %}

{% block submit_form %}
  <div class="d-flex justify-content-end" id="fixed-bottom-button">
    <a href="{% if object %}{% url 'stocks:stocks_count_detail' object.pk %}{% else %}{% url 'stocks:stocks_count' %}{% endif %}" class="btn btn-light">{% trans "Back" %}</a>
    <button type="submit" id="submitBtn" class="btn btn-primary ml-1">
      <span id="submit-text">{% if object %}{% trans 'Save' %}{% else %}{% trans 'Create' %}{% endif %}</span>
      <i id="submit-icon" class=""></i>
    </button>
  </div>
{% endblock %}

{% block sub_content %}
  <form method="post" action="." id="stock_count_complete_form">
    {% crispy form %}

    <div class="card bg-transparent border-0">
      <div class="card-header bg-white border">
        <h4 class="my-1">{% trans "Reveiw Detail Stok Opname" %}</h4>
      </div>
      <div class="card-body no-padding bg-">
        <div class="w-100" id="tables">
          <table id="tbl_stock_count" class="table table-no-border table-borderless table-striped selector-datatable pb-0 m-0" cellspacing="0" width="100%">
            <thead class="bg-default">
              <tr>
                <th>{% trans 'SKU' %}</th>
                <th>{% trans 'Product' %}</th>
                <th>{% trans 'Variant' %}</th>
                <th>{% trans 'Category' %}</th>
                <th class="text-right">{% trans 'Quantity' %}</th>
                <th class="text-right">{% trans 'Counted' %}</th>
                <th class="no-sort text-center">{% trans 'Actions' %}</th>
              </tr>
              <tr class='datatable-filter'>
                <td>
                  <div class="datatable-filter-input-group input-group mtm">
                    <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
                  </div>
                </td>
                <td>
                  <div class="datatable-filter-input-group input-group mtm">
                    <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
                  </div>
                </td>
                <td>
                  <div class="datatable-filter-input-group input-group mtm">
                    <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
                  </div>
                </td>
                <td>
                  <div class="datatable-filter-input-group mtm">
                    <div class="selectdiv">
                    <label class="input-group">
                    <select class="form-control form-control-sm custom-select extra-table-control">
                      <option>{% trans "All" %}</option>
                      {% for category in categories %}
                        <option value={{category.pk}}>{{category.name}}</option>
                      {% endfor %}
                    </select>
                    </label>
                    </div>
                  </div>
                </td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
            </tfoot>
          </table>
        </div>
      </div>
    </div>

    <div class="justify-content-end {% if grid %}{{ grid}}{% else %}col-12{% endif %} p-0" id="fixed-button-content" style="display: flex;">
      <a href="{% if object %}{% url 'stocks:stocks_count_detail' object.pk %}{% else %}{% url 'stocks:stocks_count' %}{% endif %}" class="btn btn-light">{% trans "Back" %}</a>
      <button type="submit" class="btn btn-primary ml-1">
        <span id="submit-text">{% if object %}{% trans 'Save' %}{% else %}{% trans 'Create' %}{% endif %}</span>
        <i id="submit-icon" class=""></i>
      </button>
    </div>
  </form>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  {{ form.media.js }}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.3/daterangepicker.js"></script>
  <script src="{% static '/js/button-scrollbar.js' %}"></script>

  <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/plug-ins/1.10.16/sorting/formatted-numbers.js"></script>
  <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

  <script src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/natural.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>

  <script>
    $(document).ready(function(){
      base_url = "{% url 'stocks:stocks_count_detail_list_data' object.pk %}";

      {% if outlet_permission %}
      tableOptions = {
        scrollX: true,
        responsive: true,
        pageLength: 25,
        pagingType: "simple_numbers",
        columnDefs: [
          {targets: 'no-sort', orderable: false},
          {targets: 'text-center',  className: 'text-center'},
          {targets: [4,5], className: "text-right"},
          {targets: 6, visible: false, orderable: false},

        ],
      }
      {% else %}
      tableOptions = {
        scrollX: true,
        responsive: true,
        pageLength: 25,
        pagingType: "simple_numbers",
        columnDefs: [
          {targets: 'no-sort', orderable: false},
          {targets: 'text-center',  className: 'text-center'},
          {targets: [4,5], className: "text-right"},
          {targets: [4,6], visible: false, orderable: false},
        ],
      }
      {% endif %}

      $("#submitBtn").click(function () {
         $("#stock_count_complete_form").submit();
      });

      $("#stock_count_complete_form").on("submit", function(){
        $("button[type=submit]").attr("disabled", "disabled");
        $("button[type=submit] #submit-text").empty().append("Menyimpan");
        $("button[type=submit] #submit-icon").addClass("fa fa-spinner fa-spin");
      });

      $('#id_date_of_completion').daterangepicker({
        "opens": 'right',
        "timePicker": true,
        "timePicker24Hour": true,
        "singleDatePicker": true,
        "startDate": moment(),
        "showCustomRangeLabel": false,
        'locale': {
          'format': 'DD/MM/YYYY HH:mm',
          "customRangeLabel": "Pilih Tanggal",
          "applyLabel": "Terapkan",
          "cancelLabel": "Batal",
          "daysOfWeek": [
            "Min",
            "Sen",
            "Sel",
            "Rab",
            "Kam",
            "Jum",
            "Sab"
          ],
          "monthNames": [
            "Januari",
            "Februari",
            "Maret",
            "April",
            "Mei",
            "Juni",
            "Juli",
            "Agustus",
            "September",
            "Oktober",
            "November",
            "Desember"
          ],
        }
      });
    });
  </script>
  <script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
{% endblock %}
    
  