{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% load template_utils %}
{% block title %}{% trans "Stock Transfer" %}{% endblock %}


{% block stock_active_class %}active{% endblock %}
{% block mobile_stock_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_stock_show %}show{% endblock %}
{% block stock_stocktransfer_active_class %}submenu-active{% endblock %}
{% block mobile_stock_stocktransfer_active_class %}submenu-active{% endblock %}
{% block content_header %}{% if object %}{% trans 'Stock Transfer - ' %}{{ object }}{% else %}{% trans "Add Stock Transfer" %}{% endif %}{% endblock %}

{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}

{% block enable_settings %}
{% endblock %}


{% block css %}
  {{ block.super }}
  {{ form.media.css }}
  <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.3/daterangepicker.css"/>

  <style>
    .no-padding{
      padding: 0 !important;
    }
  </style>
{% endblock %}


{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div2_class %}px-2{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block action_div_style %}background: white; border-top: 1px solid #d7d7db;{% endblock %}
{% block submit_form %}
  <div class="d-flex justify-content-end" id="fixed-bottom-button">
    <a href="{% if object %}{% url 'stocks:stocks_transfer_detail' object.pk %}{% else %}{% url 'stocks:stocks_transfer' %}{% endif %}" class="btn btn-light">{% trans "Back" %}</a>
    <button type="submit" id="submitBtn" class="btn btn-primary ml-1">
      <span id="submit-text">{% if object %}{% trans 'Save' %}{% else %}{% trans 'Create' %}{% endif %}</span>
      <i id="submit-icon" class=""></i>
    </button>
  </div>
{% endblock %}

{% block sub_content %}
  <form method="post" action="." id="stock_transfer_received_form">
    {{ wizard.management_form }}
    {% crispy form %}

    <div class="row mx-0 p-0">
      <div class="report mb-4 mx-0 col-lg-6 px-0">
        <div class="card">
          <div class="card-body py-0 px-3">
            <div class="d-flex justify-content-between" id='report-table'>
              <p class="m-3">{% trans "Code" %}</p>
              <p class="m-3">{{ object.code }} ({{ object.get_status_display}})</p>
            </div>
            <div class="d-flex justify-content-between" id='report-table'>
              <p class="m-3">{% trans "Date of Transfer" %}</p>
              <p class="m-3">{{ object.date_of_transfer }}</p>
            </div>
            <div class="d-flex justify-content-between" id='report-table'>
              <p class="m-3">{% trans "Date of Arrival" %}</p>
              <p class="m-3">{% if object.date_of_arrival %}{{ object.date_of_arrival }}{% else %}-{% endif %}</p>
            </div>
            <div class="d-flex justify-content-between" id='report-table'>
              <p class="m-3">{% trans "Source" %}</p>
              <p class="m-3">{{ object.source.name }}</p>
            </div>
            <div class="d-flex justify-content-between">
              <p class="m-3">{% trans "Destination" %}</p>
              <p class="m-3">{{ object.destination.name }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card col-lg-12 p-0">
        <div class="card-header">
          <h4 class="my-1">{% trans "Stock Transfer Detail" %}</h4>
        </div>
        <div class="card-body no-padding">
          <table class="table mb-0 border-0" id="bom_item_table">
            <thead>
              <tr>
                <th class="text-left">{% trans 'Produk' %}</th>
                <th class="text-left">{% trans 'Variant' %}</th>
                <th class="text-left">{% trans 'SKU' %}</th>
                <th class="text-left">{% trans 'Source Stock' %}</th>
                <th class="text-right">{% trans 'Quantity' %}</th>
              </tr>
            </thead>
            {% if object %}
              <tbody>
                {% for data in transfered_stock %}
                  <tr>
                    <td>{{ data.stock_source.product.catalogue.name }}</td>
                    <td>{{ data.stock_source.product.name }}</td>
                    <td>{{ data.stock_source.product.sku }}</td>
                    <td>{{ data.stock_transfer.source.name }}</td>
                    <td class="text-right">{% get_normalized_decimal data.quantity %} {{ data.unit.unit }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            {% else %}
              <tbody></tbody>
            {% endif %}
              
          </table>
        </div>
      </div>
    </div>
    <div class="justify-content-end {% if grid %}{{ grid}}{% else %}col-12{% endif %} p-0" id="fixed-button-content" style="display: flex;">
      <a href="{% if object %}{% url 'stocks:stocks_transfer_detail' object.pk %}{% else %}{% url 'stocks:stocks_transfer' %}{% endif %}" class="btn btn-light">{% trans "Back" %}</a>
      <button type="submit" class="btn btn-primary ml-1">
        <span id="submit-text">{% if object %}{% trans 'Save' %}{% else %}{% trans 'Create' %}{% endif %}</span>
        <i id="submit-icon" class=""></i>
      </button>
    </div>
  </form>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  {{ form.media.js }}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.3/daterangepicker.js"></script>
  <script src="{% static '/js/button-scrollbar.js' %}"></script>

  <script>
    $(document).ready(function(){
      $("#submitBtn").click(function () {
         $("#stock_transfer_received_form").submit();
      });

      $("#stock_transfer_received_form").on("submit", function(){
        $("button[type=submit]").attr("disabled", "disabled");
        $("button[type=submit] #submit-text").empty().append("Menyimpan");
        $("button[type=submit] #submit-icon").addClass("fa fa-spinner fa-spin");
      });

      $('#id_stock_transfer_received_form-date_of_arrival').daterangepicker({
        "opens": 'right',
        "timePicker": true,
        "timePicker24Hour": true,
        "singleDatePicker": true,
        "startDate": moment(),
        "showCustomRangeLabel": false,
        'locale': {
          'format': 'DD/MM/YYYY HH:mm',
          "customRangeLabel": "Pilih Tanggal",
          "applyLabel": "Terapkan",
          "cancelLabel": "Batal",
          "daysOfWeek": [
            "Min",
            "Sen",
            "Sel",
            "Rab",
            "Kam",
            "Jum",
            "Sab"
          ],
          "monthNames": [
            "Januari",
            "Februari",
            "Maret",
            "April",
            "Mei",
            "Juni",
            "Juli",
            "Agustus",
            "September",
            "Oktober",
            "November",
            "Desember"
          ],
        }
      });
    });
  </script>
{% endblock %}
    
  