{% extends "dashboard/base_datatable.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Product" %}{% endblock %}

{% block stock_active_class %}active{% endblock %}
{% block mobile_stock_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_stock_show %}show{% endblock %}
{% block stock_productstock_active_class %}submenu-active{% endblock %}
{% block mobile_stock_productstock_active_class %}submenu-active{% endblock %}

{% block datatable_title %}{% trans "Product Stock Transaction" %}{% endblock datatable_title %}

{% block datatable_breadcrumb %}
	{{ block.super }}
  <li class="breadcrumb-item"><a href="{% url 'stocks:product_stocks' %}">{% trans "Product Stock" %}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'stocks:stocks' stock.product.pk %}">{{ stock.product.sku }}</a></li>
  <li class="breadcrumb-item active">{{ stock.outlet.name }}</li>
  <li class="breadcrumb-item active">{% trans "Transaction" %}</li>
{% endblock datatable_breadcrumb %}

{% block datatable_id %}tbl_product{% endblock datatable_id %}

{% block datatable_thead_tr %}
    <th>{% trans 'Transaction Date' %}</th>
    <th>{% trans 'Type' %}</th>
    <th>{% trans 'Quantity' %}</th>
    <th>{% trans 'Reference' %}</th>
    <th>{% trans 'User' %}</th>
{% endblock datatable_thead_tr %}

{% block datatable_filter %}
<tr class='datatable-filter'>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group mtm">
      <div class="selectdiv">
      <label class="input-group">
      <select class="form-control form-control-sm custom-select extra-table-control">
        <option value='show'>{% trans 'Show All' %}</option>
        <option value='transfer'>{% trans 'Transfer Procedure' %}</option>
        <option value='transaction'>{% trans 'Sales Transaction' %}</option>
        <option value='purchase_order'>{% trans 'Purchase Order' %}</option>
        <option value='stock_adjustment'>{% trans 'Stock Adjustment' %}</option>
        <option value='stock_count'>{% trans 'Stock Count' %}</option>
      </select>
      </label>
      </div>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control numeric clearable" placeholder="{% trans 'Search...' %}" onkeypress="onlyNumeric">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="hidden" class="form-control extra-table-control numeric clearable" placeholder="{% trans 'Search...' %}" onkeypress="onlyNumeric">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control numeric clearable" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
</tr>
{% endblock datatable_filter %}

{% block javascript %}
{{ block.super }}

<script>
	function onlyNumeric(event) {
		return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57;
	};
</script>
<script>
	$(document).ready(function () {
		base_url = "{% url 'stocks:stocks_product_transaction_data' stock.pk %}";
		tableOptions = {
      columnDefs: [
        {targets: "_all", className: "align-middle"},
        {targets: 'no-sort', orderable: false},
        {
          'targets': [0],
          'render': function (data, type, full, meta) {
            var data_date = data;
            if (type == 'display') {
                var new_date = moment(data_date);
                date = new_date.format('DD/MM/YYYY HH:mm:ss');
                return date;
            }
            return data_date;
          },
        },
      ],
    }
	});
</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
{% endblock %}
