{% extends "dashboard/base_datatable.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{{ product.name }} - {% trans "Product Stock" %}{% endblock %}

{% block library_active_class %}active{% endblock %}
{% block mobile_library_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_library_show %}show{% endblock %}
{% block library_itemlibrary_active_class %}submenu-active{% endblock %}
{% block mobile_library_itemlibrary_active_class %}submenu-active{% endblock %}
{% block tab_section_style %}border-bottom: 1px solid #e6e7e9;{% endblock %}

{% block datatable_title %}{{ product.name }} - {% trans "Product Stock" %}{% endblock datatable_title %}

{% block tab_list %}
  <ul class="nav nav-tabs pt-2" id="myTab" role="tablist">
    <li class="nav-item">
        {% if product.classification == "Composite" %}
        <a class="nav-link" href="{% url 'catalogue:product_composite_update' product.pk %}" >{% trans "Detail" %}</a>
        {% elif product.classification == "Complementary" %}
        <a class="nav-link" href="{% url 'catalogue:product_addon_update' product.pk %}" >{% trans "Detail" %}</a>
        {% else %}
        <a class="nav-link" href="{% url 'catalogue:product_variant_update' product.pk %}" >{% trans "Detail" %}</a>
        {% endif %}
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'catalogue:product_availability' product.pk %}">{% trans "Outlet" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'catalogue:product_pricing' product.pk %}" >{% trans "Pricing" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#" >{% trans "Stocks" %}</a>
    </li>
  </ul>
{% endblock %}


{% block datatable_breadcrumb %}
	{{ block.super }}
  <li class="breadcrumb-item"><a href="{% url 'stocks:product_stocks' %}">{% trans "Product Stock" %}</a></li>
  <li class="breadcrumb-item active">{{ product.sku }}</li>
{% endblock datatable_breadcrumb %}

{% block datatable_id %}tbl_product{% endblock datatable_id %}

{% block datatable_thead_tr %}
    <th>{% trans 'Outlet' %}</th>
    <th>{% trans 'SKU' %}</th>
    <th>{% trans 'Price' %}</th>
    <th>{% trans 'Quantity' %}</th>
    <th class="no-sort text-center">{% trans 'Actions' %}</th>
{% endblock datatable_thead_tr %}

{% block datatable_filter %}
<tr class='datatable-filter'>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control numeric clearable" placeholder="{% trans 'Search...' %}" onkeypress="onlyNumeric">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control numeric clearable" placeholder="{% trans 'Search...' %}" onkeypress="onlyNumeric">
    </div>
  </td>
  <td></td>
</tr>
{% endblock datatable_filter %}

{% block javascript %}
{{ block.super }}

<script>
	function onlyNumeric(event) {
		return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57;
	};

	function sayHi(){
		console.log("HI");
		return false;
	};

	function postAjax(event) {
		form = event.path[0];

		url = $(form).data("url");
		form_data = {};
		target_id = $('#'+event.target.id);
		$(event.path).serializeArray().map(x => form_data[x.name] = x.value);
    $("input[type='submit']", target_id)
      .val("Please Wait...")
      .attr('disabled', 'disabled');

		$.post(
			url,
			data=form_data,
			function( data ) {
			var messages=$('<div class="alert alert-success alert-dismissible fade show" role="alert">'+ data.data
                +'<button type="button" class="close p-2" data-dismiss="alert" aria-label="Close">\
                <span aria-hidden="true">×</span>\
              </button>\
            </div>');
      $('.main-content').prepend(messages);
				console.log(data);
				table.ajax.reload(null, false);
				messages.delay(1000).fadeOut("slow");
			});

		return $(form);
	};

</script>
<script>
	$(document).ready(function () {
		base_url = "{% url 'stocks:stocks_data' product.pk %}";
		tableOptions = {
			columnDefs: [
				{targets: "_all", className: "align-middle"},
				{targets: 'no-sort', orderable: false},
        {
          targets: [0],
          width: "20%",
          render: function(data, type, full, meta) {
            html = '<a href="'+ data.url +'"/>' + data.name + '</a>';
            return html;
          }
        },
        {
          targets: [4],
          visible: false,
        },
			],
			drawCallback: function( settings ) {
				$(".prevent-double-submit").each(function() {
					var $form = $(this);
					$form.preventDoubleSubmit();
				});
    	},
    }
	});
</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
<script type="text/javascript" src="{% static 'js/prevent-double-submit.js' %}"></script>
{% endblock %}
