{% extends "dashboard/base_datatable.html" %}
{% load static i18n humanize %}
{% load crispy_forms_tags %}
{% load template_utils %}

{% block title %}{% trans "Adjustment Order Detail" %} {% endblock title %}

{% block datatable_title %}{% trans "Adjustment Order Detail" %} {% endblock datatable_title %}

{% block stock_active_class %}active{% endblock %}
{% block mobile_stock_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_stock_show %}show{% endblock %}
{% block stock_stockadjustment_active_class %}submenu-active{% endblock %}
{% block mobile_stock_stockadjustment_active_class %}submenu-active{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}

{% block datatable_panel_title %}
  {% trans "Adjustment Order Detail" %}
{% endblock datatable_panel_title %}

{% block css %}
  {{ block.super }}
  <style>
    .no-padding{
      padding: 0 !important;
    }
  </style>
{% endblock %}

{% block action_button %}
<div class="p-0 position-fixed" style="right:20px;">
  <button type="button" id="print_btn" class="btn btn-outline-primary fixed-top-content">{% trans 'Print' %}</button>
</div>
{% endblock action_button %}

{% block sub_content %}
<div class="w-100">
  <div title='sales-detail' class="report mb-4 mx-0 col-lg-6 px-0">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between" id='report-table'>
          <p class="m-3">{% trans "Code" %}</p>
          <p class="m-3">{{ object.code }} ({{ object.get_status_display}})</p>
        </div>
        <div class="d-flex justify-content-between" id='report-table'>
          <p class="m-3">{% trans "Tanggal Penyesuaian Stok" %}</p>
          <p class="m-3">{{ object.date_of_adjustment }}</p>
        </div>
        <div class="d-flex justify-content-between">
          <p class="m-3">{% trans "Outlet" %}</p>
          <p class="m-3">{{ object.outlet.name }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-4 mx-0 col-lg-12 px-0">
    {% if adjusted_stock %}
    <div class="card">
      <div class="card-header">
        <h4 class="my-1">{% trans "Stock Adjustment Detail" %}</h4>
      </div>
      <div class="card-body no-padding">
        <div class="table-responsive">
          <table class="table mb-0 border-0">
            <thead>
              <tr>
                <th class="m-3 text-left">{% trans "Product" %}</th>
                <th class="m-3 text-left">{% trans "Variant" %}</th>
                <th class="m-3 text-left">{% trans "SKU" %}</th>
                {% if object.status == "item_receive" %}
                <th class="m-3 text-right">{% trans "Cost/Unit" %}</th>
                {% endif %}
                <th class="m-3 text-right">{% trans "Adjusted Balance" %}</th>
                {% if object.status == "item_receive" %}
                <th class="m-3 text-right">{% trans "Total Cost" %}</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              {% for obj in adjusted_stock %}
              <tr>
                <td class="m-3">{{ obj.stock.product.catalogue.name }} </td>
                <td class="m-3">
                <p class="m-0">
                  {{ obj.stock.product.name }} 
                  {% if obj.deleted %}<span class="text-danger">({% trans 'Deleted' %})</span>{% endif %}
                  {% if obj.archived %}<span class="text-danger">({% trans 'Archived' %})</span>{% endif %}
                </p>
                <td class="m-3">{{ obj.stock.product.sku }}</td>
                {% if object.status == "item_receive" %}
                <td class="m-3 text-right">Rp. {% get_normalized_decimal obj.cost.amount %}</td>
                {% endif %}
                <td class="m-3 text-right">{% get_normalized_decimal obj.quantity %} {{ obj.unit }}</td>
                {% if object.status == "item_receive" %}
                <td class="m-3 text-right">Rp. {% get_normalized_decimal obj.total_cost %}</td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% else %}
    <div class="card">
      <div class="card-body">
        <div class="text-center margin-100">
          <img alt="disable" src="{% static 'images/data_not_found.svg' %}" style="width: 160px">
            <div style="margin-top:32px; margin-bottom:32px;">
                 <h3 class="mb-3">Oops</h3>
                 <p class="text-muted text-center my-0">Data Adjustment Order tidak ada.</p>
            </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock sub_content %}

{% block javascript %}
{{ block.super }}
<!-- place project specific Javascript in this file -->
<script>
  $(document).ready(function () {
    tableOptions = {
        ajax : "",
        serverSide: false,
        deferRender: true,
        columnDefs: [
          {
            'targets': [2],
            'render': function (data, type, row) {
                var SaveTemp = data.split(' - ');
                return SaveTemp[0];
            },
            'visible': true,
            'searchable': false
          },
        ],
    };

    $("#print_btn").on("click", function(){
      url = "{% url 'stocks:stocks_adjustment_detail' object.pk %}" + "?export_file=pdf";
      window.open(url, '_blank');
    });
  });
</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
{% endblock %}
