{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Add New Supplier" %}{% endblock %}


{% block stock_active_class %}active{% endblock %}
{% block mobile_stock_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_stock_show %}show{% endblock %}
{% block stock_supplier_active_class %}submenu-active{% endblock %}
{% block mobile_stock_stocktransfer_active_class %}submenu-active{% endblock %}
{% block content_header %}{% if object %}{% trans 'Supplier - ' %}{{ object.name }}{% else %}{% trans "Add New Supplier" %}{% endif %}{% endblock %}

{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}

{% block enable_settings %}
{% if object %}
<div class="p-0 position-fixed" style="right:20px;">
  <button type="button" class="btn btn-danger btn-lg fixed-top-content" data-toggle="modal" data-target="#deleteModal">{% trans 'Delete' %}</button>
</div>
{% endif %}
{% endblock %}

{% block css %}
  {{ block.super }}
  {{ form.media.css }}
  {{ formset.media.css }}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@8.17.6/dist/sweetalert2.min.css">
  <style>
    .formset-wrapper .invalid-feedback {
      margin: 0;
    }
    .table {
      table-layout: fixed;
    }
    .table tr th:last-child{
      width: 30px !important;
    }
    .table tr th:first-child{
      width: 40% !important;
    }
    .select2-container {
      width: 100% !important;
      min-width: 3rem !important;
    }
    .switch {
      margin-top: 3px;
      position: relative;
      display: inline-block;
      width: 40px;
      height: 20px;
    }

    .switch input {display:none;}

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 12px;
      width: 12px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    .switch input:checked + .slider {
      background-color: #2196F3;
    }

    .switch input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    .switch input:checked + .slider:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }

    .flex-display{
      display: flex;
    }
  </style>
{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div2_class %}px-2{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block action_div_style %}background: white; border-top: 1px solid #d7d7db;{% endblock %}

{% block submit_form %}
  <div class="d-flex justify-content-end" id="fixed-bottom-button">
    <a href="{% url 'stocks:stocks_supplier' %}" class="btn btn-light">{% trans "Back" %}</a>
    <button type="submit" id="submitBtn" class="btn btn-primary ml-1">
      <span id="submit-text">{% if object %}{% trans 'Save' %}{% else %}{% trans 'Create' %}{% endif %}</span>
      <i id="submit-icon" class=""></i>
    </button>
  </div>
{% endblock %}

{% block sub_content %}
  <form method="post" action="." id="supplier-form">
    {% crispy form %}
    {% crispy formset formset_helper %}  
    <div class="justify-content-end {% if grid %}{{ grid }}{% else %}col-6{% endif %} p-0" id="fixed-button-content" style="display: flex;">
      <a href="{% url 'stocks:stocks_supplier' %}" class="btn btn-light">{% trans "Back" %}</a>
      <button type="submit" class="btn btn-primary ml-1">
        <span id="submit-text">{% if object %}{% trans 'Save' %}{% else %}{% trans 'Create' %}{% endif %}</span>
        <i id="submit-icon" class=""></i>
      </button>
    </div>
  </form>
{% endblock %}


{% block modal %}
{% if object %}
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">{% trans 'Delete Supplier' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{% trans 'Are you sure you want to delete?' %}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
        <form class="delete-form" action="{% url 'stocks:stocks_supplier_delete' object.pk %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">{% trans 'Delete' %}</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock modal %}
  
{% block javascript %}
  {{ block.super }}
  {{ form.media.js }}
  {{ formset.media.js }}
  <script src="{% static 'js/jquery.formset.js' %}"></script>
  <script src="{% static '/js/button-scrollbar.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8.17.6/dist/sweetalert2.all.min.js"></script>

  <script>
    (function($){
      $.fn.decimalInput = function(){
        return this.on("input keydown keypress keyup blur", function(event){
          if (event.shiftKey == true) {
            event.preventDefault();
          }
          if ((event.keyCode >= 48 && event.keyCode <= 57) || 
            (event.keyCode >= 96 && event.keyCode <= 105) || 
            event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 ||
            event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190) {
          } else {
              event.preventDefault();
          }
          if($(this).val().indexOf('.') !== -1 && event.keyCode == 190)
            event.preventDefault()
        });
      }
    }( jQuery ));
  </script>

  <script>
    $(document).ready(function(){
      $("#submitBtn").click(function () {
        $("#supplier-form").submit();
      });
      $("#supplier-form").on("submit", function(){
        $("#supplier-form button[type=submit]").attr("disabled", "disabled");
        $("#submit-text").empty().append("Menyimpan");
        $("#submit-icon").addClass("fa fa-spinner fa-spin");
      });

      $('.formset-wrapper').formset();
      $(".formset-wrapper").on("formAdded", function(event){
        newForm = event.target;
        $.each($(newForm), function(index, value){
          $(".products-unit").select2();
          if ($(value).is('tr') === true) {
            var quantity_input = $(value).find(".quantity-input");
            $(quantity_input).decimalInput();
          }
          if($(value).find(".products-dropdown").val()){
            unit = $(value).find(".products-wastage-unit").val();
            get_uom($(value).find(".products-dropdown").val(), $(value).find(".products-dropdown").attr("name").split("-"));
          }
        });
      });

      $('.formset-wrapper').on('formDeleted', function (event) {
        deleted = event.target;
        $.each($(deleted), function(index, value){
          if ($(value).is('tr') === true) {
            var selected_value = $(value).find('.products-dropdown ').val();
            $(deleted).find('.products-dropdown  option[value="'+ selected_value +'"]').prop("selected", false);
            $(deleted).find('.products-dropdown  option[value="'+ selected_value +'"]').removeAttr("selected");
          }
        });
      });

      $(document).on("change", ".formset-data-delete", function(){
        tr_element = $(this).closest("tr");
        tr_element.hide()
      });

      $('.collapsible-checkbox').click(function (e) {
        product_formset_conf($(this));
      });

      {% if master_product_data %}
      $('.collapsible-checkbox').prop('checked', true);
      {% endif %}
      product_formset_conf($(".collapsible-checkbox"));

      function product_formset_conf(input){
        if (input.is(':checked')) {
          input.parents('.card').find('.card-body').removeClass('collapse');
        } else {
          input.parents('.card').find('.card-body').addClass('collapse');
        }
      }

      $(".products-quantity").decimalInput();
      $(".products-cost_0").decimalInput();

      $(document).on("select2:select", ".products-dropdown", function(){
        var name = this.name;
        var name_index = name.split("-");
        var selected_arr = []
        selected = $(".products-dropdown option:selected").not(this);
        is_exist = false;

        $.each(selected, function(index, value){
          if($.inArray($(this).val(), selected_arr)>-1){
            is_exist = true;
          }else{
            if($(value).val()){
              selected_arr.push($(value).val());
            }
          }
        });

        if(is_exist){
          Swal.fire({
            text: "Produk sudah ditambahkan pada master data produk supplier."
          });
          $("#id_"+name).val(null).trigger("change");
          $("input[name="+name_index[0]+"-"+name_index[1]+"-source_stock]").val("");
          $("input[name="+name_index[0]+"-"+name_index[1]+"-destination_stock]").val("");
        }else{
          if($(this).val()){
            get_uom($(this).val(), name_index, null);
          }
        }
      });

      function get_uom(product, name_index, unit){
        $.ajax({
          url: "{% url 'catalogue:uom_product' %}",
          type: "GET",
          data: {
            product: product
          },
          success: function(response){
            if(response.status == "success"){
              unit_selector = name_index[0]+"-"+name_index[1]+"-unit";
              selected_val = $("select[name="+unit_selector+"] option:selected").val();
              $("select[name="+unit_selector+"]").empty();

              $.each(response.result.units, function(index, value){
                if(value.id == selected_val){
                  $("select[name="+unit_selector+"]").append(
                    "<option value="+value.id+" selected>"+value.unit+"</option>"
                  )
                }else{
                  $("select[name="+unit_selector+"]").append(
                    "<option value="+value.id+">"+value.unit+"</option>"
                  )
                }
              });
              if(unit){
                $("select[name="+unit_selector+"]").val(unit);
              }
            }
          }
        });
      }
    });
  </script>
{% endblock %}