{% extends "dashboard/base_datatable.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Suppliers" %}{% endblock %}

{% block stock_active_class %}active{% endblock %}
{% block mobile_stock_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_stock_show %}show{% endblock %}
{% block stock_supplier_item_active_class %}submenu-active{% endblock %}
{% block mobile_stock_stocktransaction_active_class %}submenu-active{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}

{% block datatable_title %}{% trans "Suppliers" %}{% endblock datatable_title %}

{% block datatable_id %}tbl_stock_supplier{% endblock datatable_id %}

{% block action_button %}
<div class="p-0 position-fixed" style="right:20px;">
  <a href="{% url 'stocks:stocks_supplier_import' %}" class="btn btn-primary btn-lg fixed-top-content">{% trans 'Import Supplier' %}</a>
  <button class="btn btn-primary btn-lg fixed-top-content export-csv">{% trans 'Export Supplier' %}</button>
  <a href="{% url 'stocks:stocks_supplier_item_create' %}" class="btn btn-primary btn-lg fixed-top-content">{% trans "Add Supplier" %}</a>
</div>
{% endblock action_button %}

{% block datatable_thead_tr %}
  <th>{% trans 'Name' %}</th>
  <th>{% trans 'Code' %}</th>
  <th>{% trans 'Products' %}</th>
  <th>{% trans 'Contact' %}</th>
  <th>{% trans 'Email' %}</th>
  <th>{% trans 'Phone' %}</th>
{% endblock datatable_thead_tr %}

{% block datatable_filter %}
<tr class='datatable-filter'>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control numeric clearable" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control numeric clearable" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control numeric clearable" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
</tr>
{% endblock datatable_filter %}

{% block javascript %}
{{ block.super }}

<script>
	function onlyNumeric(event) {
		return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57;
	};
</script>
<script>
	$(document).ready(function () {
		base_url = "{% url 'stocks:stocks_supplier_item_data' %}";
		tableOptions = {
      columnDefs: [
        {targets: "_all", className: "align-middle"},
        {targets: 'no-sort', orderable: false},
        {
          targets: [0],
          width: "20%",
          render: function(data, type, full, meta) {
            html = '<a href="'+ data.url +'"/>' + data.name + '</a>';
            return html;
          }
        },
      ],
    }

    $(".export-csv").on("click", function(){
      params = table.ajax.params();
      params.length = -1;
      var old_url = table.ajax.url() + "?" + $.param( params );
      new_url = old_url + "&" + $.param({"export_file": "csv"});
      window.open(new_url, '_blank');
    });

	});
</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
{% endblock %}
