{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% load import_export_tags %}

{% block title %}{% trans "Supplier" %}{% endblock %}

{% block stock_active_class %}active{% endblock %}
{% block mobile_stock_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_stock_show %}show{% endblock %}
{% block stock_supplier_item_active_class %}submenu-active{% endblock %}
{% block mobile_stock_stocktransaction_active_class %}submenu-active{% endblock %}

{% block content_header %}{% trans "Import Supplier" %}{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}


{% block sub_content %}
  <div class="tab-content mt-5" id="product-import-tab-content">
    <div class="tab-pane show active" id="product-import" role="product-import" aria-labelledby="product-import-tab">
    <div class="w-100">
        <div class="card-body py-0 px-3">
          <div class="text-center">
            <div style="margin-top:32px; margin-bottom:32px;">
              <h3 class="mb-3">{% trans "Upload Your Supplier?" %}</h3>
              <p class="text-muted">{% trans "You can browse for your supplier spreadsheet or drag the file into the box below." %}</p>
            </div>

            {% if form.errors %}
              {% for field in form %}
                {% for error in field.errors %}
                  <div class="alert alert-danger alert-dismissible fade show">
                    {{ error|escape }}
                  </div>
                {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                <div class="alert alert-danger alert-dismissible fade show">
                  {{ error|escape }}
                </div>
              {% endfor %}
            {% endif %}

            {% if form.result %}
              {% if form.result.has_errors %}
                  {% for error in form.result.base_errors|slice:":5"  %}
                  <div class="alert alert-dark alert-dismissible fade show" role="alert">
                    {{ error.error }}
                  </div>
                  {% endfor %}
                  {% for line, errors in form.result.row_errors|slice:":5" %}
                    {% for error in errors %}
                      <div class="alert alert-dark alert-dismissible fade show" role="alert">
                        {% trans "Line number" %}: {{ line }} - {{ error.error }}
                        <div><code>{{ error.row.values|join:", " }}</code></div>
                      </div>
                    {% endfor %}
                  {% endfor %}
              {% elif form.result.has_validation_errors %}
                {% for row in form.result.invalid_rows|slice:":5" %}
                  {% for field_name, error_list in row.field_specific_errors.items %}
                    <div class="alert alert-dark alert-dismissible fade show" role="alert">
                      {% trans "Line number" %}: {{ row.number }} - kolom {{ field_name}}, {{ error_list|join:", " }}
                      <div><code>{{ row.values|join:", " }}</code></div>
                    </div>
                  {% endfor %}
                {% endfor %}
              {% endif %}
            {% endif %}

            <div class="row row-cols-2 justify-content-center">
              <div class="col-6">
                <div class="card h-100 p-3">
                  <div class="card-body">
                    <form action="." method="post", enctype="multipart/form-data">
                      {% csrf_token %}
                      <div id="drop-zone">
                        <img src="{% static 'images/cloud-upload-2.svg' %}" id="cloud-upload-file">
                        <div id="dropzone-text">
                            <h4>Tarik dan Letakan untuk mengunggah</h4>
                            <p>atau</p>
                        </div>
                        <div id="clickHere">Cari Berkas
                          <input type="file" name="upload_file" class="" required="" id="id_upload_file">
                        </div>
                        <div id="filename">
                        </div>
                      </div>
                      <div class="justify-content-end mt-3" id="fixed-button-content" style="display: flex;">
                        <a href="{% url 'productions:bom_import' %}"  class="btn btn-light">{% trans "Back" %}</a>
                        <input type="submit" class="btn btn-primary ml-1" value="{% trans 'Save' %}"/>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  {{ form.media }}
  <script>
    $(function () {
      var dropZoneId = "drop-zone";
      var buttonId = "clickHere";
      var mouseOverClass = "mouse-over";
      var dropZone = $("#" + dropZoneId);
      var ooleft = dropZone.offset().left;
      var ooright = dropZone.outerWidth() + ooleft;
      var ootop = dropZone.offset().top;
      var oobottom = dropZone.outerHeight() + ootop;
      var inputFile = dropZone.find("input[type='file']");
      var fileicon = "{% static 'images/file.svg' %}";
  
      document.getElementById(dropZoneId).addEventListener("dragover", function (e) {
          e.preventDefault();
          e.stopPropagation();
          dropZone.addClass(mouseOverClass);
          var x = e.pageX;
          var y = e.pageY;
      }, true);
      document.getElementById(dropZoneId).addEventListener("drop", function (e) {
          $("#" + dropZoneId).removeClass(mouseOverClass);
      }, true);
  
      if (inputFile.val() == ""){
          $('#import-button').addClass('disabled');
          $('#import-button').attr('disabled', 'disabled');
          $('#clickHere').show();
          $('#dropzone-text').show();
          $('#cloud-upload-file').show();
      }
  
      inputFile.on('change', function (e) {
          $('#filename').html("");
          var fileNum = this.files.length,
              fileNames = "";
          fileNames = this.files[0].name + '&nbsp;';
          $('#import-button').removeClass('disabled');
          $('#import-button').removeAttr('disabled', 'disabled');
          $('#filename').append('<span class="fa-stack fa-lg"><img src="'+ fileicon +'"></i></span><span class="px-2">' + fileNames + '</span>&nbsp;<button type="button" class="close"><span aria-hidden="true" class="closeBtn" title="remove">&times;</span></button><br>');
          $('#clickHere').hide();
          $('#dropzone-text').hide();
          $('#cloud-upload-file').hide();
        $('#filename').find('.closeBtn').click(function(){
            $('#filename').empty();
            inputFile.val('');
            $('#import-button').attr('disabled', 'disabled');
            $('#import-button').addClass('disabled');
            $('#clickHere').show();
            $('#dropzone-text').show();
            $('#cloud-upload-file').show();
        });
      });
  
  })
  </script>
{% endblock %}
