{% extends "dashboard/base_datatable.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Stock History" %}{% endblock %}

{% block stock_active_class %}active{% endblock %}
{% block mobile_stock_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_stock_show %}show{% endblock %}
{% block stock_stocktransaction_active_class %}submenu-active{% endblock %}
{% block mobile_stock_stocktransaction_active_class %}submenu-active{% endblock %}
{% block content_wrapper_class %}container-fluid{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}
{% block datatable_title %}{% trans "Stock History" %}{% endblock datatable_title %}

{% block datatable_id %}tbl_product{% endblock datatable_id %}

{% block css %}
  {{ block.super }}
  <style>
    #filters{
      padding: 0 10px;
    }
    .datatables-info {
      padding: 8px 10px;
    }
    .table {
      table-layout: auto;
    }
    td {
      white-space: nowrap;
    }
    th {
      white-space: nowrap;
    }

    td:nth-child(1) {
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      
    }
    td:nth-child(2) {
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    td:nth-child(3) {
      min-width: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .text-color-green {
      color: #00AA55;
    }

    .text-color-red {
      color: #EF3F3A;
    }
  </style>
{% endblock %}

{% block action_button %}
<div class="p-0 position-fixed" style="right:20px;">
  <button class="btn btn-primary btn-lg fixed-top-content export-csv">{% trans 'Export CSV' %}</button>
</div>
{% endblock action_button %}

{% block date_range %}
<div id="table-filter" class="mb-3">
  <div class="row align-items-center">
    <div class="mb-0 col-md-2">
      <div class="selectdiv">
        <label class="d-block mb-0">
          <div class="box-custom-select">
          <select id="companyBranch" class="form-control form-control-sm custom-select" style="background-image: none;">
            <option data-pk="0" value="{% url 'stocks:stocks_transaction_data' %}">{% trans "All Branches" %}</option>
            {% if request.user.is_owner %}
              {% for outlet in request.user.account.outlet_set.all %}
                <option data-pk="{{ outlet.pk }}" value="{% url 'stocks:stocks_transaction_data' outlet.pk %}">{{ outlet.name }}
                </option>
              {% endfor %}
            {% else %}
              {% for outlet in request.user.device_user.outlet.all %}
                <option data-pk="{{ outlet.pk }}" value="{% url 'stocks:stocks_transaction_data' outlet.pk %}">{{ outlet.name }}
                </option>
              {% endfor %}
            {% endif %}
          </select>
          </div>
        </label>
      </div>
    </div>
    <div id="date_filter" class="align-items-center">
      <form class="form-inline">
        <div class="form-group">
          <label id="reportrange" class="btn btn-default btn-lg date-calendar d-flex justify-content-between" style="width: 280px;">
            <span>
              {% if start_date and end_date %}
                {{ start_date|date:"d/m/Y" }} -  {{ end_date|date:"d/m/Y" }}
              {% else %}
                {% trans "Filter by Transaction Date" %}
              {% endif %}
              </span>
              &nbsp;<i class="fa fa-angle-down"></i>
            </label>
          </div>
        </form>
    </div>
  </div>
</div>
{% endblock %}

{% block datatable_thead_tr %}
    <th>{% trans 'Product' %}</th>
    <th>{% trans 'Variant' %}</th>
    <th>{% trans 'Transaction Type' %}</th>
    <th>{% trans 'Transaction Date' %}</th>
    <th>{% trans 'Outlet' %}</th>
    <th class="text-right">{% trans 'Quantity' %}</th>
    <th>{% trans 'Reference' %}</th>
    <th>{% trans 'User' %}</th>
{% endblock datatable_thead_tr %}

{% block datatable_filter %}
<tr class='datatable-filter'>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}" onkeypress="onlyNumeric">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}" onkeypress="onlyNumeric">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group mtm">
      <div class="selectdiv">
      <label class="input-group">
      <select class="form-control form-control-sm custom-select extra-table-control">
        <option value='show'>{% trans 'Show All' %}</option>
        <option value='transfer'>{% trans 'Transfer Procedure' %}</option>
        <option value='transaction'>{% trans 'Sales Transaction' %}</option>
        <option value='purchase_order'>{% trans 'Purchase Order' %}</option>
        <option value='stock_adjustment'>{% trans 'Stock Adjustment' %}</option>
        <option value='stock_count'>{% trans 'Stock Count' %}</option>
      </select>
      </label>
      </div>
    </div>
  </td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
</tr>
{% endblock datatable_filter %}

{% block javascript %}
{{ block.super }}

<script>
	function onlyNumeric(event) {
		return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13 || event.charCode == 45) ? null : event.charCode >= 45 && event.charCode <= 57;
	};
</script>
<script>
	$(document).ready(function () {
		base_url = "{% url 'stocks:stocks_transaction_data' %}";

    tableOptions = {
      scrollX: true,
      responsive: true,
      pageLength: 25,
      pagingType: "simple_numbers",
      order: [[ 3, "desc" ]],
      columnDefs: [
        {targets: 'no-sort', orderable: false},
        {targets: 'text-right', className: "text-right"},
      ],
    };

    $(".export-csv").on("click", function(ev){
      params = table.ajax.params();
      params.length = -1;
      var old_url = table.ajax.url() + "?" + $.param( params );
      new_url = old_url + "&" + $.param({"export_file": "csv"});
      window.open(new_url, '_blank');
      ev.preventDefault();
    });

    
	});
</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
<script>
$(document).ready(function(){
  $(".date-calendar").data('daterangepicker').setStartDate(moment().startOf('month'));
  $(".date-calendar").data('daterangepicker').setEndDate(moment().endOf('month'));
});
</script>
<script type="text/javascript">
  $("#companyBranch").change(function() {
    table.ajax.url(this.value).load();
  });

</script>
{% endblock %}
