{% extends "dashboard/base_datatable.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Operasional" %}{% endblock %}

{% block stock_active_class %}active{% endblock %}
{% block mobile_stock_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_stock_show %}show{% endblock %}
{% block stock_card_active_class %}submenu-active{% endblock %}
{% block mobile_stock_card_active_class %}submenu-active{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}
{% block datatable_title %}{% trans "Operasional" %} <small class="margin-custom">({% if outlet %}{{ outlet.name }}{% else %}Semua Outlet{% endif %}, {{ start_date }}-{{ end_date }})</small>{% endblock datatable_title %}
{% block content_wrapper_class %}container-fluid{% endblock %}

{% block datatable_id %}tbl_stock_out{% endblock datatable_id %}

{% block css %}
  {{ block.super }}
  <style>
    #filters{
      padding: 0 10px;
    }
    .margin-custom {
      margin: 0.15rem !important;
    }
    .datatables-info {
      padding: 8px 10px;
    }
    .table {
      table-layout: auto;
    }
    td {
      white-space: nowrap;
    }
    th {
      white-space: nowrap;
    }

    td:nth-child(1) {
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      
    }
    td:nth-child(2) {
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    td:nth-child(3) {
      min-width: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .text-color-green {
      color: #00AA55;
    }

    .text-color-red {
      color: #EF3F3A;
    }
  </style>
{% endblock %}


{% block action_button %}
<div class="p-0 position-fixed" style="right:20px;">
  <button class="btn btn-primary btn-lg fixed-top-content export-csv">{% trans 'Export CSV' %}</button>
</div>
{% endblock action_button %}

{% block datatable_thead_tr %}
<th>{% trans 'Product' %}</th>
<th>{% trans 'Variant' %}</th>
<th>{% trans 'Transaction Type' %}</th>
<th>{% trans 'Transaction Date' %}</th>
<th>{% trans 'Outlet' %}</th>
<th class="text-right">{% trans 'Quantity' %}</th>
<th>{% trans 'Reference' %}</th>
<th>{% trans 'User' %}</th>
{% endblock datatable_thead_tr %}

{% block datatable_filter %}
<tr class='datatable-filter'>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
</tr>
{% endblock datatable_filter %}

{% block javascript %}
{{ block.super }}

<script>
	function onlyNumeric(event) {
		return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13 || event.charCode == 45) ? null : event.charCode >= 45 && event.charCode <= 57;
	};
</script>
<script>
	$(document).ready(function () {
    {% if outlet_pk %}
    base_url = "{% url 'stocks:stock_out_outlet_data' product_pk outlet_pk %}" + "?start_date={{start_date}}&end_date={{end_date}}";
    {% else %}
    base_url = "{% url 'stocks:stock_out_data' product_pk %}" + "?start_date={{start_date}}&end_date={{end_date}}";
    {% endif %}
		tableOptions = {
      scrollX: true,
      responsive: true,
      pageLength: 25,
      pagingType: "simple_numbers",
      order: [[ 3, "desc" ]],
      columnDefs: [
        {targets: 'no-sort', orderable: false},
        {targets: 'text-right', className: "text-right"},
      ],
    }

    $(".export-csv").on("click", function(ev){
      params = table.ajax.params();
      params.length = -1;
      var old_url = table.ajax.url() + "?" + $.param( params );
      new_url = old_url + "&start_date={{start_date}}&end_date={{end_date}}" + "&" + $.param({"export_file": "csv"});
      window.open(new_url, '_blank');
      ev.preventDefault();
    });

	});
</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
{% endblock %}
