{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Vendor Bills" %}{% endblock %}


{% block stock_active_class %}active{% endblock %}
{% block mobile_stock_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_stock_show %}show{% endblock %}
{% block stock_vendor_bills_active_class %}submenu-active{% endblock %}
{% block mobile_stock_vendor_bills_active_class %}submenu-active{% endblock %}
{% block content_header %}{% if object %}{% trans 'Vendor Bill - ' %}{{ object }}{% else %}{% trans "Add Vendor Bill" %}{% endif %}{% endblock %}


{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}


{% block css %}
{{ block.super }}
{{ form.media.css }}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.3/daterangepicker.css"/><style>
  .formset-wrapper .invalid-feedback {
    margin: 0;
  }
  .products-dropdown + .select2-container {
    width: 400px !important;
  }
  .table {
    table-layout: fixed;
  }
  .table tr th:first-child{
    width: 40% !important;
  }

  .unit-dropdown + .select2-container{
      width: 150px !important;
      min-width: 150px !important;
  }
</style>
{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div2_class %}px-2{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block action_div_style %}background: white; border-top: 1px solid #d7d7db;{% endblock %}
{% block submit_form %}
      <div class="d-flex justify-content-end" id="fixed-bottom-button">
        <a href="{% if object %}{% url 'stocks:stocks_vendor_bill_detail' object.pk %}{% else %}{% url 'stocks:stocks_vendor_bill' %}{% endif %}" class="btn btn-light">{% trans "Back" %}</a>
        <button type="submit" id="submitBtn" class="btn btn-primary ml-1">
          <span id="submit-text">{% if object %}{% trans 'Save' %}{% else %}{% trans 'Create' %}{% endif %}</span>
          <i id="submit-icon" class=""></i>
        </button>
      </div>
{% endblock %}

{% block sub_content %}
  <form method="post" action="." id="vendor_bill_form">
    {% crispy form %}
    {% crispy formset formset_helper %}
    <div class="justify-content-end {% if grid %}{{ grid }}{% else %}col-12{% endif %} p-0" id="fixed-button-content" style="display: flex;">
      <a href="{% if object %}{% url 'stocks:stocks_vendor_bill_detail' object.pk %}{% else %}{% url 'stocks:stocks_vendor_bill' %}{% endif %}" class="btn btn-light">{% trans "Back" %}</a>
      <button type="submit" class="btn btn-primary ml-1">
        <span id="submit-text">{% if object %}{% trans 'Save' %}{% else %}{% trans 'Create' %}{% endif %}</span>
        <i id="submit-icon" class=""></i>
      </button>
    </div>
  </form>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  {{ form.media.js }}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.3/daterangepicker.js"></script>

  <script src="{% static 'js/jquery.formset.js' %}"></script>
  <script src="{% static '/js/button-scrollbar.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8.17.6/dist/sweetalert2.all.min.js"></script>
  <script>
    (function($) {
      $.fn.inputFilter = function(inputFilter) {
        return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function() {
          if (inputFilter(this.value)) {
            this.oldValue = this.value;
            this.oldSelectionStart = this.selectionStart;
            this.oldSelectionEnd = this.selectionEnd;
          } else if (this.hasOwnProperty("oldValue")) {
            this.value = this.oldValue;
            this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
          }
        });
      };
    }(jQuery));

    (function($){
      $.fn.decimalInput = function(){
        return this.on("input keydown keypress keyup blur", function(event){
          if (event.shiftKey == true) {
            event.preventDefault();
          }
          if ((event.keyCode >= 48 && event.keyCode <= 57) || 
            (event.keyCode >= 96 && event.keyCode <= 105) || 
            event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 ||
            event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190) {

          } else {
              event.preventDefault();
          }

          if($(this).val().indexOf('.') !== -1 && event.keyCode == 190)
            event.preventDefault()
        });
      }
    }( jQuery ));
  </script>
  <script>
    $(document).ready(function(){
      $('.formset-wrapper').formset();
      $("#submitBtn").on("click", function () {
        $("#vendor_bill_form").submit();
      });

      $("#vendor_bill_form").on("submit", function(){
        $("button[type=submit]").attr("disabled", "disabled");
        $("button[type=submit] #submit-text").empty().append("Menyimpan");
        $("button[type=submit] #submit-icon").addClass("fa fa-spinner fa-spin");
      });

      $("#id_bill_date, #id_due_date").daterangepicker({
        "singleDatePicker": true,
        "showCustomRangeLabel": false,
        'locale': {
          'format': 'DD/MM/YYYY',
          "customRangeLabel": "Pilih Tanggal",
          "applyLabel": "Terapkan",
          "cancelLabel": "Batal",
          "daysOfWeek": [
            "Min",
            "Sen",
            "Sel",
            "Rab",
            "Kam",
            "Jum",
            "Sab"
          ],
          "monthNames": [
            "Januari",
            "Februari",
            "Maret",
            "April",
            "Mei",
            "Juni",
            "Juli",
            "Agustus",
            "September",
            "Oktober",
            "November",
            "Desember"
          ],
        }
      });

      $(document).on("change", "select[name=received_order]", function(){
        $.ajax({
          url: "{% url 'stocks:stocks_vendor_bill_get_details' %}",
          type: "GET",
          data: {
            received_order: $(this).val(),
          },
          success: function(response){
            if(response.status == "success"){
              $("input[name=vendor_bill_detail-TOTAL_FORMS]").val(response.result.received_data.length);
              initial_data = "";
              $("#vendor_bill_detail_table tbody").empty();
              $.each(response.result.received_data, function(index, value){
                data = `
                <tr data-formset-form="vendor_bill_detail-`+index+`" data-has-instance="false">
                  <td id="div_id_vendor_bill_detail-`+index+`-product_name" class="form-group align-top pl-0">
                    <div class="">
                      <input type="text" name="vendor_bill_detail-`+index+`-product_name" readonly="" value="`+value.product_name+`" style="background-color: #fff !important; border: 0 !important;" class="textinput textInput form-control" id="id_vendor_bill_detail-`+index+`-product_name"> 
                    </div>
                  </td>
                  <td id="div_id_vendor_bill_detail-`+index+`-quantity" class="form-group align-top pl-0">
                    <div class="">
                      <input type="text" name="vendor_bill_detail-`+index+`-quantity" readonly="" value="`+value.quantity+`" style="background-color: #fff !important; border: 0 !important;" class="textinput textInput form-control" id="id_vendor_bill_detail-`+index+`-quantity">
                    </div>
                  </td>
                  <td id="div_id_vendor_bill_detail-`+index+`-unit" class="form-group align-top pl-0">
                    <div class="">
                      <input type="text" name="vendor_bill_detail-`+index+`-unit" readonly="" value="`+value.unit+`" style="background-color: #fff !important; border: 0 !important;" class="textinput textInput form-control" id="id_vendor_bill_detail-`+index+`-unit">
                    </div>
                  </td>
                  <td id="div_id_vendor_bill_detail-`+index+`-purchase_cost" class="form-group align-top pl-0">
                    <div class="">
                      <input type="text" name="vendor_bill_detail-`+index+`-purchase_cost" value="`+value.purchase_cost+`" class="textinput textInput form-control" id="id_vendor_bill_detail-`+index+`-purchase_cost">
                    </div>
                  </td>
                  <input type="hidden" name="vendor_bill_detail-`+index+`-product" value="`+value.product+`" id="id_vendor_bill_detail-`+index+`-product">
                  <input type="hidden" name="vendor_bill_detail-`+index+`-vendor_bill" id="id_vendor_bill_detail-`+index+`-vendor_bill">
                  <input type="hidden" name="vendor_bill_detail-`+index+`-id" id="id_vendor_bill_detail-`+index+`-id"> 
                </tr>
                `;
                initial_data += data;
              });
              $("#vendor_bill_detail_table tbody").append(initial_data);
            }
          }
        });
      });

    });
  </script>
{% endblock %}