{% extends "dashboard/base_datatable.html" %}
{% load static i18n humanize %}
{% load crispy_forms_tags %}
{% load detail_display %}
{% load template_utils %}

{% block title %}{% trans "Vendor Bill" %} {% endblock title %}

{% block datatable_title %}{% trans "Vendor Bill" %} {% endblock datatable_title %}

{% block stock_active_class %}active{% endblock %}
{% block mobile_stock_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_stock_show %}show{% endblock %}
{% block stock_vendor_bills_active_class %}submenu-active{% endblock %}
{% block mobile_stock_vendor_bills_active_class %}submenu-active{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}

{% block action_button %}
<div class="p-0 position-fixed" style="right:20px;">
  <button type="button" id="print_btn" class="btn btn-outline-primary fixed-top-content">{% trans 'Print' %}</button>
  <a href="{% url 'stocks:stocks_vendor_bill_update' object.pk %}" class="btn btn-outline-primary  btn-lg fixed-top-content"> {% trans 'Update' %}</a>
</div>
{% endblock action_button %}


{% block datatable_panel_title %}
  {% trans "Vendor Bill Detail" %}
{% endblock datatable_panel_title %}

{% block sub_content %}
<div class="w-100">
  <div title='sales-detail' class="report mb-4 mx-0 col-lg-6 px-0">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between" id='report-table'>
          <p class="m-3">{% trans "Reference RO" %}</p>
          <p class="m-3"><a href="{% url 'stocks:stocks_received_order_detail' object.received_order.pk %}">{{ object.received_order }}</a></p>
        </div>
        <div class="d-flex justify-content-between" id='report-table'>
          <p class="m-3">{% trans "Code" %}</p>
          <p class="m-3">{{ object.code }}</p>
        </div>
        <div class="d-flex justify-content-between" id='report-table'>
          <p class="m-3">{% trans "Bill Date" %}</p>
          <p class="m-3">{{ object.bill_date }}</p>
        </div>
        <div class="d-flex justify-content-between">
            <p class="m-3">{% trans "Due Date" %}</p>
            <p class="m-3">{{ object.due_date }}</p>
          </div>
      </div>
    </div>

  </div>
  <div class="mb-4 mx-0 col-lg-12 px-0">
    {% if object.vendor_bill_detail.exists %}
    
    <div class="card">
      <div class="card-header">
        <h4 class="my-1">{% trans "Vendor Bill Detail" %}</h4>
      </div>
      <div class="car-body">
        <div class="table-responsive">
          <table class="table mb-0 border-0">
            <thead>
              <tr>
                <th class="m-3 text-left">{% trans "Product" %}</th>
                <th class="m-3 text-left">{% trans "Variant" %}</th>
                <th class="m-3 text-left">{% trans 'SKU' %}</th>
                <th class="m-3 text-right">{% trans "Quantity" %}</th>
                <th class="m-3 text-right">{% trans 'Purchase Cost' %}</th>
                <th class="m-3 text-right">{% trans "Discount" %}</th>
                <th class="m-3 text-right">{% trans 'Total Cost' %}</th>
              </tr>
            </thead>
            <tbody class="">
              {% for obj in vendor_bill_detail %}
                <tr>
                  <td class="m-3">{{obj.product.catalogue.name }}</td>
                  <td class="m-3">{{ obj.product.name }}</td>
                  <td class="m-3">{{ obj.product.sku }}</td>
                  <td class="m-3 text-right">{% get_normalized_decimal obj.quantity %} {{ obj.unit }}</td>
                  <td class="m-3 text-right">Rp. {% get_normalized_decimal obj.purchase_cost.amount %}</td>
                  <td class="m-3 text-right">
                    {% if obj.discount_type == "percentage" %}
                    {% get_normalized_decimal obj.discount %} %
                    {% else %}
                    Rp. {% get_normalized_decimal obj.discount %}
                    {% endif %}
                  </td>
                  <td class="m-3 text-right">Rp. {% get_normalized_decimal obj.total_cost %}</td>
                </tr>
              {% endfor %}
              <tr class="border-top">
                <td colspan=5></td>
                <td class="m-3 border-bottom"><b>{% trans 'Subtotal' %}</b></td>
                <td class="m-3 border-bottom text-right"><b>Rp. {% get_normalized_decimal object.total_cost %}</b></td>
              </tr>
                <td colspan=5 class="border-0"></td>
                <td class="m-3"><b>{% trans 'Total' %}</b></td>
                <td class="m-3 text-right"><b>Rp. {% get_normalized_decimal object.grand_total %}</b></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% else %}
    <div class="card">
      <div class="card-body">
        <div class="text-center margin-100">
          <img alt="disable" src="{% static 'images/data_not_found.svg' %}" style="width: 160px">
            <div style="margin-top:32px; margin-bottom:32px;">
                 <p class="text-muted text-center my-0">Data Transfer Order tidak ada.</p>
            </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock sub_content %}

{% block javascript %}
{{ block.super }}
<!-- place project specific Javascript in this file -->
<script>
  $(document).ready(function () {
    tableOptions = {
        ajax : "",
        serverSide: false,
        deferRender: true,
        columnDefs: [
          {
            'targets': [2],
            'render': function (data, type, row) {
                var SaveTemp = data.split(' - ');
                return SaveTemp[0];
            },
            'visible': true,
            'searchable': false
          },
        ],
    };

    $("#print_btn").on("click", function(){
      url = "{% url 'stocks:stocks_vendor_bill_detail' object.pk %}" + "?export_file=pdf";
      window.open(url, '_blank');
    });


  });
</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
{% endblock %}
