{% extends "dashboard/base_datatable.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Vendor Bills" %}{% endblock %}

{% block stock_active_class %}active{% endblock %}
{% block mobile_stock_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_stock_show %}show{% endblock %}
{% block stock_vendor_bills_active_class %}submenu-active{% endblock %}
{% block mobile_stock_vendor_bills_active_class %}submenu-active{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}

{% block datatable_title %}{% trans "Vendor Bills" %}{% endblock datatable_title %}

{% block datatable_id %}tbl_stock_vendor_bills{% endblock datatable_id %}

{% block action_button %}
<div class="p-0 position-fixed" style="right:20px;">
  {% if user.account.inventorysetting_set.first.vendor_bill_accurate_excel %}
  <button class="btn btn-primary btn-lg fixed-top-content export-date-calendar">{% trans 'Export' %} <i class="fa fa-angle-down"></i></button>
  {% endif %}
	<a href="{% url 'stocks:stocks_vendor_bill_create' %}" class="btn btn-primary btn-lg fixed-top-content">{% trans "Add Vendor Bill" %}</a>
</div>
{% endblock action_button %}

{% block datatable_thead_tr %}
  <th>{% trans 'Code' %}</th>
  <th>{% trans 'Bill Date' %}</th>
  <th>{% trans 'Due Date' %}</th>
  <th>{% trans 'Reference RO' %}</th>
  <th>{% trans 'Supplier' %}</th>
  <th>{% trans 'Outlet' %}</th>
{% endblock datatable_thead_tr %}

{% block datatable_filter %}
<tr class='datatable-filter'>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}" onkeypress="onlyNumeric">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <label id="reportrange" class="form-control extra-table-control btn btn-default btn-lg date-calendar">
        &nbsp;<span>{% trans "Filter by Date" %}</span>
        &nbsp;<i class="fa fa-angle-down"></i>
      </label>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <label id="reportrange" class="form-control extra-table-control btn btn-default btn-lg date-calendar">
        &nbsp;<span>{% trans "Filter by Date" %}</span>
        &nbsp;<i class="fa fa-angle-down"></i>
      </label>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}" onkeypress="onlyNumeric">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group mtm">
      <div class="selectdiv">
      <label class="input-group">
      <select class="form-control form-control-sm custom-select extra-table-control">
        <option>{% trans "All" %}</option>
        {% for supplier in suppliers %}
          <option value={{supplier.pk}}>{{supplier.name}}</option>
        {% endfor %}
      </select>
      </label>
      </div>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group mtm">
      <div class="selectdiv">
      <label class="input-group">
      <select class="form-control form-control-sm custom-select extra-table-control">
        <option>{% trans "All" %}</option>
        {% for outlet in outlets %}
          <option value={{outlet.pk}}>{{outlet.name}}</option>
        {% endfor %}
      </select>
      </label>
      </div>
    </div>
  </td>
</tr>
{% endblock datatable_filter %}

{% block javascript %}
{{ block.super }}

<script>
	function onlyNumeric(event) {
		return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57;
	};
</script>
<script>
	$(document).ready(function () {
		base_url = "{% url 'stocks:stocks_vendor_bill_data' %}";
		tableOptions = {
      columnDefs: [
        {targets: "_all", className: "align-middle"},
        {targets: 'no-sort', orderable: false},
        {
          targets: [0],
          orderable: false,
            render: function(data, type, full, meta) {
            html = '<a href="'+ data.url +'"/>' + data.name + '</a>';
            return html;
          },
        },
      ],
      order: [[1, "desc"]],
    }
    $('.export-date-calendar').daterangepicker({
      'minDate': moment().subtract(36, 'month'),
      'maxDate': moment().add(1, 'month'),
      'ranges': {
          'Hari ini': [moment().format('DD/MM/YYYY 00:00:00'), moment().format('DD/MM/YYYY 23:59:59')],
          'Kemarin': [moment().subtract(1, 'days').format('DD/MM/YYYY 00:00:00'), moment().subtract(1, 'days').format('DD/MM/YYYY 23:59:59')],
          'Minggu ini': [moment().startOf('isoweek').format('DD/MM/YYYY 00:00:00'), moment().endOf('isoweek').format('DD/MM/YYYY 23:59:59')],
          'Bulan ini': [moment().startOf('month').format('DD/MM/YYYY 00:00:00'), moment().endOf('month').format('DD/MM/YYYY 23:59:59')],
          'Minggu lalu': [moment().subtract(1, 'week').startOf('isoweek').format('DD/MM/YYYY 00:00:00'), moment().subtract(1, 'week').endOf('isoWeek').format('DD/MM/YYYY 23:59:59')],
          'Bulan lalu': [moment().subtract(1, 'month').startOf('month').format('DD/MM/YYYY 00:00:00'), moment().subtract(1, 'month').endOf('month').format('DD/MM/YYYY 23:59:59')],

      },
      'opens': "left",
      'locale': {
        'format': 'DD/MM/YYYY',
        "customRangeLabel": "Pilih Tanggal",
        "applyLabel": "Terapkan",
        "cancelLabel": "Batal",
        "daysOfWeek": [
          "Min",
          "Sen",
          "Sel",
          "Rab",
          "Kam",
          "Jum",
          "Sab"
        ],
        "monthNames": [
          "Januari",
          "Februari",
          "Maret",
          "April",
          "Mei",
          "Juni",
          "Juli",
          "Agustus",
          "September",
          "Oktober",
          "November",
          "Desember"
        ],
      },
    },
    function (start, end, label) {
      var s = moment(start.toISOString());
      var e = moment(end.toISOString());
      startDate = s.format('YYYY-MM-DD HH:mm:ss');
      endDate = e.format('YYYY-MM-DD HH:mm:ss');

      date_format = s.format('DD/MM/YYYY') + ' - ' + e.format('DD/MM/YYYY')
    });

    $('.export-date-calendar').on('cancel.daterangepicker', function (ev, picker) {
      $(this).val('');
      start_date = null;
      end_date = null;
    });

    function removeParam(key, sourceURL) {
      var rtn = sourceURL.split("?")[0],
          param,
          params_arr = [],
          queryString = (sourceURL.indexOf("?") !== -1) ? sourceURL.split("?")[1] : "";
      if (queryString !== "") {
          params_arr = queryString.split("&");
          for (var i = params_arr.length - 1; i >= 0; i -= 1) {
              param = params_arr[i].split("=")[0];
              if (param === key) {
                  params_arr.splice(i, 1);
              }
          }
          rtn = rtn + "?" + params_arr.join("&");
      }
      else {
        params_arr = queryString.split("&");
        rtn = rtn + "?" + params_arr.join("&");
      }
      return rtn;
    }

    $('.export-date-calendar').on('apply.daterangepicker',
      function (ev, picker) {
        console.log("ASD")
        params = table.ajax.params();
        params.length = -1;
        var old_url = table.ajax.url() + "?" + $.param( params );
        var alteredStartURL = removeParam("start_date", old_url);
        alteredEndURL = removeParam("end_date", alteredStartURL);
        start_date = picker.startDate.format('YYYY-MM-DD HH:mm:ss');
        end_date = picker.endDate.format('YYYY-MM-DD HH:mm:ss');
        new_url = alteredEndURL + "&" +"start_date=" + start_date + "&end_date=" + end_date + "&" + $.param({"export_file": "excel"});
        window.open(new_url, '_blank');
    });
	});
</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
{% endblock %}
