{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Receipt" %}{% endblock %}


{% block css %}
  {{ block.super }}
  <!-- Your stuff: Third-party css libraries go here -->
  {{ account_form.media.js }}
  {{ outlet_form.media.css }}
  {{ form.media.css }}
  {{ template_form.media.css }}
  <style>
    .switch {
      margin-top: 3px;
      position: relative;
      display: inline-block;
      width: 40px;
      height: 20px;
    }

    .switch input {display:none;}

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 12px;
      width: 12px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    .switch input:checked + .slider {
      background-color: #2196F3;
    }

    .switch input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    .switch input:checked + .slider:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }

    .struk-preview p{
      font-size: 12px;
      line-height: 1.5;
    }

    .struk-preview {
         background:
            linear-gradient(-135deg, #ffffff 5px, transparent 0) 0 5px,
            linear-gradient(135deg, #ffffff 5px, #f7f7f7 0) 0 5px;
        background-color: #ffffff;
        background-position: left bottom;
        background-repeat: repeat-x;
        background-size: 10px 10px;
    }

    #div_id_all_outlet {
      display: none;
    }
    .select2-container {
      min-width: 1rem !important;
    }
    .preview-image {
      max-width: 100%;
    }
  </style>
{% endblock %}

{% block settings_active_class %}active{% endblock %}
{% block mobile_settings_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_settings_show %}show{% endblock %}
{% block settings_reciept_active_class%}submenu-active{% endblock %}
{% block mobile_settings_reciept_active_class%}submenu-active{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block action_div_style %}background: white; border-top: 1px solid #d7d7db;{% endblock %}
{% block tab_div_style %}background: white; border-bottom: 1px solid #d7d7db;{% endblock %}
{% block content_header %}{% trans "Receipt" %}{% endblock %}

{% block submit_form %}
    <div class="d-flex justify-content-end" id="fixed-bottom-button">
      <p class="btn btn-primary mr-1 mb-0" id="all_outlet_1">{% trans 'Implement Receipt for All Outlet' %}</p>
      <input type="submit" class="btn btn-primary" id="submitBtn" value="{% trans 'Save' %}"/>
    </div>
{% endblock%}
{% block sub_content %}
  <div class="w-100">
      <form enctype="multipart/form-data" method="post" action="." id="receipt-form">
        <div class="row mx-0 p-0">
          <div class="col-lg-6 p-0">
            <div class="card">
              <div class="card-body">
                <div class="form-group">
                  <p class="p-1 mr-4 mb-0">Outlet</p>
                  <select id='outlet' class="form-control form-control-sm custom-select">
                    {% if request.user.is_owner %}
                      {% for outlet in request.user.account.outlet_set.all %}
                        <option data-pk={{outlet.pk}} value="{% url 'receipt:receipt' outlet.pk %}">{{outlet.name}}</option>
                      {% endfor %}
                    {% else %}
                      {% for outlet in request.user.device_user.outlet.all %}
                        <option data-pk={{outlet.pk}} value="{% url 'receipt:receipt' outlet.pk %}">{{outlet.name}}</option>
                      {% endfor %}
                    {% endif %}
                  </select>
                </div>
                <ul class="nav nav-tabs" id="myTab" style="border-bottom: 1px solid #d7d7db;">
                  <li class="nav-item">
                    <a class="nav-link active" id="receipt-tab" data-toggle="tab" href="#receipt" role="tab" aria-controls="receipt" aria-selected="true">Resi Pembayaran</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="edit-visibility-receipt-tab" data-toggle="tab" href="#edit-visibility-receipt" role="tab" aria-controls="edit-visibility-receipt" aria-selected="false">Edit Tampilan</a>
                  </li>
                </ul>
                <div class="tab-content pt-3" id="receipt-tab-content">
                  <div class="tab-pane fade show active" id="receipt" role="tabpanel" aria-labelledby="receipt-tab">
                      {% crispy outlet_form %}
                    <div class="divider"></div>
                      {% crispy form %}
                  </div>
                  <div class="tab-pane fade" id="edit-visibility-receipt" role="tabpanel" aria-labelledby="edit-visibility-receipt-tab">
                    <div class="preveiw-header form-group">
                        <p class="py-1 mr-4 mb-0">{% trans "Preview" %}</p>
                        <select class="custom-select form-control" name="template-preview" id="id_template_preview">
                          <option value="48">80 mm</option>
                          <option value="32">58 mm</option>
                        </select>
                     </div>
                    <div class="pt-1">
                        {% crispy template_form %}
                    </div>
                    {% crispy visibility_receipt_form %}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class=" col-lg-4" style="padding:8px 15px 0px 32px;">
            <div class=" help-section">
              <h4>Informasi Resi Pembayaran</h4>
                <p class="text-muted mb-2">Resi Pembayaran dapat dikostumisasi, seperti mengatur informasi yang ingin ditampilkan
                  pada resi pembayaran tersebut. Tombol terapkan resi pembayaran untuk semua outlet digunakan untuk menerapkan informasi
                  yang ingin ditampilkan pada resi pembayaran.
                </p>
              <div class="card-body">
                <div class="struk-preview p-3 paper-size-80" id="struk-preview">
                  <div id="receipt-header">
                    <div class="receipt receipt-brand_logo" data-category="brand_logo">
                        <div class="d-flex mt-2 pb-3" id="div_receipt_logo">
                          <img src="{% static 'images/default-image.png' %}" class="preview-image mx-auto d-block" id="preview-image" alt="">
                        </div>
                      </div>
                      <div class="d-flex flex-column bd-highlight text-center" id="div_receipt_header_info">
                        <h5 class="receipt preview-receipt-header receipt-outlet" data-category="outlet"></h5>
                        <p class="receipt preview-outlet-address mb-0 receipt-address" data-category="address"></p>
                        <p class="receipt preview-city mb-0 receipt-city" data-category="city">{{ outlet.city }}</p>
                        <p class="receipt mb-0 receipt-province" data-category="province"> <span class="preview-province">{{ outlet.province }}</span> - <span class="preview-postal-code">{{ outlet.postal_code }}</span></p>
                        <p class="receipt preview-phone mb-0 receipt-phone" data-category="phone">{{ outlet.phone }}</p>
                    </div>
                  </div>
                  <div class="receipt-info template_3 mt-4 pb-2">
                    <div class="d-flex justify-content-between">
                      <p class="m-0">Kode Struk</p>
                      <p class="m-0">012345678</p>
                    </div>
                    <div class="d-flex justify-content-between">
                      <p class="m-0">No. Meja</p>
                      <p class="m-0">#02</p>
                    </div>
                    <div class="d-flex justify-content-between">
                      <p class="m-0">Tanggal</p>
                      <p class="m-0">08/09/2018 18:23</p>
                    </div>
                    <div class="d-flex justify-content-between">
                      <p class="m-0">Kasir</p>
                      <p class="m-0">John Doe</p>
                    </div>
                    <div class="d-flex justify-content-between">
                      <p class="m-0">Pelanggan</p>
                      <p class="m-0">Jane Doe</p>
                    </div>
                  </div>
                  <div class="receipt-info template_1 mt-4 pb-2">
                    <div class="d-flex justify-content-start">
                      <div class="w-25 d-flex justify-content-between">
                          <p class="m-0">Kode Struk</p>
                          <p class="m-0">:</p>
                      </div>
                      <p class="w-75 pl-2 mb-0">012345678</p>
                    </div>
                    <div class="d-flex justify-content-start">
                      <div class="w-25 d-flex justify-content-between">
                          <p class="m-0">No. Meja</p>
                          <p class="m-0">:</p>
                      </div>
                      <p class="w-75 pl-2 mb-0">#02</p>
                    </div>
                    <div class="d-flex justify-content-start">
                      <div class="w-25 d-flex justify-content-between">
                          <p class="m-0">Tanggal</p>
                          <p class="m-0">:</p>
                      </div>
                      <p class="w-75 pl-2 mb-0">08/09/2018 18:23</p>
                    </div>
                    <div class="d-flex justify-content-start">
                      <div class="w-25 d-flex justify-content-between">
                          <p class="m-0">Kasir</p>
                          <p class="m-0">:</p>
                      </div>
                      <p class="w-75 pl-2 mb-0">John Doe</p>
                    </div>
                    <div class="d-flex justify-content-start">
                      <div class="w-25 d-flex justify-content-between">
                          <p class="m-0">Pelanggan</p>
                          <p class="m-0">:</p>
                      </div>
                      <p class="w-75 pl-2 mb-0">Jane Doe</p>
                    </div>
                  </div>
                  <div class="receipt-info template_2 mt-4 pb-2">
                    <div class="d-flex justify-content-start">
                      <div class="w-25 d-flex justify-content-between">
                          <p class="m-0">Kode Struk</p>
                          <p class="m-0">:</p>
                      </div>
                      <p class="w-75 pl-2 mb-0">012345678</p>
                    </div>
                    <div class="d-flex justify-content-start">
                      <div class="w-25 d-flex justify-content-between">
                          <p class="m-0">No. Meja</p>
                          <p class="m-0">:</p>
                      </div>
                      <p class="w-75 pl-2 mb-0">#02</p>
                    </div>
                    <div class="d-flex justify-content-start">
                      <div class="w-25 d-flex justify-content-between">
                          <p class="m-0">Tanggal</p>
                          <p class="m-0">:</p>
                      </div>
                      <p class="w-75 pl-2 mb-0">8 September 2018 18:23:45</p>
                    </div>
                    <div class="d-flex justify-content-start">
                      <div class="w-25 d-flex justify-content-between">
                          <p class="m-0">Kasir</p>
                          <p class="m-0">:</p>
                      </div>
                      <p class="w-75 pl-2 mb-0">John Doe</p>
                    </div>
                    <div class="d-flex justify-content-start">
                      <div class="w-25 d-flex justify-content-between">
                          <p class="m-0">Pelanggan</p>
                          <p class="m-0">:</p>
                      </div>
                      <p class="w-75 pl-2 mb-0">Jane Doe</p>
                    </div>
                  </div>
                  <div class="purchase-detail mt-2 pb-2">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex justify-content-start"><p class="m-0">Nasi Goreng Gila</p></div>
                      <div class="w-50 d-flex justify-content-end">
                        <p class="m-0">Rp. 40.000</p>
                      </div>
                    </div>
                    <div class="d-flex justify-content-start ml-4 mb-1">
                      <p class="m-0">@Rp. 20.000</p>
                      <p class="m-0 ml-1"> x2</p>
                    </div>
                    <div class="d-flex justify-content-between">
                      <div class="d-flex justify-content-start"><p class="m-0">Telor Ceplok</p></div>
                      <div class="w-50 d-flex justify-content-end">
                        <p class="m-0">Rp. 5.000</p>
                      </div>
                    </div>
                    <div class="d-flex justify-content-between">
                      <p class="m-0 ml-4">Setengah Matang</p>
                    </div>
                    <div class="d-flex justify-content-start ml-4 mb-1">
                      <p class="m-0">@Rp. 2.500</p>
                      <p class="m-0 ml-1"> x2</p>
                    </div>
                    <div class="d-flex justify-content-between">
                      <div class="d-flex justify-content-start"><p class="m-0">Gulai Ayam</p></div>
                      <div class="w-50 d-flex justify-content-end">
                        <p class="m-0">Rp. 25.000</p>
                      </div>
                    </div>
                    <div class="d-flex justify-content-start ml-4 mb-1">
                      <p class="m-0">@Rp. 25.000</p>
                      <p class="m-0 ml-1"> x1</p>
                    </div>
                    <div class="receipt receipt-product_notes justify-content-start ml-4 mb-1" data-category="product_notes">
                      <p class="m-0"><small>Bagian dada</small></p>
                    </div>
                    <div class="d-flex justify-content-between">
                      <div class="d-flex justify-content-start"><p class="m-0">Es Teh Manis</p></div>
                      <div class="w-50 d-flex justify-content-end">
                        <p class="m-0">Rp. 10.000</p>
                      </div>
                    </div>
                    <div class="d-flex justify-content-start ml-4 mb-1">
                      <p class="m-0">@Rp. 5.000</p>
                      <p class="m-0 ml-1"> x2</p>
                    </div>
                    <div class="receipt receipt-product_notes justify-content-start ml-4 mb-1" data-category="product_notes">
                      <p class="m-0"><small>Low Sugar</small></p>
                    </div>
                    <div class="d-flex justify-content-between">
                      <p class="m-0">Paket Combo 1</p>
                      <p class="m-0">Rp. 50.000</p>
                    </div>
                    <div class="d-flex justify-content-start ml-4">
                      <div class="d-flex flex-column">
                        <p class="m-0">1x Nasi Putih</p>
                        <p class="m-0">1x Sop Buntut</p>
                        <p class="m-0">1x Es Teh Manis</p>
                      </div>
                    </div>
                    <div class="d-flex justify-content-start ml-4 mb-1">
                      <p class="m-0">@Rp. 50.000</p>
                      <p class="m-0 ml-1"> x1</p>
                    </div>
                  </div>
                  <div class="subtotal-detail mt-2 pb-2">
                    <div class="d-flex justify-content-between">
                      <p class="m-0">Subtotal</p>
                      <p class="m-0">Rp. 130.000</p>
                    </div>
                    <div class="d-flex justify-content-between">
                      <p class="m-0">PPN (10%)</p>
                      <p class="m-0">Rp. 13.000</p>
                    </div>
                    <div class="d-flex justify-content-between">
                      <p class="m-0">Service (5%)</p>
                      <p class="m-0">Rp. 6.500</p>
                    </div>
                    <div class="d-flex justify-content-between">
                      <p class="m-0">Total</p>
                      <p class="m-0">Rp. 149.500</p>
                    </div>
                  </div>
                  <div class="payment-detail mt-2 pb-2">
                    <div class="d-flex justify-content-between">
                      <p class="m-0">Tunai</p>
                      <p class="m-0">Rp. 150.000</p>
                    </div>
                    <div class="d-flex justify-content-between">
                      <p class="m-0">Kembali</p>
                      <p class="m-0">Rp. 500</p>
                    </div>
                  </div>
                  <div class="d-flex justify-content-center">
                    <p class="receipt preview-notes w-100 text-center receipt-notes" data-category="notes"></p>
                  </div>
                  <div class="d-flex flex-column bd-highlight">
                    <span class="receipt preview-website mb-2 receipt-website" data-category="website"></span>
                    <span class="receipt preview-facebook mb-2 receipt-social_facebook" data-category="social_facebook"></span>
                    <span class="receipt preview-twitter mb-2 receipt-social_twitter" data-category="social_twitter"></span>
                    <span class="receipt preview-instagram mb-2 receipt-social_instagram" data-category="social_instagram"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="justify-content-end col-6 p-0" id="fixed-button-content" style="display: flex;">
            <p class="btn btn-primary mr-1 mb-0" id="all_outlet">{% trans 'Implement Receipt for All Outlet' %}</p>
            <input type="submit" class="btn btn-primary ml-1" value="{% trans 'Save' %}"/>
          </div>
        </div>
      </form>
  </div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  {{ account_form.meida.js }}
  {{ outlet_form.media.js }}
  {{ form.media.js }}
  {{ template_form.media.js }}
  <script src="{% static 'js/custom-visibility-receipt.js' %}"></script>
  <script src="{% static '/js/button-scrollbar.js' %}"></script>
  <script>
    function customCheckbox(checkboxName){
    var checkBox = $('.form-check input[type="'+ checkboxName +'"]');
    $(checkBox).each(function(){
        if($(this).is(':checked')){
            $(this).closest(".form-check-input").addClass("selected");
        }
    });
    $(checkBox).click(function(){
        $(this).closest(".form-check-input").toggleClass("selected");
    });
    }
    $(document).ready(function(){
      customCheckbox("checkbox");
      $('#all_outlet').on('click', function(){
        $('#div_id_all_outlet input[type="checkbox"]').prop('checked', true);
        $("#receipt-form").submit();
      });
      $('#all_outlet_1').on('click', function(){
        $('#div_id_all_outlet input[type="checkbox"]').prop('checked', true);
        $("#receipt-form").submit();
      });
      $("#submitBtn").click(function () {
        $("#receipt-form").submit();
      });

      $("#outlet").change(function() {
        new_url = this.value;
        window.location = new_url;
      });
      $("option[data-pk='{{outlet.pk}}']").prop('selected',true);

      function readFile(input) {
        var ValidImageTypes = ["image/gif", "image/jpeg", "image/png", "image/jpg"];
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            $('.dropzone-box').css('border', '1px solid #ebedf2', "!important");
            $('.invalid-feedback').hide();
            var wrapperZone = $(input).parent();
            if($.inArray(input.files[0].type, ValidImageTypes) < 0){
              $('.dropzone-box').css('border', '1px solid #dc3545', "!important");
              $('.dropzone-box').after('<span id="error_1_id_{{field.name}}" class="invalid-feedback"> \
                <strong>Upload a valid image. The file you uploaded was either not an image or a corrupted image.</strong> \
                </span>');
            }else{
              if(input.files[0].size < 4 * 1024 * 1024){
                $(wrapperZone).css("background-image", "url(" + e.target.result +")");
                $(wrapperZone).css("background-size", "contain");
                $(wrapperZone).css("background-repeat", "no-repeat");
                $(wrapperZone).css('border', '0');
                $(".preview-image").attr('src', e.target.result);


                wrapperZone.removeClass('dragover');
                $('.dropzone-desc').hide();
              }else{
                $('.dropzone-box').css('border', '1px solid #dc3545', "!important");
                $('.dropzone-box').after('<span id="error_1_id_{{field.name}}" class="invalid-feedback"> \
                  <strong>Image file to large.</strong> \
                  </span>');
              }
            }
          };

        reader.readAsDataURL(input.files[0]);
        }
      }
      var dropzone_height_receipt = $('input#id_brand_logo').width();
      $('input#id_brand_logo').css({'height':dropzone_height_receipt+'px'});

      var receiptUrl = "{% url 'receipt:receipt_data' %}";

      var outlet = $('#outlet option:selected').attr('data-pk');
      var paper_size = $('#id_template_preview').val();
      initial_receipt(outlet, paper_size);

      function initial_receipt(outlet_id, paper_size){
        $.ajax({
          type: 'GET',
          url: receiptUrl,
          dataType: 'json',
          data:{
            outlet_id: outlet_id,
          },

          success: function(response){
            if( response.data.receipt_data.brand_logo != ""){
              $('.dropzone-wrapper').css("background", "url({% get_media_prefix %}" +  response.data.receipt_data.brand_logo +") no-repeat center");
              $('.dropzone-wrapper').css("background-size", "contain");
              $('.dropzone-wrapper').css('border', '0');
              $('.dropzone-desc').hide();
              $(".preview-image").attr('src',  "{% get_media_prefix %}" + response.data.receipt_data.brand_logo);
            }else{
              {% if request.user.account.brand_logo.name %}
                $('.dropzone-wrapper').css("background", "url({% get_media_prefix %}{{ request.user.account.brand_logo.name }}) no-repeat center");
                $('.dropzone-wrapper').css("background-size", "contain");
                $('.dropzone-wrapper').css('border', '0');
                $('.dropzone-desc').hide();
                $(".preview-image").attr('src',  "{% get_media_prefix %}{{ request.user.account.brand_logo.name }}");
              {% endif %}
            }

            $('#id_receipt_id').val(response.data.receipt_data.receipt);
            $('#id_notes').val(response.data.receipt_data.notes);
            $('#id_template').val(response.data.receipt_data.template);
            template_filter(response.data.receipt_data.template);
            receipt_filter(response.data.receipt_data.visibility_receipt);
            var notes = response.data.receipt_data.notes;
            var receipt_header = response.data.receipt_data.receipt_header;
            if(receipt_header != ""){
              $('#id_receipt_header').val(receipt_header);
              receipt_header = receipt_header.replace(/\n\r?/g, '<br />');
              $('.preview-receipt-header').html("<strong>"+receipt_header+"</strong>");
            }else{
              $('#id_receipt_header').val("{{ request.user.account.brand_name }}\r\n{{ outlet.name }}");
              receipt_header = $('#id_receipt_header').val();
              receipt_header = receipt_header.replace(/\n\r?/g, '<br />');
              $('.preview-receipt-header').html("<strong>"+receipt_header+"</strong>");
            }
            var address = `{{ outlet.address }}`;
            address = wordWrap(address, paper_size);
            address = address.replace(/\n\r?/g, '<br />');
            $('.preview-outlet-address').html(address);

            if(notes != ""){
              actual_notes = wordWrap(notes, paper_size);
              actual_notes = actual_notes.replace(/\n\r?/g, '<br />');
              $('.preview-notes').html(actual_notes);
            }

            if(response.data.receipt_data.twitter != ""){
              $('#id_social_twitter').val(response.data.receipt_data.twitter);
              $('.preview-twitter').html("<i class='fa fa-twitter social-icon mr-1'></i> "+response.data.receipt_data.twitter);
            }else{
              {% if request.user.account.social_twitter %}
                $('#id_social_twitter').val("{{ request.user.account.social_twitter }}");
                $('.preview-twitter').html("<i class='fa fa-twitter social-icon mr-1'></i> {{ request.user.account.social_twitter }}");
              {% endif %}
            }

            if(response.data.receipt_data.instagram != ""){
              $('#id_social_instagram').val(response.data.receipt_data.instagram);
              $('.preview-instagram').html("<i class='fa fa-instagram social-icon mr-1'></i> "+response.data.receipt_data.instagram);
            }else{
              {% if request.user.account.social_instagram %}
                $('#id_social_instagram').val("{{ request.user.account.social_instagram }}");
                $('.preview-instagram').html("<i class='fa fa-instagram social-icon mr-1'></i> {{ request.user.account.social_instagram }}");
              {% endif %}
            }

            if( response.data.receipt_data.facebook != ""){
              $('#id_social_facebook').val(response.data.receipt_data.facebook);
              $('.preview-facebook').html("<i class='fa fa-facebook social-icon mr-1'></i> "+ response.data.receipt_data.facebook);
            }else{
              {% if request.user.account.social_facebook %}
                $('#id_social_facebook').val("{{ request.user.account.social_facebook }}");
                $('.preview-facebook').html("<i class='fa fa-facebook social-icon mr-1'></i> {{ request.user.account.social_facebook }}");
              {% endif %}
            }

            if(response.data.receipt_data.website != ""){
              $('#id_website').val(response.data.receipt_data.website);
              $('.preview-website').html("<i class='fa fa-link social-icon mr-1'></i> "+response.data.receipt_data.website);
            }else{
              {% if request.user.account.website %}
                $('#id_website').val("{{ request.user.account.website }}");
                $('.preview-website').html("<i class='fa fa-link social-icon mr-1'></i> {{ request.user.account.website }}");
              {% endif %}
            }
            $('#id_outlet').val(response.data.outlet.outlet);
          }
        });
      }

      $("input#id_brand_logo").change(function () {
        readFile(this);
      });


      $('#id_receipt_header').on('keyup', function(){
        value = $(this).val();
        value = value.replace(/\n\r?/g, '<br />');
        $('.preview-receipt-header').html("<strong>"+value+"</strong>");
      });

      $('#id_name').on('keyup', function(){
        $('.preview-outlet-name').html($('#id_name').val());
      });

      $('#id_address').on('keyup', function(){
        $('.preview-outlet-address').html($('#id_address').val());
      });

      $('#id_postal_code').on('keyup', function(){
        $('.preview-postal-code').html($('#id_postal_code').val());
      });

      $('#id_phone').on('keyup', function(){
        $('.preview-phone').html($('#id_phone').val());
      });

      $('#id_province').on('change', function(){
        $('.preview-province').html($("#id_province option:selected").text());
      });

      $('#id_city').on('change', function(){
        $('.preview-city').html( $('#id_city option:selected').text());
      });


      $('#id_notes').on('keyup', function(){
        value = $(this).val();
        notes = wordWrap(value, paper_size);
        notes = notes.replace(/\n\r?/g, '<br />');
        $('.preview-notes').html(notes);
      });

      $('#id_social_facebook').on('keyup', function(){
        if($(this).val() == ''){
          $('.preview-facebook').html('');
        }else{
          $('.preview-facebook').html("<i class='fa fa-facebook social-icon mr-1'></i> "+$(this).val());
        }
      });

      $('#id_social_instagram').on('keyup', function(){
        if($(this).val() == ''){
          $('.preview-instagram').html('');
        }else{
          $('.preview-instagram').html("<i class='fa fa-instagram social-icon mr-1'></i> "+$(this).val());
        }
      });

      $('#id_social_twitter').on('keyup', function(){
        if($(this).val() == ''){
          $('.preview-twitter').html('');
        }else{
          $('.preview-twitter').html("<i class='fa fa-twitter social-icon mr-1'></i> "+$(this).val());
        }
      });

      $('#id_website').on('keyup', function(){
        if($(this).val() == ''){
          $('.preview-website').html('');
        }else{
          $('.preview-website').html("<i class='fa fa-link social-icon mr-1'></i> "+$(this).val());
        }
      });


      function receipt_filter(data){
        var data_list =  [
          "brand_logo", "outlet", "address", "province", "city", 
          "phone", "notes", "product_notes", "website", 
          "social_facebook", "social_twitter", "social_instagram"]
        for (var i = 0; i < data_list.length; i++) {
          if($('input[value="'+data_list[i]+'"]').hasClass('selected')) {
            $(".receipt-"+data_list[i]).show();
          }
          else {
            $(".receipt-"+data_list[i]).hide();
          }
        }
      }

      function template_filter(template){
        $('#div_receipt_logo').removeAttr('class');
        $('#preview-image').removeAttr('class');
        $('#div_receipt_header_info').removeAttr('class');
        if(template == 'template_1'){
          $('#div_receipt_logo').attr('class', 'd-flex mt-2 pb-3');
          $('#preview-image').attr('class', 'preview-image mx-auto d-block');
          $('#div_receipt_header_info').attr('class', 'd-flex flex-column bd-highlight text-center');
        } else if(template == 'template_2'){
          $('#div_receipt_logo').attr('class', 'd-flex mt-2 pb-3');
          $('#preview-image').attr('class', 'preview-image');
          $('#div_receipt_header_info').attr('class', 'd-flex flex-column bd-highlight');
        }else if(template == 'template_3'){
          $('#div_receipt_logo').attr('class', 'd-flex justify-content-end mt-2 pb-3');
          $('#preview-image').attr('class', 'preview-image');
          $('#div_receipt_header_info').attr('class', 'd-flex flex-column bd-highlight text-right');
        }
        var templates = ['template_1', 'template_2', 'template_3']
        templates.forEach(element => {
          if(template == element){
            $('.'+element).show();
          }else{
            $('.'+element).hide();
          }
        });
      }
      template_filter($('#id_template').val());
      $('#id_template').on('change', function(){
        template_filter($(this).val());
      });

      $('#id_template_preview').on('change', function(){
        paper_size = parseInt($(this).val());
        $('#struk-preview').removeAttr('class');

        if(paper_size == 32){
          receipt_header = $('#id_receipt_header').val();
          receipt_header = wordWrap(receipt_header, paper_size);
          receipt_header = receipt_header.replace(/\n\r?/g, '<br />');
          $('.preview-receipt-header').html("<strong>"+receipt_header+"</strong>");

          var address = `{{ outlet.address }}`;
          address = wordWrap(address, paper_size);
          address = address.replace(/\n\r?/g, '<br />');
          $('.preview-outlet-address').html(address);

          notes = $('#id_notes').val();
          notes = wordWrap(notes, paper_size);
          notes = notes.replace(/\n\r?/g, '<br />');
          $('.preview-notes').html(notes);

          $('#struk-preview').attr('class', 'struk-preview p-2 paper-size-58');
        }else if(paper_size == 48){
          receipt_header = $('#id_receipt_header').val();
          receipt_header = wordWrap(receipt_header, paper_size);
          receipt_header = receipt_header.replace(/\n\r?/g, '<br />');
          $('.preview-receipt-header').html("<strong>"+receipt_header+"</strong>");

          var address = `{{ outlet.address }}`;
          address = wordWrap(address, paper_size);
          address = address.replace(/\n\r?/g, '<br />');
          $('.preview-outlet-address').html(address);

          notes = $('#id_notes').val();
          notes = wordWrap(notes, paper_size);
          notes = notes.replace(/\n\r?/g, '<br />');
          $('.preview-notes').html(notes);
          $('#struk-preview').attr('class', 'struk-preview p-2 paper-size-80');
        }
      });

      function wordWrap(str, maxWidth) {
        var newLineStr = "\n"; done = false; res = '';
        do {
            found = false;
            // Inserts new line at first whitespace of the line
            for (i = maxWidth - 1; i >= 0; i--) {
                if (testWhite(str.charAt(i))) {
                    res = res + [str.slice(0, i), newLineStr].join('');
                    str = str.slice(i + 1);
                    found = true;
                    break;
                }
            }
            // Inserts new line at maxWidth position, the word is too long to wrap
            if (!found) {
                res += [str.slice(0, maxWidth), newLineStr].join('');
                str = str.slice(maxWidth);
            }

            if (str.length < maxWidth)
                done = true;
        } while (!done);

        return res + str;
      }

      function testWhite(x) {
          var white = new RegExp(/^\s$/);
          return white.test(x.charAt(0));
      };
      });
  </script>

{% endblock %}
