{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Private App" %}{% endblock %}

{% block settings_active_class %}active{% endblock %}
{% block mobile_settings_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_settings_show %}show{% endblock %}
{% block settings_private_apps_active_class %}submenu-active{% endblock %}
{% block mobile_settings_private_apps_active_class %}submenu-active{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item"><a href="{% url 'private-apps:list' %}" class="text-link">{% trans "Private App List" %}</a></li>
  <li class="breadcrumb-item active">{% trans "Delete Private App" %}</li>
{% endblock breadcrumb %}

{% block sub_content %}
  <div class="w-100 mb-3">
    <h3 class="heading-3 font-weight-thin">{% trans "Delete Private App" %}</h3>
  </div>
  <div class="w-100">
    <form method="post" action="." enctype='multipart/form-data'>
      {% csrf_token %}
      {{form|crispy }}
      <p>{% trans "Are you sure you want to delete this private apps ?"%}</p>
      <div class="d-flex justify-content-end">
        <a href="{% url 'private-apps:list' %}"  class="btn btn-light">{% trans "Back" %}</a>
        <input type="submit" class="btn btn-primary ml-1" value="{% trans 'Delete' %}"/>
      </div>
    </form>
  </div>
{% endblock %}
