{% extends "dashboard/base_datatable.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Private App Management" %}{% endblock %}

{% block settings_active_class %}active{% endblock %}
{% block mobile_settings_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_settings_show %}show{% endblock %}
{% block settings_private_apps_active_class %}submenu-active{% endblock %}
{% block mobile_settings_private_apps_active_class %}submenu-active{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}
{% block datatable_title %}{% trans "Private App Management" %}{% endblock datatable_title %}


{% block datatable_panel_title %}
  {% trans "Private App Management" %}
{% endblock datatable_panel_title %}

{% block action_button %}
<div class="p-0 position-fixed" style="right:20px;">
  <a href="{% url 'private_apps:create' %}" class="btn btn-primary btn-lg fixed-top-content">{% trans "Create Private App" %}</a>
</div>
{% endblock action_button %}

{% block datatable_id %}tab_user_list{% endblock datatable_id %}

{% block datatable_thead_tr %}
  <th>{% trans "Name" %}</th>
  <th>{% trans "Created at" %}</th>
  <th class="no-sort">{% trans "Actions" %}</th>
{% endblock datatable_thead_tr %}

{% block datatable_filter %}
<tr class='datatable-filter'>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control clearable" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td></td>
  <td></td>
</tr>
{% endblock datatable_filter %}

{% block modal %}
  <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">{% trans "Delete User" %}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p>{% trans "You will permanently delete these user from your KAWN channel." %}</p>
            <p>{% trans "Are you sure you want to continue ?" %}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-submit-close" data-dismiss="modal">{% trans "Close" %}</button>
          <button type="button" class="btn btn-primary delete" data-url="{% url 'invitation:invitation_delete_dashboard' %}">
            <span id="delete-text">{% trans "Delete" %}</span>
            <i id="delete-icon" class=""></i>
          </button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block javascript %}
{{ block.super }}
<script>
  $(document).ready(function () {
    base_url = "{% url 'private-apps:data' %}";

    tableOptions = {
      columnDefs: [
        {targets: 'text-center',  className: 'text-center'},
        {targets: 'no-sort', orderable: false},
        {
          'targets': [1],
          'render': function (data, type, full, meta) {
            var data_date = data;
            if (type == 'display') {
                var new_date = moment(data_date);
                date = new_date.format('DD/MM/YYYY HH:mm:ss');
                return date;
            }
            return data_date;
          },
          'orderData':[1],
        },
        {
          'targets': [2],
          'render': function (data, type, full, meta) {
            data = '<a class="action-toggle" id="product-'+data.id+'-dropdown" href="#" data-toggle="dropdown"> \
                      <i class="fa fa-ellipsis-h" aria-hidden="true"></i> \
                    </a>\
                    <div class="dropdown-menu action-toggle-menu" aria-labelledby="product-'+data.id+'-dropdown">\
                      <a class="dropdown-item" href="'+ data.update +'"> \
                        Edit \
                      </a>\
                      <a class="dropdown-item" href="'+ data.delete +'"> \
                        {% trans "Delete" %} \
                      </a> \
                    </div>';
            return data;
          },
        },
      ],
    }
  });
</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
{% endblock %}
