{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Private App" %}{% endblock %}

{% block settings_active_class %}active{% endblock %}
{% block mobile_settings_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_settings_show %}show{% endblock %}
{% block settings_private_apps_active_class %}submenu-active{% endblock %}
{% block mobile_settings_private_apps_active_class %}submenu-active{% endblock %}
{% block content_header %}{% trans "Update Private App" %}{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}

{% block sub_content %}
  <div class="w-100 pt-3">
    <form method="post" action="." enctype='multipart/form-data'>
      {% csrf_token %}
      {{form|crispy }}
      <div class="d-flex justify-content-end">
        <a href="{% url 'private-apps:list' %}"  class="btn btn-light">{% trans "Back" %}</a>
        <input type="submit" class="btn btn-primary ml-1" value="{% trans 'Update' %}"/>
      </div>
    </form>
  </div>
{% endblock %}
