{% extends "dashboard/base_datatable.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Units Detail" %} {% endblock title %}

{% block datatable_title %}{% trans "Units Detail" %} {% endblock datatable_title %}


{% block settings_active_class %}active{% endblock %}
{% block mobile_settings_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_settings_show %}show{% endblock %}
{% block settings_uom_active_class %}submenu-active{% endblock %}
{% block mobile_settings_uom_active_class %}submenu-active{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}

{% block action_button %}
<div class="p-0 position-fixed" style="right:20px;">
  {% if not object.uom_type == "base" %}
    <a href="{% url 'catalogue:uom_update' object.pk %}" class="btn btn-primary btn-lg fixed-top-content">{% trans "Update" %}</a>
  {% endif %}
</div>
{% endblock action_button %}

{% block datatable_panel_title %}
  {% trans "Units Detail" %}
{% endblock datatable_panel_title %}

{% block sub_content %}
<div class="w-100">
  <div title='uom-detail' class="report mb-4 mx-0 col-lg-6 px-0">
    <div class="card">
      <div class="card-body py-0 px-3">
        <div class="d-flex justify-content-between" id='report-table'>
          <p class="m-3">{% trans 'Unit' %}</p>
          <p class="m-3">{{ object.unit }}</p>
        </div>
        <div class="d-flex justify-content-between" id='report-table'>
          <p class="m-3">{% trans "Category" %}</p>
          <p class="m-3">{{ object.get_category_display }}</p>
        </div>
        <div class="d-flex justify-content-between" id='report-table'>
          <p class="m-3">{% trans "Measurement Type" %}</p>
          <p class="m-3">{{ object.get_uom_type_display }}</p>
        </div>
        <div class="d-flex justify-content-between" id='report-table'>
          <p class="m-3">{% trans "Ratio" %}</p>
          <p class="m-3">{{ object.ratio }}</p>
        </div>
        <div class="d-flex justify-content-between">
          <p class="m-3">{% trans "Status" %}</p>
          <p class="m-3">
            <span class="badge {% if object.is_active %}badge-success{% else %}badge-warning{% endif %}">
              {% if object.is_active %}{% trans 'Active' %}{% else %}{% trans 'Inactive' %}{% endif %}
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock sub_content %}