{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Units of Measure" %}{% endblock %}

{% block settings_active_class %}active{% endblock %}
{% block mobile_settings_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_settings_show %}show{% endblock %}
{% block settings_uom_active_class %}submenu-active{% endblock %}
{% block mobile_settings_uom_active_class %}submenu-active{% endblock %}
{% block content_header %}{% if object %}{% trans 'Unit of Measure - ' %}{{ object }}{% else %}{% trans "Add Unit of Measure" %}{% endif %}{% endblock %}

{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}

{% block css %}
  {{ block.super }}
  {{ form.media.css }}
  <style>
    .switch {
      margin-top: 3px;
      position: relative;
      display: inline-block;
      width: 40px;
      height: 20px;
    }

    .switch input {display:none;}

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 12px;
      width: 12px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    .switch input:checked + .slider {
      background-color: #2196F3;
    }

    .switch input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    .switch input:checked + .slider:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }

  </style>
{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div2_class %}px-2{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block action_div_style %}background: white; border-top: 1px solid #d7d7db;{% endblock %}
{% block submit_form %}
  <div class="d-flex justify-content-end" id="fixed-bottom-button">
    <a href="{% url 'catalogue:uom_list' %}" class="btn btn-light">{% trans "Back" %}</a>
    <input type="submit" class="btn btn-primary ml-1" id="submitBtn" value="{% if object %}{% trans 'Save' %}{% else %}{% trans 'Create' %}{% endif %}"/>
  </div>
{% endblock %}

{% block sub_content %}
  <form method="post" action="." id="stock_transfer_form">
    {% crispy form %}
    <div class="justify-content-end {% if grid %}{{ grid}}{% else %}col-6{% endif %} p-0" id="fixed-button-content" style="display: flex;">
      <a href="{% url 'catalogue:uom_list' %}" class="btn btn-light">{% trans "Back" %}</a>
      <input type="submit" class="btn btn-primary ml-1" value="{% if object %}{% trans 'Save' %}{% else %}{% trans 'Create' %}{% endif %}"/>
    </div>
  </form>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  {{ form.media.js }}
  <script>
    $(document).ready(function(){

      function set_uom_type(value){
        if(value == "base"){
          $("#div_id_ratio").hide();
        }else if(value == "bigger"){
          $("#div_id_ratio").show();
          help_text = "{% trans 'e.g: 1*(this unit)=ratio*(reference unit)' %}";
          $("#hint_id_ratio").html(help_text)
        }else{
          $("#div_id_ratio").show();
          help_text = "{% trans 'e.g: 1*(reference unit)=ratio*(this unit)' %}";
          $("#hint_id_ratio").html(help_text)
        }
      }

      uom_type = $("select[name=uom_type]").val();
      set_uom_type(uom_type);

      $("select[name=uom_type]").on("change", function(){
        set_uom_type($(this).val());
      });
    });
  </script>
{% endblock %}