{% extends "dashboard/skeleton.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "UOM" %}{% endblock %}

{% block content_header %}{% trans "Create UOM" %}{% endblock %}

{% block sub_content %}
  <div class="container pt-3">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-body">
            <form method="post" action=".">
              {% csrf_token %}
              {{ form|crispy }}
              <input type="submit" class="btn btn-primary" value="{% trans "Create" %}"/>
              <a href="{% url 'catalogue:uom_list' %}"  class="btn btn-secondary">{% trans "Back" %}</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
