{% extends "dashboard/base_datatable.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block settings_active_class %}active{% endblock %}
{% block mobile_settings_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_settings_show %}show{% endblock %}
{% block settings_uom_active_class %}submenu-active{% endblock %}
{% block mobile_settings_uom_active_class %}submenu-active{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}
{% block datatable_title %}{% trans "Units of Measure" %}{% endblock datatable_title %}

{% block datatable_breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item active">{% trans 'Units of Measure' %}</li>
{% endblock datatable_breadcrumb %}

{% block action_button %}
<div class="p-0 position-fixed" style="right:20px;">
  <a href="{% url 'catalogue:uom_create' %}" class="btn btn-primary btn-lg fixed-top-content">{% trans "Add Units of Measure" %}</a>
</div>
{% endblock action_button %}

{% block datatable_id %}tbl_product{% endblock datatable_id %}

{% block datatable_thead_tr %}
<th>{% trans 'Unit' %}</th>
<th>{% trans 'Category' %}</th>
<th>{% trans 'Measurement Type' %}</th>
<th>{% trans 'Status' %}</th>
{% endblock datatable_thead_tr %}
{% block datatable_filter %}
<tr class='datatable-filter'>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control" placeholder="Search...">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group mtm">
      <div class="selectdiv">
      <label class="input-group">
      <select class="form-control form-control-sm custom-select extra-table-control">
        <option value='show'>{% trans 'Show All' %}</option>
        <option value='units'>{% trans 'Units' %}</option>
        <option value='weight'>{% trans 'Weight' %}</option>
        <option value='volume'>{% trans 'Volume' %}</option>
      </select>
      </label>
      </div>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group mtm">
      <div class="selectdiv">
      <label class="input-group">
      <select class="form-control form-control-sm custom-select extra-table-control">
        <option value='show'>{% trans 'Show All' %}</option>
        <option value='base'>{% trans 'Reference unit for this measure' %}</option>
        <option value='bigger'>{% trans 'Bigger than reference unit of measure' %}</option>
        <option value='smaller'>{% trans 'Smaller than reference unit' %}</option>
      </select>
      </label>
      </div>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group mtm">
      <div class="selectdiv">
      <label class="input-group">
      <select class="form-control form-control-sm custom-select extra-table-control">
        <option value='show'>{% trans 'Show All' %}</option>
        <option value='true'>{% trans 'Active' %}</option>
        <option value='false'>{% trans 'Inactive' %}</option>
      </select>
      </label>
      </div>
    </div>
  </td>
</tr>
{% endblock datatable_filter %}
{% block javascript %}
{{ block.super }}
<script>
  $(document).ready(function () {
    base_url = "{% url 'catalogue:data_uom' %}"

    tableOptions = {
      searchCols: [
         null, null, null, { "search": "show" }
      ],
    }
  });
</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
{% endblock %}