{% extends "dashboard/base_datatable.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block employees_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_employees_show %}show{% endblock %}
{% block employees_staff_active_class %}submenu-active{% endblock %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css"
      href="https://gyrocode.github.io/jquery-datatables-checkboxes/1.2.9/css/dataTables.checkboxes.css"/>
{% endblock %}

{% block datatable_title %}{% trans "Invitation" %}{% endblock datatable_title %}

{% block datatable_breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item"><a href="{% url 'invitation:user_list_dashboard' %}">User</a></li>
  <li class="breadcrumb-item active">Invitation</li>
{% endblock datatable_breadcrumb %}

{% block datatable_panel_title %}
  {% trans "Invitation" %}
{% endblock datatable_panel_title %}

{% block add_user %}
  {% if request.user.is_owner %}
    <a href="{% url 'invitations:send-invite' %}" class="btn btn-primary">
    <span class="fa fa-plus"></span>{% trans "Invite New User" %}</a>
    <button id='user-delete-btn' class="btn btn-warning" disabled>{% trans "Delete Invitation(s)" %}</button>
    <button id='user-resend-btn' class="btn btn-secondary" disabled>{% trans "Resend Invitation(s)" %}</button>
  {% endif %}
{% endblock %}

{% block group_list %}
  <form id='deactivate-user-form' class="hide form-horizontal" action="{% url 'invitation:invitation_deactivate_dashboard' %}" method='POST'>
    {% csrf_token %}
    <input name='user_list' type=hidden />
  </form>
  <form id='resend-user-form' class="hide form-horizontal" action="{% url 'invitation:invitation_resend_dashboard' %}" method='POST'>
    {% csrf_token %}
    <input name='user_list' type=hidden />
  </form>
{% endblock %}

{% block datatable_id %}tab_user_list{% endblock datatable_id %}
{% block datatable_filter %}
<tr class='datatable-filter'>
  <td class='d-none'>
    <div class="datatable-filter-input-group input-group mtm">
      <div class="extra-table-control">
      </div>
    </div>
  </td>
  <td class='first-child'>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control" placeholder="Search...">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control" placeholder="Search...">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <label id="reportrange" class="form-control extra-table-control btn btn-default date-calendar">
        &nbsp;<span>{% trans "Filter by Date" %}</span>
        &nbsp;<i class="fa fa-angle-down"></i>
      </label>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group mtm">
      <div class="selectdiv">
      <label class="input-group">
      <select class="form-control form-control-sm custom-select extra-table-control">
        <option>{% trans "All" %}</option>
        <option value='true'>Yes</option>
        <option value='false'>No</option>
      </select>
      </label>
      </div>
    </div>
  </td>
</tr>
{% endblock datatable_filter %}

{% block datatable_thead_tr %}
  <th class="no-sort">
    <!--input class='datatable-main-checkbox' type='checkbox' value="*"/-->
  </th>
  <th>Invitee</th>
  <th>Inviter</th>
  <th>Created Date</th>
  <th>Accepted</th>
{% endblock datatable_thead_tr %}
{% block javascript %}
{{ block.super }}
<script src="https://gyrocode.github.io/jquery-datatables-checkboxes/1.2.9/js/dataTables.checkboxes.min.js"></script>
<script>
  $(document).ready(function() {
    base_url = "{% url 'invitation:data_invitation' %}"
    tableOptions = {
      order: [[ 1, "desc" ]],
      select: {
          style:    'multi',
          selector: 'td:first-child'
      },
      columnDefs: [
        {
          'targets': [0],
          'searchable': false,
          'orderable': false,
          'checkboxes': {
            'selectRow': true
          },
          'width': '20px',
          // 'render': function (data, type, row) {
          //   return data
          // },
          // 'render': function (data, type, row) {
          //   if (row[4] == true ) {
          //     select_input = "<input disabled class='datatable-checkbox' type='checkbox' value="+ data +" />";
          //   } else {
          //     select_input = "<input class='datatable-checkbox' type='checkbox' value="+ data +" />";
          //   }
          //   return select_input;
          // },
          {% if not request.user.is_owner %}
          'visible': false,
          {% endif %}
        },
        {
          'targets': [3],
          'width': '130px',
          'render': function (data, type, full, meta) {
            var data_date = data;
            if (type == 'display') {
                var new_date = moment(data_date);
                date = new_date.format('DD/MM/YYYY HH:mm:ss');
                return date;
            }
            return data_date;
          },
          'orderData':[1],
        }
      ],
      drawCallback: function( settings ) {
        $('.dataTable input[type="checkbox"]').change(function() {
          if($('.dt-checkboxes').toArray().some((element, index, array) => element.checked)){
            var data = table.column(0).checkboxes.selected().toArray()
            $("input[name='user_list']").val(data);
            $("#user-delete-btn").each( (i, button) => button.disabled = false);
            $("#user-resend-btn").each( (i, button) => button.disabled = false);
          } else {
            $("#user-delete-btn").each( (i, button) => button.disabled = true);
            $("#user-resend-btn").each( (i, button) => button.disabled = true);
            $("input[name='user_list']").val("");
          }
        });

        $('#user-delete-btn').click(function (e) {
          $('#deactivate-user-form').submit();
        })
        $('#user-resend-btn').click(function (e) {
          $('#resend-user-form').submit();
        })

        $('.first-child').attr('colspan', 2).attr('style', 'padding-left: 0px !important');
      }
    }
  })
</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
{% endblock %}
