{% extends 'base_email.html' %}
{% load account %}
{% load i18n %}

{% block email_content %}
{% user_display user as user_display %}
	<tr>
		<td valign="top" class="textContent">
			<h2 style="text-align:center;font-family:Helvetica,Arial,sans-serif;margin-bottom:0;color:#5F5F5F;line-height:135%;padding-top:1em;">Tagihan Baru.</h2>
		</td>
	</tr>
	<!-- // MODULE ROW -->
	<tr>
		<td valign="top" class="textContent">
			<div mc:edit="body" style="text-align:center;font-family:Helvetica,Arial,sans-serif;font-size:15px;margin-bottom:0;color:#5F5F5F;line-height:135%;padding-bottom:3em;">Halo, {{ user_display }}! Anda memiliki satu Tagihan aktif, <b>{{ invoice.subscription }}</b>, pada akun Anda!</div>
		</td>
	</tr>
	<!-- img button -->
	<tr>
		<td valign="top" class="textContent">
			<div mc:edit="body" style="text-align:center;font-family:Helvetica,Arial,sans-serif;font-size:15px;margin-bottom:0;color:#5F5F5F;line-height:135%;">Periksa Tagihan aktif anda dengan mengakses tombol di bawah ini</div>
		</td>
	</tr>
	<tr>
		<td align="center" valign="top">
			<!-- CONTENT TABLE // -->
			<table border="0" cellpadding="0" cellspacing="0" width="50%" class="emailButton" style="background-color: #EB9928;">
				<tr>
					<td align="center" valign="middle" class="buttonContent" style="padding-top:15px;padding-bottom:15px;padding-right:15px;padding-left:15px;">
						<a style="color:#FFFFFF;text-decoration:none;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:135%;" href="{{ activate_url }}" target="_blank">Link Button</a>
					</td>
				</tr>
			</table>
			<!-- // CONTENT TABLE -->
		</td>
	</tr>
{% endblock %}