{% extends 'base_email.html' %}
{% load account %}
{% load i18n %}

{% block email_content %}
	{% user_display user as user_display %}
	<tr>
		<td valign="top" class="textContent">
			<h2 style="text-align:center;font-family:Helvetica,Arial,sans-serif;margin-bottom:0;color:#5F5F5F;line-height:135%;padding-top:1em;">Pembayaran Tagihan Anda Berhasil.</h2>
		</td>
	</tr>

	<tr>
		<td valign="top" class="textContent">
			<div mc:edit="body" style="text-align:center;font-family:Helvetica,Arial,sans-serif;font-size:15px;margin-bottom:0;color:#5F5F5F;line-height:135%;padding-bottom:3em;">Terima kasih, {{ user_display }}! Pembayaran Anda untuk tagihan {{ invoice.subscription }} telah kami terima dan berhasil kami verifikasi. Anda dapat menggunakan paket yang Anda pilih mulai sekarang.</div>
		</td>
	</tr>
{% endblock %}