{% extends "dashboard/base_datatable.html" %}
{% load static i18n humanize %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Invoice Installment" %}{% endblock %}

{% block sales_active_class %}active{% endblock %}
{% block mobile_sales_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_sales_show %}show{% endblock %}
{% block sales_order_active_class %}submenu-active{% endblock %}
{% block mobile_sales_order_active_class %}submenu-active{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}
{% block datatable_title %}{% trans "Invoice Installment" %}{% endblock datatable_title %}

{% block datatable_panel_title %}
{% trans "Invoice Installment" %}
{% endblock datatable_panel_title %}

{% block action_button %}
<div class="p-0 position-fixed" style="right:20px;">
  {% if object.invoice.is_payable %}
    <a href="{% url 'sales:invoice_installment_payment_create' object.pk %}"  class="btn btn-primary btn-lg fixed-top-content">{% trans "Add Payment" %}</a>
  {% endif %}
</div>
{% endblock action_button %}

{% block summary %}
<div class="card">
  <div class="card-header">
    <h4 class="my-1">{% trans "Installment Detail" %}</h4>
  </div>
  <div class="card-body">
    <div class="d-flex justify-content-between border-bottom">
      <p class="m-2">{% trans "Code" %}</p>
      <p class="m-2">{{ object.invoice.code }}</p>
    </div>
    <div class="d-flex justify-content-between border-bottom">
      <p class="m-2">{% trans "Created" %}</p>
      <p class="m-2">{{ object.invoice.date }}</p>
    </div>
    <div class="d-flex justify-content-between border-bottom">
      <p class="m-2">{% trans "Customer" %}</p>
      <p class="m-2">{% if object.invoice.customer %}{{ object.invoice.customer.name }}{% else %}-{% endif %}</p>
    </div>
    <div class="d-flex justify-content-between border-bottom">
      <p class="m-2">{% trans "Tenor" %}</p>
      <p class="m-2">{{ object.tenor_count }}</p>
    </div>
    <div class="d-flex justify-content-between border-bottom">
      <p class="m-2">{% trans "Total Transaction" %}</p>
      <p class="m-2">{{ object.invoice.sales_order.total_cost.amount|intcomma }}</p>
    </div>
    <div class="d-flex justify-content-between">
      <p class="m-2">{% trans "Active Balance" %}</p>
      <p class="m-2">{{ object.invoice.balance|intcomma }}</p>
    </div>
  </div>
</div>
{% endblock %}

{% block datatable_id %}sales_order_list{% endblock datatable_id %}

{% block datatable_thead_tr %}
<th class="no-sort">{% trans "Code" %}</th>
<th>{% trans "Date" %}</th>
<th>{% trans "Created" %}</th>
<th>{% trans "Amount" %}</th>
<th>{% trans "Notes" %}</th>
<th class="no-sort"></th>
{% endblock datatable_thead_tr %}

{% block datatable_filter %}
<tr class='datatable-filter'>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <label id="reportrange" class="form-control extra-table-control btn btn-default btn-lg date-calendar">
        &nbsp;<span>{% trans "Filter by Date" %}</span>
        &nbsp;<i class="fa fa-angle-down"></i>
      </label>
    </div>
  </td>
  <td></td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
        <input type="text" class="form-control extra-table-control" placeholder="{% trans 'Search...' %}">
      </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
        <input type="text" class="form-control extra-table-control" placeholder="{% trans 'Search...' %}">
      </div>
  </td>
  <td>
  </td>
</tr>
{% endblock datatable_filter %}

{% block javascript %}
{{ block.super }}
<script>
  function isNumberKey(evt){
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57))
        return false;
    return true;
  }
</script>
<script>
  $(document).ready(function() {
    base_url = "{% url 'sales:invoice_installment_payment_list' object.pk %}"

    $('#select2-payment-type').change(function (e) {
      oTable.columns(4).search(
        this.value ? this.value : '', true, false
      ).draw();
    });

    tableOptions = {
      pageLength: 25,
      order: [[ 1, "desc" ]],
      columnDefs: [
        {
          'targets': [-1],
          "visible": false,
          "searchable": false
        },
        {
          'targets': [0],
          'render': function (data, type, row) {
            var value = row[0];
            var url = row[5];
            return '<a href="' + url + '" >' + value.slice(-6) + '</a>'
          },
        },
        {
          'targets': [1, 2],
          'render': function (data, type, full, meta) {
            var data_date = data;
            if (type == 'display') {
              var new_date = moment(data_date);
              date = new_date.format('DD/MM/YYYY HH:mm:ss');
              return date;
            }
            return data_date;
          },
          'orderData':[1],
        },
        {
          'targets': [3],
          'searchable': false,
          className: 'text-right',
          'render': function (data, type, full, meta) {
            return parseInt(data).toLocaleString('id')
          }
        },
      ],
    }

    $('.export-date-calendar').daterangepicker({
        'minDate': moment().subtract(36, 'month'),
        'maxDate': moment().add(1, 'month'),
        'ranges': {
            'Hari ini': [moment().format('DD/MM/YYYY 00:00:00'), moment().format('DD/MM/YYYY 23:59:59')],
            'Kemarin': [moment().subtract(1, 'days').format('DD/MM/YYYY 00:00:00'), moment().subtract(1, 'days').format('DD/MM/YYYY 23:59:59')],
            'Minggu ini': [moment().startOf('isoweek').format('DD/MM/YYYY 00:00:00'), moment().endOf('isoweek').format('DD/MM/YYYY 23:59:59')],
            'Bulan ini': [moment().startOf('month').format('DD/MM/YYYY 00:00:00'), moment().endOf('month').format('DD/MM/YYYY 23:59:59')],
            'Minggu lalu': [moment().subtract(1, 'week').startOf('isoweek').format('DD/MM/YYYY 00:00:00'), moment().subtract(1, 'week').endOf('isoWeek').format('DD/MM/YYYY 23:59:59')],
            'Bulan lalu': [moment().subtract(1, 'month').startOf('month').format('DD/MM/YYYY 00:00:00'), moment().subtract(1, 'month').endOf('month').format('DD/MM/YYYY 23:59:59')],
        },
        'opens': "right",
        'locale': {
            'format': 'DD/MM/YYYY',
            "customRangeLabel": "Pilih Tanggal",
            "applyLabel": "Terapkan",
            "cancelLabel": "Batal",
            "daysOfWeek": [
            "Min",
            "Sen",
            "Sel",
            "Rab",
            "Kam",
            "Jum",
            "Sab"
            ],
            "monthNames": [
            "Januari",
            "Februari",
            "Maret",
            "April",
            "Mei",
            "Juni",
            "Juli",
            "Agustus",
            "September",
            "Oktober",
            "November",
            "Desember"
            ],
        },
    },
    function (start, end, label) {
        var s = moment(start.toISOString());
        var e = moment(end.toISOString());
        startDate = s.format('YYYY-MM-DD HH:mm:ss');
        endDate = e.format('YYYY-MM-DD HH:mm:ss');

        date_format = s.format('DD/MM/YYYY') + ' - ' + e.format('DD/MM/YYYY')
    });

    $('.export-date-calendar').on('cancel.daterangepicker', function (ev, picker) {
        $(this).val('');
        start_date = null;
        end_date = null;
    });

    function removeParam(key, sourceURL) {
        var rtn = sourceURL.split("?")[0],
            param,
            params_arr = [],
            queryString = (sourceURL.indexOf("?") !== -1) ? sourceURL.split("?")[1] : "";
        if (queryString !== "") {
            params_arr = queryString.split("&");
            for (var i = params_arr.length - 1; i >= 0; i -= 1) {
                param = params_arr[i].split("=")[0];
                if (param === key) {
                    params_arr.splice(i, 1);
                }
            }
            rtn = rtn + "?" + params_arr.join("&");
        }
        else {
        params_arr = queryString.split("&");
        rtn = rtn + "?" + params_arr.join("&");
        }
        return rtn;
    }

    $('.export-date-calendar').on('apply.daterangepicker',
    function (ev, picker) {
        params = table.ajax.params();
        params.length = -1;
        var old_url = table.ajax.url() + "?" + $.param( params );
        var alteredStartURL = removeParam("start_date", old_url);
        alteredEndURL = removeParam("end_date", alteredStartURL);
        start_date = picker.startDate.format('YYYY-MM-DD HH:mm:ss');
        end_date = picker.endDate.format('YYYY-MM-DD HH:mm:ss');
        new_url = alteredEndURL + "&" +"start_date=" + start_date + "&end_date=" + end_date + "&" + $.param({"export_file": "csv"});
        window.open(new_url, '_blank');
    });

    })

</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
{% endblock %}
