{% extends "dashboard/base_datatable.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Sales Order" %}{% endblock %}

{% block sales_active_class %}active{% endblock %}
{% block mobile_sales_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_sales_show %}show{% endblock %}
{% block sales_order_active_class %}submenu-active{% endblock %}
{% block mobile_sales_order_active_class %}submenu-active{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}
{% block datatable_title %}{% trans "Sales Order" %}{% endblock datatable_title %}


{% block datatable_panel_title %}
{% trans "Sales Order" %}
{% endblock datatable_panel_title %}

{% block datatable_dummy_url %}
<a href="{% url 'dummy:dummy_salesOrder' %}" class="btn btn-success">Dummy Create</a>
{% endblock datatable_dummy_url %}

{% block xml_export %}
<!--a id="xmlExport" target="_blank" onclick="table.export_file('xml')" class="btn btn-success">Export
  XML</a-->
{% endblock xml_export %}


{% block action_button %}
<div class="p-0 position-fixed" style="right:20px;">
  <label id="exportcsvrange" class="btn btn-primary btn-lg fixed-top-content export-date-calendar" style="width: 150px;">
        &nbsp;<span>
            {% trans "Export CSV" %}
        </span>
        &nbsp;<i class="fa fa-angle-down"></i>
  </label>
</div>
{% endblock action_button %}


{% block datatable_id %}sales_order_list{% endblock datatable_id %}

{% block datatable_thead_tr %}
<th class="no-sort">{% trans "Code" %}</th>
<th>{% trans "Date" %}</th>
<th>{% trans "Status" %}</th>
<th>{% trans "Outlet" %}</th>
<th>{% trans "Payment Type" %}</th>
<th>{% trans "Order Type" %}</th>
<th class="no-sort">{% trans "Sub Total" %}</th>
<th class="no-sort">{% trans "Discount" %}</th>
<th>{% trans "Total Cost" %}</th>
<th class="no-sort"></th>
{% endblock datatable_thead_tr %}

{% block datatable_filter %}
<tr class='datatable-filter'>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <label id="reportrange" class="form-control extra-table-control btn btn-default btn-lg date-calendar">
        &nbsp;<span>{% trans "Filter by Date" %}</span>
        &nbsp;<i class="fa fa-angle-down"></i>
      </label>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group mtm">
      <div class="selectdiv">
      <label class="input-group">
      <select class="form-control form-control-sm custom-select extra-table-control">
        <option>{% trans "All" %}</option>
        <option value='settled'>{% trans "Selesai" %}</option>
        <option value='unsettled'>{% trans "Ditolak" %}</option>
      </select>
      </label>
      </div>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group mtm">
      <div class="selectdiv">
      <label class="input-group">
      <select class="form-control form-control-sm custom-select extra-table-control">
        <option>{% trans "All" %}</option>
        {% if request.user.is_owner %}
          {% for outlet in request.user.account.outlet_set.all %}
            <option value={{outlet.pk}}>{{outlet.name}}</option>
          {% endfor %}
        {% else %}
          {% for outlet in request.user.device_user.outlet.all %}
            <option value={{outlet.pk}}>{{outlet.name}}</option>
          {% endfor %}
        {% endif %}
      </select>
      </label>
      </div>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group mtm">
      <div class="selectdiv">
      <label class="input-group">
      <select class="form-control form-control-sm custom-select extra-table-control">
        <option>{% trans "All" %}</option>
        {% for payment_type in payment_types %}
        <option value='{{payment_type.pk}}'>{{payment_type.payment_name}}</option>
        {% endfor %}
      </select>
      </label>
      </div>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <div class="selectdiv">
      <label class="input-group">
      <select class="form-control form-control-sm custom-select extra-table-control">
        <option>{% trans "All" %}</option>
        {% for order_type in order_types %}
        <option value='{{order_type.name}}'>{{order_type.name}}</option>
        {% endfor %}
      </select>
      </label>
      </div>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control" placeholder="{% trans 'Search...' %}" onkeypress="return isNumberKey(event)">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control" placeholder="{% trans 'Search...' %}" onkeypress="return isNumberKey(event)">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control" placeholder="{% trans 'Search...' %}" onkeypress="return isNumberKey(event)">
    </div>
  </td>
  <td>
  </td>
</tr>
{% endblock datatable_filter %}

{% block datatable_tfoot_tr %}
<th colspan="8" style="text-align:right"></th>
<th class='text-center'></th>

{% endblock datatable_tfoot_tr %}

{% block javascript %}
{{ block.super }}
<script>
  function isNumberKey(evt){
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57))
        return false;
    return true;
  }
</script>
<script>
  $(document).ready(function() {
    base_url = "{% url 'sales:sales_order_data' %}"

    $('#select2-payment-type').change(function (e) {
      oTable.columns(4).search(
        this.value ? this.value : '', true, false
      ).draw();
    });

    tableOptions = {
      pageLength: 25,
      order: [[ 1, "desc" ]],
      columnDefs: [
        {
          'targets': [-1],
          "visible": false,
          "searchable": false
        },
        {
          'targets': [0],
          'render': function (data, type, row) {
            var value = row[0];
            var url = row[9];
            return '<a href="' + url + '" >' + value.slice(-6) + '</a>'
          },
        },
        {
          'targets': [1],
          'render': function (data, type, full, meta) {
            var data_date = data;
            if (type == 'display') {
              var new_date = moment(data_date);
              date = new_date.format('DD/MM/YYYY HH:mm:ss');
              return date;
            }
            return data_date;
          },
          'orderData':[1],
        },
        {
          'targets': [2],
          'render': function (data, type, full, meta) {
            return data.charAt(0).toUpperCase() + data.slice(1);
          }
        },
        {
          'targets': [6, 7, 8],
          'searchable': false,
          className: 'text-right',
          'render': function (data, type, full, meta) {
            return parseInt(data).toLocaleString('id')
          }
        },
      ],
      footerCallback: function (row, data, start, end, display) {
        var api = this.api(), data;
        var intVal = function (i) {
            return typeof i === 'string' ? i.replace(/[\$,IDR]/g, '') * 1 :
                    typeof i === 'number' ? i : 0;
        };

        pageTotalCost = api.column(8, {page: 'current'})
                .data()
                .reduce(
                function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);
        $(api.column(8)
                .footer()).html(
                'Total Cost : ' + "<br/>IDR " + parseInt(pageTotalCost).toLocaleString('id')
        )
      }
    }

      $('.export-date-calendar').daterangepicker({
      'minDate': moment().subtract(36, 'month'),
      'maxDate': moment().add(1, 'month'),
      'ranges': {
          'Hari ini': [moment().format('DD/MM/YYYY 00:00:00'), moment().format('DD/MM/YYYY 23:59:59')],
          'Kemarin': [moment().subtract(1, 'days').format('DD/MM/YYYY 00:00:00'), moment().subtract(1, 'days').format('DD/MM/YYYY 23:59:59')],
          'Minggu ini': [moment().startOf('isoweek').format('DD/MM/YYYY 00:00:00'), moment().endOf('isoweek').format('DD/MM/YYYY 23:59:59')],
          'Bulan ini': [moment().startOf('month').format('DD/MM/YYYY 00:00:00'), moment().endOf('month').format('DD/MM/YYYY 23:59:59')],
          'Minggu lalu': [moment().subtract(1, 'week').startOf('isoweek').format('DD/MM/YYYY 00:00:00'), moment().subtract(1, 'week').endOf('isoWeek').format('DD/MM/YYYY 23:59:59')],
          'Bulan lalu': [moment().subtract(1, 'month').startOf('month').format('DD/MM/YYYY 00:00:00'), moment().subtract(1, 'month').endOf('month').format('DD/MM/YYYY 23:59:59')],
      },
      'opens': "right",
      'locale': {
        'format': 'DD/MM/YYYY',
        "customRangeLabel": "Pilih Tanggal",
        "applyLabel": "Terapkan",
        "cancelLabel": "Batal",
        "daysOfWeek": [
          "Min",
          "Sen",
          "Sel",
          "Rab",
          "Kam",
          "Jum",
          "Sab"
        ],
        "monthNames": [
          "Januari",
          "Februari",
          "Maret",
          "April",
          "Mei",
          "Juni",
          "Juli",
          "Agustus",
          "September",
          "Oktober",
          "November",
          "Desember"
        ],
      },
    },
    function (start, end, label) {
      var s = moment(start.toISOString());
      var e = moment(end.toISOString());
      startDate = s.format('YYYY-MM-DD HH:mm:ss');
      endDate = e.format('YYYY-MM-DD HH:mm:ss');

      date_format = s.format('DD/MM/YYYY') + ' - ' + e.format('DD/MM/YYYY')
  });

  $('.export-date-calendar').on('cancel.daterangepicker', function (ev, picker) {
      $(this).val('');
      start_date = null;
      end_date = null;
  });

  function removeParam(key, sourceURL) {
    var rtn = sourceURL.split("?")[0],
        param,
        params_arr = [],
        queryString = (sourceURL.indexOf("?") !== -1) ? sourceURL.split("?")[1] : "";
    if (queryString !== "") {
        params_arr = queryString.split("&");
        for (var i = params_arr.length - 1; i >= 0; i -= 1) {
            param = params_arr[i].split("=")[0];
            if (param === key) {
                params_arr.splice(i, 1);
            }
        }
        rtn = rtn + "?" + params_arr.join("&");
    }
    else {
      params_arr = queryString.split("&");
      rtn = rtn + "?" + params_arr.join("&");
    }
    return rtn;
  }

  $('.export-date-calendar').on('apply.daterangepicker',
    function (ev, picker) {
      params = table.ajax.params();
      params.length = -1;
      var old_url = table.ajax.url() + "?" + $.param( params );
      var alteredStartURL = removeParam("start_date", old_url);
      alteredEndURL = removeParam("end_date", alteredStartURL);
      start_date = picker.startDate.format('YYYY-MM-DD HH:mm:ss');
      end_date = picker.endDate.format('YYYY-MM-DD HH:mm:ss');
      new_url = alteredEndURL + "&" +"start_date=" + start_date + "&end_date=" + end_date + "&" + $.param({"export_file": "csv"});
      window.open(new_url, '_blank');
  });

  })
</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
{% endblock %}
