{% extends "marketing/base.html" %}

{% load i18n %}
{% load staticfiles %}
{% block meta-description %}"Cari tahu lebih banyak tentang KAWN, aplikasi kasir online berteknologi Point-of-Sale yang memudahkan transaksi bisnis F&B anda."{% endblock %}
{% block meta-keywords %}"KAWN, aplikasi KAWN, Apa Itu KAWN, aplikasi kasir, software kasir, program kasir, aplikasi toko, point of sale, aplikasi penjualan, kasir digital, mesin kasir"{% endblock %}

{% block about_nav_class %}active{% endblock %}

{% block site_title_content %}{% trans "About" %}{% endblock site_title_content %}

{% block content %}
<section class="about-main-header">
  <div class="overlay">
    <div class="container">
      <div class="row justify-content-md-center banner-content">
        <div class="col-md-8 text-center">
          <h1 class="text-capitalize">Tentang KAWN POS</h1>
          <h5 class="pt-3 pb-3 font-weight-normal">Kami mendukung pemilik usaha untuk berjualan dan berkembang dengan Aplikasi KAWN POS.</h5>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-part text-center pt-5 pb-3">
  <div class="container">
    <h3 class="font-weight-bold">Tentang KAWN</h3>
    <p class="pb-2">KAWN adalah aplikasi kasir online yang didesain untuk menjadi pendamping bisnis F&B. Hadir dengan semangat mendukung transformasi digital pelaku bisnis di sektor F&B, teknologi Point-of-Sale yang diusung KAWN dapat mengoptimasi bisnis F&B agar menjadi lebih efektif dan efisien, KAWN dapat mendukung aktivitas inventory, pricing, transaksi dan pembukuan bisnis F&B secara digital,akurat, aman dan mudah.</p>
  </div>
</section>

<section class="visi-part text-center pt-5">
  <div class="container">
    <h3 class="font-weight-bold">Visi & Misi KAWN</h3>
    <p class="pb-2">KAWN adalah aplikasi kasir online yang didesain untuk menjadi pendamping bisnis F&B. Hadir dengan semangat mendukung transformasi digital pelaku bisnis di sektor F&B, teknologi Point-of-Sale yang diusung KAWN dapat mengoptimasi bisnis F&B agar menjadi lebih efektif dan efisien, KAWN dapat mendukung aktivitas inventory, pricing, transaksi dan pembukuan bisnis F&B secara digital,akurat, aman dan mudah.</p>
  </div>
</section>
{% endblock %}
