{% load static i18n compress%}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content={% block meta-description %}"Aplikasi kasir online berteknologi Point-of-Sale yang memudahkan transaksi bisnis F&B anda. Mulai Rp. 399.000 per bulan!"{% endblock %}>
    <meta name="keywords" content={% block meta-keywords %}"KAWN, aplikasi KAWN, aplikasi kasir, software kasir, program kasir, aplikasi toko, point of sale, aplikasi penjualan, kasir digital, mesin kasir"{% endblock %}>
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/favicon.ico'%}">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900" rel="stylesheet">

    <title>{% block site_title %}{% block site_title_prefix %}{% endblock site_title_prefix %}{% block site_title_content %}{% endblock site_title_content %}{% block site_title_suffix %} | KAWN POS {% endblock site_title_suffix %}{% endblock site_title %}</title>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% comment %} <link rel="stylesheet" href="{% static 'theme/global/plugins/bootstrap/css/bootstrap.min.css' %}"> {% endcomment %}
    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/grt-youtube-popup.css' %}">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    {% endcompress %}
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
     fbq('init', '519458591859839'); 
    fbq('track', 'PageView');
    </script>
    <noscript>
     <img height="1" width="1" 
    src="https://www.facebook.com/tr?id=519458591859839&ev=PageView
    &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
    <!-- Chatra {literal} -->
    <script>
        (function(d, w, c) {
            w.ChatraID = 'vys7APFGLJC7fKc9Z';
            var s = d.createElement('script');
            w[c] = w[c] || function() {
                (w[c].q = w[c].q || []).push(arguments);
            };
            s.async = true;
            s.src = 'https://call.chatra.io/chatra.js';
            if (d.head) d.head.appendChild(s);
        })(document, window, 'Chatra');
    </script>
    <!-- /Chatra {/literal} -->
  </head>

  <body>
    <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 847837322;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/847837322/?guid=ON&amp;script=0"/>
    </div>
    </noscript>
    <nav class="navbar navbar-expand-md navbar-light fixed-top navbar-custom">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" class="img-fluid" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto align-items-md-center" id='top-navbar'>
                <li class="nav-item">
                <a class="nav-link-menu nav-link {% block about_nav_class %}{% endblock %}" href="{% url 'about' %}">Tentang KAWN</a>
                </li>
                <li class="nav-item">
                <a class="nav-link-menu nav-link {% block features_nav_class %}{% endblock %}" href="{% url 'features' %}">Fitur</a>
                </li>
                <li class="nav-item">
                <a class="nav-link-menu nav-link {% block pricing_nav_class %}{% endblock %}" href="{% url 'pricing' %}">Harga</a>
                </li>
                <li class="nav-item">
                <a class="nav-link-menu nav-link {% block support_nav_class %}{% endblock %}" href="{% url 'contact' %}">Kontak</a>
                </li>
            </ul>
            <span>
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link-menu nav-link" href="{% url 'account_login' %}">Masuk</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-primary" href="{% url 'account_signup' %}">Daftar Gratis</a>
                </li>
                </ul>
            </span>
            </div>
        </div>
    </nav>

    <main role="main">

        {% block content %}
        {% endblock %}
        <section class="trial-box">
            <div class="container">
                <div class="trial-content text-center">
                <h3>Coba gratis 30 hari mulai hari ini!</h3>
                <p>KAWN On Us! Dengan KAWN, Aktivitas inventory, transaksi dan pembukuan bisnis F&B jadi lebih digital, akurat, aman dan mudah!</p>
                <form class="form-inline" action="{% url 'account_signup' %}" method="get" autocomplete="off">
                    <div class="form-group mx-sm-3 mb-2">
                    <input type="email" name='email' class="form-control" placeholder="Masukkan alamat email Anda">
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg mb-2">Coba Gratis!</button>
                </form>
                <p>Tanpa kartu kredit. Bebas iklan. Berhenti kapan saja.</p>
                </div>
            </div>
        </section>

    </main><!-- /.container -->

    <footer class="page-footer">

        <div class="container text-center text-md-left">
            <div class="row align-items-center">
            <div class="col-md-4">
                <a href="{% url 'home' %}"><img class="img-logo2" src="{% static 'images/logo3.png' %}" alt=""></a>
            </div>
            <div class="col-md-8">
                <ul class="nav text-md-right">
                <li class="nav-item">
                    <a class="nav-link" href="{% static 'KAWN_Manual_Guide_2018.pdf' %}">Panduan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">Tentang KAWN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Kontak</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Terms & Condition</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'privacy-policy' %}">Privacy Policy</a>
                </li>
                </ul>
            </div>
            </div>
        </div>
        <hr>
        <div class="container text-center text-md-left">
            <div class="row align-items-center">
                <div class="col-md-7 order-2 order-md-1">
                <p>Copyright @ 2018 PT Technomedia Multi Sejahtera. All rights reserved.</p>
                </div>
                <div class="col-md-5 order-1 order-md-2">
                    <ul class="nav text-md-right icon-nav">
                        <li class="nav-item">
                        <a class="nav-link active" target="_blank" href="https://www.facebook.com/letsgetkawn">
                            <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link active" target="_blank" href="https://instagram.com/letsgetkawn">
                            <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link active" target="_blank" href="https://bit.ly/letsgetkawn">
                            <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-youtube-play fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        </li>
                    </ul>
                </div>
        </div>
        </div>

    </footer>
    <!--/.Footer-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{% static "theme/global/js/jquery-slim.min.js" %}"><\/script>')</script>
    {% compress js %}
    <script src="{% static 'theme/global/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/grt-youtube-popup.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% endcompress %}
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script> $(".youtube-link").grtyoutube(); </script>
    <script>
      AOS.init();
    </script>
    <script>
     $(function () {
       $(document).scroll(function () {
         var $nav = $(".fixed-top");
         $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
       });
     });
     </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-44378326-18"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-44378326-18');
    </script>
  </body>
</html>
