{% extends "marketing/base.html" %}

{% load i18n %}
{% load staticfiles %}
{% block meta-description %}"Berkenalan dengan 5 fitur unggulan KAWN yang siap membuat bisnis Anda lebih efisien dan modern!"{% endblock %}
{% block meta-keywords %}"KAWN, aplikasi KAWN, Fitur KAWN, table management, aplikasi kasir, software kasir, program kasir, aplikasi toko, point of sale, aplikasi penjualan, kasir digital, mesin kasir"{% endblock %}

{% block features_nav_class %}active{% endblock %}

{% block site_title_content %}{% trans "Features" %}{% endblock site_title_content %}

{% block content %}
<section class="features-header-part">
    <div class="overlay">
      <div class="container">
        <div class="row justify-content-md-center banner-content">
          <div class="col-md-7">
            <h1 class="text-capitalize">Aplikasi Kasir Online<br>Pendamping Bisnis F&B.</h1>
            <h5 class="pt-3 pb-3 font-weight-normal">Gunakan KAWN untuk pengelolaan bisnis F&B yang lebih mudah dan modern!<br>#KAWNOnUs Let’s Log-in #LetsKAWN</h5>
            <div class="pt-md-5 d-flex align-items-start">
              <a href="#"><img src="{% static 'images/marketing_page/kawn-btn.png' %}" alt=""></a>
            </div>
          </div>
          <div class="col-md-5 text-md-left">
            <img class="img-fluid mesin-kawn" src="{% static 'images/marketing_page/tablet2.png' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="features-container">
    <div class="container">
      <div class="row">
        <aside id="list-features" class="col-md-4 d-xs-none features-nav">
          <div id="side" class="sticky-top">
            <h3 class="font-weight-bold pb-3">Fitur-fitur KAWN</h3>
            <p class="pb-3">KAWN memiliki berbagai fitur premium untuk membantu usaha kamu</p>
            <ul id="sidenav" class="nav nav-pills flex-column">
              <li class="nav-item"><a href="#list-1" class="nav-link active"><h3>Point of Sale</h3></a></li>
              <li class="nav-item"><a href="#list-2" class="nav-link"><h3>Dashboard dan Laporan</h3></a></li>
              <li class="nav-item"><a href="#list-3" class="nav-link"><h3>Tampilan Promo</h3></a></li>
              <li class="nav-item"><a href="#list-4" class="nav-link"><h3>Resi Pembayaran</h3></a></li>
              <li class="nav-item"><a href="#list-5" class="nav-link"><h3>Permintaan Khusus</h3></a></li>
              <li class="nav-item"><a href="#list-6" class="nav-link"><h3>Table Management</h3></a></li>
            </ul>
          </div>
        </aside>
        <div class="col-md-8">
          <div class="tab-content features-content">
            <div class="tab-pane active position-relative" role="tabpanel">
            <div id="list-1"class="anchor"></div>
            <div class="pb-5">
              <h2 class="font-weight-bold">Point of Sale</h2>
              <img class="img-fluid pb-5" src="{% static 'images/marketing_page/point_of_sale.png' %}" alt="">
              <h3 class="font-weight-bold pb-2">Tampilan yang Modern dan Menarik</h3>
              <p class="pb-2">Tampilan KAWN yang serba digital didesain modern dan ringkas untuk pengalaman pengguna yang lebih mudah.</p>
              <h3 class="font-weight-bold pb-2">Mudah Digunakan</h3>
              <p class="pb-2">KAWN memaksimalkan pengalaman pengguna agar pengguna merasakan kemudahan dan kenyamanan ketika mengoperasikan aplikasi KAWN.</p>
            </div>

            <div id="list-2"class="anchor"></div>
            <div class="pb-5">
              <h2 class="font-weight-bold">Dashboard & Report</h2>
              <img class="img-fluid pb-5" src="{% static 'images/marketing_page/dashboard_and_report.png' %}" alt="">
              <h3 class="font-weight-bold pb-2">Kelola Multi-Outlet</h3>
              <p class="pb-2">Dengan KAWN, setiap Outlet memiliki akun pengelolaan tersendiri; memudahkan Anda mengelola usaha multi-cabang.</p>
              <h3 class="font-weight-bold pb-2">Laporan Penjualan Lengkap</h3>
              <p class="pb-2">Laporan KAWN dibuat komprehensif dengan data yang mudah diinterpretasi sebagai evaluasi performa dan insight yang berguna dalam pengembangan usaha.</p>
            </div>

            <div id="list-3"class="anchor"></div>
            <div class="pb-5">
              <h2 class="font-weight-bold">Promo Display</h2>
              <img class="img-fluid pb-5" src="{% static 'images/marketing_page/promo_display.png' %}" alt="">
              <h3 class="font-weight-bold pb-2">Tampilan Promo yang Optimal</h3>
              <p class="pb-2">Buat promosi Anda lebih optimal dengan menampilkannya pada dashboard KAWN.</p>
            </div>

            <div id="list-4"class="anchor"></div>
            <div class="pb-5">
              <h2 class="font-weight-bold">Custom Receipt</h2>
              <img class="img-fluid pb-5" src="{% static 'images/marketing_page/custom_receipt.png' %}" alt="">
              <h3 class="font-weight-bold pb-2">Resi Pembayaran Usaha Anda</h3>
              <p class="pb-2">Dengan KAWN, resi pembayaran menjadi identitas usaha Anda. Beragam pengaturan sesuai kebutuhan usaha Anda!</p>
            </div>

            <div id="list-5"class="anchor"></div>
            <div class="pb-5">
              <h2 class="font-weight-bold">Custom Order</h2>
              <img class="img-fluid pb-5" src="{% static 'images/marketing_page/Custom_Order.png' %}" alt="">
              <h3 class="font-weight-bold pb-2">Tersedianya Add-on dan Modifier</h3>
              <p class="pb-2">KAWN memastikan pesanan khusus dari setiap pelanggan tersampaikan dengan tepat. Dengan KAWN, pesanan “tanpa gula”, diantarkan tanpa lupa!</p>
            </div>

            <div id="list-6"class="anchor"></div>
            <div class="pb-5">
              <h2 class="font-weight-bold">Table Management</h2>
              <img class="img-fluid pb-5" src="{% static 'images/marketing_page/table_management.png' %}" alt="">
              <h3 class="font-weight-bold pb-2">Table Management yang mudah digunakan</h3>
              <p class="pb-2">Bebas keliru dengan fitur Table Management dari KAWN. Semakin mudah bagi Anda untuk memberi sentuhan personal dalam pelayanan.</p>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}