{% extends "marketing/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block site_title_content %}{% trans "Point of Sales Software" %}{% endblock site_title_content %}

{% block content %}
<section class="main-header-part">
    <div class="overlay">
      <div class="container">
        <div class="row justify-content-md-center banner-content">
          <div class="col-md-7">
            <h1 class="text-capitalize" data-aos="fade-right" data-aos-delay="200" data-aos-duration="1200">KAWN<br>Aplikasi Kasir Online<br>Pendamping Bisnis F&B.</h1>
            <h5 class="pt-3 pb-3 font-weight-normal" data-aos="fade-right" data-aos-delay="200" data-aos-duration="1200">Gunakan KAWN untuk pengelolaan bisnis F&B<br>yang lebih mudah dan modern!</h5>
            <h5 class="pb-3 font-weight-normal" data-aos="fade-right" data-aos-delay="200" data-aos-duration="1200">#KAWNOnUs Let’s Log-in #LetsKAWN</h5>
            <div class="pt-md-2 pt-lg-3 d-flex align-items-start" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1200">
              <a href="{% url 'account_signup' %}"><img src="{% static 'images/marketing_page/kawn-btn.png' %}" alt=""></a>
            </div>
          </div>
          <div class="col-md-5 text-center d-flex align-items-center">
            <img class="img-fluid mesin-kawn" src="{% static 'images/marketing_page/mesin-kawn.png' %}" alt="" data-aos="fade-left" data-aos-delay="200" data-aos-duration="1200">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="about-part text-center">
    <div class="container">
      <h3 class="font-weight-bold" data-aos="fade" data-aos-delay="150" data-aos-duration="800">Tentang KAWN</h3>
      <p class="pb-2" data-aos="fade-up" data-aos-delay="250" data-aos-duration="800">KAWN adalah aplikasi kasir online yang didesain untuk menjadi pendamping bisnis F&B. Hadir dengan semangat mendukung transformasi digital pelaku bisnis di sektor F&B, teknologi Point-of-Sale yang diusung KAWN dapat mengoptimasi bisnis F&B agar menjadi lebih efektif dan efisien, KAWN dapat mendukung aktivitas inventory, pricing, transaksi dan pembukuan bisnis F&B secara digital,akurat, aman dan mudah.</p>
      <div class="row about-icon-part">
        <div class="col-md-4 col-lg-4 py-5 text-center part-others-about" data-aos="fade-right" data-aos-delay="400" data-aos-duration="800">
          <img class="img-fluid" src="{% static 'images/marketing_page/eye.png' %}" alt="">
          <h4 class="font-weight-bold pt-3">Tampilan Modern</h4>
          <p>Tampilan KAWN yang serba digital didesain modern dan ringkas untuk pengalaman guna yang lebih mudah.</p>
        </div>
        <div class="col-md-4 col-lg-4 py-5 text-center part-xs-about" data-aos="fade-down" data-aos-delay="400" data-aos-duration="800">
          <img class="img-fluid" src="{% static 'images/marketing_page/eye.png' %}" alt="">
          <h4 class="font-weight-bold pt-3">Tampilan Modern</h4>
          <p>Tampilan KAWN yang serba digital didesain modern dan ringkas untuk pengalaman guna yang lebih mudah.</p>
        </div>
        <div class="col-md-4 col-lg-4 py-5 text-center" data-aos="fade-up" data-aos-delay="400" data-aos-duration="800">
          <img class="img-fluid" src="{% static 'images/marketing_page/pie-chart.png' %}" alt="">
          <h4 class="font-weight-bold pt-3">Laporan</h4>
          <p>Laporan KAWN dibuat komprehensif dengan data yang mudah diinterpretasi sebagai evaluasi performa dan insight yang berguna dalam pengembangan usaha.</p>
        </div>
        <div class="col-md-4 col-lg-4 py-5 text-center part-xs-about" data-aos="fade-down" data-aos-delay="400" data-aos-duration="800">
          <img class="img-fluid" src="{% static 'images/marketing_page/save.png' %}" alt="">
          <h4 class="font-weight-bold pt-3">Penyimpanan Data</h4>
          <p>Simpan catatan dan data penting lainnya yang dapat mendukung usaha Anda: nomor telefon, email, database pelanggan, karyawan dan supplier.</p>
        </div>
        <div class="col-md-4 col-lg-4 py-5 text-center part-others-about" data-aos="fade-left" data-aos-delay="400" data-aos-duration="800">
          <img class="img-fluid" src="{% static 'images/marketing_page/save.png' %}" alt="">
          <h4 class="font-weight-bold pt-3">Penyimpanan Data</h4>
          <p>Simpan catatan dan data penting lainnya yang dapat mendukung usaha Anda: nomor telefon, email, database pelanggan, karyawan dan supplier.</p>
        </div>
      </div>
      <div class="row about-icon-part">
        <div class="col-md-4 col-lg-4 py-5 text-center part-others-about" data-aos="fade-right" data-aos-delay="400" data-aos-duration="800">
          <img class="img-fluid" src="{% static 'images/marketing_page/mult_payment.png' %}" alt="">
          <h4 class="font-weight-bold pt-3">Pilihan Pembayaran</h4>
          <p>KAWN siap terintegrasi payment gateway yang Anda gunakan, memudahkan dan mempercepat transaksi.</p>
        </div>
        <div class="col-md-4 col-lg-4 py-5 text-center part-xs-about" data-aos="fade-up" data-aos-delay="400" data-aos-duration="800">
          <img class="img-fluid" src="{% static 'images/marketing_page/mult_payment.png' %}" alt="">
          <h4 class="font-weight-bold pt-3">Pilihan Pembayaran</h4>
          <p>KAWN siap terintegrasi payment gateway yang Anda gunakan, memudahkan dan mempercepat transaksi.</p>
        </div>
        <div class="col-md-4 col-lg-4 py-5 text-center" data-aos="fade-down" data-aos-delay="400" data-aos-duration="800">
          <img class="img-fluid" src="{% static 'images/marketing_page/map.png' %}" alt="">
          <h4 class="font-weight-bold pt-3">Kelola Multi-Outlet</h4>
          <p>Dengan KAWN, setiap Outlet memiliki akun pengelolaan tersendiri; memudahkan Anda mengelola usaha multi-cabang.</p>
        </div>
        <div class="col-md-4 col-lg-4 py-5 text-center part-xs-about" data-aos="fade-up" data-aos-delay="400" data-aos-duration="800">
          <img class="img-fluid" src="{% static 'images/marketing_page/ecommerce-receipt.png' %}" alt="">
          <h4 class="font-weight-bold pt-3">Resi Pembayaran</h4>
          <p>KAWN memiliki beragam pengaturan resi pembayaran sesuai kebutuhan Anda.</p>
        </div>
        <div class="col-md-4 col-lg-4 py-5 text-center part-others-about" data-aos="fade-left" data-aos-delay="400" data-aos-duration="800">
          <img class="img-fluid" src="{% static 'images/marketing_page/ecommerce-receipt.png' %}" alt="">
          <h4 class="font-weight-bold pt-3">Resi Pembayaran</h4>
          <p>KAWN memiliki beragam pengaturan resi pembayaran sesuai kebutuhan Anda.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="why-part py-5">
    <div class="bg-skew-part"></div>
    <div class="container inner-why-part">
      <div class="row justify-content-md-center">
        <div class="col-md-10">
          {% comment %} <div class="row pb-5">
            <div class="col-md-6 order-2 order-md-1 img-text-contain-left" data-aos="fade-left" data-aos-delay="200" data-aos-duration="500">
              <h3 class="font-weight-bold">Notifikasi langsung</h3>
              <p>Kelola usaha Anda dari mana saja! Dengan KAWN, setiap notifikasi diterima real-time dan berbasis online.</p>
            </div>
            <div class="col-md-6 c-pad-img1 order-1 order-md-2" data-aos="fade-left" data-aos-delay="30" data-aos-duration="500">
              <img class="img-fluid" src="{% static 'images/marketing_page/why-img-1.jpg' %}" alt="">
            </div>
          </div> {% endcomment %}
          <div class="row pb-5">
            <div class="col-md-6 c-pad-img2" data-aos="fade-right" data-aos-delay="30" data-aos-duration="500">
              <img class="img-fluid" src="{% static 'images/marketing_page/promo-display.jpg' %}" alt="">
            </div>
            <div class="col-md-6 img-text-contain-right" data-aos="fade-right" data-aos-delay="200" data-aos-duration="500">
              <h3 class="font-weight-bold">Promo Display</h3>
              <p>Buat promosi Anda lebih optimal dengan menampilkannya pada dashboard KAWN.</p>
            </div>
          </div>
          <div class="row pb-5">
            <div class="col-md-6 order-2 order-md-1 img-text-contain-left" data-aos="fade-left" data-aos-delay="200" data-aos-duration="500">
              <h3 class="font-weight-bold">Custom Receipt</h3>
              <p>Dengan KAWN, resi pembayaran menjadi identitas usaha Anda. Beragam pengaturan sesuai kebutuhan usaha Anda!</p>
            </div>
            <div class="col-md-6 c-pad-img1 order-1 order-md-2" data-aos="fade-left" data-aos-delay="30" data-aos-duration="500">
              <img class="img-fluid" src="{% static 'images/marketing_page/custom-receipt.jpg' %}" alt="">
            </div>
          </div>
          <div class="row pb-5">
            <div class="col-md-6 c-pad-img2" data-aos="fade-right" data-aos-delay="30" data-aos-duration="500">
              <img class="img-fluid" src="{% static 'images/marketing_page/custom-order.jpg' %}" alt="">
            </div>
            <div class="col-md-6 img-text-contain-right" data-aos="fade-right" data-aos-delay="200" data-aos-duration="500">
              <h3 class="font-weight-bold">Custom Order</h3>
              <p>KAWN memastikan pesanan khusus dari setiap pelanggan tersampaikan dengan tepat. Dengan KAWN, pesanan “tanpa gula”, diantarkan tanpa lupa!</p>
            </div>
          </div>
          <div class="row pb-5">
            <div class="col-md-6 order-2 order-md-1 img-text-contain-left" data-aos="fade-left" data-aos-delay="200" data-aos-duration="500">
              <h3 class="font-weight-bold">Manajemen Meja</h3>
              <p>Bebas keliru dengan fitur Manajemen Meja dari KAWN. Semakin mudah bagi Anda untuk memberi sentuhan personal dalam pelayanan.</p>
            </div>
            <div class="col-md-6 c-pad-img1 order-1 order-md-2" data-aos="fade-left" data-aos-delay="30" data-aos-duration="500">
              <img class="img-fluid" src="{% static 'images/marketing_page/table-management.jpg' %}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="why-part-xs py-5">
    <div class="bg-skew-part"></div>
    <div class="container inner-why-part">
      <div class="row justify-content-md-center">
        <div class="col-md-10">
          {% comment %} <div class="row pb-5">
            <div class="col-md-6 order-2 order-md-1 img-text-contain-left" data-aos="fade" data-aos-delay="30" data-aos-duration="500">
              <h3 class="font-weight-bold">Notifikasi langsung</h3>
              <p>Kelola usaha Anda dari mana saja! Dengan KAWN, setiap notifikasi diterima real-time dan berbasis online.</p>
            </div>
            <div class="col-md-6 c-pad-img1 order-1 order-md-2" data-aos="fade" data-aos-delay="30" data-aos-duration="500">
              <img class="img-fluid" src="{% static 'images/marketing_page/why-img-1.jpg' %}" alt="">
            </div>
          </div> {% endcomment %}
          <div class="row pb-5">
            <div class="col-md-6 c-pad-img2" data-aos="fade" data-aos-delay="30" data-aos-duration="500">
              <img class="img-fluid" src="{% static 'images/marketing_page/promo-display.jpg' %}" alt="">
            </div>
            <div class="col-md-6 img-text-contain-right" data-aos="fade" data-aos-delay="30" data-aos-duration="500">
              <h3 class="font-weight-bold">Promo Display</h3>
              <p>Buat promosi Anda lebih optimal dengan menampilkannya pada dashboard KAWN.</p>
            </div>
          </div>
          <div class="row pb-5">
            <div class="col-md-6 order-2 order-md-1 img-text-contain-left" data-aos="fade" data-aos-delay="30" data-aos-duration="500">
              <h3 class="font-weight-bold">Custom Receipt</h3>
              <p>Dengan KAWN, resi pembayaran menjadi identitas usaha Anda. Beragam pengaturan sesuai kebutuhan usaha Anda!</p>
            </div>
            <div class="col-md-6 c-pad-img1 order-1 order-md-2" data-aos="fade" data-aos-delay="30" data-aos-duration="500">
              <img class="img-fluid" src="{% static 'images/marketing_page/custom-receipt.jpg' %}" alt="">
            </div>
          </div>
          <div class="row pb-5">
            <div class="col-md-6 c-pad-img2" data-aos="fade" data-aos-delay="30" data-aos-duration="500">
              <img class="img-fluid" src="{% static 'images/marketing_page/custom-order.jpg' %}" alt="">
            </div>
            <div class="col-md-6 img-text-contain-right" data-aos="fade" data-aos-delay="30" data-aos-duration="500">
              <h3 class="font-weight-bold">Custom Order</h3>
              <p>KAWN memastikan pesanan khusus dari setiap pelanggan tersampaikan dengan tepat. Dengan KAWN, pesanan “tanpa gula”, diantarkan tanpa lupa!</p>
            </div>
          </div>
          <div class="row pb-5">
            <div class="col-md-6 order-2 order-md-1 img-text-contain-left" data-aos="fade" data-aos-delay="30" data-aos-duration="500">
              <h3 class="font-weight-bold">Table Management</h3>
              <p>Bebas keliru dengan fitur Manajemen Meja dari KAWN. Semakin mudah bagi Anda untuk memberi sentuhan personal dalam pelayanan.</p>
            </div>
            <div class="col-md-6 c-pad-img1 order-1 order-md-2" data-aos="fade" data-aos-delay="30" data-aos-duration="500">
              <img class="img-fluid" src="{% static 'images/marketing_page/table-management.jpg' %}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="harga-part text-center py-5">
    <div class="container">
      <h3 class="font-weight-bold pb-5">Paket Berlangganan Dashboard Tanpa Perlengkapan</h3>
      <div class="row flex-items-xs-middle flex-items-xs-center">

        <!-- Table #1  -->
        <div class="col-xs-12 col-lg-3" data-aos="fade" data-aos-delay="10" data-aos-duration="800">
          <div class="card text-xs-center">
            <div class="card-header">
              <h4 class="display-2">1 Bulan</h4>
            </div>
            <div class="card-block d-flex align-items-center flex-column">
              <h3 class="card-title ">
                Rp. 399.000
              </h3>
              <a href="{% url 'account_signup' %}?plan_id=1" class="btn btn-gradient mt-auto">Pilih</a>
            </div>
          </div>
        </div>

        <!-- Table #1  -->
        <div class="col-xs-12 col-lg-3" data-aos="fade" data-aos-delay="10" data-aos-duration="800">
          <div class="card text-xs-center">
            <div class="card-header">
              <h4 class="display-2">3 Bulan</h4>
            </div>
            <div class="card-block d-flex align-items-center flex-column">
              <h3 class="card-title">
                Rp 1.077.300
              </h3>
              <p><span>Lebih hemat 10%,</span> bebas repot!</p>
              <a href="{% url 'account_signup' %}?plan_id=2" class="btn btn-gradient mt-auto">Pilih yang Hemat</a>
            </div>
          </div>
        </div>

        <!-- Table #1  -->
        <div class="col-xs-12 col-lg-3" data-aos="fade" data-aos-delay="10" data-aos-duration="800">
          <div class="card text-xs-center">
            <div class="card-header">
              <h4 class="display-2">6 Bulan</h4>
            </div>
            <div class="card-block d-flex align-items-center flex-column">
              <h3 class="card-title">
                Rp 2.034.900
              </h3>
              <p><span>Hemat 15%,</span> lebih cermat!</p>
              <a href="{% url 'account_signup' %}?plan_id=3" class="btn btn-gradient mt-auto">Pilih yang lebih Hemat</a>
            </div>
          </div>
        </div>

        <!-- Table #1  -->
        <div class="col-xs-12 col-lg-3" data-aos="fade" data-aos-delay="10" data-aos-duration="800">
          <div class="card text-xs-center">
            <div class="card-header">
              <h4 class="display-2">12 Bulan</h4>
            </div>
            <div class="card-block d-flex align-items-center flex-column">
              <h3 class="card-title">
                Rp 3.591.000
              </h3>
              <p><span>Hemat 25%,</span> paling ringan!</p>
              <a href="{% url 'account_signup' %}?plan_id=4" class="btn btn-gradient mt-auto">Pilih yang paling Hemat</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="harga-hardware py-5">
        <!-- Table #1  -->
        <div class="container">
          <h3 class="font-weight-bold pb-5 text-center">Paket Harga hardware</h3>
          <div class="row flex-items-xs-middle flex-items-xs-center">
            <div class="col-xs-12 col-lg-6">
              <div class="card text-center">
                <div class="card-header">
                  <h4 class="display-2">KAWN Hardware Basic</h4>
                </div>
                <div class="card-block d-flex align-items-center flex-column">
                  <img class="img-fluid py-2" src="{% static 'images/marketing_page/hardware_basic.png' %}" alt="">
                  <h3 class="card-title">
                    Rp 9.366.300
                  </h3>
                  <p>Direkomendasikan bagi Anda yang memiliki budget minimum, mobile dan fleksibel dalam berbisnis</p>
                  <ul class="list-group">
                    <li class="list-group-item"> <i class="fa fa-check"></i> Samsung Tab 10” </li>
                    <li class="list-group-item"> <i class="fa fa-check"></i> Cash Drawer</li>
                    <li class="list-group-item"> <i class="fa fa-check"></i> Receipt Printer</li>
                    <li class="list-group-item"> <i class="fa fa-check"></i> Tablet Stand</li>
                  </ul>
                  <a href="{% url 'account_signup' %}?plan_id=" class="btn btn-gradient mt-auto">Pilih Paket</a>
                </div>
              </div>
            </div>
            <!-- Table #1  -->
            <div class="col-xs-12 col-lg-6">
              <div class="card text-center">
                <div class="card-header">
                  <h4 class="display-2">KAWN Hardware Premium</h4>
                </div>
                <div class="card-block d-flex align-items-center flex-column">
                  <img class="img-fluid py-2" src="{% static 'images/marketing_page/hardware_premium.png' %}" alt="">
                  <h3 class="card-title">
                    Rp 15.387.300
                  </h3>
                  <p>Direkomendasikan bagi Anda yang memiliki budget maksimum, mobile dan fleksibel dalam berbisnis</p>
                  <ul class="list-group">
                    <li class="list-group-item"> <i class="fa fa-check"></i> Samsung Tab 10” </li>
                    <li class="list-group-item"> <i class="fa fa-check"></i> Cash Drawer mPOP</li>
                    <li class="list-group-item"> <i class="fa fa-check"></i> Tablet Stand</li>
                  </ul>
                  <a href="{% url 'account_signup' %}?plan_id=" class="btn btn-gradient mt-auto">Pilih Paket</a>
                </div>
              </div>
            </div>
          </div>
        </div>
  </section>
{% endblock %}
