{% extends "marketing/base.html" %}

{% load i18n %}
{% load staticfiles %}
{% block meta-description %}"Harga KAWN terjangkau! Mulai Rp. 399.000, Anda dan bisnis F&B Anda bisa mulai berlangganan aplikasi kasir online sekarang juga!"{% endblock %}
{% block meta-keywords %}"KAWN, aplikasi KAWN, Fitur KAWN, Harga KAWN, Berapa KAWN, aplikasi kasir, software kasir, program kasir, aplikasi toko, point of sale, aplikasi penjualan, kasir digital, mesin kasir"{% endblock %}

{% block pricing_nav_class %}active{% endblock %}

{% block site_title_content %}{% trans "Pricing" %}{% endblock site_title_content %}

{% block content %}
<section class="pricing-main-header">
    <div class="overlay">
      <div class="container">
        <div class="row justify-content-md-center banner-content">
          <div class="col-md-12 text-center">
            <h1 class="text-capitalize">Harga Terjangkau dan Transparan</h1>
            <h5 class="pt-3 pb-3 font-weight-normal">COBA GRATIS selama 30 hari. Tidak ada biaya di muka. Upgrade ke premium kapanpun juga.</h5>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="harga-part text-center py-5">
    <div class="container">
      <h3 class="font-weight-bold pb-5">Paket Berlangganan Dashboard Tanpa Perlengkapan</h3>
      <div class="row flex-items-xs-middle flex-items-xs-center">

        <!-- Table #1  -->
        <div class="col-xs-12 col-lg-3">
          <div class="card text-xs-center">
            <div class="card-header">
              <h4 class="display-2">1 Bulan</h4>
            </div>
            <div class="card-block d-flex align-items-center flex-column">
              <h3 class="card-title ">
                Rp. 399.000
              </h3>
              <a href="{% url 'account_signup' %}?plan_id=1" class="btn btn-gradient mt-auto">Pilih</a>
            </div>
          </div>
        </div>

        <!-- Table #1  -->
        <div class="col-xs-12 col-lg-3">
          <div class="card text-xs-center">
            <div class="card-header">
              <h4 class="display-2">3 Bulan</h4>
            </div>
            <div class="card-block d-flex align-items-center flex-column">
              <h3 class="card-title">
                Rp 1.077.300
              </h3>
              <p><span>Lebih hemat 10%,</span> bebas repot!</p>
              <a href="{% url 'account_signup' %}?plan_id=2" class="btn btn-gradient mt-auto">Pilih yang Hemat</a>
            </div>
          </div>
        </div>

        <!-- Table #1  -->
        <div class="col-xs-12 col-lg-3">
          <div class="card text-xs-center">
            <div class="card-header">
              <h4 class="display-2">6 Bulan</h4>
            </div>
            <div class="card-block d-flex align-items-center flex-column">
              <h3 class="card-title">
                Rp 2.034.900
              </h3>
              <p><span>Hemat 15%,</span> lebih cermat!</p>
              <a href="{% url 'account_signup' %}?plan_id=3" class="btn btn-gradient mt-auto">Pilih yang lebih Hemat</a>
            </div>
          </div>
        </div>

        <!-- Table #1  -->
        <div class="col-xs-12 col-lg-3">
          <div class="card text-xs-center">
            <div class="card-header">
              <h4 class="display-2">12 Bulan</h4>
            </div>
            <div class="card-block d-flex align-items-center flex-column">
              <h3 class="card-title">
                Rp 3.591.000
              </h3>
              <p><span>Hemat 25%,</span> paling ringan!</p>
              <a href="{% url 'account_signup' %}?plan_id=4" class="btn btn-gradient mt-auto">Pilih yang paling Hemat</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="harga-hardware py-5">
        <!-- Table #1  -->
        <div class="container">
          <h3 class="font-weight-bold pb-5 text-center">Paket Harga hardware</h3>
          <div class="row flex-items-xs-middle flex-items-xs-center">
            <div class="col-xs-12 col-lg-6">
              <div class="card text-center">
                <div class="card-header">
                  <h4 class="display-2">KAWN Hardware Basic</h4>
                </div>
                <div class="card-block d-flex align-items-center flex-column">
                  <img class="img-fluid py-2" src="{% static 'images/marketing_page/hardware_basic.png' %}" alt="">
                  <h3 class="card-title">
                    Rp 9.366.300
                  </h3>
                  <p>Direkomendasikan bagi Anda yang memiliki budget minimum, mobile dan fleksibel dalam berbisnis</p>
                  <ul class="list-group">
                    <li class="list-group-item"> <i class="fa fa-check"></i> Samsung Tab 10” </li>
                    <li class="list-group-item"> <i class="fa fa-check"></i> Cash Drawer</li>
                    <li class="list-group-item"> <i class="fa fa-check"></i> Receipt Printer</li>
                    <li class="list-group-item"> <i class="fa fa-check"></i> Tablet Stand</li>
                  </ul>
                  <a href="{% url 'account_signup' %}?plan_id=" class="btn btn-gradient mt-auto">Pilih Paket</a>
                </div>
              </div>
            </div>
            <!-- Table #1  -->
            <div class="col-xs-12 col-lg-6">
              <div class="card text-center">
                <div class="card-header">
                  <h4 class="display-2">KAWN Hardware Premium</h4>
                </div>
                <div class="card-block d-flex align-items-center flex-column">
                  <img class="img-fluid py-2" src="{% static 'images/marketing_page/hardware_premium.png' %}" alt="">
                  <h3 class="card-title">
                    Rp 15.387.300
                  </h3>
                  <p>Direkomendasikan bagi Anda yang memiliki budget maksimum, mobile dan fleksibel dalam berbisnis</p>
                  <ul class="list-group">
                    <li class="list-group-item"> <i class="fa fa-check"></i> Samsung Tab 10” </li>
                    <li class="list-group-item"> <i class="fa fa-check"></i> Cash Drawer mPOP</li>
                    <li class="list-group-item"> <i class="fa fa-check"></i> Tablet Stand</li>
                  </ul>
                  <a href="{% url 'account_signup' %}?plan_id=" class="btn btn-gradient mt-auto">Pilih Paket</a>
                </div>
              </div>
            </div>
          </div>
        </div>
  </section>
{% endblock %}
