{% extends "marketing/base.html" %}

{% load i18n %}
{% load staticfiles %}
{% block meta-description %}{% endblock %}
{% block meta-keywords %}"KAWN, aplikasi KAWN, Apa Itu KAWN, aplikasi kasir, software kasir, program kasir, aplikasi toko, point of sale, aplikasi penjualan, kasir digital, mesin kasir"{% endblock %}

{% block site_title_content %}Kebijakan Privasi{% endblock site_title_content %}

{% block content %}
<section class="privacy-main-header">
  <div class="overlay">
    <div class="container">
      <div class="row justify-content-md-center banner-content">
        <div class="col-md-8 text-center">
          <h1 class="text-capitalize">Kebijakan Privasi</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="privacy-part pt-5 pb-3">
  <div class="container">
    <p><b>PT Technomedia Multi Sejahtera (“KAWN”, “kami”)</b> adalah pemilik konten dan operator dari situs www.kawn.co.id (<b>“Situs”</b>) dan aplikasi KAWN (<b>“Aplikasi”</b>) serta segala layanan yang disediakan di dalamnya dan layanan lain yang mungkin disediakan KAWN dari waktu ke waktu (secara bersama-sama <b>“Layanan”</b>).</p>

    <p>Kami menghargai privasi data dan informasi pribadi dan perusahaan anda, selaku pengguna dan pelanggan Layanan (<b>“Pelanggan”, “Anda”</b>), serta berkomitmen untuk melindungi data dan informasi Anda. Kebijakan privasi ini menjelaskan bagaimana kami mengumpulkan, mengolah, menggunakan dan mengungkapkan data dan informasi Anda (<b>“Kebijakan Privasi”</b>).</p>

    <p>Anda memahami bahwa untuk memberikan Layanan yang terbaik untuk Anda, KAWN dapat melakukan integrasi Layanan dengan sistem, aplikasi atau perangkat lunak pihak ketiga. Sehubungan dengan integrasi tersebut, Kebijakan Privasi ini tidak berlaku terhadap sistem, aplikasi atau perangkat lunak pihak ketiga manapun tersebut yang terintegrasi dengan Layanan, atau segala produk, jasa atau usaha lainnya milik pihak ketiga. Mengingat sistem, aplikasi atau perangkat lunak pihak ketiga tersebut mungkin memiliki kebijakan privasi yang berbeda, kami menyarankan agar Anda membaca kebijakan privasi tersebut sebelum menggunakan Layanan yang terintegrasi dengan sistem, aplikasi atau perangkat lunak pihak ketiga. Anda juga memahami bahwa Informasi Pelanggan (sebagaimana didefinisikan di bawah) yang mungkin diungkapkan kepada mitra pihak ketiga tersebut berdasarkan Kebijakan Privasi ini, setelah diungkapkan, akan berada di luar kendali kami.</p>
  </div>
</section>

<section class="privacy-part pt-5 pb-3">
  <div class="container">
    <h5 class="font-weight-bold">PENGAKUAN DAN PERSETUJUAN ANDA</h5>
    <p>Anda wajib membaca Kebijakan Privasi ini sebelum mendaftarkan diri dan menggunakan Layanan. Dengan mendaftarkan diri dan menggunakan setiap produk dan/atau Layanan kami, Anda menyatakan bahwa Anda telah membaca, memahami dan setuju terhadap ketentuan-ketentuan Kebijakan Privasi ini.</p>

    <p>Pengakuan dan persetujuan Anda terhadap Kebijakan Privasi ini juga berkaitan dengan ketentuan yang tercantum berdasarkan Ketentuan Penggunaan yang dianggap sebagai satu kesatuan dan tidak dapat dipisahkan.</p>
  </div>
</section>

<section class="privacy-part pt-5 pb-3">
  <div class="container">
    <h5 class="font-weight-bold">PENGUMPULAN INFORMASI PELANGGAN</h5>
    <p>KAWN berhak mengumpulkan dan mengelola informasi Pelanggan pada saat Pelanggan melakukan pendaftaran dan pembuatan akun pada Layanan, pada saat Pelanggan menyediakan informasi sebagai bagian dari proses verifikasi identitas, pada saat dilakukannya transaksi dan/atau digunakannya Layanan, pada saat Pelanggan meminta tanda terima secara digital, atau pada saat Pelanggan mengunggah atau mengirimkan informasi mengenai produk-produk atau jasa-jasa Pelanggan (termasuk benda-benda, harga-harga, dan data lainnya).</p>

    <p>Jenis informasi yang kami kumpulkan dan kelola ketika berinteraksi dengan Anda sehubungan dengan Layanan, yakni mencakup:</p>

    <ul>
      <li>Data Pelanggan, termasuk:</li>
      <li>Identitas, termasuk nama, jenis kelamin, tanggal lahir, usia, nama akun dan kata sandi.</li>
      <li>Identitas, termasuk nama, jenis kelamin, tanggal lahir, usia, nama akun dan kata sandi.</li>
      <li>Identifikasi, termasuk nomor kartu identifikasi dan kartu loyalitas.</li>
      <li>Kontak, termasuk alamat kantor, alamat penagihan, alamat pengiriman, alamat <i>email</i>, nomor telepon, data penanggung jawab (<i>contact person</i>).</li>
      <li>Profesional, termasuk tingkat otorisasi, jabatan, informasi perusahaan, informasi usaha, tempat kerja dan data lain terkait dengan manajemen dan penjualan serta usaha Anda.</li>
      <li>Keuangan, termasuk bank, rekening bank, kartu kredit dan informasi rincian keuangan.</li>
      <li>Transaksi, termasuk rincian pembayaran dan dokumen penjualan ke dan dari Anda, lokasi <i>merchant</i> dan rincian lain terkait produk dan layanan yang Anda gunakan atau beli dari kami.</li>
      <li>Pemasaran dan Komunikasi, termasuk preferensi Anda dalam menerima materi pemasaran dan komunikasi dari kami dan mitra kami.</li>
      <li>Data dan Informasi apapun yang diunggah oleh Anda dalam penggunaan Layanan;</li>
      <li>Informasi yang melekat pada Anda saat Anda mengakses Situs, Aplikasi dan/atau Layanan;</li>
      <li>Setiap informasi tertentu dari sistem Anda yang dicatat dan dikumpulkan secara otomatis oleh KAWN dengan menggunakan berbagai tipe teknologi pelacakan, seperti alamat Protokol Internet (<i>IP address</i>), peralatan yang unik atau identitas pengguna (<i>user ID</i>), versi dari perangkat lunak yang digunakan, tipe sistem, tanggal, waktu, dan detil dari transaksi-transaksi Anda, geo tagging (<i>geo-location</i>), dan informasi dari akun Anda yang disediakan oleh untuk publik oleh Anda;</li>
      <li>Saran dari Pelanggan, diskusi-diskusi komunitas (masyarakat), obrolan-obrolan dan kegiatan interaksi lainnya dalam Situs dan/atau Aplikasi.</li>
    </ul>

    <p>(Seluruh jenis informasi di atas selanjutnya disebut sebagai <b>“Informasi Pelanggan”</b>).</p>

    <p>KAWN berhak, dari waktu ke waktu, melakukan verifikasi terhadap Informasi Pelanggan atau informasi lainnya yang Anda berikan kepada kami, dengan mengirimkan surat verifikasi, <i>email</i>, atau mengharuskan Anda untuk mengirimkan dokumentasi pendukung, atau cara lain apapun, sebagaimana yang diminta oleh KAWN.</p>

    <p>Anda memahami dan mengakui bahwa Informasi Pelanggan dan/atau data dan informasi lain yang Anda berikan dalam penggunaan Layanan dapat merupakan, mengandung dan/atau berkaitan dengan data dan informasi milik pihak lain. Anda bertanggung jawab untuk dan menyatakan serta menjamin bahwa Anda telah mendapatkan izin untuk memberikan data dan informasi pihak lain tersebut kepada KAWN. Anda dengan ini membebaskan KAWN dari segala klaim, tuntutan dan/atau kerugian yang timbul dari dan/atau sehubungan dengan pemberian data dan informasi pihak lain tersebut oleh Anda.</p>
  </div>
</section>

<section class="privacy-part pt-5 pb-3">
  <div class="container">
    <h5 class="font-weight-bold">PENGGUNAAN INFORMASI PELANGGAN</h5>

    <p>Informasi Pelanggan dan informasi lainnya yang Anda berikan dan jika relevan, untuk penggunaan, atau berlangganan, atau pembelian Layanan dan/atau produk kami, termasuk informasi tambahan yang selanjutnya Anda berikan, dapat digunakan dan diolah oleh kami untuk tujuan berikut:</p>

    <ul>
      <li>Menjalankan usaha kami dan membantu kami dalam menyediakan, menjaga, dan meningkatkan Layanan;</li>
      <li>Mengirimkan informasi dan mendukung permintaan KAWN, termasuk tanda terima, pengingat, dan pesan dukungan serta pesan administrasi;</li>
      <li>Mengirimkan kepada Anda, berita dan informasi tentang Layanan serta mengkomunikasikan kepada Anda mengenai produk, jasa, promosi, dan informasi terbaru yang ditawarkan KAWN dan mitra-mitra yang ditunjuknya;</li>
      <li>Memberikan beberapa pilihan mengenai kegunaan informasi kami yang sesuai dengan Anda;</li>
      <li>Memberikan penjelasan yang terbuka dan jelas mengenai bagaimana kami menggunakan informasi tersebut;</li>
      <li>Mempublikasikan atau membagikan informasi yang telah dikombinasi dari beberapa pengguna dan/atau pelanggan, namun tentu saja dengan cara tidak akan membiarkan Anda atau orang lain teridentifikasi;</li>
      <li>Mengagregasikan data akun Anda, yang sudah diunggah dan non-personal sehingga Anda tidak dapat diidentifikasi, dengan data milik pengguna lain Layanan untuk meningkatkan kualitas pelayanan, merancang promosi atau memberikan cara bagi Anda untuk membandingkan praktek bisnis dengan pengguna lainnya;</li>
      <li>Untuk memperoleh dan mengumpulkan Informasi Pelanggan, serta menyimpan Informasi Pelanggan dalam suatu sistem elektronik yang dimiliki oleh KAWN atau pihak ketiga;</li>
      <li>Menilai dan memproses permintaan Anda terkait Layanan;</li>
      <li>Menetapkan dan melakukan verifikasi atas identitas dan latar belakang Anda;</li>
      <li>Membangun komunikasi antara kami dan Pelanggan;</li>
      <li>Memproses transaksi pembayaran Anda terkait dengan Layanan;</li>
      <li>Menanggapi pertanyaan, keluhan atau komentar dari Anda;</li>
      <li>Mengelola partisipasi Pelanggan dalam acara atau program yang diselenggarakan KAWN;</li>
      <li>Mengolah dan menganalisis Informasi Pelanggan, termasuk untuk melaksanakan analisis pasar, baik yang dilakukan oleh KAWN atau pihak ketiga;</li>
      <li>Menampilkan, mengumumkan dan membuka akses Informasi Pelanggan kepada anak perusahaan, afiliasi, perusahaan terkait, pemegang lisensi, mitra usaha dan/atau penyedia Layanan;</li>
      <li>Menyelidiki dan mencegah penipuan atau aktivitas ilegal lainnya;</li>
      <li>Melakukan kegiatan internal, termasuk investigasi internal, kepatuhan, audit dan keperluan keamanan internal lainnya;</li>
      <li>Kegiatan usaha sah lainnya dari KAWN; dan</li>
      <li>Tujuan lainnya yang akan diungkapkan kepada Anda sehubungan dengan Layanan.</li>
    </ul>

    <p>(secara bersama-sama, <b>“Tujuan”</b>).</p>

    <p>Catatan transaksi dan lokasi Pelanggan dapat digunakan sebagai informasi non-pribadi untuk membuat data statistik secara umum mengenai perilaku pembelian dari populasi dimana Pelanggan merupakan bagian di dalamnya, untuk menyediakan layanan yang lebih baik.</p>
  </div>
</section>

<section class="privacy-part pt-5 pb-3">
  <div class="container">
    <h5 class="font-weight-bold">PENGUNGKAPAN INFORMASI PELANGGAN</h5>

    <p>Anda memahami dan menyetujui bahwa kami mungkin memberikan dan/atau mengungkapkan Informasi Pelanggan dengan cara-cara yang terbatas:</p>

    <ul>
      <li>Guna memungkinkan kami melakukan Tujuan sebagaimana dijelaskan di atas, kami mungkin memberikan dan/atau mengungkapkan Informasi Pelanggan kepada anak perusahaan, afiliasi, perusahaan terkait, pemegang lisensi, mitra usaha, penyedia layanan kami, penasihat profesional dan auditor eksternal kami, termasuk penasihat hukum, penasihat keuangan dan konsultan-konsultan, serta pihak ketiga lainnya, yang mungkin terletak di dalam atau di luar Indonesia.</li>
      <li>Kami mungkin menyediakan fitur Layanan yang menghubungkan Anda dengan mitra usaha, penyedia layanan atau pihak ketiga lainnya, dan dengan demikian kami dapat mengungkapkan beberapa Informasi Pelanggan secara terbatas ke mitra usaha, penyedia layanan atau pihak ketiga lainnya tersebut hanya untuk keperluan pelaksanaan fitur Layanan tersebut.</li>
      <li>Kami mungkin terlibat atau mempekerjakan perusahaan atau perseorangan lain untuk memfasilitasi, memberikan layanan-layanan tertentu atau melakukan fungsi atas nama kami, dan sehubungan dengan hal tersebut kami mungkin memberikan dan/atau mengungkapkan Informasi Pelanggan kepada perusahaan atau perseorangan lain tersebut.</li>
      <li>Apabila terjadi suatu transaksi perusahaan, termasuk namun tidak terbatas pada, penjualan anak perusahaan atau divisi, peleburan, konsolidasi, pembiayaan, penjualan aset atau situasi lain apapun yang melibatkan pemindahan sebagian atau seluruh aset bisnis kami, kami mungkin mengungkapkan Informasi Pelanggan kepada pihak-pihak yang terlibat di dalam perundingan atau pemindahan tersebut.</li>
      <li>Kami mungkin juga mengungkapkan Informasi Pelanggan apabila diwajibkan secara hukum, atau diperlukan untuk tunduk pada ketentuan peraturan perundang-undangan, peraturan-peraturan dan pemerintah, atau dalam hal terjadi sengketa, atau segala bentuk proses hukum terkait dengan Layanan, atau dalam keadaan darurat yang berkaitan dengan kesehatan dan/atau keselamatan Anda.</li>
      <li>Sejauh yang diperbolehkan hukum yang berlaku, kami juga dapat mengungkapkan Informasi Pelanggan atas permintaan dari lembaga penegak hukum atau badan pemerintah lainnya, atau apabila kami merasa bahwa pengungkapan tersebut dapat mencegah terjadi suatu tindakan kriminal, atau dapat membantu penyelidikan sehubungan dengan keselamatan orang banyak, untuk melindungi keamanan atau integritas dari Situs dan Aplikasi, atau untuk membuat kami dapat mengambil tindakan pencegahan atas kemungkinan adanya kerugian.</li>
      <li>Kami mungkin juga memberikan informasi himpunan atau anonim yang tidak secara langsung mengidentifikasikan Anda.</li>
    </ul>

    <p>Selain untuk hal tersebut di atas, KAWN tidak akan menjual, menyewakan, atau secara lain mengungkapkan Informasi Pelanggan kepada pihak lain tanpa persetujuan dari Anda.</p>
  </div>
</section>

<section class="privacy-part pt-5 pb-3">
  <div class="container">
    <h5 class="font-weight-bold">KEAMANAN INFORMASI PELANGGAN</h5>

    <p>KAWN berusaha sebaik mungkin untuk menjaga keamanan Informasi Pelanggan. KAWN bekerja keras untuk melindungi Informasi Pelanggan yang Anda berikan dari kehilangan, penyalahgunaan, dan pengungkapan atau akses yang tidak berwenang.</p>

    <p>Dalam menjaga keamanan Informasi Pelanggan, kami telah menggunakan metode-metode terbaik yang telah teruji untuk melindungi Informasi Pelanggan, meninjau kembali prosedur keamanan kami secara hati-hati, mematuhi hukum dan standar keamanan yang berlaku, memastikan bahwa Informasi Pelanggan terkirim dengan aman.</p>

    <p>KAWN mengikuti langkah-langkah yang diperlukan untuk mempertahankan privasi dan keamanan dari seluruh Informasi Pelanggan yang Anda berikan. Dalam hal terjadi peretasan yang berada di luar kendali kami, Anda setuju untuk membebaskan KAWN dari seluruh klaim, tanggung jawab hukum ataupun pengeluaran apapun yang muncul dari peretasan tersebut.</p>
  </div>
</section>

<section class="privacy-part pt-5 pb-3">
  <div class="container">
    <h5 class="font-weight-bold">PENYIMPANAN INFORMASI PELANGGAN</h5>

    <p>Kami menyimpan Informasi Pelanggan dalam catatan bisnis kami selama Anda menjadi pelanggan atau pengguna dari salah satu produk dan/atau Layanan kami. Kami juga menyimpan Informasi Pelanggan untuk jangka waktu tertentu setelah Anda tidak lagi menjadi pelanggan atau pengguna dari salah satu produk dan/atau Layanan kami jika Informasi Pelanggan diperlukan untuk Tujuan yang oleh karenanya Informasi Pelanggan dikumpulkan atau untuk memenuhi persyaratan hukum.</p>
  </div>
</section>

<section class="privacy-part pt-5 pb-3">
  <div class="container">
    <h5 class="font-weight-bold">PERUBAHAN</h5>

    <p>Kebijakan Privasi ini dapat diubah setiap saat dari waktu ke waktu dan akan berlaku pada tanggal yang ditentukan oleh kami. Setiap perubahan atas Kebijakan Privasi ini akan dipublikasikan di Situs dan/atau Aplikasi atau media lainnya yang dianggap perlu oleh kami.  Mohon baca dan telusuri Kebijakan Privasi di Situs dan/atau Aplikasi secara berkala untuk melihat perubahan-perubahan tersebut. Dengan terus menggunakan setiap produk dan/atau Layanan kami setelah publikasi tersebut atau pemberitahuan dari kami, Anda dianggap setuju terhadap perubahan terhadap Kebijakan Privasi ini.</p>
  </div>
</section>

<section class="privacy-part pt-5 pb-3">
  <div class="container">
    <h5 class="font-weight-bold">HUKUM DAN YURISDIKSI YANG BERLAKU</h5>

    <p>Kebijakan Privasi ini diatur oleh dan untuk ditafsirkan berdasarkan hukum Negara Republik Indonesia. Setiap dan seluruh sengketa yang timbul dari Kebijakan Privasi ini akan diselesaikan pertama-tama melalui musyawarah untuk mufakat dalam waktu 30 (tiga puluh) hari terhitung sejak diterimanya pemberitahuan timbulnya sengketa. Apabila setelah jangka waktu dimaksud tidak tercapai kesepakatan, maka penyelesaian konflik akan diselesaikan oleh Badan Arbitrase Nasional Indonesia (BANI).</p>
  </div>
</section>

<section class="privacy-part pt-5 pb-3">
  <div class="container">
    <h5 class="font-weight-bold">HUBUNGI KAMI</h5>

    <p>Anda dapat menyampaikan pertanyaan atau klarifikasi apapun terkait dengan Kebijakan Privasi ini ke bagian pelayanan pelanggan <i>(Customer Support)</i> kami di support@kawn.co.id</p>
  </div>
</section>
{% endblock %}
