<div class="pr-3" style="display:inline-block; float:right; padding-top:5px;">
  <span class="col-form-label mb-0" id="{{ widget.name }}-title" style="display:inline;"/>
</div>
<select id="{{widget.name}}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>{% for group_name, group_choices, group_index in widget.optgroups %}{% if group_name %}
  <optgroup label="{{ group_name }}">{% endif %}{% for option in group_choices %}
  {% include option.template_name with widget=option %}{% endfor %}{% if group_name %}
  </optgroup>{% endif %}{% endfor %}
</select>

