<div class="input-group">
  <div class="input-group-prepend">
    {% with widget=widget.subwidgets.1 %}
      {% include widget.template_name %}
      <span class="input-group-text" id="inputGroupPrepend">IDR</span>
    {% endwith %}
  </div>
  {% with widget=widget.subwidgets.0 %}
    <input type="{{ widget.type }}"
            name="{{ widget.name }}"
            id="{{ widget.attrs.id }}"
            class="form-control {{ widget.attrs.class }}_0"
            {% for name, value in widget.attrs.items %}{% if name is not 'class' and name is not 'id' and value is not False %} {% if name == 'prepend_value' %} value="{{ value }}" {% endif %} {{ name }}{% if value is not True %}="{{ value|stringformat:'s' }}"{% endif %}{% endif %}{% endfor %}
            >
  {% endwith %}
</div>
