{% extends "dashboard/base_datatable.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Product Sales" %}{% endblock %}

{% block sales_active_class %}active{% endblock %}
{% block mobile_sales_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_sales_show %}show{% endblock %}
{% block product_sales_active_class %}submenu-active{% endblock %}
{% block mobile_product_sales_active_class %}submenu-active{% endblock %}

{% block content_class %}fixed-no-tab-content{% endblock %}
{% block tab_div_class %}fixed-header-tab{% endblock %}
{% block title_style %}margin-top:8px;{% endblock %}
{% block tab_header_style %}margin-top:8px !important;{% endblock %}
{% block datatable_title %}{% trans "Product Sales" %}{% endblock datatable_title %}

{% block action_button %}
<div class="p-0 position-fixed" style="right:20px;">
  <label id="exportcsvrange" class="btn btn-primary btn-lg fixed-top-content export-date-calendar" style="width: 150px;">
        &nbsp;<span>
            {% trans "Export CSV" %}
        </span>
        &nbsp;<i class="fa fa-angle-down"></i>
  </label>
</div>
{% endblock action_button %}

{% block date_range %}
<div id="filters" class="mb-3">
  {% include "partials/datatable_filters.html" with view_name="sales:data_product_sales" %}
</div>
{% endblock %}

{% block datatable_dummy_url %}
{% endblock datatable_dummy_url %}

{% block xml_export %}
{% endblock xml_export %}

{% block csv_export %}
{% endblock csv_export %}

{% block datatable_id %}product_sales_list{% endblock datatable_id %}

{% block datatable_thead_tr %}
<th class="no-sort">Code</th>
<th>Product</th>
<th>Variant</th>
<th>Category</th>
<th>Item Sales</th>
<th>Total Sales</th>
<th>Surcharge</th>
<th>Addons</th>
<th>Discount Net</th>
<th>FOC Sales</th>
<th>Sales Net</th>
{% endblock datatable_thead_tr %}

{% block datatable_filter %}
<tr class='datatable-filter'>
  <td>
    <div class="datatable-filter-input-group">
      <div class="input-group mtm">
        <input type="text" class="form-control extra-table-control" placeholder="Search...">
      </div>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group">
      <div class="input-group mtm">
        <input type="text" class="form-control extra-table-control" placeholder="Search...">
      </div>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group">
      <div class="input-group mtm">
        <input type="text" class="form-control extra-table-control" placeholder="Search...">
      </div>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group">
      <div class="mtm">
        <div class="selectdiv">
        <label class="input-group">
        <select class="form-control form-control-sm custom-select extra-table-control">
          <option value=''>{% trans "All" %}</option>
          {% for category in categories %}
          <option value='{{category.name}}'>{{category.name}}</option>
          {% endfor %}
        </select>
        </label>
        </div>
      </div>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group">
      <div class="input-group mtm">
        <input type="text" class="form-control extra-table-control" placeholder="Search...">
      </div>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group">
      <div class="input-group mtm">
        <input type="text" class="form-control extra-table-control" placeholder="Search...">
      </div>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group">
      <div class="input-group mtm">
        <input type="text" class="form-control extra-table-control" placeholder="Search...">
      </div>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group">
      <div class="input-group mtm">
        <input type="text" class="form-control extra-table-control" placeholder="Search...">
      </div>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group">
      <div class="input-group mtm">
        <input type="text" class="form-control extra-table-control" placeholder="Search...">
      </div>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group">
      <div class="input-group mtm">
        <input type="text" class="form-control extra-table-control" placeholder="Search...">
      </div>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group">
      <div class="input-group mtm">
        <input type="text" class="form-control extra-table-control" placeholder="Search...">
      </div>
    </div>
  </td>
</tr>
{% endblock datatable_filter %}

{% block datatable_tfoot_tr %}
<th colspan="3" class='text-center'></th>
<th class='text-center'>Total Item Sold:</th>
<th class='text-center'>Total Sales:</th>
<th class='text-center'>Total Discount:</th>
<th class='text-center'>Total FOC Sales:</th>
<th class='text-center'>Total Net:</th>
{% endblock datatable_tfoot_tr %}

{% block javascript %}
{{ block.super }}
<script>
  base_url = "{% url 'sales:data_product_sales' %}";

  $(document).ready(function() {

    tableOptions = {
      pageLength: 25,
      order: [[ 3, "desc" ]],
      columnDefs: [{
        'targets': [4, 5, 6, 7, 8, 9, 10],
        className: 'text-right',
        'render': function (data, type, full, meta) {
          return  parseInt(data).toLocaleString('id')
        }
      }]
    };

    $('.export-date-calendar').daterangepicker({
      'minDate': moment().subtract(36, 'month'),
      'maxDate': moment().add(1, 'month'),
      'ranges': {
          'Hari ini': [moment().format('DD/MM/YYYY 00:00:00'), moment().format('DD/MM/YYYY 23:59:59')],
          'Kemarin': [moment().subtract(1, 'days').format('DD/MM/YYYY 00:00:00'), moment().subtract(1, 'days').format('DD/MM/YYYY 23:59:59')],
          'Minggu ini': [moment().startOf('isoWeek').format('DD/MM/YYYY 00:00:00'), moment().endOf('isoWeek').format('DD/MM/YYYY 23:59:59')],
          'Bulan ini': [moment().startOf('month').format('DD/MM/YYYY 00:00:00'), moment().endOf('month').format('DD/MM/YYYY 23:59:59')],
          'Minggu lalu': [moment().subtract(1, 'week').startOf('isoWeek').format('DD/MM/YYYY 00:00:00'), moment().subtract(1, 'week').endOf('isoWeek').format('DD/MM/YYYY 23:59:59')],
          'Bulan lalu': [moment().subtract(1, 'month').startOf('month').format('DD/MM/YYYY 00:00:00'), moment().subtract(1, 'month').endOf('month').format('DD/MM/YYYY 23:59:59')],

      },
      'opens': "right",
      'locale': {
        'format': 'DD/MM/YYYY',
        "customRangeLabel": "Pilih Tanggal",
        "applyLabel": "Terapkan",
        "cancelLabel": "Batal",
        "daysOfWeek": [
          "Min",
          "Sen",
          "Sel",
          "Rab",
          "Kam",
          "Jum",
          "Sab"
        ],
        "monthNames": [
          "Januari",
          "Februari",
          "Maret",
          "April",
          "Mei",
          "Juni",
          "Juli",
          "Agustus",
          "September",
          "Oktober",
          "November",
          "Desember"
        ],
      },
    },
    function (start, end, label) {
      var s = moment(start.toISOString());
      var e = moment(end.toISOString());
      startDate = s.format('YYYY-MM-DD HH:mm:ss');
      endDate = e.format('YYYY-MM-DD HH:mm:ss');

      date_format = s.format('DD/MM/YYYY') + ' - ' + e.format('DD/MM/YYYY')
  });

    $('.export-date-calendar').on('cancel.daterangepicker', function (ev, picker) {
        $(this).val('');
        start_date = null;
        end_date = null;
    });

    function removeParam(key, sourceURL) {
      var rtn = sourceURL.split("?")[0],
          param,
          params_arr = [],
          queryString = (sourceURL.indexOf("?") !== -1) ? sourceURL.split("?")[1] : "";
      if (queryString !== "") {
          params_arr = queryString.split("&");
          for (var i = params_arr.length - 1; i >= 0; i -= 1) {
              param = params_arr[i].split("=")[0];
              if (param === key) {
                  params_arr.splice(i, 1);
              }
          }
          rtn = rtn + "?" + params_arr.join("&");
      }
      else {
        params_arr = queryString.split("&");
        rtn = rtn + "?" + params_arr.join("&");
      }
      return rtn;
    }

    $('.export-date-calendar').on('apply.daterangepicker',
      function (ev, picker) {
        params = table.ajax.params();
        params.length = -1;
        var old_url = table.ajax.url() + "?" + $.param( params );
        var alteredStartURL = removeParam("start_date", old_url);
        alteredEndURL = removeParam("end_date", alteredStartURL);
        start_date = picker.startDate.format('YYYY-MM-DD HH:mm:ss');
        end_date = picker.endDate.format('YYYY-MM-DD HH:mm:ss');
        new_url = alteredEndURL + "&" +"start_date=" + start_date + "&end_date=" + end_date + "&" + $.param({"export_file": "csv"});
        window.open(new_url, '_blank');
    });

  })
</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
<script type="text/javascript">
  $("#companyBranch").change(function() {
    table.ajax.url(this.value).load();
  });
  $('#companyBranchClear > .datatable-clearfilter').click(function(e){
    e.preventDefault();
    table.ajax.url(base_url);
  });
</script>
{% endblock %}
