{% extends "dashboard/base_datatable.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block title %}{% trans "Billing" %}{% endblock %}

{% block css %}
  {{ block.super }}
  <!-- Your stuff: Third-party css libraries go here -->
  {{ form.media.css }}
{% endblock %}

{% block settings_active_class %}active{% endblock %}
{% block mobile_settings_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_settings_show %}show{% endblock %}
{% block settings_billing_active_class%}submenu-active{% endblock %}
{% block mobile_settings_billing_active_class%}submenu-active{% endblock %}

{% block tab_section_style %}border-bottom: 1px solid #d7d7db;{% endblock %}
{% block tab_div_style %}background: white; border-bottom: 1px solid #d7d7db;{% endblock %}

{% block breadcrumb_active %}breadcrumb-item active{% endblock %}
{% block datatable_title %}{% trans "Billing" %}{% endblock %}
{% block datatable_breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item">{% trans "Setting" %}</li>
{% endblock datatable_breadcrumb %}
{% block tab_list %}
  <ul class="nav nav-tabs pt-2" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="billing-tab" data-toggle="tab" href="#billing"
         role="tab" aria-controls="billing" aria-selected="true">{% trans "Billing" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'subscription:billing_list' %}" >{% trans "Billing List" %}</a>
    </li>
  </ul>
{% endblock %}

{% block datatable_panel_title %}
{% trans "Billing" %}
{% endblock datatable_panel_title %}

{% block sub_content %}
  <div class="tab-content pt-3" id="billing-tab-content">
    <div class="tab-pane show active" id="billing" role="billing" aria-labelledby="billing-tab">
      <div class="w-100">
  <div class="card">
    <div class="card-body">
      <form action="." method="post" id="billingForm">
        {% csrf_token %}
        <input type="hidden" name='billing' value="{{ billing }}">
        <div class="row">
          <div class="col-lg-6">
            <div class="d-flex justify-content-start pb-4 header-detail-subscription">{% trans "Outlet List" %}</div>
            <div class="d-flex justify-content-center h-100">
              <table class="table borderless">
                <thead>
                    <tr>
                      <td></td>
                      <td>{% trans "Outlet" %}</td>
                      <td>{% trans "Billing Cycle" %}</td>
                      <td>{% trans "Expires" %}</td>
                    </tr>
                </thead>
                  {% for subscription in subscriptions reversed %}
                    <tr>
                      <td><input type="checkbox" class="form-check-input subscriptions" name="{{ form.subscriptions.name }}" id="id_{{ form.subscriptions.name }}_{{ forloop.counter }}" value="{{ subscription.pk }}"></td>
                      <td>{{ subscription.outlet.name }}</td>
                      {% if not subscription.subscription_plan.is_public and not subscription.subscription_plan.slug == "basic-subscription" %}
                        <td>{{ subscription.subscription_plan.name }}</td>
                      {% else %}
                        <td class="p-0">
                          <select class="custom-select" name="billing_cycle_{{ forloop.counter }}" id="id_billing_cycle_{{ forloop.counter }}">
                            {% for plan in subscription_plan reversed %}
                              <option value="{{ plan.pk }}" price="{{ plan.price|floatformat:'0' }}">{{ plan.name }}</option>
                            {% endfor %}
                          </select>
                        </td>
                      {% endif %}
                      <td>{{ subscription.expires }}</td>
                    </tr>
                  {% endfor %}
                  {% for subscription in paid_subscriptions reversed %}
                    <tr>
                      <td></td>
                      <td>{{ subscription.outlet.name }}</td>
                      <td>{{ subscription.subscription_plan.name }}</td>
                      <td>{{ subscription.expires }}</td>
                    </tr>
                  {% endfor %}
              </table>
            </div>
          </div>
          <div class="col-lg-6 detail-payment">
            <div class="d-flex justify-content-start billing-header pb-4">{% trans "Billing" %}</div>
            {% if subscriptions %}
              <div class="pt-4" id='detail-billing'></div>
            {% endif %}

            <div class="d-flex justify-content-between pt-4">
              <div class="d-flex flex-column">
                <p class="m-0">{% trans "Total" %}</p>
              </div>
              <h3 class="total-amount"></h3>
            </div>
            {% if subscriptions %}
              <div class="d-flex flex-row mb-4">
                <div id='div_id_voucher_code' class='form-group w-50'>
                  <input type="text" class="textinput textInput form-control mr-2 {% if get_voucher %}voucher-applied{% endif %}" id='id_voucher_code' placeholder="Voucher Code" value="{% if get_voucher %}{{ voucher_code }}{% endif %}" name='voucher_code' maxlength="255">
                  <div class="info-redeem">
                    {% if get_voucher %}
                      <span class="info-discount"><strong>Selamat, anda mendapatkan diskon hingga {% if voucher_type == 'monetary' %}Rp.{% endif %} {% if get_voucher %}{{ voucher_value|floatformat:"0"|intcomma }}{% endif %} {% if voucher_type == 'percentage' %}%{% endif %} </strong></span>
                    {% endif %}
                  </div>
                </div>
                {% if get_voucher %}
                  <a href="#" class="btn btn-light ml-2" id='voucher-cancel'><span id="cancel-text">{% trans "Cancel" %}</span> <i id="cancel-icon" class=""></i> </a>
                {% else %}
                  <a href="#" class="btn btn-light ml-2" id='voucher-validation'><span id="apply-text">{% trans "Apply" %}</span> <i id="apply-icon" class=""></i></a>
                {% endif %}
              </div>
            {% endif %}
            <div class="p-0">
              <input type="hidden" name="{{ form.price.name }}" value="" id='id_{{ form.price.name }}' required>
            </div>
            <div class="w-100">
              <button id="checkout-button" type="submit" name="submit-pl-4" class="btn btn-primary btn-lg btn-block" id="submit-id-submit-pl-4">{% trans "Pay" %}</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

      <table  class="table table-no-border selector-datatable" cellspacing="0" width="100%" id="order-list-table">
        <thead>
          <tr>
            <td>{% trans "Order ID"%}</td>
            <td>{% trans "Price"%}</td>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>


{% endblock %}

{% block javascript %}
  {{ block.super }}
  {{ form.media.js }}

  <script>
    var redeemUrl = "{% url 'subscription:voucher_redeem' %}";
    var cancelUrl = "{% url 'subscription:voucher_cancel' %}";
  </script>

  <script>
    $(document).ready(function(){

      function masking_price(price){
        str = String(price)
        var i = str.length;
        masking_counter = 3;
        temp = "";
        while (i--) {
          masking_counter--;
          if(masking_counter == 0){
            temp += str.charAt(i)
            if(i > 0){
              temp += '.'
            }
            masking_counter = 3;
          }else{
            temp += str.charAt(i);
          }
        }
        result = ""
        var idx = temp.length;
        while(idx--){
          result += temp.charAt(idx);
        }
        return result;
      }

      function set_initial_checkbox(){
        $('input[type="checkbox"]').prop('checked',true);
      }
      function set_detail_billing(){
        var html_data = "";
        counter = 1;
        available = []
        {% for available in subscriptions.first.voucher.available_subscription.all %}
          available.push('{{available.pk}}');
        {% endfor %}

        $('.subscriptions:checked').each(function(){
          value = $(this).val();

          {% for subscription in subscriptions reversed %}
            if({{ subscription.pk }} == $(this).val()){
              var plan_price = '';
              {% if not subscription.subscription_plan.is_public and not subscription.subscription_plan.slug == "basic-subscription" %}
                plan_price = "{{ subscription.subscription_plan.price|floatformat:'0' }}";
              {% else %}
                plan_price = $('#id_billing_cycle_'+counter+' option:selected').attr('price');
              {% endif %}
              plan = $('#id_billing_cycle_'+counter+' option:selected').val();
              get_voucher = jQuery.inArray(plan, available);
              value = '{{ subscription.voucher.value }}';
              display_value = parseInt(value);
              if(get_voucher >= 0){
                {% if subscription.voucher.voucher_type == 'percentage' %}
                  plan_price = parseInt(plan_price)  -  (parseInt(plan_price) * parseInt(value)/100);
                {% else %}
                  plan_price = parseInt(plan_price) -  parseInt(value);
                {% endif %}
              }
              discount = '<p class="voucher-discount"></p>';
              if(get_voucher >= 0){
                discount = '<p class="voucher-discount">{% if subscription.voucher.voucher_type == "monetary" %}Rp. {% endif %} {% if subscription.voucher %}'+masking_price(display_value)+'{% endif %}{% if subscription.voucher.voucher_type == "percentage" %} %{% endif %}</p>';
              }
              html_data += '<div class="d-flex justify-content-between">'+
                  '<p>{{ subscription.outlet.name }}</p>' +
                  '<div class="w-50 d-flex justify-content-between">' +
                    discount +
                    '<p>Rp. '+ masking_price(plan_price)+'</p>' +
                  '</div>' +
                '</div>';
            }
          {% endfor %}
          counter += 1;
        });
        $('#detail-billing').html(html_data);
      }

      function set_price(){
        var price = 0;
        counter = 1;
        available = []
        {% for available in subscriptions.first.voucher.available_subscription.all %}
          available.push('{{available.pk}}');
        {% endfor %}

        $('.subscriptions:checked').each(function(){
          value = $(this).val();
          {% for subscription in subscriptions reversed %}
            if({{ subscription.pk }} == $(this).val()){
              var plan_price = '';
              {% if not subscription.subscription_plan.is_public and not subscription.subscription_plan.slug == "basic-subscription" %}
                plan_price = "{{ subscription.subscription_plan.price|floatformat:'0' }}";
              {% else %}
                plan_price = $('#id_billing_cycle_'+counter+' option:selected').attr('price');
              {% endif %}
              plan = $('#id_billing_cycle_'+counter+' option:selected').val();
              get_voucher = jQuery.inArray(plan, available);
              value = '{{ subscription.voucher.value }}';

              if(get_voucher >= 0){
                {% if subscription.voucher.voucher_type == 'percentage' %}
                  plan_price = parseInt(plan_price)  -  (parseInt(plan_price) * parseInt(value)/100);
                {% else %}
                  plan_price = parseInt(plan_price) -  parseInt(value);
                {% endif %}
              }
              price += parseInt(plan_price);
            }
          {% endfor %}
          counter += 1;
        });
        $('#id_price').val(price);
        $('.total-amount').html("Rp. "+ masking_price(price));
        if(price == 0){
          $("#checkout-button").attr('disabled','disabled');
        }else{
          $('#checkout-button').removeAttr("disabled");
        }
      }

      set_initial_checkbox();
      set_detail_billing();
      set_price();

      $('input[type="checkbox"]').on('change', function(){
        set_detail_billing();
        set_price();
      });

      {% for subscription in subscriptions reversed %}
        $('#id_billing_cycle_{{forloop.counter}}').on("change", function(){
          set_detail_billing();
          set_price();
        });
      {% endfor %}


      $('#voucher-validation').on('click', function(){
        var voucher_code = $('#id_voucher_code').val();
        var invoice_id = $('#id_invoice').val();

        $.ajax({
          type: 'POST',
          url: redeemUrl,
          dataType: 'json',
          data:{
            voucher_code: voucher_code,
            invoice_id: invoice_id
          },
          beforeSend: function(jqXHR, settings){
            jqXHR.setRequestHeader("x-csrftoken", '{{ csrf_token }}');
            $("#voucher-validation").addClass("link-off");
            $("#apply-text").html("{% trans 'Processing' %}");
            $("#apply-icon").addClass("fa fa-spinner fa-spin");
          },
          success: function(response){
            if(response.status == 'success'){
              $("#voucher-validation").addClass("link-off");
              $("#apply-text").html("{% trans 'Processing' %}");
              $("#apply-icon").addClass("fa fa-spinner fa-spin");
              setTimeout(function(){
                  location.reload();
              }, 3000);
           }
          },
          error: function(response){
            $('.info-redeem').html('<span id="error_1_id_voucher_code" class="invalid-feedback"><strong>{% trans "Invalid Voucher Code" %}</strong></span>')
            $("#id_voucher_code").css('border-color', 'red');
            $("#voucher-validation").removeClass("link-off");
            $("#apply-text").html("{% trans 'Apply' %}");
            $("#apply-icon").removeClass("fa fa-spinner fa-spin");
          }
        });
      });

      $('#voucher-cancel').on('click', function(){
        var voucher_code = $('#id_voucher_code').val();
        var invoice_id = $('#id_invoice').val();

        $.ajax({
          type: 'POST',
          url: cancelUrl,
          dataType: 'json',
          data:{
            voucher_code: voucher_code,
            invoice_id: invoice_id
          },
          beforeSend: function(jqXHR, settings){
            jqXHR.setRequestHeader("x-csrftoken", '{{ csrf_token }}');
          },
          success: function(response){
            $("#voucher-cancel").addClass("link-off");
            $("#cancel-text").html("{% trans 'Processing' %}");
            $("#cancel-icon").addClass("fa fa-spinner fa-spin");
            if(response.status == 'success'){
              setTimeout(function(){
                  location.reload();
              }, 1000);
           }
          }
        });
      });
    });

    var dt_table = $('#order-list-table').dataTable({
      lengthChange: false,
      pageLength: 10,
      searching: false,
      processing: false,
      serverSide: true,
      pagingType: "simple",
      language: {
        paginate: {
          previous: "<",
          next: ">",
        },
        emptyTable: 'Tidak Ada Data Tersedia  ',
      },
      ajax: "{% url 'subscription:data_order_list' %}"
  });
  </script>

{% endblock %}
