{% extends "dashboard/base_datatable.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block settings_active_class %}active{% endblock %}
{% block mobile_settings_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_settings_show %}show{% endblock %}
{% block settings_billing_active_class%}submenu-active{% endblock %}
{% block mobile_settings_billing_active_class%}submenu-active{% endblock %}

{% block content_class %}pt-3{% endblock %}
{% block tab_section_style %}border-bottom: 1px solid #d7d7db;{% endblock %}
{% block tab_div_style %}background: white; border-bottom: 1px solid #d7d7db;{% endblock %}
{% block breadcrumb_active %}breadcrumb-item active{% endblock %}
{% block datatable_title %}{% trans "Billing" %}{% endblock %}
{% block datatable_breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item">{% trans "Setting" %}</li>
{% endblock datatable_breadcrumb %}
{% block tab_list %}
  <ul class="nav nav-tabs pt-2" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link"  href="{% url 'subscription:billing' %}" >{% trans "Billing" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" id="billing-list-tab" href="#" >{% trans "Billing List" %}</a>
    </li>
  </ul>
{% endblock %}


{% block datatable_id %}table_area_list{% endblock datatable_id %}

{% block datatable_thead_tr %}
<th class="no-sort">{% trans "Subscription" %}</th>
<th class="">{% trans "Status" %}</th>
<th class="">{% trans "Price" %}</th>
<th class="">{% trans "Due Date" %}</th>
<th class="no-sort"></th>
{% endblock datatable_thead_tr %}

{% block datatable_filter %}
<tr class='datatable-filter'>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group mtm">
      <div class="selectdiv">
      <label class="input-group">
      <select class="form-control form-control-sm custom-select extra-table-control">
          <option value=''>{% trans "All" %}</option>
          <option value='canceled'>Dibatalkan</option>
          <option value='unpaid'>Menunggu Pembayaran</option>
          <option value='paid'>Menunggu Verifikasi</option>
          <option value='settled'>Selesai</option>
      </select>
      </label>
      </div>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <label id="reportrange" class="form-control extra-table-control btn btn-default btn-lg date-calendar">
        &nbsp;<span>{% trans "Filter by Date" %}</span>
        &nbsp;<i class="fa fa-angle-down"></i>
      </label>
    </div>
  </td>
  <td></td>
</tr>
{% endblock datatable_filter %}


{% block javascript %}
{{ block.super }}
<script>
  $(document).ready(function () {
    base_url = "{% url 'subscription:data_billing_list' %}"
    tableOptions = {
      pageLength: 25,
      columnDefs: [
        {targets: 'no-sort', orderable: false},
        {
          'targets': [4],
          'render': function (data, type, full, meta) {
            if (data.status == "settled" || data.status =="canceled") {
              data = ""
            } else {
              data = '<a class="action-toggle" id="product-'+data.id+'-dropdown" href="#" data-toggle="dropdown"> \
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i> \
                      </a>\
                      <div class="dropdown-menu action-toggle-menu" aria-labelledby="product-'+data.id+'-dropdown">\
                        <a class="dropdown-item" href="'+ data.edit +'"> \
                          Pay \
                        </a>\
                      <div>';
            }
            return data;
          },
        },
      ],
    }
  });
</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
{% endblock %}
