{% extends "dashboard/base_datatable.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block settings_active_class %}active{% endblock %}
{% block mobile_settings_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_settings_show %}show{% endblock %}
{% block settings_billing_active_class%}submenu-active{% endblock %}
{% block mobile_settings_billing_active_class%}submenu-active{% endblock %}

{% block datatable_title %}{% trans "Order List" %}{% endblock datatable_title %}

{% block datatable_breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item active">{% trans "Order List" %}</li>
{% endblock datatable_breadcrumb %}

{% block datatable_panel_title %}
{% trans "Billing List" %}
{% endblock datatable_panel_title %}

{% block datatable_id %}table_area_list{% endblock datatable_id %}

{% block datatable_thead_tr %}
<th class="no-sort">{% trans "Order ID" %}</th>
<th class="">{% trans "Status" %}</th>
<th class="">{% trans "Price" %}</th>
<th class="">{% trans "Due Date" %}</th>
{% endblock datatable_thead_tr %}

{% block datatable_filter %}
<tr class='datatable-filter'>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group mtm">
      <div class="selectdiv">
      <label class="input-group"> 
      <select class="form-control form-control-sm custom-select extra-table-control">
          <option value=''>{% trans "All" %}</option>
          <option value='canceled'>Ditolak</option>
          <option value='unpaid'>Belum Dibayar</option>
          <option value='paid'>Menunggu Verifikasi</option>
          <option value='settled'>Selesai</option>
      </select>
      </label>
      </div>
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <input type="text" class="form-control extra-table-control" placeholder="{% trans 'Search...' %}">
    </div>
  </td>
  <td>
    <div class="datatable-filter-input-group input-group mtm">
      <label id="reportrange" class="form-control extra-table-control btn btn-default btn-lg date-calendar">
        &nbsp;<span>{% trans "Filter by Date" %}</span>
        &nbsp;<i class="fa fa-angle-down"></i>
      </label>
    </div>
  </td>
</tr>
{% endblock datatable_filter %}


{% block javascript %}
{{ block.super }}
<script>
  $(document).ready(function () {
    base_url = "{% url 'subscription:data_order_list' %}"
    tableOptions = {
      pageLength: 25,
      
    }
  });
</script>
<script type="text/javascript" src="{% static 'js/datatable-config.js' %}"></script>
{% endblock %}
