{% extends "dashboard/base_datatable.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block title %}{% trans "Billing" %}{% endblock %}

{% block css %}
  {{ block.super }}
  <!-- Your stuff: Third-party css libraries go here -->
  {{ form.media.css }}
{% endblock %}

{% block settings_active_class %}active{% endblock %}
{% block mobile_settings_active_class %}active{% endblock %}
{% block secondary_sidebar_expand %}expand{% endblock %}
{% block secondary_sidebar_settings_show %}show{% endblock %}
{% block settings_billing_active_class%}submenu-active{% endblock %}
{% block mobile_settings_billing_active_class%}submenu-active{% endblock %}

{% block datatable_breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item active">{% trans "Pay Billing" %}</li>
{% endblock datatable_breadcrumb %}


{% block datatable_title %}
{% trans "Pay Billing" %}
{% endblock datatable_title %}
{% block datatable_panel_title %}
{% trans "Pay Billing" %}
{% endblock datatable_panel_title %}

{% block sub_content %}
<!-- <div class="w-100">
  <div class="card">
    <div class="card-body">
      <h4> {% trans "List of Payment Attempt" %}</h4>
      {% if  invoice.paymentattempt_set.all %}
        <table class="table table-hover" id='payment-attempt'>
          <thead>
            <tr>
              <th>{% trans "Code" %}</th>
              <th>{% trans "Date" %}</th>
              <th>{% trans "Price" %}</th>
              <th>{% trans "Paid Amount" %}</th>
              <th>{% trans "Status" %}</th>
            </tr>
          </thead>
          <tbody>
              {% for payment_attempt in invoice.paymentattempt_set.all %}
                <tr>
                  <th>{{ payment_attempt.code }}</th>
                  <th>{{ payment_attempt.created }}</th>
                  <th>{{ payment_attempt.invoice.price }}</th>
                  <th>{{ payment_attempt.amount }}</th>
                  <th>{{ payment_attempt.get_status_display }}</th>
                </tr>
              {% endfor %}
          </tbody>
        </table>
      {% else %}
        <div class="no-data">
          <div class="d-flex flex-column bd-highlight text-center">
            <span class="no-data-icon"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>
            <p>{% trans "No Data to Display" %}</p>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div> -->

<div class="w-100">
  <div class="col-lg-6 offset-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-first mb-3 devider-border-bottom">
          <p>{% trans "Order ID" %}:</p>
          <p class="ml-2">{{ payment_attempt_code }}</p>
        </div>
        <div class="account-detail mb-3">
          <div class="d-flex justify-content-between">
            <p>{% trans "Account Name" %}</p>
            <p>{{ request.user.account }}</p>
          </div>
          <div class="d-flex justify-content-between devider-border-bottom">
            <p>{% trans "Email" %}</p>
            <p>{{ request.user.email }}</p>
          </div>
        </div>
       
        <div class="item-detail"></div>
        <div class="d-flex justify-content-between pt-3 devider-border-top">
          <p>{% trans "Total Amount" %}</p>
          <h3 class="total-amount">Rp. {{ invoice.price|floatformat:"0"|intcomma }}</h3>
        </div>
      </div>
    </div>
    <div class="w-100">
      <form id="paymentAttemptForm" method="post" action=".">
        <div class="p-0">
          {% csrf_token %}
          <input type="hidden" name="{{ form.code.name }}" value="{{ payment_attempt_code }}">
          <input type="hidden" name="{{ form.billing.name }}" value="{{ invoice.pk }}" id="id_billing" required>
        </div>
        <div class="d-flex justify-content-between">
          <div class="w-50 pr-2">
            <a href="#" id="cancel-payment" class="btn btn-block btn-light"><strong>{% trans "Cancel" %}</strong></a>
          </div>
          <div class="w-50 pl-2">
            <button id="checkout-button" type="submit" name="submit-pl-4" class="btn btn-block btn-primary {% if not invoice.is_open %}disabled{% endif %}" {% if not invoice.is_open %}disabled{% endif %} id="submit-id-submit-pl-4"><strong>{% trans "Complete Payment" %}</strong></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  {{ form.media.js }}

  <script src="{{midtrans_url}}" data-client-key="{{midtrans_client_key}}"></script>
  <script>
    var cancelPaymentUrl = "{% url 'subscription:cancel_payment' invoice.pk %}";
  </script>
  <script type="text/javascript">
      $(document).ready(function() {
        {% if invoice.is_open %}
        var token = "{{ snap_token }}";
        $("#checkout-button").on("click", function(e) {
          e.preventDefault();
          snap.pay(token, {
            onSuccess: function(res) {
              $( "#paymentAttemptForm" ).submit();
            },
            onPending: function(res) {
              $( "#paymentAttemptForm" ).submit();
            },
            onError: function(res) {
            }
          })
        });
        {% endif %}
      });
  </script>
  <script>
    $(document).ready(function(){
      function masking_price(price){
        str = String(price)
        var i = str.length;
        masking_counter = 3;
        temp = "";
        while (i--) {
          masking_counter--;
          if(masking_counter == 0){
            temp += str.charAt(i)
            if(i > 0){
              temp += '.'
            }
            masking_counter = 3;
          }else{
            temp += str.charAt(i);
          }          
        }
        result = ""
        var idx = temp.length;
        while(idx--){
          result += temp.charAt(idx);
        }
        return result;
      }

      function initial_detail_payment(){
        html_data = "";
        {% for sub_journal in invoice.subscriptionjournal_set.all %}
          plan_price = "{{ sub_journal.choosen_plan.price }}";
          {% if sub_journal.subscription.voucher %}
            value = '{{ sub_journal.subscription.voucher.value }}';
            display_value = parseInt(value);
            {% if sub_journal.subscription.voucher.voucher_type == 'percentage' %}
              plan_price = parseInt(plan_price)  -  (parseInt(plan_price) * parseInt(value)/100);
            {% else %}
              plan_price = parseInt(plan_price) -  parseInt(value);
            {% endif %}
            html_data += '<div class="d-flex justify-content-between">' +
                '<p>{{ sub_journal.subscription.outlet }} - {{ sub_journal.choosen_plan.name }}</p>' +
                '<div class="w-50 d-flex justify-content-between">' +
                  '<p class="voucher-discount">{% if sub_journal.subscription.voucher.voucher_type == "monetary" %}Rp. {% endif %}'+masking_price(display_value)+'{% if sub_journal.subscription.voucher.voucher_type == "percentage" %} %{% endif %}</p>' +
                  '<p>Rp. '+ masking_price(plan_price)+'</p>' +
                '</div>' +
              '</div>';
          {% else %}
            html_data += '<div class="d-flex justify-content-between">' +
                '<p>{{ sub_journal.subscription.outlet }} - {{ sub_journal.choosen_plan.name }}</p>' +
                '<p>Rp. '+masking_price(parseInt(plan_price))+'</p>' +
              '</div>';
          {% endif %}
        {% endfor %}
        $('.item-detail').html(html_data);
      }
      initial_detail_payment();

      $("#cancel-payment").on('click', function(){
        var billing_id = $('#id_billing').val();
        $.ajax({
          type: 'POST',
          url: cancelPaymentUrl,
          dataType: 'json',
          data:{
            billing_id: billing_id
          },
          beforeSend: function(jqXHR, settings){
            jqXHR.setRequestHeader("x-csrftoken", '{{ csrf_token }}');
          },
          success: function(response){
            if(response.status == 'success'){
              setTimeout(function(){
                location.href = "{% url 'subscription:billing_list' %}";
              }, 1000); 
           }
          },
        });
      });
      
    });
  </script>
{% endblock %}
